mixin all-saved(tag)
  +b(tag || 'div').all-saved&attributes(attributes)
    //- +e.ico
    //-   +icon('save').__save
    //-   +icon('check').__check
    +e.IMG.icon(src="assets/images/save-success.png")
    +e.text
      block
