mixin header()
  +b.header&attributes(attributes)
    +e.__logo
      +e.IMG.__logo-img(src='assets/images/logo.png')
    +header-menu
    +burger

mixin header-login()
  +b.header&attributes(attributes)
    +e.__logo
      +e.IMG.__logo-img(src='assets/images/logo.png')
    +header-user
    +burger