.header {
  display: flex;
  z-index: 10;
  align-items: center;
  &__logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    #header-cube {
      height: 54px;
      width: 47px;
      margin-right: 10px;
    }
    #header-text {
      height: 21px;
      width: 113px;
      fill: #415a65;
    }
  }
  padding: 30px 0;
}

.header-js {
  background: $color-wite;
  padding: 8px 0;
  .header__logo {
    #header-text {
      display: none;
    }
  }
}