mixin header(host)
  - var isAuthorized = authorized ? 'is-login' : '';
  +b.HEADER.header&attributes(attributes)(class=isAuthorized)
    .container
      +e.logo
        +logo()(href="/")
      +e.NAV.navigation(data-rounding-target)
        +e.main
          +header-menu
        +e.user
          +header-user(host)
      +e.burger
        +burger
