.header {
  $b: &;

  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 100vw;
  z-index: 10;
  transition: border $ease-main, transform $ease-main;
  background-color: $color-bg;
  box-sizing: border-box;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  overflow: hidden;
  backface-visibility: hidden;
  overscroll-behavior: none;

  @include rule(
    height,
    (
      xl: 94px,
      xlg: 94,
      lg: 66,
      md: 66,
      sm: 66,
    )
  );

  &__wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    max-width: 100vw;

    @include rule(
      top,
      (
        xl: 17px,
        xlg: 17,
        lg: 3,
        md: 3,
        sm: 3,
      )
    );
    @include rule(
      height,
      (
        xl: 60px,
        xlg: 60,
        lg: 60,
        md: 60,
        sm: 60,
      )
    );

    &::before {
      @include pseudo;
      @include rule(
        height,
        (
          xl: 60px,
          xlg: 60,
          lg: 60,
          md: 60,
          sm: 60,
        )
      );

      top: 0;
      width: 100%;
      border-bottom: 1px solid transparent;
      background-color: $color-bg;
      transition: background 0.15s ease, border 0.15s ease;
      box-sizing: border-box;
      z-index: 1;
      backface-visibility: hidden;
    }

    #{$b}_border & {
      &::before {
        @include screen("sm") {
          border-bottom-color: $color-border-light;
        }
      }
    }

    #{$b}_no-mob-border & {
      &::before {
        @include screen("sm") {
          border-bottom-color: transparent;
        }
      }
    }

    #{$b}_sm-white & {
      &::before {
        @include screen("sm", max, 2) {
          background-color: transparent;
        }
      }
    }

    #{$b}.is-short & {
      @include screen("sm", min, 2) {
        position: fixed;
        top: 0;
      }

      &::before {
        @include screen("sm", min, 2) {
          background-color: $color-white;
          border-bottom-color: $color-border-light;
        }
      }
    }
  }

  &_border {
    border-bottom-color: $color-border-light;
  }

  &_no-mob-border {
    @include screen("sm") {
      border-bottom-color: transparent;
    }
  }

  .nd-container {
    position: relative;
    display: flex;
    z-index: 2;

    @include screen("sm") {
      justify-content: space-between;
    }

    #{$b}.is-login & {
      @include screen("sm") {
        justify-content: flex-start;
      }
    }
  }

  &__logo {
    display: inline-flex;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    color: $nd-color-logo;
    font-size: 0;
    line-height: 0;
    margin-right: 50px;

    @include screen("xlg", max, 2) {
      margin-right: pxtovw(50, 1660);
    }

    @include screen("lg", max, 2) {
      margin-right: pxtovw(50, 1366);
    }

    @include screen("md", max, 2) {
      margin-right: pxtovw(50, 960);
    }

    @include screen("sm", max, 2) {
      margin-right: pxtovw(20, 375);
    }

    #{$b}_sm-white & {
      @include screen("sm") {
        color: $nd-color-basic-light;
      }
    }
  }

  &__navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    @include screen("sm", max, 2) {
      display: none;
    }
  }

  &__main {
    display: block;
    text-align: right;
  }

  &__user {
    display: none;
    text-align: right;
  }

  &__burger {
    position: relative;
    display: block;
    font-size: 0;
    line-height: 0;
    align-self: center;

    @include rule(
      margin-left,
      (
        xl: 73px,
        xlg: 73,
        lg: 60,
        md: 60,
        sm: 0,
      )
    );

    .burger {
      left: 0;
      top: 11px;

      @include screen("sm") {
        top: 8px;
      }
    }

    #{$b}_sm-white & {
      .nd-burger {
        @include screen("sm", max, 2) {
          color: $nd-color-basic-light;
        }
      }
    }
  }

  &__slogan {
    display: inline-block;
    width: auto;
    flex: none;
    white-space: nowrap;
    align-self: center;
    margin-top: 2px;
    margin-left: 0;
    transition: opacity $ease-main;

    @include screen("sm") {
      margin-top: 0;
      margin-left: -97px;
    }

    &:not(:last-child) {
      margin-right: 30px;

      @include screen("sm") {
        margin-right: 20px;
      }
    }

    #{$b}.is-short & {
      @include screen("md", min) {
        opacity: 0;
      }
    }
  }

  &.is-login {
    #{$b}__user {
      display: block;
    }

    #{$b}__main {
      display: none;
    }
  }

  &.nd-header_border {
    border-bottom: 1px solid $nd-color-border4;

    @include screen("xl", max, 2) {
      border-bottom: none;
    }
  }

  .is-sm-noheader & {
    @include screen("sm", max, 2) {
      display: none;
    }
  }

  &_special {
    #{$b} {
      &__logo {
        margin-right: 30px;

        @include screen("sm") {
          margin-right: 15px;
        }
      }

      &__navigation {
        display: flex;
      }
    }
  }

  &_sm-white {
    color: $nd-color-basic-light;

    @include screen("sm", max, 2) {
      z-index: 1;
      background-color: transparent;
    }
  }

  &_search {
    @include rule(
      height,
      (
        xl: 70px,
        xlg: 70,
        lg: 66,
        md: 66,
        sm: 60,
      )
    );
    @include rule(
      padding-top,
      (
        xl: 22px,
        xlg: 22,
        lg: 20,
        md: 10,
        sm: 0,
      )
    );
    @include rule(
      padding-bottom,
      (
        md: 10,
        sm: 0,
      )
    );

    background-color: transparent;
    pointer-events: none;
    overflow: visible;

    &::before {
      @include pseudo;
      @include rule(
        height,
        (
          xl: 92px,
          xlg: 92,
          lg: 86,
          md: 76,
          sm: 0,
        )
      );
      @include uRule(
        width,
        (
          xl: 58.49%,
          lg: 52.93%,
          md: 100%,
        )
      );
      // @include uRule(background-image, (xl: linear-gradient(180deg, #f2f6f7 34.38%, rgba(242, 246, 247, 0) 100%), md: linear-gradient(180deg, #f2f6f7 34.38%, #f2f6f7 100%)));

      top: -1px;
      left: 0;
      pointer-events: none;
      transition: opacity $ease-main, transform $ease-main;
      background-repeat: repeat-x;
      background-position: 0 100%;
      background-size: 107px;
      background-image: $icon-gradient;

      @include screen("sm", max, 2) {
        display: none;
      }

      .map-in-fullview & {
        transition: opacity 0s ease, transform 0s ease;
        opacity: 0;

        @include screen("md", max, 2) {
          transition: opacity $ease-main, transform $ease-main;
        }
      }
    }

    #{$b} {
      &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr 41.51%;
        grid-template-rows: auto;
        // display: flex;
        // justify-content: flex-start;
        border-bottom: none;
        box-sizing: border-box;
        top: auto;
        left: auto;
        overflow: visible;

        @include rule(
          height,
          (
            xl: 46px,
            xlg: 46,
            lg: 46,
            md: 46,
            sm: 60,
          )
        );

        @include screen("lg", max, 2) {
          grid-template-columns: auto 1fr 47.07%;
          grid-template-rows: auto;
        }

        @include screen("md", max, 2) {
          grid-template-columns: auto 1fr auto;
          grid-template-rows: auto;
        }

        @include screen("sm", max, 2) {
          grid-template-columns: 100%;
          grid-template-rows: auto;
          display: flex;
          justify-content: flex-start;
          overflow: hidden;
          padding: wPxtovw(8, sm);
        }

        &::before {
          display: none;
        }
      }

      &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        height: 100%;
        flex: none;
        min-width: 150px;
        box-sizing: border-box;
        padding: 0 22px;
        pointer-events: auto;
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        @include screen("xl", max, 2) {
          min-width: 92px;
          padding: 0 11px;
        }

        @include rule(
          padding-left,
          (
            xlg: 11,
            lg: 6,
            md: 6,
            sm: 0,
          )
        );
        @include rule(
          padding-right,
          (
            xlg: 11,
            lg: 6,
            md: 6,
            sm: 0,
          )
        );
        @include rule(
          min-width,
          (
            xlg: 92,
            lg: 82,
            md: 82,
          )
        );

        @include screen("sm", max, 2) {
          display: none;
        }
      }

      &__filter {
        height: 100%;
        pointer-events: auto;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        box-sizing: border-box;

        @include screen("sm", max, 2) {
          grid-column: 1 / 2;
          width: 100%;
        }

        @include rule(
          padding-right,
          (
            xl: 50px,
            xlg: 50,
            lg: 20,
            md: 0,
          )
        );
      }

      &__menu {
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        box-sizing: border-box;
        background-color: $nd-color-basic-light;
        pointer-events: auto;
        margin-right: 60px;
        box-shadow: boxShadow(0, 3.2, 7.69511, 0, rgba(0, 0, 0, 0.1), false);
        grid-column: 3 / 4;
        grid-row: 1 / 2;

        @include screen("xl", max, 2) {
          margin-right: 27px;
        }

        @include rule(
          margin-right,
          (
            xlg: 27,
            lg: 22,
            md: 22,
            sm: 0,
          )
        );
        @include rule(
          border-radius,
          (
            xl: 35px,
            xlg: 35,
            lg: 35,
            md: 35,
            sm: 0,
          )
        );
        @include rule(
          padding-left,
          (
            xl: 6px,
            xlg: 6,
            lg: 6,
            md: 6,
            sm: 0,
          )
        );
        @include rule(
          padding-right,
          (
            xl: 16px,
            xlg: 16,
            lg: 16,
            md: 16,
            sm: 0,
          )
        );

        @include screen("xlg", max, 2) {
          box-shadow: boxShadow(0, 3.2, 7.69511, 0, rgba(0, 0, 0, 0.1), 1660);
        }

        @include screen("lg", max, 2) {
          box-shadow: boxShadow(0, 3.2, 7.69511, 0, rgba(0, 0, 0, 0.1), 1366);
        }

        @include screen("md", max, 2) {
          box-shadow: boxShadow(0, 3.2, 7.69511, 0, rgba(0, 0, 0, 0.1), 960);
        }

        @include screen("sm", max, 2) {
          display: none;
          box-shadow: 0 0 0 0 transparent;
        }
      }

      &__burger {
        @include rule(
          margin-left,
          (
            xl: 3px,
            xlg: 3,
            lg: 3,
            md: 3,
          )
        );
      }
    }

    .layout-list-active & {
      transform: translate3d(0, -20%, 0);
    }

    .nd-burger {
      &__icon {
        @include rule(
          width,
          (
            xl: 22px,
            xlg: 22,
            lg: 22,
            md: 22,
            sm: 22,
          )
        );
        @include rule(
          width,
          (
            xl: 19px,
            xlg: 19,
            lg: 19,
            md: 19,
            sm: 19,
          )
        );
      }
    }

    .nd-logo {
      display: block;
      position: relative;

      .map-in-fullview &,
      .is-map-animated-out & {
        display: none;
      }

      &__icon {
        position: relative;
        z-index: 1;
      }

      // &::before {
      //   @include screen('md', max, 2) {
      //     position: absolute;
      //     top: 50%;
      //     left: 50%;
      //     content: '';
      //     display: block;
      //     transform: translate3d(-50%, -50%, 0);
      //     height: pxtovw(46, 960);
      //     width: calc(100% + (1000 / 960)*1vw);
      //     background-color: $nd-color-basic-light;
      //     z-index: 0;
      //     border-radius: pxtovw(35, 960);
      //   }

      //   @include screen('sm', max, 2) {
      //     display: none
      //   }
      // }
    }

    .map-button {
      display: none;

      .map-in-fullview &,
      .is-map-animated-out & {
        display: block;
      }
    }
  }
}
