.header {
  display: flex;
  z-index: 10;
  align-items: center;
  transition: padding .4s;
  &__logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    #header-cube {
      height: 54px;
      width: 47px;
      margin-right: 14px;
    }
    #header-text {
      height: 21px;
      width: 113px;
      fill: #415a65;
    }
  }
  padding: 30px 0;
}

.is-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $color-wite;
  padding: 8px 0;
  box-shadow: 1px 1px #dbe1e3;
  .header__logo {
    #header-text {
      display: none;
    }
  }
}