mixin header(authorized)
  - var isAuthorized = authorized ? 'is-login' : '';
  +b.HEADER.header&attributes(attributes)(class=isAuthorized)
    .container
      +e.logo
        +logo()(href="/")
      +e.NAV.navigation.hide-sm
        +e.main
          +header-menu
        +e.user
          +header-user
      +e.burger
        +burger
