extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Sign Up'

block bodyClasses
  - var bodyCls = ''
  - var isNoFooter = true
  - var isNoHeader = true
  - var scripts = ['other']

block header
  - var headerClass = ''
  - var pageClass = ' _nopad'
  - var isMap = false
  - var host = false
  - var isNoUser = true

block content
  +reg-grid
    +header-panel
      +nd-link-icon('arrow5')._back._back_sm-cross.__back_sm-noname._bold(href="#") Cancel registration
      +e.title Account registration
    .nd-container
      +e.request
        +registration-form-new({title: 'Join Spacepool', lead: true})
      +e.describe
        +e.bg
          +e.PICTURE.image
            source(srcset="assets/images/nd/registration-bg@468w.webp 468w, assets/images/nd/registration-bg@935w.webp 935w, assets/images/nd/registration-bg@1870w.webp 1870w" sizes="(max-width: 767px) 100vw, 50vw" type="image/webp")
            source(srcset="assets/images/nd/registration-bg@468w.jpg 468w, assets/images/nd/registration-bg@935w.jpg 935w, assets/images/nd/registration-bg@1870w.jpg 1870w" sizes="(max-width: 767px) 100vw, 50vw" type="image/jpeg")
            img(src="assets/images/nd/registration-bg@935w.jpg" alt="")
        +text-block._reg
          +e.title Want to get listed? Become a Spacepool host!
          +e.content
            p Become a host on Spacepool, it only takes a few minutes to get listed.
            p Join the dynamic community of office operators and start receiving rental enquiries today.
          +e.buttons
            +nd-button.__button(href="#") Become a Host



block panels

block popups
