extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Sign Up - Email Confirmed'

block header
  - var isNoFooter = true
  - var headerClass = ''
  - var pageClass = ''
  - var isMap = false
  - var host = false

block content
  +nd-section
    .nd-container.nd-container_centered
      +registration-form({title: 'Email confirmed', confirmemail: true})

block panels

block popups
