mixin tip()
  +b.SECTION.tip&attributes(attributes)
    +icon('info').icon_info
    +e.content
      block
    +e.side
      +link-icon('cross', 'button')._icon_smaller.__close.js-close-tip(type="button") Close tip
