extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Guest Account'

block bodyClasses
  - var bodyCls = ' is-sm-noheader is-sm-no-userpanel';
  - var scripts = ['other']

block header
  - var headerClass = ' is-login'
  - var pageClass = ''
  - var isMap = false
  - var host = false

block content
  +nd-page-header._grid._grid_acc
    .nd-container
      +nd-page-header-side
        +nd-link-icon('arrow5')._back.__back.nd-hide-from-sm Back
      +nd-page-header-main
        - var menuList = getData('sideNavProfile.json').menu;
        +e.dt-menu.nd-hide-md
          +nd-breadcrumbs([["Home", "#"], ["My account", "#"], ["My rents"]]).__breadcrumbs
        +e.mb-menu.nd-hide-from-md
          +slider-navigation(menuList, 1, 'My rents')

  +nd-content
    .nd-container
      +nd-content-aside
        +sidebar-nosticky.nd-sidebar.nd-hide-md
          - var nav = getData('sideNavProfile.json')
          +nd-side-navigation(nav, 'My rents')._profile

      +nd-content-main
        +records._acc
          each item in getData('nd-guest-acc-rents.json')
            +space-card(item)._rent._rent_g.__item_rent


block panels

block popups
