mixin conversation-info()
  +b.conversation-info&attributes(attributes)
    +e.item Last activity: <time datetime="2018-10-28T14:45">28 october 14:45</time>
    +e.item Started: <time datetime="2018-10-27">27 october 2018</time>
    block
