.nd-grid {
  $b: &;
  $default-breakpoit-name: xl;
  $default-breakpoint-value: map_has_key($nd-breakpoints, $default-breakpoit-name);
  $new-breakpoints: map_remove($nd-breakpoints, $default-breakpoit-name);

  font-size: 0;
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -20px -23px 0;

  @include screen('xlg', max, 2) {
    margin: pxtovw(-20, 1660) pxtovw(-23, 1660) 0;
  }

  @include screen('lg', max, 2) {
    margin: pxtovw(-20, 1366) pxtovw(-23, 1366) 0;
  }

  @include screen('md', max, 2) {
    margin: pxtovw(-20, 960) pxtovw(-23, 960) 0;
  }

  @include screen('sm', max, 2) {
    margin: pxtovw(-23, 375) pxtovw(-12, 375) 0;
  }

  &_gap16 {
    @include rule(margin-left, (xl: -8px, xlg: -8, lg: -8, md: -8, sm: -8));
    @include rule(margin-right, (xl: -8px, xlg: -8, lg: -8, md: -8, sm: -8));
  }

  &_gap25 {
    @include rule(margin-left, (xl: -12px, xlg: -12, lg: -12, md: -12, sm: -12));
    @include rule(margin-right, (xl: -12px, xlg: -12, lg: -12, md: -12, sm: -12));
  }

  &_int28 {
    margin-top: -28px;

    @include screen('xlg', max, 2) {
      margin-top: pxtovw(-28, 1660);
    }

    @include screen('lg', max, 2) {
      margin-top: pxtovw(-28, 1366);
    }

    @include screen('md', max, 2) {
      margin-top: pxtovw(-28, 960);
    }

    @include screen('sm', max, 2) {
      margin-top: pxtovw(-28, 375);
    }
  }

  &_int32 {
    @include rule(margin-top, (xl: -32px, xlg: -32, lg: -32, md: -32, sm: -23));
  }

  &_int37 {
    @include rule(margin-top, (xl: -37px, xlg: -37, lg: -37, md: -37, sm: -23));
  }

  &__col {
    display: inline-block; // fallback для старых браузеров
    box-sizing: border-box;
    padding: 40px 23px 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.2;

    @include screen('xlg', max, 2) {
      padding: pxtovw(40, 1660) pxtovw(23, 1660) 0;
      font-size: pxtovw(18, 1660);
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(40, 1366) pxtovw(23, 1366) 0;
      font-size: pxtovw(18, 1366);
    }

    @include screen('md', max, 2) {
      padding: pxtovw(40, 960) pxtovw(23, 960) 0;
      font-size: pxtovw(18, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(23, 375) pxtovw(12, 375) 0;
      font-size: pxtovw(15, 375);
    }

    @for $i from 1 through 15 {
      &_#{$default-breakpoit-name}_#{$i} {
        width: $i * $grid-col-width;
      }
    }

    @each $key, $val in $new-breakpoints {
      @for $i from 1 through 15 {
        @include screen($key, max, 2) {
          &_#{$key}_#{$i} {
            width: $i * $grid-col-width;
          }
        }
      }
    }

    #{$b}_gap16 & {
      @include rule(padding-left, (xl: 8px, xlg: 8, lg: 8, md: 8, sm: 8));
      @include rule(padding-right, (xl: 8px, xlg: 8, lg: 8, md: 8, sm: 8));
    }

    #{$b}_gap25 & {
      @include rule(padding-left, (xl: 12px, xlg: 12, lg: 12, md: 12, sm: 12));
      @include rule(padding-right, (xl: 12px, xlg: 12, lg: 12, md: 12, sm: 12));
    }

    #{$b}_int28 & {
      padding-top: 28px;

      @include screen('xlg', max, 2) {
        padding-top: pxtovw(28, 1660);
      }

      @include screen('lg', max, 2) {
        padding-top: pxtovw(28, 1366);
      }

      @include screen('md', max, 2) {
        padding-top: pxtovw(28, 960);
      }

      @include screen('sm', max, 2) {
        padding-top: pxtovw(28, 375);
      }
    }

    #{$b}_int32 & {
      @include rule(padding-top, (xl: 32px, xlg: 32, lg: 32, md: 32, sm: 23));
    }

    #{$b}_int37 & {
      @include rule(padding-top, (xl: 37px, xlg: 37, lg: 37, md: 37, sm: 23));
    }
  }

  &_c14 {
    @for $i from 1 through 15 {
      #{$b}__col_#{$default-breakpoit-name}_#{$i} {
        width: $i * $grid14-col-width;
      }
    }

    @each $key, $val in $new-breakpoints {
      @for $i from 1 through 15 {
        @include screen($key, max, 2) {
          #{$b}__col_#{$key}_#{$i} {
            width: $i * $grid14-col-width;
          }
        }
      }
    }
  }

  &_c11 {
    @for $i from 1 through 15 {
      #{$b}__col_#{$default-breakpoit-name}_#{$i} {
        width: $i * $grid11-col-width;
      }
    }

    @each $key, $val in $new-breakpoints {
      @for $i from 1 through 15 {
        @include screen($key, max, 2) {
          #{$b}__col_#{$key}_#{$i} {
            width: $i * $grid11-col-width;
          }
        }
      }
    }
  }

  &_c9 {
    @for $i from 1 through 15 {
      #{$b}__col_#{$default-breakpoit-name}_#{$i} {
        width: $i * $grid9-col-width;
      }
    }

    @each $key, $val in $new-breakpoints {
      @for $i from 1 through 15 {
        @include screen($key, max, 2) {
          #{$b}__col_#{$key}_#{$i} {
            width: $i * $grid9-col-width;
          }
        }
      }
    }
  }
}
