mixin form()
  +b.FORM.form&attributes(attributes)
    block

mixin form-section()
  +e.FIELDSET.section&attributes(attributes)
    block

mixin form-section-header()
  +e.header&attributes(attributes)
    block

mixin form-section-title(tag)
  +e(tag || 'h3').title&attributes(attributes)
    block

mixin form-section-text(tag)
  +e.text&attributes(attributes)
    block

mixin form-section-wrapper()
  +e.wrapper&attributes(attributes)
    block
