.form {
  $b: &;

  &__section {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 85px;
    }

    &_bmg {
      &:not(:last-child) {
        margin-bottom: 95px;
      }
    }
  }

  &__header {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 55px;

    @include screen('lg') {
      margin-bottom: 40px;
    }

    @include screen('sm') {
      margin-bottom: 30px;
    }

    &_smg {
      margin-bottom: 50px;

      @include screen('lg') {
        margin-bottom: 40px;
      }

      @include screen('sm') {
        margin-bottom: 30px;
      }
    }

    &_bmg {
      margin-bottom: 60px;

      @include screen('lg') {
        margin-bottom: 40px;
      }

      @include screen('sm') {
        margin-bottom: 30px;
      }
    }
  }

  &__title {
    @include heading-3;

    font-weight: 700;
    user-select: none;

    @include screen('sm') {
      @include heading-4;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__text {
    @include text;

    font-weight: 400;
    line-height: (26/14);
    color: $color-basic-light;

    &_compensate {
      line-height: 1;

      p:not(:first-child),
      .link:not(:first-child) {
        display: inline-block;
        margin-top: 12px;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-end;
    height: 100%;

    &_noflex {
      display: block;
      height: auto;
    }

    &:not(:last-child) {
      margin-bottom: 42px;
    }

    .checkbox,
    .checkradio {
      width: 100%;

      &__content {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
