.form {
  $b: &;

  position: relative;
  display: block;
  width: 100%;

  &__section {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    &:not(:last-of-type) {
      margin-bottom: 85px;

      @include screen('md') {
        margin-bottom: 70px;
      }

      @include screen('sm') {
        margin-bottom: 69px;
      }
    }

    &_pds {
      padding-left: 53px;
      padding-right: 53px;

      @include screen('sm') {
        padding-right: 15px;
        padding-left: 13px;
      }
    }

    &_border {
      border-bottom: 1px solid $color-border-light;

      &_no-sm {
        @include screen('sm') {
          border-bottom: none;
        }
      }
    }

    &_bmg {
      &:not(:last-of-type) {
        margin-bottom: 95px;

        @include screen('md') {
          margin-bottom: 84px;
        }
      }

      &_ext {
        &:not(:last-of-type) {
          @include screen('md') {
            margin-bottom: 90px;
          }

          @include screen('sm') {
            margin-bottom: 96px;
          }
        }
      }
    }

    &_sm-mg {
      &:not(:last-of-type) {
        margin-bottom: 60px;
      }
    }

    &_mid-mg {
      &:not(:last-of-type) {
        margin-bottom: 72px;
      }
    }

    &_mg21 {
      &:not(:last-of-type) {
        margin-bottom: 21px;
      }
    }

    &_mg21-2 {
      &:not(:last-of-type) {
        margin-bottom: 21px;

        @include screen('lg') {
          margin-bottom: 30px;
        }

        @include screen('sm') {
          margin-bottom: 0;
        }
      }
    }

    &_mg33 {
      &:not(:last-of-type) {
        margin-bottom: 33px;
      }
    }

    &_mg43 {
      &:not(:last-of-type) {
        margin-bottom: 43px;
      }
    }

    &_mg50 {
      &:not(:last-of-type) {
        margin-bottom: 50px;

        @include screen('sm') {
          margin-bottom: 20px;
        }
      }
    }

    &_mg52 {
      &:not(:last-of-type) {
        margin-bottom: 52px;

        @include screen('sm') {
          margin-bottom: 22px;
        }
      }
    }

    &_mg58 {
      &:not(:last-of-type) {
        margin-bottom: 58px;

        @include screen('sm') {
          margin-bottom: 30px;
        }
      }
    }

    &_mg65 {
      &:not(:last-of-type) {
        margin-bottom: 65px;
      }
    }

    &_mg66 {
      &:not(:last-of-type) {
        margin-bottom: 66px;
      }
    }

    &_mg75 {
      &:not(:last-of-type) {
        margin-bottom: 75px;
      }
    }

    &_mg80 {
      &:not(:last-of-type) {
        margin-bottom: 80px;
      }
    }

    &_mg88 {
      &:not(:last-of-type) {
        margin-bottom: 88px;
      }
    }

    &_mg90 {
      &:not(:last-of-type) {
        margin-bottom: 90px;
      }
    }

    &_mg105 {
      &:not(:last-of-type) {
        margin-bottom: 105px;
      }
    }

    &_pb {
      padding-bottom: 57px;

      @include screen('sm') {
        padding-bottom: 27px;
      }
    }

    &_pb46 {
      padding-bottom: 46px;

      @include screen('sm') {
        padding-bottom: 22px;
      }
    }

    &_pb72 {
      padding-bottom: 72px;

      @include screen('sm') {
        padding-bottom: 30px;
      }
    }

    &_mta {
      margin-top: auto;
    }

    &_underline {
      position: relative;

      &::after {
        @include pseudo;

        top: 100%;
        left: 50%;
        width: calc(100% + 100px);
        height: 1px;
        background-color: $color-border-light;
        transform: translate3d(-50%, 0, 0);
      }
    }
  }

  &__content {
    display: block;
    width: 100%;
    transition: opacity $ease-main;

    &.is-disabled {
      opacity: .42;
    }
  }

  &__header {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 55px;

    @include screen('md') {
      margin-bottom: 57px;
    }

    @include screen('sm') {
      margin-bottom: 59px;
    }

    &_mg9 {
      margin-bottom: 9px;
    }

    &_mg14 {
      margin-bottom: 14px;
    }

    &_mg21 {
      margin-bottom: 21px;
    }

    &_mg24 {
      margin-bottom: 24px;
    }

    &_mg26 {
      margin-bottom: 26px;
    }

    &_mg26-2 {
      margin-bottom: 26px;

      @include screen('lg') {
        margin-bottom: 34px;
      }

      @include screen('sm') {
        margin-bottom: 0;
      }
    }

    &_mg30 {
      margin-bottom: 30px;

      @include screen('sm') {
        margin-bottom: 56px;
      }
    }

    &_mg32 {
      margin-bottom: 32px;

      @include screen('sm') {
        margin-bottom: 10px;
      }
    }

    &_mg35 {
      margin-bottom: 35px;

      @include screen('sm') {
        margin-bottom: 56px;
      }
    }

    &_mg35-2 {
      margin-bottom: 35px;

      @include screen('sm') {
        margin-bottom: 12px;
      }
    }

    &_mg40 {
      margin-bottom: 40px;

      @include screen('sm') {
        margin-bottom: 8px;
      }
    }

    &_mg43 {
      margin-bottom: 43px;

      @include screen('sm') {
        margin-bottom: 20px;
      }
    }

    &_mg46 {
      margin-bottom: 46px;

      @include screen('sm') {
        margin-bottom: 56px;
      }
    }

    &_mg46-2 {
      margin-bottom: 46px;

      @include screen('sm') {
        margin-bottom: 18px;
      }
    }

    &_mg47 {
      margin-bottom: 47px;

      @include screen('sm') {
        margin-bottom: 10px;
      }
    }

    &_mg49 {
      margin-bottom: 49px;

      @include screen('sm') {
        margin-bottom: 60px;
      }
    }

    &_mg49-2 {
      margin-bottom: 49px;

      @include screen('sm') {
        margin-bottom: 25px;
      }
    }

    &_mg62 {
      margin-bottom: 62px;

      @include screen('sm') {
        margin-bottom: 50px;
      }
    }

    &_mg65 {
      margin-bottom: 65px;

      @include screen('sm') {
        margin-bottom: 50px;
      }
    }

    &_smg {
      margin-bottom: 50px;

      @include screen('sm') {
        margin-bottom: 41px;
      }
    }

    &_bmg {
      margin-bottom: 60px;

      @include screen('sm') {
        margin-bottom: 42px;
      }
    }

    &_lg-mmg {
      @include screen('md') {
        margin-bottom: 53px;
      }

      @include screen('sm') {
        margin-bottom: 56px;
      }
    }

    &_smt-mg {
      margin-bottom: 35px;
    }

    &_fx-sb {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
      align-content: baseline;
    }

    &_fxc {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }

    &_mg0 {
      margin-bottom: 0;
    }
  }

  &__title {
    @include heading-3;

    font-weight: 700;
    user-select: none;

    @include screen('sm') {
      @include heading-4;
    }

    &:not(:last-child) {
      margin-bottom: 8px;

      @include screen('sm') {
        margin-bottom: 14px;
      }
    }

    &_mg0 {
      &:not(:last-child) {
        margin-bottom: 0;

        @include screen('sm') {
          margin-bottom: 5px;
        }
      }
    }

    &_mg28 {
      &:not(:last-child) {
        margin-bottom: 28px;

        @include screen('sm') {
          margin-bottom: 15px;
        }
      }
    }

    &_mg48 {
      &:not(:last-child) {
        margin-bottom: 48px;

        @include screen('sm') {
          margin-bottom: 15px;
        }
      }
    }

    &_big {
      @include heading-2;

      font-weight: 700;

      @include screen('lg') {
        @include heading-1-sm;

        line-height: 1.2;
      }

      @include screen('sm') {
        @include heading-3;

        line-height: 1.2;
      }
    }

    &_mid {
      @include heading-4;

      line-height: (26 / 20);
      font-weight: 700;

      @include screen('sm') {
        @include text16;

        line-height: (26 / 16);
      }
    }

    &_small {
      @include text-big;

      font-weight: 700;

      @include screen('sm') {
        @include text-mid;

        line-height: (20 / 17);
      }
    }

    &_small2 {
      @include text-big;

      font-weight: 700;

      @include screen('sm') {
        @include text15;

        line-height: (20 / 15);
      }
    }

    &_smaller {
      @include text-mid;

      line-height: (26 / 17);
      font-weight: 700;

      @include screen('sm') {
        @include text15;

        line-height: (26 / 15);
      }
    }

    &_mfz12 {
      @include screen('sm') {
        @include text12;

        line-height: (15 / 12);
      }
    }

    &_sm-ord2 {
      @include screen('sm') {
        order: 2;
      }
    }
  }

  &__tabs {
    margin-bottom: -1px;
  }

  &__text {
    @include text;

    font-weight: 400;
    line-height: (26 / 14);
    color: $color-basic-light;

    @include screen('sm') {
      line-height: 1.2;
    }

    &_compensate {
      line-height: 1;
      margin-top: -0.2em;

      @include screen('md') {
        margin-top: -36px;
      }

      p:not(:first-child),.link:not(:first-child) {
        display: inline-block;
        margin-top: 12px;
      }
    }

    &_light {
      color: $color-placeholder;
    }

    &_small {
      @include screen('sm') {
        @include text-small;

        line-height: 1.2;
      }
    }

    &_small2 {
      @include screen('sm') {
        @include text10;

        line-height: 1.2;
      }
    }

    &_small3 {
      @include screen('sm') {
        @include text12;

        line-height: 1.25;
      }
    }

    &_big {
      @include text16;

      @include screen('sm') {
        @include text;

        line-height: (26 / 14);
      }
    }

    &_fz18 {
      @include text-big;

      @include screen('sm') {
        @include text16;
      }
    }

    &_bold {
      font-weight: 700;
    }

    &_dark {
      color: $color-basic;
    }

    &_mg-2 {
      margin-top: -2px;

      @include screen('sm') {
        margin-top: 0;
      }
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    // height: 100%;

    &_noflex {
      display: block;
      height: auto;
    }

    &_shiftl {
      margin-left: -8px;

      @include screen('lg') {
        margin-left: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: 39px;

      @include screen('sm') {
        margin-bottom: 30px;
      }
    }

    .checkbox,.checkradio {
      width: 100%;

      &__content {
        display: inline-block;
        width: 100%;
      }
    }

    &_no-mg {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &_sm-mg {
      &:not(:last-child) {
        margin-bottom: 13px;
      }
    }

    &_mg29 {
      &:not(:last-child) {
        margin-bottom: 29px;
      }
    }

    &_mg22 {
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }

    &_pt {
      padding-top: 6px;

      @include screen('sm') {
        padding-top: 0;
      }
    }

    &_h100p {
      height: 100%;
    }

    &_fxe {
      justify-content: flex-end;
      align-items: flex-end;
      align-content: flex-end;
    }

    &_pb {
      padding-bottom: 5px;
      box-sizing: border-box;

      @include screen('md') {
        padding-bottom: 0;
      }
    }

    &_negative-mg {
      margin-top: -9px;

      &17 {
        margin-top: -17px;
      }

      &13 {
        margin-top: -13px;
      }

      &6 {
        margin-top: -6px;
      }
    }

    &_separator {
      &::after {
        @include text-big;

        position: absolute;
        content: ':';
        display: block;
        left: 100%;
        top: 5px;
        color: $color-placeholder;
        text-align: center;
        width: 60px;

        @include screen('sm') {
          display: none;
        }
      }

      &#{$b}__wrapper_negative-mg::after {
        top: -5px;
      }
    }

    &_separator2 {
      &::after {
        @include text-big;

        position: absolute;
        content: '—';
        display: block;
        left: 100%;
        top: 5px;
        color: $color-placeholder;
        text-align: center;
        width: 60px;

        @include screen('sm') {
          display: none;
        }
      }

      &#{$b}__wrapper_negative-mg::after {
        top: -5px;
      }
    }

    &_w368 {
      width: 368px;
      max-width: 100%;

      @include screen('sm') {
        width: 100%;
      }
    }
  }

  &__panel {
    width: 100%;

    &_fixed {
      position: fixed;
      bottom: 0;
      left: 0;
      transition: opacity $ease-main, bottom $ease-main;
      opacity: 0;
      pointer-events: none;
      z-index: 4;

      &_visible {
        opacity: 1;
        pointer-events: auto;
      }

      body.is-login & {
        @include screen('md') {
          bottom: 70px;
        }

        @include screen('sm') {
          bottom: 50px;
        }
      }

      .container {
        @include screen('md') {
          padding-left: 0;
          padding-right: 0;
        }
      }

      .form-panel {
        @include screen('md') {
          border-top: 1px solid $color-border-light;
          padding: 0 $container-padding-tablet;
        }

        @include screen('sm') {
          padding: 0 $container-padding-mobile;
        }

        &_sm-pd30 {
          @include screen('sm') {
            padding: 5px 30px;
          }
        }
      }

      &.is-stop {

        @include screen('md', min) {
          position: absolute;
        }

        .container {
          @include screen('md', min) {
            padding-left: 0;
            padding-right: 0;
          }
        }

        .grid {
          &__col {
            @include screen('md', min) {
              width: 100%;
            }
          }
        }
      }

      &.is-active {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &_lg-shft20 {
      @include screen('lg') {
        margin-left: -20px;
        width: calc(100% + 20px);
      }

      @include screen('md') {
        margin-left: 0;
        width: 100%;
      }

      &.is-stop, .is-stop & {
        @include screen('lg') {
          margin-left: 0;
          width: 100%;
        }
      }
    }

    &_border {
      border-top: 1px solid $color-border-lightest;
    }

    &_mgt-10 {
      margin-top: -10px;
    }

    &_absolute {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    &_small {
      @include screen('sm') {
        padding: 10px 18px;
        min-height: 50px;
      }
    }

    &.is-fixed {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &:not(:first-child) {
      margin-top: 52px;
    }

    &_mgt60 {
      &:not(:first-child) {
        margin-top: 60px;
      }
    }

    &_mgt38 {
      &:not(:first-child) {
        margin-top: 38px;
      }
    }
  }

  &__divider {
    margin-bottom: 40px;
  }

  &__bottom {
    display: block;
    width: 100%;

    &:not(:first-child) {
      margin-top: 40px;
    }

    .link {
      @include text-big;

      line-height: 1.2;

      @include screen('sm') {
        @include text15;

        line-height: 1.2;
      }
    }

    &_bmg {
      &:not(:first-child) {
        margin-top: 100px;

        @include screen('md') {
          margin-bottom: 60px;
        }

        @include screen('sm') {
          margin-bottom: 40px;
        }
      }
    }
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    &_end {
      justify-content: flex-end;

      @include screen('sm') {
        justify-content: flex-start;
      }
    }
  }

  &__link {
    @include text-big;

    line-height: 1;
    margin-right: 20px;

    @include screen('sm') {
      @include text15;

      line-height: 1;
    }

    &_big {
      @include heading-4;

      @include screen('sm') {
        @include text15;
      }
    }

    &_mt {
      margin-top: 13px;
    }
  }

  &__line {
    &:not(:last-child) {
      margin-bottom: 9px;

      @include screen('sm') {
        margin-bottom: 7px;
      }
    }
  }

  &__dates {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include screen('sm') {
      flex-wrap: wrap;
      position: relative;
    }

    #{$b} {

      &__line {
        flex: 1;

        @include screen('sm') {
          flex: none;
          width: 100%;
        }

        &:not(:last-child) {
          margin-bottom: 0;

          @include screen('sm') {
            margin-bottom: 7px;
          }
        }
      }
    }

    &-icon {
      display: block;
      width: 15px;
      height: 15px;
      min-width: 15px;
      margin: 0 30px;
      font-size: 0;
      line-height: 0;

      @include screen('sm') {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate3d(0, -100%, 0);
        min-width: 14px;
        width: 14px;
        padding-left: 7px;
        box-sizing: border-box;
        height: 7px;
        margin: 0;
        background-color: $color-white;
        z-index: 2;
      }
    }

    &-arrow {
      width: 100%;
      height: 100%;
      fill: $color-form-arrow;
      transform-origin: 50% 50% 0;
      transform: rotate(-90deg);

      @include screen('sm') {
        transform: rotate(0);
        fill: $color-basic;
      }
    }
  }

  &__payments {
    width: 100%;

    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  &__checker {
    margin-bottom: 24px;

    &_mgt-20 {
      margin-top: -20px;
    }
  }

  &__toggles {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: -5px;

    &:not(:last-child) {
      margin-bottom: 45px;
    }

    @include screen('xs') {
      justify-content: center;
    }
  }

  &__toggle {
    margin-top: 5px;

    &:not(:last-child) {
      margin-right: 17px;

      @include screen('sm') {
        margin-right: 10px;
      }

      @include screen('xs') {
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }

  &_pb {
    padding-bottom: 104px;

    @include screen('lg') {
      padding-bottom: 88px;
    }

    @include screen('md') {
      padding-bottom: 102px;
    }

    @include screen('sm') {
      padding-bottom: 70px;
    }
  }

  &_pb2 {
    padding-bottom: 80px;

    @include screen('md') {
      padding-bottom: 0;
    }
  }

  &_pb3 {
    padding-bottom: 80px;

    @include screen('sm') {
      padding-bottom: 0;
    }
  }

  &_negative-mg {
    margin-top: -8px;

    @include screen('md') {
      margin-top: 0;
    }
  }

  &_white {
    background-color: $color-white;
  }

  &__table {
    &:not(:first-child) {
      margin-top: 19px;
    }

    &:not(:last-child) {
      margin-bottom: 44px;
    }
  }

  &__avatar-uploader {
    transform: translate3d(0, 39%, 0);

    @include screen('md') {
      transform: translate3d(0, 39%, 0);
      margin-bottom: 42px;
    }
  }

  &__count {
    flex: 2.35;

    @include screen('sm') {
      flex: 1.425;
    }

    &:not(:last-child) {
      margin-right: 14px;

      @include screen('sm') {
        margin-right: 10px;
      }
    }
  }

  &__mesure {
    flex: 1;
  }

  &_flex {
    display: flex;
    flex-wrap: wrap;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 38px 53px 46px;
    width: 100%;

    @include screen('sm') {
      padding: 40px 10px;
    }

    #{$b} {
      &__buttons {
        width: 100%;
      }
    }

    &_pds0 {
      padding-left: 0;
      padding-right: 0;
    }

    &_pds {
      padding: 42px 51px 22px;

      @include screen('sm') {
        padding: 30px 10px;
      }
    }

    &_pt42 {
      padding-top: 42px;

      @include screen('sm') {
        padding-top: 20px;
      }
    }

    &_pt45 {
      padding-top: 45px;

      @include screen('sm') {
        padding-top: 40px;
      }
    }

    &_pb0 {
      padding-bottom: 0;
    }

    &_pb40 {
      padding-bottom: 40px;
    }

    &_pb120 {
      padding-bottom: 120px;

      @include screen('sm') {
        padding-bottom: 60px;
      }
    }
  }

  &__button {
    &_mxw300 {
      max-width: 300px;

      @include screen('lg') {
        max-width: 100%;
      }
    }

    &_mb8 {
      margin-bottom: 8px;

      @include screen('md') {
        margin-bottom: 0;
      }
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;

    &_access {
      align-items: center;
      width: 20%;
      margin-right: 30px;

      @include screen('lg') {
        width: 28%;
      }

      @include screen('bg') {
        width: 100%;
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 40px;
      }

      & ~ #{$b}__column_stretch {
        @include screen('bg') {
          width: 100%;
          flex: none;
        }
      }
    }

    &_rules {
      flex-direction: column;
      width: 54.1%;
      padding-right: 12.6%;
      margin-right: 50px;
      border-right: 1px solid $color-form-border;

      @include screen('lg') {
        padding-right: 50px;
      }

      @include screen('md') {
        width: 100%;
        padding-right: 0;
        margin-right: 0;
        border-right: none;
        margin-bottom: 60px;
      }

      .form__title {
        line-height: 1.2;
      }
    }

    &_stretch {
      display: block;
      width: auto;
      flex: 1;

      @include screen('md') {
        flex: none;
        width: 100%;
      }
    }
  }

  &__modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    -webkit-appearance: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    @include screen('sm') {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
      opacity: 0;
      transform: translate3d(100%, 0, 0);
      transition: transform $ease-main, opacity $ease-main;
      pointer-events: none;
    }

    &.is-active {
      display: block;
    }

    &.is-opened {
      @include screen('sm') {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        pointer-events: auto;
      }
    }

    &-cross {
      position: absolute;
      top: 0;
      left: 9px;
    }

    &-title {
      text-align: right;

      .offer-info .box {
        @include screen('sm') {
          margin-right: 6px;
        }
      }

      #{$b}__title {
        @include screen('sm') {
          margin-top: -3px;
        }
      }
    }

    &-top {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 44px;
      border-bottom: 1px solid $color-border-light;

      @include screen('sm') {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
        padding: 5px 19px;
      }
    }

    &-content {
      display: block;
      width: 100%;
      padding: 0 53px;
      box-sizing: border-box;

      @include screen('sm') {
        display: flex;
        height: 100%;
        padding: 55px 19px 120px;
      }

      #{$b}__wrapper {
        line-height: 0;
        margin-bottom: -1px;

        @include screen('sm') {
          display: block;
        }
      }

      .form-box {
        @include screen('sm') {
          display: block;
          height: 100%;
        }
      }
    }

    &-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      height: 80px;
      border-top: 1px solid $color-border-light;
      padding: 5px 53px;

      @include screen('sm') {
        bottom: 50px;
        left: 0;
        height: 70px;
        padding: 5px 19px;
      }

      #{$b}__button {
        min-width: 396px;

        @include screen('sm') {
          min-width: 0;
          width: 100%;
        }
      }
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: -11px;
    width: 100%;

    @include screen('md') {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }

    &_line {
      box-sizing: border-box;
      padding: 0 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include screen('sm') {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        margin-left: -3px;
      }
    }

    &_columns {
      @include screen('sm') {
        margin-top: -7.5px;
      }
    }
  }

  &__item {
    display: inline-block;
    width: auto;
    margin-top: 11px;

    #{$b}__list_columns & {
      width: 230px;
      margin-right: 30px;

      @include screen('md') {
        width: calc((100% - 60px)/3);
      }

      @include screen('sm') {
        width: 100%;
        margin-right: 0;
        margin-top: 7.5px;
      }

      &:nth-child(3n) {
        @media only screen and (min-width: 768px) and (max-width: 1019px) {
          margin-right: 0;
        }
      }
    }

    #{$b}__list_columns_sm2 & {
      @include screen('sm') {
        width: calc((100% - 10px)/2);
        margin-right: 10px;
      }

      &:nth-child(even) {
        @include screen('sm') {
          margin-right: 0;
        }
      }
    }

    #{$b}__list_line & {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__note {

    &:first-child {
      margin-top: -10px;

      @include screen('sm') {
        margin-top: 0;
      }
    }

    &:not(:first-child) {
      margin-top: 36px;
    }
  }

  &__notice {
    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  &__sequence {
    flex: none;

    @include screen('sm') {
      margin-bottom: 35px;
    }

    .time {

      &__text {
        @include screen('lg') {
          max-width: 270px;
        }

        @include screen('sm') {
          max-width: 100px;
        }

        &:first-child {
          @include screen('lg') {
            max-width: 226px;
          }

          @include screen('sm') {
            max-width: 100px;
          }
        }
      }
    }
  }

  &_lg-shft20 {
    @include screen('lg') {
      margin-left: -20px;
      width: calc(100% + 20px);
    }

    @include screen('md') {
      margin-left: 0;
      width: 100%;
    }
  }
}

[data-point-object]:last-child {
  .form-box__delete {
    display: none;
  }
}

.error-message {
  @include text;

  display: block;
  opacity: 0;
  pointer-events: none;
  line-height: 1.3;
  color: $color-error;
  width: 100%;
  font-weight: 400;
  transition: opacity $ease-main;
  z-index: 2;
  background-color: $color-bg;

  @include screen('sm') {
    @include text12;

    line-height: 1.3;
  }

  .form_white & {
    background-color: $color-white;
  }

  .is-error & {
    opacity: 1;
  }
}
