mixin form()
  +b.FORM.form&attributes(attributes)
    block

mixin nd-form(tag)
  +b(tag || 'form').nd-form&attributes(attributes)
    block

mixin form-section(tag)
  +e(tag || 'fieldset').section&attributes(attributes)
    block

mixin form-section-header()
  +e.header&attributes(attributes)
    block

mixin form-section-checker()
  +e.checker&attributes(attributes)
    block

mixin form-section-content()
  +e.content&attributes(attributes)
    block

mixin form-section-title(tag)
  +e(tag || 'h3').title&attributes(attributes)
    block

mixin form-section-text(tag)
  +e.text&attributes(attributes)
    block

mixin form-section-wrapper()
  +e.wrapper&attributes(attributes)
    block
    div.error-message
