.nd-form {
  $b: &;

  position: relative;
  display: block;
  width: 100%;
  color: $nd-color-basic;

  &__section {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: opacity $ease-main;

    &.is-disabled {
      opacity: .4;
      pointer-events: none;
    }

    &:not(:first-child) {
      margin-top: 35px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(35, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(35, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(35, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(27, 375);
      }
    }

    &_styled {
      position: relative;
      padding-top: 35px;

      @include screen('xlg', max, 2) {
        padding-top: pxtovw(35, 1660);
      }

      @include screen('lg', max, 2) {
        padding-top: pxtovw(35, 1366);
      }

      @include screen('md', max, 2) {
        padding-top: pxtovw(35, 960);
      }

      @include screen('sm', max, 2) {
        padding-top: pxtovw(35, 375);
      }

      &:not(:first-child)::before {
        @include pseudo;

        top: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid rgba(216, 221, 222, .71);

        @include screen('sm', max, 2) {
          width: calc(100% + ((4000 / 375) * 1vw));
        }
      }
    }

    &_mt30 {
      &:not(:first-child) {
        margin-top: 30px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(30, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(30, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(30, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(30, 375);
        }
      }
    }

    &_mt45 {
      &:not(:first-child) {
        margin-top: 45px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(45, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(45, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(45, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(45, 375);
        }
      }
    }

    &_mt54 {
      &:not(:first-child) {
        margin-top: 54px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(54, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(54, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(54, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(46, 375);
        }
      }
    }

    &_mt70 {
      &:not(:first-child) {
        margin-top: 70px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(70, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(70, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(70, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(60, 375);
        }
      }
    }
  }

  &__content {
    display: block;
    width: 100%;
    transition: opacity $ease-main;
    position: relative;

    &.is-disabled {
      opacity: .4;
      pointer-events: none;
    }

    &:not(:first-child) {
      margin-top: 28px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(28, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(28, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(28, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(28, 375);
      }
    }

    &.is-link-inactive {
      &:not(:first-child) {
        margin-top: 28px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(28, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(28, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(28, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(24, 375);
        }
      }
    }

    &_sm-mt12 {
      &:not(:first-child) {
        margin-top: pxtovw(12, 375);
      }
    }
  }

  &__header {
    position: relative;
    display: block;
    width: 100%;

    &_tac {
      text-align: center;
    }
  }

  &__title {
    font-size: 30px;
    font-family: $font-stolzl;
    font-weight: 500;
    line-height: 1.2;
    user-select: none;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(30, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(30, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(30, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(25, 375);
    }

    &_proxima {
      font-family: $font-main;
    }

    &_fw400 {
      font-weight: 400;
    }

    &_fw700 {
      font-weight: 700;
    }

    &_fz22 {
      font-size: 22px;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(22, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(22, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(22, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(20, 375);
      }
    }

    &_fz20 {
      font-size: 20px;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(20, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(20, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(17, 375);
      }
    }

    &_sm-fz15 {
      @include screen('sm', max, 2) {
        font-size: pxtovw(15, 375);
      }
    }

    &_mb {
      &:not(:last-child) {
        margin-bottom: 10px;

        @include screen('xlg', max, 2) {
          margin-bottom: pxtovw(10, 1660);
        }

        @include screen('lg', max, 2) {
          margin-bottom: pxtovw(10, 1366);
        }

        @include screen('md', max, 2) {
          margin-bottom: pxtovw(10, 960);
        }

        @include screen('sm', max, 2) {
          margin-bottom: pxtovw(10, 375);
        }
      }
    }

    i {
      color: $nd-color-main;
      font-style: normal;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: (26 / 18);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(18, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(18, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(18, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
      line-height: (18 / 15);
    }

    &_fw700 {
      font-weight: 700;
    }

    a {
      text-decoration: underline;
      text-underline-offset: 1px;

      &:hover {
        text-decoration: none;
      }
    }

    &:not(:first-child) {
      margin-top: 14px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(14, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(14, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(14, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(38, 375);
      }
    }

    &_mt25 {
      &:not(:first-child) {
        margin-top: 25px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(25, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(25, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(25, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(38, 375);
        }
      }
    }

    &_mt44 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 44px, xlg: 44, lg: 44, md: 44, sm: 44));
      }
    }

    &_md-fz16 {
      @include screen('md', max, 2) {
        font-size: pxtovw(16, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(15, 375);
      }
    }

    &_sm-fz13 {
      @include screen('sm', max, 2) {
        font-size: pxtovw(13, 375);
      }
    }

    &_indent {
      p {
        &:not(:first-child) {
          @include rule(margin-top, (xl: 26px, xlg: 26, lg: 26, md: 26, sm: 18));
        }
      }
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;

    &_mt {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 28px, xlg: 28, lg: 28, md: 28, sm:28));
      }
    }
  }

  &__methods {
    display: block;
    width: 100%;
    transition: opacity $ease-main;

    &.is-disabled {
      opacity: .4;
      pointer-events: none;
    }

    .nd-button {
      width: 100%;

      &:not(:first-child) {
        margin-top: 32px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(32, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(32, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(32, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(22, 375);
        }
      }
    }
  }

  &__block {
    display: block;
    width: 100%;

    &:not(:first-child) {
      margin-top: 23px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(23, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(23, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(23, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(22, 375);
      }
    }

    &_mt86 {
      &:not(:first-child) {
        margin-top: 86px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(86, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(86, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(86, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(50, 375);
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &:not(:first-child) {
      margin-top: 50px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(50, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(50, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(50, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(36, 375);
      }
    }

    &_mt24 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 24px, xlg: 24, lg: 24, md: 24, sm: 24));
      }
    }

    &_mt34 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 34px, xlg: 34, lg: 34, md: 34, sm: 36));
      }
    }
  }

  &__button {
    &_wide {
      width: 100%;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 17px;
    line-height: 1.2;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(17, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(17, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(17, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
    }

    &:not(:first-child) {
      margin-top: 23px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(23, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(23, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(23, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(23, 375);
      }
    }
  }

  &__checklist {
    display: flex;
    justify-content: space-between;
    margin: 0 -6px;
    width: calc(100% + 12px);
    flex-wrap: wrap;
    box-sizing: border-box;

    @include screen('xlg', max, 2) {
      margin: 0 pxtovw(-6, 1660);
      width: calc(100% + ((1200 / 1660) * 1vw));
    }

    @include screen('lg', max, 2) {
      margin: 0 pxtovw(-6, 1366);
      width: calc(100% + ((1200 / 1366) * 1vw));
    }

    @include screen('md', max, 2) {
      margin: 0 pxtovw(-6, 960);
      width: calc(100% + ((1200 / 960) * 1vw));
    }

    @include screen('sm', max, 2) {
      margin: 0 pxtovw(-4, 375);
      width: calc(100% + ((800 / 375) * 1vw));
    }

    &_compress {
      margin: 0 -7px;
      width: calc(100% + 14px);

      @include screen('xlg', max, 2) {
        margin: 0 pxtovw(-7, 1660);
        width: calc(100% + ((1400 / 1660) * 1vw));
      }

      @include screen('lg', max, 2) {
        margin: 0 pxtovw(-7, 1366);
        width: calc(100% + ((1400 / 1366) * 1vw));
      }

      @include screen('md', max, 2) {
        margin: 0 pxtovw(-7, 960);
        width: calc(100% + ((1400 / 960) * 1vw));
      }

      @include screen('sm', max, 2) {
        margin: 0 pxtovw(-7, 375);
        width: calc(100% + ((1400 / 375) * 1vw));
      }

      &::after {
        display: inline-block;
        content: '';
        flex: 10;
      }
    }

    & + & {
      position: relative;
      margin-top: 19px;
      padding-top: 26px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(19, 1660);
        padding-top: pxtovw(26, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(19, 1366);
        padding-top: pxtovw(26, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(19, 960);
        padding-top: pxtovw(26, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(19, 375);
        padding-top: pxtovw(24, 375);
      }

      &::before {
        @include pseudo;

        width: calc(100% - 12px);
        top: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        border-top: 1px solid $nd-color-border3;

        @include screen('xlg', max, 2) {
          width: calc(100% - ((1200 / 1660) * 1vw));
        }

        @include screen('lg', max, 2) {
          width: calc(100% - ((1200 / 1366) * 1vw));
        }

        @include screen('md', max, 2) {
          width: calc(100% - ((1200 / 960) * 1vw));
        }

        @include screen('sm', max, 2) {
          width: calc(100% - ((800 / 375) * 1vw));
        }
      }
    }

    .loader {
      position: relative;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      align-self: center;
      margin: 0 auto;
    }
  }

  &__check {
    margin: 7px 6px;
    flex: 1;

    @include screen('xlg', max, 2) {
      margin: pxtovw(7, 1660) pxtovw(6, 1660);
    }

    @include screen('lg', max, 2) {
      margin: pxtovw(7, 1366) pxtovw(6, 1366);
    }

    @include screen('md', max, 2) {
      margin: pxtovw(7, 960) pxtovw(6, 960);
    }

    @include screen('sm', max, 2) {
      margin: pxtovw(7, 375) pxtovw(4, 375);
    }

    #{$b}__checklist_compress & {
      margin: 7px;

      @include screen('xlg', max, 2) {
        margin: pxtovw(7, 1660);
      }

      @include screen('lg', max, 2) {
        margin: pxtovw(7, 1366);
      }

      @include screen('md', max, 2) {
        margin: pxtovw(7, 960);
      }

      @include screen('sm', max, 2) {
        margin: pxtovw(7, 375);
      }
    }
  }

  &__table {
    &:not(:first-child) {
      margin-top: 26px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(26, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(26, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(26, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(20, 375);
      }
    }
  }

  &__row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    &:not(:first-child) {
      margin-top: 40px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(40, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(40, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(40, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(23, 375);
      }
    }

    #{$b}__wrapper {
      flex: 1;

      &:not(:first-child) {
        margin-left: 25px;

        @include screen('xlg', max, 2) {
          margin-left: pxtovw(25, 1660);
        }

        @include screen('lg', max, 2) {
          margin-left: pxtovw(25, 1366);
        }

        @include screen('md', max, 2) {
          margin-left: pxtovw(25, 960);
        }

        @include screen('sm', max, 2) {
          margin-left: pxtovw(25, 375);
        }
      }

      &_w144 {
        flex: none;
        width: 144px;

        @include screen('xlg', max, 2) {
          width: pxtovw(144, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(144, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(144, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(144, 375);
        }
      }

      &_md-wide {
        @include screen('md', max, 2) {
          flex: none;
          width: 100%;
        }

        & + #{$b}__wrapper {
          &:not(:first-child) {
            @include screen('md', max, 2) {
              margin-left: 0;
              margin-top: pxtovw(30, 960);
            }

            @include screen('sm', max, 2) {
              margin-top: pxtovw(23, 375);
            }
          }
        }
      }
    }
  }

  &__range-block {
    display: block;
    width: 100%;

    @include screen('sm', max, 2) {
      position: relative;
    }

    &_active {
      .is-link-inactive & {
        display: none;

        @include screen('sm', max, 2) {
          z-index: 0;
          display: block;
        }
      }
    }

    &_inactive {
      @include screen('sm', max, 2) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .93);
        z-index: 2;
      }

      .is-link-active & {
        display: none;
      }
    }

    #{$b}__button {
      min-width: 200px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(200, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(200, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(200, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(210, 375);
      }

      &:not(:first-child) {
        margin-top: 40px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(40, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(40, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(40, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(30, 375);
        }
      }
    }
  }
}
