.nd-form {
  $b: &;

  position: relative;
  display: block;
  width: 100%;
  color: $nd-color-basic;

  &__section {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: opacity $ease-main;

    &.is-disabled {
      opacity: .4;
      pointer-events: none;
    }

    &:not(:first-child) {
      margin-top: 35px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(35, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(35, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(35, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(27, 375);
      }
    }

    &_fx {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &_styled {
      position: relative;
      padding-top: 35px;

      @include screen('xlg', max, 2) {
        padding-top: pxtovw(35, 1660);
      }

      @include screen('lg', max, 2) {
        padding-top: pxtovw(35, 1366);
      }

      @include screen('md', max, 2) {
        padding-top: pxtovw(35, 960);
      }

      @include screen('sm', max, 2) {
        padding-top: pxtovw(35, 375);
      }

      &:not(:first-child)::before {
        @include pseudo;

        top: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid rgba(216, 221, 222, .71);

        @include screen('sm', max, 2) {
          width: calc(100% + ((4000 / 375) * 1vw));
        }
      }
    }

    &_mt30 {
      &:not(:first-child) {
        margin-top: 30px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(30, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(30, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(30, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(30, 375);
        }
      }
    }

    &_mt40 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 40px, xlg: 40, lg: 40, md: 30, sm: 40));
      }
    }

    &_mt45 {
      &:not(:first-child) {
        margin-top: 45px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(45, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(45, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(45, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(45, 375);
        }
      }
    }

    &_mt47 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 47px, xlg: 47, lg: 47, md: 47, sm: 47));
      }
    }

    &_mt54 {
      &:not(:first-child) {
        margin-top: 54px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(54, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(54, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(54, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(46, 375);
        }
      }
    }

    &_mt70 {
      &:not(:first-child) {
        margin-top: 70px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(70, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(70, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(70, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(60, 375);
        }
      }
    }

    &_mt80 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 80px, xlg: 80, lg: 80, md: 80, sm: 58));
      }
    }

    &_mt82 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 82px, xlg: 82, lg: 113, md: 100, sm: 58));
      }
    }
  }

  &__content {
    display: block;
    width: 100%;
    transition: opacity $ease-main;
    position: relative;

    &.is-disabled {
      opacity: .4;
      pointer-events: none;
    }

    &:not(:first-child) {
      margin-top: 28px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(28, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(28, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(28, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(28, 375);
      }
    }

    &.is-link-inactive {
      &:not(:first-child) {
        margin-top: 28px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(28, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(28, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(28, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(24, 375);
        }
      }
    }

    &_sm-mt12 {
      &:not(:first-child) {
        margin-top: pxtovw(12, 375);
      }
    }

    &_allday {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 45px, xlg: 45, lg: 45, md: 45, sm: 48));
      }
    }

    &_rules {
      position: relative;
      box-sizing: border-box;

      @include rule(padding-bottom, (xl: 41px, xlg: 41, lg: 41, md: 41, sm: 41));
      @include rule(max-width, (xl: 647px, xlg: 647, lg: 647, md: 647));

      @include screen('sm', max, 2) {
        max-width: none;
      }

      &:not(:first-child) {
        @include rule(margin-top, (xl: 32px, xlg: 32, lg: 32, md: 32, sm: 30));
      }

      #{$b}__wrapper {
        &:not(:first-child) {
          @include rule(margin-top, (xl: 30px, xlg: 30, lg: 30, md: 30, sm: 25));
        }
      }

      .button-add {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    &_mt60 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 60px, xlg: 60, lg: 60, md: 60, sm: 60));
      }
    }

    &_mt30 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 30px, xlg: 30, lg: 30, md: 30, sm: 30));
      }
    }

    &_mt40 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 40px, xlg: 40, lg: 40, md: 40, sm: 40));
      }
    }

    &_mt44 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 44px, xlg: 44, lg: 44, md: 44, sm: 30));
      }
    }
  }

  &__header {
    position: relative;
    display: block;
    width: 100%;

    &_tac {
      text-align: center;
    }

    &_sm-tac {
      @include screen('sm', max, 2) {
        text-align: center;
      }
    }

    &_fx {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    font-size: 30px;
    font-family: $font-stolzl;
    font-weight: 500;
    line-height: 1.2;
    user-select: none;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(30, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(30, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(30, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(25, 375);
    }

    &_proxima {
      font-family: $font-main;
    }

    &_fw400 {
      font-weight: 400;
    }

    &_fw700 {
      font-weight: 700;
    }

    &_fz22 {
      font-size: 22px;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(22, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(22, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(22, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(20, 375);
      }
    }

    &_fz18 {
      @include rule(font-size, (xl: 18px, xlg: 18, lg: 18, md: 18, sm: 16));
    }

    &_fz20 {
      @include rule(font-size, (xl: 20px, xlg: 20, lg: 20, md: 20, sm: 17));
    }

    &_fz24 {
      @include rule(font-size, (xl: 24px, xlg: 24, lg: 24, md: 24, sm: 20));
    }

    &_md-fz20 {
      @include rule(font-size, (md: 20, sm: 20));
    }

    &_sm-fz15 {
      @include screen('sm', max, 2) {
        font-size: pxtovw(15, 375);
      }
    }

    &_mb {
      &:not(:last-child) {
        margin-bottom: 10px;

        @include screen('xlg', max, 2) {
          margin-bottom: pxtovw(10, 1660);
        }

        @include screen('lg', max, 2) {
          margin-bottom: pxtovw(10, 1366);
        }

        @include screen('md', max, 2) {
          margin-bottom: pxtovw(10, 960);
        }

        @include screen('sm', max, 2) {
          margin-bottom: pxtovw(10, 375);
        }
      }
    }

    i {
      color: $nd-color-main;
      font-style: normal;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: (26 / 18);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(18, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(18, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(18, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
      line-height: (18 / 15);
    }

    &_sm-fz13 {
      @include screen('sm', max, 2) {
        font-size: pxtovw(13, 375);
        line-height: (19 / 13);
      }
    }

    &_fw700 {
      font-weight: 700;
    }

    &_fw500 {
      font-weight: 500;
    }

    a {
      text-decoration: underline;
      text-underline-offset: 1px;

      &:hover {
        text-decoration: none;
      }
    }

    &:not(:first-child) {
      margin-top: 14px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(14, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(14, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(14, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(38, 375);
      }
    }

    &_mt16 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 16px, xlg: 16, lg: 16, md: 16, sm: 13));
      }
    }

    &_mt23 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 23px, xlg: 23, lg: 23, md: 23, sm: 18));
      }
    }

    &_mt25 {
      &:not(:first-child) {
        margin-top: 25px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(25, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(25, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(25, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(38, 375);
        }
      }
    }

    &_mt30 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 30px, xlg: 30, lg: 30, md: 30, sm: 30));
      }
    }

    &_mt40 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 40px, xlg: 40, lg: 40, md: 40, sm: 40));
      }
    }

    &_mt44 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 44px, xlg: 44, lg: 44, md: 44, sm: 44));
      }
    }

    &_fz17 {
      @include rule(font-size, (xl: 17px, xlg: 17, lg: 17, md: 17, sm: 15));

      line-height: 1.24;

      @include screen('sm', max, 2) {
        line-height: 1.2;
      }
    }

    &_md-fz16 {
      @include screen('md', max, 2) {
        font-size: pxtovw(16, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(15, 375);
      }
    }

    &_sm-fz13 {
      @include screen('sm', max, 2) {
        font-size: pxtovw(13, 375);
      }
    }

    &_indent {
      p {
        &:not(:first-child) {
          @include rule(margin-top, (xl: 26px, xlg: 26, lg: 26, md: 26, sm: 18));
        }
      }
    }
  }

  &__note {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    line-height: (26 / 18);
    font-weight: 400;
    text-align: center;

    @include rule(font-size, (xl: 18px, xlg: 18, lg: 18, md: 18, sm: 15));

    @include screen('sm', max, 2) {
      line-height: (18 / 15);
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 75px, xlg: 75, lg: 75, md: 75, sm: 60));
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;

    &_mt {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 28px, xlg: 28, lg: 28, md: 28, sm:28));
      }
    }
  }

  &__methods {
    display: block;
    width: 100%;
    transition: opacity $ease-main;

    &.is-disabled {
      opacity: .4;
      pointer-events: none;
    }

    .nd-button {
      width: 100%;

      &:not(:first-child) {
        margin-top: 32px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(32, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(32, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(32, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(22, 375);
        }
      }
    }
  }

  &__block {
    display: block;
    width: 100%;

    &:not(:first-child) {
      margin-top: 23px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(23, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(23, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(23, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(22, 375);
      }
    }

    &_mt40 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 40px, xlg: 40, lg: 40, md: 40, sm: 23));
      }
    }

    &_mt86 {
      &:not(:first-child) {
        margin-top: 86px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(86, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(86, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(86, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(50, 375);
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    &:not(:first-child) {
      margin-top: 50px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(50, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(50, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(50, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(36, 375);
      }
    }

    &_mt24 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 24px, xlg: 24, lg: 24, md: 24, sm: 24));
      }
    }

    &_mt34 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 34px, xlg: 34, lg: 34, md: 34, sm: 36));
      }
    }

    &_mt38 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 38px, xlg: 38, lg: 38, md: 38, sm: 36));
      }
    }

    &_mt43 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 43px, xlg: 43, lg: 43, md: 43, sm: 43));
      }
    }

    &_mt45 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 45px, xlg: 45, lg: 45, md: 45, sm: 45));
      }
    }

    &_fxc {
      justify-content: center;
    }

    &_fxe {
      justify-content: flex-end;
    }
  }

  &__button {
    &_wide {
      width: 100%;
    }

    &_equal {
      flex: 1;
      width: auto;

      @include screen('sm', max, 2) {
        flex: none;
        width: 100%;
      }

      &:not(:first-child) {
        @include rule(margin-left, (xl: 44px, xlg: 44, lg: 44, md: 44, sm: 0));
        @include rule(margin-top, (sm: 20));
      }
    }

    &_mw228 {
      @include rule(min-width, (xl: 228px, xlg: 228, lg: 228, md: 228, sm: 180));
    }

    &_mw303 {
      @include rule(min-width, (xl: 303px, xlg: 303, lg: 303, md: 303, sm: 180));
    }

    &_mw320 {
      @include rule(min-width, (xl: 320px, xlg: 320, lg: 320, md: 320, sm: 180));
    }
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 17px;
    line-height: 1.2;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(17, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(17, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(17, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
    }

    &:not(:first-child) {
      margin-top: 23px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(23, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(23, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(23, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(23, 375);
      }
    }
  }

  &__link {
    &_fz16 {
      line-height: (19 / 16);

      @include rule(font-size, (xl: 16px, xlg: 16, lg: 16, md: 16, sm: 16));
    }

    &_stolzl {
      font-family: $font-stolzl;
    }
  }

  &__checklist {
    display: flex;
    justify-content: space-between;
    margin: 0 -6px;
    width: calc(100% + 12px);
    flex-wrap: wrap;
    box-sizing: border-box;

    @include screen('xlg', max, 2) {
      margin: 0 pxtovw(-6, 1660);
      width: calc(100% + ((1200 / 1660) * 1vw));
    }

    @include screen('lg', max, 2) {
      margin: 0 pxtovw(-6, 1366);
      width: calc(100% + ((1200 / 1366) * 1vw));
    }

    @include screen('md', max, 2) {
      margin: 0 pxtovw(-6, 960);
      width: calc(100% + ((1200 / 960) * 1vw));
    }

    @include screen('sm', max, 2) {
      margin: 0 pxtovw(-4, 375);
      width: calc(100% + ((800 / 375) * 1vw));
    }

    &_compress {
      margin: 0 -7px;
      width: calc(100% + 14px);

      @include screen('xlg', max, 2) {
        margin: 0 pxtovw(-7, 1660);
        width: calc(100% + ((1400 / 1660) * 1vw));
      }

      @include screen('lg', max, 2) {
        margin: 0 pxtovw(-7, 1366);
        width: calc(100% + ((1400 / 1366) * 1vw));
      }

      @include screen('md', max, 2) {
        margin: 0 pxtovw(-7, 960);
        width: calc(100% + ((1400 / 960) * 1vw));
      }

      @include screen('sm', max, 2) {
        margin: 0 pxtovw(-7, 375);
        width: calc(100% + ((1400 / 375) * 1vw));
      }

      &::after {
        display: inline-block;
        content: '';
        flex: 10;
      }
    }

    & + & {
      position: relative;
      margin-top: 19px;
      padding-top: 26px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(19, 1660);
        padding-top: pxtovw(26, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(19, 1366);
        padding-top: pxtovw(26, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(19, 960);
        padding-top: pxtovw(26, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(19, 375);
        padding-top: pxtovw(24, 375);
      }

      &::before {
        @include pseudo;

        width: calc(100% - 12px);
        top: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        border-top: 1px solid $nd-color-border3;

        @include screen('xlg', max, 2) {
          width: calc(100% - ((1200 / 1660) * 1vw));
        }

        @include screen('lg', max, 2) {
          width: calc(100% - ((1200 / 1366) * 1vw));
        }

        @include screen('md', max, 2) {
          width: calc(100% - ((1200 / 960) * 1vw));
        }

        @include screen('sm', max, 2) {
          width: calc(100% - ((800 / 375) * 1vw));
        }
      }
    }

    .loader {
      position: relative;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      align-self: center;
      margin: 0 auto;
    }
  }

  &__check {
    margin: 7px 6px;
    flex: 1;

    @include screen('xlg', max, 2) {
      margin: pxtovw(7, 1660) pxtovw(6, 1660);
    }

    @include screen('lg', max, 2) {
      margin: pxtovw(7, 1366) pxtovw(6, 1366);
    }

    @include screen('md', max, 2) {
      margin: pxtovw(7, 960) pxtovw(6, 960);
    }

    @include screen('sm', max, 2) {
      margin: pxtovw(7, 375) pxtovw(4, 375);
    }

    #{$b}__checklist_compress & {
      margin: 7px;

      @include screen('xlg', max, 2) {
        margin: pxtovw(7, 1660);
      }

      @include screen('lg', max, 2) {
        margin: pxtovw(7, 1366);
      }

      @include screen('md', max, 2) {
        margin: pxtovw(7, 960);
      }

      @include screen('sm', max, 2) {
        margin: pxtovw(7, 375);
      }
    }
  }

  &__interval {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;

    @include rule(max-width, (xl: 555px, xlg: 555, lg: 555, md: 555));

    @include screen('sm', max, 2) {
      max-width: none;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 41px, xlg: 41, lg: 41, md: 41, sm: 28));
    }

    &.is-not-allowed {
      opacity: .3;
      pointer-events: none;
    }

    #{$b}__wrapper {
      flex: 1;
      width: auto;

      @include screen('sm', max, 2) {
        flex: none;
        width: 100%;
      }

      &:not(:first-child) {
        @include rule(margin-top, (sm: 25));
      }
    }
  }

  &__interval-divider {
    display: flex;
    justify-content: center;
    align-items: center;

    @include rule(height, (xl: 50px, xlg: 50, lg: 50, md: 50, sm: 40));
    @include rule(width, (xl: 35px,xlg: 35, lg: 35, md: 35, sm: 0));

    @include screen('sm', max, 2) {
      display: none;
    }

    &::before {
      display: block;
      content: '';
      background-color: $nd-color-basic;

      @include rule(height, (xl: 2px, xlg: 2, lg: 2, md: 2, sm: 2));
      @include rule(width, (xl: 11px, xlg: 11, lg: 11, md: 11, sm: 11));
    }
  }

  &__table {
    &:not(:first-child) {
      margin-top: 26px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(26, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(26, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(26, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(20, 375);
      }
    }

    &_mt58 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 58px, xlg: 58, lg: 58, md: 30, sm: 30));
      }
    }
  }

  &__row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    &:not(:first-child) {
      margin-top: 40px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(40, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(40, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(40, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(23, 375);
      }
    }

    &_mt38 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 38px, xlg: 38, lg: 38, md: 38, sm: 23));
      }
    }

    #{$b}__wrapper {
      flex: 1;

      &:not(:first-child) {
        margin-left: 25px;

        @include screen('xlg', max, 2) {
          margin-left: pxtovw(25, 1660);
        }

        @include screen('lg', max, 2) {
          margin-left: pxtovw(25, 1366);
        }

        @include screen('md', max, 2) {
          margin-left: pxtovw(25, 960);
        }

        @include screen('sm', max, 2) {
          margin-left: pxtovw(25, 375);
        }
      }

      &_w144 {
        flex: none;

        @include rule(width, (xl: 144px, xlg: 144, lg: 144, md: 144, sm: 144));
      }

      &_w118 {
        flex: none;

        @include rule(width, (xl: 118px, xlg: 118, lg: 118, md: 118, sm: 118));
      }

      &_md-wide {
        @include screen('md', max, 2) {
          flex: none;
          width: 100%;
        }

        & + #{$b}__wrapper {
          &:not(:first-child) {
            @include screen('md', max, 2) {
              margin-left: 0;
              margin-top: pxtovw(30, 960);
            }

            @include screen('sm', max, 2) {
              margin-top: pxtovw(23, 375);
            }
          }
        }
      }
    }
  }

  &__range-block {
    display: block;
    width: 100%;

    @include screen('sm', max, 2) {
      position: relative;
    }

    &_active {
      .is-link-inactive & {
        display: none;

        @include screen('sm', max, 2) {
          z-index: 0;
          display: block;
        }
      }
    }

    &_inactive {
      @include screen('sm', max, 2) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .93);
        z-index: 2;
      }

      .is-link-active & {
        display: none;
      }
    }

    #{$b}__button {
      min-width: 200px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(200, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(200, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(200, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(210, 375);
      }

      &:not(:first-child) {
        margin-top: 40px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(40, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(40, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(40, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(30, 375);
        }
      }
    }
  }

  &__facilities {
    &:not(:first-child) {
      @include rule(margin-top, (xl: 60px, xlg: 60, lg: 12, md: 15, sm: 13));
    }

    &_mt10 {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 10px, xlg: 10, lg: 14, md: 10, sm: 10));
      }
    }
  }

  &__counter {
    display: inline-block;
    text-align: right;
    line-height: (21 / 17);
    font-weight: 500;

    @include rule(font-size, (xl: 17px, xlg: 17, lg: 17, md: 17, sm: 17));

    i {
      font-style: normal;
      color: $nd-color-main;
    }

    &:not(:first-child) {
      @include rule(margin-left, (xl: 10px, xlg: 10, lg: 14, md: 10, sm: 10));
    }
  }

  &__upload-area {
    width: 100%;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 42px, xlg: 42, lg: 38, md: 38, sm: 44));
    }
  }

  &__note {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;

    .nd-link {
      font-weight: 600;

      @include rule(margin-left, (xl: 4px, xlg: 4, lg: 4, md: 4, sm: 4));
    }
  }

  &__tile-links {
    display: block;

    .tile-link {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 23px, xlg: 23, lg: 23, md: 23, sm: 20));
      }
    }
  }

  &_app {
    display: block;
    box-sizing: border-box;
    background-color: #fff;
    padding: 51px 40px 140px;

    @include rule(margin-top, (sm: 30));
    @include rule(border-radius, (xl: 3px, xlg: 3, lg: 3, md: 3, sm: 3));

    @include screen('xlg', max, 2) {
      padding: pxtovw(51, 1660) pxtovw(40, 1660) pxtovw(140, 1660);
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(54, 1366) pxtovw(42, 1366) pxtovw(67, 1366);
    }

    @include screen('md', max, 2) {
      padding: pxtovw(54, 960) pxtovw(42, 960) pxtovw(67, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(28, 375) pxtovw(18, 375) pxtovw(36, 375);
    }

    &_pb62 {
      @include rule(padding-bottom, (xl: 62px, xlg: 62, lg: 62, md: 62, sm: 42));
    }

    &_pb80 {
      @include rule(padding-bottom, (xl: 80px, xlg: 80, lg: 87, md: 87, sm: 42));
    }

    &_pb118 {
      @include rule(padding-bottom, (xl: 118px, xlg: 118, lg: 77, md: 64, sm: 47));
    }

    &_mod {
      @include rule(padding-top, (xl: 55px, xlg: 55, lg: 52, md: 52, sm: 32));
      @include rule(padding-bottom, (xl: 64px, xlg: 64, lg: 48, md: 40, sm: 40));
    }

    &_pd0 {
      padding: 0;
    }

    #{$b} {
      &__content {
        &:not(:first-child) {
          @include rule(margin-top, (xl: 17px, xlg: 17, lg: 17, md: 17, sm: 40));
        }

        &_mt32 {
          &:not(:first-child) {
            @include rule(margin-top, (xl: 32px, xlg: 32, lg: 32, md: 32, sm: 30));
          }
        }

        &_allday {
          &:not(:first-child) {
            @include rule(margin-top, (xl: 48px, xlg: 48, lg: 48, md: 46, sm: 54));
          }
        }

        &_rules {
          &:not(:first-child) {
            @include rule(margin-top, (xl: 35px, xlg: 35, lg: 35, md: 35, sm: 28));
          }
        }
      }
    }

    &:last-child {
      @include rule(margin-bottom, (xl: 200px, xlg: 200, lg: 150, md: 100, sm: 100));
    }
  }
}
