.cover {
  $b: &;

  display: block;
  width: 100%;
  box-sizing: border-box;

  @include rule(padding-top, (xl: 30px, xlg: 30, lg: 52, md: 43, sm: 4));

  &:last-child {
    @include rule(margin-bottom, (xl: 150px, xlg: 150, lg: 130, md: 130, sm: 80));
  }

  .nd-container {
    display: flex;
    justify-content: flex-start;

    @include rule(padding-left, (xl: 290px, xlg: 158, lg: 158, md: 50, sm: 20));
    @include rule(padding-right, (xl: 290px, xlg: 158, lg: 158, md: 50, sm: 20));

    @include screen('sm', max, 2) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    display: block;
    flex: none;

    @include rule(width, (xl: 495px, xlg: 495, lg: 410, md: 350));

    @include screen('sm', max, 2) {
      width: 100%;
    }

    &:not(:last-child) {
      @include rule(margin-right, (xl: 50px, xlg: 50, lg: 20, md: 20, sm: 0));
    }
  }

  &__title {
    display: block;
    width: 100%;
    font-family: $font-stolzl;
    font-weight: 500;
    line-height: 1.2;

    @include rule(font-size, (xl: 30px, xlg: 30, lg: 30, md: 30, sm: 30));

    @include screen('sm', max, 2) {
      text-align: center;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 86px, xlg: 86, lg: 88, md: 60, sm: 16));
    }
  }

  &__text {
    display: block;
    width: 100%;
    line-height: 2;

    @include rule(font-size, (xl: 18px, xlg: 18, lg: 18, md: 16, sm: 15));

    @include screen('md', max, 2) {
      line-height: 1.3;
    }

    @include screen('sm', max, 2) {
      text-align: center;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 50px, xlg: 50, lg: 50, md: 40, sm: 23));
    }

    b {
      font-weight: 700;
    }

    a {
      display: inline;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    ul {
      display: block;
      width: 100%;
      text-align: left;

      &:not(:first-child) {
        @include rule(margin-top, (xl: 41px, xlg: 41, lg: 41, md: 52, sm: 36));
      }

      li {
        display: block;

        &:not(:first-child) {
          @include screen('md', max, 2) {
            margin-top: 1em;
          }

          @include screen('sm', max, 2) {
            margin-top: 1.15em;
          }
        }

        &::before {
          display: inline-block;
          content: '';
          vertical-align: middle;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-image: url("data:image/svg+xml,%3Csvg width='5' height='5' viewBox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.5' cy='2.5' r='2.5' fill='%230085FF'/%3E%3C/svg%3E%0A");
          background-size: 100% auto;

          @include rule(width, (xl: 5px, xlg: 5, lg: 5, md: 5, sm: 5));
          @include rule(height, (xl: 5px, xlg: 5, lg: 5, md: 5, sm: 5));
          @include rule(margin-right, (xl: 12px, xlg: 12, lg: 12, md: 12, sm: 12));
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 70px, xlg: 70, lg: 70, md: 76, sm: 38));
    }
  }

  &__button {
    @include rule(min-width, (xl: 312px, xlg: 312, lg: 312));

    @include screen('md', max, 2) {
      min-width: 0;
      width: 100%;
    }
  }

  &__media {
    display: block;
    flex: 1;

    @include screen('sm', max, 2) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__image {
    display: block;
    flex: none;

    @include rule(margin-left, (xl: -21px, xlg: -21, lg: -74, md: -8, sm: 0));
    @include rule(margin-right, (xl: -128px, xlg: -128, lg: -172, md: -72, sm: 0));
    @include rule(margin-top, (xl: 8px, xlg: 8, lg: -28, md: 4, sm: 0));

    @include screen('sm', max, 2) {
      width: pxtovw(296, 375);
    }

    img {
      width: 100%;
    }
  }
}
