mixin cover()
  +b.SECTION.cover&attributes(attributes)
    .nd-container
      +e.content
        block
      +e.media
        +e.PICTURE.image
          source(srcset="assets/images/nd/add-space-lead-mobile.jpg" media="(max-width: 767px)")
          source(srcset="assets/images/nd/add-space-lead.jpg" media="(min-width: 768px)")
          img(srcset="assets/images/nd/add-space-lead.jpg")
