mixin routes()
  +b.TABLE.routes&attributes(attributes)
    tbody
      +e.TR.row
        +e.TD.cell
          +e.content
            +e.SPAN.icon_place
              +e.IMG(src="assets/images/nd/nd-subway.svg")
            +e.name Liverpool Street
        +e.TD.cell
          +e.content
            +e.name 10 mins
            +e.icon_time
              +icon('man')
      +e.TR.row
        +e.TD.cell
          +e.content
            +e.SPAN.icon_place
              +e.IMG(src="assets/images/nd/nd-bus.svg")
            +e.name Shoreditch High Street Station
        +e.TD.cell
          +e.content
            +e.name 10 mins
            +e.icon_time
              +icon('man')
      +e.TR.row
        +e.TD.cell
          +e.content
            +e.SPAN.icon_place
              +e.IMG(src="assets/images/nd/nd-plane.svg")
            +e.name City
        +e.TD.cell
          +e.content
            +e.name 10 mins
            +e.icon_time
              +icon('car')
      +e.TR.row
        +e.TD.cell
          +e.content
            +e.SPAN.icon_place
              +e.IMG(src="assets/images/nd/nd-plane.svg")
            +e.name Standsted
        +e.TD.cell
          +e.content
            +e.name 10 mins
            +e.icon_time
              +icon('car')
      +e.TR.row
        +e.TD.cell
          +e.content
            +e.SPAN.icon_place
              +e.IMG(src="assets/images/nd/nd-plane.svg")
            +e.name Heathrow
        +e.TD.cell
          +e.content
            +e.name 10 mins
            +e.icon_time
              +icon('car')
      +e.TR.row
        +e.TD.cell
          +e.content
            +e.SPAN.icon_place
              +e.IMG(src="assets/images/nd/nd-plane.svg")
            +e.name Heathrow
        +e.TD.cell
          +e.content
            +e.name 10 mins
            +e.icon_time
              +icon('car')
