mixin routes()
  +b.TABLE.routes&attributes(attributes)
    tbody
      +e.TR.row
        +e.TD.cell
          +e.content
            +e.SPAN.icon_place
              +e.IMG(src="assets/images/nd/nd-subway.svg")
            +e.name Liverpool Street
        +e.TD.cell
          +e.content
            +e.name 10 mins
            +e.icon_time
              +icon('man')
      +e.TR.row
        +e.TD.cell
          +e.content
            +e.SPAN.icon_place
              +e.IMG(src="assets/images/nd/nd-bus.svg")
            +e.name Shoreditch High Street Station
        +e.TD.cell
          +e.content
            +e.name 10 mins
            +e.icon_time
              +icon('man')
      +e.TR.row
        +e.TD.cell
          +e.content
            +e.SPAN.icon_place
              +e.IMG(src="assets/images/nd/nd-plane.svg")
            +e.name City
        +e.TD.cell
          +e.content
            +e.name 10 mins
            +e.icon_time
              +icon('car')
      +e.TR.row
        +e.TD.cell
          +e.content
            +e.SPAN.icon_place
              +e.IMG(src="assets/images/nd/nd-plane.svg")
            +e.name Standsted
        +e.TD.cell
          +e.content
            +e.name 10 mins
            +e.icon_time
              +icon('car')
      +e.TR.row
        +e.TD.cell
          +e.content
            +e.SPAN.icon_place
              +e.IMG(src="assets/images/nd/nd-plane.svg")
            +e.name Heathrow
        +e.TD.cell
          +e.content
            +e.name 10 mins
            +e.icon_time
              +icon('car')
      +e.TR.row
        +e.TD.cell
          +e.content
            +e.SPAN.icon_place
              +e.IMG(src="assets/images/nd/nd-plane.svg")
            +e.name Heathrow
        +e.TD.cell
          +e.content
            +e.name 10 mins
            +e.icon_time
              +icon('car')


mixin routes-v2(offer)
  +b.SECTION.routes-v2&attributes(attributes)
    +e.TABLE.table
      tbody
        +e.TR.row
          +e.TD.location
            +e.SPAN.icon
              +e.IMG(src="assets/images/nd/nd-subway.svg")
            +e.name Liverpool Street
          +e.TD.time 7 min
        +e.TR.row
          +e.TD.location
            +e.SPAN.icon
              +e.IMG(src="assets/images/nd/nd-subway.svg")
            +e.name Tottenhamm Cour Road
          +e.TD.time 8 min
        +e.TR.row
          +e.TD.location
            +e.SPAN.icon
              +e.IMG(src="assets/images/nd/nd-subway.svg")
            +e.name Goodge street
          +e.TD.time 9 min

    if !offer
      +e.TABLE.table
        tbody
          +e.TR.row
            +e.TD.location
              +e.SPAN.icon
                +e.IMG(src="assets/images/nd/nd-bus.svg")
              +e.name Shoreditch High Street
            +e.TD.time 9 min
          +e.TR.row
            +e.TD.location
              +e.SPAN.icon
                +e.IMG(src="assets/images/nd/nd-plane.svg")
              +e.name City
            +e.TD.time 9 min
