.content {
  $b: &;

  display: block;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 125px;

    @include screen('lg') {
      margin-bottom: 80px;
    }

    @include screen('sm') {
      margin-bottom: 36px;
    }
  }

  .container {
    display: flex;
    align-items: stretch;
  }

  &__column {

    &_main {
      flex: 1;
      box-sizing: border-box;
      padding-right: 50px;
      padding-top: 26px;

      @include screen('lg') {
        width: 100%;
        padding-right: 0;
      }

      @include screen('sm') {
        padding-top: 24px;
      }
    }

    &_aside {
      width: 368px;
      min-width: 368px;
    }
  }
}
