.content {
  $b: &;

  display: block;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 125px;

    @include screen('md') {
      margin-bottom: 80px;
    }

    @include screen('sm') {
      margin-bottom: 36px;
    }
  }

  .container {
    display: flex;
    align-items: stretch;

    #{$b}_reverse & {
      display: block;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 50px);
    margin-left: -25px;
    margin-right: -25px;

    @include screen('md') {
      width: calc(100% + 30px);
      margin-right: -15px;
      margin-left: -15px;
    }

    @include screen('sm') {
      width: calc(100% + 10px);
      margin-right: -5px;
      margin-left: -5px;
    }

    &_lg {
      @include screen('lg') {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
      }

      @include screen('md') {
        width: calc(100% + 30px);
        margin-right: -15px;
        margin-left: -15px;
      }

      @include screen('sm') {
        width: calc(100% + 10px);
        margin-right: -5px;
        margin-left: -5px;
      }
    }
  }

  &__column {
    box-sizing: border-box;

    &_main {
      width: 65.5%;
      // flex: 1;
      box-sizing: border-box;
      padding-right: 50px;
      padding-top: 26px;

      @include screen('md') {
        width: 100%;
        padding-right: 0;
      }

      @include screen('sm') {
        padding-top: 24px;
      }

      #{$b}_reverse & {
        width: 75%;
        flex: none;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 38px;

        @include screen('lg') {
          width: 100%;
        }

        @include screen('md') {
          padding-left: 15px;
          padding-right: 15px;
        }

        @include screen('sm') {
          padding-top: 32px;
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      #{$b}_wide-lg & {
        @include screen('lg') {
          width: 75%;
        }

        @include screen('md') {
          width: 100%;
        }
      }

      &#{$b}__column_ptop-small {
        padding-top: 9px;

        @include screen('md') {
          padding-top: 0;
        }
      }

      &#{$b}__column_ptp34 {
        padding-top: 34px;

        @include screen('lg') {
          padding-top: 40px;
        }

        @include screen('sm') {
          padding-top: 10px;
        }
      }

      &#{$b}__column_ptp33 {
        padding-top: 33px;

        @include screen('lg') {
          padding-top: 30px;
        }
      }
    }

    &_aside {
      width: 34.5%; // width: 368px;
      z-index: 3;
      // min-width: 368px;

      #{$b}_reverse & {
        min-width: 0;
        width: 25%;
        padding-left: 25px;
        padding-right: 25px;

        @include screen('lg') {
          width: 100%;
          margin-bottom: 104px;
        }

        @include screen('md') {
          padding-left: 15px;
          padding-right: 15px;
        }

        @include screen('sm') {
          padding-left: 5px;
          padding-right: 5px;
          margin-bottom: 34px;
        }
      }

      #{$b}_wide-lg & {
        @include screen('lg') {
          width: 25%;
          margin-bottom: 0;
        }

        @include screen('md') {
          width: 100%;
          margin-bottom: 104px;
        }

        @include screen('sm') {
          margin-bottom: 34px;
        }
      }

      #{$b}_reverse#{$b}_mid-pad & {
        @include screen('lg') {
          margin-bottom: 60px;
        }

        @include screen('sm') {
          margin-bottom: 34px;
        }
      }

      #{$b}_wide-lg#{$b}_mid-pad & {
        @include screen('md') {
          margin-bottom: 60px;
        }

        @include screen('sm') {
          margin-bottom: 34px;
        }
      }
    }

    &_stretch {
      display: block;
      padding-left: 25px;
      padding-right: 25px;
      flex: 1;

      @include screen('md') {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        flex: none;
      }

      @include screen('sm') {
        padding-left: 5px;
        padding-right: 5px;
      }

      #{$b}__wrapper_lg & {
        @include screen('lg') {
          padding-left: 20px;
          padding-right: 20px;
        }

        @include screen('md') {
          padding-left: 15px;
          padding-right: 15px;
        }

        @include screen('sm') {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }

    &_map {
      width: 41.67%;
      padding-left: 25px;
      padding-right: 25px;

      @include screen('lg') {
        width: 36.8%;
      }

      @include screen('md') {
        padding-left: 0;
        padding-right: 0;
      }

      #{$b}__wrapper_lg & {
        @include screen('lg') {
          padding-left: 20px;
          padding-right: 20px;
        }

        @include screen('md') {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    &_ptop {
      padding-top: 110px;
    }

    &_no-ptop {
      padding-top: 0;

      #{$b}_reverse & {
        padding-top: 0;
      }
    }

    &_ptop-small {
      padding-top: 9px;

      @include screen('md') {
        padding-top: 0;
      }
    }

    &_flex {
      display: flex;
      flex-wrap: wrap;
    }

    #{$b}_reverse &_sml-pad {
      @include screen('lg') {
        margin-bottom: 18px;
      }

      @include screen('sm') {
        margin-bottom: 0;
      }
    }

    #{$b}_wide-lg &_sml-pad {
      @include screen('md') {
        margin-bottom: 18px;
      }

      @include screen('sm') {
        margin-bottom: 0;
      }
    }
  }

  &__filter {
    &:not(:last-child) {
      margin-bottom: 57px;
    }
  }

  &_last {
    padding-bottom: 104px;

    @include screen('md') {
      padding-bottom: 80px;
    }

    @include screen('sm') {
      padding-bottom: 70px;
    }
  }

  &_top-mg {
    margin-top: 31px;

    @include screen('md') {
      margin-top: 46px;
    }

    @include screen('sm') {
      margin-top: 10px;
    }
  }

  &_heading {
    margin-top: 44px;

    @include screen('lg') {
      margin-top: 0;
    }
  }

  &_mt40 {
    margin-top: 40px;

    @include screen('lg') {
      margin-top: 20px;
    }
  }

  &_mt64 {
    margin-top: 64px;

    @include screen('lg') {
      margin-top: 30px;
    }
  }

  &_reverse {

    .container {
      display: block;
    }
  }

  &_landing {
    padding-top: 56px;
    padding-bottom: 140px;

    @include screen('lg') {
      padding-top: 50px;
    }

    @include screen('md') {
      padding-top: 0;
      padding-bottom: 90px;
      border-top: 1px solid $color-border-light;
    }

    @include screen('sm') {
      padding-bottom: 63px;
    }
  }
}
