mixin content()
  +b.SECTION.content&attributes(attributes)
    .container.container_content
      +e.column_main
        block
      +e.column_aside.hide-md(data-sticky-parent)
        +scroll-form

mixin content-v2()
  +b.SECTION.content&attributes(attributes)
    .container.container_content
      +e.column_main
        block
      +e.column_aside.hide-md(data-sticky-parent)
        +scroll-form-v2

mixin content-origin()
  +b.SECTION.content&attributes(attributes)
    block

mixin content-column-main()
  +e.column_main&attributes(attributes)
    block

mixin content-column-aside()
  +e.column_aside&attributes(attributes)(data-sticky-parent)
    block
