.nd-content {
  $b: &;

  display: block;
  width: 100%;

  .nd-container {
    @include display-grid;
    @include grid-template-columns(368px 50px calc(100% - 418px));
    @include grid-template-rows(auto);

    @include screen('xlg', max, 2) {
      @include grid-template-columns(pxtovw(368, 1660) pxtovw(50, 1660) pxtovw(1122, 1660));
    }

    @include screen('lg', max, 2) {
      @include grid-template-columns(pxtovw(301, 1366) pxtovw(20, 1366) pxtovw(945, 1366));
    }

    @include screen('md', max, 2) {
      @include grid-template-columns(100%);
      @include grid-template-rows(auto auto);
    }
  }

  &_space .nd-container {
    @include grid-template-columns(calc(100% - 468px) 50px 418px);
    @include grid-template-rows(auto auto);

    @include screen('xlg', max, 2) {
      @include grid-template-columns(pxtovw(1108, 1660) pxtovw(50, 1660) pxtovw(382, 1660));
    }

    @include screen('lg', max, 2) {
      @include grid-template-columns(pxtovw(838, 1366) pxtovw(46, 1366) pxtovw(382, 1366));
    }

    @include screen('md', max, 2) {
      @include grid-template-columns(100%);
      @include grid-template-rows(auto auto auto);
    }
  }

  &_map .nd-container {
    @include grid-template-columns(calc(100% - 695px) 50px 645px);
    @include grid-template-rows(auto auto);

    @include screen('xlg', max, 2) {
      @include grid-template-columns(pxtovw(845, 1660) pxtovw(50, 1660) pxtovw(645, 1660));
    }

    @include screen('lg', max, 2) {
      @include grid-template-columns(pxtovw(837, 1366) pxtovw(20, 1366) pxtovw(409, 1366));
    }

    @include screen('md', max, 2) {
      @include grid-template-columns(100%);
      @include grid-template-rows(auto auto auto);
    }
  }

  .is-search-by-offer-type &_map .nd-container {
    @include grid-template-columns(calc(50% - 25px) 50px calc(50% - 25px));
    @include grid-template-rows(auto auto);

    @include screen('xlg', max, 2) {
      @include grid-template-columns(pxtovw(745, 1660) pxtovw(50, 1660) pxtovw(745, 1660));
    }

    @include screen('lg', max, 2) {
      @include grid-template-columns(pxtovw(787, 1366) pxtovw(40, 1366) pxtovw(439, 1366));
    }

    @include screen('md', max, 2) {
      @include grid-template-columns(100%);
      @include grid-template-rows(auto auto auto);
    }
  }

  &__column {
    &_aside {
      @include grid-column(1, 2);
      @include grid-row(1, 2);

      @include screen('md', max, 2) {
        @include grid-row(1, 2);
      }
    }

    &_main {
      @include grid-column(3, 4);
      @include grid-row(1, 2);

      @include screen('md', max, 2) {
        @include grid-column(1, 2);
        @include grid-row(2, 3);
      }

      // .nd-page_chat & {
      //   position: relative;
      // }
    }

    #{$b}_map & {
      &_main {
        @include grid-column(1, 2);
        @include grid-row(1, 2);

        will-change: width;

        @include screen('md', max, 2) {
          @include grid-row(2, 3);
        }

        .is-search-map-hide & {
          @include grid-column(1, 4);

          @include screen('md', max, 2) {
            @include grid-column(1, 2);
          }
        }
      }

      &_aside {
        @include grid-column(3, 4);
        @include grid-row(1, 2);

        @include screen('lg', max, 2) {
          @include grid-row(1, 3);
        }

        @include screen('md', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(1, 2);
        }
      }
    }

    #{$b}_space & {
      &_main {
        @include grid-column(1, 2);
        @include grid-row(1, 2);

        padding-left: 96px;
        padding-bottom: 142px;

        @include screen('xlg', max, 2) {
          padding-left: pxtovw(96, 1660);
          padding-bottom: pxtovw(142, 1660);
        }

        @include screen('lg', max, 2) {
          padding-left: 0;
          padding-bottom: 0;
        }

        @include screen('md', max, 2) {
          @include grid-row(2, 3);
        }
      }

      &_aside {
        @include grid-column(3, 4);
        @include grid-row(1, 2);

        @include screen('lg', max, 2) {
          @include grid-row(1, 3);
        }

        @include screen('md', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(1, 2);
        }
      }

      &_footer {
        @include grid-column(1, 4);
        @include grid-row(2, 3);

        margin: 0 -45px;
        width: calc(100% + 90px);

        @include screen('xl', max, 2) {
          margin: 0;
          width: 100%;
        }

        @include screen('lg', max, 2) {
          @include grid-column(1, 2);
        }

        @include screen('md', max, 2) {
          @include grid-row(3, 4);
        }

        &:not(:first-child) {
          @include screen('lg', max, 2) {
            margin-top: pxtovw(127, 1366);
          }

          @include screen('md', max, 2) {
            margin-top: pxtovw(77, 960);
          }

          @include screen('sm', max, 2) {
            margin-top: pxtovw(90, 375);
          }
        }
      }
    }
  }

  &__person {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;

    @include screen('sm', max, 2) {
      justify-content: flex-start;
    }

    &:not(:first-child) {
      @include screen('md', max, 2) {
        margin-top: pxtovw(34, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(28, 375);
      }
    }
  }
}
