mixin nd-content()
  +b.SECTION.nd-content&attributes(attributes)
    block

mixin nd-content-main()
  +e.column_main&attributes(attributes)
    block

mixin nd-content-aside()
  +e.column_aside&attributes(attributes)(data-sticky-parent)
    block
