mixin space-short(tag)
  +b(tag || 'section').space-short&attributes(attributes)
    block

mixin space-short-side()
  +e.DIV.side&attributes(attributes)
    block

mixin space-short-info()
  +e.DIV.info&attributes(attributes)
    block

mixin space-short-content()
  +e.DIV.content&attributes(attributes)
    block

mixin space-short-title(tag)
  +e(tag || 'h3').title&attributes(attributes)
    block

mixin space-short-text()
  +e.DIV.text&attributes(attributes)
    block

mixin space-short-offers()
  +e.DIV.offers&attributes(attributes)
    block

mixin space-short-media()
  +e.DIV.media&attributes(attributes)
    block
