mixin offer-counters(factor, counter, color)
  +b.offer-counters&attributes(attributes)
    +factor.__factor!= factor
    +e.head
      block
    +indicator()(class=color + " _small __count")!= counter
