mixin notification()
  +b.ARTICLE.notification&attributes(attributes)
    +e.marker
    block

mixin notification-head(name, title)
  +e.SECTION.head&attributes(attributes)
    if name
      +e.name!= name
    if title
      +e.title!= title
    +e.target
      block

mixin notification-content()
  +e.SECTION.content&attributes(attributes)
    block

mixin notification-text()
  +e.DIV.text&attributes(attributes)
    block

mixin notification-footer()
  +e.SECTION.footer&attributes(attributes)
    block

mixin notification-title()
  +e.H3.title&attributes(attributes)
    block

mixin notification-timer(name)
    +timer(name).__timer&attributes(attributes)

mixin notification-time(start, startISO, end, endISO)
  +time(start, startISO, end, endISO).__time&attributes(attributes)

mixin notification-buttons()
    +e.DIV.buttons&attributes(attributes)
      block
      //- +button()._border._border_bg-white._short.__button!=data.buttons[0].name
      //- +button()._short.__button!=data.buttons[1].name
