mixin notification(tag)
  +b(tag || 'article').notification&attributes(attributes)
    +e.marker
    block

mixin notification-head(name, title, titleSmall)
  - var addClass = '';
  - if (title) {addClass = '_spd'}
  +e.SECTION.head(class=addClass)&attributes(attributes)
    if name
      +e.name!= name
    if title
      +e.title!= title
    if titleSmall
      +e.title_fz29!=titleSmall
    +e.target
      block

mixin notification-header()
  +e.SECTION.header&attributes(attributes)
    block

mixin notification-content()
  +e.SECTION.content&attributes(attributes)
    block

mixin notification-text()
  +e.DIV.text&attributes(attributes)
    block

mixin notification-footer()
  +e.SECTION.footer&attributes(attributes)
    block

mixin notification-title()
  +e.H3.title&attributes(attributes)
    block

mixin notification-timer(name)
    +timer(name).__timer&attributes(attributes)

mixin notification-timer2(name)
    +timer-other(name).__timer&attributes(attributes)
      block

mixin notification-time(start, startISO, end, endISO)
  +time-big(start, startISO, end, endISO).__time&attributes(attributes)

mixin notification-time-small(start, startISO, end, endISO, color)
  +time(start, startISO, end, endISO, color)._sb.__time&attributes(attributes)

mixin notification-buttons()
    +e.DIV.buttons&attributes(attributes)
      block
      //- +button()._border._border_bg-white._short.__button!=data.buttons[0].name
      //- +button()._short.__button!=data.buttons[1].name

mixin notification-table()
  +e.TABLE.table&attributes(attributes)
    block
