.modal {
  $b: &;

  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 25;

  @include rule(
    padding-bottom,
    (
      xl: 10px,
      xlg: 10,
      lg: 10,
      md: 10,
      sm: 0,
    )
  );

  @include screen("sm", max, 2) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.is-opened,
  &.is-animated {
    visibility: visible;
    pointer-events: auto;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity $ease-main;
    background-color: rgba($color-overlay, 0.2);

    .is-opened & {
      @include screen("sm", max, 2) {
        opacity: 1;
      }
    }
  }

  &__wrapper {
    position: relative;
    background-color: $nd-color-basic-light;
    color: $nd-color-basic;
    transition: opacity $ease-main, transform $ease-main;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.13), 0 0 4px rgba(56, 58, 68, 0.09);
    box-sizing: border-box;
    will-change: opacity;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    z-index: 2;

    @include rule(
      margin-top,
      (
        xl: 10px,
        xlg: 10,
        lg: 10,
        md: 10,
        sm: 0,
      )
    );
    @include rule(
      width,
      (
        xl: 478px,
        xlg: 478,
        lg: 478,
        md: 478,
      )
    );
    @include rule(
      max-height,
      (
        xl: 400px,
        xlg: 400,
        lg: 400,
        md: 400,
      )
    );
    @include rule(
      border-radius,
      (
        xl: 3px,
        xlg: 3,
        lg: 3,
        md: 3,
        sm: 0,
      )
    );

    @include screen("xlg", max, 2) {
      box-shadow: 0 pxtovw(3, 1660) pxtovw(14, 1660) rgba(0, 0, 0, 0.13),
        0 0 pxtovw(4, 1660) rgba(56, 58, 68, 0.09);
    }

    @include screen("lg", max, 2) {
      box-shadow: 0 pxtovw(3, 1366) pxtovw(14, 1366) rgba(0, 0, 0, 0.13),
        0 0 pxtovw(4, 1366) rgba(56, 58, 68, 0.09);
    }

    @include screen("md", max, 2) {
      box-shadow: 0 pxtovw(3, 960) pxtovw(14, 960) rgba(0, 0, 0, 0.13),
        0 0 pxtovw(4, 960) rgba(56, 58, 68, 0.09);
    }

    @include screen("sm", max, 2) {
      transform: translate3d(0, 100%, 0);
      overflow: hidden;
      width: 100%;
      max-height: 100%;
      z-index: 2;
    }

    .is-opened & {
      transform: translate3d(0, 0, 0);
    }
  }

  &__content {
    display: block;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    overscroll-behavior: none;

    @include native-scroll;
    @include rule(
      padding-top,
      (
        xl: 30px,
        xlg: 30,
        lg: 30,
        md: 30,
        sm: 24,
      )
    );
    @include rule(
      padding-bottom,
      (
        xl: 67px,
        xlg: 67,
        lg: 67,
        md: 67,
        sm: 65,
      )
    );
    @include rule(
      padding-left,
      (
        xl: 36px,
        xlg: 36,
        lg: 36,
        md: 36,
        sm: 25,
      )
    );
    @include rule(
      padding-right,
      (
        xl: 36px,
        xlg: 36,
        lg: 36,
        md: 36,
        sm: 25,
      )
    );

    .is-overlay-user-panel & {
      @include rule(
        padding-bottom,
        (
          sm: 107,
        )
      );
    }
  }

  &__describe {
    @include screen("sm", max, 2) {
      display: none;
    }
  }

  &__text {
    @include rule(
      font-size,
      (
        xl: 15px,
        xlg: 15,
        lg: 15,
        md: 15,
        sm: 15,
      )
    );

    line-height: (18 / 15);
    font-weight: 300;
    letter-spacing: -0.02em;
    color: $nd-color-gray-text2;

    @include screen("sm", max, 2) {
      display: none;
    }
  }

  &__list {
    display: block;
    width: 100%;

    @include screen("sm", max, 2) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      align-self: end;
    }

    &:not(:first-child) {
      @include rule(
        margin-top,
        (
          xl: 28px,
          xlg: 28,
          lg: 28,
          md: 28,
          sm: 0,
        )
      );
    }

    &_mt0 {
      &:not(:first-child) {
        margin-top: 0;
      }
    }
  }

  &__header {
    width: 100%;
    display: none;
    background-color: $nd-color-basic-light;
    color: $nd-color-basic;
    box-sizing: border-box;

    @include screen("sm", max, 2) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding: pxtovw(14, 375) pxtovw(20, 375);
    }
  }

  &__close {
    @include rule(
      width,
      (
        sm: 32,
      )
    );
    @include rule(
      height,
      (
        sm: 32,
      )
    );
    @include rule(
      background-size,
      (
        sm: 14,
      )
    );

    font-size: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../images/bg/bg-bold-cross.svg");
  }

  &__title {
    display: inline-block;
    text-align: center;
    font-family: $font-stolzl;
    line-height: (20 / 17);
    font-weight: 400;

    @include rule(
      font-size,
      (
        sm: 17,
      )
    );
  }

  &__clear {
    @include rule(
      width,
      (
        sm: 40,
      )
    );
    @include rule(
      font-size,
      (
        sm: 15,
      )
    );

    position: relative;
    line-height: (18 / 15);
    text-align: right;
    cursor: pointer;

    &::after {
      @include screen("sm", max, 2) {
        @include pseudo;

        top: 50%;
        right: 0;
        transform: translate3d(0, -50%, 0);
        width: 100%;
        height: pxtovw(60, 375);
      }
    }
  }

  &__range {
    @include rule(
      margin-left,
      (
        sm: -5,
      )
    );
    @include rule(
      margin-right,
      (
        sm: -5,
      )
    );
    @include rule(
      margin-top,
      (
        sm: -15,
      )
    );

    @include screen("sm", max, 2) {
      width: calc(100% + (1000 / 375) * 1vw);
    }
  }

  &__footer {
    width: 100%;
    display: none;
    background-color: $nd-color-basic-light;
    box-sizing: border-box;
    z-index: 2;

    @include screen("sm", max, 2) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: pxtovw(16, 375) pxtovw(20, 375);
    }

    &_range {
      display: flex;
      justify-content: space-between;

      @include rule(
        padding-left,
        (
          xl: 36px,
          xlg: 36,
          lg: 36,
          md: 36,
          sm: 20,
        )
      );
      @include rule(
        padding-right,
        (
          xl: 36px,
          xlg: 36,
          lg: 36,
          md: 36,
          sm: 20,
        )
      );
      @include rule(
        padding-top,
        (
          xl: 10px,
          xlg: 10,
          lg: 10,
          md: 10,
          sm: 10,
        )
      );
      @include rule(
        padding-bottom,
        (
          xl: 67px,
          xlg: 67,
          lg: 67,
          md: 67,
          sm: 63,
        )
      );
      @include rule(
        margin-top,
        (
          xl: -44px,
          xlg: -44,
          lg: -44,
          md: -44,
          sm: -44,
        )
      );

      .is-overlay-user-panel & {
        @include rule(
          margin-top,
          (
            sm: -86,
          )
        );
        @include rule(
          padding-bottom,
          (
            sm: 104,
          )
        );
      }
    }
  }

  &__checklist {
    display: flex;
    justify-content: space-between;
    margin: -13px -10px 0;
    width: calc(100% + 20px);
    flex-wrap: wrap;
    box-sizing: border-box;

    @include screen("xlg", max, 2) {
      margin: pxtovw(-13, 1660) pxtovw(-10, 1660) 0;
      width: calc(100% + ((2000 / 1660) * 1vw));
    }

    @include screen("lg", max, 2) {
      margin: pxtovw(-13, 1366) pxtovw(-10, 1366) 0;
      width: calc(100% + ((2000 / 1366) * 1vw));
    }

    @include screen("md", max, 2) {
      margin: pxtovw(-13, 960) pxtovw(-10, 960) 0;
      width: calc(100% + ((2000 / 960) * 1vw));
    }

    @include screen("sm", max, 2) {
      display: block;
      width: 100%;
      margin: 0;
    }

    .loader {
      position: relative;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      align-self: center;
      margin: 0 auto;
    }
  }

  &__check {
    margin: 13px 10px 0;
    flex: 1;

    @include screen("xlg", max, 2) {
      margin: pxtovw(13, 1660) pxtovw(10, 1660) 0;
    }

    @include screen("lg", max, 2) {
      margin: pxtovw(13, 1366) pxtovw(10, 1366) 0;
    }

    @include screen("md", max, 2) {
      margin: pxtovw(13, 960) pxtovw(10, 960) 0;
    }

    @include screen("sm", max, 2) {
      margin: 0;
      flex: none;
      width: 100%;
    }

    &_wide {
      min-width: 90%;
    }

    &:not(:first-child) {
      @include screen("sm", max, 2) {
        margin-top: -1px;
      }
    }

    .check-button {
      &__content {
        @include rule(
          font-size,
          (
            xl: 13px,
            xlg: 13,
            lg: 13,
            md: 13,
            sm: 17,
          )
        );

        line-height: (18 / 13);

        @include screen("sm", max, 2) {
          line-height: (22 / 18);
        }
      }
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: -1px;
    }
  }

  &__reset {
    flex: none;

    @include rule(
      width,
      (
        xl: 85px,
        xlg: 85,
        lg: 85,
        md: 85,
        sm: 85,
      )
    );
  }

  &__setter {
    flex: 1;

    &:not(:first-child) {
      @include rule(
        margin-left,
        (
          xl: 13px,
          xlg: 13,
          lg: 13,
          md: 13,
          sm: 13,
        )
      );
    }
  }

  &__sup-button {
    width: 100%;

    @include rule(
      padding-left,
      (
        xl: 40px,
        xlg: 40,
        lg: 40,
        md: 40,
        sm: 40,
      )
    );
    @include rule(
      padding-left,
      (
        xl: 20px,
        xlg: 20,
        lg: 20,
        md: 20,
        sm: 20,
      )
    );

    &:not(:first-child) {
      @include rule(
        margin-top,
        (
          xl: 21px,
          xlg: 21,
          lg: 21,
          md: 21,
          sm: 21,
        )
      );
    }
  }

  &__calendar {
    display: flex;
    flex-wrap: wrap;

    &-section {
      box-sizing: border-box;

      @include rule(
        width,
        (
          xl: 50%,
          sm: 100%,
        )
      );

      &:not(:first-child) {
        border-left: 1px solid $nd-color-border6;

        @include screen("sm", max, 2) {
          border-left: none;
        }
      }

      &_time {
        @include rule(
          padding,
          (
            xl: 30px,
            xlg: 30,
            lg: 30,
            md: 30,
            sm: 18 22 60,
          )
        );
      }
    }

    &-title {
      font-family: $font-stolzl;
      font-weight: 400;
      width: 100%;
      text-align: center;

      @include rule(
        font-size,
        (
          xl: 15px,
          xlg: 15,
          lg: 15,
          md: 15,
          sm: 15,
        )
      );

      @include screen("sm", max, 2) {
        text-align: left;
      }
    }

    &-time {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;

      @include rule(
        gap,
        (
          xl: 10px,
          xlg: 10,
          lg: 10,
          md: 10,
          sm: 10,
        )
      );

      &:not(:first-child) {
        @include rule(
          margin-top,
          (
            xl: 30px,
            xlg: 30,
            lg: 30,
            md: 30,
            sm: 20,
          )
        );
      }

      .nd-form-box {
        flex: 1;
      }
    }

    &-divider {
      flex: none;
      display: block;
      box-sizing: border-box;
      border-style: solid;
      border-color: $nd-color-main;
      align-self: center;

      @include rule(
        border-width,
        (
          xl: 1px,
          xlg: 1,
          lg: 1,
          md: 1,
          sm: 1,
        )
      );

      @include rule(
        width,
        (
          xl: 8px,
          xlg: 8,
          lg: 8,
          md: 8,
          sm: 8,
        )
      );
    }
  }

  &_small {
    #{$b} {
      &__wrapper {
        @include rule(
          width,
          (
            xl: 230px,
            xlg: 230,
            lg: 230,
            md: 230,
          )
        );
        box-sizing: border-box;

        @include screen("sm", max, 2) {
          width: 100%;
        }
      }

      &__content {
        box-sizing: border-box;

        @include rule(
          padding,
          (
            xl: 12px 0 17px,
            xlg: 12 0 17,
            lg: 12 0 17,
            md: 12 0 17,
            sm: 25 25 65 25,
          )
        );
      }

      &__item {
        &:not(:first-child) {
          @include rule(
            margin-top,
            (
              xl: 8px,
              xlg: 8,
              lg: 8,
              md: 8,
            )
          );

          @include screen("sm", max, 2) {
            margin-top: -1px;
          }
        }
      }
    }
  }

  &_type3 {
    #{$b} {
      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        @include rule(
          padding,
          (
            xl: 25px 30px,
            xlg: 25 30,
            lg: 25 30,
            md: 25 30,
            sm: 25,
          )
        );
      }

      &__title {
        letter-spacing: normal;
        line-height: 1.18;

        @include rule(
          font-size,
          (
            xl: 18px,
            xlg: 18,
            lg: 18,
            md: 18,
            sm: 18,
          )
        );
      }

      &__clear {
        width: auto;
        color: $nd-color-border6;

        @include rule(
          font-size,
          (
            xl: 15px,
            xlg: 15,
            lg: 15,
            md: 15,
            sm: 15,
          )
        );
      }

      &__wrapper {
        @include rule(
          width,
          (
            xl: 508px,
            xlg: 508,
            lg: 508,
            md: 508,
          )
        );
        @include rule(
          max-height,
          (
            xl: 450px,
            xlg: 450,
            lg: 450,
            md: 450,
            sm: none,
          )
        );
      }

      &__content {
        @include rule(
          padding-top,
          (
            xl: 10px,
            xlg: 10,
            lg: 10,
            md: 10,
            sm: 24,
          )
        );
        @include rule(
          padding-bottom,
          (
            xl: 60px,
            xlg: 60,
            lg: 60,
            md: 60,
            sm: 65,
          )
        );
        @include rule(
          padding-left,
          (
            xl: 30px,
            xlg: 30,
            lg: 30,
            md: 30,
            sm: 25,
          )
        );
        @include rule(
          padding-right,
          (
            xl: 30px,
            xlg: 30,
            lg: 30,
            md: 30,
            sm: 25,
          )
        );
      }
    }
  }

  &_v2 {
    .nd-choices_popup .nd-choices__list {
      @include screen("sm", max, 2) {
        z-index: 100;
      }
    }

    #{$b} {
      &__wrapper {
        @include rule(
          width,
          (
            xl: 780px,
            xlg: 780,
            lg: 780,
            md: 684,
            sm: 100%,
          )
        );

        @include rule(
          max-height,
          (
            xl: 600px,
            xlg: 600,
            lg: 600,
            md: 600,
            sm: 100%,
          )
        );
      }

      &__header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid $nd-color-border6;
        flex: none;
        box-sizing: border-box;

        @include rule(
          padding,
          (
            xl: 0 70px,
            xlg: 0 70,
            lg: 0 70,
            md: 0 70,
            sm: 0 60,
          )
        );

        @include rule(
          height,
          (
            xl: 70px,
            xlg: 70,
            lg: 70,
            md: 70,
            sm: 60,
          )
        );

        @include screen("sm", max, 2) {
          border-bottom: none;
        }

        #{$b}__clear {
          position: absolute;
          top: 50%;
          transform: translate3d(0, -50%, 0);

          @include rule(
            left,
            (
              sm: 25,
            )
          );
        }
      }

      &__close {
        position: absolute;

        @include rule(
          top,
          (
            xl: 15px,
            xlg: 15,
            lg: 15,
            md: 15,
            sm: 0,
          )
        );

        @include rule(
          right,
          (
            xl: 15px,
            xlg: 15,
            lg: 15,
            md: 15,
            sm: 0,
          )
        );

        @include rule(
          width,
          (
            xl: 40px,
            xlg: 40,
            lg: 40,
            md: 40,
            sm: 60,
          )
        );
        @include rule(
          height,
          (
            xl: 40px,
            xlg: 40,
            lg: 40,
            md: 40,
            sm: 60,
          )
        );
        @include rule(
          background-size,
          (
            xl: 14px,
            xlg: 14,
            lg: 14,
            md: 14,
            sm: 12,
          )
        );
      }

      &__title {
        text-align: center;
        font-weight: 400;

        @include rule(
          font-size,
          (
            xl: 20px,
            xlg: 20,
            lg: 20,
            md: 20,
            sm: 17,
          )
        );
      }

      &__content {
        padding: 0;
      }

      &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: none;
        border-top: 1px solid $nd-color-border6;
        box-sizing: border-box;
        width: 100%;

        @include rule(
          padding,
          (
            xl: 0 20px 0 30px,
            xlg: 0 20 0 30,
            lg: 0 20 0 30,
            md: 0 20 0 30,
            sm: 0 17,
          )
        );

        @include rule(
          height,
          (
            xl: 60px,
            xlg: 60,
            lg: 60,
            md: 60,
            sm: 60,
          )
        );

        @include screen("sm", max, 2) {
          border-top: none;
        }
      }

      &__clear {
        font-weight: 600;

        @include rule(
          font-size,
          (
            xl: 15px,
            xlg: 15,
            lg: 15,
            md: 15,
            sm: 15,
          )
        );

        @include screen("sm", max, 2) {
          font-weight: 400;
        }

        .nd-link {
          &__icon {
            @include rule(
              width,
              (
                xl: 10px,
                xlg: 10,
                lg: 10,
                md: 10,
                sm: 10,
              )
            );
            @include rule(
              height,
              (
                xl: 10px,
                xlg: 10,
                lg: 10,
                md: 10,
                sm: 10,
              )
            );

            &:not(:last-child) {
              @include rule(
                margin-right,
                (
                  xl: 16px,
                  xlg: 16,
                  lg: 16,
                  md: 16,
                  sm: 16,
                )
              );
            }
          }
        }
      }

      &__setter {
        flex: none;

        @include rule(
          min-width,
          (
            xl: 230px,
            xlg: 230,
            lg: 230,
            md: 230,
            sm: 230,
          )
        );

        @include screen("sm", max, 2) {
          flex: 1;
        }
      }
    }
  }
}
