extends ../../layouts/default-login

block head
  - var pageTitle = 'SpacePool - Favourites'

block header
  -var headerClass = '_border'

block content
  - var spaces = getData('spaces-favorites.json')
  +page-header
    .container
      +e.wrapper
        +page-header-side
        +page-header-main
          +page-title('h1')._small.__title Favourites
          +category-filter
  +content-origin._reverse._last
    .container
      +e.wrapper
        +content-column-aside.hide-lg
          +side-navigation('You can favourite whole space or just one offer from it. Use controls above to filter your favs.')
            +nav-list-sidebar(getData('side-menu-user.json'), 'Favourites').__navigation
        +content-column-main._no-ptop
          +grid.grid_layout
            each item in spaces
              +col({xl: 4, md: 6 })
                +space-favorites(item)
