extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - New Sitemap'

block header
  - var headerClass = ''
  - var isMap = false
  - var host = false
  - var pageClass = ' nd-page_main'

block content
  .nd-container
    +b.sitemap
      +e.group
        +e.head
          +page-title Страницы
        +e.list
          +nd-link(href="nd-ui-kit.html") Spacepool - Новый ui-kit (nd-ui-kit.html)
          +nd-link(href="index.html") Spacepool - Главная (index.html)
          +nd-link(href="space-v3.html") Spacepool - Space (space-v3.html)
          +nd-link(href="nd-signup.html") Spacepool - Sign Up (nd-signup.html)
          +nd-link(href="nd-signup-confirm.html") Spacepool - Sign Up - Email Confirmed(nd-signup-confirm.html)
          +nd-link(href="nd-signup-ready.html") Spacepool - Sign Up - Account created (nd-signup-ready.html)
          +nd-link(href="login.html") Spacepool - Login (login.html)
          +nd-link(href="search.html") Spacepool - Search (search.html)
          +nd-link(href="search-types.html") Spacepool - Search by offer type (search-types.html)
