extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - New Sitemap'

block header
  - var headerClass = ' is-login'
  - var map = true
  - var host = true
  - var pageClass = ' nd-page_main'

block content
  .nd-container
    +b.sitemap
      +e.group
        +e.head
          +page-title Страницы
        +e.list
          +nd-link(href="nd-ui-kit.html") Spacepool - Новый ui-kit (nd-ui-kit.html)
          +nd-link(href="index.html") Spacepool - Главная (index.html)
