extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - New Sitemap'

block header
  - var headerClass = ''
  - var isMap = false
  - var host = false
  - var pageClass = ' nd-page_main'

block content
  .nd-container
    +b.sitemap
      +e.group
        +e.head
          +page-title Страницы
        +e.list
          +nd-link(href="nd-ui-kit.html") Spacepool - Новый ui-kit (nd-ui-kit.html)
          +nd-link(href="index.html") Spacepool - Главная (index.html)
          +nd-link(href="space-v3.html") Spacepool - Space (space-v3.html)
          +nd-link(href="nd-signup.html") Spacepool - Sign Up (nd-signup.html)
          +nd-link(href="nd-signup-confirm.html") Spacepool - Sign Up - Email Confirmed(nd-signup-confirm.html)
          +nd-link(href="nd-signup-ready.html") Spacepool - Sign Up - Account created (nd-signup-ready.html)
          +nd-link(href="login.html") Spacepool - Login (login.html)
          +nd-link(href="search.html") Spacepool - Search (search.html)
          +nd-link(href="search-types.html") Spacepool - Search by offer type (search-types.html)
          +nd-link(href="deal-pass.html") Spacepool - Deal Passpor Rent - Dashboard (deal-pass.html)
          +nd-link(href="deal-pass-rs.html") Spacepool - Deal Passpor Rent - Rental Summary (deal-pass-rs.html)
          +nd-link(href="deal-pass-contracts.html") Spacepool - Deal Passpor Rent - Contracts (deal-pass-contracts.html)
          +nd-link(href="deal-pass-statements.html") Spacepool - Deal Passpor Rent - Statements (deal-pass-statements.html)
          +nd-link(href="deal-pass-chat.html") Spacepool - Deal Passpor Rent - Chat (deal-pass-chat.html)
          +nd-link(href="deal-pass-viewing-chat.html") Spacepool - Deal Passpor Viewing - Chat (deal-pass-viewing-chat.html)
          +nd-link(href="deal-pass-viewing.html") Spacepool - Deal Passpor Viewing - Dashboard (deal-pass-viewing.html)
          +nd-link(href="rental-summary.html") Spacepool - Rental Summary (rental-summary.html)
          +nd-link(href="rental-summary-signup.html") Spacepool - Rental Summary - Signup (rental-summary-signup.html)
          +nd-link(href="rental-summary-signup-confirmed.html") Spacepool - Rental Summary - Signup - Email Confirmed (rental-summary-signup-confirmed.html)
          +nd-link(href="rental-summary-login.html") Spacepool - Rental Summary - Login (rental-summary-login.html)

          +nd-link(href="guest-account.html") Spacepool - Guest Account - Mobile Only (guest-account.html)
          +nd-link(href="guest-account-basic.html") Spacepool - Guest Account - Account Settings | Basic info (guest-account-basic.html)
          +nd-link(href="guest-account-messages.html") Spacepool - Guest Account - Messages (guest-account-messages.html)
          +nd-link(href="guest-account-notes.html") Spacepool - Guest Account - Notififcations (guest-account-notes.html)
          +nd-link(href="guest-account-shorts.html") Spacepool - Guest Account - Shortlist (guest-account-shorts.html)
          +nd-link(href="guest-account-rents.html") Spacepool - Guest Account - My rents (guest-account-rents.html)
          +nd-link(href="guest-account-rents-empty.html") Spacepool - Guest Account - My rents | Empty  (guest-account-rents-emptyhtml)
          +nd-link(href="guest-account-viewings.html") Spacepool - Guest Account - My viewings (guest-account-viewings.html)
          //- +nd-link(href="guest-account-payments.html") Spacepool - Guest Account - Payment methods (guest-account-payments.html)
          //- +nd-link(href="guest-account-payments-add.html") Spacepool - Guest Account - Payment methods | Add (guest-account-payments-add.html)
