extends ../../layouts/default

block head
  - var pageTitle = 'Space Pool - Sitemap'

block content
  +b.sitemap
    .container
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Main (index.html)
        +link(href="space.html")  One Space (space.html)
        +link(href="account-settings.html")  Account settings(account-settings.html)
        +link(href="host-spaces.html") My rental offers (HOST) (host-spaces.html) (IN PROGRESS)
        +link(href="host-space-offers.html") My rental offers - One Space (HOST) (host-space-offers.html) (IN PROGRESS)

block panels
  +main-menu
