extends ../../layouts/default

block head
  - var pageTitle = 'Space Pool - Sitemap'

block content
  +b.sitemap
    .container
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Главная (index.html)
        //- +link(href="page1.html") page1 (page1.html)
