extends ../../layouts/default

block head
  - var pageTitle = 'Space Pool - Sitemap'

block content
  +b.sitemap
    .container
      +page-title._small Страницы
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Main (index.html)
        +link(href="space.html") One Space (space.html)
        +link(href="account-settings.html") Account settings(account-settings.html)
        +link(href="host-spaces.html") My rental offers (HOST) (host-spaces.html)
        +link(href="host-space-offers.html") My rental offers - One Space (HOST) (host-space-offers.html)
        +link(href="blog.html") Blog (blog.html)
        +link(href="blog-article.html") Blog article (blog-article.html)
        +link(href="favourites.html") Favourites (Tablet & Desktop Ready, Mobile NOT READY) (favourites.html)
        +link(href="messages.html") Messages (messages.html)
        +link(href="conversation.html") Messages One Conversation (conversation.html)
        +link(href="reservation-history.html") Reservation History (reservation-history.html)
        +link(href="host-reservations.html") HOST reservations IN PROGRESS (host-reservations.html)

      +page-title._small Попапы
      +e.list
        +link(href="#popup-signin").js-popup Popup Sign In
        +link(href="#popup-add-rental-offer").js-popup Popup Add rental offer

block panels
  +main-menu

block popups
  +popup-add-offer#popup-add-rental-offer
