extends ../../layouts/default

block head
  - var pageTitle = 'Space Pool - Sitemap'

block content
  +b.sitemap
    .container
      +page-title._small Страницы
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Main (index.html)
        +link(href="space.html") One Space (space.html)
        +link(href="account-settings.html") Account settings(account-settings.html)
        +link(href="host-spaces.html") My rental offers (HOST) (host-spaces.html)
        +link(href="host-space-offers.html") My rental offers - One Space (HOST) (host-space-offers.html)
        +link(href="blog.html") Blog (blog.html)
        +link(href="blog-article.html") Blog article (blog-article.html)
        +link(href="favourites.html") Favourites (Tablet & Desktop Ready, Mobile NOT READY) (favourites.html)
        +link(href="messages.html") Messages (messages.html)
        +link(href="conversation.html") Messages One Conversation (conversation.html)
        +link(href="reservation-history.html") Reservation History (reservation-history.html)
        +link(href="host-reservations.html") HOST reservations (host-reservations.html)
        +link(href="order-summary.html") Order summary(order-summary.html)
        +link(href="order-checkout.html") Order checkout(order-checkout.html)
        +link(href="signup.html") Sign Up (signup.html)
        +link(href="signup-verification-message.html") Sign Up verification message (signup-verification-message.html)
        +link(href="host-signup-verification-message.html") Sign Up verification message (for host) (host-signup-verification-message.html)
        +link(href="about-tenant.html") About Space Pool for Guests (about-tenant.html)
        +link(href="about-host.html") About Space Pool for Hosts (about-host.html)
        +link(href="new-space-step1.html") SpacePool - HOST My rental offers New Space Step 1 (new-space-step1.html)
        +link(href="new-space-step2.html") SpacePool - HOST My rental offers New Space Step 2 (new-space-step2.html)
        +link(href="new-space-step3.html") SpacePool - HOST My rental offers New Space Step 3 (new-space-step3.html)
        //- +link(href="new-space-step4.html") SpacePool - HOST My rental offers New Space Step 4 (new-space-step4.html)

      +page-title._small Попапы
      +e.list
        +link(href="#popup-signin").js-popup Popup Sign In
        +link(href="#popup-add-rental-offer").js-popup Popup Add rental offer
        +link(href="#popup-arrange-viewing").js-popup Popup Arrange Viewing
        +link(href="#popup-subscribe").js-popup Popup subscribe
        +link(href="#popup-subscribe-host").js-popup Popup subscribe for host

block panels
  +main-menu

block popups
  +popup-add-offer#popup-add-rental-offer
  +popup-arrange-viewing#popup-arrange-viewing
  +popup-subscribe#popup-subscribe
  +popup-subscribe-host#popup-subscribe-host
