extends ../../layouts/default

block head
  - var pageTitle = 'Space Pool - Sitemap'

block content
  +b.sitemap
    .container
      +page-title._small Страницы
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Main (index.html)
        +link(href="space.html") One Space (space.html)
        +link(href="account-settings.html") Account settings(account-settings.html)
        +link(href="host-spaces.html") My rental offers (HOST) (host-spaces.html)
        +link(href="host-space-offers.html") My rental offers - One Space (HOST) (host-space-offers.html)
        +link(href="blog.html") Blog (blog.html)
        +link(href="blog-article.html") Blog article (blog-article.html)
        +link(href="favourites.html") Favourites (Tablet & Desktop Ready, Mobile NOT READY) (favourites.html)
        +link(href="messages.html") Messages (messages.html)
        +link(href="conversation.html") Messages One Conversation (conversation.html)
        +link(href="reservation-history.html") Reservation History (reservation-history.html)
        +link(href="host-reservations.html") HOST reservations (host-reservations.html)
        +link(href="order-summary.html") Order summary(order-summary.html)
        +link(href="order-checkout.html") Order checkout(order-checkout.html)
        +link(href="signup.html") Sign Up (signup.html)
        +link(href="signup-verification-message.html") Sign Up verification message (signup-verification-message.html)
        +link(href="host-signup-verification-message.html") Sign Up verification message (for host) (host-signup-verification-message.html)
        +link(href="about-tenant.html") About Space Pool for Guests (about-tenant.html)
        +link(href="about-host.html") About Space Pool for Hosts (about-host.html)
        +link(href="new-space-step1.html") SpacePool - HOST My rental offers New Space Step 1 (new-space-step1.html)
        +link(href="new-space-step2.html") SpacePool - HOST My rental offers New Space Step 2 (new-space-step2.html)
        +link(href="new-space-step3.html") SpacePool - HOST My rental offers New Space Step 3 (new-space-step3.html)
        +link(href="new-space-step4.html") SpacePool - HOST My rental offers New Space Step 4 (new-space-step4.html)
        +link(href="new-space-step41.html") SpacePool - HOST My rental offers New Space Step 4-1 (new-space-step41.html)
        +link(href="new-space-step5.html") SpacePool - HOST My rental offers New Space Step 5 (new-space-step5.html)
        +link(href="new-space-step6.html") SpacePool - HOST My rental offers New Space Step 6 (new-space-step6.html)
        +link(href="new-space-step61.html") SpacePool - HOST My rental offers New Space Step 6-1 (new-space-step61.html)
        +link(href="new-space-step7.html") SpacePool - HOST My rental offers New Space Step 7 (new-space-step7.html)
        +link(href="edit-space-location.html") SpacePool -Edit Space page - location (edit-space-location.html)
        +link(href="search-result.html") SpacePool - Search result (search-result.html)
        +link(href="reservations.html") SpacePool - My reservations (reservations.html)
        +link(href="new-space-step8.html") SpacePool - HOST My rental offers New Space Step 6 (New step Terms and Conditions) (new-space-step8.html)
        +link(href="deal-passport.html") SpacePool - Deal Passport (deal-passport.html)
        +link(href="deal-passport-state2.html") SpacePool - Deal Passport (deal-passport-state2.html)
        +link(href="deal-passport-state3.html") SpacePool - Deal Passport (deal-passport-state3.html)
        +link(href="deal-passport-state4.html") SpacePool - Deal Passport (deal-passport-state4.html)

      +page-title._small Попапы
      +e.list
        +link(href="#popup-signin").js-popup Popup Sign In
        +link(href="#popup-add-rental-offer").js-popup Popup Add rental offer
        +link(href="#popup-arrange-viewing").js-popup Popup Arrange Viewing
        +link(href="#popup-subscribe").js-popup Popup subscribe
        +link(href="#popup-subscribe-host").js-popup Popup subscribe for host
        +link(href="#popup-cancel-request").js-popup Popup cancel request
        +link(href="#popup-password-change").js-popup Popup password change
        +link.js-popup-depends-width(href="#" data-source="xl:#popup-legal-formalities,md:#popup-legal-formalities-m") Popup legal formalities stage 1
        +link.js-popup-depends-width(href="#" data-source="xl:#popup-legal-formalities2,md:#popup-legal-formalities-m2") Popup legal formalities stage 2
        +link.js-popup-depends-width(href="#" data-source="xl:#popup-legal-formalities3,md:#popup-legal-formalities-m3") Popup legal formalities stage 3
        +link.js-popup-depends-width(href="#" data-source="xl:#popup-order-host,md:#popup-order-mobile-host") Popup order summary HOST
        +link.js-popup-depends-width(href="#" data-source="xl:#popup-order-guest,md:#popup-order-mobile-guest") Popup order summary GUEST
        +link.js-popup-depends-width(href="#" data-source="xl:#popup-invoices,md:#popup-invoices-mobile") Popup invoices
        +link.js-popup-depends-width(href="#" data-source="xl:#popup-invoice,md:#popup-invoice-mobile") Popup One Invoice
        +link(href="#popup-cancellation").js-popup Popup cancel reservation

block panels
  +main-menu

block popups
  +popup-add-offer#popup-add-rental-offer
  +popup-arrange-viewing#popup-arrange-viewing
  +popup-subscribe#popup-subscribe
  +popup-subscribe-host#popup-subscribe-host
  +popup-cancel-request#popup-cancel-request
  +popup-password-change#popup-password-change
  +popup-document(getData('legal-formalities.json'))#popup-legal-formalities
    +document-legal
  +popup-document(getData('legal-formalities stage 2.json'))#popup-legal-formalities2
    +document-legal
  +popup-document(getData('legal-formalities stage 3.json'))#popup-legal-formalities3
    +document-legal
  +popup-document-mobile(getData('contract-status.json'))#popup-legal-formalities-m
  +popup-document-mobile(getData('contract-status-stage3.json'))#popup-legal-formalities-m3
  +popup-document-mobile(getData('contract-status-stage2.json'))#popup-legal-formalities-m2
  +popup-order-summary#popup-order-host
    +form-order-summary(true).__form
  +popup-order-summary-mobile#popup-order-mobile-host
    +form-order-summary-mobile(true).__form
  +popup-order-summary-g#popup-order-guest
    +form-order-summary.__form
  +popup-order-summary-mobile-g#popup-order-mobile-guest
    +form-order-summary-mobile.__form
  +popup-invoices#popup-invoices
  +popup-invoices-mobile#popup-invoices-mobile
  +popup-invoice#popup-invoice
  +popup-invoice-mobile#popup-invoice-mobile
  +popup-cancellation#popup-cancellation
