@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  &_flex {
    display: flex;
    align-items: center;
  }
  &_banner {
    display: flex;
    align-items: stretch;
  }

  &_content {
    width: 1085px;
    display: flex;
    align-items: flex-start;
  }

  &_slider {
    max-width: 85%;
  }

}

.js-sr {
  visibility: hidden;
}
