@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/animations'; // анимации
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $container-padding;
  box-sizing: border-box;

  @include screen('md') {
    padding: 0 $container-padding-tablet;
  }

  @include screen('sm') {
    padding: 0 $container-padding-mobile;
  }

  &_banner {
    display: flex;
    align-items: stretch;
  }

  &_content {
    max-width: $content-container-width;
    display: flex;
    align-items: flex-start;
    padding: 0 $content-container-padding;

    @include screen('sm') {
      padding: 0 $container-padding-mobile;
    }
  }
}

.js-sr {
  visibility: hidden;
}

// спрятать на малом десктопе и ниже

.hide-lg {
  @include screen('lg') {
    display: none;
  }
}

// cпрятать на планшете и мобиле

.hide-md {
  @include screen('md') {
    display: none;
  }
}

// cпрятать на мобиле

.hide-sm {
  @include screen('sm') {
    display: none;
  }
}

// спрятать начиная с планшета и выше

.hide-from-sm {
  @include screen('sm', min) {
    display: none;
  }
}

// cпрятать начиная с маленьких десктопов и выше

.hide-from-md {
  @include screen('md', min) {
    display: none;
  }
}

// спрятать на больших десктопах

.hide-from-lg {
  @include screen('lg', min) {
    display: none;
  }
}

.hide-only-lg {
  @media only screen and (min-width: 768px) and (max-width: 1019px) {
    display: none;
  }
}

.hide {
  display: none !important;
}
