@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $container-padding;
  box-sizing: border-box;
  overflow: hidden;

  @include screen('sm') {
    padding: 0 $container-padding-mobile;
  }

  &_banner {
    display: flex;
    align-items: stretch;
  }

  &_content {
    max-width: $content-container-width;
    display: flex;
    align-items: flex-start;
  }
}

.js-sr {
  visibility: hidden;
}

// спрятать на десктопе

.hide-xl {
  @include screen('xl') {
    display: none;
  }
}

// cпрятать на планшете

.hide-lg {
  @include screen('lg') {
    display: none;
  }
}

// cпрятать на мобиле

.hide-sm {
  @include screen('sm') {
    display: none;
  }
}
