.travel-time {
  $b: &;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__time {
    font-weight: 400;
    text-align: right;
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 24px;
    text-align: right;
    box-sizing: border-box;
    padding-left: 4px;

    @include screen('md') {
      width: 28px;
    }

    @include screen('sm') {
      width: 25px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $color-basic;
    margin-right: 0;

    @include screen('md') {
      margin-right: 4px;
    }

    &_man {
      width: 11px;
      height: 19px;
    }

    &_car {
      width: 20px;
      margin-right: -2px;

      @include screen('md') {
        margin-right: 0;
      }
    }
  }
}
