mixin content-left()
  +b.content-left&attributes(attributes)
    .section
      +facil-list
    .section
      +e.H2.__title._offers Offers
      +tabs
        +tab()(data-tab-target="tab1" class="tabs_yellow").active Hot Desk
        +tab()(data-tab-target="tab2" class="tabs_red") Dedicated desk
        +tab()(data-tab-target="tab3" class="tabs_blue") Meeting room
        +tab()(data-tab-target="tab3" class="tabs_green") Office space
      +tabs-content
        +tab-wrapper()(data-tab="tab1" data-tab-group="testtabs").active
          +accordions
            +accordion
              +accordion-header
                +accordion-button
                +e.__hot-desc hot desc
                +e.__price £185 per month
                +icon('heart').__heart
                +button Arrange a viewing
                +button Request Reservation

              +accordion-body
                +e.P.__text This text is some part of every offer for every building. This text is meant to be some textual lead for all additional information you can put inside every offer. So it can be long and that’s why we should put the limit for it.
                +text-list._acardeon

            +accordion
              +accordion-header
                +accordion-button
                +e.__hot-desc hot desc
                +e.__price £185 per month
                +icon('heart').__heart
                +button Arrange a viewing
                +button Request Reservation

              +accordion-body
                +e.P.__text This text is some part of every offer for every building. This text is meant to be some textual lead for all additional information you can put inside every offer. So it can be long and that’s why we should put the limit for it.
                +text-list._acardeon


            +accordion.is-active-body
              +accordion-header
                +accordion-button.is-active-button
                +e.P.__hot-desc hot desc
                +e.P.__price £185 per month
                +e.P.__text-acr AVIALABLE NOW
              +accordion-body
                +e.P.P.__text This text is some part of every offer for every building. This text is meant to be some textual lead for all additional information you can put inside every offer. So it can be long and that’s why we should put the limit for it.
                +text-list._accardion


        +tab-wrapper()(data-tab="tab2" data-tab-group="testtabs")
          +accordions
            +accordion
              +accordion-header
                +accordion-button
                +e.P.__hot-desc hot desc
                +e.P.__price £185 per month
                +e.P.__text-acr AVIALABLE NOW
              +accordion-body
                +e.P.__text This text is some part of every offer for every building. This text is meant to be some textual lead for all additional information you can put inside every offer. So it can be long and that’s why we should put the limit for it.
            +accordion.is-active
              +accordion-header
                +accordion-button.is-active-button
                +e.P.__hot-desc hot desc
                +e.P.__price £185 per month
                +e.P.__text-acr AVIALABLE NOW
              +accordion-body
                +e.P.__text This text is some part of every offer for every building. This text is meant to be some textual lead for all additional information you can put inside every offer. So it can be long and that’s why we should put the limit for it.
        +tab-wrapper()(data-tab="tab3" data-tab-group="testtabs")
          +accordions
            +accordion.is-active
              +accordion-header
                +accordion-button.is-active-button
                +e.P.__hot-desc hot desc
                +e.P.__price £185 per month
                +e.P.__text-acr AVIALABLE NOW
              +accordion-body
                +e.P.__text This text is some part of every offer for every building. This text is meant to be some textual lead for all additional information you can put inside every offer. So it can be long and that’s why we should put the limit for it.
            +accordion
              +accordion-header
                +accordion-button
                +e.P.__hot-desc hot desc
                +e.P.__price £185 per month
                +e.P.__text-acr AVIALABLE NOW
              +accordion-body
                +e.P.__text This text is some part of every offer for every building. This text is meant to be some textual lead for all additional information you can put inside every offer. So it can be long and that’s why we should put the limit for it.
