.content-left {
  flex: 2;
  margin-right: 50px;
  display: block;
  color: $color-basic;


  &__title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 30px;
    &_top {
      margin-top: 27px;
    }

    &_location {
      margin-bottom: 21px;
    }

    &_Facilities {
      margin-bottom: 39px;
    }

    &_offers {
      margin-bottom: 37px;
    }
  }

  &__text {
    margin-bottom: 67px;
    letter-spacing: .4px;
    line-height: 1.66;

    &_building {
      margin-bottom: 34px;
    }
  }

  &__title-bottom {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.8px;
  }

  &__map-list {
    margin-top: 47px;
    margin-bottom: 78px;
  }

  &__map-item {
    display: flex;
    padding-bottom: 11px;
    border-bottom: 1px solid $color-basic-light;
    margin-bottom: 12px;
  }

  &__map-text {
    margin-right: 13px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.8px;
    &_min {
      font-weight: 400;
      letter-spacing: 0px;
    }
  }

  &__map-nomer {
    margin-left: 13px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.3px;
  }

 

  &__last {
    margin-right: auto;
  }

  &__mr {
    margin: 0 9px;
  }

  &__metro {
    width: 26px;
    height: 22px;
    &_red {
      fill: #e24d25;
    }
    &_purpure {
      fill: #9b0158;
    }
    &_yellow {
      fill: #fed201;
    }
    &_pink {
      fill: #f087a3;
    }
    &_bus {
      fill: #c64444;
    }
    &_plane {
      fill: #60a2d0;
    }
    &_car {
      fill: $color-basic;
    }
  }
}