.content-left {
  flex: 2;
  margin-right: 56px;
  display: block;
  color: $color-basic;
  border-bottom: 1px solid $color-basic-light;

  &__title {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 76px;
    letter-spacing: -0.36px;
    line-height: 1.4;
  }

  &__title-bottom {
    margin-bottom: 20px;
    font-weight: 700;
  }

  &__map-item {
    display: flex;
    border-bottom: 1px solid $color-basic-light;
  }

  &__map-text {
    margin-right: 13px;
  }

  &__last {
    margin-right: auto;
  }

  &__mr {
    margin: 0 9px;
  }
}