mixin content-left()
  +b.content-left&attributes(attributes)
    +e.__title._top Description
    +e.__text One Neal Street offers a modern, self-contained office solution, which is located just off of Covent Garden's Long Acre. Unbranded and fully furnished, this renovated boutique office space is flooded with natural light. One Neal Street offers some twelve-thousand square foot of open-plan office space across the third floor, which can accommodate up to two hundred people. It also benefits from 24/7 access, a manned reception and large kitchen and breakout area.
    +e.__title Location
    +e.__title-bottom 8-10 New Fetter Ln, London EC4A 1AZ
    +map()#map
    +e.UL.__map-list
      +e.LI.__map-item
        +e.__map-text Chancery Lane
        +e.IMG(src='./assets/images/stop.png').__last
        +e.__map-text 5 min
        +e.IMG(src='./assets/images/men.png')
      +e.LI.__map-item
        +e.__map-text Great Portland Street
        +e.IMG(src='./assets/images/stop.png')
        +e.IMG(src='./assets/images/stop.png').__mr
        +e.IMG(src='./assets/images/stop.png').__last
        +e.__map-text 25 min
        +e.IMG(src='./assets/images/men.png')
      +e.LI.__map-item
        +e.__map-text Haymarket / Jermyn Street
        +e.IMG(src='./assets/images/stop.png').__last
        +e.__map-text 25 min
        +e.IMG(src='./assets/images/men.png')
      +e.LI.__map-item
        +e.__map-text Heathrow airport
        +e.IMG(src='./assets/images/fly.png').__last
        +e.__map-text 40-80 min
        +e.IMG(src='./assets/images/car.png')
    +e.__title Building rules
    +e.__text  One Neal Street offers some twelve-thousand square foot of open-plan office space across the third floor, which can accommodate up to two hundred people. It also benefits from 24/7 access, a manned reception and large kitchen and breakout area.
    +text-list
    +e.__title Facilities
    +facil-list
    +tabs
      +tab()(data-tab-target="tab1" class="tabs_yellow").active Информация
      +tab()(data-tab-target="tab2" class="tabs_red") Информация
      +tab()(data-tab-target="tab3" class="tabs_blue") Информация
      +tab()(data-tab-target="tab3" class="tabs_green") Информация
    +tabs-content
      +tab-wrapper()(data-tab="tab1" data-tab-group="testtabs").active
        +accordions
          +accordion.is-active
            +accordion-header 
              +accordion-button +
              +e.__hot-desc hot desc
              +e.__price £185 per month
              +e.IMG(src='./assets/images/heart-top.png')
              +button Arrange a viewing
              +button-gradient Request Reservation

            +accordion-body
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Obcaecati aliquam perferendis velit ex numquam, consequatur
              | doloribus magnam accusantium expedita eveniet,
              | quisquam voluptate quos maiores impedit quibusdam.
              | Quod sit molestias sapiente.

              +text-list


          +accordion
            +accordion-header
              +accordion-button +
            +accordion-body
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Obcaecati aliquam perferendis velit ex numquam, consequatur
              | doloribus magnam accusantium expedita eveniet,
              | quisquam voluptate quos maiores impedit quibusdam.
              | Quod sit molestias sapiente.

              +text-list


      +tab-wrapper()(data-tab="tab2" data-tab-group="testtabs")
        +accordions
          +accordion.is-active
            +accordion-header
              +accordion-button Блок #1
            +accordion-body
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Obcaecati aliquam perferendis velit ex numquam, consequatur
              | doloribus magnam accusantium expedita eveniet,
              | quisquam voluptate quos maiores impedit quibusdam.
              | Quod sit molestias sapiente.
          +accordion
            +accordion-header
              +accordion-button Блок #2
            +accordion-body
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Obcaecati aliquam perferendis velit ex numquam, consequatur
              | doloribus magnam accusantium expedita eveniet,
              | quisquam voluptate quos maiores impedit quibusdam.
              | Quod sit molestias sapiente.
      +tab-wrapper()(data-tab="tab3" data-tab-group="testtabs")
        +accordions
          +accordion.is-active
            +accordion-header
              +accordion-button Блок #1
            +accordion-body
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Obcaecati aliquam perferendis velit ex numquam, consequatur
              | doloribus magnam accusantium expedita eveniet,
              | quisquam voluptate quos maiores impedit quibusdam.
              | Quod sit molestias sapiente.
          +accordion
            +accordion-header
              +accordion-button Блок #2
            +accordion-body
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Obcaecati aliquam perferendis velit ex numquam, consequatur
              | doloribus magnam accusantium expedita eveniet,
              | quisquam voluptate quos maiores impedit quibusdam.
              | Quod sit molestias sapiente.



    