.content-left {
  flex: 2;
  margin-right: 56px;
  display: block;
  color: $color-basic;
  border-bottom: 1px solid $color-basic-light;

  &__title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 30px;
    &_top {
      margin-top: 27px;
    }

    &_location {
      margin-bottom: 21px;
    }
  }

  &__text {
    margin-bottom: 67px;
    letter-spacing: -0.36px;
    line-height: 1.65;
  }

  &__title-bottom {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.8px;
  }

  &__map-item {
    display: flex;
    border-bottom: 1px solid $color-basic-light;
  }

  &__map-text {
    margin-right: 13px;
  }

  &__last {
    margin-right: auto;
  }

  &__mr {
    margin: 0 9px;
  }
}