mixin promo-slider()
  +b.promo-slider&attributes(attributes)(data-promo-slider)
    +e.container.swiper-container(data-promo-slider-container)
      .swiper-wrapper
        block
    +e.navigation
      +e.title.nd-hide-from-lg(data-promo-slider-titles)
      +e.buttons
        +e.button_prev(data-promo-slider-button-prev)
          +icon('nd-slider-arrow')
        +e.button_next(data-promo-slider-button-next)
          +icon('nd-slider-arrow')
      +e.pagination.nd-hide-lg(data-promo-slider-pagination)

mixin promo-slider-slide(data)
  +e.slide__.swiper-slide&attributes(attributes)(data-promo-slide-title=data.title)
    +e.media
      +e.image(class=data.class)
        IMG(src=data.image)
    +e.content
      +e.text!=data.text
    block
