.check-button {
  $b: &;

  display: inline-block;

  &_offer {
    @include screen('sm', min, 2) {
      position: relative;
    }
  }

  &__input {
    display: none;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid $nd-color-border3;
    border-radius: 20px;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: -.02em;
    padding: 10px 15px;
    cursor: pointer;
    transition: border $ease-main, color $ease-main, background $ease-main, transform $ease-main;
    white-space: nowrap;
    text-align: center;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    user-select: none;

    @include screen('xlg', max, 2) {
      border-radius: pxtovw(20, 1660);
      font-size: pxtovw(15, 1660);
      padding: pxtovw(10, 1660) pxtovw(15, 1660);
    }

    @include screen('lg', max, 2) {
      border-radius: pxtovw(20, 1366);
      font-size: pxtovw(15, 1366);
      padding: pxtovw(10, 1366) pxtovw(15, 1366);
    }

    @include screen('md', max, 2) {
      border-radius: pxtovw(20, 960);
      font-size: pxtovw(15, 960);
      padding: pxtovw(10, 960) pxtovw(15, 960);
    }

    @include screen('sm', max, 2) {
      border-radius: pxtovw(20, 375);
      font-size: pxtovw(15, 375);
      padding: pxtovw(10, 375) pxtovw(15, 375);
    }

    #{$b}_fw600 & {
      font-weight: 600;
    }

    #{$b}_fz17 & {
      font-size: 17px;
      line-height: 1.06;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(17, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(17, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(17, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(17, 375);
      }
    }

    #{$b}_lg-fz13 & {
      @include screen('lg', max, 2) {
        line-height: (16 / 13);
      }

      @include rule(font-size, (lg: 13, md: 13, sm: 13));
    }

    #{$b}:hover & {
      border-color: $nd-color-basic;
    }

    #{$b}:active & {
      transform: scale(.96);
    }

    #{$b}_hov-blue:hover & {
      border-color: $nd-color-main;
    }

    #{$b}__input:checked ~ & {
      border-color: $nd-color-basic;
      background-color: $nd-color-basic;
      color: $nd-color-basic-light;
    }

    #{$b}_h34 & {
      padding: 7px 20px;

      @include screen('xlg', max, 2) {
        padding: pxtovw(7, 1660) pxtovw(20, 1660);
      }

      @include screen('lg', max, 2) {
        padding: pxtovw(7, 1366) pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        padding: pxtovw(7, 960) pxtovw(20, 960);
      }

      @include screen('sm', max, 2) {
        padding: pxtovw(7, 375) pxtovw(20, 375);
      }
    }

    #{$b}_icon & {
      padding-left: 45px;
      padding-right: 15px;

      @include screen('xlg', max, 2) {
        padding-left: pxtovw(45, 1660);
        padding-right: pxtovw(15, 1660);
      }

      @include screen('lg', max, 2) {
        padding-left: pxtovw(45, 1366);
        padding-right: pxtovw(15, 1366);
      }

      @include screen('md', max, 2) {
        padding-left: pxtovw(45, 960);
        padding-right: pxtovw(15, 960);
      }

      @include screen('sm', max, 2) {
        padding-left: pxtovw(15, 375);
        padding-right: pxtovw(15, 375);
      }
    }

    #{$b}_icon_user & {
      background-repeat: no-repeat;
      background-position: 16px 50%;
      background-size: 13px 14px;
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.47085 4.20798C9.47085 6.07673 8.01248 7.56147 6.25007 7.56147C4.48766 7.56147 3.0293 6.07673 3.0293 4.20798C3.0293 2.33924 4.48766 0.854492 6.25007 0.854492C8.01248 0.854492 9.47085 2.33924 9.47085 4.20798Z' stroke='%23A3ACBA'/%3E%3Cpath d='M12.0001 12.9659C12.0001 11.0311 9.4256 9.46271 6.2498 9.46271C3.074 9.46271 0.499512 11.0311 0.499512 12.9659' stroke='%23A3ACBA' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");

      @include screen('xlg', max, 2) {
        background-position: pxtovw(16, 1660) 50%;
        background-size: pxtovw(13, 1660) pxtovw(14, 1660);
      }

      @include screen('lg', max, 2) {
        background-position: pxtovw(16, 1366) 50%;
        background-size: pxtovw(13, 1366) pxtovw(14, 1366);
      }

      @include screen('md', max, 2) {
        background-position: pxtovw(16, 960) 50%;
        background-size: pxtovw(13, 960) pxtovw(14, 960);
      }

      @include screen('sm', max, 2) {
        background-image: none;
      }
    }

    #{$b}_offer & {
      padding-left: 35px;
      padding-right: 12px;
      width: 100%;

      @include screen('xlg', max, 2) {
        padding-left: pxtovw(35, 1660);
        padding-right: pxtovw(12, 1660);
      }

      @include screen('lg', max, 2) {
        padding-left: pxtovw(35, 1366);
        padding-right: pxtovw(12, 1366);
      }

      @include screen('md', max, 2) {
        padding-left: pxtovw(35, 960);
        padding-right: pxtovw(12, 960);
      }

      @include screen('sm', max, 2) {
        padding-left: pxtovw(20, 375);
        padding-right: pxtovw(20, 375);
      }
    }

    #{$b}_nobox & {
      padding-left: 12px;
      padding-right: 12px;

      @include screen('xlg', max, 2) {
        padding-left: pxtovw(12, 1660);
        padding-right: pxtovw(12, 1660);
      }

      @include screen('lg', max, 2) {
        padding-left: pxtovw(12, 1366);
        padding-right: pxtovw(12, 1366);
      }

      @include screen('md', max, 2) {
        padding-left: pxtovw(12, 960);
        padding-right: pxtovw(12, 960);
      }

      @include screen('sm', max, 2) {
        padding-left: pxtovw(20, 375);
        padding-right: pxtovw(20, 375);
      }
    }

    #{$b}_pad10 & {
      @include rule(padding-left, (xl: 10px, xlg: 10, lg: 10, md: 10, sm: 10));
      @include rule(padding-right, (xl: 10px, xlg: 10, lg: 10, md: 10, sm: 10));
    }
  }

  &__count {
    #{$b}_offer & {
      @include screen('sm', min, 2) {
        display: none;
      }
    }
  }

  &__offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.06;
    width: 100%;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(17, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(17, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(17, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(17, 375);
      line-height: 1.24;
    }

    #{$b}_offer & {
      @include screen('sm', min, 2) {
        justify-content: center;
        letter-spacing: -.02em;
        width: auto;
      }
    }
  }

  &__type {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:not(:last-child) {
      margin-right: 20px;

      @include screen('xlg', max, 2) {
        margin-right: pxtovw(20, 1660);
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(20, 960);
      }

      @include screen('sm', max, 2) {
        margin-right: pxtovw(20, 375);
      }
    }

    #{$b}_offer & {
      &:not(:last-child) {
        @include screen('sm', min, 2) {
          margin-right: 0;
        }
      }
    }
  }

  &__box {
    width: 12px;
    height: 12px;

    @include screen('xlg', max, 2) {
      width: pxtovw(12, 1660);
      height: pxtovw(12, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(12, 1366);
      height: pxtovw(12, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(12, 960);
      height: pxtovw(12, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(12, 375);
      height: pxtovw(12, 375);
    }

    &:not(:last-child) {
      margin-right: 10px;

      @include screen('xlg', max, 2) {
        margin-right: pxtovw(10, 1660);
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(10, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(10, 960);
      }

      @include screen('sm', max, 2) {
        margin-right: pxtovw(10, 375);
      }
    }

    #{$b}_offer & {
      width: 14px;
      height: 14px;
      left: 9px;
      box-sizing: border-box;

      @include screen('xlg', max, 2) {
        width: pxtovw(14, 1660);
        height: pxtovw(14, 1660);
        left: pxtovw(9, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(14, 1366);
        height: pxtovw(14, 1366);
        left: pxtovw(9, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(14, 960);
        height: pxtovw(14, 960);
        left: pxtovw(9, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(12, 375);
        height: pxtovw(12, 375);
        left: auto;
      }

      @include screen('sm', min, 2) {
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        background-color: transparent;
        border: 1px solid currentColor;
        background-image: none;
      }

      &.nd-box_multy {
        @include screen('sm', max, 2) {
          width: pxtovw(15, 375);
          height: pxtovw(15, 375);
          margin-left: pxtovw(-3, 375);
        }
      }
    }
  }
}
