.check-input {
  display: flex;
  align-items: center;
  width: 100%;

  .checkbox {
    width: auto !important;
  }

  &__content {
    display: flex;
    align-items: center;
    cursor: not-allowed;
    opacity: .7;
    transition: opacity $ease-main;
    flex-grow: 1;

    .form-box {
      flex-shrink: 0;
      width: auto;
      pointer-events: none;
    }

    .active & {
      cursor: default;
      opacity: 1;

      .form-box {
        pointer-events: all;
      }
    }
  }

  &__text {
    font-size: 18px;
    color: $color-form-light;
    letter-spacing: -.02em;
    margin-left: 20px;
    flex-shrink: 0;
  }
}
