.input {
  @include text-big;

  font-weight: 400;
  line-height: (26/18);
  border-bottom: 1px solid $color-form-border;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  color: $color-basic;
  padding-top: 5px;
  padding-bottom: 8px;
  transition: border $ease-main, color $ease-main;

  @include screen('sm') {
    @include text16;
  }

  &:-ms-input-placeholder {
    color: transparent;
  }

  &::placeholder {
    color: transparent;
  }

  &:hover,
  &:focus {
    border-bottom-color: $color-basic;
  }

  &[type="password"] {
    // color: transparent;
  }

  &_points {
    padding-left: 22px;
    padding-bottom: 10px;

    &:-ms-input-placeholder {
      color: $color-placeholder;
    }

    &::placeholder {
      color: $color-placeholder;
    }
  }

  .is-error & {
    border-bottom-color: $color-error;
  }
}

.inputbox {
  display: block;
}

.textarea {
  @extend .input;

  padding-top: 5px;
  padding-bottom: 8px;
  min-height: 40px;
  resize: none;
}

.checkradio {
  $radio: &;

  position: relative;
  padding-left: 33px;
  display: inline-block;
  cursor: pointer;

  &.is-disabled {
    cursor: default;
    pointer-events: none;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &:checked {

      &+#{$radio}__box {
        background-color: $color-basic;
        border-color: $color-form-border-dark;

        &::before {
          opacity: 1;
        }
      }
    }

    &:disabled {

      &+#{$radio}__box {
        opacity: .51;
      }
    }
  }

  &__box {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid $color-form-border;
    left: 0;
    top: 50%;
    border-radius: 50%;
    transform: translate3d(0, -50%, 0);
    transition: border $ease-main, background $ease-main, opacity $ease-main;

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      background-color: $color-white;
      display: block;
      opacity: 0;
      transition: opacity $ease-main;
      border-radius: 50%;

      @include center-image;
    }

    #{$radio}:hover & {
      border-color: $color-form-border-dark;
      background-color: $color-basic;
    }

    #{$radio}.is-disabled & {
      opacity: .51;
    }
  }

  &__content {
    @include text-big;

    color: $color-basic;
  }

  &_small {
    padding-left: 28px;

    #{$radio}__box {
      width: 13px;
      height: 13px;

      &::before {
        width: 6px;
        height: 6px;
      }
    }

    #{$radio}__content {
      @include text12;

      line-height: (30/12);
      letter-spacing: -.011em;
    }
  }

  &_nobox {
    padding-left: 0;

    #{$radio}__input {
      &:checked {

        &~#{$radio}__content {
          color: $color-basic-dark;
        }
      }
    }

    #{$radio}__box {
      display: none;
    }

    #{$radio}__content {
      transition: color $ease-main;
    }

    &:hover {
      #{$radio}__content {
        color: $color-basic-dark;
      }
    }
  }

  &_border {
    padding-left: 0;

    #{$radio}__box {
      top: 3px;
      transform: translate3d(0, 0, 0);

      @include screen('sm') {
        top: 0;
      }
    }

    #{$radio}__content {
      padding-left: 33px;
      border-bottom: 1px solid $color-form-border;
      transition: border $ease-main;
      padding-bottom: 10px;
      box-sizing: border-box;

      @include screen('sm') {
        @include text;

        line-height: 1.2;
        padding-bottom: 12px;
      }

      .is-error & {
        border-bottom-color: $color-error;
      }
    }

    &:hover #{$radio}__content {
      border-bottom-color: $color-basic;
    }

    input:checked~#{$radio}__content {
      border-bottom-color: $color-basic;
    }
  }
}

.checkbox {
  $check: &;

  position: relative;
  padding-left: 33px;
  display: inline-block;
  cursor: pointer;

  &.is-disabled {
    cursor: default;
    pointer-events: none;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &:checked {

      &+#{$check}__box {
        background-color: $color-basic;
        border-color: $color-form-border-dark;

        #{$check}__icon {
          opacity: 1;
        }
      }
    }

    &:disabled {

      &+#{$check}__box {
        opacity: .51;
      }
    }
  }

  &__box {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid $color-form-border;
    left: 0;
    top: 50%;
    border-radius: 0;
    transform: translate3d(0, -50%, 0);
    transition: border $ease-main, background $ease-main, opacity $ease-main;
    background-color: $color-bg;

    #{$check}:hover & {
      border-color: $color-form-border-dark;
      background-color: $color-basic;
    }

    #{$check}.is-disabled & {
      opacity: .51;
    }
  }

  &__icon {
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 0;
    line-height: 0;
    width: 14px;
    height: 12px;
    fill: $color-white;
    opacity: 0;
    transition: opacity $ease-main;
  }

  &__content {
    @include text-big;

    color: $color-basic;
  }

  &_small {
    padding-left: 28px;

    #{$check}__box {
      width: 13px;
      height: 13px;
    }

    #{$check}__icon {
      width: 12px;
      height: 10px;
      top: 1px;
      left: 1px;
    }

    #{$check}__content {
      @include text12;

      line-height: (30/12);
      letter-spacing: -.011em;
    }
  }

  &_inverse {
    padding-left: 0;
    padding-right: 28px;

    #{$check}__box {
      left: auto;
      right: 0;
    }
  }

  &_border {
    padding-left: 0;

    #{$check}__box {
      top: 3px;
      transform: translate3d(0, 0, 0);

      @include screen('sm') {
        top: 0;
      }
    }

    #{$check}__content {
      padding-left: 33px;
      border-bottom: 1px solid $color-form-border;
      transition: border $ease-main;
      padding-bottom: 10px;
      box-sizing: border-box;

      @include screen('sm') {
        @include text;

        line-height: 1.2;
        padding-bottom: 12px;
      }
    }

    &:hover #{$check}__content {
      border-bottom-color: $color-basic;
    }

    input:checked~#{$check}__content {
      border-bottom-color: $color-basic;
    }
  }
}

// #####
// Радио кнопки в виде цветных границ
// #####

.color-radio {
  $b: &;

  position: relative;
  display: inline-block;
  cursor: pointer;
  color: $color-white;

  &_dark {
    color: $color-basic;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__content {
    @include text-mid;

    font-weight: 700;
    border: 2px solid transparent;
    transition: all $ease-main;
    border-radius: 3px;
    padding: 0 5px;
    line-height: (26/17);
    position: relative;

    @include screen('md') {
      @include heading-4;

      line-height: (26/20);
    }

    #{$b}:hover & {
      border-color: $color-hot-desk;
    }

    #{$b}__input:checked~& {
      border-color: $color-hot-desk;
    }

    &::before {
      @include pseudo;

      top: 100%;
      left: 5px;
      width: calc(100% - 10px);
      height: 2px;
      background-color: $color-hot-desk;
    }
  }

  &_orange {

    #{$b}__content::before {
      background-color: $color-hot-desk;
    }

    &:hover #{$b}__content {
      border-color: $color-hot-desk;
    }

    #{$b}__input:checked~#{$b}__content {
      border-color: $color-hot-desk;
    }
  }

  &_red {

    #{$b}__content::before {
      background-color: $color-dedicated-desk;
    }

    &:hover #{$b}__content {
      border-color: $color-dedicated-desk;
    }

    #{$b}__input:checked~#{$b}__content {
      border-color: $color-dedicated-desk;
    }
  }

  &_blue {
    #{$b}__content::before {
      background-color: $color-meeting-room;
    }

    &:hover #{$b}__content {
      border-color: $color-meeting-room;
    }

    #{$b}__input:checked~#{$b}__content {
      border-color: $color-meeting-room;
    }
  }

  &_green {
    #{$b}__content::before {
      background-color: $color-office-space;
    }

    &:hover #{$b}__content {
      border-color: $color-office-space;
    }

    #{$b}__input:checked~#{$b}__content {
      border-color: $color-office-space;
    }
  }

  &_full {
    #{$b}__content {
      border-color: transparent;
      border-radius: 0;

      &::before {
        transition: background $ease-main;
        background-color: rgba($color-white, .8);
      }
    }


    &:hover {
      color: rgba($color-white, .8);

      #{$b}__content {
        border-color: transparent;

        &::before {
          background-color: $color-white;
        }
      }
    }

    #{$b}__input:checked~#{$b}__content {
      border-color: $color-white;
      background-color: $color-white;
      color: $color-basic;

      &::before {
        background-color: $color-white;
      }
    }

    &#{$b}_dark {

      #{$b}__content {

        &::before {
          background-color: $color-form-border;
        }
      }

      &:hover {
        color: $color-radio-dark-hover;

        #{$b}__content {

          &::before {
            background-color: $color-basic;
          }
        }
      }

      #{$b}__input:checked~#{$b}__content {
        border-color: $color-basic;
        background-color: $color-basic;
        color: $color-white;

        &::before {
          background-color: $color-basic;
        }
      }
    }
  }
}

// #####
// Блок выбора количества
// #####

.input-numberbox {
  display: flex;
  width: 100%;
  border: 1px solid $color-border-light;
  border-radius: 3px;
  transition: box-shadow $ease-main;

  &:hover {
    box-shadow: 1px 1px 8px rgba(34, 42, 46, .18);
  }

  &__field {
    display: inline-flex;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    padding: 0 15px;
    max-width: calc(100% - 130px);

    @include screen('bg') {
      max-width: calc(100% - 100px);
    }
  }

  &__button {
    position: relative;
    width: 64px;
    min-width: 64px;
    margin-top: -1px;
    margin-bottom: -1px;
    height: 41px;
    border: 1px solid $color-border-light;
    border-right-color: transparent;
    cursor: pointer;
    transition: border $ease-main;

    @include screen('bg') {
      min-width: 50px;
      width: 50px;
    }

    &:not(:last-child) {
      margin-right: -1px;
      z-index: 1;
    }

    &:hover {
      border-color: $color-text-light;
    }

    &::before,
    &::after {
      @include pseudo;

      top: 50%;
      left: 50%;
      transform-origin: 50% 50%;
      width: 14px;
      height: 2px;
      background-color: $color-basic;
      transform: translate3d(-50%, -50%, 0);
    }

    &.js-numberbox-minus {
      &::after {
        display: none;
      }
    }

    &.js-numberbox-plus {
      &::before {}

      &::after {
        transform: translate3d(-50%, -50%, 0) rotate(90deg);
      }
    }
  }

  &__input {
    @include heading-4;

    font-weight: 700;
    line-height: (26/20);
    color: $color-basic;
    width: auto;
    min-width: 0;
  }

  &__label {
    @include text;

    line-height: (26/14);
    font-weight: 700;
    text-transform: uppercase;
    color: $color-text-light;
    margin-right: 5px;
  }
}

.input-numbers {
  position: relative;
  display: block;
  width: 100%;

  &__input {
    padding-right: 60px;
  }

  &__buttons {
    position: absolute;
    top: 0;
    right: -10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: auto;
    height: 100%;
    z-index: 3;
    padding-right: 4px;
  }

  &__button {
    position: relative;
    display: block;
    width: 34px;
    min-width: 34px;
    height: 100%;
    cursor: pointer;

    &::before,
    &::after {
      @include pseudo;

      top: 50%;
      left: 50%;
      transform-origin: 50% 50%;
      width: 14px;
      height: 2px;
      background-color: $color-basic;
      transform: translate3d(-50%, -50%, 0);
      transition: background $ease-main;
    }

    &:hover::before,
    &:hover::after {
      background-color: $color-basic-dark;
    }

    &.js-numberbox-minus {
      &::after {
        display: none;
      }
    }

    &.js-numberbox-plus {
      &::before {}

      &::after {
        transform: translate3d(-50%, -50%, 0) rotate(90deg);
      }
    }
  }
}

// #####
// Кастомные селекты
// #####

@import '../../../node_modules/choices.js/src/styles/choices.scss';

.select {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  min-height: 0;
}

.choices {
  $k: &;

  display: inline-block;
  margin-bottom: 0;

  &__inner {
    @extend .select;
    @include text-mid;

    line-height: (26/17);
    font-weight: 700;
    color: $color-basic;
    transition: all $ease-main;
    border: none;
  }

  &[data-type*="select-one"] {

    .choices__inner {
      padding-bottom: 0;
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &::after {
    display: none;
  }

  &__list {
    border: none;
    z-index: 4;

    &--single {
      display: table;
      box-sizing: border-box;
      height: 100%;
      padding: 0;
      padding-right: 20px;
      max-width: 290px;

      .choices__item {
        display: table-cell;
        vertical-align: middle;
        padding: 0;
      }
    }

    &--dropdown {
      box-sizing: border-box;
      background-color: $color-bg;
      border-top: 1px solid $color-basic;
      border-bottom: 1px solid $color-basic;
      width: 100px;
      max-height: 100px;
      transition: all $ease-main;

      .choices__item {
        @include text16;

        line-height: (28/16);
        font-weight: 700;
        color: $color-basic;
        padding: 0 10px;

        &--selectable {
          transition: all $ease-main;

          &.is-highlighted {
            background-color: $color-basic;
            color: $color-white;
          }
        }
      }

      #{$k}__list {
        overflow: visible;
      }

      #{$k}__placeholder {
        display: none;
      }

      #{$k}.is-open-right & {
        right: 0;
      }

      .popup & {
        background-color: $color-white;
      }
    }
  }

  &__placeholder {
    opacity: 1;
  }

  &__toggle {
    position: absolute;
    display: block;
    font-size: 0;
    line-height: 0;
    top: 50%;
    right: 0;
    z-index: 2;
    transform-origin: 50% 50% 0;
    transform: translate3d(0, -50%, 0);
    transition: transform $ease-main;

    svg {
      width: 12px;
      height: 7px;
      fill: currentColor;
      transition: fill $ease-main;
    }

    .is-open & {
      transform: translate3d(0, -50%, 0) rotate(180deg);
    }
  }

  &.is-open & {

    &__inner {
      border-color: $color-basic;
      border-radius: 0;
    }

    &__list {
      &--dropdown {
        border-color: $color-basic;
        border-radius: 0;
      }
    }
  }

  &:hover &,
  &.is-open & {
    &__inner {
      color: $color-basic-dark;
    }
  }

  &_light {
    width: 100%;

    #{$k}__inner {
      @include text-mid;

      line-height: (26/17);
      color: $color-white;
      overflow: hidden;
      border-radius: 3px 3px 0 0;

      @include screen('sm') {
        @include text;

        line-height: (26/14);
      }

      &::before {
        @include pseudo;

        bottom: 0;
        left: 7px;
        width: calc(100% - 14px);
        height: 2px;
        background-color: $color-white;
        transition: all $ease-main;
        z-index: 3;
      }
    }

    #{$k}__placeholder {
      font-weight: 400;
    }

    #{$k}__toggle {
      right: 8px;
      z-index: 3;

      @include screen('sm') {
        right: 14px;
      }
    }

    #{$k}__list {

      &--single {
        position: relative;
        width: 100%;
        max-width: none;
        padding-left: 5px;
        padding-right: 25px;
        padding-bottom: 1px;
        background-color: rgba($color-select-bg, 0);
        background-clip: padding-box;
        border-radius: 3px 3px 0 0;
        border: 2px solid transparent;
        overflow: hidden;
        transition: border $ease-main, background $ease-main;
        z-index: 2;
      }

      &--dropdown {
        width: 100%;
        max-width: none;
        background-color: rgba($color-select-bg, .32);
        border: 2px solid $color-white;
        border-top-width: 0;
        border-top-color: transparent;
        border-radius: 0 0 3px 3px;
        margin-top: -2px;
        max-height: 118px;
        box-sizing: border-box;
        padding-top: 7px;
        padding-bottom: 7px;

        @include screen('sm') {
          background-color: $color-select-bg;
        }

        #{$k}__item {
          @include text;

          line-height: (26/14);
          color: $color-white;
          font-weight: 700;

          &--selectable {
            &.is-highlighted {
              background-color: $color-bg;
              color: $color-basic;
            }
          }
        }
      }
    }

    &:hover #{$k}__inner,
    &.is-open #{$k}__inner {
      color: $color-white;
    }

    &:hover #{$k}__inner::before {
      z-index: 5;
    }

    &:hover #{$k}__list {
      &--single {
        border-color: $color-white;
        border-radius: 3px;
      }

      &--dropdown {
        border-color: $color-white;
        border-top-color: transparent;
      }
    }

    &.is-open #{$k}__inner {
      &::before {
        bottom: 1px;
        left: 2px;
        width: calc(100% - 4px);
        height: 1px;
        background-color: $color-inner-border;
        z-index: 5;
      }
    }

    &.is-open #{$k}__list {
      &--single {
        background-color: rgba($color-select-bg, .32);
        border-color: $color-white;
        border-bottom-color: transparent;
        border-radius: 3px 3px 0 0;

        @include screen('sm') {
          background-color: $color-select-bg;
        }
      }

      &--dropdown {
        border-color: $color-white;
        border-top-color: transparent;
        border-radius: 0 0 3px 3px;
      }
    }
  }

  &_color {

    #{$k}__inner {
      &::before {
        background-image: linear-gradient(to right, $color-hot-desk 25%, $color-dedicated-desk 25%, $color-dedicated-desk 50%, $color-meeting-room 50%, $color-meeting-room 75%, $color-office-space 75%);
      }
    }

    &:hover #{$k}__inner {

      &::before {
        background-image: none;
      }
    }

    &.is-open #{$k}__inner {

      &::before {
        background-image: none;
      }
    }
  }

  &_dark {

    #{$k}__inner {
      @include heading-4;

      line-height: (26/20);
      border-radius: 3px;
      transition: box-shadow $ease-main;

      &::before {
        @include pseudo;

        width: 100%;
        height: 5px;
        bottom: 1px;
        left: 0;
        background-color: $color-select-bg-light;
        opacity: 0;
        border-bottom: 1px solid $color-bg;
        z-index: 5;
        transition: opacity $ease-main, border $ease-main;
      }
    }

    #{$k}__list {

      &--single {
        padding-top: 5px;
        padding-bottom: 3px;
        padding-left: 9px;
        padding-right: 30px;
        background-color: rgba($color-select-bg-light, 0);
        border-bottom: 2px solid transparent;
        transition: border $ease-main,
          background $ease-main;

        @include screen('md') {
          padding-right: 34px;
        }
      }

      &--dropdown {
        padding-top: 15px;
        padding-bottom: 6px;
        border-top-width: 0;
        border-bottom-width: 0;
        background-color: $color-select-bg-light;
        border-radius: 0 3px 3px 3px;
        box-shadow: 1px 1px 8px rgba(34, 42, 46, .06);
        max-height: 201px;
        transition: box-shadow $ease-main, opacity $ease-main;

        #{$k}__item {
          @include text16;

          line-height: (30/16);
          color: $color-basic;
          font-weight: 700;
          padding: 0 18px;

          &--selectable {
            &.is-highlighted {
              background-color: $color-basic;
              color: $color-select-bg-light;
            }
          }
        }
      }
    }

    #{$k}__toggle {
      right: 8px;

      svg {
        fill: $color-basic;
      }
    }

    &:hover #{$k}__inner,
    &.is-open #{$k}__inner {
      color: $color-basic;
    }

    &.is-item-select #{$k}__inner {
      color: $color-selected-dark;
    }

    &.is-item-select #{$k}__list {
      &--single {
        background-color: $color-select-bg-light;
      }
    }

    &:hover #{$k}__inner {
      background-color: var(--color-select-bg-light);
      box-shadow: 1px 1px 8px rgba(34, 42, 46, .06);
    }

    &:hover #{$k}__list {

      &--single {
        background-color: $color-select-bg-light;
      }
    }

    &.is-open #{$k}__inner {
      box-shadow: 1px 1px 8px rgba(34, 42, 46, .06);
      border-radius: 3px 3px 0 0;

      &::before {
        opacity: 1;
      }
    }

    &.is-open #{$k}__list {

      &--single {
        box-shadow: 1px 1px 8px rgba(34, 42, 46, .06);
        background-color: $color-select-bg-light;
      }

      &--dropdown {
        border-radius: 0 3px 3px 3px;
      }
    }
  }

  &_input {
    width: 100%;

    #{$k}__inner {
      @include text-big;

      font-weight: 400;
      line-height: (26/18);
      width: 100%;
      box-sizing: border-box;
      border-radius: 0;
      color: $color-basic;
      transition: color $ease-main;
      overflow: hidden;

      @include screen('sm') {
        @include text16;
      }
    }

    #{$k}__toggle {
      right: 6px;

      @include screen('md') {
        right: 12px;
      }

      @include screen('sm') {
        right: 9px;
      }

      svg {
        fill: $color-basic;
      }
    }

    #{$k}__list {

      &--single {
        padding-top: 5px;
        padding-bottom: 8px;
        border-bottom: 1px solid $color-form-border;
        width: 100%;
        max-width: none;
        transition: border $ease-main;

        @include ellipsis(100%);

        #{$k}__item {
          @include ellipsis(100%);
        }
      }

      #{$k}__placeholder {
        color: transparent;

        @include ellipsis(100%);
      }

      &--dropdown {
        width: 100%;
        max-width: none;
        max-height: 276px;
        padding-top: 16px;
        padding-bottom: 16px;

        #{$k}__item {
          @include text16;

          line-height: (35/16);
          font-weight: 400;
          padding: 0 6px;

          &[data-value="placeholder"] {
            display: none;
          }
        }

        .form_white & {
          background-color: $color-white;
        }
      }
    }

    &:hover {
      #{$k}__inner {
        color: $color-basic;
      }

      #{$k}__list {
        &--single {
          border-bottom-color: $color-basic;
        }
      }

      #{$k}__placeholder {
        color: transparent;
      }
    }

    &.is-open {

      #{$k}__inner {
        color: $color-basic;
      }

      #{$k}__list {
        &--single {
          border-bottom-color: $color-basic;
        }
      }
    }
  }
}

// #####
// Range-слайдер
// #####

.range {
  display: inline-block;
  width: 100%;
}

.range .noUi {

  &-base {
    height: 2px;
    background-color: $color-border;
    position: relative;
    margin: 8px 0; // margin нужен, чтобы handler не налезал на другие элементы
  }

  &-connect {
    height: 100%;
    position: absolute;
    background-color: $color-main;
  }

  &-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    border: 1px solid $color-border;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
    transition: border-color $ease-main;
    cursor: pointer;

    &:hover {
      border-color: $color-main;
    }
  }

  &-origin {
    position: absolute;
    top: 0;
    height: 100%;
  }
}

// #####
// Календарь
// #####

@import '../../node_modules/air-datepicker/dist/css/datepicker.css';

.js-datepicker {
  cursor: pointer;
}

.datepicker {
  color: $color-basic;
  font-size: 14px;
  width: 250px;
  background: white;
  border: 1px solid $color-border;
  box-shadow: 0 2px 4px rgba($color-basic, .15);
  border-radius: 0;
  transition: opacity $ease-main, transform $ease-main, left 0s $ease-main;
  font-family: $font-main;

  &.-from-bottom- {
    transform: translateY(8px);
  }

  &.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity $ease-main, transform $ease-main, left 0 0;
  }
}

// Стрелочка сверху над блоком

.datepicker--pointer {
  border-top-color: $color-border;
  border-right-color: $color-border;
}

// Цвет дней недели

.datepicker--day-name {
  color: $color-main;
}

// Ячейка со стрелкой

.datepicker--nav-action {
  border-radius: 0;
  transition: color $ease-main, background-color $ease-main;

  // Цвет стрелок
  path {
    stroke: $color-basic;
  }
}

// Шапка календаря

.datepicker--nav {
  border-color: $color-border;

  // Ячейка с заголовком месяца/года

  &-title {
    border-radius: 0;
    transition: color $ease-main, background-color $ease-main;

    // Цвет года в шапке

    i {
      color: rgba($color-basic, .5);
    }
  }
}

// Цвет ховера по ячейкам в календаре, шапке

.datepicker--cell.-focus-,
.datepicker--nav-action:hover,
.datepicker--nav-title:hover {
  background: rgba($color-border, .3);
}

// Стиль ячейки

.datepicker--cell {
  border-radius: 0;
  transition: color $ease-main, background-color $ease-main;

  // Цвет сегодняшнего даты/месяца

  &.-current- {
    color: $color-main;
    background: rgba($color-main, .1);
  }

  // Ховер по активной дате

  &.-selected-.-focus- {
    background: rgba($color-main, .8);
  }

  // Неактивная ячейка

  &.-disabled- {
    color: rgba($color-basic, .3);
  }

  // Цвет фона активного месяца/дня

  &.-selected-,
  &.-selected-.-current- {
    background: $color-main;
  }
}

// Цвет даты другого месяца/года

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: rgba($color-basic, .2);

  &:hover {
    color: rgba($color-basic, .5);
  }
}

// Стили при выборе диапазона дат

.datepicker--cell.-range-to-,
.datepicker--cell.-range-from- {
  border: 0;
  background-color: rgba($color-main, .3);

  &.-selected- {
    background-color: $color-main;
  }
}

.datepicker--cell.-range-from- {
  border-radius: 3px 0 0 3px;
}

.datepicker--cell.-range-to- {
  border-radius: 0 3px 3px 0;
}

// Стили ячеек другого месяца, находящихся в диапазоне

.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba($color-main, .1);
  color: rgba($color-main, .3);

  &.-focus- {
    background-color: rgba($color-main, .2);
  }
}

// Стили промежуточных ячеек в диапазоне

.datepicker--cell.-in-range- {
  background: rgba($color-main, .2);
  color: $color-main;
  border-radius: 0;

  &.-current- {
    color: $color-basic;
  }

  &.-focus- {
    background: rgba($color-main, .3);
  }
}
