.input {
  @include text-big;

  line-height: (26 / 18);
  border-bottom: 1px solid $color-form-border;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  color: $color-black;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 8px;
  transition: border $ease-main, color $ease-main;

  @include screen("sm") {
    @include text16;
  }

  &:-ms-input-placeholder {
    color: transparent;
    font-weight: 400;
  }

  &::placeholder {
    color: transparent;
    font-weight: 400;
  }

  &:hover,
  &:focus {
    border-bottom-color: $color-basic;
  }

  &_points {
    padding-left: 22px;
    padding-bottom: 10px;

    &:-ms-input-placeholder {
      color: $color-placeholder;
    }

    &::placeholder {
      color: $color-placeholder;
    }
  }

  &_def-plchldr {
    padding-bottom: 10px;

    &:-ms-input-placeholder {
      color: $color-placeholder;
    }

    &::placeholder {
      color: $color-placeholder;
    }
  }

  &_fz17 {
    @include text-mid;

    @include screen("sm") {
      @include text15;
    }
  }

  &_bold {
    font-weight: 700;
  }

  &_dark {
    color: $color-black;
    // color: $color-input-dark;
  }

  &_normal {
    font-weight: 400;
  }

  &_underline-light {
    border-bottom-color: $color-border-light;
  }

  .is-top > & {
    border-bottom-color: $color-basic;

    &_underline-light {
      border-bottom-color: $color-border-light;
    }
  }

  .is-error > & {
    border-bottom-color: $color-error;
  }
}

.inputbox {
  display: block;
}

.textarea {
  @extend .input;

  padding-top: 5px;
  padding-bottom: 8px;
  min-height: 40px;
  resize: none;

  &_bpd {
    padding-top: 9px;
    padding-bottom: 16px;
  }

  &_big {
    box-sizing: border-box;
    min-height: 505px;

    @include screen("lg") {
      min-height: 325px;
    }

    @include screen("sm") {
      min-height: 100%;
    }
  }

  &_mfz12 {
    @include screen("sm") {
      @include text12;

      line-height: (13 / 12);
    }
  }

  &_bordered {
    border: 1px solid $color-form-border;

    &:focus,
    &:hover {
      border-color: $color-basic;
    }

    .is-error & {
      border-color: $color-error;
    }
  }

  &_def-plchldr {
    padding: 21px 26px;

    @include screen("sm") {
      padding: 12px;
    }

    &:-ms-input-placeholder {
      color: $color-placeholder;
    }

    &::placeholder {
      color: $color-placeholder;
    }
  }
}

// #####
// Блок выбора количества
// #####

.input-numberbox {
  display: flex;
  width: 100%;
  border: 1px solid $color-border-light;
  border-radius: 3px;
  transition: box-shadow $ease-main;
  $b: &;

  &:hover {
    box-shadow: 1px 1px 8px rgba(34, 42, 46, 0.18);
  }

  &__field {
    display: inline-flex;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    padding: 0 15px;
    max-width: calc(100% - 130px);

    @include screen("bg") {
      max-width: calc(100% - 100px);
    }

    #{$b}_big & {
      margin-right: auto;
      max-width: calc(100% - 166px);

      @include screen("md") {
        max-width: calc(100% - 100px);
      }
    }
  }

  &__button {
    position: relative;
    width: 64px;
    min-width: 64px;
    margin-top: -1px;
    margin-bottom: -1px;
    height: 41px;
    border: 1px solid $color-border-light;
    border-right-color: transparent;
    cursor: pointer;
    transition: border $ease-main;

    @include screen("bg") {
      min-width: 50px;
      width: 50px;
    }

    &:not(:last-child) {
      margin-right: -1px;
      z-index: 1;
    }

    &:hover {
      border-color: $color-text-light;
    }

    &::before,
    &::after {
      @include pseudo;

      top: 50%;
      left: 50%;
      transform-origin: 50% 50%;
      width: 14px;
      height: 2px;
      background-color: $color-basic;
      transform: translate3d(-50%, -50%, 0);

      #{$b}_big & {
        width: 11px;
        height: 1px;
        background-color: $color-black;
      }
    }

    &.js-numberbox-minus {
      &::after {
        display: none;
      }
    }

    &.js-numberbox-plus {
      &::after {
        transform: translate3d(-50%, -50%, 0) rotate(90deg);
      }
    }

    #{$b}_big & {
      width: 82px;
      min-width: 82px;
      height: 50px;
      flex: none;

      @include screen("md") {
        width: 50px;
        min-width: 50px;
      }
    }

    #{$b}.is-readonly & {
      opacity: 0.2;
      pointer-events: none;
    }
  }

  &__input {
    @include heading-4;

    font-weight: 700;
    line-height: (26 / 20);
    color: $color-basic;
    width: auto;
    min-width: 0;

    #{$b}_big & {
      @include text-big;

      text-align: center;
      line-height: (26 / 18);
      color: black;
    }
  }

  &__label {
    @include text;

    line-height: (26 / 14);
    font-weight: 700;
    text-transform: uppercase;
    color: $color-text-light;
    margin-right: 5px;

    #{$b}_big & {
      @include text15;

      line-height: (26 / 15);
      color: $color-basic-light;
    }
  }

  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.input-numbers {
  position: relative;
  display: block;
  width: 100%;
  $b: &;

  &__input {
    padding-right: 60px;
  }

  &__buttons {
    position: absolute;
    top: 0;
    right: -10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: auto;
    height: 100%;
    z-index: 2;
    padding-right: 4px;
  }

  &__button {
    position: relative;
    display: block;
    width: 34px;
    min-width: 34px;
    height: 100%;
    cursor: pointer;

    &::before,
    &::after {
      @include pseudo;

      top: 50%;
      left: 50%;
      transform-origin: 50% 50%;
      width: 14px;
      height: 2px;
      background-color: $color-basic;
      transform: translate3d(-50%, -50%, 0);
      transition: background $ease-main;
    }

    &:hover::before,
    &:hover::after {
      background-color: $color-basic-dark;
    }

    &.js-numberbox-minus {
      &::after {
        display: none;
      }
    }

    &.js-numberbox-plus {
      &::after {
        transform: translate3d(-50%, -50%, 0) rotate(90deg);
      }
    }
  }
}

// #####
// Календарь
// #####

@import "../../node_modules/air-datepicker/dist/css/datepicker.css";

.js-datepicker {
  cursor: pointer;
}

.datepicker {
  color: $color-basic;
  font-size: 14px;
  width: 250px;
  background: white;
  border: 1px solid $color-border;
  box-shadow: 0 2px 4px rgba($color-basic, 0.15);
  border-radius: 0;
  transition: opacity $ease-main, transform $ease-main, left 0s $ease-main;
  font-family: $font-main;

  &.-from-bottom- {
    transform: translateY(8px);
  }

  &.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity $ease-main, transform $ease-main, left 0 0;
  }
}

.is-rr-popup-show .datepicker {
  position: fixed;
  z-index: 100000;
}

.datepicker_fancybox {
  z-index: 100000;

  .is-freeze-window & {
    position: fixed;
  }
}

// Стрелочка сверху над блоком

.datepicker--pointer {
  border-top-color: $color-border;
  border-right-color: $color-border;
}

// Цвет дней недели

.datepicker--day-name {
  color: $color-main;
}

// Ячейка со стрелкой

.datepicker--nav-action {
  border-radius: 0;
  transition: color $ease-main, background-color $ease-main;

  // Цвет стрелок
  path {
    stroke: $color-basic;
  }
}

// Шапка календаря

.datepicker--nav {
  border-color: $color-border;

  // Ячейка с заголовком месяца/года

  &-title {
    border-radius: 0;
    transition: color $ease-main, background-color $ease-main;

    // Цвет года в шапке

    i {
      color: rgba($color-basic, 0.5);
    }
  }
}

// Цвет ховера по ячейкам в календаре, шапке

.datepicker--cell.-focus-,
.datepicker--nav-action:hover,
.datepicker--nav-title:hover {
  background: rgba($color-border, 0.3);
}

// Стиль ячейки

.datepicker--cell {
  border-radius: 0;
  transition: color $ease-main, background-color $ease-main;

  // Цвет сегодняшнего даты/месяца

  &.-current- {
    color: $color-main;
    background: rgba($color-main, 0.1);
  }

  // Ховер по активной дате

  &.-selected-.-focus- {
    background: rgba($color-main, 0.8);
  }

  // Неактивная ячейка

  &.-disabled- {
    color: rgba($color-basic, 0.3);
  }

  // Цвет фона активного месяца/дня

  &.-selected-,
  &.-selected-.-current- {
    background: $color-main;
  }
}

// Цвет даты другого месяца/года

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: rgba($color-basic, 0.2);

  &:hover {
    color: rgba($color-basic, 0.5);
  }
}

// Стили при выборе диапазона дат

.datepicker--cell.-range-to-,
.datepicker--cell.-range-from- {
  border: 0;
  background-color: rgba($color-main, 0.3);

  &.-selected- {
    background-color: $color-main;
  }
}

.datepicker--cell.-range-from- {
  border-radius: 3px 0 0 3px;
}

.datepicker--cell.-range-to- {
  border-radius: 0 3px 3px 0;
}

// Стили ячеек другого месяца, находящихся в диапазоне

.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba($color-main, 0.1);
  color: rgba($color-main, 0.3);

  &.-focus- {
    background-color: rgba($color-main, 0.2);
  }
}

// Стили промежуточных ячеек в диапазоне

.datepicker--cell.-in-range- {
  background: rgba($color-main, 0.2);
  color: $color-main;
  border-radius: 0;

  &.-current- {
    color: $color-basic;
  }

  &.-focus- {
    background: rgba($color-main, 0.3);
  }
}

.is-air-datepicker-open .datepicker_popup ~ .datepicker-overlay {
  opacity: 1;
}

.datepicker_popup {
  z-index: 100000;
  width: auto;
  border: none;
  color: $nd-color-basic;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.03),
    2px 2px 2px 0 rgba(0, 0, 0, 0.04), 3px 3px 3px 0 rgba(0, 0, 0, 0.02);
  transition: opacity 0.3s ease-out;

  @include rule(
    min-width,
    (
      xl: 390px,
      xlg: 390,
      lg: 390,
      md: 341,
      sm: 341,
    )
  );

  @include rule(
    font-size,
    (
      xl: 15px,
      xlg: 15,
      lg: 15,
      md: 15,
      sm: 15,
    )
  );

  @include rule(
    border-radius,
    (
      xl: 3px,
      xlg: 3,
      lg: 3,
      md: 3,
      sm: 3,
    )
  );

  @include screen("sm", max, 2) {
    position: fixed;
  }

  &.active {
    transition: opacity 0.3s ease-out;

    @include screen("sm", max, 2) {
      left: 50% !important;
      top: 50% !important;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  & ~ .datepicker-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .is-freeze-window & {
    position: fixed;
  }

  // Стрелочка сверху над блоком

  .datepicker--pointer {
    display: none;
  }

  // Шапка календаря

  .datepicker--nav {
    border: none;
    @include rule(
      padding,
      (
        xl: 20px 40px,
        xlg: 20 40,
        lg: 20 40,
        md: 20 30,
        sm: 20 30,
      )
    );

    // Ячейка с заголовком месяца/года

    &-title {
      font-family: $font-stolzl;
      font-weight: 400;
      border-radius: 0;
      color: $nd-color-basic;
      transition: color $ease-main, background-color $ease-main;

      &:hover {
        background: transparent;
        color: $nd-color-main;
      }
    }

    // Ячейка со стрелкой

    &-action {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: none;
      border-radius: 0;
      transition: color $ease-main, background-color $ease-main;

      @include rule(
        width,
        (
          xl: 40px,
          xlg: 40,
          lg: 40,
          md: 35,
          sm: 35,
        )
      );

      @include rule(
        height,
        (
          xl: 40px,
          xlg: 40,
          lg: 40,
          md: 35,
          sm: 35,
        )
      );

      &:hover {
        background: transparent;
      }

      svg {
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        @include rule(
          background-size,
          (
            xl: 7px 10px,
            xlg: 7 10,
            lg: 7 10,
            md: 7 10,
            sm: 7 10,
          )
        );
      }

      // Цвет стрелок
      path {
        display: none;
        visibility: hidden;
        stroke: $nd-color-basic;
      }

      &[data-action="prev"] svg {
        background-image: $icon-arrow-prev-v2;
      }

      &[data-action="next"] svg {
        background-image: $icon-arrow-next-v2;
      }

      &[data-action="prev"]:hover svg {
        background-image: $icon-arrow-prev-v2-blue;
      }

      &[data-action="next"]:hover svg {
        background-image: $icon-arrow-next-v2-blue;
      }

      &.-disabled- {
        visibility: visible;
        opacity: 0.3;
        pointer-events: none;
        cursor: not-allowed;
      }
    }
  }

  .datepicker--content {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;

    @include rule(
      padding,
      (
        xl: 2px 37px 40px,
        xlg: 2 37 40,
        lg: 2 37 40,
        md: 2 30 30,
        sm: 2 30 30,
      )
    );

    @include rule(
      max-width,
      (
        xl: 390px,
        xlg: 390,
        lg: 390,
        md: 341,
        sm: 341,
      )
    );
  }

  .datepicker--days-names {
    margin: 0;

    @include rule(
      gap,
      (
        xl: 6px,
        xlg: 6,
        lg: 6,
        md: 6,
        sm: 6,
      )
    );
  }

  .datepicker--day-name {
    text-transform: capitalize;
    color: $nd-color-gray-text;
    letter-spacing: -0.02em;

    @include rule(
      font-size,
      (
        xl: 11px,
        xlg: 11,
        lg: 11,
        md: 11,
        sm: 11,
      )
    );

    @include rule(
      width,
      (
        xl: 40px,
        xlg: 40,
        lg: 40,
        md: 35,
        sm: 35,
      )
    );

    @include rule(
      height,
      (
        xl: 30px,
        xlg: 30,
        lg: 30,
        md: 30,
        sm: 30,
      )
    );
  }

  .datepicker--cells {
    @include rule(
      gap,
      (
        xl: 6px,
        xlg: 6,
        lg: 6,
        md: 6,
        sm: 6,
      )
    );
  }

  // Стиль ячейки

  .datepicker--cell {
    border-radius: 50%;
    flex: none;
    transition: color $ease-main, background-color $ease-main;

    @include rule(
      width,
      (
        xl: 40px,
        xlg: 40,
        lg: 40,
        md: 35,
        sm: 35,
      )
    );

    @include rule(
      height,
      (
        xl: 40px,
        xlg: 40,
        lg: 40,
        md: 35,
        sm: 35,
      )
    );

    // Цвет сегодняшнего даты/месяца

    &.-current- {
      font-weight: 700;
      color: $nd-color-basic;
      background: transparent;
    }

    &:hover {
      background: $nd-color-date-hover;
    }
    // Ховер по активной дате

    &.-selected-.-focus- {
      color: $nd-color-basic;
      background: $nd-color-date-hover;
    }

    // Неактивная ячейка

    &.-disabled- {
      pointer-events: none;
    }

    &.-disabled-,
    &.-other-month {
      color: $nd-color-gray-text;
    }

    // Цвет фона активного месяца/дня

    &.-selected-,
    &.-selected-.-current- {
      color: $nd-color-basic-light;
      background: $nd-color-main;
    }

    &-month,
    &-year {
      @include rule(
        width,
        (
          xl: 74px,
          xlg: 74,
          lg: 74,
          md: 70,
          sm: 70,
        )
      );

      @include rule(
        border-radius,
        (
          xl: 20px,
          xlg: 20,
          lg: 20,
          md: 18,
          sm: 18,
        )
      );
    }

    // Цвет даты другого месяца/года

    &-day.-other-month-,
    &-year.-other-decade- {
      color: $nd-color-gray-text;

      &:hover {
        color: $nd-color-gray-text;
      }

      &.-selected- {
        color: $nd-color-basic-light;
        background: $nd-color-main;
      }
    }

    &.-range-to-,
    &.-range-from- {
      border: 0;
      border-radius: 50%;
      background-color: transparent;

      &:hover {
        color: $nd-color-gray-text;
      }

      &.-selected- {
        background-color: $nd-color-main;
        color: $nd-color-basic-light;
      }
    }

    &.-in-range- {
      background: $nd-color-date-hover;
      border-radius: 0;

      &.-current- {
        font-weight: 700;
      }

      &.-focus- {
        background: $nd-color-main;
        color: $nd-color-basic-light;
      }
    }
  }

  // Стили ячеек другого месяца, находящихся в диапазоне

  .-in-range-.datepicker--cell-day.-other-month-,
  .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: $nd-color-date-hover;

    &.-focus- {
      background-color: $nd-color-main;
      color: $nd-color-basic-light;
    }
  }

  // Стили промежуточных ячеек в диапазоне
}
