.input {
  @include text-big;

  font-weight: 400;
  line-height: (26 / 18);
  border-bottom: 1px solid $color-form-border;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  color: $color-basic;
  padding-top: 5px;
  padding-bottom: 8px;
  transition: border $ease-main, color $ease-main;

  @include screen('sm') {
    @include text16;
  }

  &:-ms-input-placeholder {
    color: transparent;
  }

  &::placeholder {
    color: transparent;
  }

  &:hover,&:focus {
    border-bottom-color: $color-basic;
  }

  &_points {
    padding-left: 22px;
    padding-bottom: 10px;

    &:-ms-input-placeholder {
      color: $color-placeholder;
    }

    &::placeholder {
      color: $color-placeholder;
    }
  }

  &_fz17 {
    @include text-mid;

    @include screen('sm') {
      @include text15;
    }
  }

  &_bold {
    font-weight: 700;
  }

  &_bold2 {
    font-weight: 700;

    &:-ms-input-placeholder {
      font-weight: 400;
    }

    &::placeholder {
      font-weight: 400;
    }
  }

  .is-top &_bold2 {
    border-bottom-color: $color-basic;
  }

  .is-error & {
    border-bottom-color: $color-error;
  }
}

.inputbox {
  display: block;
}

.textarea {
  @extend .input;

  padding-top: 5px;
  padding-bottom: 8px;
  min-height: 40px;
  resize: none;

  &_bpd {
    padding-top: 9px;
    padding-bottom: 16px;
  }

  &_big {
    box-sizing: border-box;
    min-height: 442px;

    @include screen('md') {
      min-height: 350px;
    }

    @include screen('sm') {
      min-height: 200px;
    }
  }

  &_bordered {
    border: 1px solid $color-form-border;

    &:focus,&:hover {
      border-color: $color-basic;
    }

    .is-error & {
      border-color: $color-error;
    }
  }

  &_def-plchldr {
    padding: 17px 26px;

    @include screen('sm') {
      padding: 10px 15px;
    }

    &:-ms-input-placeholder {
      color: $color-placeholder;
    }

    &::placeholder {
      color: $color-placeholder;
    }
  }
}


// #####
// Блок выбора количества
// #####

.input-numberbox {
  display: flex;
  width: 100%;
  border: 1px solid $color-border-light;
  border-radius: 3px;
  transition: box-shadow $ease-main;

  &:hover {
    box-shadow: 1px 1px 8px rgba(34, 42, 46, .18);
  }

  &__field {
    display: inline-flex;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    padding: 0 15px;
    max-width: calc(100% - 130px);

    @include screen('bg') {
      max-width: calc(100% - 100px);
    }
  }

  &__button {
    position: relative;
    width: 64px;
    min-width: 64px;
    margin-top: -1px;
    margin-bottom: -1px;
    height: 41px;
    border: 1px solid $color-border-light;
    border-right-color: transparent;
    cursor: pointer;
    transition: border $ease-main;

    @include screen('bg') {
      min-width: 50px;
      width: 50px;
    }

    &:not(:last-child) {
      margin-right: -1px;
      z-index: 1;
    }

    &:hover {
      border-color: $color-text-light;
    }

    &::before,&::after {
      @include pseudo;

      top: 50%;
      left: 50%;
      transform-origin: 50% 50%;
      width: 14px;
      height: 2px;
      background-color: $color-basic;
      transform: translate3d(-50%, -50%, 0);
    }

    &.js-numberbox-minus {
      &::after {
        display: none;
      }
    }

    &.js-numberbox-plus {
      &::before {
      }

      &::after {
        transform: translate3d(-50%, -50%, 0) rotate(90deg);
      }
    }
  }

  &__input {
    @include heading-4;

    font-weight: 700;
    line-height: (26 / 20);
    color: $color-basic;
    width: auto;
    min-width: 0;
  }

  &__label {
    @include text;

    line-height: (26 / 14);
    font-weight: 700;
    text-transform: uppercase;
    color: $color-text-light;
    margin-right: 5px;
  }
}

.input-numbers {
  position: relative;
  display: block;
  width: 100%;

  &__input {
    padding-right: 60px;
  }

  &__buttons {
    position: absolute;
    top: 0;
    right: -10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: auto;
    height: 100%;
    z-index: 2;
    padding-right: 4px;
  }

  &__button {
    position: relative;
    display: block;
    width: 34px;
    min-width: 34px;
    height: 100%;
    cursor: pointer;

    &::before,&::after {
      @include pseudo;

      top: 50%;
      left: 50%;
      transform-origin: 50% 50%;
      width: 14px;
      height: 2px;
      background-color: $color-basic;
      transform: translate3d(-50%, -50%, 0);
      transition: background $ease-main;
    }

    &:hover::before,&:hover::after {
      background-color: $color-basic-dark;
    }

    &.js-numberbox-minus {
      &::after {
        display: none;
      }
    }

    &.js-numberbox-plus {
      &::before {
      }

      &::after {
        transform: translate3d(-50%, -50%, 0) rotate(90deg);
      }
    }
  }
}

// #####
// Календарь
// #####

@import '../../node_modules/air-datepicker/dist/css/datepicker.css';

.js-datepicker {
  cursor: pointer;
}

.datepicker {
  color: $color-basic;
  font-size: 14px;
  width: 250px;
  background: white;
  border: 1px solid $color-border;
  box-shadow: 0 2px 4px rgba($color-basic, .15);
  border-radius: 0;
  transition: opacity $ease-main, transform $ease-main, left 0s $ease-main;
  font-family: $font-main;

  &.-from-bottom- {
    transform: translateY(8px);
  }

  &.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity $ease-main, transform $ease-main, left 0 0;
  }
}

.datepicker_fancybox {
  position: fixed;
  z-index: 100000;
}

// Стрелочка сверху над блоком

.datepicker--pointer {
  border-top-color: $color-border;
  border-right-color: $color-border;
}

// Цвет дней недели

.datepicker--day-name {
  color: $color-main;
}

// Ячейка со стрелкой

.datepicker--nav-action {
  border-radius: 0;
  transition: color $ease-main, background-color $ease-main;

  // Цвет стрелок
  path {
    stroke: $color-basic;
  }
}

// Шапка календаря

.datepicker--nav {
  border-color: $color-border;

  // Ячейка с заголовком месяца/года

  &-title {
    border-radius: 0;
    transition: color $ease-main, background-color $ease-main;

    // Цвет года в шапке

    i {
      color: rgba($color-basic, .5);
    }
  }
}

// Цвет ховера по ячейкам в календаре, шапке

.datepicker--cell.-focus-,.datepicker--nav-action:hover,.datepicker--nav-title:hover {
  background: rgba($color-border, .3);
}

// Стиль ячейки

.datepicker--cell {
  border-radius: 0;
  transition: color $ease-main, background-color $ease-main;

  // Цвет сегодняшнего даты/месяца

  &.-current- {
    color: $color-main;
    background: rgba($color-main, .1);
  }

  // Ховер по активной дате

  &.-selected-.-focus- {
    background: rgba($color-main, .8);
  }

  // Неактивная ячейка

  &.-disabled- {
    color: rgba($color-basic, .3);
  }

  // Цвет фона активного месяца/дня

  &.-selected-,&.-selected-.-current- {
    background: $color-main;
  }
}

// Цвет даты другого месяца/года

.datepicker--cell-day.-other-month-,.datepicker--cell-year.-other-decade- {
  color: rgba($color-basic, .2);

  &:hover {
    color: rgba($color-basic, .5);
  }
}

// Стили при выборе диапазона дат

.datepicker--cell.-range-to-,.datepicker--cell.-range-from- {
  border: 0;
  background-color: rgba($color-main, .3);

  &.-selected- {
    background-color: $color-main;
  }
}

.datepicker--cell.-range-from- {
  border-radius: 3px 0 0 3px;
}

.datepicker--cell.-range-to- {
  border-radius: 0 3px 3px 0;
}

// Стили ячеек другого месяца, находящихся в диапазоне

.-in-range-.datepicker--cell-day.-other-month-,.-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba($color-main, .1);
  color: rgba($color-main, .3);

  &.-focus- {
    background-color: rgba($color-main, .2);
  }
}

// Стили промежуточных ячеек в диапазоне

.datepicker--cell.-in-range- {
  background: rgba($color-main, .2);
  color: $color-main;
  border-radius: 0;

  &.-current- {
    color: $color-basic;
  }

  &.-focus- {
    background: rgba($color-main, .3);
  }
}
