.nd-choices {
  $b: &;

  position: relative;
  margin-bottom: 0;
  font-size: 17px;
  line-height: (26 / 17);
  font-weight: 400;
  color: $nd-color-basic;

  @include screen('xlg', max, 2) {
    font-size: pxtovw(17, 1660);
  }

  @include screen('lg', max, 2) {
    font-size: pxtovw(17, 1366);
  }

  @include screen('md', max, 2) {
    font-size: pxtovw(17, 960);
  }

  @include screen('sm', max, 2) {
    font-size: pxtovw(15, 375);
    line-height: (26 / 15);
  }

  &:focus {
    outline: none;
  }

  [hidden] {
    display: none !important;
  }

  &[data-type*='select-one'] {
    cursor: pointer;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      content: '';
      height: 100%;
      width: 30px;
      pointer-events: none;
      background-image: $icon-select-arrow;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 10px 7px;
      transform-origin: 50% 50%;
      transition: transform $ease-main;

      @include screen('xlg', max, 2) {
        width: pxtovw(30, 1660);
        background-size: pxtovw(10, 1660) pxtovw(7, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(30, 1366);
        background-size: pxtovw(10, 1366) pxtovw(7, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(30, 960);
        background-size: pxtovw(10, 960) pxtovw(7, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(30, 375);
        background-size: pxtovw(10, 375) pxtovw(7, 375);
      }
    }

    &.is-open::after {
      transform: rotate(-180deg);
    }

    #{$b} {
      &__inner {
        background-color: transparent;
      }

      &__button {
        background-image: $icon-cross;
        padding: 0;
        background-size: 8px;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -10px;
        margin-right: 25px;
        height: 20px;
        width: 20px;
        border-radius: 10em;
        opacity: .5;

        @include screen('xlg', max, 2) {
          background-size: pxtovw(8, 1660);
          margin-top: pxtovw(-10, 1660);
          margin-right: pxtovw(25, 1660);
          height: pxtovw(20, 1660);
          width: pxtovw(20, 1660);
        }

        @include screen('lg', max, 2) {
          background-size: pxtovw(8, 1366);
          margin-top: pxtovw(-10, 1366);
          margin-right: pxtovw(25, 1366);
          height: pxtovw(20, 1366);
          width: pxtovw(20, 1366);
        }

        @include screen('md', max, 2) {
          background-size: pxtovw(8, 960);
          margin-top: pxtovw(-10, 960);
          margin-right: pxtovw(25, 960);
          height: pxtovw(20, 960);
          width: pxtovw(20, 960);
        }

        @include screen('sm', max, 2) {
          background-size: pxtovw(8, 375);
          margin-top: pxtovw(-10, 375);
          margin-right: pxtovw(25, 375);
          height: pxtovw(20, 375);
          width: pxtovw(20, 375);
        }

        &:hover, &:focus {
          opacity: 1;
        }

        #{$b}__item[data-value=''] & {
          display: none;
        }
      }
    }

    &[dir='rtl'] {
      &::after {
        left: 0;
        right: auto;
      }

      #{$b} {
        &__button {
          left: 0;
          right: auto;
          margin-left: 25px;
          margin-right: 0;

          @include screen('xlg', max, 2) {
            margin-left: pxtovw(25, 1660);
          }

          @include screen('lg', max, 2) {
            margin-left: pxtovw(25, 1366);
          }

          @include screen('md', max, 2) {
            margin-left: pxtovw(25, 960);
          }

          @include screen('sm', max, 2) {
            margin-left: pxtovw(25, 375);
          }
        }
      }
    }
  }

  &[data-type*='select-multiple'], &[data-type*='text'] {
    #{$b} {
      &__inner {
        cursor: text;
      }

      &__button {
        position: relative;
        display: inline-block;
        margin: 0 -4px 0 8px;
        padding-left: 16px;
        border-left: 1px solid $nd-color-field-border;
        background-image: $icon-cross;
        background-size: 8px;
        width: 8px;
        line-height: 1;
        opacity: .75;
        border-radius: 0;

        @include screen('xlg', max, 2) {
          margin: 0 pxtovw(-4, 1660) 0 pxtovw(8, 1660);
          padding-left: pxtovw(16, 1660);
          background-size: pxtovw(8, 1660);
          width: pxtovw(8, 1660);
        }

        @include screen('lg', max, 2) {
          margin: 0 pxtovw(-4, 1366) 0 pxtovw(8, 1366);
          padding-left: pxtovw(16, 1366);
          background-size: pxtovw(8, 1366);
          width: pxtovw(8, 1366);
        }

        @include screen('md', max, 2) {
          margin: 0 pxtovw(-4, 960) 0 pxtovw(8, 960);
          padding-left: pxtovw(16, 960);
          background-size: pxtovw(8, 960);
          width: pxtovw(8, 960);
        }

        @include screen('sm', max, 2) {
          margin: 0 pxtovw(-4, 375) 0 pxtovw(8, 375);
          padding-left: pxtovw(16, 375);
          background-size: pxtovw(8, 375);
          width: pxtovw(8, 375);
        }

        &:hover, &:focus {
          opacity: 1;
        }
      }
    }
  }

  &__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    transition: border $ease-main;
    background-color: transparent;
    border: 1px solid $nd-color-field-border;
    border-radius: 3px;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    overflow: hidden;
    padding: 14px 11px 8px;
    box-sizing: border-box;
    min-height: 50px;

    @include screen('xlg', max, 2) {
      padding: pxtovw(14, 1660) pxtovw(11, 1660) pxtovw(8, 1660);
      border-radius: pxtovw(3, 1660);
      min-height: pxtovw(50, 1660);
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(14, 1366) pxtovw(11, 1366) pxtovw(8, 1366);
      border-radius: pxtovw(3, 1366);
      min-height: pxtovw(50, 1366);
    }

    @include screen('md', max, 2) {
      padding: pxtovw(14, 960) pxtovw(11, 960) pxtovw(8, 960);
      border-radius: pxtovw(3, 960);
      min-height: pxtovw(50, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(9, 375) pxtovw(11, 375) pxtovw(3, 375);
      border-radius: pxtovw(3, 375);
      min-height: pxtovw(40, 375);
    }

    #{$b}:hover & {
      border-color: $nd-color-field-border-hover;
    }

    .is-focused &, .is-focused:hover & {
      border-color: $nd-color-main;
      box-shadow: inset 0 0 0 1px $nd-color-main;
    }

    .is-open &, .is-open:hover & {
      border-color: $nd-color-main;
      border-radius: 3px 3px 0 0;
      box-shadow: inset -1px 1px 0 0 $nd-color-main, inset 1px 1px 0 0 $nd-color-main;

      @include screen('xlg', max, 2) {
        border-radius: pxtovw(3, 1660) pxtovw(3, 1660) 0 0;
      }

      @include screen('lg', max, 2) {
        border-radius: pxtovw(3, 1366) pxtovw(3, 1366) 0 0;
      }

      @include screen('md', max, 2) {
        border-radius: pxtovw(3, 960) pxtovw(3, 960) 0 0;
      }

      @include screen('sm', max, 2) {
        border-radius: pxtovw(3, 375) pxtovw(3, 375) 0 0;
      }
    }

    .is-flipped.is-open & {
      border-radius: 0 0 3px 3px;
      box-shadow: inset -1px -1px 0 0 $nd-color-main, inset 1px -1px 0 0 $nd-color-main;

      @include screen('xlg', max, 2) {
        border-radius: 0 0 pxtovw(3, 1660) pxtovw(3, 1660);
      }

      @include screen('lg', max, 2) {
        border-radius: 0 0 pxtovw(3, 1366) pxtovw(3, 1366);
      }

      @include screen('md', max, 2) {
        border-radius: 0 0 pxtovw(3, 960) pxtovw(3, 960);
      }

      @include screen('sm', max, 2) {
        border-radius: 0 0 pxtovw(3, 375) pxtovw(3, 375);
      }
    }
  }

  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    z-index: 4;

    &--single {
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      padding: 0;
      padding-right: 20px;

      @include screen('xlg', max, 2) {
        padding-right: pxtovw(20, 1660);
      }

      @include screen('lg', max, 2) {
        padding-right: pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        padding-right: pxtovw(20, 960);
      }

      @include screen('sm', max, 2) {
        padding-right: pxtovw(20, 375);
      }

      [dir='rtl'] & {
        padding-right: 0;
        padding-left: 20px;

        @include screen('xlg', max, 2) {
          padding-left: pxtovw(20, 1660);
        }

        @include screen('lg', max, 2) {
          padding-left: pxtovw(20, 1366);
        }

        @include screen('md', max, 2) {
          padding-left: pxtovw(20, 960);
        }
      }

      #{$b}__item {
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        width: 100%;

        @include ellipsis(100%);
      }
    }

    &--multiple {
      display: inline;

      #{$b}__item {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        margin-right: 4px;
        margin-bottom: 4px;
        background-color: $nd-color-bg;
        word-break: break-all;
        box-sizing: border-box;

        @include screen('xlg', max, 2) {
          padding: 0 pxtovw(10, 1660);
          margin-right: pxtovw(4, 1660);
          margin-bottom: pxtovw(4, 1660);
        }

        @include screen('lg', max, 2) {
          padding: 0 pxtovw(10, 1366);
          margin-right: pxtovw(4, 1366);
          margin-bottom: pxtovw(4, 1366);
        }

        @include screen('md', max, 2) {
          padding: 0 pxtovw(10, 960);
          margin-right: pxtovw(4, 960);
          margin-bottom: pxtovw(4, 960);
        }

        @include screen('sm', max, 2) {
          padding: 0 pxtovw(10, 375);
          margin-right: pxtovw(4, 375);
          margin-bottom: pxtovw(4, 375);
        }

        &[data-deletable] {
          padding-right: 5px;

          @include screen('xlg', max, 2) {
            padding-right: pxtovw(5, 1660);
          }

          @include screen('lg', max, 2) {
            padding-right: pxtovw(5, 1366);
          }

          @include screen('md', max, 2) {
            padding-right: pxtovw(5, 960);
          }

          @include screen('sm', max, 2) {
            padding-right: pxtovw(5, 375);
          }
        }

        [dir='rtl'] & {
          margin-right: 0;
          margin-left: 4px;

          @include screen('xlg', max, 2) {
            margin-left: pxtovw(4, 1660);
          }

          @include screen('lg', max, 2) {
            margin-left: pxtovw(4, 1366);
          }

          @include screen('md', max, 2) {
            margin-left: pxtovw(4, 960);
          }

          @include screen('sm', max, 2) {
            margin-left: pxtovw(4, 375);
          }
        }

        &.is-hidghlighted {
          background-color: rgba($nd-color-bg, .8);
        }
      }
    }

    &--dropdown {
      position: absolute;
      z-index: 1;
      top: 100%;
      margin-top: -1px;
      box-sizing: border-box;
      background-color: $nd-color-bg;
      border: 1px solid $nd-color-main;
      border-top-color: $nd-color-field-border;
      width: 100%;
      transition: opacity $ease-main, visibility $ease-main;
      opacity: 0;
      pointer-events: none;
      touch-action: none;
      visibility: hidden;
      border-radius: 0 0 3px 3px;
      overflow: hidden;
      word-break: break-all;
      will-change: visibility;
      box-shadow: inset -1px -1px 0 0 $nd-color-main, inset 1px -1px 0 0 $nd-color-main;

      @include screen('xlg', max, 2) {
        border-radius: 0 0 pxtovw(3, 1660) pxtovw(3, 1660);
      }

      @include screen('lg', max, 2) {
        border-radius: 0 0 pxtovw(3, 1366) pxtovw(3, 1366);
      }

      @include screen('md', max, 2) {
        border-radius: 0 0 pxtovw(3, 960) pxtovw(3, 960);
      }

      @include screen('sm', max, 2) {
        border-radius: 0 0 pxtovw(3, 375) pxtovw(3, 375);
      }

      &.is-active {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        touch-action: auto;
      }

      .is-flipped & {
        top: auto;
        bottom: 100%;
        margin-top: 0;
        margin-bottom: -1px;
        border-radius: 3px 3px 0 0;
        border-top-color: $nd-color-main;
        border-bottom-color: $nd-color-field-border;
        box-shadow: inset -1px 1px 0 0 $nd-color-main, inset 1px 1px 0 0 $nd-color-main;

        @include screen('xlg', max, 2) {
          border-radius: pxtovw(3, 1660) pxtovw(3, 1660) 0 0;
        }

        @include screen('lg', max, 2) {
          border-radius: pxtovw(3, 1366) pxtovw(3, 1366) 0 0;
        }

        @include screen('md', max, 2) {
          border-radius: pxtovw(3, 960) pxtovw(3, 960) 0 0;
        }

        @include screen('sm', max, 2) {
          border-radius: pxtovw(3, 375) pxtovw(3, 375) 0 0;
        }
      }

      #{$b}__item {
        position: relative;
        font-size: 17px;
        line-height: (26 / 17);
        font-weight: 400;
        color: $nd-color-basic;
        padding: 0 11px;

        @include screen('xlg', max, 2) {
          font-size: pxtovw(17, 1660);
          padding: 0 pxtovw(11, 1660);
        }

        @include screen('lg', max, 2) {
          font-size: pxtovw(17, 1366);
          padding: 0 pxtovw(11, 1366);
        }

        @include screen('md', max, 2) {
          font-size: pxtovw(17, 960);
          padding: 0 pxtovw(11, 960);
        }

        @include screen('sm', max, 2) {
          font-size: pxtovw(15, 375);
          line-height: (26 / 15);
          padding: 0 pxtovw(11, 375);
        }

        [dir='rtl'] & {
          text-align: right;
        }

        &--selectable {
          transition: background $ease-main, color $ease-main;

          &.is-highlighted {
            background-color: $nd-color-basic;
            color: $nd-color-basic-light;
          }
        }
      }

      #{$b}__list {
        position: relative;
        overflow: auto;
        max-height: 300px;
        box-sizing: border-box;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;

        @include screen('xlg', max, 2) {
          max-height: pxtovw(300, 1660);
        }

        @include screen('lg', max, 2) {
          max-height: pxtovw(300, 1366);
        }

        @include screen('md', max, 2) {
          max-height: pxtovw(300, 960);
        }

        @include screen('sm', max, 2) {
          max-height: pxtovw(200, 375);
        }
      }

      #{$b}__placeholder {
        display: none;
      }

      #{$b}.is-open-right & {
        right: 0;
      }

      #{$b}_white & {
        background-color: $nd-color-basic-light;
      }
    }
  }

  &__item {
    cursor: default;

    &--selectable {
      cursor: pointer;
    }

    &--disabled {
      cursor: not-allowed;
      user-select: none;
      opacity: .5;
    }
  }

  &__placeholder {
    opacity: 1;
  }

  &__input {
    display: block;
    margin: 0;
    font-size: 15px;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: (100 / 15) * 1em;
    height: (20 / 15) * 1em;
    box-sizing: border-box;
    background-color: rgba($color-white, .4);
    padding: 0 ((5 / 15) * 1em);
    z-index: 6;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(15, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(15, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(15, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
    }

    &:focus {
      outline: 0;
    }

    [dir='rtl'] & {
      right: auto;
      left: 0;
    }
  }

  &__heading {
    font-size: inherit;
    line-height: inherit;
    font-weight: 700;
    padding: 10px;
    border-bottom: 1px solid $nd-color-field-border;
    color: $nd-color-basic;

    @include screen('xlg', max, 2) {
      padding: pxtovw(10, 1660);
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(10, 1366);
    }

    @include screen('md', max, 2) {
      padding: pxtovw(10, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(10, 375);
    }
  }

  &__button {
    text-indent: -9999px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__header {
    display: none;
    color: $color-basic;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: $color-white;
    z-index: 5;
    height: 70px;

    @include screen('sm') {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      padding: 0 19px;
      top: 0;
      left: 0;
      width: 100%;
      height: 48px;
      border-bottom: 1px solid $color-border-light;
      z-index: 2;
    }

    &-title {
      @include heading-3;

      font-weight: 700;
      user-select: none;

      @include screen('sm') {
        @include heading-4;
      }
    }
  }

  &__close {
    position: absolute;
    top: 6px;
    left: 9px;
    z-index: 2;
  }

  &_popup {

  }

  &_h40 {

  }

  &.is-disabled #{$b} {
    &__inner, &__input {
      opacity: .2;
      cursor: not-allowed;
      user-select: none;
    }

    &__item {
      cursor: not-allowed;
    }
  }

  &.is-readonly {
    #{$b} {
      &__inner {
        &::before {
          opacity: .4;
        }
      }

      &::after {
        opacity: .4;
        fill: currentColor !important;
      }
    }
  }
}
