.checkradio {
  $radio: &;

  position: relative;
  padding-left: 33px;
  display: inline-block;
  cursor: pointer;

  &.is-disabled {
    cursor: default;
    pointer-events: none;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &:checked {

      &+#{$radio}__box {
        background-color: $color-basic;
        border-color: $color-form-border-dark;

        &::before {
          opacity: 1;
        }
      }
    }

    &:disabled {

      &+#{$radio}__box {
        opacity: .51;
      }
    }
  }

  &__box {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid $color-form-border;
    left: 0;
    top: 50%;
    border-radius: 50%;
    transform: translate3d(0, -50%, 0);
    transition: border $ease-main, background $ease-main, opacity $ease-main;

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      background-color: $color-white;
      display: block;
      opacity: 0;
      transition: opacity $ease-main;
      border-radius: 50%;

      @include center-image;
    }

    #{$radio}:hover & {
      border-color: $color-form-border-dark;
      background-color: $color-basic;
    }

    #{$radio}.is-disabled & {
      opacity: .51;
    }
  }

  &__content {
    @include text-big;

    color: $color-basic;
  }

  &_small {
    padding-left: 28px;

    #{$radio}__box {
      width: 13px;
      height: 13px;

      &::before {
        width: 6px;
        height: 6px;
      }
    }

    #{$radio}__content {
      @include text12;

      line-height: (30/12);
      letter-spacing: -.011em;
    }
  }

  &_sm-small {
    @include screen('sm') {
      padding-left: 28px;
    }

    #{$radio} {
      @include screen('sm') {
        &__box {
          width: 14px;
          height: 14px;
        }

        &__icon {
          width: 12px;
          height: 10px;
          top: 1px;
          left: 1px;
        }

        &__content {
          @include text15;
        }
      }
    }
  }

  &_nobox {
    padding-left: 0;

    #{$radio}__input {
      &:checked {

        &~#{$radio}__content {
          color: $color-basic-dark;
        }
      }
    }

    #{$radio}__box {
      display: none;
    }

    #{$radio}__content {
      transition: color $ease-main;
    }

    &:hover {
      #{$radio}__content {
        color: $color-basic-dark;
      }
    }
  }

  &_nobox2 {
    padding-left: 0;

    #{$radio}__input {
      &:checked {

        &~#{$radio}__content {
          color: $color-white;
          background-image: linear-gradient(to right, rgba(11, 208, 167, 0.99) 0%, rgba(0, 129, 153, 0.99) 100%);

          #{$radio}__text {
            border-bottom-color: transparent;
          }
        }
      }
    }

    #{$radio}__box {
      display: none;
    }

    #{$radio}__content {
      @include text-mid;

      display: inline-block;
      box-sizing: border-box;
      padding: 5px 11px 4px 9px;
      font-weight: 700;
      color: $color-basic;
      transition: background $ease-main;
      border-radius: 3px;
      text-align: center;
      line-height: 1.2;

      @include screen('sm') {
        @include text13;

        line-height: 1.2;
        padding: 1px 5px 0 3px;
      }
    }

    #{$radio}__text {
      display: inline;
      border-bottom: 1px solid $color-border-light;
      transition: border $ease-main;
    }

    &:hover {
      #{$radio}__content {
        color: $color-basic;
        background-color: $color-bg;
      }

      #{$radio}__text {
        border-bottom-color: transparent;
      }
    }
  }

  &_border {
    padding-left: 0;

    #{$radio}__box {
      top: 6px;
      transform: translate3d(0, 0, 0);

      @include screen('sm') {
        top: 3px;
      }
    }

    #{$radio}__content {
      padding-left: 33px;
      border-bottom: 1px solid $color-form-border;
      transition: border $ease-main;
      padding-top: 3px;
      padding-bottom: 10px;
      box-sizing: border-box;

      @include screen('sm') {
        @include text;

        line-height: 1.2;
        padding-bottom: 12px;
      }

      .is-error & {
        border-bottom-color: $color-error;
      }
    }

    &:hover #{$radio}__content {
      border-bottom-color: $color-basic;
    }

    input:checked~#{$radio}__content {
      border-bottom-color: $color-basic;
    }
  }
}

.checkbox {
  $check: &;

  position: relative;
  padding-left: 33px;
  display: inline-block;
  cursor: pointer;

  &.is-disabled {
    cursor: default;
    pointer-events: none;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &:checked {

      &+#{$check}__box {
        background-color: $color-basic;
        border-color: $color-form-border-dark;

        #{$check}__icon {
          opacity: 1;
        }
      }
    }

    &:disabled {

      &+#{$check}__box {
        opacity: .51;
      }
    }
  }

  &__box {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid $color-form-border;
    left: 0;
    top: 50%;
    border-radius: 0;
    transform: translate3d(0, -50%, 0);
    transition: border $ease-main, background $ease-main, opacity $ease-main;
    background-color: $color-bg;

    #{$check}:hover & {
      border-color: $color-form-border-dark;
      background-color: $color-basic;
    }

    #{$check}.is-disabled & {
      opacity: .51;
    }
  }

  &__icon {
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 0;
    line-height: 0;
    width: 14px;
    height: 12px;
    fill: $color-white;
    opacity: 0;
    transition: opacity $ease-main;
  }

  &__content {
    @include text-big;

    color: $color-basic;
  }

  &_notext {
    padding-left: 20px;
    height: 20px;

    &::before {
      @include pseudo;

      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 30px;
      height: 30px;
    }
  }

  &_sm-small {
    @include screen('sm') {
      padding-left: 22px;
    }

    &#{$check}_notext {
      @include screen('sm') {
        padding-left: 14px;
        height: 14px;
      }

      &::before {
        @include screen('sm') {
          width: 24px;
          height: 24px;
        }
      }
    }

    #{$check} {
      @include screen('sm') {
        &__box {
          width: 12px;
          height: 12px;
          margin-top: -1px;
        }

        &__icon {
          width: 12px;
          height: 10px;
          top: 0;
          left: 0;
        }

        &__content {
          @include text15;
        }
      }
    }
  }

  &_small {
    padding-left: 28px;

    #{$check}__box {
      width: 13px;
      height: 13px;
    }

    #{$check}__icon {
      width: 12px;
      height: 10px;
      top: 1px;
      left: 1px;
    }

    #{$check}__content {
      @include text12;

      line-height: (30/12);
      letter-spacing: -.011em;
    }
  }

  &_inverse {
    padding-left: 0;
    padding-right: 28px;

    #{$check}__box {
      left: auto;
      right: 0;
    }
  }

  &_border {
    padding-left: 0;

    #{$check}__box {
      top: 6px;
      transform: translate3d(0, 0, 0);

      @include screen('sm') {
        top: 3px;
      }
    }

    #{$check}__content {
      padding-left: 33px;
      border-bottom: 1px solid $color-form-border;
      transition: border $ease-main;
      padding-top: 3px;
      padding-bottom: 10px;
      box-sizing: border-box;

      @include screen('sm') {
        @include text;

        line-height: 1.2;
        padding-bottom: 12px;
      }
    }

    &:hover #{$check}__content {
      border-bottom-color: $color-basic;
    }

    input:checked~#{$check}__content {
      border-bottom-color: $color-basic;
    }
  }

  &_nobox2 {
    padding-left: 0;

    #{$check}__input {
      &:checked {

        &~#{$check}__content {
          color: $color-white;
          background-image: linear-gradient(to right, rgba(11, 208, 167, 0.99) 0%, rgba(0, 129, 153, 0.99) 100%);

          #{$check}__text {
            border-bottom-color: transparent;
          }
        }
      }
    }

    #{$check}__box {
      display: none;
    }

    #{$check}__content {
      @include text-mid;

      display: inline-block;
      box-sizing: border-box;
      padding: 5px 11px 4px 9px;
      font-weight: 700;
      color: $color-basic;
      transition: background $ease-main;
      border-radius: 3px;
      text-align: center;
      line-height: 1.2;

      @include screen('sm') {
        @include text13;

        line-height: 1.2;
        padding: 1px 5px 0 3px;
      }
    }

    #{$check}__text {
      display: inline;
      border-bottom: 1px solid $color-border-light;
      transition: border $ease-main;
    }

    &:hover {
      #{$check}__content {
        color: $color-basic;
        background-color: $color-bg;
      }

      #{$check}__text {
        border-bottom-color: transparent;
      }
    }
  }
}

// #####
// Радио кнопки в виде цветных границ
// #####

.color-radio {
  $b: &;

  position: relative;
  display: inline-block;
  cursor: pointer;
  color: $color-white;

  &_dark {
    color: $color-basic;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__marker {
    position: absolute;
    top: .3em;
    right: -21px;

    @include screen('sm') {
      right: -10px;
    }
  }

  &__content {
    @include text-mid;

    font-weight: 700;
    border: 2px solid transparent;
    transition: all $ease-main;
    border-radius: 3px;
    padding: 0 5px;
    line-height: (26/17);
    position: relative;
    display: inline-block;

    @include screen('md') {
      @include heading-4;

      line-height: (26/20);
    }

    #{$b}:hover & {
      border-color: $color-hot-desk;
    }

    #{$b}__input:checked~& {
      border-color: $color-hot-desk;
    }

    &::before {
      @include pseudo;

      top: 100%;
      left: 5px;
      width: calc(100% - 10px);
      height: 2px;
      background-color: $color-hot-desk;
    }
  }

  &_orange {

    #{$b}__content::before {
      background-color: $color-hot-desk;
    }

    &:hover #{$b}__content {
      border-color: $color-hot-desk;
    }

    #{$b}__input:checked~#{$b}__content {
      border-color: $color-hot-desk;
    }
  }

  &_red {

    #{$b}__content::before {
      background-color: $color-dedicated-desk;
    }

    &:hover #{$b}__content {
      border-color: $color-dedicated-desk;
    }

    #{$b}__input:checked~#{$b}__content {
      border-color: $color-dedicated-desk;
    }
  }

  &_blue {
    #{$b}__content::before {
      background-color: $color-meeting-room;
    }

    &:hover #{$b}__content {
      border-color: $color-meeting-room;
    }

    #{$b}__input:checked~#{$b}__content {
      border-color: $color-meeting-room;
    }
  }

  &_green {
    #{$b}__content::before {
      background-color: $color-office-space;
    }

    &:hover #{$b}__content {
      border-color: $color-office-space;
    }

    #{$b}__input:checked~#{$b}__content {
      border-color: $color-office-space;
    }
  }

  &_thin {
    #{$b} {

      &__content {
        &::before {
          height: 1px;
          top: auto;
          bottom: .04em;
        }
      }
    }
  }

  &_full {
    #{$b}__content {
      border-color: transparent;
      border-radius: 0;

      &::before {
        transition: background $ease-main;
        background-color: rgba($color-white, .8);
      }
    }


    &:hover {
      color: rgba($color-white, .8);

      #{$b}__content {
        border-color: transparent;

        &::before {
          background-color: $color-white;
        }
      }
    }

    #{$b}__input:checked~#{$b}__content {
      border-color: $color-white;
      background-color: $color-white;
      color: $color-basic;

      &::before {
        background-color: $color-white;
      }
    }

    &#{$b}_dark {
      border-color: transparent;

      #{$b}__content {

        &::before {
          background-color: $color-form-border;
        }
      }

      &:hover {
        color: $color-radio-dark-hover;

        #{$b}__content {

          &::before {
            background-color: $color-basic;
          }
        }
      }

      #{$b}__input:checked~#{$b}__content {
        border-color: transparent;
        background-color: $color-basic;
        color: $color-white;

        &::before {
          background-color: $color-basic;
        }
      }
    }

    &#{$b}_big {

      #{$b}__content {

        &::before {
          top: auto;
          bottom: 3px;

          @include screen('sm') {
            bottom: 1px;
          }
        }
      }
    }

    &#{$b}_sm-noundr {

      #{$b}__content {

        &::before {
          @include screen('sm') {
            display: none;
          }
        }
      }
    }
  }

  &_big {
    text-align: center;

    #{$b}__content {
      @include heading-3;

      line-height: 1.2;
      padding: 4px 10px;
      font-weight: 700;

      @include screen('sm') {
        @include heading-4;

        line-height: 1.2;
        padding: 2px 7px;
      }

      &::before {
        left: 10px;
        width: calc(100% - 20px);

        @include screen('sm') {
          left: 7px;
          width: calc(100% - 14px);
        }
      }
    }
  }

  &_fz18 {
    text-align: center;

    #{$b}__content {
      @include text-big;

      line-height: 1.2;
      padding: 2px 7px;
      font-weight: 700;

      @include screen('sm') {
        @include text15;

        line-height: 1.2;
      }

      &::before {
        left: 6px;
        width: calc(100% - 14px);
      }
    }
  }

  &_fz25 {
    text-align: center;

    #{$b}__content {
      @include heading-3;

      line-height: 1.2;
      padding: 4px;
      font-weight: 700;

      @include screen('md') {
        @include heading-5;

        line-height: 1.2;
      }

      @include screen('sm') {
        @include text13;

        line-height: 1.2;
        padding: 2px 4px;
      }

      &::before {
        top: auto;
        bottom: 4px;
        left: 4px;
        width: calc(100% - 8px);

        @include screen('sm') {
          left: 4px;
          width: calc(100% - 8px);
        }
      }
    }
  }

  &_marker {
    position: relative;
    padding-right: 20px;
  }
}

.button-radio {
  $br: &;

  @include text-mid;

  display: inline-block;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  cursor: pointer;

  @include screen('sm') {
    @include text12;

    line-height: 1.1;
    width: 100%;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__content {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 4px 6px 2px;
    transition: background $ease-main, border $ease-main, color $ease-main;
    color: $color-basic;
    border: 1px solid transparent;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;

    @include screen('sm') {
      padding: 12px 6px 11px;
      border-radius: 0;
      width: 100%;
      border-color: $color-button-radio-border;
    }

    #{$br}:hover & {
      color: $color-basic-dark;
    }

    #{$br}__input:checked~& {
      background-color: $color-basic;
      border-color: $color-basic;
      color: $color-white;
    }

    #{$br}_orange #{$br}__input:checked~& {
      background-color: $color-hot-desk;
      border-color: $color-hot-desk;
    }

    #{$br}_red #{$br}__input:checked~& {
      background-color: $color-dedicated-desk;
      border-color: $color-dedicated-desk;
    }

    #{$br}_blue #{$br}__input:checked~& {
      background-color: $color-meeting-room;
      border-color: $color-meeting-room;
    }

    #{$br}_green #{$br}__input:checked~& {
      background-color: $color-office-space;
      border-color: $color-office-space;
    }
  }

  &__text {
    border-bottom: 2px solid $color-basic;

    @include screen('sm') {
      border-bottom-width: 1px;
    }

    #{$br}_orange & {
      border-bottom-color: $color-hot-desk;
    }

    #{$br}_red & {
      border-bottom-color: $color-dedicated-desk;
    }

    #{$br}_blue & {
      border-bottom-color: $color-meeting-room;
    }

    #{$br}_green & {
      border-bottom-color: $color-office-space;
    }
  }
}
