// #####
// Кастомные селекты
// #####

@import '../../../node_modules/choices.js/src/styles/choices.scss';

.select {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  min-height: 0;
}

.choices {
  $k: &;

  display: inline-block;
  margin-bottom: 0;

  &__inner {
    @extend .select;

    @include text-mid;

    line-height: (26 / 17);
    font-weight: 700;
    color: $color-basic;
    transition: all $ease-main;
    border: none;

    @include screen('sm') {
      @include text;

      line-height: (26 / 14);
    }
  }

  &[data-type*="select-one"] {
    .choices__inner {
      padding-bottom: 0;
      background-color: rgba(0, 0, 0, 0);
    }

    #{$k}__input {
      @include text16;

      line-height: (28 / 16);
      font-weight: 700;
      color: $color-basic;
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 20px;
      box-sizing: border-box;
      background-color: rgba($color-white, .4);
      border: none;
      padding: 0 5px;
      z-index: 6;
    }
  }

  &::after {
    display: none;
  }

  &__list {
    border: none;
    z-index: 4;

    &--single {
      display: table;
      box-sizing: border-box;
      height: 100%;
      padding: 0;
      padding-right: 20px;
      max-width: 290px;

      .choices__item {
        display: table-cell;
        vertical-align: middle;
        padding: 0;
      }
    }

    &--dropdown {
      box-sizing: border-box;
      background-color: $color-bg;
      border-top: 1px solid $color-basic;
      border-bottom: 1px solid $color-basic;
      min-width: 100px;
      width: 100%;
      max-height: none;
      transition: all $ease-main;

      .choices__item {
        @include text16;

        line-height: (28 / 16);
        font-weight: 700;
        color: $color-basic;
        padding: 0 10px;

        &--selectable {
          transition: all $ease-main;

          &.is-highlighted {
            background-color: $color-basic;
            color: $color-white;
          }
        }
      }

      #{$k}__input {
        padding: 0 5px;
      }

      #{$k}__list {
        overflow: visible;
        box-sizing: border-box;
        width: 100%;
      }

      #{$k}__placeholder {
        display: none;
      }

      #{$k}.is-open-right & {
        right: 0;
      }

      .popup &,.select_white ~ & {
        background-color: $color-white;
      }
    }
  }

  &__placeholder {
    opacity: 1;
  }

  &__toggle {
    position: absolute;
    display: block;
    font-size: 0;
    line-height: 0;
    top: 50%;
    right: 0;
    z-index: 2;
    transform-origin: 50% 50% 0;
    transform: translate3d(0, -50%, 0);
    transition: transform $ease-main;

    svg {
      width: 12px;
      height: 7px;
      fill: currentColor;
      transition: fill $ease-main;
    }

    .is-open & {
      transform: translate3d(0, -50%, 0) rotate(180deg);
    }
  }

  &__header {
    display: none;
    color: $color-basic;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: $color-white;
    z-index: 5;
    height: 70px;

    @include screen('sm') {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      padding: 0 19px;
      top: 0;
      left: 0;
      width: 100%;
      height: 48px;
      border-bottom: 1px solid $color-border-light;
      z-index: 2;
    }

    &-title {
      @include heading-3;

      font-weight: 700;
      user-select: none;

      @include screen('sm') {
        @include heading-4;
      }
    }
  }

  &__scrollblock {
    display: block;
    width: 100%;
    max-height: 100px;
    box-sizing: border-box;
  }

  &__close {
    position: absolute;
    top: 6px;
    left: 9px;
    z-index: 2;
  }

  &.is-open & {
    &__inner {
      border-color: $color-basic;
      border-radius: 0;
    }

    &__list {
      &--dropdown {
        border-color: $color-basic;
        border-radius: 0;
      }
    }
  }

  &:hover &,&.is-open & {
    &__inner {
      color: $color-basic-dark;
    }
  }

  &_light {
    width: 100%;

    #{$k}__inner {
      @include text-mid;

      line-height: (26 / 17);
      color: $color-white;
      overflow: hidden;
      border-radius: 3px 3px 0 0;
      transition: border $ease-main;

      @include screen('sm') {
        @include text;

        line-height: (26 / 14);
      }

      &::after {
        @include pseudo;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        box-shadow: 0 0 49px rgba(34, 42, 46, 0.25);
        display: none;
      }

      &::before {
        @include pseudo;

        bottom: 0;
        left: 9px;
        width: calc(100% - 16px);
        height: 2px;
        background-color: $color-white;
        transition: all $ease-main;
        z-index: 3;
      }
    }

    #{$k}__placeholder {
      font-weight: 400;
    }

    #{$k}__toggle {
      right: 8px;
      z-index: 3;

      @include screen('sm') {
        right: 14px;
      }
    }

    #{$k}__scrollblock {
      max-height: 277px;
    }

    #{$k}__list {
      &--single {
        position: relative;
        width: 100%;
        max-width: none;
        padding-left: 7px;
        padding-right: 25px;
        padding-bottom: 1px;
        background-color: rgba($color-white, 0);
        background-clip: padding-box;
        border-radius: 3px 3px 0 0;
        border: 2px solid transparent;
        overflow: hidden;
        transition: border $ease-main;
        z-index: 2;
      }

      &--dropdown {
        min-width: 0;
        width: 434px;
        max-width: none;
        background-color: $color-white;
        border-radius: 0 3px 3px 3px;
        border: 3px solid $color-white;
        border-top-width: 0;
        border-top-color: transparent;
        box-shadow: 0 0 49px rgba(34, 42, 46, 0.25);
        margin-top: -2px;
        box-sizing: border-box;

        @include screen('sm') {
          background-color: $color-select-bg;
        }

        #{$k}__list {
          padding-top: 7px;
          padding-bottom: 7px;
          width: 100%;
        }

        #{$k}__item,#{$k}__input {
          @include text-big;

          line-height: (26 / 18);
          color: $color-basic;
          font-weight: 700;

          &--selectable {
            &.is-highlighted {
              background-color: $color-basic;
              color: $color-white;
            }
          }
        }

        #{$k}__item {
          padding-top: 7px;
          padding-bottom: 8px;
        }
      }
    }

    &:hover #{$k}__inner {
      color: $color-white;
    }

    &:hover #{$k}__inner::before {
      z-index: 5;
    }

    &:hover #{$k}__list {
      &--single {
        border-color: $color-white;
        border-radius: 3px;
      }

      &--dropdown {
        border-color: $color-white;
        border-top-color: transparent;
      }
    }

    &.is-open #{$k}__toggle {
      z-index: 6;

      @include screen('sm') {
        z-index: 3;
      }
    }

    &.is-open #{$k}__inner {
      color: $color-basic;
      z-index: 5;

      @include screen('sm') {
        z-index: inherit;
      }

      &::after {
        display: block;
      }

      &::before {
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color-bg;
        z-index: 5;

        @include screen('sm') {
          z-index: inherit;
        }
      }
    }

    &.is-open #{$k}__list {
      &--single {
        background-color: $color-white;
        border-color: $color-white;
        border-bottom-color: transparent;
        border-radius: 3px 3px 0 0;
        z-index: 5;

        @include screen('sm') {
          z-index: inherit;
        }
      }

      &--dropdown {
        border-color: $color-white;
        border-top-color: transparent;
        border-radius: 0 3px 3px 3px;
      }
    }

    &.is-readonly {
      #{$k} {

        &__inner {

          &::before {
            opacity: .4;
          }
        }

        &__toggle svg {
          opacity: .4;
          fill: currentColor !important;
        }
      }
    }
  }

  &_color {
    #{$k}__inner {
      &::before {
        background-image: linear-gradient(to right, $color-hot-desk 25%, $color-dedicated-desk 25%, $color-dedicated-desk 50%, $color-meeting-room 50%, $color-meeting-room 75%, $color-office-space 75%);
      }
    }

    &:hover #{$k}__inner {
      &::before {
        background-image: none;
      }
    }

    &.is-open #{$k}__inner {
      &::before {
        background-image: none;
      }
    }
  }

  &_dark {
    #{$k}__inner {
      @include heading-4;

      line-height: (26 / 20);
      border-radius: 3px;
      transition: box-shadow $ease-main;

      &::before {
        @include pseudo;

        width: 100%;
        height: 5px;
        bottom: 1px;
        left: 0;
        background-color: $color-select-bg-light;
        opacity: 0;
        border-bottom: 1px solid $color-bg;
        z-index: 5;
        transition: opacity $ease-main, border $ease-main;
      }
    }

    #{$k}__list {
      &--single {
        padding-top: 5px;
        padding-bottom: 3px;
        padding-left: 9px;
        padding-right: 30px;
        background-color: rgba($color-select-bg-light, 0);
        border-bottom: 2px solid transparent;
        transition: border $ease-main, background $ease-main;

        @include screen('md') {
          padding-right: 34px;
        }
      }

      &--dropdown {
        border-top-width: 0;
        border-bottom-width: 0;
        background-color: $color-select-bg-light;
        border-radius: 0 3px 3px;
        box-shadow: 1px 1px 8px rgba(34, 42, 46, .06);
        min-width: 0;
        width: 290px;
        transition: box-shadow $ease-main, opacity $ease-main;

        #{$k}__list {
          padding-top: 15px;
          padding-bottom: 6px;
        }

        #{$k}__item {
          @include text16;

          line-height: (30 / 16);
          color: $color-basic;
          font-weight: 700;
          padding: 0 18px;

          &--selectable {
            &.is-highlighted {
              background-color: $color-basic;
              color: $color-select-bg-light;
            }
          }
        }
      }
    }

    #{$k}__scrollblock {
      max-height: 201px;
    }

    #{$k}__toggle {
      right: 8px;

      svg {
        fill: $color-basic;
      }
    }

    &:hover #{$k}__inner,&.is-open #{$k}__inner {
      color: $color-basic;
    }

    &.is-item-select #{$k}__inner {
      color: $color-selected-dark;
    }

    &.is-item-select #{$k}__list {
      &--single {
        background-color: $color-select-bg-light;
      }
    }

    &:hover #{$k}__inner {
      background-color: var(--color-select-bg-light);
      box-shadow: 1px 1px 8px rgba(34, 42, 46, .06);
    }

    &:hover #{$k}__list {
      &--single {
        background-color: $color-select-bg-light;
      }
    }

    &.is-open #{$k}__inner {
      box-shadow: 1px 1px 8px rgba(34, 42, 46, .06);
      border-radius: 3px 3px 0 0;

      &::before {
        opacity: 1;
      }
    }

    &.is-open #{$k}__list {
      &--single {
        box-shadow: 1px 1px 8px rgba(34, 42, 46, .06);
        background-color: $color-select-bg-light;
      }

      &--dropdown {
        border-radius: 0 3px 3px;
      }
    }

    &#{$k}_small {
      #{$k}__inner {
        @include text-mid;

        line-height: (26 / 17);
        font-weight: 700;

        @include screen('sm') {
          @include text;

          line-height: (26 / 14);
        }
      }

      &.is-item-select #{$k}__inner {
        color: $color-basic;
      }

      &.is-item-select #{$k}__list {
        &--single {
          background-color: transparent;
        }
      }

      &:hover #{$k}__list {
        &--single {
          background-color: $color-white;
        }
      }

      &.is-open #{$k}__list {
        &--single {
          background-color: $color-white;
        }
      }
    }
  }

  &_dark2 {
    #{$k}__list {
      &--dropdown {
        min-width: 0;
        width: 290px;
      }
    }

    #{$k}__scrollblock {
      max-height: 201px;
    }

    &.is-item-select:not(.is-readonly):not(.is-disabled) #{$k}__inner {
      color: $color-basic-dark;
    }
  }

  &_dark3 {
    @include screen('sm') {
      font-size: 13px;
      line-height: 1.2;
    }

    #{$k}__inner {
      @include heading-5;

      line-height: (26 / 18);
      transition: box-shadow $ease-main;

      @include screen('sm') {
        @include text13;

        line-height: 1.2;
      }
    }

    #{$k}__toggle {
      svg {
        width: 17px;
        height: 10px;

        @include screen('sm') {
          width: 9px;
          height: 5px;
        }
      }
    }

    #{$k}__list {
      &--single {
        padding-right: 27px;

        @include screen('sm') {
          padding-right: 16px;
        }
      }

      &--dropdown {
        min-width: 0;
        width: 290px;
      }
    }

    #{$k}__scrollblock {
      max-height: 201px;
    }

    &.is-item-select:not(.is-readonly):not(.is-disabled) #{$k}__inner {
      color: $color-basic;
    }
  }

  &_input {
    width: 100%;

    #{$k}__inner {
      @include text-big;

      font-weight: 400;
      line-height: (26 / 18);
      width: 100%;
      box-sizing: border-box;
      border-radius: 0;
      color: $color-basic;
      transition: color $ease-main;
      overflow: hidden;

      @include screen('sm') {
        @include text16;
      }
    }

    #{$k}__toggle {
      right: 6px;

      @include screen('md') {
        right: 12px;
      }

      @include screen('sm') {
        right: 9px;
      }

      svg {
        fill: $color-basic;
      }
    }

    #{$k}__list {
      &--single {
        padding-top: 5px;
        padding-bottom: 8px;
        border-bottom: 1px solid $color-form-border;
        width: 100%;
        max-width: none;
        transition: border $ease-main;

        @include ellipsis(100%);

        #{$k}__item {
          @include ellipsis(100%);
        }
      }

      #{$k}__placeholder {
        color: transparent;

        @include ellipsis(100%);
      }

      &--dropdown {
        min-width: 0;
        width: 100%;
        max-width: none;

        #{$k}__list {
          padding-top: 16px;
          padding-bottom: 16px;
        }

        #{$k}__item {
          @include text16;

          line-height: (35 / 16);
          font-weight: 400;
          padding: 0 6px;

          &[data-value=""] {
            display: none;
          }
        }

        .form_white &,.select_white ~ & {
          background-color: $color-white;
        }
      }
    }

    #{$k}__scrollblock {
      max-height: 276px;
    }

    .select_placeholder ~ #{$k}__list #{$k}__placeholder {
      transition: color $ease-main;
      color: $color-placeholder;
    }

    &:hover {
      #{$k}__inner {
        color: $color-basic;
      }

      #{$k}__list {
        &--single {
          border-bottom-color: $color-basic;
        }
      }

      #{$k}__placeholder {
        color: transparent;
      }

      .select_placeholder ~ #{$k}__list #{$k}__placeholder {
        color: $color-basic;
      }
    }

    &.is-open {
      #{$k}__inner {
        color: $color-basic;
      }

      #{$k}__list {
        &--single {
          border-bottom-color: $color-basic;
        }
      }
    }
  }

  &_input2 {
    width: 100%;

    #{$k}__inner {
      @include text-mid;

      font-weight: 700;
      line-height: (26 / 17);
      width: 100%;
      box-sizing: border-box;
      border-radius: 0;
      color: $color-basic;
      transition: color $ease-main;
      overflow: hidden;

      @include screen('sm') {
        @include text15;
      }
    }

    #{$k}__toggle {
      right: 0;

      svg {
        fill: $color-basic;
      }
    }

    #{$k}__list {
      &--single {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid $color-form-border;
        width: 100%;
        max-width: none;
        transition: border $ease-main;

        @include ellipsis(100%);

        @include screen('sm') {
          padding-top: 0;
          padding-bottom: 0;
        }

        #{$k}__item {
          @include ellipsis(100%);
        }
      }

      #{$k}__placeholder {
        color: transparent;

        @include ellipsis(100%);
      }

      &--dropdown {
        min-width: 0;
        width: 100%;
        max-width: none;

        #{$k}__list {
          padding-top: 16px;
          padding-bottom: 16px;
        }

        #{$k}__item {
          @include text16;

          line-height: (35 / 16);
          font-weight: 400;
          padding: 0 6px;

          &[data-value=""] {
            display: none;
          }
        }

        .form_white &,.select_white ~ & {
          background-color: $color-white;
        }
      }
    }

    #{$k}__scrollblock {
      max-height: 276px;
    }

    .select_placeholder ~ #{$k}__list #{$k}__placeholder {
      transition: color $ease-main;
      color: $color-placeholder;
    }

    &:hover {
      #{$k}__inner {
        color: $color-basic;
      }

      #{$k}__list {
        &--single {
          border-bottom-color: $color-basic;
        }
      }

      #{$k}__placeholder {
        color: transparent;
      }

      .select_placeholder ~ #{$k}__list #{$k}__placeholder {
        color: $color-basic;
      }
    }

    &.is-open {
      #{$k}__inner {
        color: $color-basic;
      }

      #{$k}__list {
        &--single {
          border-bottom-color: $color-basic;
        }
      }
    }
  }

  &_popup {

    #{$k} {

      &__scrollblock {
        @include screen('sm') {
          height: 100%;
          max-height: 100%;
        }
      }

      &__list {

        &--dropdown {
          @include screen('sm') {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none !important;
            z-index: 3;
            max-height: none;
            background-color: $color-white;
          }

          #{$k}__input {
            @include screen('sm') {
              font-size: 15px;
              line-height: (20 / 15);
              top: 13px;
              right: auto;
              left: 40px;
              color: $color-basic !important;
            }
          }

          #{$k}__list {
            @include screen('sm') {
              padding-top: 57px;
              padding-bottom: 56px;
            }
          }

          #{$k}__item {
            @include screen('sm') {
              font-size: 15px !important;
              line-height: (26 / 15);
              color: $color-basic !important;
              font-weight: 700;
              padding: 7px 18px 8px !important;
            }

            &--selectable {
              &.is-highlighted {
                @include screen('sm') {
                  background-color: $color-basic !important;
                  color: $color-white !important;
                }
              }
            }
          }
        }
      }
    }
  }

  &.is-disabled {
    #{$k} {
      &__inner {
        color: $color-pagination-disabled;
      }

      &__toggle {
        svg {
          fill: $color-pagination-disabled;
        }
      }
    }
  }

  &.is-readonly {
    pointer-events: none;

    #{$k}__inner {
      cursor: not-allowed;
      user-select: none;
    }

    #{$k}__item {
      cursor: not-allowed;
    }

    #{$k}__toggle {
      svg {
        fill: $color-pagination-disabled;
      }
    }
  }
}
