.nd-checkbox {
  $b: &;

  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
  line-height: 20px;
  color: $nd-color-basic;

  @include screen('xlg', max, 2) {
    font-size: pxtovw(18, 1660);
    line-height: pxtovw(20, 1660);
  }

  @include screen('lg', max, 2) {
    font-size: pxtovw(18, 1366);
    line-height: pxtovw(20, 1366);
  }

  @include screen('md', max, 2) {
    font-size: pxtovw(18, 960);
    line-height: pxtovw(20, 960);
  }

  @include screen('sm', max, 2) {
    font-size: pxtovw(15, 375);
    line-height: pxtovw(20, 375);
  }

  &_stolzl {
    font-family: $font-stolzl;
  }

  &_fz16 {
    @include rule(font-size, (xl: 16px, xlg: 16, lg: 16, md: 16, sm: 14));

    line-height: (19 / 16);
    letter-spacing: -.015em;
  }

  &_md-fz16 {
    @include screen('md', max, 2) {
      font-size: pxtovw(16, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
    }
  }

  &.is-disabled {
    cursor: default;
    pointer-events: none;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $nd-color-basic;
    transition: background $ease-main, opacity $ease-main;
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-size: 80% 65%;
    box-sizing: border-box;
    cursor: pointer;

    @include screen('xlg', max, 2) {
      width: pxtovw(20, 1660);
      height: pxtovw(20, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(20, 1366);
      height: pxtovw(20, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(20, 960);
      height: pxtovw(20, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(20, 375);
      height: pxtovw(20, 375);
    }

    #{$b}__input:checked ~ & {
      background-color: $nd-color-main;
      background-image: $icon-check-white;
    }

    #{$b}__input:disabled ~ &, .is-disabled & {
      border-color: $nd-color-border3;
      cursor: default;
      pointer-events: none;
    }

    #{$b}__input:checked:disabled ~ &, .is-disabled #{$b}__input:checked & {
      background-color: rgba($nd-color-main, .3);
      border-color: $nd-color-border3;
    }

    #{$b}:hover & {
    }
  }

  &__content {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 15px;

      @include screen('xlg', max, 2) {
        margin-left: pxtovw(15, 1660);
      }

      @include screen('lg', max, 2) {
        margin-left: pxtovw(15, 1366);
      }

      @include screen('md', max, 2) {
        margin-left: pxtovw(15, 960);
      }

      @include screen('sm', max, 2) {
        margin-left: pxtovw(11, 375);
      }
    }

    #{$b}__input:disabled ~ &, .is-disabled & {
      color: $nd-color-border-light;
      cursor: default;
      pointer-events: none;
    }
  }
}
