// #####
// Range-слайдер
// #####

.nd-range {
  $b: &;
  display: inline-block;
  width: 100%;

  &__slider {
    position: relative;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;

    @include rule(height, (xl: 14px, xlg: 14, lg: 14, md: 14, sm: 14)); //handle height

    @include rule(padding, (xl: 0 7px, xlg: 0 7, lg: 0 7, md: 0 7, sm: 0 7)); //half handle height

    &::before {
      @include pseudo;

      width: 100%;
      background-color: $nd-color-gray2;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
      z-index: 1;

      @include rule(height, (xl: 4px, xlg: 4, lg: 4, md: 4, sm: 4));
      @include rule(border-radius, (xl: 3px, xlg: 3, lg: 3, md: 3, sm: 3));
    }
  }

  &__output {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 35px, xlg: 35, lg: 35, md: 35, sm: 35));
    }
  }

  &__item {
    position: relative;
    display: block;
    flex: 1;

    &:not(:last-child) {
      @include rule(margin-right, (xl: 50px, xlg: 50, lg: 50, md: 50, sm: 40));

      &::after {
        position: absolute;
        font-family: $font-stolzl;
        display: block;
        content: '-';
        flex: none;
        left: 100%;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        color: $nd-color-basic;
        text-align: center;
        line-height: 1.18;

        @include rule(width, (xl: 50px, xlg: 50, lg: 50, md: 50, sm: 40));
        @include rule(font-size, (xl: 17px, xlg: 17, lg: 17, md: 17, sm: 17));
      }
    }
  }

  &_v2 {
    display: flex;
    flex-direction: column-reverse;

    #{$b} {
      &__output {
        &:not(:first-child) {
          margin-top: 0;

          @include rule(margin-bottom, (xl: 22px, xlg: 22, lg: 22, md: 22, sm: 22));
        }
      }

      &__item {
        &:not(:last-child) {
          @include rule(margin-right, (xl: 28px, xlg: 28, lg: 28, md: 28, sm: 28));

          &::after {
            @include rule(width, (xl: 28px, xlg: 28, lg: 28, md: 28, sm: 28));
          }
        }
      }
    }
  }
}

.nd-range .noUi {
  // z-index: 2;

  &-base {
    background-color: $nd-color-gray2;
    position: relative;

    @include rule(height, (xl: 4px, xlg: 4, lg: 4, md: 4, sm: 4));
    @include rule(border-radius, (xl: 3px, xlg: 3, lg: 3, md: 3, sm: 3));
    @include rule(margin, (xl: 5px 0, xlg: 5 0, lg: 5 0, md: 5 0, sm: 5 0)); // margin (handleHeight - baseHeight) / 2; - чтобы не налазил на элементы
  }

  &-connect {
    height: 4px;
    position: absolute;
    background-color: $nd-color-main;
    border-radius: 3px;
    z-index: 2;

    @include screen('xlg', max, 2) {
      height: pxtovw(4, 1660);
      border-radius: pxtovw(3, 1660);
    }

    @include screen('lg', max, 2) {
      height: pxtovw(4, 1366);
      border-radius: pxtovw(3, 1366);
    }

    @include screen('md', max, 2) {
      height: pxtovw(4, 960);
      border-radius: pxtovw(3, 960);
    }

    @include screen('sm', max, 2) {
      height: pxtovw(4, 375);
      border-radius: pxtovw(3, 375);
    }
  }

  &-handle {
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    background-color: $nd-color-basic;
    box-sizing: border-box;
    transition: border $ease-main;
    cursor: pointer;
    box-shadow: none;
    border-color: $nd-color-basic;

    @include rule(right, (xl: -14px, xlg: -14, lg: -14, md: -14, sm: -14));
    @include rule(width, (xl: 14px, xlg: 14, lg: 14, md: 14, sm: 14));
    @include rule(height, (xl: 14px, xlg: 14, lg: 14, md: 14, sm: 14));

    &::before, &::after {
      display: none;
    }

    &:hover {
      @include screen('sm', min, 2) {
        border-color: $nd-color-main;
      }
    }
  }

  &-origin {
    position: absolute;
    top: 0;
    height: 100%;
  }
}
