// #####
// Range-слайдер
// #####

.nd-range {
  display: inline-block;
  width: 100%;

  &__slider {
    position: relative;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 7px;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;

    @include screen('xlg', max, 2) {
      padding: 0 pxtovw(7, 1660);
    }

    @include screen('lg', max, 2) {
      padding: 0 pxtovw(7, 1366);
    }

    @include screen('md', max, 2) {
      padding: 0 pxtovw(7, 960);
    }

    @include screen('sm', max, 2) {
      padding: 0 pxtovw(7, 375);
    }

    &::before {
      @include pseudo;

      width: 100%;
      height: 4px;
      background-color: $nd-color-gray2;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
      border-radius: 3px;
      z-index: 1;

      @include screen('xlg', max, 2) {
        height: pxtovw(4, 1660);
        border-radius: pxtovw(3, 1660);
      }

      @include screen('lg', max, 2) {
        height: pxtovw(4, 1366);
        border-radius: pxtovw(3, 1366);
      }

      @include screen('md', max, 2) {
        height: pxtovw(4, 960);
        border-radius: pxtovw(3, 960);
      }

      @include screen('sm', max, 2) {
        height: pxtovw(4, 375);
        border-radius: pxtovw(3, 375);
      }
    }
  }

  &__output {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:first-child) {
      margin-top: 33px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(33, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(33, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(33, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(31, 375);
      }
    }
  }

  &__item {
    position: relative;
    display: block;
    flex: 1;

    &:not(:last-child) {
      margin-right: 50px;

      @include screen('xlg', max, 2) {
        margin-right: pxtovw(50, 1660);
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(50, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(50, 960);
      }

      @include screen('sm', max, 2) {
        margin-right: pxtovw(40, 375);
      }

      &::after {
        position: absolute;
        font-family: $font-stolzl;
        display: block;
        content: '-';
        flex: none;
        width: 50px;
        left: 100%;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        color: $nd-color-basic;
        font-size: 17px;
        text-align: center;
        line-height: 1.18;

        @include screen('xlg', max, 2) {
          font-size: pxtovw(17, 1660);
          width: pxtovw(50, 1660);
        }

        @include screen('lg', max, 2) {
          font-size: pxtovw(17, 1366);
          width: pxtovw(50, 1366);
        }

        @include screen('md', max, 2) {
          font-size: pxtovw(17, 960);
          width: pxtovw(50, 960);
        }

        @include screen('sm', max, 2) {
          font-size: pxtovw(17, 375);
          width: pxtovw(40, 375);
        }
      }
    }
  }
}

.nd-range .noUi {
  // z-index: 2;

  &-base {
    height: 4px;
    background-color: $nd-color-gray2;
    position: relative;
    border-radius: 3px;
    margin: 7px 0; // margin нужен, чтобы handler не налезал на другие элементы

    @include screen('xlg', max, 2) {
      height: pxtovw(4, 1660);
      border-radius: pxtovw(3, 1660);
      margin: pxtovw(7, 1660) 0;
    }

    @include screen('lg', max, 2) {
      height: pxtovw(4, 1366);
      border-radius: pxtovw(3, 1366);
      margin: pxtovw(7, 1366) 0;
    }

    @include screen('md', max, 2) {
      height: pxtovw(4, 960);
      border-radius: pxtovw(3, 960);
      margin: pxtovw(7, 960) 0;
    }

    @include screen('sm', max, 2) {
      height: pxtovw(4, 375);
      border-radius: pxtovw(3, 375);
      margin: pxtovw(7, 375) 0;
    }
  }

  &-connect {
    height: 4px;
    position: absolute;
    background-color: $nd-color-main;
    border-radius: 3px;
    z-index: 2;

    @include screen('xlg', max, 2) {
      height: pxtovw(4, 1660);
      border-radius: pxtovw(3, 1660);
    }

    @include screen('lg', max, 2) {
      height: pxtovw(4, 1366);
      border-radius: pxtovw(3, 1366);
    }

    @include screen('md', max, 2) {
      height: pxtovw(4, 960);
      border-radius: pxtovw(3, 960);
    }

    @include screen('sm', max, 2) {
      height: pxtovw(4, 375);
      border-radius: pxtovw(3, 375);
    }
  }

  &-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    background-color: $nd-color-basic;
    box-sizing: border-box;
    transition: border $ease-main;
    cursor: pointer;
    box-shadow: none;
    border-color: black;

    @include rule(right, (xl: -14px, xlg: -14, lg: -14, md: -14, sm: -14));

    @include screen('xlg', max, 2) {
      height: pxtovw(14, 1660);
      width: pxtovw(14, 1660);
    }

    @include screen('lg', max, 2) {
      height: pxtovw(14, 1366);
      width: pxtovw(14, 1366);
    }

    @include screen('md', max, 2) {
      height: pxtovw(14, 960);
      width: pxtovw(14, 960);
    }

    @include screen('sm', max, 2) {
      height: pxtovw(14, 375);
      width: pxtovw(14, 375);
    }

    &::before, &::after {
      display: none;
    }

    &:hover {
      border-color: white;
    }
  }

  &-origin {
    position: absolute;
    top: 0;
    height: 100%;
  }
}
