.nd-choices {
  $b: &;

  position: relative;
  margin-bottom: 0;
  font-size: 0;
  line-height: 0;
  color: $nd-color-basic;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    outline: none;
  }

  [hidden] {
    display: none !important;
  }

  &[data-type*='select-one'] {
    cursor: pointer;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      content: '';
      height: 100%;
      width: 30px;
      pointer-events: none;
      background-image: $icon-select-arrow;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 10px 7px;
      transform-origin: 50% 50%;
      transition: transform $ease-main;
      z-index: 2;

      @include screen('xlg', max, 2) {
        width: pxtovw(30, 1660);
        background-size: pxtovw(10, 1660) pxtovw(7, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(30, 1366);
        background-size: pxtovw(10, 1366) pxtovw(7, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(30, 960);
        background-size: pxtovw(10, 960) pxtovw(7, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(30, 375);
        background-size: pxtovw(10, 375) pxtovw(7, 375);
      }
    }

    &.is-open::after {
      transform: rotate(-180deg);
      z-index: 4;
      pointer-events: auto;

      @include screen('sm', max, 2) {
        pointer-events: none;
      }
    }

    &_popup.is-open::after {
      @include screen('sm', max, 2) {
        transform: rotate(0);
        z-index: 2;
        pointer-events: none;
      }
    }

    &.is-disabled::after {
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23C8CCD0' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E ");
    }

    #{$b} {
      &__inner {
        background-color: transparent;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }

      &__button {
        background-image: $icon-cross;
        padding: 0;
        background-size: 8px;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -10px;
        margin-right: 25px;
        height: 20px;
        width: 20px;
        border-radius: 10em;
        opacity: .5;

        @include screen('xlg', max, 2) {
          background-size: pxtovw(8, 1660);
          margin-top: pxtovw(-10, 1660);
          margin-right: pxtovw(25, 1660);
          height: pxtovw(20, 1660);
          width: pxtovw(20, 1660);
        }

        @include screen('lg', max, 2) {
          background-size: pxtovw(8, 1366);
          margin-top: pxtovw(-10, 1366);
          margin-right: pxtovw(25, 1366);
          height: pxtovw(20, 1366);
          width: pxtovw(20, 1366);
        }

        @include screen('md', max, 2) {
          background-size: pxtovw(8, 960);
          margin-top: pxtovw(-10, 960);
          margin-right: pxtovw(25, 960);
          height: pxtovw(20, 960);
          width: pxtovw(20, 960);
        }

        @include screen('sm', max, 2) {
          background-size: pxtovw(8, 375);
          margin-top: pxtovw(-10, 375);
          margin-right: pxtovw(25, 375);
          height: pxtovw(20, 375);
          width: pxtovw(20, 375);
        }

        &:hover, &:focus {
          opacity: 1;
        }

        #{$b}__item[data-value=''] & {
          display: none;
        }
      }
    }

    &[dir='rtl'] {
      &::after {
        left: 0;
        right: auto;
      }

      #{$b} {
        &__button {
          left: 0;
          right: auto;
          margin-left: 25px;
          margin-right: 0;

          @include screen('xlg', max, 2) {
            margin-left: pxtovw(25, 1660);
          }

          @include screen('lg', max, 2) {
            margin-left: pxtovw(25, 1366);
          }

          @include screen('md', max, 2) {
            margin-left: pxtovw(25, 960);
          }

          @include screen('sm', max, 2) {
            margin-left: pxtovw(25, 375);
          }
        }
      }
    }
  }

  &[data-type*='select-multiple'], &[data-type*='text'] {
    #{$b} {
      &__inner {
        cursor: text;
      }

      &__button {
        position: relative;
        display: inline-block;
        margin: 0 -4px 0 8px;
        padding-left: 16px;
        border-left: 1px solid $nd-color-field-border;
        background-image: $icon-cross;
        background-size: 8px;
        width: 8px;
        line-height: 1;
        opacity: .75;
        border-radius: 0;

        @include screen('xlg', max, 2) {
          margin: 0 pxtovw(-4, 1660) 0 pxtovw(8, 1660);
          padding-left: pxtovw(16, 1660);
          background-size: pxtovw(8, 1660);
          width: pxtovw(8, 1660);
        }

        @include screen('lg', max, 2) {
          margin: 0 pxtovw(-4, 1366) 0 pxtovw(8, 1366);
          padding-left: pxtovw(16, 1366);
          background-size: pxtovw(8, 1366);
          width: pxtovw(8, 1366);
        }

        @include screen('md', max, 2) {
          margin: 0 pxtovw(-4, 960) 0 pxtovw(8, 960);
          padding-left: pxtovw(16, 960);
          background-size: pxtovw(8, 960);
          width: pxtovw(8, 960);
        }

        @include screen('sm', max, 2) {
          margin: 0 pxtovw(-4, 375) 0 pxtovw(8, 375);
          padding-left: pxtovw(16, 375);
          background-size: pxtovw(8, 375);
          width: pxtovw(8, 375);
        }

        &:hover, &:focus {
          opacity: 1;
        }
      }
    }
  }

  &__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    transition: border $ease-main, box-shadow $ease-main;
    background-color: transparent;
    border: 1px solid $nd-color-field-border;
    border-radius: 3px;
    overflow: hidden;
    padding: 14px 11px 8px;
    box-sizing: border-box;
    min-height: 50px;

    @include screen('xlg', max, 2) {
      padding: pxtovw(14, 1660) pxtovw(11, 1660) pxtovw(8, 1660);
      border-radius: pxtovw(3, 1660);
      min-height: pxtovw(50, 1660);
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(14, 1366) pxtovw(11, 1366) pxtovw(8, 1366);
      border-radius: pxtovw(3, 1366);
      min-height: pxtovw(50, 1366);
    }

    @include screen('md', max, 2) {
      padding: pxtovw(14, 960) pxtovw(11, 960) pxtovw(8, 960);
      border-radius: pxtovw(3, 960);
      min-height: pxtovw(50, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(9, 375) pxtovw(11, 375) pxtovw(3, 375);
      border-radius: pxtovw(3, 375);
      min-height: pxtovw(40, 375);
    }

    #{$b}:hover & {
      border-color: $nd-color-field-border-hover;

      .arrange-viewing-form & {
        box-shadow: none;
      }
    }

    .is-item-select & {
      border-color: $nd-color-field-border-hover;
    }

    .is-error & {
      border-color: $nd-color-input-error-border;

      .arrange-viewing-form & {
        border-color: $nd-color-fixeddesk;
        box-shadow: inset 0 0 0 1px $nd-color-fixeddesk;
      }
    }

    .is-focused &, .is-focused:hover & {
      border-color: $nd-color-main;
      box-shadow: inset 0 0 0 1px $nd-color-main;

      .arrange-viewing-form & {
        box-shadow: inset 0 0 0 1px $nd-color-main;
      }
    }

    .is-open &, .is-open:hover & {
      border-color: $nd-color-main;
      box-shadow: inset 0 0 0 1px $nd-color-main;

      .arrange-viewing-form & {
        box-shadow: inset 0 0 0 1px $nd-color-main;
      }
    }

    #{$b}_popup.is-open & {
      pointer-events: none;
    }

    #{$b}_upload & {
      border-color: transparent;
    }

    #{$b}_upload:hover & {
      border-color: transparent;
    }

    #{$b}_upload.is-item-select & {
      border-color: transparent;
      box-shadow: none;
    }

    .is-error #{$b}_upload & {
      border-color: transparent;
      box-shadow: none;
    }

    #{$b}_upload.is-focused &, #{$b}_upload.is-focused:hover & {
      border-color: transparent;
      box-shadow: none;
    }

    #{$b}_upload.is-open &, #{$b}_upload.is-open:hover & {
      border-color: transparent;
      box-shadow: none;
    }

    #{$b}_sm-h50 & {
      @include screen('sm', max, 2) {
        padding: pxtovw(14, 375) pxtovw(11, 375) pxtovw(8, 375);
        min-height: pxtovw(50, 375);
      }
    }

    #{$b}_h40 & {
      padding: 9px 11px 3px;
      min-height: 40px;

      @include screen('xlg', max, 2) {
        padding: pxtovw(9, 1660) pxtovw(11, 1660) pxtovw(3, 1660);
        min-height: pxtovw(40, 1660);
      }

      @include screen('lg', max, 2) {
        padding: pxtovw(9, 1366) pxtovw(11, 1366) pxtovw(3, 1366);
        min-height: pxtovw(40, 1366);
      }

      @include screen('md', max, 2) {
        padding: pxtovw(9, 960) pxtovw(11, 960) pxtovw(3, 960);
        min-height: pxtovw(40, 960);
      }

      @include screen('sm', max, 2) {
        padding: pxtovw(9, 375) pxtovw(11, 375) pxtovw(3, 375);
        min-height: pxtovw(40, 375);
      }
    }
  }

  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    z-index: 4;
    scrollbar-color: $nd-color-scroll transparent;
    scrollbar-width: thin;
    -ms-overflow-style: none;

    &::-webkit-scrollbar-track {
      width: 3px;
      background-color: transparent;

      @include screen('xlg', max, 2) {
        width: pxtovw(3, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(3, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(3, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(3, 375);
      }
    }

    &::-webkit-scrollbar-track-piece {
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;

      @include screen('xlg', max, 2) {
        width: pxtovw(6, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(6, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(6, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(6, 375);
      }
    }

    &::-webkit-scrollbar-thumb {
      border-width: 6px 3px 6px 0;
      border-style: solid;
      border-color: transparent;
      width: 3px;
      border-radius: 4px;
      background-color: $nd-color-scroll;
      background-clip: padding-box;

      @include screen('xlg', max, 2) {
        border-width: pxtovw(6, 1660) pxtovw(3, 1660) pxtovw(6, 1660) 0;
        width: pxtovw(3, 1660);
        border-radius: pxtovw(4, 1660);
      }

      @include screen('lg', max, 2) {
        border-width: pxtovw(6, 1366) pxtovw(3, 1366) pxtovw(6, 1366) 0;
        width: pxtovw(3, 1366);
        border-radius: pxtovw(4, 1366);
      }

      @include screen('md', max, 2) {
        border-width: pxtovw(6, 960) pxtovw(3, 960) pxtovw(6, 960) 0;
        width: pxtovw(3, 960);
        border-radius: pxtovw(4, 960);
      }

      @include screen('sm', max, 2) {
        border-width: pxtovw(6, 375) pxtovw(3, 375) pxtovw(6, 375) 0;
        width: pxtovw(3, 375);
        border-radius: pxtovw(4, 375);
      }
    }

    &--single {
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      padding: 0;
      padding-right: 20px;

      @include screen('xlg', max, 2) {
        padding-right: pxtovw(20, 1660);
      }

      @include screen('lg', max, 2) {
        padding-right: pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        padding-right: pxtovw(20, 960);
      }

      @include screen('sm', max, 2) {
        padding-right: pxtovw(20, 375);
      }

      [dir='rtl'] & {
        padding-right: 0;
        padding-left: 20px;

        @include screen('xlg', max, 2) {
          padding-left: pxtovw(20, 1660);
        }

        @include screen('lg', max, 2) {
          padding-left: pxtovw(20, 1366);
        }

        @include screen('md', max, 2) {
          padding-left: pxtovw(20, 960);
        }
      }

      #{$b}__item {
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        width: 100%;
        font-size: 17px;
        line-height: (26 / 17);
        font-weight: 400;

        @include ellipsis(100%);

        @include screen('xlg', max, 2) {
          font-size: pxtovw(17, 1660);
        }

        @include screen('lg', max, 2) {
          font-size: pxtovw(17, 1366);
        }

        @include screen('md', max, 2) {
          font-size: pxtovw(17, 960);
        }

        @include screen('sm', max, 2) {
          font-size: pxtovw(15, 375);
          line-height: (26 / 15);
        }

        .is-open & {
          opacity: 0;
        }
      }
    }

    &--multiple {
      display: inline;

      #{$b}__item {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        margin-right: 4px;
        margin-bottom: 4px;
        background-color: $nd-color-bg;
        word-break: break-all;
        box-sizing: border-box;
        font-size: 17px;
        line-height: (26 / 17);
        font-weight: 400;

        @include screen('xlg', max, 2) {
          padding: 0 pxtovw(10, 1660);
          margin-right: pxtovw(4, 1660);
          margin-bottom: pxtovw(4, 1660);
          font-size: pxtovw(17, 1660);
        }

        @include screen('lg', max, 2) {
          padding: 0 pxtovw(10, 1366);
          margin-right: pxtovw(4, 1366);
          margin-bottom: pxtovw(4, 1366);
          font-size: pxtovw(17, 1366);
        }

        @include screen('md', max, 2) {
          padding: 0 pxtovw(10, 960);
          margin-right: pxtovw(4, 960);
          margin-bottom: pxtovw(4, 960);
          font-size: pxtovw(17, 960);
        }

        @include screen('sm', max, 2) {
          padding: 0 pxtovw(10, 375);
          margin-right: pxtovw(4, 375);
          margin-bottom: pxtovw(4, 375);
          font-size: pxtovw(15, 375);
          line-height: (26 / 15);
        }

        &[data-deletable] {
          padding-right: 5px;

          @include screen('xlg', max, 2) {
            padding-right: pxtovw(5, 1660);
          }

          @include screen('lg', max, 2) {
            padding-right: pxtovw(5, 1366);
          }

          @include screen('md', max, 2) {
            padding-right: pxtovw(5, 960);
          }

          @include screen('sm', max, 2) {
            padding-right: pxtovw(5, 375);
          }
        }

        [dir='rtl'] & {
          margin-right: 0;
          margin-left: 4px;

          @include screen('xlg', max, 2) {
            margin-left: pxtovw(4, 1660);
          }

          @include screen('lg', max, 2) {
            margin-left: pxtovw(4, 1366);
          }

          @include screen('md', max, 2) {
            margin-left: pxtovw(4, 960);
          }

          @include screen('sm', max, 2) {
            margin-left: pxtovw(4, 375);
          }
        }

        &.is-hidghlighted {
          background-color: rgba($nd-color-bg, .8);
        }
      }
    }

    &--dropdown {
      position: absolute;
      z-index: 3;
      top: 0;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      pointer-events: none;
      touch-action: none;
      visibility: hidden;
      word-break: break-all;
      will-change: visibility;

      &.is-active {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        touch-action: auto;

        #{$b}__list {
          opacity: 1;
        }
      }

      #{$b}_popup & {
        @include screen('sm', max, 2) {
          background-color: $nd-color-basic-light;
          display: block;
        }
      }

      .is-flipped & {
        flex-direction: column-reverse;
        top: auto;
        bottom: 0;

        #{$b}_popup & {
          @include screen('sm', max, 2) {
            display: block;
          }
        }
      }

      #{$b}__item {
        position: relative;
        font-size: 18px;
        line-height: (26 / 18);
        font-weight: 400;
        color: $nd-color-basic;
        padding: 10px 15px;
        border-radius: 3px;

        @include screen('xlg', max, 2) {
          border-radius: pxtovw(3, 1660);
          font-size: pxtovw(18, 1660);
          padding: pxtovw(10, 1660) pxtovw(15, 1660);
        }

        @include screen('lg', max, 2) {
          border-radius: pxtovw(3, 1366);
          font-size: pxtovw(18, 1366);
          padding: pxtovw(10, 1366) pxtovw(15, 1366);
        }

        @include screen('md', max, 2) {
          border-radius: pxtovw(3, 960);
          font-size: pxtovw(18, 960);
          padding: pxtovw(10, 960) pxtovw(15, 960);
        }

        @include screen('sm', max, 2) {
          border-radius: pxtovw(3, 375);
          font-size: pxtovw(20, 375);
          line-height: (26 / 20);
          padding: pxtovw(13, 375) pxtovw(10, 375) pxtovw(12, 375);
        }

        &:not(:first-child) {
          @include rule(margin-top, (sm: 4));
        }

        [dir='rtl'] & {
          text-align: right;
        }

        &--selectable {
          transition: background $ease-main, color $ease-main;

          &:active, &:hover {
            background-color: $nd-color-main;
            color: $nd-color-basic-light;
          }

          &.is-highlighted {
            background-color: $nd-color-main;
            color: $nd-color-basic-light;
          }
        }

        #{$b}_h40 & {
          padding: 6px 11px;

          @include screen('xlg', max, 2) {
            padding: pxtovw(6, 1660) pxtovw(11, 1660);
          }

          @include screen('lg', max, 2) {
            padding: pxtovw(6, 1366) pxtovw(11, 1366);
          }

          @include screen('md', max, 2) {
            padding: pxtovw(6, 960) pxtovw(11, 960);
          }

          @include screen('sm', max, 2) {
            padding: pxtovw(13, 375) pxtovw(11, 375) pxtovw(12, 375);
          }
        }

        #{$b}_popup & {
          @include screen('sm', max, 2) {
            padding-left: pxtovw(28, 375);
            padding-right: pxtovw(28, 375);
          }
        }
      }

      #{$b}__list {
        position: relative;
        overflow: auto;
        max-height: 245px;
        box-sizing: border-box;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        background-color: $nd-color-basic-light;
        box-shadow: 0 2px 11px rgba(0, 0, 0, .09), 0 4px 19px rgba(0, 0, 0, .06);
        border-radius: 3px;
        margin-top: 6px;
        padding: 17px 3px 17px 5px;
        transition: opacity $ease-main;
        opacity: 0;

        @include screen('xlg', max, 2) {
          box-shadow: 0 pxtovw(2, 1660) pxtovw(11, 1660) rgba(0, 0, 0, .09), 0 pxtovw(4, 1660) pxtovw(19, 1660) rgba(0, 0, 0, .06);
          border-radius: pxtovw(3, 1660);
          margin-top: pxtovw(6, 1660);
          max-height: pxtovw(245, 1660);
          padding: pxtovw(17, 1660) pxtovw(3, 1660) pxtovw(17, 1660) pxtovw(5, 1660);
        }

        @include screen('lg', max, 2) {
          box-shadow: 0 pxtovw(2, 1366) pxtovw(11, 1366) rgba(0, 0, 0, .09), 0 pxtovw(4, 1366) pxtovw(19, 1366) rgba(0, 0, 0, .06);
          border-radius: pxtovw(3, 1366);
          margin-top: pxtovw(6, 1366);
          max-height: pxtovw(245, 1366);
          padding: pxtovw(17, 1366) pxtovw(3, 1366) pxtovw(17, 1366) pxtovw(5, 1366);
        }

        @include screen('md', max, 2) {
          box-shadow: 0 pxtovw(2, 960) pxtovw(11, 960) rgba(0, 0, 0, .09), 0 pxtovw(4, 960) pxtovw(19, 960) rgba(0, 0, 0, .06);
          border-radius: pxtovw(3, 960);
          margin-top: pxtovw(6, 960);
          max-height: pxtovw(245, 960);
          padding: pxtovw(17, 960) pxtovw(3, 960) pxtovw(17, 960) pxtovw(5, 960);
        }

        @include screen('sm', max, 2) {
          box-shadow: 0 pxtovw(2, 375) pxtovw(11, 375) rgba(0, 0, 0, .09), 0 pxtovw(4, 375) pxtovw(19, 375) rgba(0, 0, 0, .06);
          border-radius: pxtovw(3, 375);
          margin-top: pxtovw(6, 375);
          max-height: pxtovw(200, 375);
          padding: pxtovw(16, 375) pxtovw(5, 375) pxtovw(18, 375) pxtovw(5, 375);
        }

        .is-flipped & {
          margin-bottom: 6px;

          @include screen('xlg', max, 2) {
            margin-bottom: pxtovw(6, 1660);
          }

          @include screen('lg', max, 2) {
            margin-bottom: pxtovw(6, 1366);
          }

          @include screen('md', max, 2) {
            margin-bottom: pxtovw(6, 960);
          }

          @include screen('sm', max, 2) {
            margin-bottom: pxtovw(6, 375);
          }
        }

        #{$b}_popup & {
          @include screen('sm', max, 2) {
            border-radius: 0;
            box-shadow: none;
            margin-top: 0;
            box-sizing: border-box;
            max-height: 100%;
            margin-bottom: 0;
          }
        }
      }

      #{$b}__placeholder {
        display: none;
      }

      #{$b}.is-open-right & {
        right: 0;
      }

      #{$b}_white & {
        background-color: $nd-color-basic-light;
      }

      #{$b}_popup & {
        @include screen('sm', max, 2) {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-color: transparent;
          z-index: 8;
          background-color: $nd-color-basic-light;
          box-shadow: 0 0 0 0 transparent;
          border-radius: 0;
          padding-top: pxtovw(60, 375);
          box-sizing: border-box;
        }
      }
    }
  }

  &__item {
    cursor: default;

    &--selectable {
      cursor: pointer;
    }

    &--disabled {
      cursor: not-allowed;
      user-select: none;
      color: $nd-color-field-border;
    }
  }

  &__placeholder {
    opacity: 1;
    font-size: 17px;
    line-height: (26 / 17);
    font-weight: 400;
    color: $nd-color-placeholder;

    @include ellipsis(100%);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(17, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(17, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(17, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
      line-height: (26 / 15);
    }
  }

  &__input {
    position: relative;
    display: block;
    font-size: 17px;
    line-height: (26 / 17);
    border-bottom: 1px solid $nd-color-field-border;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    color: $nd-color-basic;
    font-weight: 400;
    padding: 14px 11px 8px;
    transition: border $ease-main, box-shadow $ease-main, visibility .02s linear, pointer-events .02s linear;
    min-height: 50px;
    visibility: hidden;
    pointer-events: none;
    cursor: text;

    @include screen('xlg', max, 2) {
      border-radius: pxtovw(3, 1660);
      font-size: pxtovw(17, 1660);
      padding: pxtovw(14, 1660) pxtovw(11, 1660) pxtovw(8, 1660);
      min-height: pxtovw(50, 1660);
    }

    @include screen('lg', max, 2) {
      border-radius: pxtovw(3, 1366);
      font-size: pxtovw(17, 1366);
      padding: pxtovw(14, 1366) pxtovw(11, 1366) pxtovw(8, 1366);
      min-height: pxtovw(50, 1366);
    }

    @include screen('md', max, 2) {
      border-radius: pxtovw(3, 960);
      font-size: pxtovw(17, 960);
      padding: pxtovw(14, 960) pxtovw(11, 960) pxtovw(8, 960);
      min-height: pxtovw(50, 960);
    }

    @include screen('sm', max, 2) {
      display: none;
      border-radius: pxtovw(3, 375);
      font-size: pxtovw(15, 375);
      line-height: (26 / 15);
      padding: pxtovw(9, 375) pxtovw(11, 375) pxtovw(3, 375);
      min-height: pxtovw(40, 375);
    }

    #{$b}_sm-h50 {
      @include screen('sm', max, 2) {
        font-size: pxtovw(17, 375);
        padding: pxtovw(14, 375) pxtovw(11, 375) pxtovw(8, 375);
        min-height: pxtovw(50, 375);
      }
    }

    #{$b}_h40 & {
      padding: 9px 11px 3px;
      min-height: 40px;

      @include screen('xlg', max, 2) {
        padding: pxtovw(9, 1660) pxtovw(11, 1660) pxtovw(3, 1660);
        min-height: pxtovw(40, 1660);
      }

      @include screen('lg', max, 2) {
        padding: pxtovw(9, 1366) pxtovw(11, 1366) pxtovw(3, 1366);
        min-height: pxtovw(40, 1366);
      }

      @include screen('md', max, 2) {
        padding: pxtovw(9, 960) pxtovw(11, 960) pxtovw(3, 960);
        min-height: pxtovw(40, 960);
      }

      @include screen('sm', max, 2) {
        padding: pxtovw(9, 375) pxtovw(11, 375) pxtovw(3, 375);
        min-height: pxtovw(40, 375);
      }
    }

    &:-ms-input-placeholder {
      color: $nd-color-placeholder;
      font-weight: 400;
    }

    &::placeholder {
      color: $nd-color-placeholder;
      font-weight: 400;
    }

    &:focus {
      outline: 0;
    }

    [dir='rtl'] & {
      right: auto;
      left: 0;
    }

    #{$b}.is-flipped & {
      border-bottom: none;
      border-top: 1px solid $nd-color-field-border;
    }

    #{$b}_popup &, #{$b}_popup.is-flipped & {
      @include screen('sm', max, 2) {
        padding-left: pxtovw(20, 375);
        padding-right: pxtovw(20, 375);
        border-top: none;
        border-bottom: 1px solid $nd-color-field-border;
        flex-direction: column;
      }
    }

    .is-active & {
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__heading {
    font-size: inherit;
    line-height: inherit;
    font-weight: 700;
    padding: 20px;
    border-bottom: 1px solid $nd-color-field-border;
    color: $nd-color-basic;

    @include screen('xlg', max, 2) {
      padding: pxtovw(20, 1660);
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(20, 1366);
    }

    @include screen('md', max, 2) {
      padding: pxtovw(20, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(20, 375);
    }
  }

  &__button {
    text-indent: -9999px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__header {
    display: none;
    color: $nd-color-basic;
    box-sizing: border-box;
    background-color: $nd-color-basic-light;
    z-index: 5;

    @include screen('sm', max, 2) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      padding: 0 pxtovw(55, 375);
      top: 0;
      left: 0;
      width: 100%;
      height: pxtovw(60, 375);
      border-bottom: 1px solid $nd-color-border5;
      z-index: 2;
    }

    &-title {
      font-family: $font-stolzl;
      font-weight: 400;
      user-select: none;

      @include screen('sm', max, 2) {
        font-size: pxtovw(17, 375);
        line-height: 1.2;
        font-weight: 400;
      }
    }
  }

  &__close {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    background-image: $icon-arrow-back;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 22px 11px;

    @include screen('sm', max, 2) {
      display: block;
      width: pxtovw(62, 375);
      height: pxtovw(60, 375);
      background-size: pxtovw(22, 375) pxtovw(11, 375);
    }
  }

  &.is-disabled #{$b} {
    &__inner, &__input {
      color: $nd-color-field-border;
      border-color: $nd-color-field-border;
      cursor: not-allowed;
      user-select: none;

      #{$b}_upload & {
        border-color: transparent;
      }
    }

    &__item {
      color: $nd-color-field-border;
      cursor: not-allowed;
    }
  }

  &.is-readonly {
    #{$b} {
      &__inner {
        &::before {
          opacity: .4;
        }
      }

      &::after {
        opacity: .4;
        fill: currentColor !important;
      }
    }
  }

  &_upload {
    #{$b} {
      &__list {
        &--single {
          #{$b}__placeholder, #{$b}__item {
            font-weight: 500;
            color: $nd-color-basic;
            line-height: (26 / 14);

            @include rule(font-size, (xl: 14px, xlg: 14, lg: 14, md: 14, sm: 14));
          }
        }
      }
    }
  }

  &_fltr {
    #{$b} {
      &__list {
        &--dropdown {
          #{$b}__placeholder {
            display: block;
          }
        }
      }
    }
  }
}
