mixin modal-output(data)
  +b.modal-output&attributes(attributes)
    +e.placeholder!=data.placeholder
    if data.default
      +e.values(data-modal-output-value data-sm-default-value=data.default)
    else
      +e.values(data-modal-output-value)
    +e.BUTTON.toggle(type="button")
      +icon('select-arrow2')(width="7" heigh="4")
    block

mixin modal-output-special(data)
  +b.modal-output_special&attributes(attributes)
    +e.content
      +e.placeholder!=data.placeholder
      if data.default
        +e.values(data-modal-output-value data-sm-default-value=data.default)
      else
        +e.values(data-modal-output-value)
    if data.clear
      +e.BUTTON.reset.js-reset-current-modal(type="reset")
        +icon('cross')(width="8" height="8")
    +e.BUTTON.toggle(type="button")
      +icon('select-arrow2')(width="7" heigh="4")
    block
