.avatar-uploader {
  $b: &;

  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-left: 130px;
  cursor: pointer;

  &__preview {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
  }

  &__content {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 0;
  }

  &__input {
    display: none;
  }

  &__name {
    @include heading-4;

    @include screen('sm') {
      @include text15;
    }
  }
}
