.nd-avatar-uploader {
  $b: &;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
  width: 100%;

  @include screen('sm', max, 2) {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &_vertical {
    flex-direction: column;
    justify-content: flex-start;
  }

  &_center {
    text-align: center;
    align-items: center;
  }

  &__preview {
    display: block;
    flex: none;

    .avatar {
      background-color: #dadada;
    }
  }

  &__content {
    display: block;
    cursor: pointer;

    @include screen('sm', max, 2) {
      width: 100%;
      text-align: center;
    }

    &:not(:first-child) {
      margin-left: 40px;

      @include screen('xlg', max, 2) {
        margin-left: pxtovw(40, 1660);
      }

      @include screen('lg', max, 2) {
        margin-left: pxtovw(30, 1366);
      }

      @include screen('md', max, 2) {
        margin-left: pxtovw(30, 960);
      }

      @include screen('sm', max, 2) {
        margin-left: 0;
        margin-top: pxtovw(43, 375);
      }

      #{$b}_vertical & {
        margin-left: 0;

        @include rule(margin-top, (xl: 36px, xlg: 36, lg: 36, md: 36, sm: 30));
      }
    }
  }

  &__input {
    display: none;
  }

  &__name {
    line-height: (19 / 16);
    font-family: $font-stolzl;
    letter-spacing: -.015em;

    @include rule(font-size, (xl: 16px, xlg: 16, lg: 16, md: 16, sm: 16));
  }

  &__remove {
    font-family: $font-stolzl;
    font-weight: 400;
    letter-spacing: -.015em;
    line-height: (14 / 12);

    @include rule(font-size, (xl: 12px, xlg: 12, lg: 12, md: 12, sm: 12));

    &:not(:first-child) {
      @include rule(margin-top, (xl: 80px, xlg: 80, lg: 80, md: 80, sm: 45));
    }
  }
}
