extends ../../layouts/default-login

block head
  - var pageTitle = 'SpacePool - System messaages 2'

block content
  +content-origin._reverse._last
    .container
      +e.wrapper
        +content-column-aside
        +content-column-main
          +dialog-origin
            +e.head_mg
              +e.date now
            +e.UL.list
              +e.LI.item_wide
                +notification()._white
                  +notification-header
                    +e.name You have reservation request:
                    +e.title_fz25._mt15 Please confirm Payment Summary
                  +notification-content._ptb0
                    +space-info-table
                      +e.TR.row
                        +e.TD.cell_head Space
                        +e.TD.cell_content
                          +short-space
                            +short-space-media._small
                              +e.IMG.image(src="assets/images/space5.jpg")
                            +short-space-content
                              +e.title Central Working - City
                      +e.TR.row
                        +e.TD.cell_head Offer
                        +e.TD.cell_content
                          +offer-info.__offer
                            +box._big._orange
                            +e.title._fz16 HOT DESK
                          +e.text 5th Floor Co-working area HOT desks
                      +e.TR.row
                        +e.TD.cell_head Date
                        +e.TD.cell_content
                          +e.text 19 December 2019
                      +e.TR.row
                        +e.TD.cell_head Duration
                        +e.TD.cell_content
                          +e.text 12 months
                  +notification-footer._noborder._pd40
                    +e.buttons_sps
                      +button()._border._border_bg-white._shorter._mob-smaller.__button Decline
                      +button()._shorter._mob-smaller.__button Open Payment Summary
              +e.LI.item_wide
                +notification()._white
                  +notification-header
                    +e.name You have reservation request:
                    +e.title_fz25._mt15 Please confirm Payment Summary
                  +notification-content._ptb0
                    +space-info-table
                      +e.TR.row
                        +e.TD.cell_head Space
                        +e.TD.cell_content
                          +short-space
                            +short-space-media._small
                              +e.IMG.image(src="assets/images/space5.jpg")
                            +short-space-content
                              +e.title Central Working - City
                      +e.TR.row
                        +e.TD.cell_head Offer
                        +e.TD.cell_content
                          +offer-info.__offer
                            +box._big._blue
                            +e.title._fz16 MEETING ROOM
                          +e.text 5th Floor Co-working area HOT desks
                      +e.TR.row
                        +e.TD.cell_head Date / Time
                        +e.TD.cell_content
                          +e.text 19 December 2019    14:30
                      +e.TR.row
                        +e.TD.cell_head Duration
                        +e.TD.cell_content
                          +e.text 1 hour 30 minutes
                  +notification-footer._noborder._pd40
                    +e.buttons_sps
                      +button()._border._border_bg-white._shorter._mob-smaller.__button Decline
                      +button()._shorter._mob-smaller.__button Open Payment Summary
              +e.LI.item_wide
                +notification()._bordered
                  +notification-header
                    +e.name You have reservation request:
                    +e.title_fz25._mt15 Please confirm Payment Summary
                  +notification-content._ptb0
                    +space-info-table
                      +e.TR.row
                        +e.TD.cell_head Space
                        +e.TD.cell_content
                          +short-space
                            +short-space-media._small
                              +e.IMG.image(src="assets/images/space5.jpg")
                            +short-space-content
                              +e.title Central Working - City
                      +e.TR.row
                        +e.TD.cell_head Offer
                        +e.TD.cell_content
                          +offer-info.__offer
                            +box._big._blue
                            +e.title._fz16 MEETING ROOM
                          +e.text 5th Floor Co-working area HOT desks
                      +e.TR.row
                        +e.TD.cell_head Date / Time
                        +e.TD.cell_content
                          +e.text 19 December 2019    14:30
                      +e.TR.row
                        +e.TD.cell_head Duration
                        +e.TD.cell_content
                          +e.text 1 hour 30 minutes
                  +notification-footer._noborder._pd40._tac
                    +state()._check._check_big._fz17._bold Payment Summary Confirmed

block panels
  +main-menu-inner
    +nav-list(getData('main-menu-user.json'))

block popups
  +popup-new-offer#popup-new-offer
  +popup-new-offer-g#popup-new-offer-g
