extends ../../layouts/default-login

block head
  - var pageTitle = 'SpacePool - System messaages 3'

block content
  +content-origin._reverse._last
    .container
      +e.wrapper
        +content-column-aside
        +content-column-main
          +dialog-origin
            +e.head_mg
              +e.date guest
            +e.UL.list
              +e.LI.item_wide
                +notification()._short._sys._sys_v2._white
                  +notification-head('', '', '', {name: 'Reminder', class: '_fz24'})._ai-center
                    +offer-info
                      +box._size16._orange
                      +e.title._fz13._dark2 HOT DESK
                  +notification-content
                    +notification-text._fz20._mt7 Your fixed price rent period is ending soon. The Host may contact you to review your rent.
                    +characteristics-table._wrap._fz16._dark._border_gray.__conditions_border-bottom._border-top
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 Fixed price period
                        +e.TD.cell_mh50._fw400._wrap._tal 12 months
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 Period end date
                        +e.TD.cell_mh50._fw400._wrap._tal 13.02.2020
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 Time left
                        +e.TD.cell_mh50._fw400._wrap._tal 3 months
                    +notification-text._fz14._fz14_v2 You don’t need to do anything at this stage, if the Host decides to review your rent we will let you know in advance.
              +e.LI.item_wide
                +notification()._short._sys._sys_v2._white
                  +notification-head('', '', '', {name: 'Rent review notification', class: '_fz24'})._bordered._ai-center
                    +offer-info
                      +box._size16._orange
                      +e.title._fz13._dark2 HOT DESK
                  +notification-content
                    +notification-text._fz20._mt12 Your fixed price rent period is ending soon. / has ended. The Host has reviewed your rental terms. Please see the details below:
                    +characteristics-table._wrap._fz16._dark._border_gray.__conditions_border-bottom._sm-mg
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 New period
                        +e.TD.cell_mh50._fw400._wrap._tal
                          +time-origin
                            +time-text 27.01.2020
                            +time-arrow._w24
                            +time-text 27.01.2021
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 Current price
                        +e.TD.cell_mh50._wrap._tal &pound; 590.00
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 New price
                        +e.TD.cell_mh50._wrap._tal &pound; 690.00
                    +notification-text._fz14._fz14_v2
                      p New rent will be collected on or shortly after 01.03.2020
                      p Please note that if you cancel your current contract, before the new period starts your notice period will be subject to your current rent.
                      p If you don’t agree with the Host on the new terms, you can <a href="#popup-cancelation-contract" class="js-popup-top"><b>cancel this contract</b></a>
            +e.head_mg
              +e.date host
            +e.UL.list
              +e.LI.item_wide
                +notification()._short._sys._sys_v2._white
                  +notification-head('', '', '', {name: 'Reminder', class: '_fz24'})._ai-center
                    +offer-info
                      +box._size16._orange
                      +e.title._fz13._dark2 HOT DESK
                  +notification-content
                    +notification-text._fz20._mt7 Fixed price rent period for this deal is ending soon. Rent review option is now available.
                    +characteristics-table._wrap._fz16._dark._border_gray.__conditions_border-bottom._border-top
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 Fixed price period
                        +e.TD.cell_mh50._fw400._wrap._tal 12 months
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 Period end date
                        +e.TD.cell_mh50._fw400._wrap._tal 13.02.2020
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 Time left
                        +e.TD.cell_mh50._fw400._wrap._tal 3.5 months
                    +notification-text._fz14._fz14_v2 This is totally optional, you can close this reminder and decide later, the deal will roll on existing terms. If you decide to review the rent now, please note the price will be fixed for the new term.
                    +e.buttons_center
                      +button()._shorter.__button_wide.js-popup(href="#popup-new-offer-v2") Review now
              +e.LI.item_wide
                +notification()._short._sys._sys_v2._white
                  +notification-head('', '', '', {name: 'New rent submitted', class: '_fz24'})._bordered._ai-center
                    +offer-info
                      +box._size16._orange
                      +e.title._fz13._dark2 HOT DESK
                  +notification-content
                    +notification-text._fz20._mt12 You have successfully changed rent for the new term. Guest has been notified with the following details.
                    +characteristics-table._wrap._fz16._dark._border_gray.__conditions_mt28._mb0
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 New period
                        +e.TD.cell_mh50._fw400._wrap._tal
                          +time-origin
                            +time-text 27.01.2020
                            +time-arrow._w24
                            +time-text 27.01.2021
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 Current price
                        +e.TD.cell_mh50._wrap._tal &pound; 590.00
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 New price
                        +e.TD.cell_mh50._wrap._tal &pound; 690.00
                    +e.buttons_center
                      +button()._shorter.__button_mw264(href="#") Edit offer
                    +notification-text._fz14._fz14_v2._tac
                      p This offer is editable till 20.12.2019
            +e.head_mg
              +e.date common
            +e.UL.list
              +e.LI.item_wide
                +notification()._short._sys._sys_v2._white
                  +notification-head('', '', '', {name: 'New tenancy period', class: '_fz24'})._ai-center
                    +offer-info
                      +box._size16._orange
                      +e.title._fz13._dark2 HOT DESK
                  +notification-content
                    +notification-text._fz20._mt18 Due to the fact that the previous fixed price period ended, the lease terms may have changed:
                    +characteristics-table._wrap._fz16._dark._border_gray.__conditions_border-bottom._mg12
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 New period
                        +e.TD.cell_mh50._fw400._wrap._tal
                          +time-origin
                            +time-text 27.01.2020
                            +time-arrow._w24
                            +time-text 27.01.2021
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 Previous price
                        +e.TD.cell_mh50._wrap._tal &pound; 590.00
                      +e.TR.row
                        +e.TD.cell_mh50._mw180 Current price
                        +e.TD.cell_mh50._wrap._tal &pound; 690.00
                    +notification-text._fz14._fz14_v2 Changes in the terms of the lease will come into effect with the first invoice, after the beginning of the new lease period.
                    +link._underline._bold.__link_fz16._mt20(href="#") Open Payment Summary

block panels
  +main-menu-inner
    +nav-list(getData('main-menu-user.json'))

block popups
  +popup-new-offer-v2#popup-new-offer-v2
  +popup-cancelation-contract-unsigned#popup-cancelation-contract-unsigned
  +popup-cancelation-contract#popup-cancelation-contract
