.factor {
  $b: &;

  @include text16;

  display: inline-flex;
  line-height: 16px;
  background-color: $color-basic;
  font-weight: 700;
  color: $color-factor;
  box-sizing: border-box;
  padding: 0 5px 0 4px;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-self: center;
  min-width: 30px;

  &__digit {
    @include text;

    line-height: 18px;
    color: $color-white;
  }
}
