extends ../../layouts/default-login-host

block head
  - var pageTitle = 'SpacePool - HOST Reservations'

block header
  -var headerClass = '_border'

block content
  +content-origin._reverse._last
    .container
      +e.wrapper
        +content-column-aside._ptop.hide-lg
          +side-navigation('Change your personal info, password and notification options here')
            +nav-list-sidebar(getData('side-menu-host.json'), 'Reservations').__navigation
        +content-column-main
          +section._inner._inner_ssmg
            +section-header._flex
              +section-title('h3') Today
            +section-content
              +table-head._messages.hide-md
                +e.wrapper
                  +e.cell_req-sub
                    +e.name Request for
                  +e.cell_req-info
                    +e.name Request Details and Status
              +request-full('4', '2', '730', 'buttons')
              +request-full('4', '2', '730', 'wait')
          +section._inner._inner_gmg
            +section-header._flex._smg
              +section-title('h3') Upcoming
            +section-content
              +request-full('1', '1', '455', 'buttons')
              +request-full('3', '2', '730', 'buttons')
              +request-full('4', '2', '730', 'accept')
              +request-full('4', '2', '730', 'decline')
              +request-full('2', '2', '730', 'accept')
              +request-full('1', '2', '730', 'accept')
          +pagination._negative-mgt

block panels
  +main-menu-inner
    +nav-list(getData('main-menu-host.json'))
