extends ../../layouts/default-login-host

block head
  - var pageTitle = 'SpacePool - HOST Reservations'

block header
  -var headerClass = ''

block content
  - var requests = getData('host-requsts.json')
  +content-origin._reverse._last
    .container
      +e.wrapper
        +content-column-aside._ptop.hide-lg
          +side-navigation('Change your personal info, password and notification options here')
            +nav-list-sidebar(getData('side-menu-host.json'), 'Reservations').__navigation
        +content-column-main._ptp34
          +filter-reservations
          +table-head._messages._messages_gr.hide-md
            +e.wrapper
              +e.cell_req-prop
                +e.name Property and offer
              +e.cell_req-info
                +e.name Details
              +e.cell_req-info._tar
                +e.name Status
          +section._inner._inner_ssmg
            +section-content
              each item in requests
                +request-full-new(item)
          +pagination._mgt80._sm-centered

block panels
  +main-menu-inner
    +nav-list(getData('main-menu-host.json'))
