.user-link {
  $b: &;

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  @include screen('sm') {
    width: 24px;
    height: 24px;
  }

  &.nd-user-link {
    min-width: 28px;
    width: 28px;
    height: 25px;

    @include screen('lg', max, 2) {
      min-width: pxtovw(23, 1366);
      width: pxtovw(23, 1366);
      height: pxtovw(20, 1366);
    }

    @include screen('md', max, 2) {
      min-width: pxtovw(23, 960);
      width: pxtovw(23, 960);
      height: pxtovw(20, 960);
    }

    @include screen('sm', max, 2) {
      min-width: pxtovw(23, 375);
      width: pxtovw(23, 375);
      height: pxtovw(20, 375);
    }
  }

  &__icon {
    display: block;
    min-width: 28px;
    width: 28px;
    height: 26px;
    fill: $color-basic;
    font-size: 0;
    line-height: 0;
    transition: fill $ease-main;

    @include screen('sm') {
      min-width: 20px;
      width: 20px;
      height: 20px;
    }

    #{$b}.nd-user-link & {
      width: 100%;
      height: 100%;
      fill: $nd-color-basic;
    }

    #{$b}:hover & {
      fill: $color-basic-dark;
    }

    #{$b}.is-active & {
      fill: $color-user-link-active;

      &:hover {
        fill: $color-user-link-active;
      }
    }
  }

  &__marker {
    position: absolute;
    top: 3px;
    right: -3px;
    width: 8px;
    height: 8px;
    background-color: $color-red;
    border-radius: 50%;
    opacity: 0;
    transition: opacity $ease-main;

    @include screen('sm') {
      top: 2px;
      right: 1px;
      width: 6px;
      height: 6px;
    }

    #{$b}.nd-user-link & {
      width: 9px;
      height: 9px;
      top: 50%;
      right: -4px;
      background-color: $nd-color-fixeddesk;
      transform: translate3d(0, -50%, 0);

      @include screen('lg', max, 2) {
        width: pxtovw(7, 1366);
        height: pxtovw(7, 1366);
        right: pxtovw(-4, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(7, 960);
        height: pxtovw(7, 960);
        right: pxtovw(-4, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(7, 375);
        height: pxtovw(7, 375);
        right: pxtovw(-4, 375);
      }
    }

    #{$b}.is-new & {
      opacity: 1;
    }

    #{$b}.is-active & {
      opacity: 0;
    }
  }
}
