.user-link {
  $b: &;

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: none;

  @include rule(width, (xl: 28px, xlg: 28, lg: 23, md: 23, sm: 23));
  @include rule(height, (xl: 25px, xlg: 25, lg: 20, md: 20, sm: 20));

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    fill: $nd-color-basic;
    font-size: 0;
    line-height: 0;
    transition: fill $ease-main;

    path {
      transition: fill $ease-main;

      #{$b}:hover & {
        fill: $nd-color-main;
      }

      .is-active & {
        fill: $nd-color-main;
      }
    }
  }

  &__marker {
    position: absolute;
    top: 50%;
    background-color: $nd-color-fixeddesk;
    border-radius: 50%;
    opacity: 0;
    transition: opacity $ease-main;
    transform: translate3d(0, -50%, 0);

    @include rule(width, (xl: 9px, xlg: 9, lg: 7, md: 7, sm: 7));
    @include rule(height, (xl: 9px, xlg: 9, lg: 7, md: 7, sm: 7));
    @include rule(right, (xl: -4px, xlg: -4, lg: -4, md: -4, sm: -4));

    .is-new & {
      opacity: 1;
    }

    .is-active & {
      opacity: 0;
    }
  }
}
