mixin user-link(ico, classIco, marker)
  - var addClass = classIco || '';
  - var marker = marker ? ' is-new' : '';
  +b.A.user-link&attributes(attributes)(class=marker)
    +icon(ico)(class="__icon " + addClass)
    +e.marker
