mixin contract-status(data)
  +b.contract-status&attributes(attributes)
    if data.title
      +e.H3.title!= data.title
    if data.arrow
      +e.arrow
        +icon('long-arrow').arrow-icon
    if data.explanation
      +e.explanation!= data.explanation
    if data.stage0
      +e.table
        +e.row
          +e.cell_head Status
          +e.cell!= data.stage0.status
        +e.row
          +e.cell_head Last activity
          +e.cell!= data.stage0.last
        +e.row
          +e.cell_head Contract is active till
          +e.cell!= data.stage0.till
      +e.A.link(href="#")
        +icon('rules').__icon_document
        +e.text Download contract PDF
        +icon('download').__icon_arrow
    if data.stage1
      +e.table
        +e.row
          +e.cell_head Status
          +e.cell
            +state()._check.__state!= data.stage1.status
        +e.row
          +e.cell_head Last activity
          +e.cell!= data.stage1.last
        +e.row
          +e.cell_head Contract is active till
          +e.cell!= data.stage1.till
      +e.A.link(href="#")
        +icon('rules').__icon_document
        +e.text Download contract PDF
        +icon('download').__icon_arrow
    if data.stage2
      +e.table
        +e.row
          +e.cell_head Status
          +e.cell
            +state()._dcheck.__state!= data.stage2.status
        +e.row
          +e.cell_head Last activity
          +e.cell!= data.stage2.last
        +e.row
          +e.cell_head Contract is active till
          +e.cell!= data.stage2.till
      +e.A.link(href="#")
        +icon('rules').__icon_document
        +e.text Download contract PDF
        +icon('download').__icon_arrow
      +link()(href="#")._gray-dark._underline.__terminate Terminate the contract
    if data.agrstage1
      +e.FORM.__form
        +e.line
          +b.LABEL.checkbox_white._fz17._top
            +e.INPUT.input(name="agree" value="1" type="checkbox" data-checker="agreement" checked)
            +e.SPAN.box
              +icon('check').__icon
            +e.SPAN.content A have read and agree with House Rules.
        +e.line(data-checker-target="agreement" data-form-element="agreement")
          +button('button')(type="submit")._short.__button_wide Continue
    if data.agrstage2
      +e.table
        +e.row
          +e.cell_head!= data.agrstage2.name
          +e.cell
            +state()._check.__state!= data.agrstage2.status
    block
