.contract-status {
  $b: &;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: $color-hint-bg;
  box-shadow: 0 0 8px rgba(34, 42, 46, .11);
  box-sizing: border-box;
  padding: 26px 40px 52px;
  color: $color-white;
  height: 378px;

  @include screen('lg') {
    padding: 26px 20px 52px;
  }

  @include screen('md') {
    padding: 24px 40px 52px;
    height: auto;
  }

  @include screen('sm') {
    padding: 13px 18px 32px;
  }

  &__arrow {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 22px;
    overflow: hidden;
    margin-top: auto;

    &-icon {
      position: absolute;
      top: 0;
      left: 0;
      fill: $color-yellow;
      height: 22px;
      width: 228px;
      transform-origin: 50% 50%;
      transform: rotate(180deg);
    }
  }

  &__title {
    @include heading-3;

    line-height: (39 / 25);
    font-weight: 700;
    color: $color-white;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__explanation {
    @include text-big;

    font-weight: 400;
    line-height: 1.35;

    &:not(:first-child) {
      margin-top: 52px;
    }
  }

  &__table {
    display: block;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 49px;

      @include screen('sm') {
        margin-bottom: 30px;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    border-bottom: 1px solid $color-border-state;
    padding: 4px 0;
    flex-wrap: wrap;

    @include screen('md') {
      justify-content: flex-start;
      border-bottom: none;
    }

    &:not(:last-child) {
      margin-bottom: 14px;

      @include screen('sm') {
        margin-bottom: 6px;
      }
    }
  }

  &__cell {
    @include text-mid;

    line-height: 1.2;
    font-weight: 400;
    margin-left: auto;

    @include screen('md') {
      margin-left: 0;
      font-weight: 700;
    }

    @include screen('sm') {
      @include text15;

      line-height: 1.2;
      letter-spacing: -.03em;
    }

    &_head {
      font-weight: 700;
      margin-left: 0;

      @include screen('md') {
        font-weight: 400;
        color: $color-state-light;
      }
    }

    &:not(:last-child) {
      margin-right: 20px;

      @include screen('md') {
        margin-right: 10px;
      }

      @include screen('sm') {
        margin-right: 6px;
      }
    }

    .state {
      @include text-mid;

      line-height: 1.2;
      font-weight: 400;
      color: currentColor;
      padding-left: 27px;

      @include screen('md') {
        font-weight: 700;
      }

      @include screen('sm') {
        @include text15;

        line-height: 1.2;
        padding-left: 18px;
      }
    }
  }

  &__link {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: $color-white;
    overflow: hidden;
    max-width: 100%;

    #{$b}__text {
      font-weight: 400;
      border-bottom: 1px solid currentColor;
      transition: opacity $ease-main;
      margin: 0 12px 0 21px;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: calc(100% - 80px);
      overflow: hidden;

      @include screen('sm') {
        font-weight: 700;
        margin: 0 15px 0 9px;
        max-width: calc(100% - 40px);
      }
    }

    &:not(:last-child) {
      margin-bottom: 10px;

      @include screen('md') {
        margin-bottom: 40px;
      }
    }

    &:hover #{$b}__text {
      opacity: .7;
    }
  }

  &__text {
    @include text-mid;

    line-height: 1.2;

    @include screen('sm') {
      @include text15;

      line-height: 1.2;
    }
  }

  &__icon {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 15px;
    height: 15px;

    &_document {
      width: 34px;
      height: 43px;
      fill: url('#form-gradient3');

      @include screen('sm') {
        width: 16px;
        height: 20px;
      }
    }

    &_arrow {
      width: 13px;
      height: 13px;
      fill: currentColor;
    }
  }

  &__terminate {
    @include text;

    line-height: 1.2;
    position: absolute;
    max-width: calc(100% - 80px);
    left: 40px;
    bottom: 24px;
    margin-top: auto;
    letter-spacing: -0.02em;

    @include screen('lg') {
      left: 20px;
    }

    @include screen('md') {
      position: static;
      left: auto;
      bottom: auto;
    }

    @include screen('sm') {
      @include text12;

      line-height: 1.2;
      max-width: calc(100% - 36px);
      margin-top: 0;
    }
  }
}
