mixin transport-table()
  +b.TABLE.table.transport-table__&attributes(attributes)
    tbody
      +e.TR.row
        +e.TD.cell_head
          +transport-type('Chancery Lane')
            +e.icons
              +icon('metro').__icon_metro(style="fill: #e24d25")
        +e.TD.cell_content
          +travel-time('5 min', 'man', '_man')
      +e.TR.row
        +e.TD.cell_head
          +transport-type('Great Portland Street')
            +e.icons
              +icon('metro').__icon_metro(style="fill: #9b0158")
              +icon('metro').__icon_metro(style="fill: #fed201")
              +icon('metro').__icon_metro(style="fill: #f087a3")
        +e.TD.cell_content
          +travel-time('25 min', 'man', '_man')
      +e.TR.row
        +e.TD.cell_head
          +transport-type('Haymarket / Jermyn Street')._bus
            +e.icons
              +icon('bus').__icon_bus
            +e.UL.numbers
              li 6
              li 20
              li N53
              li N15
              li N113
        +e.TD.cell_content
          +travel-time('25 min', 'man', '_man')
      +e.TR.row
        +e.TD.cell_head
          +transport-type('Heathrow airport')._airplane
            +e.icons
              +icon('airplane').__icon_airplane
        +e.TD.cell_content
          +travel-time('44 - 80 min', 'car', '_car')


mixin nd-transport-table()
  +b.TABLE.transport-table__&attributes(attributes)
    tbody
      +e.TR.row
        +e.TD.cell_head
          +transport-type-origin()
            +e.icons
              +e.IMG.icon_subway(src="assets/images/nd/nd-subway.svg")
            +e.name Liverpool Street
        +e.TD.cell_content
          +travel-time('10 min', 'man', '_man')._bold
      +e.TR.row
        +e.TD.cell_head
          +transport-type-origin()
            +e.icons
              +e.IMG.icon_bus(src="assets/images/nd/nd-bus.svg")
            +e.name Shoreditch High Street Station
        +e.TD.cell_content
          +travel-time('10 min', 'man', '_man')._bold
      +e.TR.row
        +e.TD.cell_head
          +transport-type-origin()
            +e.icons
              +e.IMG.icon_plane(src="assets/images/nd/nd-plane.svg")
            +e.name City
        +e.TD.cell_content
          +travel-time('10 min', 'car', '_car')._bold
      +e.TR.row
        +e.TD.cell_head
          +transport-type-origin()
            +e.icons
              +e.IMG.icon_plane(src="assets/images/nd/nd-plane.svg")
            +e.name Standsted
        +e.TD.cell_content
          +travel-time('10 min', 'car', '_car')._bold
      +e.TR.row
        +e.TD.cell_head
          +transport-type-origin()
            +e.icons
              +e.IMG.icon_plane(src="assets/images/nd/nd-plane.svg")
            +e.name Heathrow
        +e.TD.cell_content
          +travel-time('10 min', 'car', '_car')._bold
      +e.TR.row
        +e.TD.cell_head
          +transport-type-origin()
            +e.icons
              +e.IMG.icon_plane(src="assets/images/nd/nd-plane.svg")
            +e.name Heathrow
        +e.TD.cell_content
          +travel-time('10 min', 'car', '_car')._bold
