extends ../../layouts/default

block head
  - var pageTitle = 'Space Pool - Space'

block content
  //- +banner
  //- +breadcrumbs-box
  //- +content
  //- .slider-indexBox
  //-   .container.container_slider
  //-     h3.slider-title You may also like spaces around
  //-       span.slider-title_span Kensington
