extends ../../layouts/default

block head
  - var pageTitle = 'Space Pool - Space'

block content
  - var spaces = getData('spaces-around.json')
  +lead
  +banner
  +breadcrumbs-box.hide-sm
  +content
  +section
    +section-header
      .container
        +section-title('h3') You may also like spaces around
          +e.EM Kensington
    +section-content
      +slider(true, false)._sm-btn-hide.js-slider-spaces-inner
          each item in spaces
            +slide
              +space(item)(href="#")
