{
  "presets": [
    ["@babel/preset-env", {
      "modules": "auto",
      "loose": true,
      "corejs": 3,
      "targets": {
        "browsers": ["last 2 versions", "ie >= 11", "iOS >= 11"]
      },
      "useBuiltIns": "entry"
    }]
  ]
}
