mixin space-gallery()
  +b.space-gallery&attributes(attributes)
    +e.wrapper.nd-hide-sm
      +e.PICTURE.image_big
        source(srcset='assets/images/nd/space31.jpg')
        img(src='assets/images/nd/space31.jpg')
      +e.PICTURE.image_small._small_top
        source(srcset='assets/images/nd/space32.jpg')
        img(src='assets/images/nd/space32.jpg')
      +e.PICTURE.image_small._small_bottom
        source(srcset='assets/images/nd/space33.jpg')
        img(src='assets/images/nd/space33.jpg')
      +nd-button._pad10._h22._fz13.__button.js-fancygallery(data-targets='space-gallery' type="button") View gallery
      +nd-link().__hidden-images(href='assets/images/nd/space-hq-31.jpg' data-target='space-gallery' hidden)
      +nd-link().__hidden-images(href='assets/images/nd/space-hq-32.jpg' data-target='space-gallery' hidden)
      +nd-link().__hidden-images(href='assets/images/nd/space-hq-33.jpg' data-target='space-gallery' hidden)
    +e.wrapper.nd-hide-from-sm
      +gallery({
        images: ["assets/images/nd/space31.jpg", "assets/images/nd/space32.jpg", "assets/images/nd/space33.jpg"],
        buttons: true,
        buttonsClass: "_small"
      }).js-nd-gallery
    block
