.footnote-star {
  $b: &;

  @include heading-3;

  display: inline-block;
  font-weight: 700;
  line-height: (26/25);
  color: $color-footnote-star;

  @include screen('sm') {
    @include heading-4;
  }
}
