.offer-description {
  $b: &;

  display: block;
  width: 100%;
  box-sizing: border-box;

  .gray {
    color: $nd-color-gray-text;
  }

  @include rule(margin-top, (sm: -37));

  &__subtitle {
    display: block;
    width: 100%;
    font-weight: 600;
    letter-spacing: normal;
    line-height: normal;

    @include rule(font-size, (xl: 14px, xlg: 14, lg: 14, md: 14, sm: 14));
  }

  &__text {
    display: block;
    width: 100%;
    letter-spacing: normal;
    line-height: 1.75;

    @include rule(font-size, (xl: 15px, xlg: 15, lg: 15, md: 13, sm: 15));
  }

  &__media {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 65.8%;

    @include rule(border-radius, (xl: 3px, xlg: 3, lg: 3, md: 3, sm: 3));

    @include screen('lg', max, 2) {
      padding-top: 65.49%;
    }

    @include screen('sm', max, 2) {
      padding-top: 63.28%;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 18px, xlg: 18, lg: 15, md: 15, sm: 20));
    }
  }

  &__media-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      @include fill-img;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 54.5% 45.5%;
    grid-template-rows: repeat(4, auto);

    @include screen('lg', max, 2) {
      grid-template-columns: 1fr pxtovw(194,1366);
      grid-template-rows: repeat(4, auto);
    }

    @include screen('md', max, 2) {
      grid-template-columns: 1fr pxtovw(194, 960);
      grid-template-rows: repeat(4, auto);
    }

    @include screen('sm', max, 2) {
      grid-template-columns: 100%;
      grid-template-rows: repeat(5, auto);
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 46px, xlg: 46, lg: 30, md: 21, sm: 18));
    }
  }

  &__image {
    display: block;
    width: 100%;
    line-height: 0;
    font-size: 0;

    img {
      width: 100%;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 30px, xlg: 30, lg: 30, md: 20, sm: 20));
    }
  }

  &__header {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-content: flex-start;
    flex-wrap: wrap;

    @include screen('sm', max, 2) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &__type {
    width: 100%;
    font-weight: 700;
    letter-spacing: normal;
    font-family: $font-main;

    @include rule(font-size, (xl: 12px, xlg: 12, lg: 12, md: 12, sm: 12));
  }

  &__price {
    display: block;
    font-weight: 600;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: right;

    @include rule(font-size, (xl: 20px, xlg: 20, lg: 20, md: 16, sm: 20));

    @include screen('sm', max, 2) {
      display: none;
    }
  }

  &__title {
    display: block;
    font-family: $font-stolzl;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: normal;

    @include rule(font-size, (xl: 26px, xlg: 26, lg: 24, md: 18, sm: 20));

    &_fz20 {
      @include rule(font-size, (xl: 20px, xlg: 20, lg: 20, md: 16, sm: 20));
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 18px, xlg: 18, lg: 18, md: 18, sm: 8));
    }
  }

  .styled-list {
    @include rule(font-size, (xl: 15px, xlg: 15, lg: 15, md: 13, sm: 16));

    letter-spacing: normal;
  }

  &__table {
    @include rule(margin-top, (lg: 30, md: 20, sm: 20));
  }

  &__section {
    display: block;
    width: 100%;
    box-sizing: border-box;

    &_describe {
      @include rule(padding-right, (xl: 45px, xlg: 45, lg: 0));

      grid-column: 1 / 2;
      grid-row: 2 / 3;
      border-right: 1px solid $nd-color-border6;

      @include screen('lg', max, 2) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        border-right: none;
      }

      @include screen('sm', max, 2) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }

      &:not(:first-child) {
        @include rule(margin-top, (xl: 50px, xlg: 50, lg: 35, md: 28, sm: 38));
      }
    }

    &_table {
      @include rule(padding-left, (xl: 50px, xlg: 50, lg: 0));
      @include rule(padding-right, (lg: 72, md: 64, sm: 0));

      grid-column: 2 / 3;
      grid-row: 2 / 3;

      @include screen('lg', max, 2) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }

      @include screen('sm', max, 2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      &:not(:first-child) {
        @include rule(margin-top, (xl: 50px, xlg: 50, lg: 55, md: 48, sm: 7));
      }
    }

    &_list {
      @include rule(padding-left, (xl: 50px, xlg: 50, lg: 0));
      @include rule(padding-right, (lg: 72, md: 64, sm: 0));

      grid-column: 2 / 3;
      grid-row: 3 / 5;

      @include screen('lg', max, 2) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      }

      @include screen('sm', max, 2) {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
      }

      &:not(:first-child) {
        @include rule(margin-top, (xl: 18px, xlg: 18, lg: 40, md: 47, sm: 92));
      }
    }

    &_plan {
      @include rule(padding-right, (xl: 45px, xlg: 45, lg: 0));

      border-right: 1px solid $nd-color-border6;
      grid-column: 1 / 2;
      grid-row: 4 / 5;

      @include screen('lg', max, 2) {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
        border-right: none;
      }

      @include screen('sm', max, 2) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      }

      #{$b}__image {
        border: 1px solid $nd-layout-scroll;
        @include rule(border-radius, (xl: 3px, xlg: 3, lg: 3, md: 3, sm: 3));

        @include screen('sm', max, 2) {
          border: none;
        }
      }

      &:not(:first-child) {
        @include rule(padding-top, (xl: 38px, xlg: 38, lg: 0));
        @include rule(margin-top, (xl: 0px, xlg: 0, lg: 55, md: 48, sm: 12));
      }
    }
  }
}
