mixin offer-description()
  +b.offer-description&attributes(attributes)
    +offer-description-panel().nd-hide-sm(data-offer-panel-indicator)
      +e.BUTTON.close.js-layout-close(data-layout-close-target="offer" type="button")
        +icon('arrow5').__back
        +icon('cross').__cross
      +e.buttons
        +nd-button._pad10._black.__button.js-nd-arrange-viewing(href="#nd-popup-arrange-viewing" data-min-date="2021-15-4" data-max-date="2021-20-8") Arrange viewing
        +nd-button._pad10.__button(href="#") Request reservation
    +e.P.subtitle.nd-hide-from-sm
      SPAN.gray Space:
      SPAN House of Creative - 320 Angel
    +e.media
      +e.PICTURE.media-image
        source(src="assets/images/nd/space30.jpg" srcset="assets/images/nd/space30.jpg")
        img(src="assets/images/nd/space30.jpg")
    +e.SECTION.content
      +e.header
        +space-type._gray._fz12.__type
          +nd-box()._green.__box_sz9
          +e.name PRIVATE OFFICE
        +e.H3.title 13 desks office space
        +e.price £ 2,400 per month
      +e.SECTION.section_describe
        +e.text Perfectly located on Shoreditch High Street, alongside three of our other buildings, 229 offers 12 private offices, meeting rooms, large board room and a perfect breakout/kitchen space and rooftop. House of Creative has been around for 8 years so we know what our client's needs are. We keep our pricing low and offer and all in service to make life easy for you.
      +e.SECTION.section_table
        +e.H4.title_fz20.nd-hide-sm.nd-hide-from-lg Listing data
        +nd-table._info._info_space._info_space-v2.__table
          tbody
            tr
              td Amount of desks
              td 12
            tr
              td Floor area
              td 257 ft<sup>2</sup>
            tr
              td Min. term
              td 1 month
            tr.nd-hide-from-sm
              td Price
              td
                b £ 2,400 per month
      +e.SECTION.section_list
        +styled-list
          li Super fast Wifi
          li Community events
          li Mail handling
          li Barista coffee
      +e.SECTION.section_plan
        +e.H4.title_fz20.nd-hide-sm Floor plan
        +e.PICTURE.image
          source(src="assets/images/nd/floor-plan2.jpg" srcset="assets/images/nd/floor-plan2.jpg")
          img(src="assets/images/nd/floor-plan2.jpg")

    block
