extends ../../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Host Account - Spaces'

block bodyClasses
  - var bodyCls = ' is-sm-noheader is-sm-no-userpanel';
  - var isNoFooter = true
  - var scripts = ['other']

block header
  - var headerClass = ' is-login'
  - var pageClass = ''
  - var isMap = false
  - var host = true

block content
  +nd-page-header._grid
    .nd-container
      +nd-page-header-side
        +nd-link-icon('arrow5')._back._back_md21.__back_md-noname.__back.nd-hide-from-md Back
      +nd-page-header-main
        - var menuList = getData('sideNavProfileHost.json').menu;
        +e.mb-menu.nd-hide-from-md
          +slider-navigation(menuList, 0, 'Spaces')

  +nd-content
    .nd-container
      +nd-content-aside
        +sidebar-nosticky.nd-sidebar.nd-hide-md
          - var nav = getData('sideNavProfileHost.json')
          +nd-side-navigation(nav, 'Spaces')._profile._profile_ha

      +nd-content-main
        +nd-section
          +nd-section-header._fx._md-pg-head
            +nd-section-title._fz24.nd-hide-md Spaces
            +e.menu
              +filtration.__filtration_md
                +e.label.nd-hide-from-md.nd-hide-sm Show
                +drop-navigation({title: 'Spaces', list: [{name: "All spaces", href: "#"}, {name: "Active spaces only", href: "#"}]}, 0, 'All spaces')._md.__select.js-offer-select
              +nd-button('a')._pad10._h35.__add_mw180._ml56(href="#") Add space
          - var spaces = getData('nd-ha-spaces.json')
          +records.__records_mt40
            each space in spaces
              +space-settings(space).__item_mt40

block panels

block popups
