mixin blog-news(data)
  +b.A.blog-news&attributes(attributes)
    +e.TIME.time(datetime=data.date.iso)!=data.date.text
    +e.title!=data.title
    +e.media
      +e.IMG.image(src=data.src)
      +e.forward Read more...
        +icon('arrow2').icon_arrow
    +e.text!= data.text
