.blog-news {
  $b: &;

  display: block;
  width: 100%;
  text-decoration: none;
  color: $color-basic;
  cursor: pointer;

  &__time {
    @include text15;

    font-weight: 400;
    display: block;
    color: $color-basic-light;

    @include screen('sm') {
      @include text;

      line-height: (26/14);
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @include screen('sm') {
        margin-bottom: 15px;
      }
    }
  }

  &__title {
    @include heading-2;

    display: block;
    line-height: (39/40);
    font-weight: 700;
    width: 100%;
    transition: color $ease-main;

    @include screen('xl') {
      @include heading-1-sm;

      line-height: 1.2;
    }

    @include screen('sm') {
      @include heading-3;

      line-height: 1.2;
    }

    &:not(:last-child) {
      margin-bottom: 45px;

      @include screen('sm') {
        margin-bottom: 22px;
      }
    }

    #{$b}:hover & {
      color: $color-news-hover-title;
    }
  }

  &__media {
    display: block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    position: relative;

    &::before {
      @include pseudo;

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $color-news-bg;
      opacity: 0;
      transition: opacity $ease-main;
      z-index: 1;

      #{$b}:hover & {
        opacity: .32;
      }
    }

    &:not(:last-child) {
      margin-bottom: 40px;

      @include screen('sm') {
        margin-bottom: 20px;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    font-size: 0;
    line-height: 0;
  }

  &__forward {
    @include heading-4;

    font-weight: 700;
    position: absolute;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    right: 22px;
    bottom: 20px;
    opacity: 0;
    transition: opacity $ease-main;
    color: $color-white;
    fill: currentColor;
    z-index: 2;

    @include screen('sm') {
      @include text15;

      line-height: 1.2;
    }

    #{$b}:hover & {
      opacity: 1;
    }
  }

  &__icon {
    width: 18px;
    height: 11px;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    margin-left: 21px;
    transition: transform $ease-main;
  }

  &__text {
    @include text-big;

    line-height: 1.45;
    transition: color $ease-main;

    @include screen('sm') {
      @include text15;

      line-height: 1.34;
    }

    #{$b}:hover & {
      color: $color-news-hover-text;
    }
  }
}
