.calendar {
  $b: &;

  display: block;
  width: 100%;

  &__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 28px 70px 24px;

    @include screen('sm') {
      padding: 18px 20px;
    }
  }

  &__title {
    @include heading-3;

    font-weight: 700;
    user-select: none;

    @include screen('sm') {
      @include heading-4;
    }

    &:not(:last-child) {
      margin-right: 40px;

      @include screen('sm') {
        margin-right: 20px;
      }
    }
  }

  &__content {
    display: block;
    width: 100%;
  }

  &__grid {
    border: none;
    width: 100%;

    .datepicker-inline & {
      border: none;
      width: 100%;
    }

    .datepicker {
      &--nav {
        display: none;
      }

      &--days {
        &-names {
          margin-top: 32px;
          margin-bottom: 0;

          @include screen('sm') {
            margin-top: 22px;
          }
        }
      }

      &--years {
        height: auto;
      }

      &--day {
        &-name {
          @include text;

          display: inline-block;
          box-sizing: border-box;
          padding-top: 18px;
          padding-bottom: 18px;
          line-height: 1;
          text-transform: none;
          font-weight: 700;
          color: $color-calendar-days;

          @include screen('sm') {
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }
      }

      &--cells-years {
        height: auto;
      }

      &--cell {

        // &-day {
        @include heading-3;

        position: relative;
        line-height: 1;
        font-weight: 700;
        color: $color-basic;
        box-sizing: border-box;
        height: auto;
        padding-top: 26px;
        padding-bottom: 26px;
        transition: color $ease-main;

        @include screen('sm') {
          @include heading-4;

          line-height: 1;
          padding-top: 20px;
          padding-bottom: 20px;
        }

        span {
          z-index: 3;
        }

        &::before, &::after {
          @include pseudo;

          top: 50%;
          left: 50%;
          border-radius: 50%;
          opacity: 0;
          transition: opacity $ease-main;
          transform: translate3d(-50%, -50%, 0);
          backface-visibility: hidden;
        }

        &::before {
          width: 60px;
          height: 60px;
          z-index: 1;

          @include gradient-main;

          @include screen('sm') {
            width: 40px;
            height: 40px;
          }
        }

        &::after {
          width: 56px;
          height: 56px;
          opacity: 1;
          background-color: $color-white;
          z-index: 2;

          @include screen('sm') {
            width: 36px;
            height: 36px;
          }
        }

        &.-other-decade-, &.-other-year-, &.-other-month-, &.-disabled- {
          background-color: transparent;
          color: $color-calendar-days;
        }

        &.-focus- {
          background-color: transparent;
          color: $color-calendar-active-day;

          &::before {
            opacity: 1;
          }

          &.-selected- {
            background-color: transparent;
          }

          &.-other-month- {
            color: $color-calendar-days;
            background-color: transparent;

            &::before {
              opacity: 0;
            }

            &.-disabled- {
              color: $color-calendar-days;
            }
          }

          &.-other-decade- {
            background-color: transparent;
            color: $color-calendar-active-day;

            &.-disabled- {
              color: $color-calendar-active-day;
              cursor: pointer;
            }
          }
        }

        &.-selected- {
          background-color: transparent;
          color: $color-calendar-active-day;

          &::before {
            opacity: 1;
          }

          &.-other-month- {
            background-color: transparent;
            color: $color-calendar-days;

            &::before {
              opacity: 0;
            }
          }
        }

        &.-current- {
          background-color: transparent;
          color: $color-calendar-active-day;

          &.-selected- {
            background-color: transparent;
          }

          &.-other-month- {
            background-color: transparent;
            color: $color-calendar-days;
          }
        }

        &-year {
          &::before {
            width: 65px;
            height: 65px;
            z-index: 1;

            @include gradient-main;

            @include screen('sm') {
              width: 45px;
              height: 45px;
            }
          }

          &::after {
            width: 61px;
            height: 61px;
            opacity: 1;
            background-color: $color-white;
            z-index: 2;

            @include screen('sm') {
              width: 41px;
              height: 41px;
            }
          }
        }

        // }
      }

      &--content {
        width: 100%;
        box-sizing: border-box;
        padding: 0 24px;

        @include screen('sm') {
          padding: 0 8px;
        }
      }
    }
  }
}
