.category-filter {
  $b: &;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include screen('md') {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  @include screen('sm') {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {

    &:not(:first-child) {
      margin-left: 31px;

      @include screen('md') {
        margin-left: 10px;
      }

      @include screen('sm') {
        margin-left: 0;
        // margin-left: -5px;
      }
    }

    @include screen('sm') {
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
  }
}
