mixin category-filter()
  +b.FORM.category-filter&attributes(attributes)
    +color-radio('category', 'all', 'checked')._dark._full.__item Spaces
    +color-radio('category', 'all')._dark._orange.__item Hot Desk
    +color-radio('category', 'all')._dark._red.__item Dedicated Desk
    +color-radio('category', 'all')._dark._blue.__item Meeting Room
    +color-radio('category', 'all')._dark._green.__item Office Space
