mixin category-filter()
  +b.FORM.category-filter&attributes(attributes)
    //- +color-radio('category', 'all', 'checked')._dark._full.__item Spaces
    //- +color-radio('category', 'all')._dark._orange.__item Hot Desk
    //- +color-radio('category', 'all')._dark._red.__item Dedicated Desk
    //- +color-radio('category', 'all')._dark._blue.__item Meeting Room
    //- +color-radio('category', 'all')._dark._green.__item Office Space
    +filter-select._cat.__select.js-offer-select
      +filter-select-head.hide-from-sm
        +filter-select-label.color-radio_full._dark._fz25._sm-noundr
          div.color-radio__content Spaces
      +filter-select-dropdown
        +filter-select-header.hide-from-sm Spaces
        +filter-select-item
          +b.LABEL.color-radio._full._dark.__radio
            +e.INPUT.input(name="category", value="all", type="radio", checked data-offer-input)
            +e.SPAN.content(data-select-value) Spaces
        +filter-select-item
          +b.LABEL.color-radio._dark._orange.__radio
            +e.INPUT.input(name="category", value="hd", type="radio" data-offer-input)
            +e.SPAN.content(data-select-value) Hot Desk
        +filter-select-item
          +b.LABEL.color-radio._dark._red.__radio
            +e.INPUT.input(name="category", value="dd", type="radio" data-offer-input)
            +e.SPAN.content(data-select-value) Dedicated Desk
        +filter-select-item
          +b.LABEL.color-radio._dark._blue.__radio
            +e.INPUT.input(name="category", value="mr", type="radio" data-offer-input)
            +e.SPAN.content(data-select-value) Meeting Room
        +filter-select-item
          +b.LABEL.color-radio._dark._green.__radio
            +e.INPUT.input(name="category", value="os", type="radio" data-offer-input)
            +e.SPAN.content(data-select-value) Office Space
