mixin category-filter()
  +b.FORM.category-filter&attributes(attributes)
    +color-radio('category', 'all', 'checked')._dark._full Spaces
    +color-radio('category', 'all')._dark._orange Hot Desk
    +color-radio('category', 'all')._dark._red Dedicated Desk
    +color-radio('category', 'all')._dark._blue Meeting Room
    +color-radio('category', 'all')._dark._green Office Space
