.bubble {
  $b: &;

  position: relative;
  display: inline-block;
  max-width: 576px;
  box-sizing: border-box;
  background-color: $color-white;
  border-radius: 3px;
  padding: 21px 18px;
  font-size: 0;
  line-height: 0;

  @include screen('sm') {
    padding: 17px 15px;
    max-width: 100%;
    width: 100%;
  }

  &__angle {
    position: absolute;
    top: -6px;
    left: 0;
    width: 11px;
    height: 9px;
    fill: $color-white;
  }

  &__timestamp {
    @include text12;

    line-height: 1;
    font-weight: 400;
    position: absolute;
    left: 100%;
    top: .1em;
    display: inline-block;
    color: $color-timestamp;
    padding: 0 7px;
    transition: opacity $ease-main;
    opacity: 0;

    @include screen('md') {
      opacity: 1;
    }

    @include screen('sm') {
      left: auto;
      right: 0;
      top: auto;
      bottom: 100%;
      line-height: 1.2;
      padding: 0;
    }

    #{$b}:hover & {
      opacity: 1;
    }
  }

  &__content {
    @include text16;

    display: inline-block;
    line-height: (20 / 16);
    width: 100%;
    overflow: hidden;

    @include screen('sm') {
      @include text13;

      line-height: 1.25;
    }
  }

  &_dark {
    background-color: $color-basic;
    color: $color-white;

    #{$b} {
      &__angle {
        top: auto;
        bottom: -5px;
        fill: $color-basic;
      }
    }
  }

  &_down {
    #{$b} {
      &__angle {
        top: auto;
        bottom: -5px;
      }
    }
  }

  &_peach {
    background-color: $color-peach;
    color: $color-white;

    #{$b} {

      &__angle {
        fill: $color-peach;
      }
    }
  }

  &_darker {
    background-color: $color-hint-bg;
    color: $color-white;

    #{$b} {
      &__angle {
        fill: $color-hint-bg;
      }
    }
  }

  &_bold {
    font-weight: 700;
  }

  &_notification {
    padding: 0;
  }

  &_mob-notime {

    #{$b} {
      &__timestamp {
        @include screen('sm') {
          display: none;
        }
      }
    }
  }
}
