mixin bubble(tag, time, timeISO, angle)
  +b(tag || 'div').bubble&attributes(attributes)
    - if (angle) {
      +icon('round-angle-down').angle
    - } else {
      +icon('round-angle').angle
    - }
    if time
      +e.TIME.timestamp(datetime=timeISO)!= time
    +e.content
      block
