.feature {
  $b: &;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 46px;

    @include screen('lg') {
      margin-bottom: 60px;
    }

    @include screen('md') {
      margin-bottom: 50px;
    }

    @include screen('sm') {
      margin-bottom: 55px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    line-height: 0;
    width: 87px;
    min-width: 87px;
    height: 70px;

    @include screen('sm') {
      justify-content: flex-start;
      align-items: flex-start;
      width: 55px;
      min-width: 55px;
      height: 44px;
    }

    &:not(:last-child) {
      margin-right: 52px;

      @include screen('lg') {
        margin-right: 50px;
      }

      @include screen('sm') {
        margin-right: 9px;
      }
    }
  }

  &__image {
    display: block;
    font-size: 0;
    line-height: 0;
    max-width: 100%;
    max-height: 100%;
    flex: none;

    &_search {
      width: 73px;

      @include screen('sm') {
        width: 45px;
      }
    }

    &_pointer {
      width: 62px;

      @include screen('sm') {
        width: 38px;
      }
    }

    &_plant {
      width: 70px;

      @include screen('sm') {
        width: 43px;
      }
    }

    &_signup {
      width: 74px;

      @include screen('sm') {
        width: 46px;
      }
    }

    &_messages {
      width: 69px;

      @include screen('sm') {
        width: 43px;
      }
    }

    &_payments {
      width: 87px;

      @include screen('sm') {
        width: 55px;
      }
    }
  }

  &__content {
    display: block;
    box-sizing: border-box;
    padding-top: 15px;
    flex: 1;

    @include screen('sm') {
      padding-top: 6px;
    }
  }

  &__title {
    @include heading-1-sm;

    line-height: (35/30);
    font-weight: 700;

    @include screen('sm') {
      @include text-big;

      line-height: (23/18);
    }

    &:not(:last-child) {
      margin-bottom: 24px;

      @include screen('sm') {
        margin-bottom: 16px;
      }
    }
  }

  &__text {
    @include text16;

    font-weight: 300;

    @include screen('sm') {
      @include text15;

      line-height: 1.35;
    }
  }
}
