mixin feature(img, title, imgClass)
  - var addClass = imgClass || ''
  +b.ARTICLE.feature&attributes(attributes)
    +e.icon
      +e.IMG(src=img class="image " + addClass)
    +e.content
      +e.H3.title!=title
      +e.text
        block
