.sidebar {
  $b: &;

  width: 100%;
  display: block;
  background-color: $color-white;

  &_dark {
    background-color: $color-grey-dark;
    color: $color-white;
  }

  &_no-bg {
    background-color: transparent;
  }
}
