mixin policy()
  +b.policy&attributes(attributes)
    h2 Spacepool Terms and Conditions
    h3 Overal Terms
    ol
      li
        h4 Introduction
        ol
          li Spacepool provides an online marketplace that connects (a) office providers (Hosts, you and your); and (b) individuals or businesses (Guests, you and your) seeking a flexible workspace solution such as hot desk, fixed desk, private office and meeting room hire (collectively Office Space)
          li These are the terms and conditions ("Terms") for www.spacepool.com (Site) and/or through any web or mobile application we provide the Spacepool services (App) (together the Site and App shall be referred to as the Applications).
          li The Applications are operated by or on behalf of Spacepool Limited (Spacepool, we, us and our). We are a limited company, registered in England and Wales. Our registered company number is 11206474, and our registered office is at A And L Suite 1-3 24 Southwark Street, Hop Exchange, London, England, SE1 1TY. Our VAT registration number is 304 6600 37.
          li Your use of and any actions you take through the Applications are subject to these terms and you agree to be bound by them. You should print a copy of these terms for future reference.
          li Use of your personal information submitted to or via the Applications is governed by our Privacy and Cookies Policy.
          li We reserve the right to change these terms from time to time by changing them on the Applications, although no such change will affect the relationship between existing Hosts and their Guests (relating to the Spacepool Fee) but shall affect existing or new Hosts and any existing or new Guests after the date mentioned in this paragraph. These terms were last updated on 09.09.2019.
      li
        h4 Access to the Applications
        ol
          li To use the Applications you must first register for access.  To register for an account on the Applications you must satisfy the following criteria:
            ul
              li Be at least 18 years old;
              li If you are using the Applications on behalf of a company, be authorised by that company to (i) in the case of the Host create a listing; or (ii) in the case of a Guest you are authorised to make enquiries in respect of any Office Space and enter into any contract in respect of the same; and (iii) in all cases you have the authority to bind the company by whom you have been granted access.
          li You must ensure that any registration details you provide are accurate. If you choose, or you are provided with, a log-on ID (such as a username and password or other identifier) as part of our security procedures, you must treat such information as confidential and must not reveal it to anyone else. You are responsible for all activities that occur under your log-on ID and must notify us immediately of any unauthorised use or other security breach of which you become aware. We reserve the right to disable any log-on ID, at any time, if in our opinion you have failed to comply with any of the provisions of these Terms or if any details you provide for the purposes of registering as a user prove to be false.
          li If you are registering as a Host, we reserve the right to approve your registration on the Applications.  After you have entered your details we will contact you directly to discuss the Office Space you wish to make available and reserve the right in our entire discretion to visit the Office Space prior to completing your registration.
          li We cannot guarantee the continuous, uninterrupted or error-free operability of the Applications. There may be times when certain features, parts or content of the Applications, or the entire Applications, become unavailable (whether on a scheduled or unscheduled basis) or are modified, suspended or withdrawn by us, in our sole discretion, without notice to you.  You agree that we will not be liable to you or to any third party for any unavailability, modification, suspension or withdrawal of the Applications, or any features, parts or content of the Applications.
      li
        h4 Guests and the role of the Applications
        ol
          li The Applications brings together a range of Hosts who may create listings for their Office Space (Listings). The Listing will be publicly available via the Applications. Each Listing includes details of the Host, location, facilities, price, deposit amount, cancelation policy, the minimum /maximum time periods, and whether the contract term will auto-renew and the length of the auto-renew of which each Office Space is available to the Guest.  Under no circumstances will we be the Host or landlord or provider of any Office Space and you shall not consider us to be such.  We have no interest in any Office Space and have no obligation to provide you with the Office Space or liability in connection with the same.
          li The relevant contact details of the Host will be made available through the Applications and we would recommend that you visit any Office Space prior to making an offer or entering into a contract or making any payments in connection with any Office Space.
          li When you contract to use any Office Space, you will contract directly from the relevant Host (not from us).  All contracts in respect of the Office Space must be signed between you and the Host directly.  We will never sign contracts on your or any Host's behalf and we will not be a party to any such contract.  All contracts should be signed using the signing mechanism available in the Applications.
          li The relevant Host will be responsible for the terms of the contract, the provision of the Office Space, services available (or not) within that Office Space, and any concerns or complaints you may have about the Office Space.  All questions and concerns you have in connection with the Office Space and your contracting for or use of should be directed to the Host and not to us.
          li Our role is limited to acting as commercial agent to collect your payments on behalf of that Host. Our receipt of full payment from you will discharge your debt to the relevant Host in respect of that payment. Though we may assist with certain practical issues on behalf of the relevant Host, we do not have any contractual obligations to you and you do not have any contractual rights against us regarding any Office Space used by you.
          li If you wish to terminate your contract with your Host you can give notice, in accordance with the terms of you contract with your Host, to your Host through the Applications.
          li If a Guest agrees with the Host to terminate its contract with the Host for the Office Space before notice period expires, then the Guest must, inform Spacepool that the contract is being terminated early by email to hello@spacepool.com . If it is agreed that the term of the contract is to terminate early then the Guest shall pay Spacepool the fee of 10% of the fees which would have been payable by the Guest for the unexpired term of notice period.  Spacepool will provide to the Guest details of the amount payable.
      li
        h4 Hosts
        ol
          li As a Host, you may upload Listings to the Applications. You will be asked to enter certain information about your Office Space which may include details of the office type, capacity, price per month (per person or per office), notice period, VAT registration details (if any), availability, building address, list of facilities (if any) (such as Wi-Fi, furniture, lockers, showers, roof terrace, meeting rooms, 24 hour access, kitchen, bike storage, mailing address and disabled access), contact number, a description of the building and any other relevant information we may require in respect of your Listing. You will also be required to add photos of the Office Space.
          li Office Spaces will be available to users of the Applications. Office Spaces shall not be removed by Spacepool unless (a) we receive your written instruction; (b) you remove the Listing via your account; (c) Spacepool receives notice from any third party claiming to have an interest in the Office Space (for example the owner of the property) and requiring that Spacepool removes the Listing from its Applications; or (d) Spacepool considers the Listing to be objectionable or for any reason in violation of these Terms.
          li The Host understands and agrees that the placement and rankings of Listings in search results may depend on various factors include Guests shortlists and/or preferences.
          li Spacepool shall require the Host to provide certain terms in its contract with the Guest.  These will include that the contract term with the Guest will auto-renew and that any notice period shall run from the first day of the month following the month in which termination notice was given.  Spacepool reserves the right to require additional terms to be included in a contract and to refuse to allow a Host to upload Listings.
          li The Host may request assistance from Spacepool in respect of a Listing (for example taking of photographs or preparing a description of the Office Space), such assistance will be provided at Spacepool’s discretion and may incur a fee. The Host warrants and represents that it shall promptly authorise any and all material amendments prepared by Spacepool in respect of a Listing which may occur by (a) way of written authorisation; or (b) the Host's completion of the Listing for public viewing and thereby publishing the Listing on the Applications (whichever is the earlier act).
          li The Host acknowledges and agrees that it is responsible for all Listings it creates and represents and warrants that
            ol
              li it either:
                ul
                  li is the owner of leasehold or freehold property of any Office Space it lists on the Applications; or
                  li has the right, authority or permission from the owner of the Office Space to list such Office Space and is the duly authorized agent or representative of such Property Owner for the purpose of engaging in the Licence of such Office Space in accordance with these Terms of Business; and
              li the Office Space is in compliance with all applicable laws and regulations;
              li making the Office Space available and the use by any Guest will not breach any agreement with any third party including any lease or sublease;
              li any contractual discussions or negotiations between the Host and the Guest shall be the sole responsibility of the Host and Guest;
              li it shall keep Spacepool informed of the current status of the Listing and (i) remove the Listing; or (ii) advise Spacepool in writing, if the Office Space is licensed to a third party excluding a Guest.
          li The Host acknowledges and agrees that Spacepool shall be entitled to the Spacepool Fee (defined in clause 5.4 below) if it the Guest makes contact with the Host through the Applications even if the Host and Guest do not complete the contract between them through the Applications but do so personally excluding the Applications.  Spacepool reserves the right to seek evidence of occupation of the Office Space by the Guest and increase the Spacepool Fees payable to 15% for the entire contract length or 12 months whichever is the shorter and such fees shall be immediately payable upfront.
          li The Host shall indemnify, defend and hold harmless Spacepool against all losses that Spacepool incurs or suffers however arising as a result of or in connection with:
            ol
              li the Host's breach of the warranties set out in paragraph 4.6;
              li the Host's breach or negligent performance or non-performance of any obligations under these Terms;
              li any claim made by a Guest or any third party arising out of or in connection with the provision of the Office Space, to the extent that such claim arises as a result of any breach of these Terms by, or the negligence of, the Hosts or its personnel; and/or
              li any claim made by an owner of any property arising out of or in connection with any Listing or contract or arrangement entered into with any Guest.
          li Spacepool recommends that the Host obtains appropriate insurance for all Office Spaces and encourages it to carefully review any existing insurance policy to determine whether such policy will cover the actions or omissions of the Guest and its invitees. It is important that the Host understands any exclusions and deductibles that may apply to its insurance policy and ensure that the granting of or access to any Office Space to a Guest does not invalidate the terms of its insurance policy.
          li The Host agrees that, by submitting any Listing, you grant us and our affiliates a worldwide, non-exclusive, royalty-free and fully sub-licensable right and licence to use, reproduce, modify, adapt, publish, translate, distribute, and display the Listing (in whole or part) and/or to incorporate it in other works in any form, media or technology, for marketing purposes.
          li As a Host, you understand and agree that Spacepool does not act as an insurer or as your contracting agent.
          li The Host agrees that we can collect payments on your behalf and you appoint us as your agent to invoice and collect payments due to you from your Guests.
      li
        h4 Fees and Payment
        ol
          li The fees of the relevant Office Space are as quoted on the Applications and then subsequently agreed with the Host. We will be notified by the Host of the fees agreed between the Guest and the Host. This notification will be final.  We will not agree this figure with a Guest. If the Guest considers that the figure provided by the Host is wrong, this matter must be resolved directly with the Host.
          li The fees payable for the Office Space may during the term of your occupation or use change as agreed with the Host.
          li If a Guest pays a Host a deposit in respect of the Guest's use of the Office Space, that deposit will be held by our third party payment partner.  The third party payment provider will hold the deposit until or unless there is a claim by the Host or it is returned to the Guest.  The deposit shall not accrue interest while held by Spacepool and no interest will be payable in respect of the same.  Within two (2) weeks of the end of the Guest's use of the Office Space, the Host must email hello@spacepool.com to confirm to Spacepool whether it wishes to make a claim for damages against the deposit.  If the Host wishes to make a claim it must, for its records, send pictures and details of the damage to Spacepool.  The Host and not Spacepool must agree with the Guest the amount that will be payable from the deposit.  Spacepool will not release any deposit to the Host unless the Guest has confirmed to Spacepool in writing that it agrees with the assessment of damages made by the Host.  Once agreed the claimed damages will be released to the Host and the remainder (if any) will be released to the Guest.  If the Host confirms to Spacepool that it does not wish to make a claim against the deposit or has not contacted Spacepool within four weeks of the Guest moving out of the Office Space, Spacepool shall be entitled to return the deposit in full to the Guest.
          li We will not charge the Guest any payment for using the Application or making any payments through our Applications.  In respect of each payment made by a Guest to the Host we will deduct the fees as set out on our fees schedule ("Spacepool Fee"), the remainder of the payment made by the Guest will be paid to the Host.  The Spacepool Fee shall only be payable by the Host for the term of the contract or 12 months whichever is the shorter.
          li Payment for all meeting room Office Space must be made by credit or debit card on the checkout page. Payment can be made by most major credit and debit cards.  Payment for all fixed desk, hot desk and private office or other types of Office Space must be made by Direct Debit – for instructions on how to set up a Direct Debit, please click here.
          li Payment made by direct debit will be invoiced to the Guest on the 20th day of each month with the direct debit being taken out on the 1st day of each month.  Payments made by credit card will be taken automatically and the Guest will be issued with an electronic receipt upon payment.
          li You should be aware that online payment transactions are subject to validation checks by your card issuer and neither we nor the relevant Host is not responsible if your card issuer declines to authorise payment for any reason. Please note, it is possible that your card issuer may charge you an online handling fee or processing fee. Neither we, nor the relevant Host is responsible for this.
      li
        h4 What you are allowed to do
        p Applications may only be used in accordance with these Terms. You may retrieve and display content from the Applications on a computer screen, print and copy individual pages and, subject to the next section, store such pages in electronic form. Additional terms may also apply to certain features, parts or content of the Applications and, where they apply, will be displayed on-screen or accessible via a link.
      li
        h4 What you are not allowed to do
        ol
          li Except to the extent expressly set out in these Terms, you are not allowed to:
            ul
              li 'scrape' content or store content of the Applications on a server or other storage device connected to a network or create an electronic database by systematically downloading and storing all of the content of the Applications;
              li remove or change any content of the Applications or attempt to circumvent security or interfere with the proper working of the Applications or the servers on which it is hosted; or
              li create links to the Applications from any other website, without our prior written consent.
          li You must only use the Applications and anything available from the Applications for lawful purposes (complying with all applicable laws and regulations), in a responsible manner, and not in a way that might damage our name or reputation or that of any of our affiliates.
          li All rights granted to you under these Terms will terminate immediately in the event that you are in breach of any of them.
      li
        h4 Intellectual property rights
        p All intellectual property rights in any content of the Applications (including text, graphics, software, photographs and other images, videos, sound, trade marks and logos) are owned by us or our licensors. Except as expressly set out here, nothing in these Terms gives you any rights in respect of any intellectual property owned by us or our licensors and you acknowledge that you do not acquire any ownership rights by downloading content from the Applications. In the event you print off, copy or store pages from the Applications (only as permitted by these Terms), you must ensure that any copyright, trade mark or other intellectual property right notices contained in the original content are reproduced.
      li
        h4 Content
        ol
          li We may change the format and content of the Applications from time to time. You agree that your use of the Applications are on an 'as is' and 'as available' basis and at your sole risk.
          li Whilst we try to make sure that all information contained on the Applications is correct, it is not intended to amount to authority or advice on which reliance should be placed. You should check with us or the relevant information source before acting on any such information.
          li We make or give no representation or warranty as to the accuracy, completeness, currency, correctness, reliability, integrity, quality, fitness for purpose or originality of any content of the Applications and, to the fullest extent permitted by law, all implied warranties, conditions or other terms of any kind are hereby excluded and we accept no liability for any loss or damage of any kind incurred as a result of you or anyone else using the Applications or relying on any of its content.
          li We cannot and do not guarantee that any content of the Applications will be free from viruses and/or other code that may have contaminating or destructive elements. It is your responsibility to implement appropriate IT security safeguards (including anti-virus and other security checks) to satisfy your particular requirements as to the safety and reliability of content.
      li
        h4 Office Space Information
        p  Whilst reasonable steps have been taken to depict the Office Space as accurately as possible through the photographs and other images featured on the Applications, you should ensure you visit and renew and/or survey the Office Space before entering into a contract for the access and use of the Office Space.
      li
        h4 Liability
        ol
          li Nothing in these terms shall limit or exclude any liability to you:
            ul
              li for death or personal injury caused by negligence;
              li for fraudulent misrepresentation; or
              li for any other liability that, by law, may not be limited or excluded.
          li Subject to this, in no event shall we be liable to you for any business losses for any indirect or consequential losses, or for any loss of profit, revenue, contracts, data, goodwill or other similar losses, and any liability we does have for losses you suffer arising from our relationship under these terms and any services provided shall not exceed the Spacepool Fees in respect of the relevant Office Space and is strictly limited to losses that were reasonably foreseeable. Losses are foreseeable where they could be contemplated at the time your order is accepted.
          li Please remember that the legal contract for the supply of the Office Space is between you and the relevant Host. We have no control over the actions or omissions of any Host.
          li We will not be liable or responsible for any failure to perform, or delay in performance of, any of its obligations under these terms that is caused by events outside our reasonable control.
      li
        h4 External links
        p The Applications may, from time to time, include links to external sites, which may include links to third party offers and promotions. We include these to provide you with access to information, products or services that you may find useful or interesting. We are not responsible for the content of these sites or for anything provided by them and do not guarantee that they will be continuously available. The fact that we include links to such external sites does not imply any endorsement of or association with their operators or promoters.
      li
        h4 General
        ol
          li You may not transfer or assign any or all of your rights or obligations under these terms to any third party.
          li If any provision of these terms is found to be unenforceable, all other provisions shall remain unaffected.
          li These terms may not be varied except with our express written consent.
          li These terms and any document expressly referred to in them represent the entire agreement between you and the relevant Host in relation to their subject matter.
          li These terms shall be governed by English law, there may be certain mandatory applicable laws of your country which apply for your benefit and protection in addition to or instead of certain provisions of English law.
          li You agree that any dispute between you and the relevant Host regarding these terms will only be dealt with by the English courts.
      li
        h4 Contacting us
        p Please submit any questions you have about these terms or any complaint or concern you may have by email hello@spacepool.com.
