mixin promo-section()
  +b.SECTION.promo-section&attributes(attributes)
    block

mixin promo-section-header()
  +e.header&attributes(attributes)
    block

mixin promo-section-title()
  +e.title&attributes(attributes)
    block

mixin promo-section-content()
  +e.content&attributes(attributes)
    block
