extends ../../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Space Edit - Terms and conditions'

block bodyClasses
  - var bodyCls = ' is-sm-noheader is-sm-no-userpanel';
  - var isNoFooter = true
  - var scripts = ['other']

block header
  - var headerClass = ' is-login'
  - var pageClass = ''
  - var isMap = true
  - var host = true

block content
  +nd-page-header._grid
    .nd-container
      +nd-page-header-side
        +nd-link-icon('arrow5')._underline._back._back_md21.__back_md-noname Back
      +nd-page-header-main
        - var menuList = getData('sideNavEditSpace.json').menu;
        +e.mb-menu.nd-hide-from-md
          +slider-navigation(menuList, 5, 'Terms and conditions')

  +nd-content
    .nd-container
      +nd-content-aside
        +sidebar-nosticky.nd-sidebar.nd-hide-md
          - var nav = getData('sideNavEditSpace.json')
          +nd-side-navigation(nav, 'Terms and conditions')

      +nd-content-main
        +nd-section('form')._app.js-form-with-hidden-panel(data-validated-form)
          +nd-section-header._fx._wrap
            +nd-section-title._fz24 Terms and conditions
            +nd-composite-tabs.__tabs
              +nd-composite-tab().__item
                +composite-tab-checkbox()(data-composite-checkbox)
                  +e.INPUT.input(name="typeOffer", value="hd", type="checkbox" data-composite-activator="offerHD")
                  +e.SPAN.box
                +composite-tab-button.is-disabled(data-composite-el="offerHD" data-src-save="#popup-reminder-save" data-src-empty="#popup-reminder-empty") Hot Desks
              +nd-composite-tab().__item
                +composite-tab-checkbox()(data-composite-checkbox)
                  +e.INPUT.input(name="typeOffer", value="fd", type="checkbox" data-composite-activator="offerFD")
                  +e.SPAN.box
                +composite-tab-button().is-disabled(data-composite-el="offerFD" data-src-save="#popup-reminder-save" data-src-empty="#popup-reminder-empty") Fixed Desks
              +nd-composite-tab().__item
                +composite-tab-checkbox()(data-composite-checkbox)
                  +e.INPUT.input(name="typeOffer", value="mr", type="checkbox" data-composite-activator="offerMR")
                  +e.SPAN.box
                +composite-tab-button().is-disabled(data-composite-el="offerMR" data-src-save="#popup-reminder-save" data-src-empty="#popup-reminder-empty") Meeting Rooms
              +nd-composite-tab().__item
                +composite-tab-checkbox()(data-composite-checkbox)
                  +e.INPUT.input(name="typeOffer", value="os", type="checkbox" data-composite-activator="offerOS")
                  +e.SPAN.box
                +composite-tab-button().is-disabled(data-composite-el="offerOS" data-src-save="#popup-reminder-save" data-src-empty="#popup-reminder-empty") Private offices
          +b.nd-form_app._app_mod.__modals
            +nd-composite-group
              +e.FIELDSET.modal.is-freeze(data-composite-target="offerHD")
                +e.header
                  +e.boxes
                    +nd-box._orange.__box
                  +e.H4.title Hot desk Terms and Conditions
                +e.content
                  +nd-form-box('T&C Description')._bg-white
                    +nd-textarea(type="text" name="termsConditionsHD" placeholder="T&C Description" data-composite-textarea="offerHD")._h194
              +e.FIELDSET.modal(data-composite-target="offerFD")
                +e.header
                  +e.boxes
                    +nd-box._red.__box
                  +e.H4.title Fixed desk Terms and Conditions
                +e.content
                  +nd-form-box('T&C Description')._bg-white
                    +nd-textarea(type="text" name="termsConditionsFD" placeholder="T&C Description" data-composite-textarea="offerFD" disabled)._h194
              +e.FIELDSET.modal(data-composite-target="offerMR")
                +e.header
                  +e.boxes
                    +nd-box._blue.__box
                  +e.H4.title Meeting room Terms and Conditions
                +e.content
                  +nd-form-box('T&C Description')._bg-white
                    +nd-textarea(type="text" name="termsConditionsMR" placeholder="T&C Description" data-composite-textarea="offerMR" disabled)._h194
              +e.FIELDSET.modal(data-composite-target="offerOS")
                +e.header
                  +e.boxes
                    +nd-box._green.__box
                  +e.H4.title Private offices Terms and Conditions
                +e.content
                  +nd-form-box('T&C Description')._bg-white
                    +nd-textarea(type="text" name="termsConditionsOS" placeholder="T&C Description" data-composite-textarea="offerOS" disabled)._h194


          +nd-form-panel()._wide._hidden.is-fixed(data-hidden-panel)
            .nd-container
              .nd-content__column_aside.nd-hide-md
              .nd-content__column_main
                +e.savearea.hide(data-composite-save-area)
                  +nd-button('button', true).__button_mw435.is-disabled(type="button" data-src="#popup-reminder-empty" data-textarea-save-callback="saveTextarea" data-composite-save-button disabled) Save
                    span.hide-sm &nbsp;Terms &amp; Conditions for <span class="hide" data-changing-content="offerOS">Private offices</span><span class="hide" data-changing-content="offerMR">Meeting Room</span><span class="hide" data-changing-content="offerFD">Fixed Desk</span><span data-changing-content="offerHD">Hot Desk</span>
                +e.controls(data-composite-panel)
                  +nd-link-icon('cross', 'button')(type="reset")._underline.__reset.js-form-reset Discard <span class="nd-hide-sm">changes</span>
                  +nd-button('button', true).__button.is-disabled(type="submit" data-callback="savefull" data-src="#popup-reminder-empty" data-composite-full-save disabled) Save <span class="nd-hide-sm">changes</span>

block panels

block popups
  +popup-reminder-empty#popup-reminder-empty
  +popup-reminder-save#popup-reminder-save
