extends ../../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Space Edit - Terms and conditions'

block bodyClasses
  - var bodyCls = ' is-sm-noheader is-sm-no-userpanel';
  - var isNoFooter = true
  - var scripts = ['other']

block header
  - var headerClass = ' is-login'
  - var pageClass = ''
  - var isMap = true
  - var host = true

block content
  +nd-page-header._grid
    .nd-container
      +nd-page-header-side
        +nd-link-icon('arrow5')._underline._back._back_md21.__back_md-noname Back
      +nd-page-header-main
        - var menuList = getData('sideNavEditSpace.json').menu;
        +e.mb-menu.nd-hide-from-md
          +slider-navigation(menuList, 5, 'Terms and conditions')

  +nd-content
    .nd-container
      +nd-content-aside
        +sidebar-nosticky.nd-sidebar.nd-hide-md
          - var nav = getData('sideNavEditSpace.json')
          +nd-side-navigation(nav, 'Terms and conditions')

      +nd-content-main
        +nd-section('form')._app.js-form-with-hidden-panel(data-validated-form data-submit-disabled)
          +nd-section-header._fx._wrap
            +nd-section-title._fz24 Terms and conditions
            +nd-composite-tabs.__tabs
              +nd-checkbox({name: 'listingType', value: "hd", checked: true})._gray-box._gray._stolzl._fz16-mix._ml13.__item Hot desks
              +nd-checkbox({name: 'listingType', value: "fd"})._gray-box._gray._stolzl._fz16-mix._ml13.__item Fixed Desks
              +nd-checkbox({name: 'listingType', value: "mr"})._gray-box._gray._stolzl._fz16-mix._ml13.__item Meeting Rooms
              +nd-checkbox({name: 'listingType', value: "po"})._gray-box._gray._stolzl._fz16-mix._ml13.__item Private offices
          +b.nd-form_app._app_pd0.__modals
            +info-grid._edit
              +e.describe
                +e.H3.title_fz22._fw400 Add terms and conditions for every listing type
                +e.text._indent
                  p Your listings requires terms and conditions (standart conract) for every listing type. In order to add terms and conditions for listing type, please activate particular type by pushing the Check box near the listing type name.
                  p Once you activated listing type, please write (copy and paste) terms and conditions into input field.

              +e.media.hide-sm
                +e.PICTURE.image
                  +e.SOURCE(srcset="assets/images/nd/add-space-t&c-mobile.jpg" media="(max-width: 1029px)")
                  +e.SOURCE(srcset="assets/images/nd/add-space-t&c.jpg" media="(min-width: 1030px)")
                  img(srcset="assets/images/nd/add-space-t&c.jpg")

          +nd-form-panel()._wide._hidden.is-fixed(data-hidden-panel)
            .nd-container
              .nd-content__column_aside.nd-hide-md
              .nd-content__column_main
                +e.controls
                  +nd-link-icon('cross', 'button')(type="reset")._underline.__reset.js-form-reset Discard <span class="nd-hide-sm">changes</span>
                  +nd-button('button', true).__button(type="submit") Save <span class="nd-hide-sm">changes</span>

block panels

block popups
