.nd-table {
  $b: &;

  display: table;
  border-collapse: collapse;
  width: 100%;

  tbody {
    padding: 0;
    margin: 0;
  }

  tr {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $nd-color-border4;
  }

  td {
    vertical-align: top;

    &:last-child {
      padding-right: 0;
    }
  }

  th, td {
    font-size: 16px;
    line-height: 1;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(16, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(16, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(15, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
    }

    &:last-child {
      text-align: right;
    }

    &.va-mid {
      vertical-align: middle;
    }
  }

  &__state {
    color: $nd-color-main;
    font-weight: 700;
  }

  &_rent-state {
    tr {
      border-color: $nd-color-table-border;
    }

    thead tr {
      border-width: 0;
    }

    td, th {
      padding: 11px 12px 11px 0;
      text-align: right;
      box-sizing: border-box;

      @include screen('xlg', max, 2) {
        padding: pxtovw(11, 1660) pxtovw(12, 1660) pxtovw(11, 1660) 0;
      }

      @include screen('lg', max, 2) {
        padding: pxtovw(12, 1366) pxtovw(12, 1366) pxtovw(11, 1366) 0;
      }

      @include screen('md', max, 2) {
        padding: pxtovw(12, 960) pxtovw(12, 960) pxtovw(11, 960) 0;
      }

      @include screen('sm', max, 2) {
        padding: pxtovw(12, 375) pxtovw(12, 375) pxtovw(11, 375) 0;
      }

      &:nth-child(1), &:nth-child(2) {
        text-align: left;
      }

      &:nth-child(1) {
        width: 163px;

        @include screen('xlg', max, 2) {
          width: pxtovw(163, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(163, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(163, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(110, 375);
        }
      }

      &:nth-child(2) {
        width: calc((100% - 354px) / 2);

        @include screen('xlg', max, 2) {
          width: calc((100% - ((35400 / 1660) * 1vw)) / 2);
        }

        @include screen('lg', max, 2) {
          width: calc((100% - ((35400 / 1366) * 1vw)) / 2);
        }

        @include screen('md', max, 2) {
          width: calc((100% - ((35400 / 960) * 1vw)) / 2);
        }

        @include screen('sm', max, 2) {
          width: calc(100% - ((15900 / 375) * 1vw));
        }
      }

      &:nth-child(3) {
        width: calc((100% - 354px) / 2);

        @include screen('xlg', max, 2) {
          width: calc((100% - ((35400 / 1660) * 1vw)) / 2);
        }

        @include screen('lg', max, 2) {
          width: calc((100% - ((35400 / 1366) * 1vw)) / 2);
        }

        @include screen('md', max, 2) {
          width: calc((100% - ((35400 / 960) * 1vw)) / 2);
        }

        @include screen('sm', max, 2) {
          width: calc(100% - ((15900 / 375) * 1vw));
        }
      }

      &:nth-child(4) {
        width: 122px;

        @include screen('xlg', max, 2) {
          width: pxtovw(122, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(122, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(122, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(122, 375);
        }
      }

      &:nth-child(5) {
        width: 69px;

        @include screen('xlg', max, 2) {
          width: pxtovw(69, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(69, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(69, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(49, 375);
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }

    th {
      font-size: 13px;
      line-height: 1;
      color: $nd-color-gray-text;
      font-weight: 400;
      padding-bottom: 16px;

      @include screen('xlg', max, 2) {
        padding-bottom: pxtovw(16, 1660);
        font-size: pxtovw(13, 1660);
      }

      @include screen('lg', max, 2) {
        padding-bottom: pxtovw(16, 1366);
        font-size: pxtovw(13, 1366);
      }

      @include screen('md', max, 2) {
        padding-bottom: pxtovw(16, 960);
        font-size: pxtovw(13, 960);
      }

      @include screen('sm', max, 2) {
        padding-bottom: pxtovw(14, 375);
        font-size: pxtovw(13, 375);
      }

      b {
        font-weight: 700;
      }
    }

    td {
      line-height: 18px;

      @include screen('xlg', max, 2) {
        line-height: pxtovw(18, 1660);
      }

      @include screen('lg', max, 2) {
        line-height: pxtovw(18, 1366);
      }

      @include screen('md', max, 2) {
        line-height: pxtovw(18, 960);
      }

      @include screen('sm', max, 2) {
        line-height: pxtovw(18, 375);
      }

      b {
        font-weight: 700;
      }
    }
  }

  &_fw500 {
    th, td {
      font-weight: 500;
    }
  }

  &_info {
    tr {
      border-color: rgba($nd-color-border4, .48);
    }

    td, th {
      padding: 14px 6px 6px 0;

      @include screen('xlg', max, 2) {
        padding: pxtovw(14, 1660) pxtovw(6, 1660) pxtovw(6, 1660) 0;
      }

      @include screen('lg', max, 2) {
        padding: pxtovw(14, 1366) pxtovw(6, 1366) pxtovw(6, 1366) 0;
      }

      @include screen('md', max, 2) {
        padding: pxtovw(14, 960) pxtovw(7, 960) pxtovw(7, 960) 0;
      }

      @include screen('sm', max, 2) {
        padding: pxtovw(14, 375) pxtovw(7, 375) pxtovw(7, 375) 0;
      }

      &:last-child {
        padding-right: 0;
        white-space: nowrap;
      }
    }

    &_h30 {
      td, th {
        padding: 9px 6px 6px 0;

        @include screen('xlg', max, 2) {
          padding: pxtovw(9, 1660) pxtovw(6, 1660) pxtovw(6, 1660) 0;
        }

        @include screen('lg', max, 2) {
          padding: pxtovw(9, 1366) pxtovw(6, 1366) pxtovw(6, 1366) 0;
        }

        @include screen('md', max, 2) {
          padding: pxtovw(9, 960) pxtovw(6, 960) pxtovw(6, 960) 0;
        }

        @include screen('sm', max, 2) {
          padding: pxtovw(9, 375) pxtovw(6, 375) pxtovw(6, 375) 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &_h50 {
      td,th {
        padding: 21px 12px 12px 0;

        @include screen('xlg', max, 2) {
          padding: pxtovw(21, 1660) pxtovw(12, 1660) pxtovw(12, 1660) 0;
        }

        @include screen('lg', max, 2) {
          padding: pxtovw(21, 1366) pxtovw(12, 1366) pxtovw(12, 1366) 0;
        }

        @include screen('md', max, 2) {
          padding: pxtovw(21, 960) pxtovw(12, 960) pxtovw(12, 960) 0;
        }

        @include screen('sm', max, 2) {
          padding: pxtovw(21, 375) pxtovw(12, 375) pxtovw(12, 375) 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &_md-fz16 {
      th, td {
        @include screen('md', max, 2) {
          font-size: pxtovw(16, 960);
        }

        @include screen('sm', max, 2) {
          font-size: pxtovw(16, 375);
        }
      }
    }

    &_amount {
      td, th {
        font-size: 18px;
        line-height: 22px;
        padding: 15px 12px 18px 0;
        font-weight: 500;

        b {
          font-weight: 700;
        }

        @include screen('xlg', max, 2) {
          font-size: pxtovw(18, 1660);
          line-height: pxtovw(22, 1660);
          padding: pxtovw(15, 1660) pxtovw(12, 1660) pxtovw(18, 1660) 0;
        }

        @include screen('lg', max, 2) {
          font-size: pxtovw(18, 1366);
          line-height: pxtovw(22, 1366);
          padding: pxtovw(15, 1366) pxtovw(12, 1366) pxtovw(18, 1366) 0;
        }

        @include screen('md', max, 2) {
          font-size: pxtovw(16, 960);
          line-height: pxtovw(22, 960);
          padding: pxtovw(12, 960) pxtovw(12, 960) pxtovw(15, 960) 0;
        }

        @include screen('sm', max, 2) {
          line-height: pxtovw(22, 375);
          font-size: pxtovw(16, 375);
          padding: pxtovw(12, 375) pxtovw(12, 375) pxtovw(15, 375) 0;
        }

        &.is-fz22 {
          font-size: 22px;

          @include screen('xlg', max, 2) {
            font-size: pxtovw(22, 1660);
          }

          @include screen('lg', max, 2) {
            font-size: pxtovw(22, 1366);
          }

          @include screen('md', max, 2) {
            font-size: pxtovw(18, 960);
          }

          @include screen('sm', max, 2) {
            font-size: pxtovw(18, 375);
          }
        }
      }
    }

    &_check {
      tr {
        border-color: $nd-color-border4;
      }

      th, td {
        padding: 14px 40px 14px 0;
        font-size: 18px;
        vertical-align: middle;
        font-weight: 400;
        line-height: 1.15;

        @include screen('xlg', max, 2) {
          padding: pxtovw(14, 1660) pxtovw(40, 1660) pxtovw(14, 1660) 0;
          font-size: pxtovw(18, 1660);
        }

        @include screen('lg', max, 2) {
          padding: pxtovw(14, 1366) pxtovw(40, 1366) pxtovw(14, 1366) 0;
          font-size: pxtovw(16, 1366);
        }

        @include screen('md', max, 2) {
          padding: pxtovw(14, 960) pxtovw(30, 960) pxtovw(14, 960) 0;
          font-size: pxtovw(16, 960);
        }

        @include screen('sm', max, 2) {
          padding: pxtovw(23, 375) pxtovw(15, 375) pxtovw(23, 375) 0;
          font-size: pxtovw(16, 375);
        }

        &:last-child {
          width: 50px;
          text-align: right;
          padding-right: 0;
          line-height: 0;
          font-size: 0;

          @include screen('xlg', max, 2) {
            width: pxtovw(50, 1660);
          }

          @include screen('lg', max, 2) {
            width: pxtovw(50, 1366);
          }

          @include screen('md', max, 2) {
            width: pxtovw(50, 960);
          }

          @include screen('sm', max, 2) {
            width: pxtovw(50, 375);
          }
        }
      }

      tr:last-child {
        border-bottom: none;
      }
    }

    &_ha {
      th, td {
        padding: 13px 6px 6px 0;

        @include screen('xlg', max, 2) {
          padding: pxtovw(13, 1660) pxtovw(6, 1660) pxtovw(6, 1660) 0;
        }

        @include screen('lg', max, 2) {
          padding: pxtovw(13, 1366) pxtovw(6, 1366) pxtovw(6, 1366) 0;
        }

        @include screen('md', max, 2) {
          padding: pxtovw(13, 960) pxtovw(7, 960) pxtovw(7, 960) 0;
        }

        @include screen('sm', max, 2) {
          padding: pxtovw(13, 375) pxtovw(7, 375) pxtovw(7, 375) 0;
        }

        &:last-child {
          white-space: normal;
        }
      }
    }
  }

  &_features {
    width: 100%;

    tbody {
      width: 100%;
    }

    tr {
      width: 100%;
      border-color: rgba($nd-color-border4, .48);
    }

    th, td {
      font-size: 16px;
      line-height: 1.2;
      padding-top: 12px;
      padding-bottom: 11px;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(16, 1660);
        padding-top: pxtovw(12, 1660);
        padding-bottom: pxtovw(11, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(15, 1366);
        padding-top: pxtovw(13, 1366);
        padding-bottom: pxtovw(12, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(16, 960);
        padding-top: pxtovw(12, 960);
        padding-bottom: pxtovw(11, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(13, 375);
        padding-top: pxtovw(10, 375);
        padding-bottom: pxtovw(8, 375);
      }

      &:first-child {
        text-align: center;
        vertical-align: middle;
        width: 32px;
        font-size: 0;
        line-height: 0;

        @include screen('xlg', max, 2) {
          width: pxtovw(32, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(32, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(32, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(16, 375);
        }
      }

      &:nth-child(2) {
        width: 267px;

        @include screen('xlg', max, 2) {
          width: pxtovw(267, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(131, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(362, 960);
        }

        @include screen('sm', max, 2) {
          display: none;
        }
      }

      &:last-child {
        text-align: left;
      }

      &:not(:first-child) {
        padding-left: 8px;
        box-sizing: border-box;

        @include screen('xlg', max, 2) {
          padding-left: pxtovw(8, 1660);
        }

        @include screen('lg', max, 2) {
          padding-left: pxtovw(8, 1366);
        }

        @include screen('md', max, 2) {
          padding-left: pxtovw(8, 960);
        }

        @include screen('sm', max, 2) {
          padding-left: pxtovw(8, 375);
        }
      }
    }

    tr {
      @include screen('sm', max, 2) {
        border-bottom: none;
      }

      &:last-child {
        border-bottom: none;

        td:first-child {
          @include screen('sm', max, 2) {
            vertical-align: top;
          }
        }
      }
    }

    .nd-box {
      display: inline-block;
      width: 12px;
      height: 12px;

      @include screen('xlg', max, 2) {
        width: pxtovw(12, 1660);
        height: pxtovw(12, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(12, 1366);
        height: pxtovw(12, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(12, 960);
        height: pxtovw(12, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(10, 375);
        height: pxtovw(10, 375);
      }
    }

    #{$b} {
      &__image {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 18px;
        font-size: 0;
        line-height: 0;

        @include screen('xlg', max, 2) {
          width: pxtovw(22, 1660);
          height: pxtovw(18, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(22, 1366);
          height: pxtovw(18, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(22, 960);
          height: pxtovw(18, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(16, 375);
          height: pxtovw(16, 375);
        }

        img {
          display: inline-block;
          font-size: 0;
          line-height: 0;
          vertical-align: middle;
          margin: 0 auto;
          flex: 1;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  &_resume {
    th, td {
      font-size: 16px;
      line-height: (19 / 16);
      padding-top: 18px;
      padding-bottom: 15px;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(16, 1660);
        padding-top: pxtovw(18, 1660);
        padding-bottom: pxtovw(15, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(16, 1366);
        padding-top: pxtovw(18, 1366);
        padding-bottom: pxtovw(15, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(16, 960);
        padding-top: pxtovw(18, 960);
        padding-bottom: pxtovw(15, 960);
      }

      @include screen('sm', max, 2) {
        line-height: (18 / 15);
        font-size: pxtovw(15, 375);
        padding-top: pxtovw(14, 375);
        padding-bottom: pxtovw(16, 375);
      }

      &:first-child {
        font-weight: 700;
      }
    }

    &_space {
      th, td {
        padding-top: 16px;
        padding-bottom: 14px;
        vertical-align: middle;
        box-sizing: border-box;

        @include screen('xlg', max, 2) {
          padding-top: pxtovw(16, 1660);
          padding-bottom: pxtovw(14, 1660);
        }

        @include screen('lg', max, 2) {
          padding-top: pxtovw(16, 1366);
          padding-bottom: pxtovw(14, 1366);
        }

        @include screen('md', max, 2) {
          padding-top: pxtovw(16, 960);
          padding-bottom: pxtovw(14, 960);
        }

        @include screen('sm', max, 2) {
          padding-top: pxtovw(16, 375);
          padding-bottom: pxtovw(15, 375);
        }

        &:first-child {
          width: 37.8%;
        }

        b:not(:first-child) {
          margin-left: 24px;

          @include screen('xlg', max, 2) {
            margin-left: pxtovw(24, 1660);
          }

          @include screen('lg', max, 2) {
            margin-left: pxtovw(24, 1366);
          }

          @include screen('md', max, 2) {
            margin-left: pxtovw(24, 960);
          }

          @include screen('sm', max, 2) {
            margin-left: pxtovw(24, 375);
          }
        }
      }

      tr:first-child td, tr:first-child th {
        padding-top: 4px;
        padding-bottom: 4px;

        @include screen('xlg', max, 2) {
          padding-top: pxtovw(4, 1660);
          padding-bottom: pxtovw(4, 1660);
        }

        @include screen('lg', max, 2) {
          padding-top: pxtovw(4, 1366);
          padding-bottom: pxtovw(4, 1366);
        }

        @include screen('md', max, 2) {
          padding-top: pxtovw(4, 960);
          padding-bottom: pxtovw(4, 960);
        }

        @include screen('sm', max, 2) {
          padding-top: pxtovw(4, 375);
          padding-bottom: pxtovw(4, 375);
        }
      }
    }

    &_manager {
      th, td {
        padding-top: 16px;
        padding-bottom: 14px;
        box-sizing: border-box;

        @include screen('xlg', max, 2) {
          padding-top: pxtovw(16, 1660);
          padding-bottom: pxtovw(14, 1660);
        }

        @include screen('lg', max, 2) {
          padding-top: pxtovw(16, 1366);
          padding-bottom: pxtovw(14, 1366);
        }

        @include screen('md', max, 2) {
          padding-top: pxtovw(16, 960);
          padding-bottom: pxtovw(14, 960);
        }

        @include screen('sm', max, 2) {
          padding-top: pxtovw(16, 375);
          padding-bottom: pxtovw(15, 375);
        }

        &:first-child {
          width: 37.6%;
        }

        p {
          &:not(:first-child) {
            margin-top: 10px;

            @include screen('xlg', max, 2) {
              margin-top: pxtovw(10, 1660);
            }

            @include screen('lg', max, 2) {
              margin-top: pxtovw(10, 1366);
            }

            @include screen('md', max, 2) {
              margin-top: pxtovw(10, 960);
            }

            @include screen('sm', max, 2) {
              margin-top: pxtovw(10, 375);
            }
          }
        }
      }
    }
  }
}
