.table {
  display: table;
  border-collapse: collapse;

  @include text-big;

  @include screen('sm') {
    @include text15;

    line-height: (20/15);
  }

  tbody {
    display: block;
    padding: 0;
    margin: 0;
  }

  tr {
    padding: 0;
    margin: 0;
    display: block;
    border-bottom: 1px solid $color-border-light;
  }

  thead tr {
    border-width: 2px;
  }

  td {
    vertical-align: top;

    &:last-child {
      padding-right: 0;
    }
  }
}
