.table {
  display: table;
  border-collapse: collapse;

  @include text-big;

  @include screen('sm') {
    @include text15;

    line-height: (20/15);
  }

  tbody {
    padding: 0;
    margin: 0;
  }

  tr {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $color-border-light;
  }

  thead tr {
    border-width: 2px;
  }

  td {
    vertical-align: top;

    &:last-child {
      padding-right: 0;
    }
  }

  &_simple {
    @include text16;

    @include screen('sm') {
      @include text;

      line-height: (26 / 14);
    }

    thead tr {
      border-bottom-width: 1px;
    }

    td {
      vertical-align: middle;
    }

    .table {

      &__cell {
        padding: 9px 0;
        padding-left: 32px;
        position: relative;
        width: 16.7%;

        @include screen('sm') {
          padding: 7px 0;
        }

        &:first-child {
          width: 33.2%;
          padding-left: 0;
        }

        &:last-child:not(:first-child) {
          text-align: right;
        }

        &_head {
          @include text;

          line-height: (26 / 14);
          font-weight: 400;
          padding-top: 4px;
          padding-bottom: 4px;

          @include screen('sm') {
            @include text10;

            line-height: 1;
            padding: 7px;
            padding-bottom: 7px;
          }
        }

        &_bold {
          font-weight: 700;
        }

        &_centered {
          text-align: center;
        }

        a:not(.button) {
          transition: color $ease-main;

          &:hover {
            color: $color-basic-dark;
          }
        }
      }

      &__status {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &_v2 {

      .table {

        &__cell {
          width: 14.4%;
          padding-left: 0;

          @include screen('md') {
            width: 25%;
            padding-right: 10px;
          }

          @include screen('sm') {
            width: 21.5%;
          }

          &:first-child {
            width: 28.8%;

            @include screen('sm') {
              width: 19%;
            }
          }

          &:nth-child(2) {
            width: 28%;

            @include screen('sm') {
              width: 30%;
            }
          }

          &:last-child {
            @include screen('md') {
              padding-right: 0;
            }

            @include screen('sm') {
              width: 30%;
            }
          }
        }
      }
    }
  }
}
