extends ../../layouts/default

block head
  - var pageTitle = 'SpacePool - Search result'

block header
  -var headerClass = '_border _no-mob-border'
  -var pageClass = '_subnav'

block content
  -var spaces = getData('search-spaces.json')
  -var spaces2 = getData('search-short-spaces.json')
  +search-filter
  +content-origin._reverse._last
    .container
      +e.wrapper_lg
        +e.column_stretch
          +results
            +results-full.hide-md
              each item in spaces
                +space-short('a').js-map-marker-activator(href="#" data-map-marker=item.id)
                  +space-short-side
                    +space-short-media()
                      +slider-gallery-bold2(true, false)._gallery_inner.js-slider-gallery.__gallery
                        each slider in item.slider
                          +e.IMG.slide.swiper-slide(src=slider)
                  +space-short-content
                    +e.describe
                      +address-line(item.adressLine).__adress
                      +button-heart('div')._small._gray.__heart.js-heart
                      +space-short-title!= item.title
                      +space-short-text.js-line-clamp(data-max-line="2")!= item.describe
                    +space-short-offers
                      each offer in item.offers
                        +e.offer
                          +offer-info('div', '', offer.price, '_small')(class="_short " + offer.status)
                            +box(class="_size10 " + offer.box)
                            +e.title_small._light-gray!= offer.name
            +results-short.hide-from-md
              +grid.grid_layout.grid_int48
                each item in spaces2
                  +col({xl: 6, sm: 12})
                    +space-reserv-gallery('a', item)._search.__space(href="#")
                      +e.DIV.offer
                        +offer-info._small._small_light
                          +box._size9._orange
                          +e.title HOT DESK
                          +e.price from 450 &pound;/mo
          +pagination._mgt32._md-centered
        +search-map.__column_map.is-closed(data-map="map")
          +sidebar._no-bg(data-unstick-media="md")
            +map._side#searchMap
        +map-switch.js-show-map(data-target-map="map")

block panels
  +main-menu
