$breadpadding: 35px;

.breadcrumbs {
  display: block;
  padding: 18px 0;

  &__item {
    display: inline-block;
    position: relative;

    &:not(:last-child) {
      padding-right: 22px;

      &::after {
        content: '-';
        position: absolute;
        top: 0;
        margin: auto;
        right: 6px;
        width: 5px;
        height: 5px;
      }
    }

    .link {
      font-size: 14px;
      span {
        border-bottom: 0px solid #fff;
      }
      &:hover {
        span {
          border-bottom: 1px solid $color-basic-dark;
        }
      }
    }

    &:last-child .link {
      pointer-events: none;

      &__text {
        font-size: 14px;
        @include link-disabled;
      }
    }
  }
}
