.breadcrumbs {
  $b: &;

  display: flex;
  align-items: center;
  padding: 18px 0;

  &__item {
    display: inline-block;
    position: relative;

    @include text;

    line-height: (26/14);

    &:not(:last-child) {
      padding-right: 30px;

      &::after {
        @include pseudo;

        top: 50%;
        margin: auto;
        right: 13px;
        width: 4px;
        height: 1px;
        background-color: $color-basic;
        transform: translate3d(0, -50%, 0);
      }
    }

    &:last-child {

      #{$b}__link {
        @include link-disabled;

        pointer-events: none;
        cursor: default;

        &:hover .link__text {
          border-color: transparent;
        }
      }
    }
  }
}
