.breadcrumbs {
  $b: &;

  display: flex;
  align-items: center;

  @include ellipsis(100%);

  &__item {
    display: inline-block;
    position: relative;

    @include text;
    @include ellipsis('300px');

    line-height: (26/14);

    @include screen('sm') {
      @include text10;

      line-height: (13/10);
    }

    &:not(:last-child) {
      padding-right: 29px;

      @include screen('sm') {
        padding-right: 17px;
      }

      &::after {
        @include pseudo;

        top: 12px;
        margin: auto;
        right: 13px;
        width: 4px;
        height: 1px;
        background-color: $color-basic;

        @include screen('sm') {
          top: 6px;
          width: 2px;
          right: 8px;
        }
      }
    }

    &:last-child {
      @include ellipsis(70%);

      @include screen('lg') {
        max-width: 50%;
      }

      #{$b}__link {
        @include link-disabled;

        pointer-events: none;
        cursor: default;

        &:hover .link__text {
          border-color: transparent;
        }
      }
    }
  }
}

.nd-breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  color: $nd-color-gray-text;
  font-size: 16px;
  line-height: (19 / 16);
  font-weight: 400;

  &__item {
    position: relative;
    display: inline-block;

    &:not(:last-child) {
      padding-right: 30px;

      @include screen('lg', max, 2) {
        padding-right: pxtovw(30, 1366);
      }

      @include screen('md', max, 2) {
        padding-right: pxtovw(30, 960);
      }

      @include screen('sm', max, 2) {
        padding-right: pxtovw(20, 375);
      }

      &::before {
        position: absolute;
        display: inline-block;
        content: '-';
        vertical-align: middle;
        text-align: center;
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;

        @include screen('lg', max, 2) {
          width: pxtovw(30, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(30, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(20, 375);
        }
      }
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
    cursor: default;
  }

  a {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
