.footer {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba($color-basic-light, .21);
  padding: 63px 0 0;

  @include screen('md') {
    padding-top: 59px;
  }

  @include screen('sm') {
    padding-top: 48px;
  }

  &__top {
    display: flex;
    margin-bottom: 64px;

    @include screen('md') {
      flex-wrap: wrap;
      margin-bottom: 50px;
    }

    @include screen('sm') {
      margin-bottom: 38px;
    }
  }

  &__logo {
    display: block;
    min-width: 230px;
    width: 234px;

    @include screen('md') {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px;
    }

    @include screen('sm') {
      display: block;
      margin-bottom: 30px;
    }

    .logo {
      margin-top: -16px;

      @include screen('md') {
        margin-top: -12px;
      }

      @include screen('sm') {
        margin-top: 0;
        margin-bottom: 28px;
      }
    }
  }

  &__info {
    @include screen('sm') {
      width: 100%;
    }
  }

  &__navigation {
    display: flex;
    margin-right: 50px;

    @include screen('sm') {
      display: block;
      width: 100%;
      margin-right: 0;
      order: 2;
    }
  }

  &__list {
    margin-left: 58px;

    @include screen('sm') {
      margin-left: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-left: 53px;

      @include screen('sm') {
        margin-left: 0;
      }
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;

    @include screen('sm') {
      width: 100%;
      align-items: flex-start;
      margin-bottom: 26px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__selects {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 62px;
    }

    .choices {
      &:not(:last-child) {
        margin-right: 58px;
      }
    }
  }

  &__contacts {
    display: flex;
    align-items: center;

    @include screen('md') {
      padding-right: 4px;
    }

    .link {
      @include text16;

      line-height: (28/16);
      font-weight: 700;

      &:not(:last-child) {
        margin-right: 45px;
      }
    }
  }

  &__bottom {
    display: block;
    width: 100%;
    border-top: 1px solid $color-border-light;
    box-sizing: border-box;
    padding: 33px 0 38px;

    @include screen('md') {
      padding: 31px 0 35px;
    }

    @include screen('sm') {
      padding: 27px 0 29px;
    }
  }

  &__copyright {
    @include text16;

    line-height: (28/16);
    font-weight: 700;
    color: $color-basic;

    @include screen('sm') {
      margin-bottom: 16px;
    }
  }

  &__text {
    @include text13;

    line-height: (20/13);
    font-weight: 400;
    color: $color-basic-light;

    @include screen('sm') {
      @include text;

      line-height: 1.45;
    }
  }

  body.is-login & {
    @include screen('md') {
      padding-bottom: 70px;
    }

    @include screen('sm') {
      padding-bottom: 50px;
    }
  }

  body.is-panel & {
    @include screen('md') {
      padding-bottom: 70px;
    }
  }
}
