.footer {
  display: block;
  margin-top: 20px;
  border-top: 1px solid $color-basic;
  padding: 70px 0 0 0;

  &__logo {
    margin-right: 60px;
    display: flex;
    align-items: center;
    margin-top: -60px;
    &-cube {
      height: 54px;
      width: 47px;
      margin-right: 10px;
    }
    &-text {
      height: 21px;
      width: 113px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
  }

  &__col {
    display: flex;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 57px;
    &_left {
      margin-right: 45px;
    }
    &:last-child {
      margin-right: 0;
    }

  }

  &__link {
    color: $color-basic;
    font-weight: 700;
    transition: .3s;
    &:hover {
      color: $color-basic-dark;
    }
  }

  &__vertical-item {
    margin-bottom: 11px;
    font-size: 15px;
    letter-spacing: -0.32px;
    font-weight: 700;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  &__social-item {
    margin-right: 18px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__social-svg {
    width: 26px;
    height: 30px;
    fill: $color-basic;
    transition: .3s;
    &:hover {
      fill: $color-basic-dark;
    }
  }

  &__text {
    letter-spacing: -0.26px;
    color: $color-basic-light;
    font-size: 13px;
    
  }

  &__down {
    .container {
      padding: 35px 0;
      border-top: 1px solid $color-basic;
    }
  }

 
  .choices__inner {
    height: auto !important;
    margin-right: 20px;
    border-bottom: 0 !important;
    border: 0 !important;
    padding: 0;
  }
  .choices__list {
    border: 0;
    background: rgba(0, 0, 0, 0);
  }
  .choices__item {
    padding: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 15px;
  }
}