mixin footer()
  +b.FOOTER.footer&attributes(attributes)
    .container
      +e.top
        +e.logo
          +logo-image._footer
          +e.info(data-slot-id="footer-contacts" data-slot-res="bg")
        +e.navigation
          +nav-list(getData('footer-menu-1.json'))._small.__list
          +nav-list(getData('footer-menu-2.json'))._small.__list
          +nav-list(getData('footer-menu-3.json'))._small.__list
        +e.information
          +e.controls.hide-md(data-slot-id="footer-contacts" data-slot-res="xl")
            +e.contacts(data-target-slot="footer-contacts")
              +link()(href="mailto:info@spacepool.com")._bold info@spacepool.com
              +e.copyright.hide-sm &copy; Space Pool ltd. 2019
          +socials.__socials
      +e.bottom
        +e.copyright.hide-from-sm &copy; Space Pool ltd. 2019
        +e.text The Space Pool Service operates under the United Kingdom Urisdiction. This text have no&nbsp;any sense it&rsquo;s just some sort of&nbsp;dummie to&nbsp;show the place where we&nbsp;can put an&nbsp;information usually writen with small letters.
