.nd-footer {
  $b: &;

  display: block;
  width: 100%;
  max-width: 100vw;
  color: $nd-color-basic-light;
  background-color: $nd-color-footer-bg;
  position: relative;
  box-shadow: 0 1vw 0 0 $nd-color-footer-bg;
  padding: 78px 0 107px;
  margin-top: 165px;

  @include screen('xl', max, 2) {
    margin-top: 153px;
  }

  @include screen('xlg', max, 2) {
    padding: pxtovw(78, 1660) 0 pxtovw(107, 1660);
    margin-top: pxtovw(153, 1660);
  }

  @include screen('lg', max, 2) {
    padding: pxtovw(57, 1366) 0 pxtovw(63, 1366);
    margin-top: pxtovw(100, 1366);
  }

  @include screen('md', max, 2) {
    padding: pxtovw(50, 960) 0 pxtovw(46, 960);
    margin-top: pxtovw(88, 960);
  }

  @include screen('sm', max, 2) {
    padding: pxtovw(55, 375) 0 pxtovw(103, 375);
    margin-top: pxtovw(55, 375);
  }

  .nd-offer-panel ~ & {
    @include screen('md', max, 2) {
      padding-bottom: pxtovw(106, 960);
    }

    @include screen('sm', max, 2) {
      padding-bottom: pxtovw(163, 375);
    }
  }

  &__top {
    @include display-grid;
    @include grid-template-columns(278px 277px 1fr);
    @include grid-template-rows(auto);

    border-bottom: 1px solid $nd-color-basic-light;
    padding-bottom: 39px;

    @include screen('xl', max, 2) {
      @include grid-template-columns(260px 207px 1fr);

      padding-bottom: 41px;
    }

    @include screen('xlg', max, 2) {
      @include grid-template-columns(pxtovw(260, 1660) pxtovw(207, 1660) 1fr);

      padding-bottom: pxtovw(41, 1660);
    }

    @include screen('lg', max, 2) {
      @include grid-template-columns(pxtovw(234, 1366) pxtovw(183, 1366) 1fr);

      padding-bottom: pxtovw(18, 1366);
    }

    @include screen('md', max, 2) {
      @include grid-template-columns(54% 46%);
      @include grid-template-rows(auto auto);

      padding-bottom: pxtovw(54, 960);
    }

    @include screen('sm', max, 2) {
      @include grid-template-columns(100%);
      @include grid-template-rows(auto auto auto);

      padding-bottom: pxtovw(63, 375);
    }
  }

  &__links {
    display: block;
    box-sizing: border-box;
    padding-right: 30px;

    @include screen('xlg', max, 2) {
      padding-right: pxtovw(30, 1660);
    }

    @include screen('lg', max, 2) {
      padding-right: pxtovw(30, 1366);
    }

    @include screen('md', max, 2) {
      padding-right: pxtovw(30, 960);
    }

    @include screen('sm', max, 2) {
      padding-right: 0;
    }

    &:not(:last-child) {
      @include screen('md', max, 2) {
        margin-bottom: pxtovw(43, 960);
      }

      @include screen('sm', max, 2) {
        margin-bottom: pxtovw(48, 375);
      }
    }

    &_offers {
      @include grid-column(1, 2);
      @include grid-row(1, 2);

      @include screen('md', max, 2) {
        @include grid-column(1, 2);
        @include grid-row(1, 2);
      }

      @include screen('sm', max, 2) {
        @include grid-column(1, 2);
        @include grid-row(1, 2);
      }

      &:not(:last-child) {
        @include screen('sm', max, 2) {
          margin-bottom: pxtovw(36, 375);
        }
      }

      #{$b}__list {
        @include screen('md', max, 2) {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
        }

        @include screen('sm', max, 2) {
          display: block;
          column-count: 2;
          column-gap: pxtovw(20, 375);
          max-width: pxtovw(220, 375);
        }
      }

      #{$b}__link {
        @include screen('sm', max, 2) {
          margin-bottom: pxtovw(12, 375);
        }

        &:not(:first-child) {
          @include screen('md', max, 2) {
            margin-left: pxtovw(21, 960);
          }

          @include screen('sm', max, 2) {
            margin-left: 0;
          }
        }
      }
    }

    &_teams {
      @include grid-column(2, 3);
      @include grid-row(1, 2);

      @include screen('md', max, 2) {
        @include grid-column(2, 3);
        @include grid-row(1, 2);

        padding-right: 0;
      }

      @include screen('sm', max, 2) {
        @include grid-column(1, 2);
        @include grid-row(2, 3);
      }

      #{$b}__list {
        @include screen('md', max, 2) {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        @include screen('sm', max, 2) {
          justify-content: space-between;
        }
      }

      #{$b}__link {
        &:not(:first-child) {
          @include screen('md', max, 2) {
            margin-left: pxtovw(45, 960);
          }

          @include screen('sm', max, 2) {
            margin-left: 0;
          }
        }
      }
    }

    &_places {
      @include display-grid;
      @include grid-template-columns(1fr auto);
      @include grid-template-rows(auto auto);
      @include grid-column(3, 4);
      @include grid-row(1, 2);

      padding-right: 0;

      @include screen('md', max, 2) {
        @include grid-column(1, 3);
        @include grid-row(2, 3);

        border-top: 1px solid $nd-color-basic-light;
        padding-top: pxtovw(26, 960);
      }

      @include screen('sm', max, 2) {
        @include grid-template-columns(100%);
        @include grid-template-rows(auto auto auto);
        @include grid-column(1, 2);
        @include grid-row(3, 4);

        padding-top: pxtovw(42, 375);
      }

      #{$b}__heading {
        @include grid-column(1, 2);
        @include grid-row(1, 2);
      }

      #{$b}__list {
        column-count: 4;
        column-fill: auto;
        column-gap: 30px;

        @include grid-column(1, 2);
        @include grid-row(2, 3);

        @include screen('lg', max, 2) {
          @include grid-column(1, 3);
          @include grid-row(2, 3);

          column-gap: pxtovw(30, 1366);
        }

        @include screen('md', max, 2) {
          column-gap: pxtovw(28, 960);

          @include grid-column(1, 2);
          @include grid-row(2, 3);
        }

        @include screen('sm', max, 2) {
          column-count: 2;
          column-gap: pxtovw(20, 375);

          @include grid-column(1, 2);
          @include grid-row(2, 3);
        }
      }

      #{$b}__location {
        @include grid-column(2, 3);
        @include grid-row(2, 3);
        @include grid-align-self(start);
        @include grid-justify-self(end);

        @include screen('lg', max, 2) {
          @include grid-column(2, 3);
          @include grid-row(1, 2);
        }

        @include screen('md', max, 2) {
          @include grid-column(2, 3);
          @include grid-row(2, 3);
          @include grid-align-self(end);
        }

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(3, 4);
          @include grid-align-self(start);
          @include grid-justify-self(start);
        }
      }
    }
  }

  &__heading {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: -.02em;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(20, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(20, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(20, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(20, 375);
    }

    &:not(:last-child) {
      margin-bottom: 19px;

      @include screen('xlg', max, 2) {
        margin-bottom: pxtovw(19, 1660);
      }

      @include screen('lg', max, 2) {
        margin-bottom: pxtovw(12, 1366);
      }

      @include screen('md', max, 2) {
        margin-bottom: pxtovw(19, 960);
      }

      @include screen('sm', max, 2) {
        margin-bottom: pxtovw(21, 375);
      }
    }
  }

  &__link {
    display: flex;
    font-size: 17px;
    line-height: 1.65;
    letter-spacing: -.02em;
    font-weight: 400;
    column-span: none;
    white-space: nowrap;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(17, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(17, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(15, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
    }

    &_sm-fz13 {
      @include screen('sm', max, 2) {
        font-size: pxtovw(13, 375);
      }
    }

    &_sm-lh25 {
      @include screen('sm', max, 2) {
        line-height: 2.55;
      }
    }

    &_sm-lh26 {
      @include screen('sm', max, 2) {
        line-height: 2.6;
      }
    }

    &_right {
      justify-content: flex-end;
    }
  }

  &__location {
    font-size: 18px;
    font-weight: 700;
    line-height: (28 / 18);
    letter-spacing: normal;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(18, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(18, 1366);
    }

    @include screen('md', max, 2) {
      line-height: (18 / 15);
      font-size: pxtovw(15, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
      margin-top: pxtovw(26, 375);
    }
  }

  &__bottom {
    @include display-grid;
    @include grid-template-columns(278px 1fr auto);
    @include grid-template-rows(auto);

    padding-top: 44px;

    @include screen('xl', max, 2) {
      @include grid-template-columns(260px 1fr auto);

      padding-top: 42px;
    }

    @include screen('xlg', max, 2) {
      @include grid-template-columns(pxtovw(260, 1660) 1fr auto);

      padding-top: pxtovw(42, 1660);
    }

    @include screen('lg', max, 2) {
      @include grid-template-columns(pxtovw(234, 1366) 1fr auto);

      padding-top: pxtovw(38, 1366);
    }

    @include screen('md', max, 2) {
      @include grid-template-columns(pxtovw(234, 960) 1fr auto);

      padding-top: pxtovw(48, 960);
    }

    @include screen('sm', max, 2) {
      @include grid-template-columns(1fr 1fr);
      @include grid-template-rows(auto auto);

      padding-top: pxtovw(38, 375);
    }
  }

  &__company {
    display: block;

    @include grid-column(1, 2);
    @include grid-row(1,2);

    @include screen('sm', max, 2) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: pxtovw(50, 375);

      @include grid-column(1, 3);
      @include grid-row(2, 3);
    }
  }

  &__navigation {
    display: block;
    column-count: 2;
    column-gap: 30px;
    max-width: 524px;

    @include grid-column(2, 3);
    @include grid-row(1, 2);

    @include screen('xl', max, 2) {
      max-width: 382px;
    }

    @include screen('xlg', max, 2) {
      max-width: pxtovw(382, 1660);
    }

    @include screen('lg', max, 2) {
      max-width: pxtovw(338, 1366);
      column-gap: pxtovw(30, 1366);
    }

    @include screen('md', max, 2) {
      max-width: pxtovw(440, 960);
      column-gap: pxtovw(30, 960);
    }

    @include screen('sm', max, 2) {
      column-count: 1;
      column-gap: 0;
      max-width: none;

      @include grid-column(1, 2);
      @include grid-row(1, 2);
    }
  }

  &__contacts {
    display: block;

    @include grid-column(3, 4);
    @include grid-row(1, 2);
    @include grid-justify-self(end);

    @include screen('sm', max, 2) {
      @include grid-column(2, 3);
      @include grid-row(1, 2);
    }
  }

  &__copyright {
    display: block;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: -.02em;
    color: $nd-color-gray-text5;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(15, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(15, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(15, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
    }

    &:not(:first-child) {
      margin-top: 50px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(50, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(39, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(49, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: 0;
        margin-left: pxtovw(20, 375);
      }
    }
  }

  &__socials {
    &:not(:first-child) {
      margin-top: 17px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(17, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(12, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(38, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(20, 375);
      }
    }
  }
}
