.filter {
  $b: &;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__form {
    flex: 1;

    @include screen('bg') {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__wrapper {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 46px;

      @include screen('bg') {
        margin-right: 10px;
      }
    }

    &:first-child {
      margin-right: 40px;

      @include screen('bg') {
        margin-right: 20px;
      }
    }
  }

  &__reset {
    white-space: nowrap;
    margin-left: 50px;
  }

  &__toggle {
    position: relative;
    z-index: 17;

    &::before {
      @include pseudo;

      width: calc(100% + 28px);
      height: 70px;
      top: -12px;
      left: -14px;
      z-index: 1;
      background-color: $color-white;
      opacity: 0;
      pointer-events: none;
      transition: opacity $ease-main;
      border-radius: 3px;

      @include screen('sm') {
        left: -10px;
        top: -4px;
        height: 32px;
        width: calc(100% + 20px);
      }
    }

    &.is-active {
      pointer-events: auto;

      &::before {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &_search {

    #{$b} {

      &__wrapper {
        &:not(:last-child),&:first-child {
          margin-right: 59px;

          @include screen('md') {
            margin-right: 42px;
          }

          @include screen('sm') {
            margin-right: 30px;
          }
        }
      }
    }
  }
}
