mixin filter()
  +b.filter&attributes(attributes)
    +e.FORM.form(data-form="location-filter-big")
      +e.wrapper
        +select.js-select-dark(name="city")
          option(value="" placeholder) City
          option(value="London" selected) London
          option(value="Paris") Paris
          option(value="Moscow") Moscow
      +e.wrapper
        +select.js-select-dark(name="area")
          option(value="" placeholder) Areas
          option(value="Central London") Central London
          option(value="Stratford Area") Stratford Area
          option(value="Canary Warf") Canary Warf
          option(value="Ilford") Ilford
          option(value="Brixton") Brixton
          option(value="Richmond") Richmond
      +e.wrapper
        +select.js-select-dark(name="tube-station")
          option(value="" placeholder) Tube Stations
          option(value="Canary Warf") Canary Warf
          option(value="dddsk") Victoria Station
          option(value="Victoria Station") Campden town
          option(value="Bank") Bank
          option(value="Barking") Barking
          option(value="Barbikan") Barbikan
          option(value="Stratford") Stratford
          option(value="Richmond") Richmond
      +e.wrapper
        +select.js-select-dark(name="workplace-type")
          option(value="" placeholder) Workplace type
          option(value="htdsk") Hot Desk
          option(value="dddsk") Dedicated Desk
          option(value="room") Meeting Room
          option(value="space") Office Space
    +filter-reset.__reset.js-simple-reset.hide-sm(data-target-slot="location-clear" data-target-form="location-filter-big")

mixin filter-search()
  +b.SECTION.filter&attributes(attributes)
    +e.content
      +e.wrapper.hide-sm
        +select.js-select-dark2(name="city" readonly style="width: 76px;")
          option(value="" placeholder) City
          option(value="London" selected) London
          option(value="Paris") Paris
          option(value="Moscow") Moscow
      +e.wrapper.hide-md
        +select.js-select-dark2(name="area" style="width: 56px;")
          option(value="" placeholder) Area
          option(value="Central London") Central London
          option(value="Stratford Area") Stratford Area
          option(value="Canary Warf") Canary Warf
          option(value="Ilford") Ilford
          option(value="Brixton") Brixton
          option(value="Richmond") Richmond
      +e.wrapper
        +toggle-changed-name().__toggle.js-show-advanced-filter(data-target-filter="workplace" data-default-name="Workplace type") Workplace type
      +e.wrapper
        +toggle('0').__toggle.js-show-advanced-filter(data-target-filter="advancedSearch") Advanced search

mixin filter-reservations()
  +b.FORM.filter&attributes(attributes)
    +e.content_sb
      +e.column
        +e.wrapper.hide-from-sm
        +e.wrapper.hide-sm
          +b.LABEL.color-radio._full._dark._big.__toggle
            +e.INPUT.input(name="userType", value="tenant", type="radio", checked, data-show-elements="details-checker", data-toggle-form)
            +e.SPAN.content Sign up as a tenant
        +e.wrapper.hide-sm
          +b.LABEL.color-radio._full._dark._big.__toggle
            +e.INPUT.input(name="userType", value="host", type="radio", data-hide-elements="details-checker",data-show-elements="details", data-toggle-form)
            +e.SPAN.content Sign up as a host
        +e.wrapper.hide-sm
          +b.LABEL.color-radio._full._dark._big.__toggle
            +e.INPUT.input(name="userType", value="host", type="radio", data-hide-elements="details-checker",data-show-elements="details", data-toggle-form)
            +e.SPAN.content Sign up as a host
      +e.column
        +e.wrapper
          +e.text.hide-sm Show
