.filter {
  $b: &;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__form {
    flex: 1;

    @include screen('bg') {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__wrapper {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 46px;

      @include screen('bg') {
        margin-right: 10px;
      }
    }

    &:first-child {
      margin-right: 40px;

      @include screen('bg') {
        margin-right: 20px;
      }
    }
  }

  &__reset {
    white-space: nowrap;
    margin-left: 50px;
  }

  &_search {

    #{$b} {

      &__wrapper {

        &:not(:last-child),
        &:first-child {
          margin-right: 56px;
        }
      }
    }
  }
}
