mixin filter()
  +b.filter&attributes(attributes)
    +e.FORM.form(data-form="location-filter-big")
      +e.wrapper
        +select.js-select-dark(name="city")
          option(value="" placeholder) City
          option(value="London" selected) London
          option(value="Paris") Paris
          option(value="Moscow") Moscow
      +e.wrapper
        +select.js-select-dark(name="area")
          option(value="" placeholder) Areas
          option(value="Central London") Central London
          option(value="Stratford Area") Stratford Area
          option(value="Canary Warf") Canary Warf
          option(value="Ilford") Ilford
          option(value="Brixton") Brixton
          option(value="Richmond") Richmond
      +e.wrapper
        +select.js-select-dark(name="tube-station")
          option(value="" placeholder) Tube Stations
          option(value="Canary Warf") Canary Warf
          option(value="dddsk") Victoria Station
          option(value="Victoria Station") Campden town
          option(value="Bank") Bank
          option(value="Barking") Barking
          option(value="Barbikan") Barbikan
          option(value="Stratford") Stratford
          option(value="Richmond") Richmond
      +e.wrapper
        +select.js-select-dark(name="workplace-type")
          option(value="" placeholder) Workplace type
          option(value="htdsk") Hot Desk
          option(value="dddsk") Dedicated Desk
          option(value="room") Meeting Room
          option(value="space") Office Space
    +filter-reset.__reset.js-simple-reset.hide-sm(data-target-slot="location-clear" data-target-form="location-filter-big")

mixin filter-search()
  +b.SECTION.filter&attributes(attributes)
    +e.content
      +e.wrapper.hide-sm
        +select.js-select-dark2(name="city" readonly style="width: 76px;")
          option(value="" placeholder) City
          option(value="London" selected) London
          option(value="Paris") Paris
          option(value="Moscow") Moscow
      +e.wrapper.hide-md
        +select.js-select-dark2(name="area" style="width: 56px;")
          option(value="" placeholder) Area
          option(value="Central London") Central London
          option(value="Stratford Area") Stratford Area
          option(value="Canary Warf") Canary Warf
          option(value="Ilford") Ilford
          option(value="Brixton") Brixton
          option(value="Richmond") Richmond
      +e.wrapper
        +toggle-changed-name().__toggle.js-show-advanced-filter(data-target-filter="workplace" data-default-name="Workplace type") Workplace type
      +e.wrapper
        +toggle('0').__toggle.js-show-advanced-filter(data-target-filter="advancedSearch") Advanced search

mixin filter-reservations()
  +b.FORM.filter_reserv&attributes(attributes)
    +e.content_sb
      +e.column
        +e.wrapper_line
          +filter-select.js-offer-select
            +filter-select-head.hide-from-sm
              +filter-select-label.color-radio_full._dark._fz25._sm-noundr
                div.color-radio__content All deal types
                  +indicator._sm-small.__marker 2
            +filter-select-dropdown
              +filter-select-header.hide-from-sm Deal types
              +filter-select-item
                +b.LABEL.color-radio._full._fz25._dark._sm-noundr.__radio
                  +e.INPUT.input(name="dealType", value="all", type="radio", checked data-offer-input)
                  +e.SPAN.content.hide-from-sm(data-select-value) All deal types
                    +indicator._sm-small.__marker 2
                  +e.SPAN.content.hide-sm All contracts
              +filter-select-item
                +b.LABEL.color-radio._full._fz25._dark._sm-noundr._marker.__radio
                  +e.INPUT.input(name="dealType", value="viewings", type="radio" data-offer-input)
                  +e.SPAN.content(data-select-value) Viewings
                    +indicator._sm-small.__marker 2
              +filter-select-item
                +b.LABEL.color-radio._full._fz25._dark._sm-noundr._marker.__radio
                  +e.INPUT.input(name="dealType", value="tenacies", type="radio" data-offer-input)
                  +e.SPAN.content(data-select-value) Tenancies
                    +indicator._sm-small.__marker 1
        //- +e.wrapper.hide-sm
        //-   +b.LABEL.color-radio._full._fz25._dark.__toggle
        //-     +e.INPUT.input(name="dealType", value="all", type="radio", checked)
        //-     +e.SPAN.content All contracts
        //- +e.wrapper.hide-sm
        //-   +b.LABEL.color-radio._full._fz25._dark._marker.__toggle
        //-     +e.INPUT.input(name="dealType", value="viewings", type="radio")
        //-     +e.SPAN.content Viewings
        //-       +indicator.__marker 2
        //- +e.wrapper.hide-sm
        //-   +b.LABEL.color-radio._full._fz25._dark._marker.__toggle
        //-     +e.INPUT.input(name="dealType", value="tenacies", type="radio")
        //-     +e.SPAN.content Tenancies
        //-       +indicator.__marker 1
      +e.column
        +e.wrapper_line
          +e.text.hide-sm Show
          +select.js-select-dark3(name="area" style="width: 56px;" placeholder="Deal status")
            option(value="all" selected) All deal statuses
            option(value="Request") Request
            option(value="Upcoming") Upcoming event
            option(value="Active") Active contract
            option(value="Finished") Finished contract
