.slogan {
  $b: &;

  @include text13;

  font-weight: 700;
  line-height: (26/13);
  letter-spacing: .2em;
  color: $color-landing-subtitles;
  text-transform: uppercase;

  @include screen('sm') {
    @include text10;

    line-height: (20/10);
    letter-spacing: .2em;
  }
}
