.link {
  $b: &;

  @include link;

  &_icon {
    position: relative;
    padding-left: 38px;

    @include screen('xl') {
      padding-left: 34px;
    }

    @include screen('sm') {
      padding-left: 35px;
    }
  }

  &_bold {
    font-weight: 700;
  }

  &_white {
    color: $color-white;

    &:not(.link_icon):hover {
      color: rgba($color-white, .6);
    }

    &.link_icon:hover {
      color: $color-white;
    }
  }

  &_blue {
    color: $color-accent;
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    transform: translate3d(0, -50%, 0);
    font-size: 0;
    filter: drop-shadow(1px 1px 0 rgba(34, 42, 46, .2));
    transition: transform $ease-main;

    #{$b}:hover &_download {
      transform: translate3d(0, -40%, 0);
    }
  }

  &__text {
    transition: border $ease-main;

    #{$b}_bordered & {
      border-bottom: 1px solid transparent;
    }

    #{$b}_bordered:hover & {
      border-bottom: 1px solid $color-link-border;
    }

    #{$b}_underline & {
      display: inline-block;
      border-bottom: 1px solid currentColor;
    }
  }

  &_bordered {
    @include link-bordered;
  }

  &.is-disabled {
    pointer-events: none;

    @include link-disabled;
  }
}
