.link {
  $b: &;

  @include link;

  &_icon {
    position: relative;
    padding-left: 37px;
  }

  &_bold {
    font-weight: 700;
  }

  &_white {
    color: $color-white;

    &:hover {
      color: rgba($color-white, .6);
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    transform: translate3d(0, -50%, 0);
    font-size: 0;
  }

  &__text {
    transition: border $ease-main;

    #{$b}_bordered & {
      border-bottom: 1px solid transparent;
    }

    #{$b}_bordered:hover & {
      border-bottom: 1px solid $color-link-border;
    }
  }

  &_bordered {
    @include link-bordered;
  }

  &.is-disabled {
    pointer-events: none;
    fill: $color-border;

    @include link-disabled;
  }
}
