.link {
  $b: &;

  @include link;

  display: inline-block;
  box-sizing: border-box;

  &::before {
    @include pseudo;

    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: $color-basic;
    box-sizing: border-box;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    pointer-events: none;
  }

  &_icon {
    position: relative;
    padding-left: 38px;

    @include screen('lg') {
      padding-left: 34px;
    }

    @include screen('sm') {
      padding-left: 35px;
    }

    &_mid {
      padding-left: 32px;

      @include screen('lg') {
        padding-left: 30px;
      }
    }

    &_pad30 {
      padding-left: 30px;
    }

    &_pad35 {
      padding-left: 35px;
    }

    &_pad27 {
      padding-left: 27px;
    }

    &_small {
      padding-left: 25px;
    }

    &_mid-small {
      padding-left: 23px;
    }

    &_smaller {
      padding-left: 20px;
    }

    &_dark {
      fill: $color-basic;
    }

    &_gray {
      fill: $color-basic-light;
    }

    &_gray-dark {
      fill: $color-icon-gray-another;
    }

    &_light {
      fill: $color-icon-gray-onemore;
    }

    &_black {
      fill: $color-black;
    }

    &_right {
      padding-left: 0;
      padding-right: 30px;

      &_pr25 {
        padding-right: 25px;
      }

      &_pr44 {
        padding-right: 44px;

        @include screen('sm') {
          padding-right: 35px;
        }
      }

      &_pr50 {
        padding-right: 50px;

        @include screen('sm') {
          padding-right: 40px;
        }
      }
    }
  }

  &_back {
    padding-left: 28px;

    @include screen('sm') {
      padding-left: 20px;
    }

    &_v2 {
      padding-left: 45px;

      @include screen('sm') {
        padding-left: 35px;
      }
    }

    &_pl22 {
      padding-left: 22px;

      @include screen('sm') {
        padding-left: 20px;
      }
    }
  }

  &_forward {
    padding-left: 0;
    padding-right: 28px;

    @include screen('sm') {
      padding-left: 0;
      padding-right: 20px;
    }
  }

  &_bold {
    font-weight: 700;
  }

  &_white {
    color: $color-white;

    // &:not(.link_icon):hover {
    //   color: rgba($color-white, .6);
    // }

    &:hover {
      color: $color-white;
    }

    &:hover #{$b}__text {
      opacity: .6;
    }
  }

  &_gray {
    color: $color-basic-light;
  }

  &_blue {
    color: $color-accent;
  }

  &_gray-light {
    color: $color-gray-lighter;

    #{$b}__icon {
      fill: $color-basic-light;
    }
  }

  &_gray-dark {
    color: $color-link-gray;

    #{$b}__icon {
      fill: $color-link-gray;
    }
  }

  &_mfz12 {
    @include screen('sm') {
      @include text12;

      letter-spacing: -.03em;
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    transform: translate3d(0, -50%, 0);
    font-size: 0;
    filter: drop-shadow(1px 1px 0 rgba(34, 42, 46, .2));
    transition: transform $ease-main;

    &_download {
      #{$b}_download-small & {
        width: 15px;
        height: 15px;

        @include screen('sm') {
          width: 12px;
          height: 12px;
        }
      }
    }

    #{$b}:hover &_download {
      transform: translate3d(0, -40%, 0);
    }

    &_select-arrow {
      width: 12px;
      height: 7px;
      transform-origin: 50% 50%;
      transform: translate3d(0, -50%, 0) rotate(90deg);

      #{$b}_forward & {
        left: auto;
        right: 0;
        transform: translate3d(0, -50%, 0) rotate(270deg);
      }
    }

    &_back {
      width: 8px;
      height: 13px;
      transform-origin: 50% 50%;

      #{$b}_forward & {
        left: auto;
        right: 0;
        transform: rotate(180deg);
      }
    }

    &_cross {
      width: 8px;
      height: 8px;
    }

    &_round-cross {
      width: 15px;
      height: 15px;
    }

    &_document {
      width: 13px;
      height: 17px;
    }

    &_pan {
      width: 14px;
      height: 14px;
    }

    &_breafcase {
      width: 24px;
      height: 20px;
    }

    &_key {
      width: 18px;
      height: 18px;
    }

    &_img {
      width: 17px;
      height: 15px;

      #{$b}_icon_sz & {
        width: 13px;
        height: 12px;
      }
    }

    &_calendar2 {
      width: 14px;
      height: 14px;

      #{$b}_cal-v2 & {
        width: 12px;
        height: 12px;
      }
    }

    &_save {
      width: 15px;
      height: 15px;

      @include screen('sm') {
        width: 10px;
        height: 10px;
      }
    }

    &_location {
      width: 11px;
      height: 17px;
    }

    &_strings {
      width: 16px;
      height: 12px;
    }

    &_boxes {
      width: 19px;
      height: 17px;
    }

    &_photo {
      width: 17px;
      height: 13px;
    }

    &_rules {
      width: 12px;
      height: 15px;
    }

    &_check-form {
      width: 17px;
      height: 14px;
    }

    &_preview {
      width: 15px;
      height: 14px;
    }

    &_map {
      width: 17px;
      height: 17px;
    }

    &_card {
      width: 24px;
      height: 19px;
    }

    &_plus-thin {
      width: 22px;
      height: 22px;
    }

    &_arrow5 {
      height: 7px;
      width: 14px;
    }

    #{$b}_no-shadow & {
      filter: none;
    }

    #{$b}_icon_right & {
      left: auto;
      right: 0;
    }
  }

  &__text {
    transition: border $ease-main, opacity $ease-main;

    #{$b}_bordered & {
      border-bottom: 1px solid transparent;
    }

    #{$b}_bordered:hover & {
      border-bottom: 1px solid $color-link-border;
    }

    #{$b}_underline & {
      border-bottom: 1px solid currentColor;
    }

    #{$b}_light-underline & {
      border-bottom: 1px solid $color-border-light;
    }

    #{$b}_form-underline & {
      border-bottom: 1px solid $color-form-border;
    }

    #{$b}_white-underline & {
      border-bottom: 1px solid rgba($color-white, .6);
    }

    #{$b}_light-underline:hover & {
      border-bottom: 1px solid $color-basic;
    }

    #{$b}_form-underline:hover & {
      border-bottom: 1px solid $color-basic;
    }
  }

  &__marker {
    display: none;

    #{$b}_mark & {
      margin-left: 12px;
    }

    #{$b}.is-new & {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &_bordered {
    @include link-bordered;
  }

  &_mark {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
  }

  &.is-disabled {
    pointer-events: none;

    @include link-disabled;
  }

  &.is-select {
    position: relative;
    color: $color-white;

    #{$b} {
      &__text {
        position: relative;
        z-index: 2;
        border-color: $color-basic;
      }
    }

    &::before {
      @include pseudo;

      top: 50%;
      left: 50%;
      width: calc(100% + 16px);
      height: calc(100% + 6px);
      background-color: $color-basic;
      box-sizing: border-box;
      z-index: 1;
      transform: translate3d(-50%, -50%, 0);
      opacity: 1;
      pointer-events: auto;
    }
  }
}
