mixin link(tag)
  +b(tag || 'a').link&attributes(attributes)
    +e.SPAN.text
      block

mixin link-icon(iconname, tag)
  +b(tag || 'a').link&attributes(attributes)._icon
    +icon(iconname)(class="__icon _" + iconname)
    +e.SPAN.text
      block

mixin nd-link(tag)
  +b(tag || 'a').nd-link&attributes(attributes)
    +e.SPAN.text
      block

mixin nd-link-icon(iconname, tag)
  +b(tag || 'a').nd-link_icon&attributes(attributes)
    +icon(iconname)(class="__icon _" + iconname)
    +e.SPAN.text
      block

mixin nd-link-icon-end(iconname, tag)
  +b(tag || 'a').nd-link_icon._icon_end&attributes(attributes)
    +e.SPAN.text
      block
    +icon(iconname)(class="__icon _" + iconname)

mixin nd-link-image(iconname, tag)
  +b(tag || 'a').nd-link_icon&attributes(attributes)
    +e.IMG(src=("assets/images/nd/" + iconname + ".svg") class=("__icon _" + iconname))
    +e.SPAN.text
      block

mixin nd-link-pdf(data)
  +b(data.tag || 'a').nd-link_pdf&attributes(attributes)
    if data.icon
      +icon(data.icon)(class="__icon _" + data.icon)
    if data.text
      +e.SPAN.text!=data.text
    +e.type!=(data.type || 'pdf')
    block
