mixin link()
  +b.A.link&attributes(attributes)
    +e.SPAN.text
      block

mixin link-icon(iconname)
  +b.A.link&attributes(attributes)._icon
    +icon(iconname)(class="__icon _" + iconname)
    +e.SPAN.text
      block
