.nd-link {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  color: currentColor;
  text-decoration: none;
  fill: currentColor;

  $b: &;

  &__text {
    display: inline;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    transition: background $ease-main;
    text-decoration: none;
    background-position: 0 calc(50% + .5em);
    background-size: 2px 2px;
    background-repeat: repeat-x;

    @include screen('xlg', max, 2) {
      background-size: pxtovw(2, 1660) pxtovw(2, 1660);
    }

    @include screen('lg', max, 2) {
      background-size: pxtovw(2, 1366) pxtovw(2, 1366);
    }

    @include screen('md', max, 2) {
      background-size: pxtovw(2, 960) pxtovw(2, 960);
    }

    @include screen('sm', max, 2) {
      background-size: pxtovw(2, 375) pxtovw(2, 375);
    }

    #{$b}_underline & {
      text-decoration: underline;
    }
  }

  &:hover {
    #{$b}__text {
      background-image: linear-gradient($nd-color-main, $nd-color-main);
      // text-decoration: underline $nd-color-main;
    }
  }

  &__icon {
    display: inline;
    vertical-align: middle;
    fill: inherit;

    &:not(:last-child) {
      margin-right: 16px;

      @include screen('xlg', max, 2) {
        margin-right: pxtovw(16, 1660);
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(16, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(9, 960);
      }

      @include screen('sm', max, 2) {
        margin-right: pxtovw(9, 375);
      }

      #{$b}_icon_reverse & {
        margin-right: 0;

        @include rule(margin-left, (xl: 12px, xlg: 12, lg: 12, md: 12, sm: 12));
      }
    }

    &_reload {
      @include rule(width, (xl: 14px, xlg: 14, lg: 14, md: 14, sm: 14));
      @include rule(height, (xl: 14px, xlg: 14, lg: 14, md: 14, sm: 14));

      #{$b}_icon_reverse & {
        &:not(:last-child) {
          margin-right: 0;

          @include rule(margin-left, (xl: 8px, xlg: 8, lg: 8, md: 8, sm: 8));
        }
      }
    }

    &_share {
      @include rule(width, (xl: 11px, xlg: 11, lg: 11, md: 11, sm: 11));
      @include rule(height, (xl: 11px, xlg: 11, lg: 11, md: 11, sm: 11));

      &:not(:last-child) {
        @include rule(margin-right, (xl: 10px, xlg: 10, lg: 10, md: 10, sm: 10));
      }
    }

    &_nd-user {
      width: 13px;
      height: 13px;

      @include screen('lg', max, 2) {
        width: pxtovw(13, 1366);
        height: pxtovw(13, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(13, 960);
        height: pxtovw(13, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(13, 375);
        height: pxtovw(13, 375);
      }
    }

    &_nd-burger {
      width: 12px;
      height: 12px;

      @include screen('xlg', max, 2) {
        width: pxtovw(12, 1660);
        height: pxtovw(12, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(12, 1366);
        height: pxtovw(12, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(12, 960);
        height: pxtovw(9, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(12, 375);
        height: pxtovw(9, 375);
      }
    }

    &_nd-burger2 {
      width: 15px;
      height: 15px;

      @include screen('lg', max, 2) {
        width: pxtovw(15, 1366);
        height: pxtovw(15, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(15, 960);
        height: pxtovw(15, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(15, 375);
        height: pxtovw(15, 375);
      }
    }

    &_nd-pan {
      width: 14px;
      height: 14px;

      @include screen('lg', max, 2) {
        width: pxtovw(14, 1366);
        height: pxtovw(14, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(14, 960);
        height: pxtovw(14, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(14, 375);
        height: pxtovw(14, 375);
      }
    }

    &_nd-preview {
      @include rule(width, (xl: 17px, xlg: 17, lg: 17, md: 17, sm: 17));
      @include rule(height, (xl: 15px, xlg: 15, lg: 15, md: 15, sm: 15));

      &:not(:last-child) {
        #{$b}_icon_reverse & {
          @include rule(margin-left, (xl: 15px, xlg: 15, lg: 15, md: 15, sm: 15));
        }
      }
    }

    &_arrow2 {
      @include rule(width, (xl: 6px, xlg: 6, lg: 6, md: 6, sm: 6));
      @include rule(height, (xl: 10px, xlg: 10, lg: 10, md: 10, sm: 10));
    }

    &_back {
      @include rule(width, (xl: 9px, xlg: 9, lg: 9, md: 9, sm: 9));
      @include rule(height, (xl: 14px, xlg: 14, lg: 14, md: 14, sm: 14));
    }

    &_call {
      @include rule(width, (xl: 26px, xlg: 26, lg: 26, md: 26, sm: 26));
      @include rule(height, (xl: 26px, xlg: 26, lg: 26, md: 26, sm: 26));

      &:not(:last-child) {
        @include rule(margin-right, (xl: 9px, xlg: 9, lg: 9, md: 9, sm: 9));
      }
    }

    &_nd-plus {
      @include rule(width, (xl: 22px, xlg: 22, lg: 22, md: 22, sm: 22));
      @include rule(height, (xl: 22px, xlg: 22, lg: 22, md: 22, sm: 22));

      &:not(:last-child) {
        @include rule(margin-right, (xl: 18px, xlg: 18, lg: 18, md: 18, sm: 18));
      }
    }

    &_cross {
      width: 14px;
      height: 14px;

      @include screen('xlg', max, 2) {
        width: pxtovw(14, 1660);
        height: pxtovw(14, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(14, 1366);
        height: pxtovw(14, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(14, 960);
        height: pxtovw(14, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(14, 375);
        height: pxtovw(14, 375);
      }
    }

    &_arrow5 {
      width: 13px;
      height: 7px;

      @include screen('xlg', max, 2) {
        width: pxtovw(13, 1660);
        height: pxtovw(7, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(13, 1366);
        height: pxtovw(7, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(13, 960);
        height: pxtovw(7, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(13, 375);
        height: pxtovw(7, 375);
      }
    }

    &_nd-edit {
      @include rule(width, (xl: 17px, xlg: 17, lg: 17, md: 17, sm: 17));
      @include rule(height, (xl: 15px, xlg: 15, lg: 15, md: 15, sm: 15));

      &:not(:last-child) {
        @include rule(margin-right, (xl: 13px, xlg: 13, lg: 13, md: 13, sm: 13));
      }
    }

    &_nd-view {
      @include rule(width, (xl: 17px, xlg: 17, lg: 17, md: 17, sm: 17));
      @include rule(height, (xl: 15px, xlg: 15, lg: 15, md: 15, sm: 15));

      &:not(:last-child) {
        @include rule(margin-right, (xl: 13px, xlg: 13, lg: 13, md: 13, sm: 13));
      }
    }

    &_arrow6 {
      @include rule(width, (xl: 23px, xlg: 23, lg: 23, md: 23, sm: 22));
      @include rule(height, (xl: 11px, xlg: 11, lg: 11, md: 11, sm: 11));
    }

    &_nd-cancel {
      width: 17px;
      height: 19px;

      @include screen('xlg', max, 2) {
        width: pxtovw(17, 1660);
        height: pxtovw(19, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(17, 1366);
        height: pxtovw(19, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(17, 960);
        height: pxtovw(19, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(17, 375);
        height: pxtovw(19, 375);
      }

      &:not(:last-child) {
        margin-right: 15px;

        @include screen('xlg', max, 2) {
          margin-right: pxtovw(15, 1660);
        }

        @include screen('lg', max, 2) {
          margin-right: pxtovw(8, 1366);
        }

        @include screen('md', max, 2) {
          margin-right: pxtovw(8, 960);
        }

        @include screen('sm', max, 2) {
          margin-right: pxtovw(8, 375);
        }
      }
    }

    &_nd-document {
      width: 15px;
      height: 18px;

      @include screen('xlg', max, 2) {
        width: pxtovw(15, 1660);
        height: pxtovw(18, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(15, 1366);
        height: pxtovw(18, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(15, 960);
        height: pxtovw(18, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(15, 375);
        height: pxtovw(18, 375);
      }

      &:not(:last-child) {
        margin-right: 15px;

        @include screen('xlg', max, 2) {
          margin-right: pxtovw(15, 1660);
        }

        @include screen('lg', max, 2) {
          margin-right: pxtovw(11, 1366);
        }

        @include screen('md', max, 2) {
          margin-right: pxtovw(11, 960);
        }

        @include screen('sm', max, 2) {
          margin-right: pxtovw(11, 375);
        }
      }
    }

    &_calendar2 {
      @include rule(width, (xl: 15px, xlg: 15, lg: 15, md: 15, sm: 15));
      @include rule(height, (xl: 15px, xlg: 15, lg: 15, md: 15, sm: 15));

      &:not(:last-child) {
        @include rule(margin-right, (xl: 9px, xlg: 9, lg: 9, md: 9, sm: 9));
      }
    }
  }

  &__type {
    display: inline-block;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 18px;
    color: $nd-color-basic-light;
    text-transform: uppercase;
    font-weight: 600;
    background-color: $nd-color-border4;
    transition: background $ease-main;
    min-width: 40px;
    text-align: center;
    border-radius: 3px;
    white-space: nowrap;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(13, 1660);
      line-height: pxtovw(18, 1660);
      min-width: pxtovw(40, 1660);
      border-radius: pxtovw(3, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(13, 1366);
      line-height: pxtovw(18, 1366);
      min-width: pxtovw(40, 1366);
      border-radius: pxtovw(3, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(13, 960);
      line-height: pxtovw(18, 960);
      min-width: pxtovw(40, 960);
      border-radius: pxtovw(3, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(13, 375);
      line-height: pxtovw(18, 375);
      min-width: pxtovw(40, 375);
      border-radius: pxtovw(3, 375);
    }

    #{$b}:hover & {
      background-color: $nd-color-main;
    }

    #{$b}_sm-blue & {
      @include screen('sm', max, 2) {
        background-color: $nd-color-main;
      }
    }

    &:not(:first-child) {
      margin-left: 13px;

      @include screen('xlg', max, 2) {
        margin-left: pxtovw(13, 1660);
      }

      @include screen('lg', max, 2) {
        margin-left: pxtovw(13, 1366);
      }

      @include screen('md', max, 2) {
        margin-left: pxtovw(13, 960);
      }

      @include screen('sm', max, 2) {
        margin-left: pxtovw(13, 375);
      }
    }
  }

  &_underline:hover {
    #{$b}__text {
      text-decoration: none;
      background-image: none;
    }
  }

  &_underline_hovertoo:hover {
    #{$b}__text {
      text-decoration: underline;
      background-image: none;
    }
  }

  &_icon_gray {
    fill: $nd-color-gray-text4;
  }

  &_icon_blue {
    fill: $nd-color-main;
  }

  &_icon_black {
    fill: $nd-color-basic;
  }

  &_icon_reverse {
    flex-direction: row-reverse;
  }

  &_back {
    #{$b} {
      &__icon {
        width: 13px;
        height: 7px;

        @include screen('xlg', max, 2) {
          width: pxtovw(13, 1660);
          height: pxtovw(7, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(13, 1366);
          height: pxtovw(7, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(13, 960);
          height: pxtovw(7, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(21, 375);
          height: pxtovw(11, 375);
        }

        &:not(:last-child) {
          margin-right: 32px;

          @include screen('xlg', max, 2) {
            margin-right: pxtovw(32, 1660);
          }

          @include screen('lg', max, 2) {
            margin-right: pxtovw(32, 1366);
          }

          @include screen('md', max, 2) {
            margin-right: pxtovw(32, 960);
          }

          @include screen('sm', max, 2) {
            margin-right: pxtovw(32, 375);
          }
        }
      }
    }

    &_long {
      #{$b} {
        &__icon {
          @include rule(width, (xl: 23px, xlg: 23, lg: 23, md: 23, sm: 22));
          @include rule(height, (xl: 11px, xlg: 11, lg: 11, md: 11, sm: 11));

          &:not(:last-child) {
            @include rule(margin-right, (xl: 18px, xlg: 18, lg: 18, md: 18, sm: 14));
          }
        }
      }
    }

    &_md21 {
      #{$b} {
        &__icon {
          @include screen('md', max, 2) {
            width: pxtovw(21, 960);
            height: pxtovw(11, 960);
          }

          @include screen('sm', max, 2) {
            width: pxtovw(21, 375);
            height: pxtovw(11, 375);
          }

          &:not(:last-child) {
            @include screen('md', max, 2) {
              margin-right: 0;
            }
          }
        }
      }
    }

    &_sm-cross {
      @include screen('sm', max, 2) {
        position: relative;
      }

      &::before {
        @include screen('sm', max, 2) {
          @include pseudo;

          top: 50%;
          left: 0;
          width: pxtovw(20, 375);
          height: pxtovw(20, 375);
          background-position: 0 50%;
          background-size: pxtovw(15, 375);
          background-repeat: no-repeat;
          transform: translate3d(0, -50%, 0);
          background-image: $icon-bold-cross;
        }
      }

      #{$b} {
        &__icon {
          @include screen('sm', max, 2) {
            opacity: 0;
          }
        }
      }
    }
  }

  &_next {
    #{$b} {
      &__icon {
        order: 2;
        width: 13px;
        height: 7px;

        @include screen('xlg', max, 2) {
          width: pxtovw(13, 1660);
          height: pxtovw(7, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(13, 1366);
          height: pxtovw(7, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(13, 960);
          height: pxtovw(7, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(13, 375);
          height: pxtovw(7, 375);
        }

        &:not(:last-child) {
          margin-right: 0;
          margin-left: 23px;

          @include screen('xlg', max, 2) {
            margin-left: pxtovw(23, 1660);
          }

          @include screen('lg', max, 2) {
            margin-left: pxtovw(23, 1366);
          }

          @include screen('md', max, 2) {
            margin-left: pxtovw(23, 960);
          }

          @include screen('sm', max, 2) {
            margin-left: pxtovw(8, 375);
          }
        }
      }
    }
  }

  &_upload {
    #{$b} {
      &__icon {
        width: 16px;
        height: 14px;
        order: 2;

        @include screen('xlg', max, 2) {
          width: pxtovw(16, 1660);
          height: pxtovw(14, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(16, 1366);
          height: pxtovw(14, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(16, 960);
          height: pxtovw(14, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(16, 375);
          height: pxtovw(14, 375);
        }

        &:not(:last-child) {
          margin-right: 0;
          margin-left: 15px;

          @include screen('xlg', max, 2) {
            margin-left: pxtovw(15, 1660);
          }

          @include screen('lg', max, 2) {
            margin-left: pxtovw(15, 1366);
          }

          @include screen('md', max, 2) {
            margin-left: pxtovw(15, 960);
          }

          @include screen('sm', max, 2) {
            margin-left: pxtovw(15, 375);
          }
        }
      }
    }
  }

  &_pdf {
    display: inline-flex;
    cursor: pointer;

    &_drop {
      position: relative;
      -webkit-tap-highlight-color: transparent;

      #{$b} {
        &__drop {
          opacity: 0;
          pointer-events: none;
          visibility: hidden;
          transition: opacity $ease-main;
          position: absolute;
          bottom: 100%;
          z-index: 2;
          -webkit-tap-highlight-color: transparent;

          @include rule(right, (xl: -4px, xlg: -4, lg: -4, md: -4, sm: -4));
          @include rule(padding-bottom, (xl: 17px, xlg: 17, lg: 17, md: 17, sm: 10));
        }

        &__type {
          -webkit-tap-highlight-color: auto;
        }
      }

      &:hover #{$b}__drop {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }

      &_sm-static {
        @include screen('sm', max, 2) {
          position: static;
        }

        #{$b} {
          &__drop {
            @include screen('sm', max, 2) {
              position: static;
              opacity: 1;
              visibility: visible;
              pointer-events: auto;
              padding-bottom: 0;
              width: 100%;
            }
          }

          &__type, &__name, &__icon {
            @include screen('sm', max, 2) {
              display: none;
            }
          }
        }
      }
    }
  }

  &_blue {
    color: $nd-color-main;
  }

  &_next_angle {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 6px 11px;
    background-image: $icon-angle-small-next;

    @include screen('xlg', max, 2) {
      padding-right: pxtovw(20, 1660);
      background-size: pxtovw(6, 1660) pxtovw(11, 1660);
    }

    @include screen('lg', max, 2) {
      padding-right: pxtovw(20, 1366);
      background-size: pxtovw(6, 1366) pxtovw(11, 1366);
    }

    @include screen('md', max, 2) {
      padding-right: pxtovw(20, 960);
      background-size: pxtovw(6, 960) pxtovw(11, 960);
    }

    @include screen('sm', max, 2) {
      padding-right: pxtovw(20, 375);
      background-size: pxtovw(6, 375) pxtovw(11, 375);
    }
  }

  &.is-disabled {
    opacity: .2;
    cursor: not-allowed;
    pointer-events: none;
  }

  &_block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    border-top: 1px solid $nd-color-border4;
    color: $nd-color-main;
    width: 100%;
    font-family: $font-stolzl;
    font-weight: 400;
    letter-spacing: normal;

    @include rule(padding-left, (xl: 40px, xlg: 40, lg: 40, md: 40, sm: 40));
    @include rule(padding-right, (xl: 40px, xlg: 40, lg: 40, md: 40, sm: 40));
    @include rule(height, (xl: 60px, xlg: 60, lg: 60, md: 60, sm: 60));

    #{$b} {

      &__icon {
        position: absolute;
        top: 50%;
        transform-origin: 50% 50%;
        transform: translate3d(0, -50%, 0);

        @include rule(left, (xl: 20px, xlg: 20, lg: 20, md: 20, sm: 20));
        @include rule(width, (xl: 13px, xlg: 13, lg: 13, md: 13, sm: 13));
        @include rule(height, (xl: 13px, xlg: 13, lg: 13, md: 13, sm: 13));
      }
    }
  }
}
