.card-mask {
  $b: &;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__item {
    display: inline-block;
    font-size: 0;
    line-height: 0;

    &:not(:last-child) {
      margin-right: 14px;

      @include screen('sm') {
        margin-right: 10px;
      }

      #{$b}_star & {
        margin-right: 18px;

        @include screen('sm') {
          margin-right: 10px;
        }
      }
    }
  }

  &__text {
    @include text-big;

    font-weight: 700;

    @include screen('sm') {
      @include text15;
    }

    &_fw400 {
      font-weight: 400;
    }
  }
}
