mixin card-mask()
  +b.card-mask&attributes(attributes)
    +e.item
      +dots
        +dots-dot
        +dots-dot
        +dots-dot
        +dots-dot
    +e.item
      +dots
        +dots-dot
        +dots-dot
        +dots-dot
        +dots-dot
    +e.item
      +dots
        +dots-dot
        +dots-dot
        +dots-dot
        +dots-dot
    +e.item
      +e.text
        block
