.loader {
  $b: &;

	width: 10px;
	height: 10px;
	box-shadow: 10px 10px rgb(223,223,223), -10px 10px rgb(255,149,0), -10px -10px rgb(223,223,223), 10px -10px rgb(255,149,0);
	animation: cssload-spin ease infinite 4.6s;
}
