.popup-chat {
  $b: &;

  &__informer {
    display: block;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 2;

    @include screen('sm') {
      top: 50px;
    }
  }
}
