mixin popup-chat()
  +popup-mobile.popup-chat__&attributes(attributes)
    +popup-header
      +short-profile-ext({ image: 'assets/images/ava6.jpg', name: 'Maria Bernetta', post: 'Manager:'})._ext_reverse(href='#').popup__profile
    +popup-content
      +informer._sb.__informer
        +state._white._orange Please sign the contract
      div.popup__scrollblock.js-scrollbar
        div.popup__inner-content.popup__inner-content_informer
          +dialog3
    +popup-footer
      +message-form._chat
