mixin offer-list(data)
  +b.UL.offer-list&attributes(attributes)
    each item in data
      +e.LI.item
        +offer-info()(class="_light _short " + item.status)
          +box(class="_size10 " + item.box)
          +e.title #{item.name} <span class="offer-info__count">#{item.count}</span>

mixin offer-list-light(data)
  +b.UL.offer-list&attributes(attributes)
    each item in data
      +e.LI.item
        +offer-info()(class="_short " + item.status)
          +box(class="_size10 " + item.box)
          +e.title #{item.name} <span class="offer-info__count">#{item.count}</span>
