mixin popup-order-summary()
  +popup._big.popup-order-summary__&attributes(attributes)
    +popup-header.popup__header_white.popup__header_fx
      +popup-title Order summary
      div.popup__info
        div.popup__header-icon
          +icon('long-arrow', true).popup__arrow
        div.popup__header-text Please check the offer, it’s price and other deal information
    block


mixin popup-order-summary-mobile()
  +popup-mobile._white.popup-order-summary__&attributes(attributes)
    +popup-header.popup__header_white.popup__header_border
      +popup-title Order Summary
    +popup-content
      block

mixin popup-order-summary-g()
  +popup._big.popup-order-summary__&attributes(attributes)
    +popup-header.popup__header_white.popup__header_fx
      +popup-title Order summary
      div.popup__info
        div.popup__header-icon
          +icon('long-arrow', true).popup__arrow
        div.popup__header-text Please check the offer, it’s price and other deal information
    block


mixin popup-order-summary-mobile-g()
  +popup-mobile._white.popup-order-summary__&attributes(attributes)
    +popup-header.popup__header_white.popup__header_border
      +popup-title Order Summary
    +popup-content
      block
