mixin popup-arrange-viewing()
  +popup.popup-arrange-viewing__&attributes(attributes)
    +e.section(data-record-step="1").is-active
      +calendar('Arrange viewing')
    +e.section(data-record-step="2")
      +e.heading
        +popup-title Arrange viewing
      +e.content
        +form._white
          +form-section._mg33
            +form-section-header._mg9
              +form-section-title('h4')._mid You are about to arrange viewing for
            +info._light-border._xs-reverse
              +e.cell
                +e.INPUT.input_big(type="text" name="date" data-calendar-output readonly="readonly")
              +e.cell_afend
                +link-icon('calendar2')(href="#" data-record-step-target="1")._icon_smaller._icon_gray-dark._no-shadow.__link.js-switch-record-step Change date
          +form-section
            +form-section-header._mg21
              +form-section-title('h4')._smaller Please set time:
            +grid.grid_bigger
              +col({xl: 6, sm: 12})
                +form-section-wrapper
                  +form-box('')
                    +select.js-select-input(name="time")
                      option(value="1:00") 1:00
                      option(value="2:00") 2:00
                      option(value="3:00") 3:00
                      option(value="4:00") 4:00
                      option(value="5:00") 5:00
                      option(value="6:00") 6:00
                      option(value="7:00") 7:00
                      option(value="8:00" selected) 8:00
                      option(value="9:00") 9:00
                      option(value="10:00") 10:00
                      option(value="11:00") 11:00
                      option(value="12:00") 12:00
              +col({xl: 6, sm: 12})
                +form-section-wrapper
                  +form-box('')
                    +select.js-select-input(name="dayPart")
                      option(value="AM" selected) AM
                      option(value="PM") PM
            +e.buttons
              +button('button')(type="submit")._short._wide Request viewing
