mixin nd-popup-arrange-viewing()
  +nd-popup.nd-popup-arrange-viewing__&attributes(attributes)
    +nd-popup-header
      +nd-popup-back().js-nd-popup(href="#popup-offer-types") Back
      +nd-popup-title Set viewing date/time
    +nd-popup-content()
      .nd-container
        +e.calendar(data-dates-container)
        block
    +nd-popup-footer()(data-dates-timeblock)
      .nd-container
        +arrange-viewing-form
