extends ../../layouts/default-special

block head
  - var pageTitle = 'SpacePool - About Space Pool for Guests'

block content


block panels
  +main-menu-special
    +nav-list(getData('main-menu-special.json'))
