.review-counter {
  $b: &;

  display: flex;
  align-items: center;
  gap: 5px;
  font-family: $font-main;
  font-weight: 400;
  line-height: 1;

  &__rating {
    @include rule(
      margin-right,
      (
        xl: 5px,
        xlg: 5,
        lg: 5,
        md: 5,
        sm: 5,
      )
    );
  }

  &__grade {
    font-family: $font-stolzl;
    margin-bottom: -0.21em;

    @include rule(
      font-size,
      (
        xl: 14px,
        xlg: 14,
        lg: 14,
        md: 14,
        sm: 14,
      )
    );
  }

  &__reviewers {
    color: $color-gray-lightest;

    @include rule(
      font-size,
      (
        xl: 12px,
        xlg: 12,
        lg: 12,
        md: 12,
        sm: 12,
      )
    );
  }

  &_reverse {
    #{$b} {
      &__grade {
        order: 1;

        @include rule(
          margin-right,
          (
            xl: 5px,
            xlg: 5,
            lg: 5,
            md: 5,
            sm: 5,
          )
        );
      }

      &__rating {
        order: 2;
        margin-right: 0;
      }
    }
  }
}
