.popup-payment-form {
  $b: &;

  .popup {

    &__inner-content {
      padding-top: 110px;

      @include screen('md') {
        padding-top: 90px;
      }

      @include screen('sm') {
        padding-top: 65px;
      }
    }
  }

  .form {

    &__section {
      padding-left: 70px;
      padding-right: 70px;
      box-sizing: border-box;

      @include screen('sm') {
        padding-left: $container-padding-mobile;
        padding-right: $container-padding-mobile;
      }

      .form__section {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
