mixin popup-payment-form()
  +popup._combined._white.popup-payment-form__&attributes(attributes)
    +popup-header.popup__header_white.popup__header_border.popup__header_border_md
      +popup-title Payment form
    +popup-content
      div.popup__scrollblock.js-scrollbar-light
        +form._white.popup__inner-content(data-validated-form)
          block
