.popup-payment-form {
  $b: &;

  .popup {

    &__inner-content {
      padding: 110px 0 60px;

      @include screen('md') {
        padding: 90px 0;
      }

      @include screen('sm') {
        padding: 65px 0 60px;
      }
    }
  }

  .form {

    &__section {
      padding-left: 70px;
      padding-right: 70px;
      box-sizing: border-box;

      @include screen('sm') {
        padding-left: $container-padding-mobile;
        padding-right: $container-padding-mobile;
      }

      .form__section {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
