extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Space Edit - Facilities'

block bodyClasses
  - var bodyCls = ' is-sm-noheader is-sm-no-userpanel';
  - var isNoFooter = true
  - var scripts = ['other']

block header
  - var headerClass = ' is-login'
  - var pageClass = ''
  - var isMap = true
  - var host = true

block content
  +nd-page-header._grid
    .nd-container
      +nd-page-header-side
        +nd-link-icon('arrow5')._underline._back._back_md21.__back_md-noname Back
      +nd-page-header-main
        - var menuList = getData('sideNavEditSpace.json').menu;
        +e.mb-menu.nd-hide-from-md
          +slider-navigation(menuList, 2, 'Facilities')

  +nd-content
    .nd-container
      +nd-content-aside
        +sidebar-nosticky.nd-sidebar.nd-hide-md
          - var nav = getData('sideNavEditSpace.json')
          +nd-side-navigation(nav, 'Facilities')

      +nd-content-main
        +nd-form._app._app_pb118.js-form-with-hidden-panel(data-validated-form data-submit-disabled)
          +form-section
            +form-section-header()
              +e.H3.title_fz24._fw400 Facilities
              +e.text_fz17._fw500._mt23 Mark the facilities that are available within the workspace
            +facility-grid.__facilities
              each item in getData('nd-form-facilities.json').standart
                +nd-facility-checkbox(item).__item

          +form-section._mt82
            +form-section-header()
              +e.H3.title_fz24._fw400 Extra facilities
            +facility-grid.__facilities_mt10
              each item in getData('nd-form-facilities.json').extra
                +nd-facility-checkbox(item).__item
          +nd-form-panel()._wide._hidden.is-fixed(data-hidden-panel)
            .nd-container
              .nd-content__column_aside.nd-hide-md
              .nd-content__column_main
                +e.controls
                  +nd-link-icon('cross', 'button')(type="reset")._underline.__reset.js-form-reset Discard <span class="nd-hide-sm">changes</span>
                  +nd-button('button', true).__button(type="submit") Save <span class="nd-hide-sm">changes</span>

block panels

block popups
