extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Space Edit - Location'

block bodyClasses
  - var bodyCls = ' is-sm-noheader';
  - var isNoFooter = true

block header
  - var headerClass = ' is-login'
  - var pageClass = ''
  - var isMap = true
  - var host = true

block content

block panels

block popups
