mixin payment-card(tag)
  +b(tag || 'div').payment-card&attributes(attributes)
    block

mixin payment-card-top()
  +e.top&attributes(attributes)
    block

mixin payment-card-bottom()
  +e.bottom&attributes(attributes)
    block
