.space-type {
  $b: &;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  color: $nd-color-basic;
  font-family: $font-stolzl;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: normal;

  @include screen('xlg', max, 2) {
    font-size: pxtovw(10, 1660);
  }

  @include screen('lg', max, 2) {
    font-size: pxtovw(10, 1366);
  }

  @include screen('md', max, 2) {
    font-size: pxtovw(7, 960);
    line-height: (8 / 7);
  }

  @include screen('sm', max, 2) {
    font-size: pxtovw(7, 375);
  }

  &__box {
    font-size: 0;
    line-height: 0;

    @include screen('md', max, 2) {
      width: pxtovw(7, 960);
      height: pxtovw(7, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(7, 375);
      height: pxtovw(7, 375);
    }

    &:not(:last-child) {
      margin-right: 4px;

      @include screen('xlg', max, 2) {
        margin-right: pxtovw(4, 1660);
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(4, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(3, 960);
      }

      @include screen('sm', max, 2) {
        margin-right: pxtovw(3, 375);
      }
    }

    #{$b}_big & {
      width: 9px;
      height: 9px;

      @include screen('xlg', max, 2) {
        width: pxtovw(9, 1660);
        height: pxtovw(9, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(9, 1366);
        height: pxtovw(9, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(7, 960);
        height: pxtovw(7, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(8, 375);
        height: pxtovw(8, 375);
      }

      &:not(:last-child) {
        margin-right: 8px;

        @include screen('xlg', max, 2) {
          margin-right: pxtovw(8, 1660);
        }

        @include screen('lg', max, 2) {
          margin-right: pxtovw(8, 1366);
        }

        @include screen('md', max, 2) {
          margin-right: pxtovw(6, 960);
        }

        @include screen('sm', max, 2) {
          margin-right: pxtovw(7, 375);
        }
      }
    }

    &_sz13 {
      width: 13px;
      height: 13px;

      @include screen('xlg', max, 2) {
        width: pxtovw(13, 1660);
        height: pxtovw(13, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(13, 1366);
        height: pxtovw(13, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(9, 960);
        height: pxtovw(9, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(9, 375);
        height: pxtovw(9, 375);
      }

      &:not(:last-child) {
        margin-right: 10px;

        @include screen('xlg', max, 2) {
          margin-right: pxtovw(10, 1660);
        }

        @include screen('lg', max, 2) {
          margin-right: pxtovw(10, 1366);
        }

        @include screen('md', max, 2) {
          margin-right: pxtovw(6, 960);
        }

        @include screen('sm', max, 2) {
          margin-right: pxtovw(6, 375);
        }
      }
    }
  }

  &__name {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: currentColor;
  }

  &_gray {
    color: $nd-color-gray-text;
  }

  &_big {
    font-size: 12px;
    line-height: (15 / 12);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(12, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(12, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(10, 960);
      line-height: (12 / 10);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(12, 375);
      line-height: (15 / 12);
    }
  }

  &_fz11 {
    font-size: 11px;
    line-height: (13 / 11);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(11, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(11, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(11, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(11, 375);
    }
  }

  &_fz13 {
    font-size: 13px;
    line-height: 1;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(13, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(13, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(13, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(13, 375);
    }
  }

  &_fz15 {
    font-size: 15px;
    line-height: (18 / 15);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(15, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(15, 1366);
    }

    @include screen('md', max, 2) {
      line-height: (13 / 11);
      font-size: pxtovw(11, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(11, 375);
    }
  }

  &_sm-fz11 {
    @include screen('sm', max, 2) {
      line-height: (13 / 11);
      font-size: pxtovw(11, 375);
    }
  }

  .nd-space_notice & {
    &__box {
      width: 9px;
      height: 9px;

      @include screen('xlg', max, 2) {
        width: pxtovw(9, 1660);
        height: pxtovw(9, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(8, 1366);
        height: pxtovw(8, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(8, 960);
        height: pxtovw(8, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(8, 375);
        height: pxtovw(8, 375);
      }
    }

    &__name {
      font-size: 12px;
      line-height: (13 / 11);

      @include screen('xlg', max, 2) {
        font-size: pxtovw(11, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(11, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(11, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(11, 375);
      }
    }
  }

  .nd-space_search-offer_short & {
    &__box {
      width: 9px;
      height: 9px;

      @include screen('xlg', max, 2) {
        width: pxtovw(9, 1660);
        height: pxtovw(9, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(9, 1366);
        height: pxtovw(9, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(9, 960);
        height: pxtovw(9, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(8, 375);
        height: pxtovw(8, 375);
      }
    }

    &__name {
      font-size: 12px;
      line-height: (13 / 11);

      @include screen('xlg', max, 2) {
        font-size: pxtovw(11, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(11, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(11, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(12, 375);
      }
    }
  }
}
