.layout {
  $b: &;

  position: relative;
  display: grid;
  grid-template-columns: 58.49% 41.51%;
  grid-template-rows: auto 1fr;
  width: 100%;
  // height: calc(100vh - 94px);
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  max-height: 100%;

  @include screen("xlg", max, 2) {
    // height: calc(100vh - (9400 / 1920) * 1vw);
  }

  @include screen("lg", max, 2) {
    grid-template-columns: 52.93% 47.07%;
    // height: calc(100vh - (6600 / 1366) * 1vw);
  }

  @include screen("md", max, 2) {
    grid-template-columns: 68.75% 31.25%;
    grid-template-rows: pxtovw(257, 960)auto;
    overflow-x: hidden;
    overflow-y: auto;
    // height: calc(100vh - (6600 / 960) * 1vw);
  }

  @include screen("sm", max, 2) {
    grid-template-columns: 100%;
    grid-template-rows: auto pxtovw(208, 375) auto;
    // height: calc(100vh - (6600 / 375) * 1vw);
  }

  @include native-scroll($nd-layout-scroll, transparent, 4, 7, 4);
  @include rule(padding-top, (xl: 94px, xlg: 94, lg: 66, md: 66, sm: 0));

  @include screen('md', max, 2) {
    @include native-scroll($nd-layout-scroll, transparent, 2, 2, 2);
  }

  &__column {
    display: block;
    width: 100%;
    box-sizing: border-box;

    &_filter {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      background-color: $nd-color-bg;

      @include screen('md', max, 2) {
        position: sticky;
        top: 0;
        grid-row: 1 / 2;
        background-color: transparent;
        align-self: end;
        z-index: 2;
        transform: translate3d(0, 0, 0);
        will-change: top;
        overscroll-behavior: none;
      }

      @include screen('sm', max, 2) {
        grid-row: 1 / 2;
      }

      .map-in-fullview & {
        z-index: 4;

        @include screen('md', max, 2) {
          align-self: start;
        }
      }

      .is-map-animated-out & {
        @include screen('md', max, 2) {
          align-self: start;
        }
      }
    }

    &_results {
      position: relative;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      // max-height: 100%;
      height: 100%;
      // overflow: auto;
      overflow: hidden;
      // padding-left: 150px;
      box-sizing: border-box;
      background-color: $nd-color-bg;
      transition: transform .5s ease-in-out;
      z-index: 1;

      // @include screen('xl', max, 2) {
      //   padding-left: 60px;
      // }

      @include screen('md', max, 2) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        z-index: 1;
        // max-height: none;
        height: auto;
        overflow: visible;
      }

      @include screen('sm', max, 2) {
        grid-row: 3 / 4;
      }

      // @include rule(padding-left, (xlg: 60, lg: 50, md: 50, sm: 20));
      // @include rule(padding-right, (xl: 50px, xlg: 50, lg: 20, md: 50, sm: 20));
      // @include rule(padding-top, (xl: 55px, xlg: 55, lg: 44, md: 23, sm: 29));
      // @include rule(padding-bottom, (xl: 80px, xlg: 80, lg: 80, md: 80, sm: 80));

      @include native-scroll($nd-layout-scroll, transparent, 4, 7, 4);

      .map-in-fullview & {
        transform: translate3d(-100%, 0, 0);

        @include screen('md', max, 2) {
          transform: translate3d(0, 100%, 0);
        }
      }
    }

    &_map {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      height: 100%;
      overflow: hidden;
      justify-self: end;
      will-change: width, height;

      @include screen('md', max, 2) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }

      @include screen('sm', max, 2) {
        grid-row: 2 / 4;
      }

      .map-in-fullview & {
        grid-column: 1 / 3;
        animation: map-hor-animation .5s ease-in-out forwards 1;

        @include screen('lg', max, 2) {
          animation: map-hor-animation-lg .5s ease-in-out forwards 1;
        }

        @include screen('md', max, 2) {
          animation: none;
        }
      }

      .is-map-animated-out & {
        animation: map-hor-animation-reverse .5s ease-in-out forwards 1;

        @include screen('lg', max, 2) {
          animation: map-hor-animation-lg-reverse .5s ease-in-out forwards 1;
        }

        @include screen('md', max, 2) {
          animation: none;
        }
      }
    }

    &_start {
      position: relative;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      height: 100%;
      overflow: hidden;
      border-right: 1px solid $nd-color-border6;
      border-top: 1px solid $nd-color-border6;
      border-bottom: 1px solid $nd-color-border6;

      @include screen('md', max, 2) {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
      }

      @include screen('sm', max, 2) {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
      }
    }

    &_end {
      position: relative;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      height: 100%;
      overflow: hidden;
      border-top: 1px solid $nd-color-border6;
      border-bottom: 1px solid $nd-color-border6;

      @include screen('md', max, 2) {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
      }

      @include screen('sm', max, 2) {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
      }

      &.layout__column_popup {
        @include screen('sm', max, 2) {
          display: none;
        }
      }
    }

    &_popup {
      position: absolute;
      width: 0;
      top: 0;
      bottom: 0;
      height: auto;
      visibility: hidden;
      background-color: $nd-color-bg;
      overflow: visible;
      z-index: 12;
      // opacity: 0;
      transform: translate3d(100vw, 0, 0);
      transition: transform .5s ease-in-out;
      will-change: transform, visibility, opacity;
      pointer-events: none;
      border-top: none;
      border-bottom: none;
      overscroll-behavior: none;

      @include screen('sm', max, 2) {
        position: fixed;
        background-color: $nd-color-basic-light;
      }

      &.layout__column_end {
        z-index: 13;
      }

      .map-in-fullview & {
        &.layout__column_end {
          box-shadow: -11px 0px 11px rgba(0, 0, 0, 0.14);
          z-index: 3;

          @include screen('xlg', max, 2) {
            box-shadow: -pxtovw(11, 1660) 0px pxtovw(11, 1660) rgba(0, 0, 0, 0.14);
          }

          @include screen('lg', max, 2) {
            box-shadow: -pxtovw(11, 1366) 0px pxtovw(11, 1366) rgba(0, 0, 0, 0.14);
          }

          @include screen('md', max, 2) {
            box-shadow: -pxtovw(11, 960) 0px pxtovw(11, 960) rgba(0, 0, 0, 0.14);
          }

          @include screen('sm', max, 2) {
            box-shadow: none;
          }
        }

        &.layout__column_start {
          z-index: 2;
        }
      }

      .map-in-fullview.layout-offer-active & {
        &.layout__column_end {
          box-shadow: 0 0 0 0 transparent;
        }
      }

      &.is-layout-animated-out {
        visibility: visible;
        width: 100%;
      }

      &[data-layout*="offer"] {
        @include rule(top, (lg: 8, md: 14, sm: 60));

        &::before {
          @include pseudo;

          top: -1px;
          left: 0;
          right: 0;
          z-index: 2;
          height: 1px;
          background-color: $nd-color-basic-light;
          box-shadow: boxShadow(0, 2, 2, 0, rgba(0, 0, 0, 0.06), false);

          @include screen('xlg', max, 2) {
            box-shadow: boxShadow(0, 2, 2, 0, rgba(0, 0, 0, 0.06), 1660);
          }

          @include screen('lg', max, 2) {
            box-shadow: boxShadow(0, 2, 2, 0, rgba(0, 0, 0, 0.06), 1366);
          }

          @include screen('md', max, 2) {
            box-shadow: boxShadow(0, 2, 2, 0, rgba(0, 0, 0, 0.06), 960);
          }

          @include screen('sm', max, 2) {
            box-shadow: boxShadow(0, 2, 2, 0,rgba(0, 0, 0, 0.06), 375);
          }
        }
      }

      .layout-space-active & {
        &[data-layout*="space"] {
          visibility: visible;
          opacity: 1;
          width: 100%;
          transform: translate3d(0, 0, 0);
          pointer-events: auto;
        }
      }

      .layout-list-active & {
        &[data-layout*="list"] {
          visibility: visible;
          width: 100%;
          opacity: 1;
          transform: translate3d(0, 0, 0);
          pointer-events: auto;
        }
      }

      .layout-offer-active & {
        &[data-layout*="offer"] {
          visibility: visible;
          width: 100%;
          opacity: 1;
          transform: translate3d(0, 0, 0);
          pointer-events: auto;
        }
      }
    }
  }

  &__wrapper {
    display:block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    @include rule(padding-top, (sm: 60));
    @include rule(padding-bottom, (xl: 80px, xlg: 80, lg: 80, md: 80, sm: 80));
    @include native-scroll($nd-layout-scroll, transparent, 4, 7, 4);

    #{$b}__column_start & {
      padding-left: 150px;

      @include screen('xl', max, 2) {
        padding-left: 60px;
      }

      @include rule(padding-left, (xlg: 60, lg: 50, md: 50, sm: 20));
      @include rule(padding-right, (xl: 50px, xlg: 50, lg: 30, md: 40, sm: 20));
    }

    #{$b}__column_results & {
      padding-left: 150px;

      @include screen('xl') {
        padding-left: 60px;
      }

      @include rule(padding-left, (xlg: 60, lg: 50, md: 50, sm: 20));
      @include rule(padding-right, (xl: 50px, xlg: 50, lg: 20, md: 50, sm: 20));
      @include rule(padding-top, (xl: 55px, xlg: 55, lg: 44, md: 23, sm: 29));
      @include rule(padding-bottom, (xl: 80px, xlg: 80, lg: 80, md: 80, sm: 80));

      @include native-scroll($nd-layout-scroll, transparent, 4, 7, 4);
    }

    #{$b}__column_end & {
      @include rule(padding-top, (xl: 11px, xlg: 11, lg: 19, md: 11, sm: 0));
      @include rule(padding-left, (xl: 50px, xlg: 50, lg: 30, md: 30, sm: 20));
      @include rule(padding-right, (xl: 50px, xlg: 50, lg: 25, md: 25, sm: 20));
    }

    #{$b}__column_popup & {
      overscroll-behavior: none;
    }

    #{$b}__column_popup.layout__column_start & {
      @include rule(padding-top, (xl: 20px, xlg: 20, lg: 14, md: 24, sm: 60));
    }
  }
}
