.layout {
  $b: &;

  position: relative;
  display: grid;
  grid-template-columns: 58.49% 41.51%;
  grid-template-rows: 100vh;
  width: 100%;
  // height: calc(100vh - 94px);
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  max-height: 100%;

  @include screen("lg", max, 2) {
    grid-template-columns: 52.93% 47.07%;
    grid-template-rows: 100vh;
  }

  @include screen("md", max, 2) {
    grid-template-columns: 68.75% 31.25%;
    grid-template-rows: pxtovw(323, 960)auto;
    overflow-x: hidden;
    overflow-y: auto;
    // max-height: calc(100vh - (6600 / 960) * 1vw);
    max-height: 100%;
  }

  @include screen("sm", max, 2) {
    grid-template-columns: 100%;
    grid-template-rows: pxtovw(208, 375) auto;
    max-height: 100%;
    // height: calc(100vh - (6600 / 375) * 1vw);
  }

  @include native-scroll($nd-layout-scroll, transparent, 4, 4, 4);


  @include screen('md', max, 2) {
    @include native-scroll($nd-layout-scroll, transparent, 2, 2, 2);
  }

  &__column {
    display: block;
    width: 100%;
    box-sizing: border-box;

    &_results {
      position: relative;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      height: 100%;
      overflow: hidden;
      box-sizing: border-box;
      background-color: $nd-color-bg;
      transition: transform .5s ease-in-out;
      z-index: 1;

      @include screen('md', max, 2) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        z-index: 1;
        height: auto;
        overflow: visible;
      }

      @include screen('sm', max, 2) {
        grid-row: 2 / 3;
      }

      @include native-scroll($nd-layout-scroll, transparent, 4, 4, 4);

      .map-in-fullview & {
        transform: translate3d(-100%, 0, 0);

        @include screen('md', max, 2) {
          transform: translate3d(0, 100%, 0);
        }
      }
    }

    &_map {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      height: 100%;
      overflow: hidden;
      justify-self: end;
      will-change: width, height;
      box-sizing: border-box;
      transition: padding .5s ease-in-out;
      padding-right: 0;

      @include screen('md', max, 2) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }

      @include screen('sm', max, 2) {
        grid-row: 1 / 3;
      }

      @include screen('md', min, 2) {
        z-index: 9;
      }

      // .layout-offer-active &,
      // .is-layout-offer-out & {
      //   @include screen('md', min, 2) {
      //     z-index: 9;
      //   }
      // }

      // .layout-space-active &,
      // .layout-list-active &,
      // .map-in-fullview & {
      //   @include screen('md', min, 2) {
      //     z-index: 7;
      //   }
      // }

      .map-in-fullview & {
        animation: map-hor-animation .5s ease-in-out forwards 1;

        @include screen('lg', max, 2) {
          animation: map-hor-animation-lg .5s ease-in-out forwards 1;
        }

        @include screen('md', max, 2) {
          animation: none;
        }

        @include screen('sm', min, 2) {
          grid-column: 1 / 3;
        }
      }

      .is-map-animated-out & {
        animation: map-hor-animation-reverse .5s ease-in-out forwards 1;

        @include screen('lg', max, 2) {
          animation: map-hor-animation-lg-reverse .5s ease-in-out forwards 1;
        }

        @include screen('md', max, 2) {
          animation: none;
        }
      }
    }

    &_start {
      position: relative;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      height: 100%;
      overflow: hidden;
      border-right: 1px solid $nd-color-border6;
      border-top: 1px solid $nd-color-border6;

      @include screen('md', max, 2) {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }

      @include screen('sm', max, 2) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }
    }

    &_end {
      position: relative;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      height: 100%;
      overflow: hidden;
      border-top: 1px solid $nd-color-border6;

      @include screen('md', max, 2) {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
      }

      @include screen('sm', max, 2) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }

      @include screen('sm', min, 2) {
        z-index: 13;
      }

      &.layout__column_popup {
        @include screen('sm', max, 2) {
          display: none;
        }
      }
    }

    &_popup {
      position: absolute;
      width: 0;
      top: 0;
      bottom: 0;
      height: auto;
      visibility: hidden;
      background-color: $nd-color-bg;
      overflow: visible;
      z-index: 11;
      // opacity: 0;
      transform: translate3d(100vw, 0, 0);
      transition: transform .5s ease-in-out;
      will-change: transform, visibility, opacity;
      pointer-events: none;
      border-top: none;
      border-bottom: none;
      overscroll-behavior: none;

      @include screen('md', max, 2) {
        position: fixed;
      }

      @include screen('sm', max, 2) {
        position: fixed;
        background-color: $nd-color-basic-light;
      }

      &.is-current {
        @include screen('sm', min, 2) {
          z-index: 12;
        }
      }

      &.layout__column_end {
        @include screen('sm', min, 2) {
          z-index: 13;
        }
      }


      // &.layout__column_start_offer {
      //   z-index: 8;
      // }

      .map-in-fullview & {
        &.layout__column_end {
          box-shadow: boxShadow(-11, 0, 11, 0, rgba(0, 0, 0, 0.14), false);
          // z-index: 3;

          @include screen('xlg', max, 2) {
            box-shadow: boxShadow(-11, 0, 11, 0, rgba(0, 0, 0, 0.14), 1660);
          }

          @include screen('lg', max, 2) {
            box-shadow: boxShadow(-11, 0, 11, 0, rgba(0, 0, 0, 0.14), 1366);
          }

          @include screen('md', max, 2) {
            box-shadow: boxShadow(-11, 0, 11, 0, rgba(0, 0, 0, 0.14), 960);
          }

          @include screen('sm', max, 2) {
            box-shadow: none;
          }
        }
      }

      // .map-in-fullview.layout-offer-active & {
      //   &.layout__column_end {
      //     box-shadow: 0 0 0 0 transparent;
      //   }
      // }

      &.is-layout-animated-out {
        visibility: visible;
        width: 100%;
      }

      .map-in-fullview &, .is-map-animated-out & {

        &.layout__column_end {
          @include rule(top, (sm: 60));
        }
      }

      &.layout__column_start_offer {
        @include rule(top, (sm: 60));
      }

      .layout-space-active & {
        &[data-layout*="space"] {
          visibility: visible;
          opacity: 1;
          width: 100%;
          transform: translate3d(0, 0, 0);
          pointer-events: auto;
        }

        &.layout__column_start_space {
          @include screen('md', max, 2) {
            left: 0;
            width: 68.75vw;
          }

          @include screen('sm', max, 2) {
            width: 100%;
          }
        }

        &.layout__column_end {
          @include screen('md', max, 2) {
            right: 0;
            width: 31.25vw;
          }

          @include screen('sm', max, 2) {
            width: 100%;
          }
        }
      }

      .layout-list-active & {
        &[data-layout*="list"] {
          visibility: visible;
          width: 100%;
          opacity: 1;
          transform: translate3d(0, 0, 0);
          pointer-events: auto;
        }

        &.layout__column_end {
          @include screen('md', max, 2) {
            right: 0;
            width: 31.25vw;
          }

          @include screen('sm', max, 2) {
            width: 100%;
          }
        }
      }

      .layout-offer-active & {
        &[data-layout*="offer"] {
          visibility: visible;
          width: 100%;
          opacity: 1;
          transform: translate3d(0, 0, 0);
          pointer-events: auto;
        }

        &.layout__column_start_offer {
          @include screen('md', max, 2) {
            left: 0;
            width: 68.75vw;
          }

          @include screen('sm', max, 2) {
            width: 100%;
          }
        }

        &.layout__column_end {
          @include screen('md', max, 2) {
            right: 0;
            width: 31.25vw;
          }

          @include screen('sm', max, 2) {
            width: 100%;
          }
        }
      }

      &.is-layout-animated-out {
        &.layout__column_end {
          @include screen('md', max, 2) {
            right: 0;
            width: 31.25vw;
          }

          @include screen('sm', max, 2) {
            width: 100%;
          }
        }

        &.layout__column_start {
          @include screen('md', max, 2) {
            left: 0;
            width: 68.75vw;
          }

          @include screen('sm', max, 2) {
            width: 100%;
          }
        }
      }
    }

    &_header {
      position: fixed;
      display: flex;
      top: 0;
      left: 0;
      bottom: auto;
      width: 100%;
      height: auto;
      z-index: 14;
      pointer-events: auto;
      background-color: transparent;
      box-shadow: boxShadow(0, 2, 2, 0, rgba(0, 0, 0, .06));

      @include screen('xlg') {
        box-shadow: boxShadow(0, 2, 2, 0, rgba(0, 0, 0, .06), 1660);
      }

      @include screen('lg') {
        box-shadow: boxShadow(0, 2, 2, 0, rgba(0, 0, 0, .06), 1366);
      }

      @include screen('md') {
        box-shadow: boxShadow(0, 2, 2, 0, rgba(0, 0, 0, .06), 960);
      }

      @include screen('sm') {
        box-shadow: boxShadow(0, 2, 2, 0, rgba(0, 0, 0, .06), 375);
      }

      @include screen('sm', max, 2) {
        box-shadow: boxShadow(0, 2, 2, 0, rgba(0, 0, 0, .06), 375);
      }

      &.is-current {
        z-index: 14;
      }

      .layout-header {
        &_main {
          width: 58.49vw;
          border-right: 1px solid $nd-color-border6;
          box-sizing: border-box;

          @include screen('lg', max, 2) {
            width: 52.93vw;
          }

          @include screen('md', max, 2) {
            width: 68.75vw;
          }

          @include screen('sm', max, 2) {
            width: 100%;
            border-right: none;
          }
        }

        &_sort {
          flex: 1;

          @include screen('sm', max, 2) {
            display: none;
          }
        }
      }
    }
  }

  &__wrapper {
    display:block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    @include rule(padding-top, (sm: 60));
    @include rule(padding-bottom, (xl: 80px, xlg: 80, lg: 80, md: 80, sm: 80));
    @include native-scroll($nd-layout-scroll, transparent, 4, 4, 4);

    #{$b}__column_start & {
      padding-left: 150px;

      @include screen('xl', max, 2) {
        padding-left: 60px;
      }

      @include rule(padding-left, (xlg: 60, lg: 50, md: 50, sm: 20));
      @include rule(padding-right, (xl: 50px, xlg: 50, lg: 30, md: 40, sm: 20));
    }

    #{$b}__column_results & {
      padding-left: 150px;

      @include screen('xl') {
        padding-left: 60px;
      }

      @include rule(padding-left, (xlg: 60, lg: 50, md: 50, sm: 20));
      @include rule(padding-right, (xl: 50px, xlg: 50, lg: 20, md: 50, sm: 20));
      @include rule(padding-top, (xl: 118px, xlg: 118, lg: 118, md: 23, sm: 29));
      @include rule(padding-bottom, (xl: 80px, xlg: 80, lg: 80, md: 80, sm: 80));

      @include native-scroll($nd-layout-scroll, transparent, 4, 4, 4);
    }

    #{$b}__column_end & {
      @include rule(padding-top, (xl: 71px, xlg: 71, lg: 79, md: 95, sm: 0));
      @include rule(padding-left, (xl: 50px, xlg: 50, lg: 30, md: 30, sm: 20));
      @include rule(padding-right, (xl: 50px, xlg: 50, lg: 25, md: 25, sm: 20));

      .map-in-fullview &, .is-map-animated-out & {
        @include rule(padding-left, (xl: 25px, xlg: 25, lg: 30, md: 30, sm: 20));
        @include rule(padding-right, (xl: 25px, xlg: 25, lg: 25, md: 25, sm: 20));
      }

      // .layout_static & {
      //   @include rule(padding-top, (xl: 11px, xlg: 11, lg: 19, md: 116, sm: 0));
      // }
    }

    #{$b}__column_popup & {
      overscroll-behavior: none;
    }

    .layout__column_start_space & {
      @include rule(padding-top, (xl: 60px, xlg: 60, lg: 60, md: 60, sm: 60));
    }

    .layout__column_start_offer & {
      @include rule(padding-top, (xl: 60px, xlg: 60, lg: 60, md: 60, sm: 60));
      @include rule(padding-right, (xl: 50px, xlg: 50, lg: 50, md: 40, sm: 20));

      // .layout_static & {
      //   @include rule(padding-top, (xl: 50px, xlg: 50, lg: 14, md: 18, sm: 60));
      // }
    }
  }

  &_static {
    // grid-template-rows: calc(100vh - 94px);
    grid-template-rows: 100vh;
    box-sizing: border-box;
    border-bottom: 1px solid $nd-color-border6;

    // @include rule(padding-top, (xl: 94px, xlg: 94, lg: 66, md: 66, sm: 0));

    @include screen("xlg", max, 2) {
      // grid-template-rows: calc(100vh - (9400 / 1660) * 1vw);
    }

    @include screen("lg", max, 2) {
      // grid-template-rows: calc(100vh - (6600 / 1366) * 1vw);
    }

    @include screen("md", max, 2) {
      grid-template-rows: pxtovw(257, 960)auto;
    }

    @include screen("sm", max, 2) {
      grid-template-rows: pxtovw(208, 375) auto;
    }

    #{$b} {
      &__column {
        &_start_space {
          @include screen('sm', max, 2) {
            background-color: $nd-color-bg;

            &::after {
              @include screen('sm', max, 2) {
                @include pseudo;

                background-color: $nd-color-bg;
                height: pxtovw(80,375);
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 0;
                pointer-events: none;
              }
            }
          }
        }

        &_start_offer {
          z-index: 8;
          top: 0;

          @include screen('md', max, 2) {
            position: absolute;
          }

          @include screen('sm', max, 2) {
            top: pxtovw(60, 375);
            background-color: $nd-color-bg;
          }

          .layout__wrapper {
            overscroll-behavior: auto;
          }
        }

        &_end {
          z-index: 9;
          background-color: $nd-color-bg;

          .layout__wrapper {
            @include rule(padding-top, (xl: 71px, xlg: 71, lg: 79, md: 95, sm: 0));
          }
        }
      }
    }

    + .nd-section {
      @include screen('sm', max, 2) {
        z-index: 1;
        position: relative;
      }

      .nd-section__header {
        @include screen('sm', max, 2) {
          position: relative;
          z-index: 1;
        }
      }

      &::before {
        @include screen('sm', max, 2) {
          @include pseudo;

          background-color: $nd-color-bg;
          top: pxtovw(-50, 375);
          bottom: pxtovw(-50, 375);
          left: 0;
          right: 0;
          z-index: 0;
          pointer-events: none;
        }
      }
    }
  }
}
