.modal-filter {
  $b: &;

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity $ease-main;
  overflow: hidden;
  box-sizing: border-box;

  @include rule(padding, (xl: 130px 0, xlg: 130 0, lg: 130 0, md: 130 0, sm: 0));

  &.is-opened {
    opacity: 1;
  }

  &.is-opened, &.is-animated {
    visibility: visible;
    pointer-events: auto;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    height: 100%;

    @include rule(border-radius, (xl: 3px, xlg: 3, lg: 3, md: 3, sm: 0));
    @include rule(width, (xl: 780px, xlg: 780, lg: 780, md: 780, sm: 100%));
  }

  &__options {
    position: relative;
    display: block;
    background-color: $nd-color-basic-light;
    // width: 64.62%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100% - 130px);
    z-index: 1;

    @include screen('xlg', max, 2) {
      max-height: calc(100% - (13000 / 1660) * 1vw);
    }

    @include screen('lg', max, 2) {
      max-height: calc(100% - (13000 / 1366) * 1vw);
    }

    @include screen('md', max, 2) {
      max-height: calc(100% - (13000 / 960) * 1vw);
    }

    @include screen('sm', max, 2) {
      max-height: calc(100% - (12000 / 375) * 1vw);
    }

    @include native-scroll($nd-layout-scroll, transparent, 4, 4, 4);

    @include screen('md', max, 2) {
      @include native-scroll($nd-layout-scroll, transparent, 2, 2, 2);
    }
  }

  &__options-inner {
    display: block;
    width: 100%;
    box-sizing: border-box;

    @include rule(padding, (xl: 0 50px 30px, xlg: 0 50 30, lg: 0 50 30, md: 0 50 30, sm: 0 20 30));
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background-color: $nd-color-basic-light;
    z-index: 2;
    border-bottom: 1px solid $nd-color-border6;
    text-align: center;

    @include rule(padding, (xl: 0 50px, xlg: 0 50, lg: 0 50, md: 0 50, sm: 0 20));
    @include rule(height, (xl: 70px, xlg: 70, lg: 70, md: 70, sm: 60));

    @include screen('sm', max, 2) {
      text-align: left;
      justify-content: flex-start;
    }
  }

  &__selected {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background-color: $nd-color-basic-light;
    z-index: 2;
    border-top: 1px solid $nd-color-border6;

    @include rule(height, (xl: 60px, xlg: 60, lg: 60, md: 60, sm: 60));
    @include rule(padding, (xl: 0 20px, xlg: 0 20, lg: 0 20, md: 0 20, sm: 0 15));
  }

  &__top {
    display: block;
    box-sizing: border-box;
    width: auto;
  }

  &__selected-inner {
    display: block;
    width: 100%;
    box-sizing: border-box;

    @include rule(padding, (xl: 0 35 35, xlg: 0 35 35, lg: 0 35 35, md: 0 35 35, sm: 20));

    @include screen('sm', max, 2) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      align-content: flex-end;
      flex-wrap: wrap;
    }
  }

  &__clear, &__apply {
    @include rule(font-size, (xl: 15px, xlg: 15, lg: 15, md: 15, sm: 15));
  }

  &__close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    line-height: 0;
    z-index: 2;
    cursor: pointer;

    @include rule(height, (xl: 70px, xlg: 70, lg: 70, md: 70, sm: 60));
    @include rule(width, (xl: 70px, xlg: 70, lg: 70, md: 70, sm: 60));
    @include rule(padding, (xl: 27px, xlg: 27, lg: 27, md: 27, sm: 23));

    svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
    }
  }

  &__clear {
    font-weight: 600;
    color: $nd-color-basic;
    justify-content: flex-start;

    &[disabled] {
      // color: $nd-clear-disabled;
      pointer-events: none;
      cursor: not-allowed;
    }

    .nd-link {
      &__icon {
        margin: 0;

        &:not(:last-child) {
          @include rule(margin-right, (xl: 12px, xlg: 12, lg: 12, md: 12, sm: 10));
        }
      }
    }
  }

  &__apply {
    font-weight: 700;

    @include rule(min-width, (xl: 230px, xlg: 230, lg: 230, md: 230, sm: 198));
  }

  &__title {
    font-family: $font-stolzl;
    line-height: 1.2;
    font-weight: 400;

    @include rule(font-size, (xl: 20px, xlg: 20, lg: 20, md: 20, sm: 17));
  }

  &__subtitle {
    font-family: $font-stolzl;
    font-weight: 400;
    line-height: 1.2;
    width: 100%;

    @include rule(font-size, (xl: 15px, xlg: 15, lg: 15, md: 15, sm: 15));
  }

  &__section {
    @include rule(padding, (xl: 26px 0 24px, xlg: 26 0 24, lg: 26 0 24, md: 26 0 24, sm: 26 0 24));

    &:not(:last-child) {
      border-bottom: 1px solid $nd-color-border6;
    }

    &_price {
      @include rule(padding-bottom, (xl: 25px, xlg: 25, lg: 25, md: 25, sm: 35));
    }
  }

  &__tags {
    width: 100%;

    @include rule(margin-top, (xl: 7px, xlg: 7, lg: 7, md: 7, sm: 7));

    @include screen('sm', max, 2) {
      display: flex;
      justify-content: flex-start;
      align-content: flex-end;
      flex-wrap: wrap;
      width: calc(100% + (500 / 375) * 1vw);
      margin: 0 wPxtovw(-5, sm);
    }

    .modal-filter-option {
      @include cRule(width, (xl: 100%, sm: auto));
      @include cRule(flex, (sm: none));
      @include rule(margin, (sm: 10 5 0));
      @include rule(white-space, (sm: nowrap));

      &:not(:first-child) {
        @include rule(margin-top, (xl: 10px, xlg: 10, lg: 10, md: 10, sm: 10));
      }
    }
  }

  &__top, &__bottom {
    width: auto;
  }

  &__bottom {
    box-sizing: border-box;

    &:not(:first-child) {
      @include rule(margin-left, (xl: 18px, xlg: 18, lg: 18, md: 18, sm: 0));
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    box-sizing: border-box;
    flex-wrap: wrap;

    @include rule(margin, (xl: 0 -7px, xlg: 0 -7, lg: 0 -7, md: 0 -7, sm: 0 -7));

    &:not(:first-child) {
      @include rule(margin-top, (xl: 8px, xlg: 8, lg: 8, md: 8, sm: 8));
    }

    &::after {
      display: inline-block;
      content: '';
      width: 1px;
      height: 10px;
      flex: 10;
    }
  }

  &__check {
    flex: 1;

    @include rule(margin, (xl: 5px 7px, xlg: 5 7, lg: 5 7, md: 5 7, sm: 5 7));
  }

  &__range {
    &:not(:first-child) {
      @include rule(margin-top, (xl: 26px, xlg: 26, lg: 26, md: 26, sm: 24));
    }
  }
}
