.modal-filter {
  $b: &;

  position: fixed;
  display: flex;
  top: 0;
  height: 100%;
  z-index: 30;
  box-shadow: boxShadow(0, 3, 14, 0, rgba(0, 0, 0, 0.13)),
  boxShadow(0, 0, 4, 0, rgba(56, 58, 68, 0.09));

  @include rule(width, (xl: 650px, xlg: 650, lg: 650, md: 650, sm: 100%));
  @include cRule(left, (xl: 58.49vw, lg: 52.93vw, md: 68.75vw, sm: 0));
  @include cRule(transform, (xl: translate3d(-64.62%, 0, 0), sm: translate3d(0, 0, 0)));

  @include screen('xlg', max, 2) {
    box-shadow: boxShadow(0, 3, 14, 0, rgba(0, 0, 0, 0.13), 1660),
    boxShadow(0, 0, 4, 0, rgba(56, 58, 68, 0.09), 1660);
  }

  @include screen('lg', max, 2) {
    box-shadow: boxShadow(0, 3, 14, 0, rgba(0, 0, 0, 0.13), 1366),
    boxShadow(0, 0, 4, 0, rgba(56, 58, 68, 0.09), 1366);
  }

  @include screen('md', max, 2) {
    box-shadow: boxShadow(0, 3, 14, 0, rgba(0, 0, 0, 0.13), 960),
    boxShadow(0, 0, 4, 0, rgba(56, 58, 68, 0.09), 960);
  }

  @include screen('sm', max) {
    display: block;
  }

  @include cRule(box-shadow, (sm: none));

  &.is-opened, &.is-animated {
    visibility: visible;
    pointer-events: auto;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    opacity: 0;
    transition: opacity $ease-main;
    max-height: 100%;
    overflow: hidden;

    @include screen('sm', max, 2) {
      display: grid;
      height: 100%;
      grid-template-columns: 100%;
      grid-template-rows: 1fr auto;
    }

    #{$b}.is-opened & {
      opacity: 1;
    }
  }

  &__options {
    position: relative;
    background-color: $nd-color-basic-light;
    width: 64.62%;
    box-sizing: border-box;
    height: 100%;

    @include screen('sm', max, 2) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 100%;
      height: auto;
      max-height: 100%;
      overflow: hidden;
    }
  }

  &__options-inner {
    display: block;
    width: 100%;
    box-sizing: border-box;

    @include rule(padding, (xl: 85px 50px 50px, xlg: 85 50 50, lg: 85 50 50, md: 85 50 50, sm: 65 20 50));
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background-color: $nd-color-basic-light;
    z-index: 2;

    @include rule(padding, (xl: 22px 50, xlg: 22 50, lg: 22 50, md: 22 50, sm: 10 20));
  }

  &__selected {
    background-color: $nd-color-payment-border;
    flex: 1;
    height: 100%;

    @include screen('sm', max, 2) {
      flex: none;
      width: 100%;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      height: auto;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;

    @include rule(padding, (xl: 20px 0, xlg: 20 0, lg: 20 0, md: 20 0, sm: 20 10 0 0));
  }

  &__selected-inner {
    display: block;
    width: 100%;
    box-sizing: border-box;

    @include rule(padding, (xl: 0 35 35, xlg: 0 35 35, lg: 0 35 35, md: 0 35 35, sm: 20));

    @include screen('sm', max, 2) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      align-content: flex-end;
      flex-wrap: wrap;
    }
  }

  &__wrapper {
    position: relative;
    display: block;
    box-sizing: border-box;
    max-height: 100%;
    z-index: 1;
  }

  &__close, &__clear {
    @include rule(height, (xl: 45px, xlg: 45, lg: 45, md: 45, sm: 34));
    @include rule(border-radius, (xl: 35px, xlg: 35, lg: 35, md: 35, sm: 20));
  }

  &__clear, &__apply {
    width: 100%;
  }

  &__close, &__clear, &__apply {
    @include rule(font-size, (xl: 15px, xlg: 15, lg: 15, md: 15, sm: 15));
  }

  &__close {
    font-weight: 400;
    text-align: left;
    justify-content: space-between;
    letter-spacing: -.02em;

    @include rule(padding, (xl: 0 12px 0 25px, xlg: 0 12 0 25, lg: 0 12 0 25, md: 0 12 0 25, sm: 0 15));
    @include rule(min-width, (xl: 158px, xlg: 158, lg: 158, md: 158, sm: 0));

    .nd-button {
      &__text {
        margin-left: 0;

        &:not(:first-child) {
          margin-left: 0;
        }
      }

      &__icon {
        @include rule(width, (xl: 8px, xlg: 8, lg: 8, md: 8, sm: 8));
        @include rule(height, (xl: 8px, xlg: 8, lg: 8, md: 8, sm: 8));
        fill: $nd-color-border2;
      }
    }
  }

  &__clear {
    font-weight: 600;
    color: $nd-color-main;
    border-color: currentColor;
    justify-content: flex-start;

    @include rule(padding, (xl: 0 17px, xlg: 0 17, lg: 0 17, md: 0 17, sm: 0 17));

    &[disabled] {
      color: $nd-clear-disabled;
    }

    .nd-button {
      &__text {
        margin: 0;

        &:not(:first-child) {
          @include rule(margin-left, (xl: 20px, xlg: 20, lg: 20, md: 20, sm: 20));
        }
      }

      &__icon {
        @include rule(width, (xl: 12px, xlg: 12, lg: 12, md: 12, sm: 12));
        @include rule(height, (xl: 12px, xlg: 12, lg: 12, md: 12, sm: 12));
        fill: currrentColor;
      }
    }
  }

  &__apply {
    font-weight: 700;

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__title {
    font-family: $font-stolzl;
    line-height: 1.2;
    font-weight: 400;

    @include rule(font-size, (xl: 20px, xlg: 20, lg: 20, md: 20, sm: 17));
  }

  &__subtitle {
    font-family: $font-stolzl;
    font-weight: 400;
    line-height: 1.2;
    width: 100%;

    @include rule(font-size, (xl: 15px, xlg: 15, lg: 15, md: 15, sm: 15));
  }

  &__section {
    @include rule(padding, (xl: 36px 0, xlg: 36 0, lg: 36 0, md: 36 0, sm: 30 0));

    &:not(:last-child) {
      border-bottom: 1px solid $nd-color-border6;
    }

    &_price {
      @include rule(padding, (xl: 18px 0 25px, xlg: 18 0 25, lg: 18 0 25, md: 18 0 25, sm: 18 0));
    }
  }

  &__tags {
    width: 100%;

    @include rule(margin-top, (xl: 7px, xlg: 7, lg: 7, md: 7, sm: 7));

    @include screen('sm', max, 2) {
      display: flex;
      justify-content: flex-start;
      align-content: flex-end;
      flex-wrap: wrap;
      width: calc(100% + (500 / 375) * 1vw);
      margin: 0 wPxtovw(-5, sm);
    }

    .modal-filter-option {
      @include cRule(width, (xl: 100%, sm: auto));
      @include cRule(flex, (sm: none));
      @include rule(margin, (sm: 10 5 0));
      @include rule(white-space, (sm: nowrap));

      &:not(:first-child) {
        @include rule(margin-top, (xl: 10px, xlg: 10, lg: 10, md: 10, sm: 10));
      }
    }
  }

  &__top, &__bottom {
    @include cRule(width, (xl: 100%, sm: 50%));

    @include screen('sm', max, 2) {
      order: 2;
    }
  }

  &__bottom {
    box-sizing: border-box;
    @include rule(padding, (sm: 20 10 0 0));

    &:not(:first-child) {
      @include rule(margin-top, (xl: 18px, xlg: 18, lg: 18, md: 18, sm: 0));
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    box-sizing: border-box;
    flex-wrap: wrap;

    @include rule(margin, (xl: 0 -7px, xlg: 0 -7, lg: 0 -7, md: 0 -7, sm: 0 -7));

    &:not(:first-child) {
      @include rule(margin-top, (xl: 8px, xlg: 8, lg: 8, md: 8, sm: 8));
    }

    &::after {
      display: inline-block;
      content: '';
      width: 1px;
      height: 10px;
      flex: 10;
    }
  }

  &__check {
    flex: 1;

    @include rule(margin, (xl: 7px, xlg: 7, lg: 7, md: 7, sm: 7));
  }

  &__range {
    &:not(:first-child) {
      @include rule(margin-top, (xl: 28px, xlg: 28, lg: 28, md: 28, sm: 20));
    }
  }
}
