mixin scroll-form-v2()
  - var offers = getData('offer-select.json')
  +sidebar
    +b.FORM.scroll-form&attributes(attributes)(data-first-step="step0" data-validated-form)
      +e.section(data-step="step0")
        +e.H3.title Reservation form
        +offer-select(true).offer-select_right.__select
          each item in offers
            +offer-select-item(item)
        +e.P.note_fz14._dark <i>* </i> Excluding VAT
        +input-number('count', 1).__counter.is-disabled
        +e.buttons
          +button('a')(href="#" data-next-step="step1")._short.__button.js-stp-form-next Request Reservation
          +button('a')(href="#popup-arrange-viewing")._border._border_bg-white._short.__button.js-popup-top Arrange a Viewing
      +e.section_pb.hide(data-step="step1")
        +e.H4.subtitle
          +link-icon('select-arrow', 'a')._back._back_pl22._bold._no-shadow.__button.js-stp-form-next(href="#" data-next-step="step0") Back
        +form-section-wrapper
          +form-box('Rent period start', 'calendar2')._icon
            +input.js-datepicker(type="text" name="startDate" value="13 January 2020" placeholder="Rent period start" readonly)
        +form-section-wrapper._mgb26
          +form-box('Desired duration')._icon
            +select.select_white.js-select-input(name="duration" data-mobile-title="Desired duration" data-choices-classes="choices_white")
              - for (var i = 1; i <= 12; i++) {
                if (i === 12)
                  option(value=i selected)!=(i + ' months')
                else if (i === 1)
                  option(value=i)!=(i + ' month')
                else
                  option(value=i)!=(i + ' months')
              -}
        +form-section-wrapper._fx._mgb44
          +e.phone_code
            +form-box('', '')
              +input(type="text" name="phoneCode" value="+44" placeholder="+__")
          +e.phone_number
            +form-box('', '')
              +input(type="tel" name="phoneNumber" placeholder="Your phone number" required).input_def-plchldr
        +e.buttons
          +button('button', true)(type="submit" data-callback="serverSave" data-final-step="step2")._short.__button.js-stp-form-final Confirm Request
      +e.section_pb.hide(data-step="step2")
        +e.H4.subtitle_mb80 Request sent
        +e.message
          p Thank you <br> for your Request!
          p Spacepool manager will contact you shortly for further communication.
        +e.buttons_mta
          +button('button')(type="reset")._short.__button.js-stp-form-reset OK
