mixin scroll-form()
  - var offers = getData('offer-select.json')
  +sidebar
    +b.FORM.scroll-form&attributes(attributes)
      +e.H3.title Reservation form
      +offer-select(true).__select
        each item in offers
          +offer-select-item(item)
      +e.P.text Including VAT and Service Fee
      +input-number('count').__counter
      +e.buttons
        +button('button')(type="button")._short.__button Request Reservation
        +button('button')(type="button")._border._border_bg-white._short.__button Arrange a Viewing
      +e.P.note <i>* </i> Utility bills and other services are paid separately
