.scroll-form {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 29px 39px 20px;

  &__title {
    @include heading-3;

    font-weight: 700;
    line-height: (26/25);
    margin-bottom: 28px;
  }

  .form-select {
    background: $color-white;
    border: 1px solid $color-border-light;
    padding: 20px 16px;
    height: 80px;
  }

  &__select {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__text {
    @include text13;

    color: $color-text-light;
    text-align: center;
    font-weight: 400;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__counter {

    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  &__buttons {

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__button {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  &__note {
    @include text12;

    color: $color-note;
    text-align: center;
    font-weight: 400;

    i {
      font-style: normal;
      font-size: 21px;
      line-height: (26/21);
    }
  }
}
