mixin scroll-form-v2()
  - var offers = getData('offer-select.json')
  +sidebar
    +b.FORM.scroll-form&attributes(attributes)
      +e.H3.title Reservation form
      +offer-select(true).offer-select_right.__select
        each item in offers
          +offer-select-item(item)
      +e.P.note_fz14._dark <i>* </i> Excluding VAT
      +input-number('count', 1).__counter.is-disabled
      +e.buttons
        +button('a')(href="#reservation-request" data-rr-wrapper-target="scrollForm" data-rr-need-to-show="true")._short.__button Request Reservation
        +button('a')(href="#popup-arrange-viewing")._border._border_bg-white._short.__button.js-popup-top Arrange a Viewing
      +e.panel(data-rr-wrapper-block="scrollForm")
