mixin scroll-form()
  +b.DIV.scroll-form&attributes(attributes)
    +e.__title Reservation form
    +select.form-select 
      option(value="Опция 1") Опция 1
      option(value="Опция 2") Опция 2
      option(value="Опция 3") Опция 3
    +e.__text Including VAT and Service Fee
    +input-number
    +button-gradient Request Reservation
    +button Arrange a Viewing
    +e.__text-min  * Utility bills and other services are paid separately