mixin nd-page-header()
  +b.nd-page-header&attributes(attributes)
    block

mixin nd-page-header-side()
  +e.column_side&attributes(attributes)
    block

mixin nd-page-header-main()
  +e.column_main&attributes(attributes)
    block
