mixin page-header()
  +b.page-header&attributes(attributes)
    block

mixin page-header-side()
  +e.column_side&attributes(attributes)
    block

mixin page-header-main()
  +e.column_main&attributes(attributes)
    block
