.page-header {
  $b: &;

  display: block;
  width: 100%;
  padding: 37px 0 43px;

  @include screen('md') {
    padding: 34px 0 30px;
  }

  @include screen('sm') {
    padding: 32px 0 28px;
  }

  &_spad {
    @include screen('md') {
      padding: 36px 0 30px;
    }

    @include screen('sm') {
      padding: 19px 0;
    }
  }

  &_bpad {
    padding: 43px 0 40px;

    @include screen('md') {
      padding: 34px 0 30px;
    }

    @include screen('sm') {
      padding: 19px 0;
    }
  }

  .container {
    display: block;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% + 50px);
    margin-left: -25px;
    margin-right: -25px;

    @include screen('md') {
      width: calc(100% + 30px);
      margin-right: -15px;
      margin-left: -15px;
    }

    @include screen('sm') {
      width: calc(100% + 10px);
      margin-right: -5px;
      margin-left: -5px;
    }
  }

  &__column {
    box-sizing: border-box;

    &_main {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 75%;
      box-sizing: border-box;
      padding-left: 25px;
      padding-right: 25px;

      @include screen('lg') {
        width: 100%;
      }

      @include screen('md') {
        justify-content: space-between;
        flex-wrap: wrap;
        flex: none;
        padding-left: 15px;
        padding-right: 15px;
      }

      @include screen('sm') {
        padding-right: 5px;
        padding-left: 5px;
      }

      #{$b}_wide-lg & {
        @include screen('lg') {
          width: 75%;
        }

        @include screen('md') {
          width: 100%;
        }
      }
    }

    &_side {
      display: block;
      width: 25%;
      padding-left: 25px;
      padding-right: 25px;

      @include screen('lg') {
        width: 100%;
      }

      @include screen('md') {
        padding-left: 15px;
        padding-right: 15px;
      }

      @include screen('sm') {
        padding-left: 5px;
        padding-right: 5px;
      }

      #{$b}_wide-lg & {
        @include screen('lg') {
          width: 25%;
        }

        @include screen('md') {
          width: 100%;
        }
      }
    }
  }

  &__title {
    &:not(:last-child) {
      margin-right: 48px;
    }
  }

  &__info {
    @include text-big;

    line-height: (26/18);
    font-weight: 700;
    color: $color-basic-light;

    @include screen('md') {
      width: 100%;
      order: 2;
      margin-top: 10px;
    }

    @include screen('sm') {
      @include text15;

      line-height: (26/15);
      order: inherit;
      margin-top: 3px;
    }

    b {
      color: $color-basic;
    }

    &:not(:last-child) {
      margin-right: 50px;

      @include screen('sm') {
        margin-right: 0;
      }
    }
  }

  &__button {
    margin-left: auto;
    min-width: 278px;

    @include screen('sm') {
      margin-left: 0;
      width: 100%;
      margin-top: 20px;
    }

    &_big {
      min-width: 358px;
    }
  }

  &__back {
    @include heading-3;

    line-height: (26/25);
    padding-left: 25px;

    @include screen('sm') {
      @include heading-6;

      line-height: (26/15);
    }

    .link__text {
      display: inline-flex;
      align-items: center;
    }
  }

  .breadcrumbs {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__filters {
    display: block;
    margin-left: auto;
    align-self: baseline;

    @include screen('md') {
      margin-left: 0;
      align-self: auto;
      width: 100%;
      margin-top: 25px;
    }

    .category-filter {
      margin-right: -8px;

      @include screen('md') {
        margin-right: 0;
      }
    }
  }
}
