mixin popup-booking-form()
  +nd-popup.popup-booking-form__&attributes(attributes)
    +nd-popup-back()(data-fancybox-close)
    +nd-popup-content().popup-booking-form__content(data-slot-id="booking-form" data-slot-res="sm")
      block
