.popup-booking-form {
  $b: &;

  .nd-popup__back {
    border-radius: 50%;
    background-color: $nd-color-basic-light;
    box-shadow: 0 3.2px 7.7px 0 rgba(0, 0, 0, 0.3);

    @include rule(
      top,
      (
        sm: 18,
      )
    );

    @include rule(
      left,
      (
        sm: 18,
      )
    );

    @include rule(
      width,
      (
        sm: 44,
      )
    );
    @include rule(
      height,
      (
        sm: 44,
      )
    );
  }
}
