extends ../../layouts/default

block head
  - var pageTitle = 'SpacePool - Ui-kit'

block content
  +ui-kit
    +e.navigation.js-scrollbar-light
      +e.navigation-burger
      +e.UL.navigation__list

    +ui-kit-head
      p Logo in header .logo
      br
      +logo
      br
      p Logo in footer .logo_footer
      br
      +logo-image._footer
      br
      +e.name SpacePool

    //- Хэдер
    +ui-section
      +ui-section-head
        h2 Хэдер (Header)
        p Блок: components/header
        p Состояние при логине хэдеру добавляется класс is-login
        +button(onclick="$('.header').toggleClass('is-login')") Log In

    //- Сетка
    +ui-section._grid
      +ui-section-head
        h2 Сетка
        p Отступы слева и справа от экрана: 40px ($container-padding)
        p Отступы слева и справа от экрана на мобильныx: 20px ($container-padding-mobile)
        p Максимальная ширина контейнера с учетом паддингов: 1700px ($container-width)
        p Ширина контейнера сетки: 100% ($grid-container-width)
        p Колонок: 12 ($grid-cols)
        p Горизонтальное расстояние между колонками: 50px ($grid-gap)
        p Вертикальное расстояние между колонками: 50px ($grid-gap-vertical)
        p Переменные: styles/helpers/_variables.scss
        p Блок: blocks/grid/

      +ui-section-content()
        +ui-special(style="margin-bottom: 20px")
          +content-zone
            H4 Возможные варианты использования
            p +col(12) агалогично +col({ xl: 12 })
            p +col({ xl: 8, lg: 6: md: 5, sm: 7, xs: 12 })
            p
              span Промежуточные брейкпоинты указывать не обязательно
              br
              span При следующей записи - блок будет занимать 6 колонок на всех разрешениях, а на самом маленьком #[i (xs)] 12
            p +col({ xl: 6, xs: 12 })

        +grid
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)
        br
        +grid.grid_big
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)

    //- Цвета
    +ui-section
      +ui-section-head
        h2 Цвета сайта
        p Переменные находятся в файле styles/helpers/_variables.scss
      +ui-section-content()
        +ui-elements-list()
          +ui-color('#525a65', '$color-basic', true)
          +ui-color('#86919e', '$color-basic-light', true)
          +ui-color('#121615', '$color-basic-dark', true)
          +ui-color('#858c99', '$color-form-light', true)
          +ui-color('#a0a7ab', '$color-arrow',true)
          +ui-color('#f2f6f6', '$color-bg',true)
          +ui-color('#151b25', '$color-grey-dark',true)
          +ui-color('#2ee0c9', '$color-text-green',true)
          +ui-color('#0caecc', '$color-gradient-one',true)
          +ui-color('#30e3c9', '$color-gradient-two',true)
          +ui-color('#ff9600', '$color-yellow',true)
          +ui-color('#eb4433', '$color-red',true)
          +ui-color('#1dd5f0', '$color-blue',true)
          +ui-color('#29f785', '$color-green',true)
          +ui-color('#ffffff', '$color-white',true)
          +ui-color('#acb5c0', '$color-bc-light',true)
          +ui-color('#303333', '$color-bc-dark',true)


    //- Цвета
    +ui-section
      +ui-section-head
        h2 Градиенты
        p Цвета для градиентов находятся в файле styles/helpers/_variables.scss
        p Сами градиенты в styles/helpers/_gradients.scss
      +ui-section-content()
        +ui-elements-list()
          +ui-gradient('gradient-main', true)._gradient_main

    //- Шрифты и контентная зона
    +ui-section
      +ui-section-head
        h2 Шрифты и контентная зона
        p Основной шрифт: ProximaNova ($font-main), font-weight: 400, 700, 300
        p Переменные находятся в файле styles/helpers/_variables.scss
        p Шрифты подключены в styles/helpers/_fonts.scss
        p Контентная зона: blocks/content-zone
        p Стили всех текстов лежат в файле styles/helpers/_text-styles.scss
      +ui-section-content()
        +ui-description .content-zone
        +ui-special()
          +content-zone
            h1 Заголовок H1 (heading-1)
            h2 Заголовок H2 (heading-2)
            h3 Заголовок H3 (heading-3)
            h4 Заголовок H4 (heading-4)
            h5 Заголовок H5 (heading-5)
            h6 Заголовок H6 (heading-6)
            p Текст p (text)<br> Цитата внутри текста p: <q>Цитата q</q>
            p <small>Тег small внутри p (text-small)</small>
            p ссылка внутри текста
              a(href="#") ссылка
            blockquote Цитата blocquoute
        +ui-description .content-zone._small
        +ui-special()
          +content-zone.content-zone_small
            h1 Заголовок H1 (heading-1)
            h2 Заголовок H2 (heading-2)
            h3 Заголовок H3 (heading-3)
            h4 Заголовок H4 (heading-4)
            h5 Заголовок H5 (heading-5)
            h6 Заголовок H6 (heading-6)
            p Текст p (text)<br> Цитата внутри текста p: <q>Цитата q</q>
            p <small>Тег small внутри p (text-small)</small>
            p ссылка внутри текста
              a(href="#") ссылка
            blockquote Цитата blocquoute

    +ui-section
      +ui-section-head
        h2 Scroll form
        p Блок: blocks/scroll-form
      +ui-section-content()
        +grid
          +col(3)
            +scroll-form

    //- Кнопки
    +ui-section
      +ui-section-head
        h2 Кнопки
        p Блок: blocks/button
      +ui-section-content()
        +ui-elements-list()
          +button()(href="#") .button
          +button()(href="#")._border .button_border
          +button()(href="#")._border._border_bg-white .button_border._border_bg-white
          +button()(href="#")._thin-border .button_thin-border
          +button()(href="#")._thin-border._thin-border_bg-white .button_thin-border._thin-border_bg-white
          +button()(href="#")._small .button._small
          +button()(href="#")._smaller .button._smaller
          +button()(href="#")._border._small._border_small .button._border._small._border_small
          +button()(href="#")._border._small._border_narrow-small .button._border._small._border_narrow-small
          +button()(href="#")._thin-border._smaller._thin-border_smaller .button._thin-border._smaller._thin-border_smaller
          +button('button')(href="#" disabled) .button:disabled
        +ui-description При клике на .js-anchor происходит скролл к элементу из атрибута href. Блок: blocks/js-functions/anchor.js
        +button()(href="#section0").js-anchor .js-anchor
        +ui-description При клике на .js-freeze скролл страницы блокируется, на .js-unfreeze разблокируется. Блок: blocks/js-functions/freeze.js. Функции freeze() и unfreeze() можно импортировать и использовать в модалках, бургере или где-то еще
        +ui-elements-list()
          +button()(href="#").js-freeze .js-freeze
          +button()(href="#").js-unfreeze .js-unfreeze



    //- Списки
    +ui-section
      +ui-section-head
        h2 Списки
        p Блок: blocks/lists
        p По желанию можно доработать (для каких-то сложных списков). Добавить миксин +list-item и вписать туда шаблон для li
      +ui-section-content()
        +ui-description ul.list
        +ul-list
          li Элемент списка
            +ul-list
              li Элемент списка
              li Элемент списка
              li Элемент списка
          li Элемент списка
          li Элемент списка
        +ui-description ol.list
        +ol-list(ol)
          li Элемент списка
          li Элемент списка
            +ol-list(ol)
              li Элемент списка
              li Элемент списка
              li Элемент списка
          li Элемент списка

    //- Элементы форм
    +ui-section
      +ui-section-head
        h2 Элементы форм
        p Блоки: blocks/form-elements и blocks/form-box
      +ui-section-content()
        +grid.grid_big
          +col(6)
            +ui-description .input
            br
            +form-box('Плейсхолдер')
              +input(placeholder="Плейсхолдер")
          +col(6)
            +ui-description .select.js-select
            br
            +form-box('Плейсхолдер')
              +select.js-select-input
                option(value="Опция 1") Опция 1
                option(value="Опция 2") Опция 2
                option(value="Опция 3") Опция 3
          +col(6)
            +ui-description .js-datepicker<br> Параметры задаются через дата-атрибуты
            br
            +form-box('Выберите дату', 'calendar2')
              +input(placeholder="Выберите дату" readonly).js-datepicker
          +col(6)
            +ui-description Поле ввода номера телефона.<br> Маска определяется через атрибут data-type="tel"
            br
            +form-box('Phone')._phone
              +input()(placeholder="+7 (___) ___-__-__" data-type="tel")
          +col(6)
            +ui-description Поле ввода e-mail.<br> Маска определяется через атрибут data-type="email"
            br
            +form-box('E-mail')
              +input()(placeholder="E-mail" data-type="email")
          +col(6)
            +ui-description .js-number-input<br> Поле изменения количества
            br
            +form-box()
              +input-number()(placeholder="Количество товара")
          +col(12)
            +ui-description .textarea
            br
            +form-box('Текстовое поле')
              +textarea(placeholder="Текстовое поле" rows="1")
          +col(6)
            +ui-description .checkbox
            +inputbox()
              +checkbox('ui-checkbox', 'test', true) Чекбокс
            +ui-description .checkbox._small
            +inputbox()
              +checkbox('ui-checkbox', 'test', true)._small Чекбокс маленький
            +ui-description .checkbox._inverse
            +inputbox()
              +checkbox('ui-checkbox', 'test', true)._inverse Чекбокс обратный
            +ui-description .checkbox:disabled или .checkbox.is-disabled
            +inputbox()
              +checkbox('ui-checkbox', 'test', true).is-disabled Чекбокс отключеный
          +col(6)
            +ui-description .checkradio
            +inputbox()
              +ui-elements-list
                +radio('ui-radio', 'test', true) Радиокнопка
                +radio('ui-radio', 'test-2') Радиокнопка
            +ui-description .checkradio._nobox
            +inputbox()
              +ui-elements-list
                +radio('ui-radio2', 'test', true)._nobox Радиокнопка
                +radio('ui-radio2', 'test-2')._nobox Радиокнопка
            +ui-description .checkradio:disabled или .checkradio.is-disabled
            +inputbox()
              +ui-elements-list
                +radio('ui-radio2', 'test', true).is-disabled Радиокнопка
                +radio('ui-radio2', 'test-2').is-disabled Радиокнопка
          +col(6)
            +ui-description .range.js-range<br> Все параметры задаются дата-атрибутами
            +inputbox()
              +range()(data-start='40', data-connect='[true, false]', data-min='0', data-max='100')
          +col(12)
            +ui-description Селектбоксы
            +grid
              +col(3)
                +ui-description .js-select
                +select.js-select
                  option(value="Опция 1") Опция 1
                  option(value="Опция 2") Опция 2
                  option(value="Опция 3") Опция 3
              +col(3).is-dark
                +ui-description .js-select-light
                +select.js-select-light
                  option(value="placeholder" placeholder) Placeholder
                  option(value="Опция 1") Опция 1
                  option(value="Опция 2") Опция 2
                  option(value="Опция 3") Опция 3
              +col(3)
                +ui-description .js-select-dark
                +select.js-select-dark
                  option(value="placeholder" placeholder) Placeholder
                  option(value="Опция 1") Опция 1
                  option(value="Опция 2") Опция 2
                  option(value="Опция 3") Опция 3
              +col(3).is-dark
                +ui-description .js-select-color
                +select.js-select-color
                  option(value="placeholder" placeholder) Placeholder
                  option(value="Опция 1") Опция 1
                  option(value="Опция 2") Опция 2
                  option(value="Опция 3") Опция 3
          +col(12).is-dark
            +ui-description Цветные радиокнопки
            +grid
              +col(3)
                +ui-description .color-radio._orange
                +color-radio('test-color', '1')._orange Hot Desk
              +col(3)
                +ui-description .color-radio._red
                +color-radio('test-color', '2')._red Dedicated Desk
              +col(3)
                +ui-description .color-radio._blue
                +color-radio('test-color', '3')._blue Meeting Room
              +col(3)
                +ui-description .color-radio._green
                +color-radio('test-color', '4')._green Office Space
          +col(12)
            +ui-description Цветные радиокнопки темные
            +grid
              +col(3)
                +ui-description .color-radio._orange._dark
                +color-radio('test-color', '1')._orange._dark Hot Desk
              +col(3)
                +ui-description .color-radio._red._dark
                +color-radio('test-color', '2')._red._dark Dedicated Desk
              +col(3)
                +ui-description .color-radio._blue._dark
                +color-radio('test-color', '3')._blue._dark Meeting Room
              +col(3)
                +ui-description .color-radio._green._dark
                +color-radio('test-color', '4')._green._dark Office Space

    //-Табы
    +ui-section
      +ui-section-head
        h2 Табы
        p Блок: blocks/tabs
      +ui-section-content()
        +ui-description табы цветные
        +tabs
          +tab()(data-tab-target="tab1")._orange.active Информация
          +tab()(data-tab-target="tab2")._red Информация
          +tab()(data-tab-target="tab3")._blue Информация
          +tab()(data-tab-target="tab4")._green Информация
        +tabs-content
          +tab-wrapper()(data-tab="tab1" data-tab-group="testtabs").active
            p Это таб 1
          +tab-wrapper()(data-tab="tab2" data-tab-group="testtabs")
            p Это таб 2
          +tab-wrapper()(data-tab="tab3" data-tab-group="testtabs")
            p Это таб 3
          +tab-wrapper()(data-tab="tab4" data-tab-group="testtabs")
            p Это таб 4
        +ui-description табы бесцветные
        +tabs
          +tab()(data-tab-target="tabе1").active Информация
          +tab()(data-tab-target="tabе2") Информация
          +tab()(data-tab-target="tabе3") Информация
          +tab()(data-tab-target="tabе4") Информация
        +tabs-content
          +tab-wrapper()(data-tab="tabе1" data-tab-group="testtabs").active
            p Это таб 1
          +tab-wrapper()(data-tab="tabе2" data-tab-group="testtabs")
            p Это таб 2
          +tab-wrapper()(data-tab="tabе3" data-tab-group="testtabs")
            p Это таб 3
          +tab-wrapper()(data-tab="tabе4" data-tab-group="testtabs")
            p Это таб 4

    //- Попапы
    +ui-section
      +ui-section-head
        h2 Попапы
        p Блок: blocks/popups
      +ui-section-content()
        +ui-description .js-fancybox
        +link()(href="#testpopup").js-fancybox Открыть попап
        +ui-description Верстка попапов:
        +link()(onclick="$('.popups').toggle()") Показать попапы
        +popups.__ui-popups
          +popup#testpopup
            +content-zone
              h2 Тестовый попап
              p С тестовым контентом

    //- Ссылки
    +ui-section
      +ui-section-head
        h2 Ссылки
        p Блок: blocks/link
        p Стили ссылок: helpers/_link-styles.scss
      +ui-section-content()
        +ui-description .link
        +link()(href="#") Обычная ссылка
        +ui-description .link._bordered
        +link()(href="#")._bordered Подчеркнутая при наведении ссылка
        +ui-description .link._icon
        +link-icon('refresh')(href="#") Ссылка с иконкой
        +ui-description .link._white
        +link._white(href="#") Ссылка белая
        +ui-description .link._blue
        +link._blue(href="#") Ссылка синяя
        +ui-description .link.is-disabled
        +link()(href="#").is-disabled Отключенная ссылка

    //- Скроллбар
    +ui-section
      +ui-section-head
        h2 Кастомный скроллбары
        p Блок: blocks/scrollbar/scrollbar
      +ui-section-content()
        +grid
          +col(3)
            +ui-description .js-scrollbar
            +e.scrolldemo.js-scrollbar
              +e.scrolldemo-block
          +col(3)
            +ui-description .js-scrollbar-thin
            +e.scrolldemo.js-scrollbar-thin
              +e.scrolldemo-block
          +col(3)
            +ui-description .js-scrollbar-dark
            +e.scrolldemo.js-scrollbar-dark
              +e.scrolldemo-block
          +col(3)
            +ui-description .js-scrollbar-light
            +e.scrolldemo.js-scrollbar-light
              +e.scrolldemo-block

    //- Слайдер
    - var spaces = getData('spaces.json')
    - var rooms = getData('rooms.json')
    - var news = getData('news.json')
    +ui-section
      +ui-section-head
        h2 Слайдеры
        p Блок: blocks/slider/slider
      +ui-section-content()
        +ui-description .js-slider-spaces
        br
      +slider(true, false).js-slider-spaces
        each item in spaces
          +slide
            +space(item)(href="#")
      br
      +ui-section-content()
        +ui-description .js-slider-rooms
        br
      +slider(true, false).js-slider-rooms
        each item in rooms
          +slide
            +space(item)(href="#")
      br
      +ui-section-content()
        +ui-description .js-slider-news
        br
      +slider(true, false).js-slider-news
        each item in news
          +slide
            +news(item)(href="#")
      br
      +ui-section-content()
        +ui-description .js-slider-spaces-inner
        br
      +slider(true, false)._sm-btn-hide.js-slider-spaces-inner
        each item in spaces
          +slide
            +space(item)(href="#")
      br
      +ui-section-content()
        +ui-description .js-slider-gallery
        +slider-gallery(true, true).js-slider-gallery
          +e.IMG.slide.swiper-slide(src="assets/images/space-lead1.jpg")
          +e.IMG.slide.swiper-slide(src="assets/images/space-lead2.jpg")
          +e.IMG.slide.swiper-slide(src="assets/images/space-lead3.jpg")
          +e.IMG.slide.swiper-slide(src="assets/images/space-lead4.jpg")

    //- Подсказки
    +ui-section
      +ui-section-head
        h2 Подсказки
        p Блок: blocks/tooltip/tooltip
      +ui-section-content()
        +ui-description .js-tooltip
        +button()(href="#" title="Пример подсказки").js-tooltip Пример подсказки

    //- Карты
    +ui-section
      +ui-section-head
        h2 Карты
        p Блок: blocks/map/map
      +ui-section-content()
        +ui-description .map#map
        +map()#map
      +ui-section-content()
        +ui-description .map._big#mapTwo
        +map()._big#mapTwo

    //- Анимации
    +ui-section
      +ui-section-head
        h2 Анимации при скролле
        p Блок: blocks/js-functions/scrollanimation
      +ui-section-content()
        +ui-description .js-sr — общий класс для анимируемых элементов
        +content-zone
          h3.js-sr.js-sr_1 .js-sr_1
          h4.js-sr.js-sr_2 .js-sr_2

    //- Хлебные крошки
    +ui-section
      +ui-section-head
        h2 Хлебные крошки
        p Блок: blocks/breadcrumbs/breadcrumbs
        p Блок: components/breadcrumbs-box/breadcrumbs-box
      +ui-section-content()
        +ui-description .breadcrumbs
        +breadcrumbs(['London', 'Kensington', 'Boutique Workplace - 1 Neal Street'])
        +ui-description .breadcrumbs-box
      +breadcrumbs-box

    //- Рейтинг
    +ui-section
      +ui-section-head
        h2 Рейтинг
        p Блок: blocks/rating/rating
      +ui-section-content()
        +ui-description Интерактивный
        +rating-interactive
        +ui-description Статичный
        +rating(3)

    //- Аккордион
    +ui-section
      +ui-section-head
        h2 Аккордион
        p Блок: blocks/accordion/accordion

      +ui-section-content()
        +accordions
          +accordion.is-active
            +accordion-button
            +accordion-body
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis
          +accordion
            +accordion-button
            +accordion-body
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis

    //- Dropdown
    +ui-section
      +ui-section-head
        h2 Dropdown
        p Блок: blocks/dropdown/dropdown
      +ui-section-content
        +ui-description Для использования, нужно "кнопке" добавить класс .js-dropdown-toggle
        div(style="display: inline-block; position: relative; margin-bottom: 24px;")
          +button.js-dropdown-toggle top
          +dropdown._position_top content
        div(style="display: inline-block; position: relative; margin-bottom: 24px;")
          +button.js-dropdown-toggle bottom
          +dropdown content

    //- put-block-into-slot
    +ui-section
      +ui-section-head
        h2 Перемещение блока по слотам
        p Блок: blocks/put-block-into-slot/put-block-into-slot

      +ui-section-content
        +ui-description При смене брейкпоинта app/scripts/globalOptions.js блоки будут перемещены в соответствующий слот
        +grid
          +col(12)
            p(style="font-size: 12px; color: #999;")
              | +put-block-into-slot('slotId', 'xl')
            +put-block-into-slot('slotId', 'xl')
              div(style="width: 100%; padding: 15px; margin-top: 15px; border: 1px black dashed; text-align: center;") Этот блок будет перемещаться в зависимости от брейпоинта
          +col(3)
            p(style="font-size: 12px; color: #999;")
              | +put-block-into-slot('slotId', 'lg')
            +put-block-into-slot('slotId', 'lg')
          +col(3)
            p(style="font-size: 12px; color: #999;")
              | +put-block-into-slot('slotId', 'md')
            +put-block-into-slot('slotId', 'md')
          +col(3)
            p(style="font-size: 12px; color: #999;")
              | +put-block-into-slot('slotId', 'sm')
            +put-block-into-slot('slotId', 'sm')
          +col(3)
            p(style="font-size: 12px; color: #999;")
              | +put-block-into-slot('slotId', 'xs')
            +put-block-into-slot('slotId', 'xs')

    //- Avatar
    +ui-section
      +ui-section-head
        h2 Аватар
        p Блок: blocks/avatar
      +ui-section-content
        +ui-description .avatar
        +avatar('assets/images/ava.jpg')

    //- Short profile
    +ui-section
      +ui-section-head
        h2 Профиль в хэдере
        p Блок: blocks/short-profile
      +ui-section-content
        +ui-description .short-provile
        +short-profile

    //- User link
    +ui-section
      +ui-section-head
        h2 Ссылка в профиле в хэдере
        p Блок: blocks/user-link
      +ui-section-content
        +ui-description .user-link
        +user-link('message', '_message')
        +ui-description .user-link.is-new - с активным маркером
        +user-link('message', '_message', true)

    //- Social
    +ui-section
      +ui-section-head
        h2 Социальные сети
        p Блок: blocks/socials и Блок blocks/social
      +ui-section-content
        +ui-description .social - ссылка на соцсеть
        +social('sc-fb')._fb(href="#" title="facebook")
        +ui-description .social._big - увеличенная ссылка на соцсеть
        +social('sc-fb')._big._fb(href="#" title="facebook")
        +ui-description .socials
        +socials
        +ui-description .socials._big
        +socials-big

    //- Close
    +ui-section
      +ui-section-head
        h2 Кнопка закрыть
        p Блок: blocks/close
      +ui-section-content
        +ui-description .close
        +close

    //- Nav list
    +ui-section
      +ui-section-head
        h2 Список в навигации
        p Блок: blocks/nav-list
      +ui-section-content
        +ui-description .nav-list
        +nav-list(getData('main-menu-top.json'))

    //- Divider
    +ui-section
      +ui-section-head
        h2 Разделительная полоса
        p Блок: blocks/divider
      +ui-section-content
        +ui-description .divider
        +divider

    //- Section
    +ui-section
      +ui-section-head
        h2 Секции
        p Блок: blocks/section
      +ui-section-content
        +ui-description .section_bg._promo
    +section._bg._promo
      .container
        +section-wrapper
          +section-bg('assets/images/section-bg.jpg')
          +section-content
            +section-header
              +section-title('h2')._big Thousands of&nbsp;professionals prefer to&nbsp;search for perfect workplace on&nbsp;Space Pool
              +button()(href="#") Find out why
            +section-footer
              +e.note_mb15 Today Space Pool is&nbsp;about searching for greatest and most amazing workplaces around London. It&rsquo;s like visiting hundreds of&nbsp;places whithout even leaving your room.
    +ui-section
      +ui-section-content
        +ui-description .section_bg._lead
    +section._bg._lead
      .container
        +section-wrapper
          +section-bg('assets/images/main-lead.jpg')
          +section-content
            +section-header
              +e.lead_left
                +section-title('h2')._big The place where you can find your dream workspace.
              +e.lead_right Additional Content
            +section-footer
              +e.note Between 2&nbsp;960&nbsp;offices, 380 conversation rooms and over 15&nbsp;000 free co-working desks

    //- Boxes
    +ui-section
      +ui-section-head
        h2 Маркеры помещений (цветные квадраты)
        p Блок: blocks/boxes
      +ui-section-content
        +ui-description .box (по дефолту .box - бесцветный, поэтому для демонстраци окрашен)
          +box._orange
        +ui-description .box._small
          +box._orange._small
        +ui-description .box._smaller
          +box._orange._smaller
        +ui-description .box._big
          +box._orange._big
        +ui-description .box._orange
          +box._orange
        +ui-description .box._red
          +box._red
        +ui-description .box._blue
          +box._blue
        +ui-description .box._green
          +box._green
        +ui-description .boxes
        +boxes
          +box._orange
          +box._red
          +box._blue
          +box._green
        +ui-description .boxes._big
        +boxes._big
          +box._big._orange
          +box._big._red
          +box._big._blue
          +box._big._green

    //- Button heart
    +ui-section
      +ui-section-head
        h2 Кнопка сердечко
        p Блок: blocks/button-heart
      +ui-section-content
        +ui-description .button-heart
        +button-heart
        +ui-description .button-heart.is-active - активное состояние
        +button-heart.is-active
        +ui-description .button-heart.js-heart - переключает состояние
        +button-heart.js-heart
        +ui-description .button-heart._white - сердечко с белой заливкой
        +button-heart._white.js-heart
        +ui-description .button-heart._gray - сердечко с серой границей
        +button-heart._gray.js-heart

    //- Spaces
    - var space = {img: "assets/images/space1.jpg", boxes: {box1: {class: "_orange"}, box2: {class: "_red"}, box3: {class: "_blue"}, box4: {class: "_green"}},title: "TOG - Henry Wood House",location: "W1W, London"};
    - var room = {img: "assets/images/room1.jpg", seats: "18 seats", title: "TOG - Henry Wood House", location: "W1W, London"};
    +ui-section
      +ui-section-head
        h2 Spaces
        p Блок: blocks/space
      +ui-section-content
        +ui-description .space
        +grid
          +col(3)
            +space(space)
          +col(3)
            +space(room)


    //- compact-form
    +ui-section
      +ui-section-head
        h2 Filter for location on mobile
        p Блок: blocks/compact-filter
      +ui-section-content
        +ui-description .compact-filter
        +grid
          +col(3)
            +compact-filter(style="width: 282px")

    //- News
    - var news = {img: "assets/images/news1.jpg", date: "September 9", title: "The perfect Workplace Do&nbsp;exist.&nbsp;5&nbsp;simple steps to&nbsp;make the office of&nbsp;your drem.", info: "For many employers, career success is&nbsp;desired. Establishing a&nbsp;profitable company, we&rsquo;re looking for the best candidates only, whose knowledge and experience can help to&nbsp;achieve career goals."};
    +ui-section
      +ui-section-head
        h2 News
        p Блок: blocks/news
      +ui-section-content
        +ui-description .news
        +grid
          +col(3)
            +news(news)

    //- Add favorite button
    +ui-section
      +ui-section-head
        h2 Кнопка добавить в избранное
        p Блок: blocks/add-button
      +ui-section-content
        +ui-description .add-button
        +add-button.__link(href="#" data-active-name="Added to Favorites" data-name="Add to Favorites") Add to Favorites

    //- Address list
    +ui-section
      +ui-section-head
        h2 Стилизованный адрес
        p Блок: blocks/address-list
      +ui-section-content
        +ui-description .address-list
        +address-list
          +e.LI.item London
          +e.LI.item Kensington
          +e.LI.item EC2A, London

    //- Info price
    +ui-section
      +ui-section-head
        h2 Ценник
        p Блок: blocks/info-price
      +ui-section-content
        +ui-description .info-price
        +info-price('Starting at Just') £300 per month

    //- page-title
    +ui-section
      +ui-section-head
        h2 Page Title
        p Блок: blocks/page-title
      +ui-section-content
        +ui-description .page-title
        +page-title Page title

    //- Lead for space.html
    +ui-section
      +ui-section-head
        h2 Lead on space.html
        p Блок: components/lead
      +ui-section-content
        +ui-description .lead
      +lead

    //- Transport table
    +ui-section
      +ui-section-head
        h2 Transport table
        p Блок: blocks/transport-table
      +ui-section-content
        +ui-description .transport-table
        +transport-table

    //- Transport type
    +ui-section
      +ui-section-head
        h2 Transport type
        p Блок: blocks/transport-type
      +ui-section-content
        +ui-description .transport-type
        +transport-type('Chancery Lane')
          +e.icons
            +icon('metro').__icon_metro(style="fill: #e24d25")
        +ui-description .transport-type._bus
        +transport-type('Haymarket / Jermyn Street')._bus
          +e.icons
            +icon('bus').__icon_bus
          +e.UL.numbers
            li 6
            li 20
            li N53
            li N15
            li N113
        +ui-description .transport-type._airplane
        +transport-type('Heathrow airport')._airplane
          +e.icons
            +icon('airplane').__icon_airplane

    //- Travel time
    +ui-section
      +ui-section-head
        h2 Travel time
        p Блок: blocks/travel-time
      +ui-section-content
        +ui-description .travel-time on foot
        +travel-time('25 min', 'man', '_man')
        +ui-description .travel-time on car
        +travel-time('44 - 80 min', 'car', '_car')

    //- Facility
    +ui-section
      +ui-section-head
        h2 Facility
        p Блок: blocks/facility
      +ui-section-content
        +ui-description .facility
        +grid
          +col(1)
            +facility('shower', '_shower') Showers

    //- Offer info
    +ui-section
      +ui-section-head
        h2 Offer info
        p Блок: blocks/offer-info
      +ui-section-content
        +ui-description .offer-info
        +offer-info('', '&pound;185 per month')
          +e.title office space
        +ui-description .offer-info with box
        +offer-info('', '&pound;185 per month')
          +box._size10._green
          +e.title office space
        +ui-description .offer-info with heart
        +offer-info('', '&pound;185 per month')
          +box._size10._green
          +e.title office space
          +button-heart._gray._small.js-heart
        +ui-description .offer-info._line
        +offer-info('', '&pound;185 per month')._line
          +box._size17._green.hide-from-sm
          +e.title office space
          +button-heart._gray._small.js-heart.hide-from-sm

    //- Offer short
    +ui-section
      +ui-section-head
        h2 Offer short
        p Блок: components/offer-short
      +ui-section-content
        +ui-description .offer-short
        +offer-short
          +offer-info('', '&pound;211 per month')._line.__info
            +box._size17._blue.hide-from-sm
            +e.title meetin room
            +button-heart._gray._small.js-heart.hide-from-sm
          +e.status
            +e.buttons
              +button-heart._gray._small.__button._heart.js-heart.hide-sm
              +button('a')._thin-border._thin-border_smaller._smaller.__button Arrange a viewing
              +button('a')._smaller.__button Request Reservation
            +e.available AVIALABLE NOW
          +content-zone._small.__content
            p This text is some part of every offer for every building. This text is meant to be some textual lead for all additional information you can put inside every offer. So it can be long and that’s why we should put the limit for it.
            ul
              li 24 hours access
              li Pets allowed
              li Entrance only with electronic card
              li Silent time from 10pm till 8am
              li First and last months for offices are paid before letting start
        +ui-description .offer.is-not-available
        +offer-short.is-not-available
          +offer-info('', '&pound;185 per month')._line.__info
            +box._size17._green.hide-from-sm
            +e.title office space
            +button-heart._gray._small.js-heart.hide-from-sm
          +e.status
            +e.buttons
              +button-heart._gray._small.__button._heart.js-heart.hide-sm
              +button('a')._thin-border._thin-border_smaller._smaller.__button Arrange a viewing
              +button('a')._smaller.__button Request Reservation
            +e.available NOT AVAILABLE
          +content-zone._small.__content
            p This text is some part of every offer for every building. This text is meant to be some textual lead for all additional information you can put inside every offer. So it can be long and that’s why we should put the limit for it.
            ul
              li 24 hours access
              li Pets allowed
              li Entrance only with electronic card
              li Silent time from 10pm till 8am
              li First and last months for offices are paid before letting start

    //- Spoiler
    +ui-section
      +ui-section-head
        h2 Offer short
        p Блок: components/offer-short
      +ui-section-content
        +spoiler
          +content-zone
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis

block panels
  +main-menu


  script
    |
    | $('.ui-kit__section').each(function (i) {
    |   var id = 'section' + i;
    |   var name = $(this).find('.ui-kit__section-head h2').text();
    |   var li = $('<li></li>');
    |   var a = $('<a></a>');
    |
    |   a.attr('href', '#'+id).text(name).addClass('js-anchor');
    |   li.append(a);
    |
    |   $('.ui-kit__navigation__list').append(li);
    |   $(this).attr('id', id);
    | });
