.nd-section {
  $b: &;

  display: block;
  width: 100%;

  &:not(:first-child) {
    margin-top: 78px;

    @include screen('xlg', max, 2) {
      margin-top: pxtovw(78, 1660);
    }

    @include screen('lg', max, 2) {
      margin-top: pxtovw(90, 1366);
    }

    @include screen('md', max, 2) {
      margin-top: pxtovw(75, 960);
    }

    @include screen('sm', max, 2) {
      margin-top: pxtovw(43, 375);
    }
  }

  &_mt80:not(:first-child) {
    margin-top: 80px;

    @include screen('xlg', max, 2) {
      margin-top: pxtovw(80, 1660);
    }

    @include screen('lg', max, 2) {
      margin-top: pxtovw(80, 1366);
    }

    @include screen('md', max, 2) {
      margin-top: pxtovw(80, 960);
    }

    @include screen('sm', max, 2) {
      margin-top: pxtovw(75, 375);
    }
  }

  &_mt114:not(:first-child) {
    margin-top: 114px;

    @include screen('xlg', max, 2) {
      margin-top: pxtovw(114, 1660);
    }

    @include screen('lg', max, 2) {
      margin-top: pxtovw(75, 1366);
    }

    @include screen('md', max, 2) {
      margin-top: pxtovw(80, 960);
    }

    @include screen('sm', max, 2) {
      margin-top: pxtovw(60, 375);
    }
  }

  &_mt130:not(:first-child) {
    margin-top: 130px;

    @include screen('xlg', max, 2) {
      margin-top: pxtovw(130, 1660);
    }

    @include screen('lg', max, 2) {
      margin-top: pxtovw(97, 1366);
    }

    @include screen('md', max, 2) {
      margin-top: pxtovw(110, 960);
    }

    @include screen('sm', max, 2) {
      margin-top: pxtovw(75, 375);
    }
  }

  &_fx {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &_center {
      align-items: center;
    }
  }

  &__header {
    display: block;
    width: 100%;
    box-sizing: border-box;

    #{$b}__text {
      &:not(:first-child) {
        margin-top: 14px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(14, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(14, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(14, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(27, 375);
        }
      }
    }

    &_fx {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      @include screen('lg', max, 2) {
        align-items: center;
      }
    }

    &_md-pg-head {
      @include screen('md', max, 2) {
        margin-top: pxtovw(22, 960);
        min-height: pxtovw(85, 960);
      }
    }
  }

  &__title {
    display: inline-block;
    font-family: $font-stolzl;
    font-weight: 400;
    letter-spacing: -.015em;
    font-size: 22px;
    line-height: (26 / 22);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(22, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(20, 1366);
      line-height: (24 / 20);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(20, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(20, 375);
    }

    &_fz24  {
      font-size: 24px;
      line-height: 1;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(24, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(24, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(24, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(20, 375);
      }
    }

    &_fz30 {
      font-size: 30px;
      line-height: 1.19;
      letter-spacing: normal;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(30, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(30, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(30, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(20, 375);
      }
    }

    &_sm-fz26 {
      @include screen('sm', max, 2) {
        font-size: pxtovw(26, 375);
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 65%;

    @include screen('md', max, 2) {
      display: block;
      width: pxtovw(540, 960);
    }

    &:not(:first-child) {
      margin-left: 30px;

      @include screen('xlg', max, 2) {
        margin-left: pxtovw(30, 1660);
      }

      @include screen('lg', max, 2) {
        margin-left: pxtovw(30, 1366);
      }

      @include screen('md', max, 2) {
        margin-left: pxtovw(30, 960);
      }

      @include screen('sm', max, 2) {
        margin-left: pxtovw(30, 375);
      }
    }

    .slider-navigation {
      width: auto;
      max-width: 100%;

      @include screen('md', max, 2) {
        width: 100%;
      }
    }
  }

  &__slider {
    overflow: hidden;

    &:not(:first-child) {
      margin-top: 52px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(52, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(44, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(40, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(25, 375);
      }
    }

    &_news {
      margin-bottom: 165px;

      @include screen('xl', max, 2) {
        margin-bottom: 182px;
      }

      @include screen('xlg', max, 2) {
        margin-bottom: pxtovw(182, 1660);
      }

      @include screen('lg', max, 2) {
        margin-bottom: pxtovw(132, 1366);
      }

      @include screen('md', max, 2) {
        margin-bottom: pxtovw(140, 960);
      }

      @include screen('sm', max, 2) {
        margin-bottom: pxtovw(86, 375);
      }

      &:not(:first-child) {
        margin-top: 60px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(60, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(55, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(49, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(36, 375);
        }
      }
    }

    &_spaces {
      padding-bottom: 10px;

      @include screen('sm', max, 2) {
        margin: 0 pxtovw(-20, 375);
        width: calc(100% + ((4000 / 375) * 1vw));
        padding: 0 pxtovw(20, 375);
      }

      &:not(:first-child) {
        margin-top: 62px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(62, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(42, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(35, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(24, 375);
        }
      }

      .nd-slider__container {
        @include screen('md', max, 2) {
          overflow: hidden;
        }

        @include screen('sm', max, 2) {
          overflow: visible;
        }
      }
    }
  }

  &__content {
    width: 100%;

    &:not(:first-child) {
      margin-top: 66px;

      @include screen('xl', max, 2) {
        margin-top: 70px;
      }

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(70, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(54, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(54, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(43, 375);
      }
    }

    &_promo {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding-top: 54px;
      margin-bottom: 84px;

      @include screen('xl', max, 2) {
        padding-top: 68px;
      }

      @include screen('xlg', max, 2) {
        padding-top: pxtovw(68, 1660);
        margin-bottom: pxtovw(84, 1660);
      }

      @include screen('lg', max, 2) {
        padding-top: pxtovw(8, 1366);
        margin-bottom: pxtovw(-6, 1366);
      }

      @include screen('md', max, 2) {
        padding-top: pxtovw(38, 960);
        margin-bottom: pxtovw(114, 960);
      }

      @include screen('sm', max, 2) {
        flex-wrap: wrap;
        margin-bottom: pxtovw(88, 375);
      }

      #{$b} {
        &__describe {
          display: block;
          box-sizing: border-box;
          width: 27.2%;
          flex: none;
          padding-top: 54px;

          @include screen('xl', max, 2) {
            width: 28.3%;
            padding-top: 52px;
          }

          @include screen('xlg', max, 2) {
            width: pxtovw(436, 1660);
            padding-top: pxtovw(52, 1660);
          }

          @include screen('lg', max, 2) {
            width: pxtovw(360, 1366);
            padding-top: pxtovw(17, 1366);
          }

          @include screen('md', max, 2) {
            width: pxtovw(281, 960);
            padding-top: pxtovw(14, 960);
          }

          @include screen('sm', max, 2) {
            width: 100%;
            padding-top: 0;
          }
        }

        &__promo-slider {
          display: block;
          padding-left: 107px;
          box-sizing: border-box;
          width: (100% - 27.2%);

          @include screen('xl', max, 2) {
            width: (100% - 28.3%);
            padding-left: 15px;
          }

          @include screen('xlg', max, 2) {
            width: pxtovw((1540 - 436), 1660);
            padding-left: pxtovw(15, 1660);
          }

          @include screen('lg', max, 2) {
            width: pxtovw((1266 - 360), 1366);
            padding-left: pxtovw(50, 1366);
          }

          @include screen('md', max, 2) {
            width: pxtovw((860 - 281), 960);
            padding-left: pxtovw(40, 960);
          }

          @include screen('sm', max, 2) {
            width: 100%;
            padding-left: 0;
          }

          @include screen('sm', max, 2) {
            flex: none;
            width: 100%;
            margin-top: pxtovw(35, 375);
          }
        }
      }

      .text-block {
        &__title {
          letter-spacing: -.04em;
        }
      }
    }
  }

  &__boxes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
  }

  &__text {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
    line-height: 1.63;
    letter-spacing: -.02em;
    font-weight: 400;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(17, 1660);
    }

    @include screen('lg', max, 2) {
      line-height: 1.7;
      font-size: pxtovw(17, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(17, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
      line-height: 1.63;
    }
  }

  &__map {
    &:not(:first-child) {
      margin-top: 42px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(42, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(42, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(42, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(30, 375);
      }
    }
  }

  &__routes {
    margin-bottom: 142px;

    @include screen('xlg', max, 2) {
      margin-bottom: pxtovw(142, 1660);
    }

    @include screen('lg', max, 2) {
      margin-bottom: pxtovw(86, 1366);
    }

    @include screen('md', max, 2) {
      margin-bottom: pxtovw(138, 960);
    }

    @include screen('sm', max, 2) {
      margin-bottom: pxtovw(75, 375);
    }

    &:not(:first-child) {
      margin-top: 26px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(26, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(26, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(26, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(18, 375);
      }
    }
  }

  &__offers {
    display: block;
    width: 100%;

    &:not(:first-child) {
      margin-top: 35px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(35, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(35, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(35, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(33, 375);
      }
    }
  }

  &__offer {
    display: block;
    width: 100%;

    &:not(:first-child) {
      margin-top: 40px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(40, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(40, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(40, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(30, 375);
      }
    }
  }

  &__dashboard {
    width: 100%;
  }

  &_dpo {
    &:not(:first-child) {
      margin-top: 136px;

      @include screen('xl', max, 2) {
        margin-top: 146px;
      }

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(146, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(88, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(102, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(83, 375);
      }
    }

    #{$b}__slider {
      &:not(:first-child) {
        margin-top: 96px;

        @include screen('xl', max, 2) {
          margin-top: 73px;
        }

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(73, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(60, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(82, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(56, 375);
        }
      }
    }
  }

  &_space {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    #{$b} {
      &__header {
        @include screen('md', max, 2) {
          order: 1;
        }

        @include screen('sm', max, 2) {
          order: 2;
        }

        &:not(:first-child) {
          margin-top: 74px;

          @include screen('xlg', max, 2) {
            margin-top: pxtovw(74, 1660);
          }

          @include screen('lg', max, 2) {
            margin-top: pxtovw(58, 1366);
          }

          @include screen('md', max, 2) {
            margin-top: pxtovw(17, 960);
          }

          @include screen('sm', max, 2) {
            margin-top: pxtovw(30, 375);
          }
        }
      }

      &__gallery {
        border-radius: 3px;
        overflow: hidden;
        margin: 0 0 0 -96px;
        width: calc(100% + 96px);
        padding-top: 61.6%;

        @include screen('xlg', max, 2) {
          margin: 0 0 0 pxtovw(-96, 1660);
          width: calc(100% + ((9600 / 1660) * 1vw));
          border-radius: pxtovw(3, 1660);
        }

        @include screen('lg', max, 2) {
          margin: 0;
          width: 100%;
          padding-top: 57%;
          border-radius: pxtovw(3, 1366);
        }

        @include screen('md', max, 2) {
          order: 2;
          border-radius: pxtovw(3, 960);
          padding-top: 54.5%;
          margin-top: pxtovw(50, 960);
        }

        @include screen('sm', max, 2) {
          order: 1;
          margin: pxtovw(14, 375) pxtovw(-20, 375) 0;
          width: calc(100% + ((4000 / 375) * 1vw));
          border-radius: pxtovw(3, 375);
          padding-top: 74.7%;
        }

        &:not(:first-child) {
          margin-top: 50px;

          @include screen('xlg', max, 2) {
            margin-top: pxtovw(50, 1660);
          }

          @include screen('lg', max, 2) {
            margin-top: pxtovw(50, 1366);
          }

          @include screen('md', max, 2) {
            margin-top: pxtovw(50, 960);
          }

          @include screen('sm', max, 2) {
            margin-top: pxtovw(50, 375);
          }
        }
      }

      &__boxes {
        &:not(:last-child) {
          @include screen('md', max, 2) {
            margin-bottom: pxtovw(34, 960);
          }

          @include screen('sm', max, 2) {
            margin-bottom: pxtovw(30, 375);
          }
        }
      }

      &__content {
        @include screen('md', max, 2) {
          order: 3;
        }

        &:not(:first-child) {
          margin-top: 52px;

          @include screen('xlg', max, 2) {
            margin-top: pxtovw(52, 1660);
          }

          @include screen('lg', max, 2) {
            margin-top: pxtovw(37, 1366);
          }

          @include screen('md', max, 2) {
            margin-top: pxtovw(45, 960);
          }

          @include screen('sm', max, 2) {
            margin-top: pxtovw(36, 375);
          }
        }
      }
    }
  }

  &__facility {
    width: 100%;

    &:not(:first-child) {
      margin-top: 80px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(80, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(82, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(80, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(45, 375);
      }
    }
  }

  &_rents {
    box-sizing: border-box;
    padding-top: 154px;

    @include screen('xlg', max, 2) {
      padding-top: pxtovw(154, 1660);
    }

    @include screen('lg', max, 2) {
      padding-top: pxtovw(119, 1366);
    }

    @include screen('md', max, 2) {
      padding-top: pxtovw(99, 960);
      padding-bottom: pxtovw(99, 960);
    }

    @include screen('sm', max, 2) {
      padding-top: pxtovw(158, 375);
      padding-bottom: pxtovw(158, 375);
    }

    #{$b} {
      &__content {
        text-align: center;
        width: 100%;
        max-width: 510px;

        @include screen('xlg', max, 2) {
          max-width: pxtovw(510, 1660);
        }

        @include screen('lg', max, 2) {
          max-width: pxtovw(510, 1366);
        }

        @include screen('md', max, 2) {
          max-width: pxtovw(510, 960);
        }

        @include screen('sm', max, 2) {
          max-width: none;
        }
      }
    }
  }
}
