mixin nd-section()
  +b.SECTION.nd-section&attributes(attributes)
    block

mixin nd-section-header()
  +e.header&attributes(attributes)
    block

mixin nd-section-footer()
  +e.footer&attributes(attributes)
    block

mixin nd-section-title(tag)
  +e(tag || 'h3').title&attributes(attributes)
    block

mixin nd-section-content()
  +e.content&attributes(attributes)
    block

mixin nd-section-wrapper()
  +e.wrapper&attributes(attributes)
    block

mixin nd-section-bg(img)
  +e.bg&attributes(attributes)
    +e.IMG.bg-image(src=img)

mixin nd-section-image(img)
  +e.media&attributes(attributes)
    +e.IMG.image(src=img)
