.section {
  $b: &;

  display: block;
  width: 100%;
  margin-bottom: 124px;

  @include screen('md') {
    margin-bottom: 65px;
  }

  @include screen('sm') {
    margin-bottom: 28px;
  }

  &_bg {
    color: $color-white;
    margin-bottom: 95px;

    @include screen('md') {
      margin-bottom: 68px;
    }

    @include screen('sm') {
      margin-bottom: 30px;
    }
  }

  &_grid {
    margin-bottom: 90px;

    @include screen('sm') {
      margin-bottom: 45px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_inner {
    margin-bottom: 66px;

    @include screen('sm') {
      margin-bottom: 44px;
    }

    &_bmg {
      margin-bottom: 72px;

      @include screen('md') {
        margin-bottom: 70px;
      }

      @include screen('sm') {
        margin-bottom: 44px;
      }
    }

    &_gmg {
      margin-bottom: 68px;

      @include screen('sm') {
        margin-bottom: 71px;
      }
    }

    &_smg {
      margin-bottom: 72px;

      @include screen('sm') {
        margin-bottom: 37px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .tabs {
      @include screen('sm') {
        margin-top: -7px;
      }
    }
  }

  &_mid-mg {
    margin-bottom: 116px;

    @include screen('md') {
      margin-bottom: 74px;
    }

    @include screen('sm') {
      margin-bottom: 36px;
    }
  }

  &_sm-mg {
    margin-bottom: 100px;

    @include screen('lg') {
      margin-bottom: 85px;
    }

    @include screen('md') {
      margin-bottom: 68px;
    }

    @include screen('sm') {
      margin-bottom: 35px;
    }
  }

  &_ltl-mg {
    margin-bottom: 108px;

    @include screen('md') {
      margin-bottom: 66px;
    }

    @include screen('sm') {
      margin-bottom: 33px;
    }
  }

  &_mg {
    margin-bottom: 95px;

    @include screen('md') {
      margin-bottom: 88px;
    }

    @include screen('sm') {
      margin-bottom: 50px;
    }
  }

  &_smaller-mg {
    margin-bottom: 72px;

    @include screen('lg') {
      margin-bottom: 75px;
    }

    @include screen('md') {
      margin-bottom: 48px;
    }

    @include screen('sm') {
      margin-bottom: 37px;
    }
  }

  &_promo {
    margin-bottom: 89px;

    @include screen('md') {
      margin-bottom: 66px;
    }

    @include screen('sm') {
      margin-bottom: 44px;
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &-image {
      @include fill-img;

      font-size: 0;
    }
  }

  &__header {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 56px;

    @include screen('md') {
      margin-bottom: 26px;
    }

    @include screen('sm') {
      margin-bottom: 18px;
    }

    #{$b}_grid & {
      margin-bottom: 40px;

      @include screen('sm') {
        margin-bottom: 20px;
      }
    }

    #{$b}_inner & {
      margin-bottom: 25px;

      @include screen('sm') {
        margin-bottom: 9px;
      }
    }

    #{$b}_inner_head-bmg & {
      margin-bottom: 25px;

      @include screen('sm') {
        margin-bottom: 12px;
      }
    }

    #{$b}_inner_head-gmg & {
      margin-bottom: 33px;

      @include screen('sm') {
        margin-bottom: 15px;
      }
    }

    #{$b}_bg & {
      margin-bottom: 62px;

      @include screen('md') {
        margin-bottom: 60px;
      }

      @include screen('sm') {
        margin-bottom: 35px;
      }
    }

    #{$b}_lead & {
      display: flex;
      margin-bottom: 120px;

      @include screen('lg') {
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 67px;
      }

      @include screen('md') {
        margin-bottom: 110px;
        flex-wrap: wrap;
      }

      @include screen('sm') {
        margin-bottom: 30px;
      }
    }

    &_location {
      z-index: 2;

      #{$b}__header-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    &_subscribe {
      @include screen('md') {
        margin-bottom: 44px;
      }

      @include screen('sm') {
        margin-bottom: 23px;
      }

      #{$b}__header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include screen('sm') {
          display: block;
        }
      }

      #{$b}__title {
        min-width: 160px;
        margin-right: 20px;

        @include screen('sm') {
          margin-right: 0;
        }
      }
    }

    &_tab-smmg {
      @include screen('md') {
        margin-bottom: 36px;
      }

      @include screen('sm') {
        margin-bottom: 16px;
      }
    }

    &-content {
      width: 100%;
    }

    &_flex {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__footer {
    display: block;
    width: 100%;

    #{$b}_bg & {
      margin-top: auto;
    }
  }

  &__title {
    @include heading-3;

    font-weight: 700;
    user-select: none;

    @include screen('sm') {
      @include heading-4;
    }

    &_big {
      @include heading-1;

      font-weight: 700;

      @include screen('md') {
        @include heading-1-lg;
      }

      @include screen('sm') {
        @include heading-1-sm;
      }
    }

    #{$b}_lead & {
      @include screen('md') {
        max-width: 460px;
      }
    }

    #{$b}_promo & {
      max-width: 670px;

      &:not(:last-child) {
        margin-bottom: 37px;

        @include screen('md') {
          margin-bottom: 60px;
        }

        @include screen('sm') {
          margin-bottom: 42px;
        }
      }
    }
  }

  &__subtitle {
    @include text-big;

    font-weight: 700;

    @include screen('sm') {
      @include text15;

      line-height: (20/15);
    }

    &:not(:first-child) {
      margin-top: 14px;

      @include screen('sm') {
        margin-top: 13px;
      }
    }
  }

  &__content {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;

    #{$b}_bg & {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      min-height: 470px;
      padding: 105px 50px 28px;
      max-width: 1448px;
      margin: 0 auto;
      z-index: 2;

      @include screen('lg') {
        padding: 105px 56px 28px;
      }

      @include screen('md') {
        padding: 70px 42px 42px 56px;
      }

      @include screen('sm') {
        padding: 40px 20px 44px;
      }
    }

    #{$b}_lead & {
      padding: 124px 50px 28px;
      max-width: 1448px;
      margin: 0 auto;

      @include screen('lg') {
        padding: 124px 50px 28px 65px;
      }

      @include screen('md') {
        padding: 50px 56px 60px;
      }

      @include screen('sm') {
        padding: 36px 20px 37px;
      }
    }
  }

  &__lead {
    display: block;
    box-sizing: border-box;

    @include screen('lg') {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &_left {
      width: 41%;
      padding-right: 45px;

      @include screen('lg') {
        width: auto;
        flex: 1;
        min-width: 460px;
        margin-bottom: 51px;
      }

      @include screen('md') {
        flex: none;
        width: 100%;
        padding-right: 0;
        margin-bottom: 51px;
        min-width: 0;
      }

      @include screen('sm') {
        margin-bottom: 14px;
      }
    }

    &_right {
      width: 59%;

      @include screen('lg') {
        width: auto;
        flex: 1;
        min-width: 550px;
      }

      @include screen('md') {
        width: 100%;
        flex: none;
        min-width: 0;
      }
    }
  }

  &__note {
    @include text16;

    display: block;
    width: 100%;
    box-sizing: border-box;
    font-weight: 300;
    padding-left: 2px;

    @include screen('sm') {
      @include text;

      line-height: 1.43;
    }

    &_mb15 {
      @include screen('sm') {
        @include text15;

        line-height: 1.34;
      }
    }

    &_bold {
      font-weight: 700;
    }
  }

  &__socials {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include screen('sm') {
      flex: none;
      display: block;
      width: 100%;
      margin-top: 14px;
    }

    .socials {
      margin-left: 37px;

      @include screen('sm') {
        margin-left: 0;
        margin-top: 6px;
      }
    }
  }

  &__location {

    &-top {
      margin-right: 50px;

      @include screen('bg') {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
        margin-bottom: 28px;
      }

      @include screen('sm') {
        margin-bottom: 10px;
      }
    }

    &-bottom {
      flex: 1;

      @include screen('bg') {
        flex: none;
        width: 100%;
      }
    }
  }
}
