.section {
  $b: &;

  display: block;
  width: 100%;
  margin-bottom: 126px;

  @include screen('lg') {
    margin-bottom: 65px;
  }

  &_bg {
    color: $color-white;
    margin-bottom: 95px;

    @include screen('lg') {
      margin-bottom: 68px;
    }
  }

  &_mid-mg {
    margin-bottom: 118px;

    @include screen('lg') {
      margin-bottom: 72px;
    }
  }

  &_sm-mg {
    margin-bottom: 100px;

    @include screen('xl') {
      margin-bottom: 85px;
    }

    @include screen('lg') {
      margin-bottom: 68px;
    }
  }

  &_ltl-mg {
    margin-bottom: 108px;

    @include screen('lg') {
      margin-bottom: 66px;
    }
  }

  &_mg {
    margin-bottom: 95px;

    @include screen('lg') {
      margin-bottom: 88px;
    }
  }

  &_promo {
    margin-bottom: 89px;

    @include screen('lg') {
      margin-bottom: 63px;
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &-image {
      @include fill-img;

      font-size: 0;
    }
  }

  &__header {
    display: block;
    width: 100%;
    margin-bottom: 56px;

    @include screen('lg') {
      margin-bottom: 26px;
    }

    #{$b}_bg & {
      margin-bottom: 62px;

      @include screen('lg') {
        margin-bottom: 60px;
      }

      @include screen('sm') {
        margin-bottom: 35px;
      }
    }

    #{$b}_lead & {
      display: flex;
      margin-bottom: 120px;

      @include screen('lg') {
        margin-bottom: 60px;
        flex-wrap: wrap;
      }
    }

    &_subscribe {

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include screen('sm') {
          display: block;
        }
      }

      @include screen('lg') {
        margin-bottom: 44px;
      }

      #{$b}__title {
        min-width: 160px;
        margin-right: 20px;

        @include screen('sm') {
          margin-right: 0;
        }
      }
    }

    &_tab-smmg {
      @include screen('lg') {
        margin-bottom: 36px;
      }
    }
  }

  &__footer {
    display: block;
    width: 100%;

    #{$b}_bg & {
      margin-top: auto;
    }
  }

  &__title {
    @include heading-3;

    font-weight: 700;

    @include screen('sm') {
      @include heading-4;
    }

    &_big {
      @include heading-1;

      font-weight: 700;

      @include screen('lg') {
        @include heading-1-lg;
      }

      @include screen('sm') {
        @include heading-1-sm;
      }
    }

    #{$b}_lead & {
      @include screen('lg') {
        max-width: 460px;
      }
    }

    #{$b}_promo & {
      max-width: 670px;

      &:not(:last-child) {
        margin-bottom: 37px;

        @include screen('lg') {
          margin-bottom: 60px;
        }

        @include screen('sm') {
          margin-bottom: 42px;
        }
      }
    }
  }

  &__content {
    position: relative;
    display: block;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;

    #{$b}_bg & {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      min-height: 470px;
      padding: 105px 136px 28px;

      @include screen('xl') {
        padding: 105px 56px 28px;
      }

      @include screen('lg') {
        padding: 72px 42px 42px 54px;
      }

      @include screen('sm') {
        padding: 40px 20px 42px;
      }
    }

    #{$b}_lead & {
      padding: 124px 136px 28px;

      @include screen('xl') {
        padding: 124px 56px 28px 65px;
      }

      @include screen('lg') {
        padding: 50px 54px 60px;
      }

      @include screen('sm') {
        padding: 36px 20px 42px;
      }
    }
  }

  &__lead {
    display: block;
    box-sizing: border-box;

    &_left {
      width: 41.4%;
      padding-right: 50px;

      @include screen('xl') {
        width: 50%;
      }

      @include screen('lg') {
        width: 100%;
        padding-right: 0;
      }
    }

    &_right {
      width: 58.6%;

      @include screen('xl') {
        width: 50%;
      }

      @include screen('lg') {
        width: 100%;
      }
    }
  }

  &__note {
    @include text16;

    display: block;
    width: 100%;
    box-sizing: border-box;
    font-weight: 300;
    padding-left: 2px;

    @include screen('sm') {
      @include text;
    }

    &_mb15 {
      @include screen('sm') {
        @include text15;

        line-height: 1.34;
      }
    }

    &_bold {
      font-weight: 700;
    }
  }

  &__socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include screen('sm') {
      display: block;
    }

    #{$b}__note {
      margin-right: 37px;

      @include screen('sm') {
        margin-right: 0;
      }
    }
  }
}
