.person {
  $b: &;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include screen('sm', max, 2) {
    flex-wrap: wrap;
  }

  &__position {
    font-size: 16px;
    line-height: (19 / 16);
    color: $nd-color-gray-text;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(16, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(16, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(16, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
      line-height: 1;
    }

    &_dark {
      color: $nd-color-basic;
    }
  }

  &__profile {
    flex: none;

    &:not(:first-child) {
      margin-left: 20px;

      @include screen('xlg', max, 2) {
        margin-left: pxtovw(20, 1660);
      }

      @include screen('lg', max, 2) {
        margin-left: pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        margin-left: pxtovw(20, 960);
      }

      @include screen('sm', max, 2) {
        margin-left: pxtovw(20, 375);
      }
    }
  }

  &__mail {
    font-size: 16px;
    line-height: (19 / 16);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(16, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(16, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(16, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
      line-height: 1;
      width: 100%;
    }

    &:not(:first-child) {
      margin-left: 7px;

      @include screen('xlg', max, 2) {
        margin-left: pxtovw(7, 1660);
      }

      @include screen('lg', max, 2) {
        margin-left: pxtovw(7, 1366);
      }

      @include screen('md', max, 2) {
        margin-left: pxtovw(7, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(10, 375);
      }
    }
  }
}
