mixin popup-add-offer()
  +popup.popup-add-offer__&attributes(attributes)
    +popup-title Add rental offer
    +tabs.__tabs
      +tab()(data-tab-target="tab1")._orange.active Hot Desk
      +tab()(data-tab-target="tab2")._red Dedicated desk
      +tab()(data-tab-target="tab3")._blue Meeting room
      +tab()(data-tab-target="tab4")._green Office space
    +tabs-content
      +tab-wrapper()(data-tab="tab1" data-tab-group="offer").active
        +form._white
          +form-section._sm-mg
            +grid.grid_bigger
              +col({xl: 12})
                +form-section-wrapper
                  +form-box('Offer title')
                    +input(type="text" name="offerTitle" placeholder="Offer title")
              +col({xl: 12})
                +form-section-wrapper
                  +form-box('Offer Description')
                    +input(type="text" name="offerDescription" placeholder="Offer Description")
              +col({xl: 6, sm: 12})
                +form-section-wrapper._pt
                  +form-box('Price ', '', '', '&pound;')._icon
                    +input(type="text" name="price" placeholder="Price ")
              +col({xl: 6, sm: 12})
                +form-section-wrapper._pt
                  +form-box('')
                    +select.js-select-input(name="shedule")
                      option(value="Per month" selected) Per month
                      option(value="per day") Per day
                      option(value="per week") Per week
                      option(value="per year") Per year
          +form-section._mid-mg(data-deleted-group)
            +form-section-header._smt-mg
              +form-section-title('h4')._small Points to know about this offer. (optional)
            +form-section-wrapper._sm-mg(data-deleted-object)
              +form-box-removable('')._icon
                +input(type="text" name="points[]" placeholder="Point" value="Bike parking is allowed for you").input_points
            +form-section-wrapper._sm-mg(data-deleted-object)
              +form-box-removable('')._icon
                +input(type="text" name="points[]" placeholder="Point" value="Free Coffee").input_points
            +form-section-wrapper._sm-mg(data-deleted-object)
              +form-box-removable('')._icon
                +input(type="text" name="points[]" placeholder="Point").input_points
          +form-section._sm-mg
            +form-section-wrapper._noflex
              +form-box('Comment (Only you can see it)')
                +textarea(type="text" name="comment" placeholder="Comment (Only you can see it)" rows="1")
              +form-section-text._light This comment helps you to recognize this particular offer inbetween other offers
          +e.buttons
            +button('button')(type="submit")._wide Add rental offer
      +tab-wrapper()(data-tab="tab2" data-tab-group="offer")
        +form._white
          +form-section._sm-mg
            +grid.grid_bigger
              +col({xl: 12})
                +form-section-wrapper
                  +form-box('Offer title')
                    +input(type="text" name="offerTitle" placeholder="Offer title")
              +col({xl: 12})
                +form-section-wrapper
                  +form-box('Offer Description')
                    +input(type="text" name="offerDescription" placeholder="Offer Description")
              +col({xl: 6, sm: 12})
                +form-section-wrapper._pt
                  +form-box('Price ', '', '', '&pound;')._icon
                    +input(type="text" name="price" placeholder="Price ")
              +col({xl: 6, sm: 12})
                +form-section-wrapper._pt
                  +form-box('')
                    +select.js-select-input(name="shedule")
                      option(value="Per month" selected) Per month
                      option(value="per day") Per day
                      option(value="per week") Per week
                      option(value="per year") Per year
          +form-section._mid-mg(data-deleted-group)
            +form-section-header._smt-mg
              +form-section-title('h4')._small Points to know about this offer. (optional)
            +form-section-wrapper._sm-mg(data-deleted-object)
              +form-box-removable('')._icon
                +input(type="text" name="points[]" placeholder="Point" value="Bike parking is allowed for you").input_points
            +form-section-wrapper._sm-mg(data-deleted-object)
              +form-box-removable('')._icon
                +input(type="text" name="points[]" placeholder="Point" value="Free Coffee").input_points
            +form-section-wrapper._sm-mg(data-deleted-object)
              +form-box-removable('')._icon
                +input(type="text" name="points[]" placeholder="Point").input_points
          +form-section._sm-mg
            +form-section-wrapper._noflex
              +form-box('Comment (Only you can see it)')
                +textarea(type="text" name="comment" placeholder="Comment (Only you can see it)" rows="1")
              +form-section-text._light This comment helps you to recognize this particular offer inbetween other offers
          +e.buttons
            +button('button')(type="submit")._wide Add rental offer
      +tab-wrapper()(data-tab="tab3" data-tab-group="offer")
        +form._white
          +form-section._sm-mg
            +grid.grid_bigger
              +col({xl: 12})
                +form-section-wrapper
                  +form-box('Offer title')
                    +input(type="text" name="offerTitle" placeholder="Offer title")
              +col({xl: 12})
                +form-section-wrapper
                  +form-box('Offer Description')
                    +input(type="text" name="offerDescription" placeholder="Offer Description")
              +col({xl: 6, sm: 12})
                +form-section-wrapper._pt
                  +form-box('Price ', '', '', '&pound;')._icon
                    +input(type="text" name="price" placeholder="Price ")
              +col({xl: 6, sm: 12})
                +form-section-wrapper._pt
                  +form-box('')
                    +select.js-select-input(name="shedule")
                      option(value="Per month" selected) Per month
                      option(value="per day") Per day
                      option(value="per week") Per week
                      option(value="per year") Per year
          +form-section._mid-mg(data-deleted-group)
            +form-section-header._smt-mg
              +form-section-title('h4')._small Points to know about this offer. (optional)
            +form-section-wrapper._sm-mg(data-deleted-object)
              +form-box-removable('')._icon
                +input(type="text" name="points[]" placeholder="Point" value="Bike parking is allowed for you").input_points
            +form-section-wrapper._sm-mg(data-deleted-object)
              +form-box-removable('')._icon
                +input(type="text" name="points[]" placeholder="Point" value="Free Coffee").input_points
            +form-section-wrapper._sm-mg(data-deleted-object)
              +form-box-removable('')._icon
                +input(type="text" name="points[]" placeholder="Point").input_points
          +form-section._sm-mg
            +form-section-wrapper._noflex
              +form-box('Comment (Only you can see it)')
                +textarea(type="text" name="comment" placeholder="Comment (Only you can see it)" rows="1")
              +form-section-text._light This comment helps you to recognize this particular offer inbetween other offers
          +e.buttons
            +button('button')(type="submit")._wide Add rental offer
      +tab-wrapper()(data-tab="tab4" data-tab-group="offer")
        +form._white
          +form-section._sm-mg
            +grid.grid_bigger
              +col({xl: 12})
                +form-section-wrapper
                  +form-box('Offer title')
                    +input(type="text" name="offerTitle" placeholder="Offer title")
              +col({xl: 12})
                +form-section-wrapper
                  +form-box('Offer Description')
                    +input(type="text" name="offerDescription" placeholder="Offer Description")
              +col({xl: 6, sm: 12})
                +form-section-wrapper._pt
                  +form-box('Price ', '', '', '&pound;')._icon
                    +input(type="text" name="price" placeholder="Price ")
              +col({xl: 6, sm: 12})
                +form-section-wrapper._pt
                  +form-box('')
                    +select.js-select-input(name="shedule")
                      option(value="Per month" selected) Per month
                      option(value="per day") Per day
                      option(value="per week") Per week
                      option(value="per year") Per year
          +form-section._mid-mg(data-deleted-group)
            +form-section-header._smt-mg
              +form-section-title('h4')._small Points to know about this offer. (optional)
            +form-section-wrapper._sm-mg(data-deleted-object)
              +form-box-removable('')._icon
                +input(type="text" name="points[0]" placeholder="Point" value="Bike parking is allowed for you").input_points
            +form-section-wrapper._sm-mg(data-deleted-object)
              +form-box-removable('')._icon
                +input(type="text" name="points[1]" placeholder="Point" value="Free Coffee").input_points
            +form-section-wrapper._sm-mg(data-deleted-object)
              +form-box-removable('')._icon
                +input(type="text" name="points[2]" placeholder="Point").input_points
          +form-section._sm-mg
            +form-section-wrapper._noflex
              +form-box('Comment (Only you can see it)')
                +textarea(type="text" name="comment" placeholder="Comment (Only you can see it)" rows="1")
              +form-section-text._light This comment helps you to recognize this particular offer inbetween other offers
          +e.buttons
            +button('button')(type="submit")._wide Add rental offer
