mixin results()
  +b.results&attributes(attributes)
    block

mixin results-full()
  +e.full&attributes(attributes)
    block

mixin results-short()
  +e.short&attributes(attributes)
    block

mixin nd-results()
  +b.nd-results&attributes(attributes)
    block

mixin nd-results-item()
  +e.item&attributes(attributes)
    block
