.results {
  $b: &;

  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-top: 15px;

  @include screen('md') {
    padding-top: 43px;
  }

  @include screen('sm') {
    padding-top: 20px;
  }

  &__full,&__short {
    display: block;
    width: 100%;
  }
}
