.time {
  $b: &;

  display: flex;
  align-items: center;
  width: 100%;

  &__text {
    @include text16;

    font-weight: 400;
    display: inline-block;
  }

  &__time {
    @include text-mid;

    font-weight: 700;
  }

  &__divider {
    flex: 1;
    margin-left: 24px;
    margin-right: 30px;
  }
}
