.time {
  $b: &;

  display: flex;
  align-items: center;
  width: 100%;

  &__text {
    @include text16;

    font-weight: 400;
    display: inline-block;

    @include screen('sm') {
      @include text12;

      line-height: (20/12);
    }

    &_color {
      color: $color-peach;
    }
  }

  &__time {
    @include text-mid;

    font-weight: 700;
    white-space: nowrap;

    @include screen('sm') {
      @include text12;

      line-height: (20/12);
      letter-spacing: -.02em;
    }

    &_sm-fz14 {
      @include screen('sm') {
        @include text;

        line-height: (17 / 14);
      }
    }

    &_fz18 {
      @include text-big;

      @include screen('sm') {
        @include text12;

        line-height: (25 / 12);
      }
    }

    &_wrap {
      white-space: normal;
    }
  }

  &__divider {
    flex: 1;
    margin-left: 11px;
    margin-right: 11px;
    min-width: 15px;

    &_dark {
      color: $color-basic;
    }
  }

  &__arrow {
    display: block;
    width: 16px;
    height: 7px;
    font-size: 0;
    line-height: 0;
    margin: 0 8px;
    fill: $color-basic;
    min-width: 16px;

    &_big {
      width: 20px;
      height: 9px;
      min-width: 20px;

      @include screen('sm') {
        width: 16px;
        height: auto;
        min-width: 16px;
      }
    }

    &_bmg {
      margin: 0 22px;

      @include screen('lg') {
        margin: 0 42px 0 28px;
      }

      @include screen('sm') {
        margin: 0 14px 0 12px;
      }
    }

    &_grad {
      fill: url('#main-gradient');
    }
  }

  &_sb {
    justify-content: space-between;
  }
}
