.time {
  $b: &;

  display: flex;
  align-items: center;
  width: 100%;

  &__text {
    @include text16;

    font-weight: 400;
    display: inline-block;

    @include screen('sm') {
      @include text;

      line-height: (26/14);
    }
  }

  &__time {
    @include text-mid;

    font-weight: 700;
    white-space: nowrap;

    @include screen('sm') {
      @include text15;
    }
  }

  &__divider {
    flex: 1;
    margin-left: 11px;
    margin-right: 11px;
    min-width: 15px;
  }
}
