.index {
  display: block;
}

.slider-cube {
  display: flex;
}

.cube {
  width: 9px;
  height: 9px;
  &_yellow {
    background: $color-yellow;
  }
  &_red {
    background: $color-red;
  }
  &_blue {
    background: $color-blue;
  }
}

.slide-index {
  width: 100%;
}

.slider-indexBox {
  margin-bottom: 55px;
}