extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +b.index
    +header
    +banner
    +breadcrumbs-box
    +content
    .container
      .slider-title You may also like spaces around 
        span.slider-title_span Kensington 
      +slider-two(false, true)
        +slide
          img(src='./assets/images/sbo.jpg').slide-img
        +slide
          img(src='./assets/images/sbt.jpg').slide-img
        +slide
          img(src='./assets/images/sbth.jpg').slide-img
        +slide
          img(src='./assets/images/sbf.jpg').slide-img
    +footer