extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Main'

block header
  - var headerClass = ' header_sm-white is-login'
  - var map = true
  - var pageClass = ' nd-page_main'

block content
  +section._bg._promo
    .container
      +section-wrapper
        +section-bg('assets/images/section-bg.jpg')
        +section-content
          +section-header
            +section-title('h2')._big Finding an office should be exciting. With spacepool, it’s also simple, quick and secure.
            +button()(href="#") Find out why
          +section-footer
            +e.note Explore some of London’s most prestigious, well located and best value workspaces – without moving an inch.
