extends ../../layouts/default

block head
  - var pageTitle = 'SpacePool - Main'

block content
  +section._bg._lead
    .container
      +section-wrapper
        +section-bg('assets/images/main-lead.jpg')
        +section-content
          +section-header
            +e.lead_left
              +section-title('h2')._big The place where you can find your dream workspace.
            +e.lead_right
          +section-footer
            +e.note Between 2&nbsp;960&nbsp;offices, 380 conversation rooms and over 15&nbsp;000 free co-working desks
  +section
    +section-header
      .container
        +section-title('h2') Featured Spaces
    +section-content
  +section
    .container
      +section-header
        +section-title('h2') Locations
      +section-content
        +map()._big#mapTwo
  +section
    +section-header
      .container
        +section-title('h2') Meeting Rooms
    +section-content
  +section._bg._promo
    .container
      +section-wrapper
        +section-bg('assets/images/section-bg.jpg')
        +section-content
          +section-header
            +section-title('h2')._big Thousands of&nbsp;professionals prefer to&nbsp;search for perfect workplace on&nbsp;Space Pool
            +button()(href="#") Find out why
          +section-footer
            +e.note Today Space Pool is&nbsp;about searching for greatest and most amazing workplaces around London. It&rsquo;s like visiting hundreds of&nbsp;places whithout even leaving your room.
  +section
    +section-header
      .container
        +section-title('h2') New Places
    +section-content
  +section
    +section-header
      .container
        +section-title('h2') Articles
    +section-content
