.note {
  $b: &;

  display: block;
  width: 100%;

  &__mark {
    display: block;
    width: 100%;
    margin-bottom: 19px;

    #{$b}_lh26 & {
      margin-bottom: 21px;

      @include screen('sm') {
        margin-bottom: 6px;
      }
    }
  }

  &__icon {
    width: 15px;
    height: 15px;
    font-size: 0;
    line-height: 0;
    fill: $color-basic;

    @include screen('sm') {
      width: 8px;
      height: 8px;
    }
  }

  &__text {
    @include text-mid;

    display: block;
    width: 100%;
    font-weight: 700;
    line-height: (23/17);

    p {
      font-weight: 700;
    }

    @include screen('sm') {
      @include text12;
    }

    #{$b}_lh26 & {
      line-height: (26/17);

      @include screen('sm') {
        line-height: (15/12);
      }
    }
  }

  &_color {

    #{$b} {

      &__icon {
        fill: $color-hot-desk;
      }

      &__text {
        b {
          color: $color-hot-desk;
        }
      }
    }

    &_green {
      #{$b} {

        &__icon {
          fill: $color-note-green;
        }

        &__text {
          b {
            color: $color-note-green;
          }
        }
      }
    }
  }

  &_big {

    #{$b} {
      &__mark {
        margin-left: 0;

        @include screen('sm') {
          margin-bottom: 10px;
        }
      }

      &__icon {
        width: 21px;
        height: 21px;
      }

      &__text {
        @include text22;

        @include screen('sm') {
          @include text-big;
        }
      }
    }
  }
}
