mixin note
  +b.note&attributes(attributes)
    +e.mark
      +icon('info').__icon
    +e.text
      block

mixin note-warning
  +b.note_warning&attributes(attributes)
    +e.mark
      +icon('warning').__icon_warning
    +e.text
      block
