.note {
  $b: &;

  display: block;
  width: 100%;

  &_line {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__mark {
    display: block;
    width: 100%;
    margin-bottom: 19px;

    #{$b}_lh26 & {
      margin-bottom: 21px;

      @include screen('sm') {
        margin-bottom: 6px;
      }
    }

    #{$b}_line & {
      display: inline-block;
      flex: none;
      width: auto;
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  &__icon {
    width: 15px;
    height: 15px;
    font-size: 0;
    line-height: 0;
    fill: $color-basic;

    @include screen('sm') {
      width: 8px;
      height: 8px;
    }

    &_warning {
      width: 29px;
      height: 27px;

      &_small {
        width: 14px;
        height: 12px;
      }
    }

    &_exclamation {
      width: 38px;
      height: 44px;

      @include screen('sm') {
        width: 19px;
        height: 22px;
      }
    }
  }

  &__text {
    @include text-mid;

    display: block;
    width: 100%;
    font-weight: 700;
    line-height: (23/17);

    p {
      font-weight: 700;
    }

    b, strong {
      font-weight: 700;
    }

    @include screen('sm') {
      @include text12;
    }

    #{$b}_lh26 & {
      line-height: (26/17);

      @include screen('sm') {
        line-height: (15/12);
      }
    }
  }

  &_color {

    #{$b} {

      &__icon {
        fill: $color-hot-desk;
      }

      &__text {
        b, strong {
          color: $color-hot-desk;
        }
      }
    }

    &_green {
      #{$b} {

        &__icon {
          fill: $color-note-green;
        }

        &__text {
          b, strong {
            color: $color-note-green;
          }
        }
      }
    }

    &_yellow {
      #{$b} {
        &__icon {
          fill: #f2b412;
        }

        &__text {
          b, strong {
            color: #f2b412;
          }
        }
      }
    }
  }

  &_fz16 {
    #{$b} {

      &__text {
        @include text16;

        line-height: (20 / 16);

        @include screen('sm') {
          @include text;

          line-height: (20 / 14);
        }
      }
    }
  }


  &_fz20 {
    #{$b} {

      &__text {
        @include heading-4;

        @include screen('sm') {
          @include text15;
        }
      }
    }

    &_lh30  {
      #{$b} {

        &__text {
          @include heading-4;

          line-height: (30 / 20);

          @include screen('sm') {
            @include text15;

            line-height: 1.5;
          }
        }
      }
    }
  }

  &_fz30 {
    #{$b} {

      &__text {
        @include heading-1-sm;

        line-height: (39 / 30);

        @include screen('sm') {
          @include heading-4;

          line-height: (25 / 20);
        }
      }
    }

    &_lh42 {
      #{$b} {
        &__text {
          line-height: (42 / 30);

          @include screen('sm') {
            line-height: (25 / 20);
          }
        }
      }
    }
  }

  &_sm-pmg {
    #{$b} {

      &__text {
        p {
          &:not(:last-child) {
            @include screen('sm') {
              margin-bottom: 26px;
            }
          }
        }
      }
    }
  }

  &_bold {

    #{$b}__text {
      font-weight: 700;
    }
  }

  &_fw400 {
    #{$b}__text {
      font-weight: 400;

      p {
        font-weight: inherit;
      }
    }
  }

  &_big {

    #{$b} {
      &__mark {
        margin-left: 0;

        @include screen('sm') {
          margin-bottom: 10px;
        }
      }

      &__icon {
        width: 21px;
        height: 21px;
      }

      &__text {
        @include text22;

        @include screen('sm') {
          @include text-big;
        }
      }
    }
  }

  &_strong {
    #{$b} {

      &__text {
        display: inline-block;
        box-sizing: border-box;
        padding: 0 9px;
        color: $color-white;
        background-color: $color-basic;

        @include screen('sm') {
          padding: 2px 4px;
        }
      }
    }
  }

  &_warning {
    #{$b} {
      &__mark {
        margin-bottom: 16px;
      }
    }

    &_small {
      #{$b} {
        &__mark {
          margin-bottom: 12px;
        }
      }
    }
  }

  &_side {
    @include screen('md') {
      position: relative;
      padding-left: 25px;
      box-sizing: border-box;
    }

    #{$b} {

      &__mark {
        @include screen('md') {
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 15px;
        }
      }

      &__text {
        @include screen('md') {
          @include text15;

          line-height: (20 /15);
        }
      }
    }
  }

  &_exclamation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;

    @include screen('sm') {
      flex-direction: column;
      align-items: flex-start;
    }

    #{$b} {

      &__mark {
        display: inline-block;
        width: auto;
        margin-bottom: 0;
        margin-right: 19px;

        @include screen('sm') {
          margin-bottom: 8px;
        }
      }

      &__text {
        display: inline-block;
        width: auto;
      }
    }

    &_vert {
      flex-direction: column;
      align-items: flex-start;

      #{$b} {

        &__mark {
          margin-right: 0;
          margin-bottom: 26px;

          @include screen('sm') {
            margin-bottom: 8px;
          }
        }

        &__text {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
