mixin note(mark, text)
  +b.note&attributes(attributes)
    if !mark
      +e.mark
        +icon('info').__icon
    if !text
      +e.text
        block

mixin note-warning(mark, text)
  +b.note_warning&attributes(attributes)
    if !mark
      +e.mark
        +icon('warning').__icon_warning
    if !text
      +e.text
        block

mixin note-exclamation(mark, text)
  +b.note_exclamation&attributes(attributes)
    if !mark
      +e.mark
        +icon('exclamation').__icon_exclamation
    if !text
      +e.text
        block

mixin nd-note(data)
  +b.nd-note&attributes(attributes)
    if data.image
      +e.icon(class=(data.image.cls || ''))
        img(src=data.image.src)
    if data.icon
      +e.icon(class=(data.icon.cls || ''))
        +icon(data.icon.name)
    if data.text
      +e.text(class=(data.text.cls || ''))
        block
