mixin contract-panel()
  +b.contract-panel&attributes(attributes)
    .nd-container
      +e.stage
        +e.name Status
        +e.state Sign required
      +nd-button()._h35._fz16._pad10.__button(href="#") Sign the contract
      block
