mixin list-toggle(iconoff, iconon, name)
  +b.LABEL.list-toggle&attributes(attributes)
    input.js-list-toggle(type="checkbox" name=name hidden)
    +icon(iconoff).__icon_off
    +icon(iconon).__icon_on
    block
