.popup-signin {
  $b: &;

  .popup {
    &__content {
      padding-top: 50px;
      padding-bottom: 50px;

      @include screen('sm') {
        padding-top: 30px;
      }
    }
  }

  &__socials {
    position: relative;
    z-index: 2;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }

  &__form {
    display: block;

    .grid {
      margin-top: -42px;

      &__col {
        padding-top: 42px;
      }
    }
  }

  .form__bottom {
    .grid {
      @include screen('sm') {
        margin-top: -15px;

        &__col {
          padding-top: 15px;
        }
      }
    }
  }

  &__remind {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;

    @include screen('sm') {
      justify-content: center;
      text-align: center;
      order: 2;
    }
  }

  &__registration {
    @include heading-3;

    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 8px;
    flex-wrap: wrap;

    @include screen('sm') {
      @include heading-4;

      line-height: 1.2;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &__text {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 30px;

      @include screen('sm') {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}
