mixin gradients()
  +b.SVG.gradients&attributes(attributes)(aria-hidden="true" focusable="false")
    defs
      linearGradient#main-gradient(x1="0%" y1="0%" x2="100%" y2="0%")
        stop(offset="0%" stop-color="#30e3c9")
        stop(offset="100%" stop-color="#0caecc")
      linearGradient#main-gradient-v(x1="0%" y1="0%" x2="0%" y2="100%")
        stop(offset="0%" stop-color="#30e3c9")
        stop(offset="100%" stop-color="#0caecc")
      linearGradient#main-gradient-vi(x1="0%" y1="0%" x2="0%" y2="100%")
        stop(offset="0%" stop-color="#0caecc")
        stop(offset="100%" stop-color="#30e3c9")
      linearGradient#form-gradient1(x1="0%" y1="0%" x2="0%" y2="100%")
        stop(offset="0%" stop-color="rgba(29, 213, 240, 1)")
        stop(offset="28%" stop-color="rgba(41, 247, 133, 1)")
        stop(offset="67%" stop-color="rgba(235, 68, 51, 1)")
        stop(offset="100%" stop-color="rgba(255, 150, 0, 1)")
      linearGradient#form-gradient2(x1="100%" y1="0%" x2="0%" y2="0%")
        stop(offset="0%" stop-color="rgba(255,150,0, 1)")
        stop(offset="4%" stop-color="rgba(255,150,0, 1)")
        stop(offset="33%" stop-color="rgba(235,68,51, 1)")
        stop(offset="71%" stop-color="rgba(41,247,133, 1)")
        stop(offset="100%" stop-color="rgba(29,213,240, 1)")
      linearGradient#form-gradient3(x1="56%" y1="0%" x2="44%" y2="100%")
        stop(offset="0%" stop-color="rgba(255,150,0, 1)")
        stop(offset="4%" stop-color="rgba(255,150,0, 1)")
        stop(offset="38%" stop-color="rgba(235,68,51, 1)")
        stop(offset="76%" stop-color="rgba(41,247,133, 1)")
        stop(offset="90%" stop-color="rgba(29,213,240, 1)")
        stop(offset="100%" stop-color="rgba(29,213,240, 1)")
      linearGradient#form-gradient4(x1="0%" y1="0%" x2="0%" y2="100%")
        stop(offset="0%" stop-color="rgba(255,150,0, 1)")
        stop(offset="23%" stop-color="rgba(235,68,51, 1)")
        stop(offset="77%" stop-color="rgba(41,247,133, 1)")
        stop(offset="100%" stop-color="rgba(29,213,240, 1)")
