.map {
  display: block;
  height: 270px;
  position: relative;
  z-index: 1;

  &_big {
    height: 470px;
  }

  &_inner {
    @include screen('sm') {
      margin-top: 14px;
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &_side {
    height: calc(100vh - 80px);
    width: 100%;

    @include screen('md') {
      transition: height $ease-main;
      height: 100%;
    }
  }

  &_space {
    display: block;
    width: 100%;
    height: 328px;
    background-color: $nd-color-gray-text7;
    border: 1px solid #b7b7b7;

    @include screen('xlg', max, 2) {
      height: pxtovw(328, 1660);
    }

    @include screen('lg', max, 2) {
      height: pxtovw(328, 1366);
    }

    @include screen('md', max, 2) {
      height: pxtovw(328, 960);
    }

    @include screen('sm', max, 2) {
      height: pxtovw(258, 375);
    }
  }
}

.map-icon {
  $i: &;

  position: relative;
  display: block;

  &__wrapper {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34px;
    height: 42px;
    transform: translate3d(-50%, -50%, 0);
    transition: opacity $ease-main;

    #{$i}.is-active & {
      opacity: 0;
    }
  }

  &__icon-active {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 46px;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
    transition: opacity $ease-main;

    #{$i}.is-active & {
      opacity: 1;
    }
  }

  &.is-active {
    z-index: 1000 !important;
  }
}

.map-popup {
  margin-bottom: 12px;

  .nd & {
    margin-bottom: 0;
  }

  &__text {
    @include text16;

    font-weight: 700;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    margin: 0;
    padding: 0 5px;

    @include screen('sm') {
      @include text13;

      line-height: (24/13);
    }
  }
}

.map-marker-label-circle {
  border-radius: 50%;
  background-color: #fff;
  width: 15px;
  height: 15px;
}

.map-marker-label-circle-big {
  border-radius: 50%;
  background-color: #fff;
  width: 16px;
  height: 16px;
}

.map-marker-tooltip {
  position: absolute;
  transform: translate3d(-50%, -100%, 0);
  background: rgba(0, 0, 0, 0.53);
  border: 1px solid rgba(31, 31, 31, 0.28);
  border-radius: 20px;
  text-align: center;
  line-height: 22px;
  font-size: 13px;
  font-weight: 500;
  color: $nd-color-basic-light;
  box-sizing: border-box;
  padding: 0 8px;
  font-family: $font-main;

  @include rule(font-size, (xl: 13px, xlg: 13, lg: 13, md: 13, sm: 13));
  @include rule(line-height, (xl: 22px, xlg: 22, lg: 22, md: 22, sm: 22));
  @include rule(padding-left, (xl: 8px, xlg: 8, lg: 8, md: 8, sm: 8));
  @include rule(padding-right, (xl: 8px, xlg: 8, lg: 8, md: 8, sm: 8));
  @include rule(border-radius, (xl: 20px, xlg: 20, lg: 20, md: 20, sm: 20));
}
