@import '../../node_modules/leaflet/dist/leaflet.css';

.map {
  display: block;
  height: 270px;
  position: relative;
  z-index: 1;

  &_big {
    height: 470px;
  }

  &_inner {
    @include screen('sm') {
      margin-top: 14px;
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &_side {
    height: calc(100vh - 80px);
    width: 100%;

    @include screen('md') {
      transition: height $ease-main;
      height: 100%;
    }
  }

  &_space {
    display: block;
    width: 100%;
    height: 328px;
    background-color: $nd-color-basic-light;

    @include screen('lg', max, 2) {
      height: pxtovw(328, 1366);
    }

    @include screen('md', max, 2) {
      height: pxtovw(328, 960);
    }

    @include screen('sm', max, 2) {
      height: pxtovw(258, 375);
    }
  }
}

.map-icon {
  $i: &;

  position: relative;
  display: block;

  &__wrapper {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34px;
    height: 42px;
    transform: translate3d(-50%, -50%, 0);
    transition: opacity $ease-main;

    #{$i}.is-active & {
      opacity: 0;
    }
  }

  &__icon-active {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 46px;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
    transition: opacity $ease-main;

    #{$i}.is-active & {
      opacity: 1;
    }
  }

  &.is-active {
    z-index: 1000 !important;
  }
}

.map-popup {
  margin-bottom: 12px;

  &__text {
    @include text16;

    font-weight: 700;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    margin: 0;
    padding: 0 5px;

    @include screen('sm') {
      @include text13;

      line-height: (24/13);
    }
  }

  .leaflet-popup {

    &-content-wrapper {
      display: inline-flex;
      padding: 0;
      text-align: center;
      box-sizing: border-box;
      border-radius: 0;
      box-shadow: 1px 4px 7px rgba(34, 42, 46, 0.3);
    }

    &-content {
      display: inline-flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      color: $color-basic;
      font-family: $font-main;
    }

    &-tip-container {
      width: 20px;
      height: 10px;
      margin-left: -10px;
    }

    &-tip {
      width: 9px;
      height: 9px;
      margin-top: -5px;
      box-shadow: 1px 4px 7px rgba(34, 42, 46, 0.3);
    }
  }
}

.leaflet-control-layers-toggle {
  background-image: url('../images/map/layers.png');
  width: 36px;
  height: 36px;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url('../images/map/layers-2x.png');
  background-size: 26px 26px;
}

.leaflet-touch .leaflet-bar,
.leaflet-touch .leaflet-control-layers {
  border: none;
  box-shadow: 0 2px 4px rgba($color-basic, 0);
}

.leaflet-bar a {
  font-family: $font-main;
  background-color: $color-white;
  width: 29px;
  height: 27px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -.02em;
  font-weight: 700;
  border-bottom: 1px solid $color-white;
  transition: background-color $ease-main, color $ease-main;
  color: $color-basic;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: $color-bg;
    color: $color-basic-dark;
    border-bottom-color: $color-white;
  }
}

.leaflet-touch .leaflet-bar a {
  width: 29px;
  height: 27px;
  line-height: 27px;
}

.leaflet-control-zoom {
  @include screen('md', min) {
    display: none;
  }
}

.leaflet-right .leaflet-control {
  margin-right: 15px;

  @include screen('sm') {
    margin-right: 20px;
  }
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 20px;
}

.leaflet-container .leaflet-control-attribution {
  display: none;
}

.leaflet-shadow-pane {
  display: none;
}
