@import '../../node_modules/leaflet/dist/leaflet.css';

.map {
  display: block;
  height: 270px;
  position: relative;
  z-index: 1;

  &_big {
    height: 470px;
  }

  &_inner {
    @include screen('sm') {
      margin-top: 14px;
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &_side {
    height: calc(100vh - 80px);
    width: 100%;
  }
}

.leaflet-control-layers-toggle {
  background-image: url('../images/map/layers.png');
  width: 36px;
  height: 36px;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url('../images/map/layers-2x.png');
  background-size: 26px 26px;
}

.leaflet-touch .leaflet-bar,
.leaflet-touch .leaflet-control-layers {
  border: none;
  box-shadow: 0 2px 4px rgba($color-basic, 0);
}

.leaflet-bar a {
  font-family: $font-main;
  background-color: $color-white;
  width: 29px;
  height: 27px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -.02em;
  font-weight: 700;
  border-bottom: 1px solid $color-white;
  transition: background-color $ease-main, color $ease-main;
  color: $color-basic;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: $color-bg;
    color: $color-basic-dark;
    border-bottom-color: $color-white;
  }
}

.leaflet-touch .leaflet-bar a {
  width: 29px;
  height: 27px;
  line-height: 27px;
}

.leaflet-control-zoom {
  @include screen('md', min) {
    display: none;
  }
}

.leaflet-right .leaflet-control {
  margin-right: 15px;

  @include screen('sm') {
    margin-right: 20px;
  }
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 20px;
}

.leaflet-popup-content-wrapper {
  border-radius: 3px;
}

.leaflet-popup-content {
  margin: 0;
  padding: 13px 20px;

  @include text;
}

.leaflet-container .leaflet-control-attribution {
  display: none;
}

.leaflet-shadow-pane {
  display: none;
}
