mixin invoice-info(data)
  +b.DIV.invoice-info&attributes(attributes)
    +status._fz10._grad.__status new
    if data.date
      +e.TIME.date(datetime=data.date.iso)!= data.date.text
    +e.name!= data.name
    +e.describe
      +e.price!= data.price
      if data.state
        +e.state!= data.state
      if data.pay
        +button()._smaller.__button.js-popup-top(href="#popup-payment-form" data-stoppropagation) Pay now
    block
