.invoice-info {
  $b: &;

  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid $color-border-st-button;
  border-radius: 2px;
  padding: 18px 15px 15px;
  cursor: pointer;

  @include screen('sm') {
    padding: 12px 9px 9px;
  }

  &.is-new {
    border-width: 2px;
  }

  &__status {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    transition: opacity $ease-main;

    #{$b}.is-new & {
      opacity: 1;
    }
  }

  &__date {
    @include text;

    position: absolute;
    padding: 0 4px;
    background-color: $color-white;
    line-height: 14px;
    color: $color-state-light;
    top: -8px;
    left: 7px;

    @include screen('sm') {
      @include text-small;

      line-height: 12px;
      letter-spacing: -.01em;
      top: -7px;
      left: 6px;
    }
  }

  &__name, &__state, &__price {
    @include text16;

    display: inline-block;

    @include screen('sm') {
      @include text;

      line-height: (16px / 14px);
      letter-spacing: -.01em;
      color: $color-basic;
    }
  }

  &__name {
    transition: color $ease-main;

    #{$b}:hover & {
      color: $color-basic-dark;
    }

    &:not(:last-child) {
      margin-bottom: 26px;

      @include screen('sm') {
        margin-bottom: 16px;
      }
    }
  }

  &__state, &__price {
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__describe {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 0;
    min-width: 89px;
    transform: translate3d(0, -50%, 0);

    @include screen('sm') {
      top: calc(50% - 5px);
      right: -5px;
    }
  }
}
