mixin button(newtag)
  +b(newtag || 'a').button&attributes(attributes)
    +e.SPAN.text
      block

mixin button-icon(newtag, icon)
  +b(newtag || 'a').button_icon&attributes(attributes)
    +e.SPAN.text
      block
    +icon(icon)(class="__icon_" + icon)

mixin button-plus(newtag)
  +b(newtag || 'a').button_icon._plus&attributes(attributes)
    +e.SPAN.text
      block
    +e.icon_plus

mixin button-plus-thin
  +b.BUTTON.button-plus-thin&attributes(attributes)
    +icon('plus-thin')
