mixin button(newtag)
  - var tag = 'a';
  if newtag
    - var tag = newtag;
  +b(tag).button&attributes(attributes)
    +e.__text
      block

mixin button-gradient(newtag)
  - var tag = 'a';
  if newtag
    - var tag = newtag;
  +b(tag).button_gradient&attributes(attributes)
    block
