.button {
  $b: &;

  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  color: $color-white;
  background: linear-gradient(to left, $color-gradient-one 0%, $color-gradient-two 100%);
  transition: opacity $ease-main;
  cursor: pointer;
  border-radius: 21px;
  text-align: center;
  font-weight: 700;

  @include text-mid;

  &:disabled,
  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:hover,
  &.is-active {
    opacity: .5;
  }

  &__text {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 8px 55px;
    z-index: 1;
    border-radius: 21px;
  }

  &_border {
    position: relative;
    padding: 3px;
    transition:
      opacity $ease-main,
      color $ease-main;
    color: $color-basic;

    #{$b}__text {
      padding: 5px 52px;
      background: $color-bg;
      transition: background $ease-main;
    }

    &_bg-white {

      #{$b}__text {
        background: $color-white;
      }
    }

    &:hover,
    .is-active {
      color: $color-white;
      opacity: 1;

      #{$b}__text {
        background: transparent;
      }
    }
  }
}
