.button {
  $b: &;

  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  color: $color-white;
  background-image: linear-gradient(to left, $color-gradient-one 0%, $color-gradient-two 100%);
  transition: opacity $ease-main;
  cursor: pointer;
  border-radius: 21px;
  text-align: center;
  font-weight: 700;

  @include text-mid;

  &::before {
    @include pseudo;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #fff;
    border-radius: 21px;
    transition: opacity $ease-main;
    z-index: 3;
  }

  &:disabled,
  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:hover::before,
  &.is-active::before {
    opacity: .07;
  }

  &__text {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 8px 57px;
    z-index: 1;
    border-radius: 21px;

    @include screen('sm') {
      padding: 8px 22px;
    }
  }

  &_border {
    position: relative;
    padding: 3px;
    transition:
      opacity $ease-main,
      color $ease-main;
    color: $color-basic;

    #{$b}__text {
      padding: 5px 54px;
      background: $color-bg;
      transition: background $ease-main;

      @include screen('sm') {
        padding: 5px 19px;
      }
    }

    &_bg-white {

      #{$b}__text {
        background: $color-white;
      }
    }

    &:hover,
    &.is-active {
      color: $color-white;

      &::before {
        opacity: .19;
      }

      #{$b}__text {
        background: transparent;
      }
    }
  }

  &_wide {
    width: 100%;
  }

  &_mob-wide {
    @include screen('sm') {
      width: 100%;
    }
  }
}
