mixin nd-button(newtag, loader)
  +b(newtag || 'a').nd-button&attributes(attributes)
    +e.SPAN.text
      block
    if loader
      +e.preloader
        +loader._small

mixin nd-button-icon(newtag, data)
  +b(newtag || 'a').nd-button_icon&attributes(attributes)
    if data.image
      +e.IMG.icon(src=data.image.src class=data.image.cls)
    if data.iconLeft
      if data.iconBlock
        +e.SPAN(class="__icon_" + data.icon)
      else
        +icon(icon)(class="__icon_" + data.icon)
    +e.SPAN.text
      block
    if !data.iconLeft
      if data.iconBlock
        +e.SPAN(class="__icon_" + data.icon)
      else
        +icon(data.icon)(class="__icon_" + data.icon)
    if data.loader
      +e.preloader
        +loader._small
