.nd-button {
  $b: &;

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  height: 40px;
  background-color: $nd-color-main;
  color: $nd-color-basic-light;
  fill: currentColor;
  font-size: 18px;
  line-height: (22 / 18);
  font-weight: 700;
  letter-spacing: normal;
  padding: 0 34px;
  z-index: 0;
  transition: transform $ease-main;
  transform-origin: 50% 50%;

  @include screen('xlg', max, 2) {
    height: pxtovw(40, 1660);
    font-size: pxtovw(18, 1660);
    padding: 0 pxtovw(34, 1660);
    border-radius: pxtovw(20, 1660);
  }

  @include screen('lg', max, 2) {
    height: pxtovw(40, 1366);
    font-size: pxtovw(18, 1366);
    padding: 0 pxtovw(34, 1366);
    border-radius: pxtovw(20, 1366);
  }

  @include screen('md', max, 2) {
    height: pxtovw(40, 960);
    font-size: pxtovw(18, 960);
    padding: 0 pxtovw(34, 960);
    border-radius: pxtovw(20, 960);
  }

  @include screen('sm', max, 2) {
    height: pxtovw(40, 375);
    font-size: pxtovw(18, 375);
    padding: 0 pxtovw(34, 375);
    border-radius: pxtovw(20, 375);
  }

  &:active {
    transform: scale(.96);
  }

  [data-enabled-text] {
    display: inline-block;
  }

  [data-disabled-text] {
    display: none;
  }

  &[disabled], &.is-disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: $nd-color-border4;
  }

  &.is-loading {
    cursor: not-allowed;
    pointer-events: none;
    color: transparent;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity $ease-main;

    @include rule(border-radius, (xl: 20px, xlg: 20, lg: 20, md: 20, sm: 20));

    #{$b}:hover & {
      opacity: 1;
    }

    &::before {
      @include pseudo;

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: var(--bgpos-x) 50%;
      background-size: 200% 200%;
      transition: opacity .25s ease;
      background-image: linear-gradient(90.5deg, rgba(#0085ff, 0) 25.06%, #00b2ff 48.74%, rgba(#0085ff, 0) 74.96%);
      will-change: background-position;
    }
  }

  &__preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 3;

    #{$b}.is-loading & {
      display: flex;
    }
  }

  &__text {
    position: relative;
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    z-index: 2;
  }

  &__icon {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    fill: inherit;
    width: 20px;
    height: 20px;
    z-index: 2;

    @include screen('xlg', max, 2) {
      width: pxtovw(20, 1660);
      height: pxtovw(20, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(20, 1366);
      height: pxtovw(20, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(20, 960);
      height: pxtovw(20, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(18, 375);
      height: pxtovw(18, 375);
    }

    #{$b}.is-loading & {
      opacity: 0;
    }

    &_circle {
      border-radius: 50%;
      border: 1px solid currentColor;
      width: 12px;
      height: 12px;

      @include screen('xlg', max, 2) {
        width: pxtovw(12, 1660);
        height: pxtovw(12, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(12, 1366);
        height: pxtovw(12, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(12, 960);
        height: pxtovw(12, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(12, 375);
        height: pxtovw(12, 375);
      }

      &_orange {
        border-color: $nd-color-hotdesk;
      }

      &_red {
        border-color: $nd-color-fixeddesk;
      }

      &_blue {
        border-color: $nd-color-meetingroom;
      }

      &_green {
        border-color: $nd-color-privateoffice;
      }
    }

    &_user {
      width: 13px;
      height: 13px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.39 15.18'%3E%3Ctitle%3End-user%3C/title%3E%3Cpath d='M7.19,9A4.42,4.42,0,0,1,2.86,4.49,4.42,4.42,0,0,1,7.19,0a4.41,4.41,0,0,1,4.33,4.49A4.41,4.41,0,0,1,7.19,9Zm0-8A3.42,3.42,0,0,0,3.86,4.49,3.41,3.41,0,0,0,7.19,8a3.41,3.41,0,0,0,3.33-3.48A3.41,3.41,0,0,0,7.19,1Z' fill='%23525a65'/%3E%3Cpath d='M13.89,15.18a.5.5,0,0,1-.5-.5c0-1.94-2.84-3.58-6.2-3.58S1,12.74,1,14.68a.5.5,0,0,1-.5.5.5.5,0,0,1-.5-.5c0-2.57,3.16-4.58,7.19-4.58s7.2,2,7.2,4.58A.5.5,0,0,1,13.89,15.18Z' fill='%23525a65'/%3E%3C/svg%3E");

      @include screen('xlg', max, 2) {
        width: pxtovw(13, 1660);
        height: pxtovw(13, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(13, 1366);
        height: pxtovw(13, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(13, 960);
        height: pxtovw(13, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(13, 375);
        height: pxtovw(13, 375);
      }
    }

    &_nd-bubble {
      width: 15px;
      height: 15px;

      @include screen('xlg', max, 2) {
        width: pxtovw(15, 1660);
        height: pxtovw(15, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(15, 1366);
        height: pxtovw(15, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(15, 960);
        height: pxtovw(15, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(15, 375);
        height: pxtovw(15, 375);
      }
    }

    &_plus {
      display: block;
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0.5V12.5' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M13 6.5L1 6.5' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E ");
      width: 14px;
      height: 14px;

      @include screen('xlg', max, 2) {
        width: pxtovw(14, 1660);
        height: pxtovw(14, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(14, 1366);
        height: pxtovw(14, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(14, 960);
        height: pxtovw(14, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(14, 375);
        height: pxtovw(14, 375);
      }
    }
  }

  &_fw400 {
    font-weight: 400;
  }

  &_fw600 {
    font-weight: 600;
  }

  &_fz17 {
    font-size: 17px;
    line-height: (21 / 17);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(17, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(17, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(17, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(17, 375);
    }
  }

  &_fz15 {
    font-size: 15px;
    line-height: (18 / 15);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(15, 1660);
    }

    @include screen('lg', max, 2) {
      line-height: (16 / 13);
      font-size: pxtovw(13, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(13, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(13, 375);
    }
  }

  &_fz16 {
    font-size: 16px;
    line-height: (19 / 16);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(16, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(16, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(16, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(16, 375);
    }
  }

  &_lg-fz14 {
    @include screen('lg', max, 2) {
      font-size: pxtovw(14, 1366);
      line-height: 1;
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(14, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(14, 375);
    }
  }

  &_md-fz15 {
    @include screen('md', max, 2) {
      font-size: pxtovw(15, 960);
      line-height: (18 / 15);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
    }
  }

  &_sm-fz12 {
    @include screen('sm', max, 2) {
      font-size: pxtovw(12, 375);
      line-height: (18 / 12);
    }
  }

  &_sm-fz15 {
    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
      line-height: (18 / 15);
    }
  }

  &_pad10 {
    padding: 0 10px;

    @include screen('xlg', max, 2) {
      padding: 0 pxtovw(10, 1660);
    }

    @include screen('lg', max, 2) {
      padding: 0 pxtovw(10, 1366);
    }

    @include screen('md', max, 2) {
      padding: 0 pxtovw(10, 960);
    }

    @include screen('sm', max, 2) {
      padding: 0 pxtovw(10, 375);
    }
  }

  &_h30 {
    height: 30px;
    border-radius: 15px;

    @include screen('xlg', max, 2) {
      border-radius: pxtovw(15, 1660);
      height: pxtovw(30, 1660);
    }

    @include screen('lg', max, 2) {
      border-radius: pxtovw(15, 1366);
      height: pxtovw(30, 1366);
    }

    @include screen('md', max, 2) {
      border-radius: pxtovw(15, 960);
      height: pxtovw(30, 960);
    }

    @include screen('sm', max, 2) {
      border-radius: pxtovw(15, 375);
      height: pxtovw(30, 375);
    }

    #{$b}__bg {
      @include rule(border-radius, (xl: 15px, xlg: 15, lg: 15, md: 15, sm: 15));
    }
  }

  &_h32 {
    height: 32px;
    border-radius: 16px;

    @include screen('xlg', max, 2) {
      border-radius: pxtovw(16, 1660);
      height: pxtovw(32, 1660);
    }

    @include screen('lg', max, 2) {
      border-radius: pxtovw(16, 1366);
      height: pxtovw(32, 1366);
    }

    @include screen('md', max, 2) {
      border-radius: pxtovw(16, 960);
      height: pxtovw(32, 960);
    }

    @include screen('sm', max, 2) {
      border-radius: pxtovw(16, 375);
      height: pxtovw(32, 375);
    }

    #{$b}__bg {
      @include rule(border-radius, (xl: 16px, xlg: 16, lg: 16, md: 16, sm: 16));
    }

    &_sm22 {
      @include screen('sm', max, 2) {
        border-radius: pxtovw(16, 375);
        height: pxtovw(22, 375);
      }
    }
  }

  &_h35 {
    height: 35px;
    border-radius: 20px;

    @include screen('xlg', max, 2) {
      border-radius: pxtovw(20, 1660);
      height: pxtovw(35, 1660);
    }

    @include screen('lg', max, 2) {
      border-radius: pxtovw(20, 1366);
      height: pxtovw(35, 1366);
    }

    @include screen('md', max, 2) {
      border-radius: pxtovw(20, 960);
      height: pxtovw(35, 960);
    }

    @include screen('sm', max, 2) {
      border-radius: pxtovw(20, 375);
      height: pxtovw(35, 375);
    }

    #{$b}__bg {
      @include rule(border-radius, (xl: 20px, xlg: 20, lg: 20, md: 20, sm: 20));
    }
  }

  &_h60 {
    height: 60px;
    border-radius: 30px;

    @include screen('xlg', max, 2) {
      border-radius: pxtovw(30, 1660);
      height: pxtovw(60, 1660);
    }

    @include screen('lg', max, 2) {
      border-radius: pxtovw(30, 1366);
      height: pxtovw(60, 1366);
    }

    @include screen('md', max, 2) {
      border-radius: pxtovw(30, 960);
      height: pxtovw(60, 960);
    }

    @include screen('sm', max, 2) {
      border-radius: pxtovw(20, 375);
      height: pxtovw(40, 375);
    }

    #{$b}__bg {
      @include rule(border-radius, (xl: 30px, xlg: 30, lg: 30, md: 30, sm: 20));
    }
  }

  &_sm-h26 {
    @include screen('sm', max, 2) {
      height: pxtovw(26, 375);
    }
  }

  &_sm-h32 {
    @include screen('sm', max, 2) {
      height: pxtovw(32, 375);
    }
  }

  &_dis-blue {
    &[disabled], &.is-disabled {
      background-color: $nd-color-main;
    }
  }

  &_border {
    box-sizing: border-box;
    border: 1px solid $nd-color-border;
    background-color: transparent;
    color: $nd-color-basic;
    transition: border $ease-main, transform $ease-main;

    &_gray {
      border-color: $nd-color-border3;
    }

    &_gray-txt {
      color: $nd-color-logo;
    }

    #{$b}__bg {
      display: none;
    }

    &:hover {
      background-color: transparent;
      border-color: $nd-color-field-border-hover;
    }

    &[disabled],&.is-disabled {
      background-color: transparent;
    }
  }

  &_icon {
    #{$b} {
      &__text {
        &:not(:first-child) {
          margin-left: 9px;

          @include screen('xlg', max, 2) {
            margin-left: pxtovw(9, 1660);
          }

          @include screen('lg', max, 2) {
            margin-left: pxtovw(9, 1366);
          }

          @include screen('md', max, 2) {
            margin-left: pxtovw(9, 960);
          }

          @include screen('sm', max, 2) {
            margin-left: pxtovw(7, 375);
          }
        }

        &:not(:last-child) {
          margin-right: 9px;

          @include screen('xlg', max, 2) {
            margin-right: pxtovw(9, 1660);
          }

          @include screen('lg', max, 2) {
            margin-right: pxtovw(9, 1366);
          }

          @include screen('md', max, 2) {
            margin-right: pxtovw(9, 960);
          }

          @include screen('sm', max, 2) {
            margin-right: pxtovw(7, 375);
          }
        }
      }
    }
  }

  &_icon_start {
    padding: 0 16px 0 30px;

    @include screen('xlg', max, 2) {
      padding: 0 pxtovw(16, 1660) 0 pxtovw(30, 1660);
    }

    @include screen('lg', max, 2) {
      padding: 0 pxtovw(16, 1366) 0 pxtovw(30, 1366);
    }

    @include screen('md', max, 2) {
      padding: 0 pxtovw(16, 960) 0 pxtovw(30, 960);
    }

    @include screen('sm', max, 2) {
      padding: 0 pxtovw(16, 375) 0 pxtovw(30, 375);
    }

    #{$b} {
      &__text {
        &:not(:first-child) {
          margin-left: 0;
        }

        &:not(:last-child) {
          margin-right: 0;
        }
      }

      &__icon {
        position: absolute;
        top: 50%;
        left: 9px;
        transform: translate3d(0, -50%, 0);
        transform-origin: 50% 50%;

        @include screen('xlg', max, 2) {
          left: pxtovw(9, 1660);
        }

        @include screen('lg', max, 2) {
          left: pxtovw(9, 1366);
        }

        @include screen('md', max, 2) {
          left: pxtovw(9, 960);
        }

        @include screen('sm', max, 2) {
          left: pxtovw(9, 375);
        }

        &_user {
          left: 15px;

          @include screen('xlg', max, 2) {
            left: pxtovw(15, 1660);
          }

          @include screen('lg', max, 2) {
            left: pxtovw(15, 1366);
          }

          @include screen('md', max, 2) {
            left: pxtovw(15, 960);
          }

          @include screen('sm', max, 2) {
            left: pxtovw(15, 375);
          }
        }
      }
    }
  }

  &_black {
    background-color: $nd-color-basic;
  }

  &.is-new::before {
    display: block;
    position: absolute;
    content: attr(data-counter);
    padding: 11px 0 10px;
    width: 21px;
    text-align: center;
    line-height: 0;
    font-size: 13px;
    font-weight: 700;
    top: -5px;
    right: -7px;
    border-radius: 50%;
    background-color: $nd-color-fixeddesk;
    color: $nd-color-basic-light;
    z-index: 2;

    @include screen('xlg', max, 2) {
      padding: pxtovw(11, 1660) 0 pxtovw(10, 1660);
      width: pxtovw(21, 1660);
      font-size: pxtovw(13, 1660);
      top: pxtovw(-5, 1660);
      right: pxtovw(-7, 1660);
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(11, 1366) 0 pxtovw(10, 1366);
      width: pxtovw(21, 1366);
      font-size: pxtovw(13, 1366);
      top: pxtovw(-5, 1366);
      right: pxtovw(-7, 1366);
    }

    @include screen('md', max, 2) {
      padding: pxtovw(11, 960) 0 pxtovw(10, 960);
      width: pxtovw(21, 960);
      font-size: pxtovw(13, 960);
      top: pxtovw(-5, 960);
      right: pxtovw(-7, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(11, 375) 0 pxtovw(10, 375);
      width: pxtovw(21, 375);
      font-size: pxtovw(13, 375);
      top: pxtovw(-5, 375);
      right: pxtovw(-7, 375);
    }
  }
}
