mixin nd-search-filter()
  +b.nd-search-filter&attributes(attributes)
    +e.wrapper
      .nd-container
        +e.filter
        +e.switch
          +nd-switch({type: 'twoSide', name: 'mapSwitch', value: 'mapHide', labels: {off: 'Map view', on: 'Tile view'}, inputClass: ' js-search-map-switch'})
