.nd-search-filter {
  $b: &;

  position: sticky;
  top: 60px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
  // padding: 10px 0;
  border-top: 1px solid $nd-color-border4;
  border-bottom: 1px solid $nd-color-border4;
  background-color: $nd-color-bg;
  height: 50px;

  @include screen('xlg', max, 2) {
    top: pxtovw(60, 1660);
    // padding: pxtovw(10, 1660) 0;
    height: pxtovw(50, 1660);
  }

  @include screen('lg', max, 2) {
    top: pxtovw(60, 1366);
    // padding: pxtovw(10, 1366) 0;
    height: pxtovw(50, 1366);
  }

  @include screen('md', max, 2) {
    top: pxtovw(60, 960);
    // padding: pxtovw(10, 960) 0;
    height: pxtovw(50, 960);
  }

  @include screen('sm', max, 2) {
    top: 0;
    // padding: pxtovw(10, 375) 0;
    border-color: transparent;
    height: pxtovw(50, 375);
  }

  .is-IE &, .is-Edge {
    position: relative;
    top: 0;
  }

  .is-IE .header.is-short ~ .nd-page &, .is-Edge .header.is-short ~ .nd-page & {
    position: fixed;
    top: 60px;

    @include screen('xlg', max, 2) {
      top: pxtovw(60, 1660);
    }

    @include screen('lg', max, 2) {
      top: pxtovw(60, 1366);
    }

    @include screen('md', max, 2) {
      top: pxtovw(60, 960);
    }

    @include screen('sm', max, 2) {
      top: 0;
    }
  }

  .is-filter-popup-opened & {
    z-index: 29;
  }

  .is-search-map-active & {
    @include screen('md', max, 2) {
      position: relative;
      z-index: 26;
      background-color: transparent;
      border-color: transparent;
      pointer-events: none;
    }
  }

  &__wrapper {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    background-color: transparent;

    @include screen('xlg', max, 2) {
      padding: pxtovw(10, 1660) 0;
      // height: pxtovw(50, 1660);
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(10, 1366) 0;
      // height: pxtovw(50, 1366);
    }

    @include screen('md', max, 2) {
      padding: pxtovw(10, 960) 0;
      // height: pxtovw(50, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(10, 375) 0;
      // height: pxtovw(50, 375);
    }

    .is-search-map-active & {
      @include screen('md', max, 2) {
        position: fixed;
        opacity: 1;
        top: pxtovw(13, 960);
        background-color: transparent;
        border-color: transparent;
        pointer-events: none;
        animation: fadeIn .3s ease forwards;
        height: pxtovw(50, 960);
      }

      @include screen('sm', max, 2) {
        top: pxtovw(13, 375);
        height: pxtovw(50, 375);
      }
    }
  }

  .nd-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .is-search-map-active & {
      @include screen('md', max, 2) {
        justify-content: flex-end;
      }
    }
  }

  &__filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .is-search-map-active & {
      @include screen('md', max, 2) {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__switch {
    display: block;

    @include screen('md', max, 2) {
      display: none;
    }
  }

  &_v2 {
    position: relative;
    top: auto;
    display: flex;

    @include rule(height, (xl: 50px, xlg: 50, lg: 40, md: 40, sm: 60));

    @include screen('sm', max, 2) {
      background-color: $nd-color-basic-light;
    }

    .nd-container {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      height: 100%;

      @include screen('sm', max, 2) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    #{$b} {

      &__wrapper {
        padding: 0;
      }

      &__filter {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
      }
    }
  }
}
