.search-filter {
  $b: &;

  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid $color-border-light;
  background-color: $color-bg;
  z-index: 9;

  @include screen('sm') {
    border-bottom-width: 0;
  }

  &__overlay {
    position: fixed;
    display: block;
    z-index: 15;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity $ease-main;

    #{$b}.is-filter-active & {
      opacity: 1;
      pointer-events: auto;
    }

    &::before {
      @include pseudo;

      top: 50%;
      left: 50%;
      width: 100%;
      height: calc(100% + 140px);
      transform: translate3d(-50%, -50%, 0);
      background-color: rgba($color-overlay, .1);
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 21px 0;
    width: 100%;
    max-width: 100%;

    @include screen('sm') {
      padding: 0;
    }
  }

  &__filter {
    position: relative;
    z-index: 15;

    &:not(:last-child) {
      margin-right: 50px;

      @include screen('sm') {
        margin-right: 20px;
      }

      @include screen('sm') {
        margin-right: 10px;
      }
    }

    #{$b}.is-filter-active & {
      pointer-events: none;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }

  &__button {
    @include text-mid;

    line-height: (26/17);
    font-weight: 700;

    @include screen('sm') {
      @include text;

      line-height: (26/14);
    }

    &:not(:first-child) {
      margin-left: 72px;
    }

    &_clear {
      @include screen('sm') {
        position: relative;
        padding-left: 10px !important;
        height: 10px;
        transition: opacity $ease-main;
        opacity: 0;
        pointer-events: none;

        &.is-visible {
          opacity: 1;
          pointer-events: auto;
        }
      }

      .link {

        &__icon {
          @include screen('sm') {
            width: 10px;
            height: 10px;
            fill: $color-basic;
          }
        }
      }

      &::before {
        @include screen('sm') {
          @include pseudo;

          top: 50%;
          left: 50%;
          width: 40px;
          height: 40px;
          background-color: transparent;
          transform: translate3d(-50%, -50%, 0);
        }
      }
    }
  }

  &__popup {
    position: absolute;
    display: block;
    top: 100%;
    left: -30px;
    background-color: $color-white;
    width: 60.5%;
    opacity: 0;
    pointer-events: none;
    transition: opacity $ease-main;
    z-index: 15;
    border-radius: 3px;
    box-shadow: 1px 1px 8px rgba(34, 42, 46, 0.06);

    @include screen('lg') {
      left: -20px;
      width: 70%;
    }

    @include screen('md') {
      left: 0;
      width: 100%;
    }

    @include screen('sm') {
      left: -10px;
      width: calc(100% + 20px);
    }

    &.is-active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__panel {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: opacity $ease-main;
    pointer-events: none;
    z-index: 15;
    width: 100%;
    bottom: 0;
    left: 0;

    &-wrapper {
      width: 100%;
    }

    .form-panel {
      margin-left: -30px;
      width: 60.5%;

      @include screen('lg') {
        margin-left: -20px;
        width: 70%;
      }

      @include screen('md') {
        margin-left: 0;
        width: 100%;
      }

      @include screen('sm') {
        margin-left: -10px;
        width: calc(100% + 20px);
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    #{$b}__popup.is-active & {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  }

  &.is-filter-active {
    z-index: 11;
  }
}
