mixin search-filter()
  +b.FORM.search-filter&attributes(attributes)(data-form="location-filter-big" data-filter-container)
    .container
      +e.content
        +e.overlay(data-filter-overlay)
        +e.popup(data-filter="advancedSearch")
          +advanced-filter()
          +e.panel
            .container
              +e.panel-wrapper
                +form-panel
                  +link-icon('select-arrow', 'button')(type="button")._back._bold._no-shadow.__link.js-close-advanced-filter Cancel
                  +button('button')(type="submit")._mob-smaller.__button_w360 Show results: 320
        +e.popup(data-filter="workplace")
          +advanced-filter2()
        +filter-search._search.__filter
        +e.buttons
          +b.BUTTON.link_icon._icon_gray._no-shadow._bold._icon_mid-small.__button_clear.js-simple-reset(type="reset" data-target-form="location-filter-big" data-reset-weights-for-filter="advancedSearch" data-mobile-hidden-reset)
            +icon('round-cross').__icon_round-cross
            +e.SPAN.text.hide-sm Clear filter
          +link-icon('map')._icon_gray._no-shadow._bold._icon_pad27.__button.hide-md.js-toggle-map.is-active(href="#" data-target-map="map" data-closed-title="Show Map" data-opened-title="Hide Map") Hide Map
