.search-filter {
  $b: &;

  position: fixed;
  top: 115px;
  left: 0;
  display: block;
  width: 100%;
  padding: 21px 0;
  border-bottom: 1px solid $color-border-light;
  background-color: $color-bg;
  z-index: 10;
  transition: top $ease-main;

  @include screen('sm') {
    top: 74px;
    left: 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  &__filter {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__button {
    @include text-mid;

    line-height: (26/17);
    font-weight: 700;

    @include screen('sm') {
      @include text;

      line-height: (26/14);
    }

    &:not(:first-child) {
      margin-left: 72px;
    }
  }

  .page.is-short & {
    top: 70px;

    @include screen('sm') {
      top: 50px;
    }
  }
}
