.nd-offer-panel {
  $b: &;

  display: none;
  position: fixed;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: inset 0 -1px 0 0 $nd-color-border4;

  @include screen('md', max, 2) {
    display: flex;
    height: pxtovw(60, 960);
    bottom: 0;
    left: 0;
    background-color: $nd-color-basic-light;
    z-index: 3;
  }

  @include screen('sm', max, 2) {
    height: pxtovw(60, 375);
    bottom: 0;
  }

  .nd-container {
    display: flex;
  }

  &__boxes {
    position: absolute;
    top: 10px;
    left: 0;
    display: flex;
    justify-content: flex-start;

    @include screen('md', max, 2) {
      top: pxtovw(10, 960);
    }

    @include screen('sm', max, 2) {
      top: pxtovw(10, 375);
    }
  }

  &__box {
    @include screen('md', max, 2) {
      width: pxtovw(5, 960);
      height: pxtovw(5, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(5, 375);
      height: pxtovw(5, 375);
    }
  }

  &__head {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;

    @include screen('md', max, 2) {
      padding: pxtovw(15, 960) 0;
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(15, 375) 0;
    }
  }

  &__header {
    display: block;
    overflow: hidden;
    position: relative;
    flex: 1;

    &::after {
      @include pseudo;

      top: 0;
      right: 0;
      height: 100%;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0));

      @include screen('md', max, 2) {
        width: pxtovw(50, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(50, 375);
      }
    }
  }

  &__title {
    display: inline-block;
    white-space: nowrap;
    text-overflow: clip;
    font-family: $font-stolzl;
    line-height: 1.2;
    letter-spacing: normal;
    max-width: 100%;

    @include screen('md', max, 2) {
      font-size: pxtovw(15, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
    }
  }

  &__button {
    flex: none;

    @include screen('md', max, 2) {
      margin-left: pxtovw(15, 960);
      min-width: pxtovw(200, 960);
    }

    @include screen('sm', max, 2) {
      margin-left: pxtovw(15, 375);
      min-width: pxtovw(98, 375);
    }
  }
}
