.offer-panel {
  $b: &;

  &__boxes {
    position: absolute;
    top: 0;
    left: $container-padding-tablet;
    min-height: 7px;

    @include screen('sm') {
      left: $container-padding-mobile;
    }
  }

  &__list {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 70px;
  }

  &__item {
    display: block;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid $color-border-lighter;
    }
  }

  &__content {
    height: calc(100vh - 200px);
    max-height: 437px;
  }
}
