.nd-notice {
  $b: &;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $nd-color-basic-light;
  box-sizing: border-box;
  padding-right: 20px;
  font-weight: 500;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;

  @include screen('xlg', max, 2) {
    border-radius: pxtovw(3, 1660);
    padding-right: pxtovw(20, 1660);
    font-size: pxtovw(16, 1660);
    line-height: pxtovw(18, 1660);
  }

  @include screen('lg', max, 2) {
    border-radius: pxtovw(3, 1366);
    padding-right: pxtovw(20, 1366);
    font-size: pxtovw(16, 1366);
    line-height: pxtovw(18, 1366);
  }

  @include screen('md', max, 2) {
    border-radius: pxtovw(3, 960);
    padding-right: pxtovw(20, 960);
    font-size: pxtovw(16, 960);
    line-height: pxtovw(18, 960);
  }

  @include screen('sm', max, 2) {
    border-radius: pxtovw(3, 375);
    padding: pxtovw(17, 375) pxtovw(20, 375) pxtovw(24, 375);
    font-size: pxtovw(16, 375);
    line-height: pxtovw(18, 375);
    align-content: flex-start;
    flex-wrap: wrap;
  }

  &.is-new {
    font-weight: 700;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .03), 2px 2px 2px rgba(0, 0, 0, .04), 3px 3px 3px rgba(0, 0, 0, .02);

    @include screen('xlg', max, 2) {
      box-shadow: pxtovw(1, 1660) pxtovw(1, 1660) pxtovw(1, 1660) rgba(0, 0, 0, .03), pxtovw(2, 1660) pxtovw(2, 1660) pxtovw(2, 1660) rgba(0, 0, 0, .04), pxtovw(3, 1660) pxtovw(3, 1660) pxtovw(3, 1660) rgba(0, 0, 0, .02);
    }

    @include screen('lg', max, 2) {
      box-shadow: pxtovw(1, 1366) pxtovw(1, 1366) pxtovw(1, 1366) rgba(0, 0, 0, .03), pxtovw(2, 1366) pxtovw(2, 1366) pxtovw(2, 1366) rgba(0, 0, 0, .04), pxtovw(3, 1366) pxtovw(3, 1366) pxtovw(3, 1366) rgba(0, 0, 0, .02);
    }

    @include screen('md', max, 2) {
      box-shadow: pxtovw(1, 960) pxtovw(1, 960) pxtovw(1, 960) rgba(0, 0, 0, .03), pxtovw(2, 960) pxtovw(2, 960) pxtovw(2, 960) rgba(0, 0, 0, .04), pxtovw(3, 960) pxtovw(3, 960) pxtovw(3, 960) rgba(0, 0, 0, .02);
    }

    @include screen('sm', max, 2) {
      box-shadow: pxtovw(1, 375) pxtovw(1, 375) pxtovw(1, 375) rgba(0, 0, 0, .03), pxtovw(2, 375) pxtovw(2, 375) pxtovw(2, 375) rgba(0, 0, 0, .04), pxtovw(3, 375) pxtovw(3, 375) pxtovw(3, 375) rgba(0, 0, 0, .02);
    }
  }

  &__space {
    display: flex;
    width: 371px;
    flex: none;
    align-self: stretch;
    overflow: hidden;

    @include screen('xlg', max, 2) {
      width: pxtovw(371, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(300, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(300, 960);
    }

    @include screen('sm', max, 2) {
      box-sizing: border-box;
      padding-right: pxtovw(25, 375);
      width: 100%;
    }
  }

  &__text {
    display: block;
    flex: 1;
    box-sizing: border-box;

    @include screen('sm', max, 2) {
      flex: none;
      width: 100%;
    }

    &:not(:first-child) {
      margin-left: 18px;

      @include screen('xlg', max, 2) {
        margin-left: pxtovw(18, 1660);
      }

      @include screen('lg', max, 2) {
        margin-left: pxtovw(18, 1366);
      }

      @include screen('md', max, 2) {
        margin-left: pxtovw(18, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(16, 375);
        margin-left: 0;
      }
    }
  }

  &__buttons {
    flex: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity $ease-main;
    box-sizing: border-box;
    padding: 24px 0;

    @include screen('xlg', max, 2) {
      padding: pxtovw(24, 1660) 0;
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(24, 1366) 0;
    }

    @include screen('md', max, 2) {
      padding: pxtovw(24, 960) 0;
    }

    @include screen('sm', max, 2) {
      display: none;
      padding: 0;
      width: 100%;
    }

    #{$b}.is-sign & {
      opacity: 1;
      pointer-events: auto;

      @include screen('sm', max, 2) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }

    &:not(:first-child) {
      margin-left: 18px;

      @include screen('xlg', max, 2) {
        margin-left: pxtovw(18, 1660);
      }

      @include screen('lg', max, 2) {
        margin-left: pxtovw(18, 1366);
      }

      @include screen('md', max, 2) {
        margin-left: pxtovw(18, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(16, 375);
        margin-left: 0;
      }
    }
  }

  &__button {
    min-width: 200px;

    @include screen('xlg', max, 2) {
      min-width: pxtovw(200, 1660);
    }

    @include screen('lg', max, 2) {
      min-width: pxtovw(156, 1366);
    }

    @include screen('md', max, 2) {
      min-width: pxtovw(156, 960);
    }

    @include screen('sm', max, 2) {
      min-width: pxtovw(156, 375);
    }
  }

  &.is-signed {
    position: relative;

    &::after {
      @include pseudo;

      top: 50%;
      width: 19px;
      height: 20px;
      right: 30px;
      transform: translate3d(0, -50%, 0);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
      background-image: url('../images/bg/bg-double-green-check.svg');

      @include screen('xlg', max, 2) {
        width: pxtovw(19, 1660);
        height: pxtovw(30, 1660);
        right: pxtovw(20, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(19, 1366);
        height: pxtovw(30, 1366);
        right: pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(19, 960);
        height: pxtovw(30, 960);
        right: pxtovw(20, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(19, 375);
        top: pxtovw(18, 375);
        height: pxtovw(20, 375);
        right: pxtovw(20, 375);
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
