.notice {
  $b: &;

  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 1px;

  &.is-new {

    &::before {
      @include pseudo;

      top: 14px;
      left: 5px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $color-red;
      z-index: 3;

      @include screen('sm') {
        width: 7px;
        height: 7px;
        left: 12px;
      }
    }

    &::after {
      box-shadow: 0 0 1px 0 $color-white;
    }
  }

  &_event.is-new {
    &::before {
      @include screen('sm') {
        top: 12px;
        left: 6px;
      }
    }
  }

  &::after {
    @include pseudo;

    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 100%;
    background-color: transparent;
    transition: box-shadow $ease-main;
    pointer-events: none;
    z-index: 1;
    box-shadow: 0 0 1px 0 $color-border-light;

    @include screen('md') {
      left: 0;
      width: 100%;
    }
  }

  &:hover {
    // background-color: $color-notice-bg-hover;
    z-index: 2;

    &::after {
      box-shadow: 0 0 1px 0 $color-white;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    width: 100%;
    padding: 14px 14px 12px;
    box-sizing: border-box;
    background-color: $color-white;
    transition: background $ease-main, border $ease-main, box-shadow $ease-main;
    z-index: 2;
    min-height: 72px;

    @include screen('md') {
      padding: 14px 18px 13px;
    }

    #{$b}_event & {
      @include screen('md') {
        padding: 14px 18px 8px;
      }
    }

    #{$b}.is-new & {
      background-color: $color-notice-bg;
    }

    #{$b}:hover & {
      background-color: $color-notice-bg-hover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    margin-top: -3px;

    #{$b}_message & {
      @include screen('md') {
        margin-top: 2px;
      }
    }
  }

  &__figure {
    width: 72px;
    min-width: 72px;
    margin-right: 8px;

    @include screen('md') {
      min-width: 86px;
      width: 86px;
    }

    &_ava {
      width: 43px;
      min-width: 43px;
      margin-right: 12px;

      @include screen('md') {
        width: 50px;
        min-width: 50px;
      }
    }
  }

  &__media {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    padding-top: 61%;

    #{$b}__figure_ava & {
      padding-top: 100%;
    }
  }

  &__image {
    @include fill-img;
  }

  &__text {
    @include text13;

    display: block;
    width: 100%;
    line-height: 1.2;

    b {
      font-weight: 700;
    }

    &_nowrap {
      @include ellipsis(100%);
    }
  }

  &__time {
    @include text12;

    line-height: 1.2;
    color: $color-form-border;
  }

  &__avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 0;
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;

    #{$b}_event & {
      @include screen('md') {
        margin-top: 12px;
      }
    }
  }
}
