extends ../../layouts/default-login

block head
  - var pageTitle = 'SpacePool - Sign Up after verification message (for host)'

block content
  +content-origin._reverse._last._mt40
    .container
      +grid.grid_layout.grid_content
        +col({ xl: 4, md: 12}).hide-md
          +side-image('assets/images/verified-account.svg')._vf2
        +col({ xl: 8, md: 12})
          +success-message2
            +e.buttons_mt0
              +button()(href="#").__button Ok
            +section-content._flex._mgt55
              +e.block_w35
                +section-title()._smaller._mg24 What’s next?
                +content-zone.__text
                  p You are now a part of Spacepool. Feel free to search, view and request your dream workspace.
              +e.block_stretch
                +section-title()._smaller._mg24 Usefull thing to do
                +content-zone.__text_mw60
                  p
                    +link()._underline(href="#") Add payment methods.
                    | So you can start tenancy as soon as possible.

block panels
  +main-menu-inner
    +nav-list(getData('main-menu-user.json'))
