extends ../../layouts/default-login

block head
  - var pageTitle = 'SpacePool - Sign Up Verification Message'

block content
  +content-origin._reverse._last._mt40
    .container
      +grid.grid_layout.grid_content
        +col({ xl: 4, md: 12}).hide-md
          +side-image('assets/images/created-account.svg')._vf1
        +col({ xl: 8, md: 12})
          +success-message
            +e.buttons
              +grid.grid_layout
                +col({xl: 6, sm: 12})
                  +button()(href="#").__button Ok, Got it.
                +col({xl: 6, sm: 12})

block panels
  +main-menu-inner
    +nav-list(getData('main-menu-user.json'))
