mixin popup-new-offer-v2()
  +popup._big.popup-new-offer__._v2&attributes(attributes)
    div.popup__heading
      +popup-title Rent review for
    +offer-space.__space
    +e.conditions
      +e.old
        +e.subtitle Current terms:
        +e.list
          p Rent: £ 590.00 mo
          p From: 30 October 2019
          p To: 30 October 2019
      +e.new
        +form.__form#new-offer-form
          +e.info_nowrap._nowrap_sm-up._mt50
            +e.info-cell._big._no-sm-top
              +form-section-wrapper
                +form-box('New price per unit:')
                  +input.input_dark(type="text" name="price" placeholder="New price per unit:" value="£ 690.00")
            +e.info-cell._no-sm-top
              +form-section-wrapper._aie._h100p
                +e.imitation_tar Per month
            +e.info-cell._auto._fxe._sm-wide._sm-top10
              +e.text_big._dark * Excluding VAT
          +e.info._block._mt50
            +grid.grid_30x40.grid_int50
              +col({xl: 6, sm:12 })
                +form-section-wrapper
                  +form-box('New period starts', 'calendar2')._icon._icon_small._bold._lbl-small
                    +input.input_dark.js-datepicker(type="text" name="startDate" value="6 February 2020" placeholder="New period starts" data-period-start="rent" readonly)
              +col({xl: 6, sm:12 })
                +form-section-wrapper
                  +form-box('Duration')._icon
                    +select.js-select-input(name="duration" data-mobile-title="Duration")
                      - for (var i = 1; i <= 12; i++) {
                        if (i === 12)
                          option(value=i selected)!=(i + ' months')
                        else if (i === 1)
                          option(value=i)!=(i + ' month')
                        else
                          option(value=i)!=(i + ' months')
                      -}
          +e.info_note
            +b.note_warning._warning_small._fz16._color._color_yellow._line._fw400
              +e.mark
                +icon('warning-stroke').__icon_warning._warning_small
              +e.text New rent will be collected on or shortly after 01.03.2020
    +e.buttons._sb
      +b.note_warning._warning_small._fz16._color._color_yellow._fw400.__note
        +e.mark
          +icon('warning-stroke').__icon_warning._warning_small
        +e.text Please note that the new rent will be fixed for the duration of the new period.
      +button('button')._shorter.__button_mw264(type="submit" form="new-offer-form") Submit
    block
