extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Host Account - Finances'

block bodyClasses
  - var bodyCls = ' is-sm-noheader';
  - var isNoFooter = true
  - var scripts = ['other']

block header
  - var headerClass = ' is-login'
  - var pageClass = ''
  - var isMap = false
  - var host = true

block content
  +nd-page-header._grid
    .nd-container
      +nd-page-header-side
        +nd-link-icon('arrow5')._back._back_md21.__back_md-noname.nd-hide-from-md Back
      +nd-page-header-main
        - var menuList = getData('sideNavProfileHost.json').menu;
        +e.mb-menu.nd-hide
          +slider-navigation(menuList, 4, 'Finances')
        +e.mb-menu.nd-hide-from-md
          +slider-navigation([{name: "Statements", href: "host-account-finances-statements.html"}, {name: "Bank account details", href: "host-account-finances.html"}, {name: "Account stats", href: "host-account-finances.html"}], 0, 'Statements')

  +nd-content
    .nd-container
      +nd-content-aside
        +sidebar-nosticky.nd-sidebar.nd-hide-md
          - var nav = getData('sideNavProfileHost.json')
          +nd-side-navigation(nav, 'Finances')._profile._profile_ha

      +nd-content-main
        +nd-section
          +nd-section-header._fx._md-pg-head.nd-hide-md
            +nd-section-title._fz24 Finances
            +e.menu
              +slider-navigation([{name: "Statements", href: "host-account-finances-statements.html"}, {name: "Bank account details", href: "host-account-finances.html"}, {name: "Account stats", href: "host-account-finances.html"}], 0, 'Statements')

          +dashboard.__dashboard_mt55
            +board._pad33._pb70._sm-bg-none._sm-pad0.__board
              +board-header._fx.nd-hide-sm
                +board-title('h2')._fz22 Statements
                +e.drop-filter
                  +nd-form-box('')._h40
                    +nd-select(name="spaces" placeholder="Spaces" data-mobile-title="Spaces" data-choices-classes="nd-choices_fltr nd-choices_h40").js-nd-select
                      option(value="" selected placeholder) All spaces
                      option(value="") First Floor Desk Area
                      option(value="") Second Floor Desk Area
                      option(value="") Third Floor Desk Area
              +nd-table._ledger-mobile._blight.__table_mt45._mb0
                thead
                  tr
                    th Issued
                    th.nd-hide-sm Rent
                    th Space
                    th Price
                    th Status
                    th Invoice
                tbody
                  tr.is-new
                    td
                      b 24 April <span class="nd-hide-from-sm">2020</span>
                    td.nd-hide-sm
                      b Offica space 31
                    td
                      b FBC Clerkenwell
                    td
                      b £ 860.00
                    td
                      b Pending
                    td
                      +nd-link-pdf({tag: 'div'})._pdf_drop._pdf_drop_sm-static
                        +dropdown-pdfs.__drop
                  - for (var i = 0; i < 4; i ++) {
                    tr
                      td
                        b 24 April <span class="nd-hide-from-sm">2020</span>
                      td.nd-hide-sm Fixed desk south side
                      td FBC Clerkenwell
                      td £ 356.00
                      td Paid
                      td
                        +nd-link-pdf({tag: 'div'})._pdf_drop._pdf_drop_sm-static
                          +dropdown-pdfs.__drop
                    tr
                      td
                        b 24 April <span class="nd-hide-from-sm">2020</span>
                      td.nd-hide-sm Hot desk
                      td FBC Clerkenwell
                      td £ 356.00
                      td Paid
                      td
                        +nd-link-pdf({tag: 'div'})._pdf_drop._pdf_drop_sm-static
                          +dropdown-pdfs.__drop
                    tr
                      td
                        b 24 April <span class="nd-hide-from-sm">2020</span>
                      td.nd-hide-sm Office 1129
                      td First Base - Victoria
                      td £ 356.00
                      td Paid
                      td
                        +nd-link-pdf({tag: 'div'})._pdf_drop._pdf_drop_sm-static
                          +dropdown-pdfs.__drop
                  - }

block panels

block popups
