.footnote {
  $b: &;

  display: block;
  width: 100%;

  &__mark {
    margin-bottom: -8px;
  }

  &__text {
    @include text-big;

    font-weight: 400;
    display: block;
    width: 100%;
    box-sizing: border-box;

    @include screen('sm') {
      @include text15;
    }
  }
}
