.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 75px;
  background-color: $color-toolbar;
  box-sizing: border-box;
  padding: 19px 20px 17px 16px;
  $b: &;

  &__profile {
    &:not(:last-child) {
      margin-right: 50px;

      @include screen('md') {
        margin-right: 20px;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;
  }

  &__button {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}
