mixin messenger()
  +b.messenger&attributes(attributes)
    +e.content
    +e.FORM.form
      +e.TEXTAREA.field(placeholder="Write something..." rows="1")
      +e.BUTTON.send(type="submit") Send
    block
