mixin offers()
  +b.SECTION.offers&attributes(attributes)
    block

mixin offers-header(color, name, count)
  +e.header&attributes(attributes)
    +e.name
      +box()(class="_size32 _" + color + " __box")
      +e.H3.title!= name
    +e.info
      +e.count(data-offers-count)!= count
      +e.A.add-button(href="#popup-add-rental-offer" title="Add new offer").js-popup
        +e.SPAN.icon

mixin offers-heading(color, name)
  +e.heading&attributes(attributes)
    +e.name
      +box()(class="_size10 _" + color + " __box_sz10")
      +e.H4.title_small!= name

mixin offers-list()
  +e.list&attributes(attributes)
    block

mixin offers-describe()
  +e.describe&attributes(attributes)
    +e.column_left
      +e.text There is now Meeting Room offers for this Space yet.
    +e.column_right
      +button('a')(href="#popup-add-offer-tc")._short._border.__button.js-popup Add Meeting Room offer
