.offers {
  $b: &;

  position: relative;
  display: block;
  padding-bottom: 1px;
  width: 100%;

  @include screen('sm') {
    padding-bottom: 0;
  }

  &:not(:last-child) {
    margin-bottom: 63px;

    @include screen('sm') {
      margin-bottom: 42px;
    }
  }

  &::after {
    @include pseudo;

    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $color-border-light;

    @include screen('sm') {
      left: -20px;
      right: -20px;
    }
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $color-hint-bg;
    background-clip: padding-box;
    overflow: hidden;
    color: $color-white;
    z-index: 3;
  }

  &__box {
    height: auto;
    min-height: 32px;
  }

  &__name {
    display: flex;
    justify-content: flex-start;

    &:not(:last-child) {
      margin-right: 50px;

      @include screen('lg') {
        margin-right: 30px;
      }

      @include screen('sm') {
        margin-right: 10px;
      }
    }
  }

  &__title {
    @include text-big;

    font-weight: 700;
    text-transform: uppercase;
    align-self: center;
    margin-left: 10px;

    @include screen('sm') {
      @include text15;
    }
  }

  &__add-button {
    position: relative;
    display: block;
    font-size: 0;
    line-height: 0;
    min-width: 35px;
    width: 35px;
    height: auto;
    min-height: 32px;
    cursor: pointer;
    border-left: 1px solid $color-border-dark;
    -webkit-appearance: none;
    transition: border $ease-main;

    @include screen('sm') {
      min-width: 32px;
      width: 32px;
    }
  }

  &__icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translate3d(0, -50%, 0);

    &::before,
    &::after {
      @include pseudo;

      top: 0;
      left: 11px;
      width: 11px;
      height: 1px;
      transform-origin: 50% 50%;
      background-color: $color-bg;
      transition: all $ease-main;

      @include screen('sm') {
        left: 10px;
      }

      #{$b}__add-button:hover & {
        background-color: $color-border-dark;
      }
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  &__info {
    display: flex;
    justify-content: flex-end;
  }

  &__count {
    @include text-big;

    font-weight: 700;
    align-self: center;
    margin-right: 14px;
    color: $color-bg;

    @include screen('sm') {
      @include text15;

      margin-right: 10px;
    }
  }

  &__describe {
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 30px 0;

    @include screen('lg') {
      padding-left: 23px;
    }

    @include screen('sm') {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 33px;
      flex-wrap: wrap;
    }

    #{$b}.is-empty & {
      display: flex;
    }
  }

  &__text {
    @include text16;

    font-weight: 400;
    line-height: (23/16);
    color: $color-offer-empty-text;
  }

  &__column {
    @include screen('sm') {
      text-align: center;
    }

    &_left {
      margin-right: 50px;

      @include screen('lg') {
        margin-right: 30px;
      }

      @include screen('sm') {
        margin-right: 0;
        width: 100%;
      }

      &:not(:last-child) {
        @include screen('sm') {
          margin-bottom: 19px;
        }
      }
    }

    &_right {
      min-width: 238px;

      @include screen('sm') {
        width: 100%;
        min-width: 0;
      }
    }
  }

  &__button {
    min-width: 238px;
  }
}
