.address-list {
  $b: &;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -6px;

  @include screen('sm') {
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    @include text-mid;

    font-weight: 700;
    margin-top: 6px;
    position: relative;

    @include screen('sm') {
      @include text15;

      letter-spacing: -.01em;
    }

    &:not(:last-child) {
      margin-right: 24px;

      @include screen('sm') {
        margin-right: 0;
      }

      &::after {
        @include pseudo;

        top: 50%;
        right: -12px;
        width: 1px;
        height: 17px;
        background-color: $color-border;
        transform: translate3d(0, -50%, 0);

        @include screen('sm') {
          top: auto;
          bottom: -2px;
          right: auto;
          left: 0;
          width: 17px;
          height: 1px;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}
