.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 42px;
  height: 32px;
  cursor: pointer;
  
  svg {
    transition: .3s;
    fill: $color-basic;
  }

  &:hover {
    svg {
      fill: $color-basic-dark;
    }
  }

}