.burger {
  $b: &;

  position: relative;
  display: block;
  font-size: 0;
  line-height: 0;
  padding-right: 3px;
  box-sizing: border-box;
  min-width: 45px;
  width: 45px;
  height: 32px;
  background-color: transparent;
  -webkit-appearance: none;
  will-change: position;
  backface-visibility: hidden;

  @include screen('xl') {
    min-width: 42px;
    width: 42px;
    padding-right: 0;
  }

  @include screen('sm') {
    min-width: 30px;
    width: 30px;
    height: 23px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    // display: flex;
    // align-items: center;
    display: block;
    width: 42px;
    height: 32px;
    cursor: pointer;

    @include screen('sm') {
      width: 30px;
      height: 23px;
    }

    &::before,
    &::after {
      @include pseudo;

      height: 4px;
      left: 0;
      background-color: $color-basic;
      transition: background $ease-main, width $ease-main-short, transform $ease-main-short;
      transition-delay: 0s, .15s, 0s;
      background-clip: padding-box;
      overflow: hidden;
      backface-visibility: hidden;

      @include screen('sm') {
        height: 3px;
      }

      .is-navigation-open & {
        transition-delay: 0s, 0s, .15s;
      }
    }

    &::before {
      top: 0;
      width: 42px;
      transform-origin: 0 0;

      @include screen('sm') {
        width: 30px;
      }

      .is-navigation-open & {
        transform: rotate(45deg);
      }
    }

    &::after {
      bottom: 0;
      width: 32px;
      transform-origin: 0 100%;

      @include screen('sm') {
        width: 23px;
      }

      .is-navigation-open & {
        width: 42px;
        transform: rotate(-45deg);

        @include screen('sm') {
          width: 30px;
        }
      }
    }

    #{$b}:hover &::before,
    #{$b}:hover &::after {
      background-color: $color-basic-dark;
    }
  }

  &__line {
    position: absolute;
    left: 0;
    top: 14px;
    // position: relative;
    display: block;
    height: 4px;
    width: 23px;
    background-color: $color-basic;
    transition: all $ease-main;
    transform-origin: 0 50%;
    background-clip: padding-box;
    overflow: hidden;
    backface-visibility: hidden;

    @include screen('sm') {
      top: 10px;
      height: 3px;
      width: 16px;
    }

    #{$b}:hover & {
      background-color: $color-basic-dark;
    }

    .is-navigation-open & {
      transform: scale(0);
      opacity: 0;
    }
  }

  &::before {
    @include pseudo;

    width: 74px;
    height: 74px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
