mixin burger()
  +b.BUTTON.burger.js-open-navigation&attributes(attributes)
    +e.image
      +e.line

mixin nd-burger()
  +b.BUTTON.nd-burger.js-open-navigation&attributes(attributes)
    +e.image
      +e.line

mixin nd-burger-icon(tag)
  +b(tag || 'button').nd-burger&attributes(attributes)
    +e.icon
      +e.SVG(viewBox="0 0 32 27" fill="none" xmlns="http://www.w3.org/2000/svg")
        +e.PATH.border_top(d="M1 1L31 1" stroke-width="2" stroke-linecap="round")
        +e.PATH.border_mid(d="M8 13L31 13" stroke-width="2" stroke-linecap="round")
        +e.PATH.border_bottom(d="M2 26L31 26" stroke-width="2" stroke-linecap="round")
