extends ../../layouts/default

block head
  - var pageTitle = 'SpacePool - Blog'

block content
  -var blogNews = getData('blog-news.json');
  +blog
    .container
      +grid.grid_layout
        +col({ xl: 1, md:12}).hide-md
        +col({ xl: 10, md:12})
          +grid.grid_layout.grid_blog
            each news in blogNews
              +col({xl: 6, sm: 12})
                +blog-news(news)(href="#")
          +pagination
        +col({ xl: 1, md:12}).hide-md

block panels
  +main-menu
