.warning {
  $b: &;

  @include heading-4;

  display: block;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 22px 20px;
  background-color: $color-warning;
  color: $color-white;

  @include screen('sm') {
    padding: 10px;
  }

  @include screen('sm') {
    @include text;

    line-height: (20/14);
  }
}
