mixin uploader-output()
  +b.uploader-output&attributes(attributes)
    +e.empty-area
      +uploader Upload images at least 800 px on a shortest side. JPG, PNG, BMP 300 - 10000 kb
    +e.files
      +grid.grid_30x40.grid_t55
        +col({xl: 4, lg: 6, xs: 12 })(data-insert-preview-after)
          +uploader-small
        block
