.toggle {
  $b: &;

  @include text-mid;

  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  color: $color-basic;
  transition: color $ease-main;
  font-weight: 700;
  padding-right: 26px;
  cursor: pointer;

  @include screen('sm') {
    @include text13;

    line-height: (26/13);
    padding-right: 14px;
  }

  &::after {
    @include screen('sm') {
      @include pseudo;

      width: calc(100% + 20px);
      height: 200%;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &:hover {
    color: $color-basic-dark;
  }

  &__text {
    position: relative;
    z-index: 2;
  }

  &__icon {
    position: absolute;
    display: block;
    font-size: 0;
    line-height: 0;
    top: 50%;
    right: 0;
    z-index: 2;
    transform-origin: 50% 50% 0;
    transform: translate3d(0, -50%, 0);
    width: 12px;
    height: 7px;
    fill: currentColor;
    transition:
      fill $ease-main,
      transform $ease-main;

    @include screen('sm') {
      width: 9px;
      height: 5px;
    }

    &.is-active {
      transform: translate3d(0, -50%, 0) rotate(180deg);
    }
  }

  &__counter {
    @include text15;
    @include gradient-main;

    position: relative;
    line-height: 21px;
    display: none;
    width: 21px;
    border-radius: 50%;
    color: $color-white;
    text-align: center;
    margin-left: 10px;
    margin-right: -4px;
    z-index: 2;

    @include screen('sm') {
      font-size: 8px;
      line-height: 13px;
      width: 13px;
      margin-left: 4px;
      margin-right: -2px;
    }

    &.is-selected {
      display: inline-block;
    }
  }
}
