mixin 404()
  +b.error404&attributes(attributes)
    +e.column_left
      +e.SECTION.wrapper
        +e.H2.title 404
        +e.H3.subtitle Looks like noone here
        +e.text Maybe the URL you want to find does not exist or misspelled. Of course you can stay in this cosy, empty room or maybe <a href="./">go and search for a new workspace.</a>
    +e.column_right
      +e.IMG.image(src="assets/images/404.png")
    block
