.switch {
  $b: &;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  @include screen('sm') {
    justify-content: space-between;
  }

  &__content {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &__describe {
    @include text;

    line-height: (26/14);
    font-weight: 400;
    color: $color-basic-gray;
    display: inline-block;
    vertical-align: baseline;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 19px;
    }
  }

  &__price {
    @include text16;

    line-height: (26/16);
    color: $color-basic-light;

    b {
      font-weight: 700;
    }
  }

  &__toggle {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    border: 1px solid $color-switcher-border;
    background-color: $color-switcher-bg1;
    border-radius: 20px;
    transition: border $ease-main, background $ease-main;

    #{$b}:hover & {
      border-color: $color-basic-light;
    }

    #{$b}__input:checked~& {
      border-color: $color-switcher-border-active;
      background-color: $color-basic;
    }

    &:not(:last-child) {
      margin-right: 9px;
    }

    &::before {
      @include pseudo;

      top: 50%;
      left: 50%;
      width: 14px;
      height: 14px;
      z-index: 2;
      border-radius: 50%;
      background-color: $color-basic;
      transition: background $ease-main, transform $ease-main;
      transform: translate3d(-16px, -50%, 0);

      #{$b}__input:checked~& {
        background-color: $color-white;
        transform: translate3d(2px, -50%, 0);
      }
    }
  }

  &__status {
    @include text15;

    font-weight: 700;
    white-space: nowrap;
    color: $color-basic-light;
    transition: color $ease-main;

    @include screen('sm') {
      @include text13;
    }

    #{$b}:hover & {
      color: $color-basic;
    }

    &_disabled {
      display: block;

      #{$b}__input:checked~& {
        display: none;
      }
    }

    &_active {
      display: none;
      color: $color-available;

      #{$b}__input:checked~& {
        display: block;
      }
    }
  }
}
