extends ../../layouts/default-login-host

block head
  - var pageTitle = 'SpacePool - HOST My rental offers New Space Step 5'

block header
  -var headerClass = '_border'

block content
  +page-header._wide-lg._hpad
    .container
      +e.wrapper
        +page-header-side
          +link-icon('select-arrow')._no-shadow._back._bold.__back(href="#") Back to previous step
        +page-header-main._main_mgt
          +breadcrumbs-form
            +breadcrumbs(['Home', 'My offers', 'Create new Space']).__navigation.hide-md
            +e.step <b>Step 5</b> Rules and additional terms
          +e.links
            +link-icon('save')(href="#")._no-shadow._icon_gray-dark._icon_pad30._bold.__link All changes saved
      +progress(71.4)
  +content-origin._wide-lg._reverse._last
    .container
      +e.wrapper
        +content-column-aside.hide-md
          +side-navigation('Space rules is important to make your tenants become a part of a friendly working space')._pt46
            +page-info.__info
              +page-info-image
                +icon('rules').icon_rules._grad4
              +page-info-title Space Rules and additional terms
              +page-info-description Step 5 <i>of 7</i>
        +content-column-main._no-ptop


block panels
  +main-menu-inner
    +nav-list(getData('main-menu-user.json'))
