extends ../../layouts/default-login-host

block head
  - var pageTitle = 'SpacePool - HOST My rental offers New Space Step 4'

block header
  -var headerClass = '_border'

block content
  +page-header._wide-lg._hpad
    .container
      +e.wrapper
        +page-header-side
          +link-icon('select-arrow')._no-shadow._back._bold.__back(href="#") Back to previous step
        +page-header-main._main_mgt
          +breadcrumbs-form
            +breadcrumbs(['Home', 'My offers', 'Create new Space']).__navigation.hide-md
            +e.step <b>Step 4</b> Photos
          +e.links
            +link-icon('save')(href="#")._no-shadow._icon_gray-dark._icon_pad30._bold.__link All changes saved
      +progress(57.1)
  +content-origin._wide-lg._reverse._last
    .container
      +e.wrapper
        +content-column-aside.hide-md
          +side-navigation('Add photos for your Space. It is highly reccomended to upload Landscape photos')._pt46
            +page-info.__info
              +page-info-image
                +icon('photo').icon_photo._grad3
              +page-info-title._mg62 Photos
              +page-info-description Step 4 <i>of 7</i>
        +content-column-main._no-ptop
          +form()._white._flex(data-validated-form)
            +e.container_pds
              +form-section._mg65
                +form-section-header._mg26._fx-sb
                  +form-section-title Space photos
                  +form-section-text._bold._fz18._dark(data-file-counter) 6 / 25
                - var photo = [{name: 'photo[0]', isMain: '', img: 'assets/images/photo-preview3.jpg', mainValue: 'photo[0]', select: 'description[0]'}, {name: 'photo[1]', isMain: '', img: 'assets/images/photo-preview2.jpg', mainValue: 'photo[1]', select: 'description[1]'}, {name: 'photo[2]', isMain: '', img: 'assets/images/photo-preview1.jpg', mainValue: 'photo[2]', select: 'description[2]', isError: 'true'}, {name: 'photo[3]', isMain: '', img: 'assets/images/photo-preview4.jpg', mainValue: 'photo[3]', select: 'description[3]'}, {name: 'photo[4]', isMain: 'true', img: 'assets/images/photo-preview1.jpg', mainValue: 'photo[4]', select: 'description[4]'}, {name: 'photo[5]', isMain: '', img: 'assets/images/photo-preview5.jpg', mainValue: 'photo[5]', select: 'description[5]'},]
                +uploader-output
                  - for (var i = 0; i < photo.length; i++) {
                    +col({xl: 4, lg: 6, xs: 12})
                      - var item = photo[i];
                      - var addClass = (item.isError) ? 'is-error' : ''
                      +photo-preview(item.name)(class=addClass)
                        +photo-preview-preview(item.isMain, item.mainValue)
                          +e.IMG.image(src=item.img)
                        +photo-preview-error
                        +photo-preview-description(item.select)
                          option(placeholder value="placeholder") What’s on photo?
                          option(value="Cafe") Cafe
                          option(value="Meeting room") Meeting room
                          option(value="Parking") Parking
                          option(value="Roof terrace") Roof terrace
                          option(value="reception") Reception
                  - }
            +form-panel.__panel_border
              +link-icon('select-arrow', 'a')(href="#")._back._bold._no-shadow.__button Back
              +button-icon('button', 'select-arrow')(type="submit").__button_wide Next


block panels
  +main-menu-inner
    +nav-list(getData('main-menu-user.json'))
