mixin spoiler()
  +b.spoiler&attributes(attributes)
    +e.content
      block
    +e.toggle
      +link._underline.js-spoiler-open(href="#" data-closed-name="Read more..." data-opened-name="Hide") Read more...
