mixin photo-preview(name)
  - var nm = name || 'photo'
  +b.photo-preview&attributes(attributes)(data-preview-item data-callback="deleteOnBackend" data-name-crop-input="photoCrop")
    +e.INPUT(type="hidden" name=nm data-file-source)
    +e.BUTTON.delete.js-delete-file(type="button")
      +icon('cross').delete-icon
    block

mixin photo-preview-preview(isMain, value)
  - var val = value || 'photo';
  +e.LABEL.preview&attributes(attributes)
    - if (isMain) {
      +e.INPUT.main(type="radio" name="isMain" value=val checked="checked" data-crop-starter)
    - } else {
      +e.INPUT.main(type="radio" name="isMain" value=val data-crop-starter)
    - }
    +e.media(data-preview-image)
      block
    +e.caption Main photo
    +e.label
      +link-icon('img', 'span')._icon_small._icon_sz._underline._no-shadow Set as main Photo

mixin photo-preview-error()
  +e.error&attributes(attributes)
    +e.error-description
      +e.error-text(data-preview-error-text) This image is really tiny.
      +e.error-text Please use images with following parameters:
      +e.condition  At least 800 pixel on shortest side
      +e.condition_small JPG, BMP, PNG 300 - 10000 kb
    +button('button')(type="button" data-delete)._border._short._wide.js-delete-file Delete this image

mixin photo-preview-description(select)
  - var name = select || 'description';
  +e.description&attributes(attributes)
    +select.select_placeholder.select_white.js-select-input(name=name required)
      block
