mixin reservation-request-popup()
  +b.reservation-request_popup&attributes(attributes)
    +form._white.__form(data-validated-form data-reservation-request data-first-step="step0")
      button.reservation-request__close.js-reservation-request-close(type="reset")
        svg.reservation-request__close-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.36 15.36")
          rect(x="-2.43" y="6.94" width="20.23" height="1.49" transform="translate(18.55 7.68) rotate(135)")
          rect(x="-2.43" y="6.94" width="20.23" height="1.49" transform="translate(7.68 -3.18) rotate(45)")
      +form-section._mgb0
        +form-section-header._mg58
          +form-section-title._fz30('h4') Request Reservation
        +form-section-content(data-step="step0")
          +form-section-wrapper._mg50
            +form-box('Rent period start', 'calendar2')._icon
              +input.js-datepicker(type="text" name="startDate" value="13 January 2020" placeholder="Rent period start" readonly)
          +form-section-wrapper._mg50
            +form-box('Desired duration')._icon
              +select.select_white.js-select-input(name="duration" data-mobile-title="Desired duration" data-choices-classes="choices_white")
                - for (var i = 1; i <= 12; i++) {
                  if (i === 12)
                    option(value=i selected)!=(i + ' months')
                  else if (i === 1)
                    option(value=i)!=(i + ' month')
                  else
                    option(value=i)!=(i + ' months')
                -}
          +form-section-wrapper
            +form-box('Your phone number', '', 'label')
              +input(type="tel" name="phone" placeholder="Your phone number" data-tel-number required)
          +e.buttons_mgt38
            +button('button', true)(type="submit" data-callback="serverSave" data-final-step="step1")._short._wide.__button.js-stp-form-final Confirm
        +form-section-content.hide(data-step="step1")
          +e.message_v2
            p Thank you <br> for your Request!
            p Spacepool manager will contact you shortly for further communication.
          +e.buttons_mta
            +button('button')(type="reset")._short._wide.__button.js-reservation-request-close OK
      block
