mixin reservation-request()
  +b.reservation-request&attributes(attributes)
    +form._white.__form(data-validated-form data-reservation-request data-first-step="step0")
      +form-section._mgb0(data-step="step0")
        +form-section-header._mg64
          +form-section-title._small('h4')
            +link-icon('select-arrow', 'a')._back._back_pl22._bold._no-shadow.__button.js-reservation-request-close(href="#") Back
        +form-section-content
          +form-section-wrapper
            +form-box('Rent period start', 'calendar2')._icon
              +input.js-datepicker(type="text" name="startDate" value="13 January 2020" placeholder="Rent period start" readonly)
          +form-section-wrapper
            +form-box('Desired duration')._icon
              +select.select_white.js-select-input(name="duration" data-mobile-title="Desired duration" data-choices-classes="choices_white")
                - for (var i = 1; i <= 12; i++) {
                  if (i === 12)
                    option(value=i selected)!=(i + ' months')
                  else if (i === 1)
                    option(value=i)!=(i + ' month')
                  else
                    option(value=i)!=(i + ' months')
                -}
          +form-section-wrapper._mg44
            +form-box('Your phone number', '', 'label')
              +input(type="tel" name="phone" placeholder="Your phone number" data-tel-number required)
          +e.buttons
            +button('button', true)(type="submit" data-callback="serverSave" data-final-step="step1")._short._wide.__button.js-stp-form-final Confirm Request
      +form-section._mgb0.hide(data-step="step1")
        +form-section-header._mg80
          +form-section-title._small('h4') Request sent
        +form-section-content
          +e.message
            p Thank you <br> for your Request!
            p Spacepool manager will contact you shortly for further communication.
          +e.buttons_mta
            +button('button')(type="reset")._short._wide.__button.js-reservation-request-close OK
      block
