mixin password-form()
  +nd-form.password-form&attributes(attributes)(data-validated-form)
    +form-section-header._tac
      +e.H3.title Password
    +form-section
      +nd-grid
        +nd-grid-col({xl: 12})
          +form-section-wrapper
            +nd-form-box('Existing password')
              +nd-input(type="password" name="oldPassword" placeholder="Existing password" value="password")
        +nd-grid-col({xl: 12})
          +form-section-wrapper
            +nd-form-box('New password')
              +nd-input(type="password" name="newPassword" placeholder="New password" data-parsley-passwordequalto="[data-password2]" data-password1="password1" required)
        +nd-grid-col({xl: 12})
          +form-section-wrapper
            +nd-form-box('Repeat new password')
              +nd-input(type="password" name="repeatNewPassword" placeholder="Repeat new password" data-parsley-passwordequalto="[data-password1]" data-password2="password2" required)
      +password-indicator() New password stregth
    block
