.password-form {
  $b: &;

  display: block;
  width: 100%;
  margin: 0 auto;

  @include rule(max-width, (xl: 507px, xlg: 507, lg: 507, md: 507));

  @include screen('sm', max, 2) {
    max-width: none;
  }

  &:not(:first-child) {
    @include rule(margin-top, (xl: 102px, xlg: 102, lg: 102, md: 47, sm: 40));
  }

  .nd-form {
    &__section {
      &:not(:first-child) {
        @include rule(margin-top, (xl: 40px, xlg: 40, lg: 40, md: 40, sm: 30));
      }
    }
  }

  .password-indicator {
    margin: 0 auto;

    @include rule(max-width, (xl: 342px, xlg: 342, lg: 342, md: 324));

    @include screen('sm', max, 2) {
      max-width: none;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 42px, xlg: 42, lg: 42, md: 42, sm: 42));
    }
  }
}
