mixin filter-popup(data)
  +b.FORM.filter-popup&attributes(attributes)
    +e.header
      +e.close.nd-hide-from-sm.js-nd-filter-close
      +e.H4.title.nd-hide-from-sm!=data.title
      if data.note
        +e.note.nd-hide-sm
          span!=data.note.text
          if data.note.nb
            b!=data.note.nb
    +e.content
      block
    +e.footer
      +e.buttons
        if (data.reset)
          +e.BUTTON.clear.js-nd-filter-reset(type="reset" disabled)!=data.reset
        if data.offerType
          +nd-button('button', true).__button(type="submit" data-default-name="Show all offers" data-hd-name="Show hot desk offers" data-fd-name="Show fixed desk offers" data-mr-name="Show meeting room offers" data-po-name="Show private office offers" data-offer-type-show)
            span.nd-hide-from-sm(data-sm-name)!=data.submit
            span.nd-hide-sm(data-xl-name) Show results - 27
        else
          +nd-button('button', true).__button(type="submit")!=data.submit
