.dashboard {
  $b: &;

  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: -20px;

  @include screen('xlg', max, 2) {
    margin-top: pxtovw(-20, 1660);
  }

  @include screen('lg', max, 2) {
    margin-top: pxtovw(-20, 1366);
  }

  @include screen('md', max, 2) {
    margin-top: pxtovw(3, 960);
  }

  @include screen('sm', max, 2) {
    margin-top: pxtovw(-4, 375);
  }

  &__board {
    margin-top: 20px;

    @include screen('xlg', max, 2) {
      margin-top: pxtovw(20, 1660);
    }

    @include screen('lg', max, 2) {
      margin-top: pxtovw(20, 1366);
    }

    @include screen('md', max, 2) {
      margin-top: pxtovw(20, 960);
    }

    @include screen('sm', max, 2) {
      margin-top: pxtovw(20, 375);
    }

    &_rent {
      &_rs {
        @include grid-column(3, 4);
        @include grid-row(1, 2);

        @include screen('md', max, 2) {
          @include grid-column(1, 4);
        }

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);
        }
      }

      &_contract {
        @include grid-column(1, 2);
        @include grid-row(1, 2);

        @include screen('md', max, 2) {
          @include grid-column(3, 4);
          @include grid-row(2, 3);

          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(3, 4);
        }
      }

      &_chat {
        @include grid-column(5, 6);
        @include grid-row(1, 2);

        @include screen('lg', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(2, 3);
        }
      }

      &_state {
        @include grid-column(1, 4);
        @include grid-row(2, 3);

        @include screen('lg', max, 2) {
          @include grid-column(1, 4);
          @include grid-row(3, 4);
        }

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(5, 6);
        }
      }

      &_overview {
        @include grid-column(5, 6);
        @include grid-row(2, 3);

        @include screen('lg', max, 2) {
          @include grid-column(3, 4);
          @include grid-row(2, 3);
        }

        @include screen('md', max, 2) {
          @include grid-column(1, 4);
          @include grid-row(4, 5);
        }

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(6, 7);
        }
      }
    }

    &_contract {
      &_doc {
        @include grid-column(1, 2);
        @include grid-row(1, 3);

        @include screen('sm', max, 2) {
          @include grid-row(2, 3);
        }
      }

      &_side {
        @include grid-column(3, 4);
        @include grid-row(1, 2);

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(1, 2);
        }
      }
    }

    &_rs {
      margin-top: 0;

      @include screen('sm', max, 2) {
        margin-top: pxtovw(20, 375);
      }

      &_main {
        @include grid-column(1, 3);
        @include grid-row(1, 2);

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-bottom: 38px;

        @include screen('xlg', max, 2) {
          padding-bottom: pxtovw(38, 1660);
        }

        @include screen('lg', max, 2) {
          padding-bottom: pxtovw(38, 1366);
        }

        @include screen('md', max, 2) {
          padding-bottom: pxtovw(21, 960);
        }

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);

          padding-bottom: pxtovw(53, 375);
          border-bottom-left-radius: pxtovw(3, 375);
          border-bottom-right-radius: pxtovw(3, 375);
        }
      }

      &_payments {
        @include grid-column(1, 2);
        @include grid-row(2, 3);

        position: relative;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-right: 44px;

        @include screen('xlg', max, 2) {
          padding-right: pxtovw(34, 1660);
        }

        @include screen('lg', max, 2) {
          padding-right: pxtovw(34, 1366);
        }

        @include screen('md', max, 2) {
          padding-right: pxtovw(22, 960);
        }

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(2, 3);

          border-top-left-radius: pxtovw(3, 375);
          border-top-right-radius: pxtovw(3, 375);
          padding-right: pxtovw(18, 375);
        }
      }

      &_times {
        @include grid-column(2, 3);
        @include grid-row(2, 3);

        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-left: 44px;

        @include screen('xlg', max, 2) {
          padding-left: pxtovw(34, 1660);
        }

        @include screen('lg', max, 2) {
          padding-left: pxtovw(34, 1366);
        }

        @include screen('md', max, 2) {
          padding-left: pxtovw(22, 960);
        }

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(3, 4);

          border-top-left-radius: pxtovw(3, 375);
          border-top-right-radius: pxtovw(3, 375);
          padding-left: pxtovw(18, 375);
        }
      }
    }

    &_view {
      &_title {
        @include grid-column(1, 2);
        @include grid-row(1, 2);

        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @include screen('sm', max, 2) {
          border-top-right-radius: pxtovw(3, 375);
        }
      }

      &_media {
        @include grid-column(1, 2);
        @include grid-row(2, 3);

        margin-top: 0;
        border-radius: 0;
        padding-top: 0;

        @include screen('md', max, 2) {
          padding-bottom: pxtovw(23, 960);
        }

        @include screen('sm', max, 2) {
          @include grid-row(5, 6);

          padding: 0;
          overflow: hidden;
          margin-top: pxtovw(20, 375);
          border-radius: pxtovw(3, 375);
        }
      }

      &_date {
        @include grid-column(2, 3);
        @include grid-row(1, 2);

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @include screen('md', max, 2) {
          @include grid-column(2, 5);
          @include grid-row(1, 3);
        }

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(2, 3);

          border-radius: 0;
          margin-top: 0;
          padding-top: 0;
          padding-bottom: pxtovw(33, 375);
        }
      }

      &_features {
        @include grid-column(1, 3);
        @include grid-row(2, 3);

        margin-top: 0;
        padding-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-bottom: 11px;

        @include screen('xlg', max, 2) {
          padding-bottom: pxtovw(11, 1660);
        }

        @include screen('lg', max, 2) {
          padding-bottom: pxtovw(11, 1366);
        }

        @include screen('md', max, 2) {
          @include grid-column(1, 5);
          @include grid-row(3, 4);

          padding-bottom: pxtovw(14, 960);
        }

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);

          border-radius: 0;
          padding-bottom: pxtovw(11, 375);
        }
      }

      &_map {
        @include grid-column(1, 5);
        @include grid-row(3, 4);

        @include screen('md', max, 2) {
          @include grid-column(1, 3);
          @include grid-row(4, 5);
        }

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);

          margin-top: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      &_chat {
        @include grid-column(4, 5);
        @include grid-row(1, 3);

        @include screen('md', max, 2) {
          @include grid-row(4, 5);
        }

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(6, 7);
        }
      }
    }

    &_acc {
      margin-top: 40px;
      padding-bottom: 35px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(40, 1660);
        padding-bottom: pxtovw(35, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(30, 1366);
        padding-bottom: pxtovw(35, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(30, 960);
        padding-bottom: pxtovw(35, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(20, 375);
        padding-bottom: pxtovw(35, 375);
      }

      &_form {
        @include grid-column(1, 2);
        @include grid-row(1, 4);

        @include screen('sm', max, 2) {
          @include grid-row(1, 2);
        }
      }

      &_avatar {
        @include grid-column(2, 3);
        @include grid-row(1, 2);

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(2, 3);
        }
      }

      &_notes {
        @include grid-column(2, 3);
        @include grid-row(2, 3);

        padding-bottom: 20px;

        @include screen('xlg', max, 2) {
          padding-bottom: pxtovw(20, 1660);
        }

        @include screen('lg', max, 2) {
          padding-bottom: pxtovw(20, 1366);
        }

        @include screen('md', max, 2) {
          padding-bottom: pxtovw(35, 960);
        }

        @include screen('sm', max, 2) {
          @include grid-column(1, 2);
          @include grid-row(3, 4);

          padding-bottom: pxtovw(35, 375);
        }
      }
    }

    .nd-form-panel {
      @include grid-column(1, 4);
      @include grid-row(3, 4);

      @include screen('sm', max, 2) {
        @include grid-column(1, 2);
        @include grid-row(4, 5);
      }
    }
  }

  &_rent {
    @include display-grid;
    @include grid-template-columns(1fr 20px 1fr 20px 1fr);
    @include grid-template-rows(auto auto);

    @include screen('xlg', max, 2) {
      @include grid-template-columns(1fr pxtovw(20, 1660) 1fr pxtovw(20, 1660) 1fr);
    }

    @include screen('lg', max, 2) {
      @include grid-template-columns(1fr pxtovw(20, 1366) 1fr);
      @include grid-template-rows(auto auto auto);
    }

    @include screen('md', max, 2) {
      @include grid-template-columns(1fr pxtovw(20, 960) 1fr);
      @include grid-template-rows(auto auto auto auto);
    }

    @include screen('sm', max, 2) {
      @include grid-template-columns(100%);
      @include grid-template-rows(auto auto auto auto auto);
    }
  }

  &_contract {
    @include display-grid;
    @include grid-template-columns(1fr 50px 368px);
    @include grid-template-rows(auto auto);

    @include screen('xlg', max, 2) {
      @include grid-template-columns(1fr pxtovw(50, 1660) pxtovw(368, 1660));
    }

    @include screen('lg', max, 2) {
      @include grid-template-columns(1fr pxtovw(20, 1366) pxtovw(301, 1366));
    }

    @include screen('md', max, 2) {
      @include grid-template-columns(1fr pxtovw(20, 960) pxtovw(301, 960));
    }

    @include screen('sm', max, 2) {
      @include grid-template-columns(100%);
    }
  }

  &_rs {
    @include display-grid;
    @include grid-template-columns(1fr 1fr);
    @include grid-template-rows(auto auto);

    margin-top: 0;

    @include screen('md', max, 2) {
      margin-top: pxtovw(17, 960);
    }

    @include screen('sm', max, 2) {
      @include grid-template-columns(100%);
      @include grid-template-rows(auto auto auto);

      margin-top: pxtovw(5, 375);
    }
  }

  &_view {
    @include display-grid;
    @include grid-template-columns(auto 1fr 20px 421px);
    @include grid-template-rows(auto auto auto);

    @include screen('xlg', max, 2) {
      @include grid-template-columns(auto 1fr pxtovw(20, 1660) pxtovw(421, 1660));
    }

    @include screen('lg', max, 2) {
      @include grid-template-columns(auto 1fr pxtovw(20, 1366) pxtovw(301, 1366));
    }

    @include screen('md', max, 2) {
      @include grid-template-columns(50% 1fr pxtovw(20, 960) pxtovw(272, 960));
      @include grid-template-rows(auto auto auto auto);

      margin-top: pxtovw(-3, 960);
    }

    @include screen('sm', max, 2) {
      @include grid-template-columns(100%);
      @include grid-template-rows(auto auto auto auto auto auto);

      margin-top: pxtovw(5, 375);
    }
  }

  &_account {
    @include display-grid;
    @include grid-template-columns(1fr 1fr);
    @include grid-template-rows(auto auto auto);
    @include rule(column-gap, (xl: 50px, xlg: 50, lg: 30, md: 20, sm: 0));

    @include screen('xlg', max, 2) {
      @include grid-template-columns(1fr 1fr);
    }

    @include screen('lg', max, 2) {
      @include grid-template-columns(1fr 1fr);
    }

    @include screen('md', max, 2) {
      @include grid-template-columns(1fr 1fr);
    }

    @include screen('sm', max, 2) {
      @include grid-template-columns(100%);
      @include grid-template-rows(auto auto auto);
    }

    &:not(:first-child) {
      margin-top: 10px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(10, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(33, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(6, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(10, 375);
      }
    }
  }
}
