.hint {
  $b: &;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 35px 20px 10px 23px;

  @include screen('md') {
    padding: 25px 20px 10px;
  }

  &_fe {
    padding-bottom: 24px;
  }

  &__content {
    width: 100%;
  }

  .note {
    &__mark {
      margin-bottom: 22px;

      @include screen('sm') {
        margin-bottom: 10px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;

    @include screen('md') {
      display: none;
    }

    #{$b}_fe & {
      align-items: flex-end;
    }
  }

  &__icon {
    width: 14px;
    height: 16px;
    transform: rotate(-90deg);
    fill: $color-hot-desk;

    @include screen('md') {
      transform: rotate(0);
    }

    #{$b}_fe & {
      margin-bottom: 6px;
    }
  }

  &__text {
    @include text16;

    font-weight: 400;
    margin-right: 10px;

    @include screen('sm') {
      @include text12;

      line-height: (26/14);
    }
  }
}
