mixin popups()
  +b.popups&attributes(attributes)
    block

mixin popup(fancybutton)
  +b.popup&attributes(attributes)
    if fancybutton
      +popup-fancy-close
    div.popup__content
      block

mixin popup-free(fancybutton)
  +b.popup&attributes(attributes)
    if fancybutton
      +popup-fancy-close
    block

mixin popup-heading()
  div.popup__heading&attributes(attributes)
    block

mixin popup-header()
  div.popup__header&attributes(attributes)
    block

mixin popup-footer(opened)
  div.popup__footer&attributes(attributes)
    if opened
      div.popup__control.js-show-pfooter
        +icon('select-arrow', true).popup__control-icon
    block

mixin popup-title()
  h3.popup__title&attributes(attributes)
    block

mixin popup-origin(fancybutton)
  +b.popup&attributes(attributes)
    if fancybutton
      +popup-fancy-close
    block

mixin popup-content()
  .popup__content&attributes(attributes)
    block

mixin popup-bottom(img)
  .popup__bottom&attributes(attributes)
    .popup__bg
      img.popup__bg-image(src=img)
    .popup__bottom-content
      block

mixin popup-with-heading(title)
  +b.popup&attributes(attributes)
    +popup-heading
      +popup-title!= title
    div.popup__content
      block

mixin popup-mobile()
  +b.popup_mobile&attributes(attributes)
    block

mixin popup-fancy-close()
  button.fancybox-button.popup__close&attributes(attributes)(title="Close" data-fancybox-close)
    svg.popup__close-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.36 15.36")
      rect(x="-2.43" y="6.94" width="20.23" height="1.49" transform="translate(18.55 7.68) rotate(135)")
      rect(x="-2.43" y="6.94" width="20.23" height="1.49" transform="translate(7.68 -3.18) rotate(45)")

mixin popup-close()
  button.popup__close&attributes(attributes)
    svg.popup__close-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.36 15.36")
      rect(x="-2.43" y="6.94" width="20.23" height="1.49" transform="translate(18.55 7.68) rotate(135)")
      rect(x="-2.43" y="6.94" width="20.23" height="1.49" transform="translate(7.68 -3.18) rotate(45)")

mixin nd-popup()
  +b.nd-popup&attributes(attributes)
    div.nd-popup__container
      div.nd-popup__wrapper
        block

mixin nd-popup-header()
  div.nd-popup__header&attributes(attributes)
    block

mixin nd-popup-close()
  div.nd-popup__close&attributes(attributes)(data-fancybox-close)
    block

mixin nd-popup-close-fancy()
  div.nd-popup__close&attributes(attributes)(data-fancybox-close)
    block

mixin nd-popup-back()
  a.nd-popup__back&attributes(attributes)
    block

mixin nd-popup-title()
  h3.nd-popup__title&attributes(attributes)
    block

mixin nd-popup-footer()
  div.nd-popup__footer&attributes(attributes)
    block

mixin nd-popup-content()
  div.nd-popup__content&attributes(attributes)
    block
