@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox {

  &-bg {
    background-color: rgba($color-overlay, .2);

    &_dark {
      background-color: rgba($color-overlay, .6);
    }
  }

  &-close-small:focus::after {
    outline: none;
  }

  &-enabled {
    overflow: initial;
  }
}

.popup {
  display: block;
  width: 100%;
  max-width: 800px;
  padding: 0;

  &__wrapper {
    display: block;
    max-height: 100%;
  }

  &__content {
    display: block;
    height: auto;
    padding: 30px 69px 62px;
  }
}
