@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
  touch-action: auto;
}

.fancybox {
  &-content {
    background-color: transparent;
  }

  &-bg {
    background-color: rgba($color-overlay, .2);

    &_dark {
      background-color: rgba($color-overlay, .6);
    }
  }

  &-close-small:focus::after {
    outline: none;
  }

  &-enabled {
    overflow: initial;
  }

  &-slide {
    &--html {
      padding: 0;
    }
  }

  &-container_shift {
    @include screen('md') {
      transform: translate3d(100%, 0, 0);
    }

    &.fancybox-is-open {
      @include screen('md') {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &-container_nocenter {
    .fancybox-slide--html {
      padding-top: 6vw;
      padding-bottom: 6vw;
      box-sizing: border-box;
      overflow-y: scroll;

      @include screen('sm') {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .fancybox-content {
      vertical-align: top;
    }
  }
}

.popup {
  $b: &;

  display: flex;
  width: 100%;
  max-width: 788px;
  padding: 0;
  overflow: visible;
  background-color: $color-white;

  &_sm-full {
    @include screen('sm') {
      max-width: none;
    }
  }

  &_big {
    max-width: 930px;
  }

  &__wrapper {
    display: block;
    width: 100%;
  }

  &__content {
    display: block;
    width: 100%;
    padding: 28px 70px 62px;

    @include screen('sm') {
      padding: 28px 20px 30px;
    }
  }

  &__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 28px 70px 24px;
    border-bottom: 1px solid $color-border-light;

    @include screen('sm') {
      padding: 18px 20px;
    }

    &_smpd {
      padding: 28px 60px 24px 70px;

      @include screen('sm') {
        padding: 8px 18px;
      }
    }

    &_sb {
      justify-content: space-between;
    }

    &_sm-col {
      @include screen('sm') {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
      }
    }
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    height: 70px;
    padding: 0 $container-padding;
    background-color: $color-bg;
    z-index: 2;
    flex-wrap: wrap;
    transition: opacity $ease-main;

    @include screen('md') {
      padding: 0 $container-padding-tablet;
    }

    @include screen('sm') {
      height: 50px;
      padding: 0 $container-padding-mobile;
    }

    &_white {
      background-color: $color-white;
    }

    &_border {
      border-bottom: 1px solid $color-border-light;

      &_md {
        border-bottom: none;

        @include screen('md') {
          border-bottom: 1px solid $color-border-light;
        }
      }
    }

    &_fx {
      justify-content: space-between;
      align-items: baseline;
      padding: 28px 70px 24px;
      height: auto;

      #{$b} {

        &__title {
          &:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }

      &_center {
        align-items: center;
        align-content: flex-start;
      }
    }

    #{$b}.is-select-opened & {
      @include screen('sm') {
        opacity: 0;
        pointer-events: none;
      }
    }

    &-icon {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 10px;
      transform-origin: 50% 50%;
      transform: rotate(90deg);
      overflow: hidden;

      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    &-text {
      @include text;

      font-weight: 400;
      line-height: (26 / 14);
    }
  }

  &__links {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 33px;
    }

    .link {
      @include text-big;

      @include screen('sm') {
        @include text12;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: -3px;

    &_mb0 {
      margin-bottom: 0;
    }
  }

  &__arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    fill: $color-yellow;
    width: 93px;
    height: 9px;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    z-index: 2;
    min-height: 50px;

    &_dropdown {
      min-height: 70px;
      bottom: 70px;
      transform: translate3d(0, 100%, 0);
      transition: transform $ease-main;

      @include screen('sm') {
        min-height: 50px;
        bottom: 50px;
      }

      &.is-open {
        transform: translate3d(0, 70px, 0);

        @include screen('sm') {
          transform: translate3d(0, 50px, 0);
        }
      }
    }

    &_border {
      border-top: 1px solid $color-border-lightest;
    }
  }

  &__title {
    @include heading-3;

    font-weight: 700;
    user-select: none;

    @include screen('sm') {
      @include heading-4;
    }

    &:not(:last-child) {
      margin-bottom: 23px;

      @include screen('sm') {
        margin-bottom: 14px;
      }
    }

    &_big {
      @include heading-2;

      line-height: (39 / 40);
      font-weight: 700;

      @include screen('lg') {
        @include heading-1-sm;

        line-height: 1.2;
      }

      @include screen('sm') {
        @include heading-3;

        line-height: 1.2;
      }

      &:not(:last-child) {
        margin-bottom: 45px;

        @include screen('sm') {
          margin-bottom: 22px;
        }
      }
    }

    &_mfz12 {
      @include screen('sm') {
        @include text12;

        line-height: (13 / 12);
      }
    }

    &_mg28 {
      &:not(:last-child) {
        margin-bottom: 28px;

        @include screen('sm') {
          margin-bottom: 14px;
        }
      }
    }

    &_mg48 {
      &:not(:last-child) {
        margin-bottom: 48px;

        @include screen('sm') {
          margin-bottom: 24px;
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    -webkit-appearance: none;
    background-color: transparent;
    color: $color-black;
    outline: none;
    border: none;
    fill: currentColor;
    transition: color $ease-main, opacity $ease-main;
    padding: 10px;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    cursor: pointer;
    z-index: 100000;

    @include screen('sm') {
      top: 4px;
      right: 9px;
      width: 34px;
      height: 34px;
    }

    &:hover {
      color: $color-basic;
    }

    &-icon {
      width: 21px;
      height: 21px;

      @include screen('sm') {
        width: 14px;
        height: 14px;
      }
    }

    #{$b}.is-select-opened & {
      @include screen('sm') {
        opacity: 0;
        pointer-events: none;
      }
    }

    #{$b}_sm-cross & {
      display: none;

      @include screen('sm') {
        display: block;
        right: auto;
        left: 9px;
      }
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-content {
      position: relative;
      box-sizing: border-box;
      display: flex;
      padding: 0 70px;
      width: 100%;
      min-height: 120px;
      z-index: 2;

      @include screen('sm') {
        padding: 0 20px;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color-grey-dark;
    z-index: 1;

    &-image {
      @include fill-img;

      font-size: 0;
      line-height: 0;
      opacity: .16;
    }

    & ~ #{$b}__bottom-content {
      color: $color-white;
    }
  }

  &__scrollblock {
    display: block;
    width: 100%;
  }

  &__inner-content {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 70px $container-padding;
    box-sizing: border-box;

    @include screen('md') {
      padding: 70px $container-padding-tablet 100px;
    }

    @include screen('sm') {
      padding: 50px $container-padding-mobile 80px;
    }

    &_informer {
      padding-top: 100px;

      @include screen('sm') {
        padding-top: 76px;
      }
    }
  }

  &__profile {
    margin-top: -7px;
  }

  &__control {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 8px;
    z-index: 2;

    &-icon {
      position: absolute;
      display: block;
      width: 13px;
      height: 8px;
      transform-origin: 50% 50% 0;
      transform: rotate(180deg);
      fill: $color-white;
      pointer-events: none;
      transition: transform $ease-main;

      #{$b}__footer.is-open & {
        transform: rotate(0);
      }
    }
  }

  &_nobg {
    background-color: transparent;
  }

  &_wide {
    max-width: 1344px;
  }

  &_light {
    #{$b}__close {
      top: 16px;
      right: 8px;
      color: $color-white;

      &:hover {
        color: rgba($color-white, .7);
      }
    }
  }

  &_mobile {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color-bg;
    max-width: none;
    overflow: hidden;

    #{$b} {

      &__content {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        z-index: 1;
      }

      &__header {
        position: absolute;
      }

      &__close {
        top: 13px;
        left: 30px;
        right: auto;

        @include screen('md') {
          left: 26px;
        }

        @include screen('sm') {
          top: 8px;
          left: 9px;
        }
      }
    }
  }

  &_combined {
    position: relative;
    display: block;
    background-color: $color-bg;
    overflow: visible;

    @include screen('md') {
      width: 100%;
      height: 100%;
      overflow: hidden;
      max-width: none;
      // transform: translate3d(100%, 0, 0);
      // opacity: 0;
      // transition: transform .4s ease, opacity .4s ease;
    }

    .fancybox-container_nocenter & {
      @include screen('md') {
        height: calc(100% + 12vw);
        margin-top: -6vw;
      }

      @include screen('sm') {
        height: 100%;
        margin-top: 0;
      }
    }

    // .is-fancybox-animation-show & {
    //   @include screen('md') {
    //     transform: translate3d(0, 0, 0);
    //     opacity: 1;
    //   }
    // }

    #{$b} {
      &__content {
        position: relative;
        display: flex;
        padding: 0;
        z-index: 1;

        @include screen('md') {
          height: 100%;
          max-height: none;
        }
      }

      &__scrollblock {
        @include screen('md') {
          height: 100%;
        }
      }

      &__inner-content {
        padding: 90px 0 70px;
        box-sizing: border-box;

        @include screen('md') {
          padding: 70px 0 100px;
        }

        @include screen('sm') {
          padding: 50px 0 80px;
        }
      }

      &__header {
        position: absolute;
        justify-content: flex-start;
        padding: 30px 70px 27px;
        height: auto;

        @include screen('md') {
          justify-content: flex-end;
          height: 70px;
          padding: 0 70px;
        }

        @include screen('sm') {
          height: 50px;
          padding: 0 $container-padding-mobile;
        }
      }

      &__close {
        top: 13px;
        right: 13px;
        width: 40px;
        height: 40px;

        @include screen('md') {
          right: auto;
          left: 16px;
        }

        @include screen('sm') {
          top: 8px;
          left: 9px;
        }
      }
    }
  }

  &_white {
    background-color: $color-white;
  }
}
