mixin popups()
  +b.popups&attributes(attributes)
    block

mixin popup()
  +b.popup&attributes(attributes)
    div.popup__content
      block

mixin popup-free()
  +b.popup&attributes(attributes)
    block

mixin popup-heading()
  div.popup__heading&attributes(attributes)
    block

mixin popup-header()
  div.popup__header&attributes(attributes)
    block

mixin popup-footer(opened)
  div.popup__footer&attributes(attributes)
    if opened
      div.popup__control.js-show-pfooter
        +icon('select-arrow', true).popup__control-icon
    block

mixin popup-title()
  h3.popup__title&attributes(attributes)
    block

mixin popup-origin()
  +b.popup&attributes(attributes)
    block

mixin popup-content()
  .popup__content&attributes(attributes)
    block

mixin popup-bottom(img)
  .popup__bottom&attributes(attributes)
    .popup__bg
      img.popup__bg-image(src=img)
    .popup__bottom-content
      block

mixin popup-with-heading(title)
  +b.popup&attributes(attributes)
    +popup-heading
      +popup-title!= title
    div.popup__content
      block

mixin popup-mobile()
  +b.popup_mobile&attributes(attributes)
    block
