mixin popups()
  +b.popups&attributes(attributes)
    block

mixin popup()
  +b.popup&attributes(attributes)
    div.popup__wrapper.js-scrollbar-light
      div.popup__content
        block

mixin popup-title()
  h3.popup__title&attributes(attributes)
    block
