.tags-map {
  $b: &;

  display: block;
  width: 100%;

  &:not(:first-child) {
    margin-top: 49px;

    @include screen('lg', max, 2) {
      margin-top: pxtovw(49, 1366);
    }

    @include screen('md', max, 2) {
      margin-top: pxtovw(49, 960);
    }
  }

  .nd-container {
    display: flex;
    justify-content: space-between;
  }

  &__board {
    display: block;
    background-color: $nd-color-basic-light;
    width: 370px;
    flex: none;
    border-radius: 3px;

    @include screen('xl', max, 2) {
      width: 320px;
    }

    @include screen('lg', max, 2) {
      width: pxtovw(320, 1366);
      border-radius: pxtovw(3, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(320, 960);
      border-radius: pxtovw(3, 960);
    }

    &:not(:last-child) {
      margin-right: 50px;

      @include screen('xl', max, 2) {
        margin-right: 20px;
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(48, 960);
      }
    }
  }

  &__map {
    display: block;
    flex: 1;
    min-height: 469px;
    background-color: $nd-color-gray-text7;
    border-radius: 3px;

    @include screen('lg', max, 2) {
      min-height: pxtovw(469, 1366);
      border-radius: pxtovw(3, 1366);
    }

    @include screen('md', max, 2) {
      min-height: pxtovw(469, 960);
      border-radius: pxtovw(3, 960);
    }
  }
}
