.tags-map {
  $b: &;

  display: block;
  width: 100%;
  margin-bottom: 94px;

  @include screen('xl', max, 2) {
    margin-bottom: 114px;
  }

  @include screen('lg', max, 2) {
    margin-bottom: pxtovw(80, 1366);
  }

  @include screen('md', max, 2) {
    margin-bottom: pxtovw(70, 960);
  }

  @include screen('sm', max, 2) {
    margin-bottom: pxtovw(70, 375);
  }

  &:not(:first-child) {
    margin-top: 49px;

    @include screen('lg', max, 2) {
      margin-top: pxtovw(49, 1366);
    }

    @include screen('md', max, 2) {
      margin-top: pxtovw(49, 960);
    }
  }

  .nd-container {
    display: flex;
    justify-content: space-between;
  }

  &__board {
    display: block;
    background-color: $nd-color-basic-light;
    width: 370px;
    flex: none;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 34px 38px 42px;

    @include screen('xl', max, 2) {
      padding: 30px 36px 42px;
      width: 320px;
    }

    @include screen('lg', max, 2) {
      width: pxtovw(320, 1366);
      border-radius: pxtovw(3, 1366);
      padding: pxtovw(30, 1366) pxtovw(36, 1366) pxtovw(42, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(320, 960);
      border-radius: pxtovw(3, 960);
      padding: pxtovw(30, 960) pxtovw(36, 960) pxtovw(42, 960);
    }

    &:not(:last-child) {
      margin-right: 50px;

      @include screen('xl', max, 2) {
        margin-right: 20px;
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(48, 960);
      }
    }
  }

  &__tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 20px -5px 0;
    width: calc(100% + 10px);

    @include screen('lg', max, 2) {
      margin: pxtovw(22, 1366) pxtovw(-5, 1366) 0;
      width: calc(100% + (1000 / 1366));
    }

    @include screen('md', max, 2) {
      margin: pxtovw(22, 960) pxtovw(-5, 960) 0;
      width: calc(100% + (1000 / 375));
    }

    @include screen('sm', max, 2) {
      margin: pxtovw(22, 375) pxtovw(-5, 375) 0;
      width: calc(100% + (1000 / 375));
    }
  }

  &__title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: $nd-color-basic;
    font-size: 16px;
    line-height: (19 / 16);

    @include screen('lg', max, 2) {
      font-size: pxtovw(16, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(16, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(16, 375);
    }
  }

  &__button {
    flex: 1;
    margin: 14px 5px 0;
    font-weight: 400;
    border-color: $nd-color-border3;
    white-space: nowrap;
    height: 34px;

    @include screen('lg', max, 2) {
      height: pxtovw(34, 1366);
      margin: pxtovw(14, 1366) pxtovw(5, 1366) 0;
    }

    @include screen('md', max, 2) {
      height: pxtovw(34, 960);
      margin: pxtovw(14, 960) pxtovw(5, 960) 0;
    }

    @include screen('sm', max, 2) {
      height: pxtovw(34, 375);
      margin: pxtovw(14, 375) pxtovw(5, 375) 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:not(:first-child) {
      margin-top: 48px;

      @include screen('lg', max, 2) {
        margin-top: pxtovw(48, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(48, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(48, 375);
      }
    }
  }

  &__link {
    font-size: 18px;
    line-height: (22 / 18);
    font-weight: 700;
    color: $nd-color-basic;

    @include screen('lg', max, 2) {
      font-size: pxtovw(18, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(18, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(18, 375);
    }
  }

  &__map {
    display: block;
    flex: 1;
    min-height: 469px;
    background-color: $nd-color-gray-text7;
    border-radius: 3px;

    @include screen('lg', max, 2) {
      min-height: pxtovw(469, 1366);
      border-radius: pxtovw(3, 1366);
    }

    @include screen('md', max, 2) {
      min-height: pxtovw(469, 960);
      border-radius: pxtovw(3, 960);
    }
  }
}
