mixin tags-map()
  +b.tags-map&attributes(attributes)
    .nd-container
      +e.board
        +e.title Popular one
        +e.FORM.tags(data-nd-location-tags data-nd-location-tags-max="3")
          each item in getData('nd-map-locations.json')
            +check-button(item.options)._hov-blue._pad10._h34._lg-fz13.__button!=item.name
        +e.buttons
          +nd-link-icon('nd-burger')._underline.__link Show all locations
      +e.map#tagsMap
      block
