@keyframes cursor {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }
}

@keyframes pulseShift {
  0% {
    box-shadow: 0 0 2px 0 rgba(#fff, 1);
  }

  25% {
    box-shadow: 0 0 2px 4px rgba(#fff, .75);
  }

  50% {
    box-shadow: 0 0 2px 8px rgba(#fff, .5);
  }

  100% {
    box-shadow: 0 0 2px 12px rgba(#fff, 0);
  }
}

@keyframes cssload-spin {
  0% {
    box-shadow: 10px 10px rgb(41, 247, 134), -10px 10px rgb(223, 223, 223), -10px -10px rgb(41, 247, 134), 10px -10px rgb(223, 223, 223);
    transform: rotate(0deg);
  }

  25% {
    box-shadow: -10px 10px rgb(223, 223, 223), -10px -10px rgb(29, 212, 240), 10px -10px rgb(223, 223, 223), 10px 10px rgb(29, 212, 240);
    transform: rotate(90deg);
  }

  50% {
    box-shadow: -10px -10px rgb(235, 69, 51), 10px -10px rgb(223, 223, 223), 10px 10px rgb(235, 69, 51), -10px 10px rgb(223, 223, 223);
    transform: rotate(180deg);
  }

  75% {
    box-shadow: 10px -10px #dfdfdf, 10px 10px #ff9600, -10px 10px #dfdfdf, -10px -10px #ff9600;
    transform: rotate(270deg);
  }

  100% {
    box-shadow: 10px 10px rgb(41, 247, 134), -10px 10px rgb(223, 223, 223), -10px -10px rgb(41, 247, 134), 10px -10px rgb(223, 223, 223);
    transform: rotate(360deg);
  }
}

@keyframes cssload-spin8 {
  0% {
    box-shadow: 8px 8px rgb(41, 247, 134), -8px 8px rgb(223, 223, 223), -8px -8px rgb(41, 247, 134), 8px -8px rgb(223, 223, 223);
    transform: rotate(0deg);
  }

  25% {
    box-shadow: -8px 8px rgb(223, 223, 223), -8px -8px rgb(29, 212, 240), 8px -8px rgb(223, 223, 223), 8px 8px rgb(29, 212, 240);
    transform: rotate(90deg);
  }

  50% {
    box-shadow: -8px -8px rgb(235, 69, 51), 8px -8px rgb(223, 223, 223), 8px 8px rgb(235, 69, 51), -8px 8px rgb(223, 223, 223);
    transform: rotate(180deg);
  }

  75% {
    box-shadow: 8px -8px #dfdfdf, 8px 8px #ff9600, -8px 8px #dfdfdf, -8px -8px #ff9600;
    transform: rotate(270deg);
  }

  100% {
    box-shadow: 8px 8px rgb(41, 247, 134), -8px 8px rgb(223, 223, 223), -8px -8px rgb(41, 247, 134), 8px -8px rgb(223, 223, 223);
    transform: rotate(360deg);
  }
}

@keyframes css-accordion {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 2000px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Animations for maps
@keyframes map-hor-animation {
  0% {
    width: 41.51vw;
  }

  100% {
    width: 100vw;
  }
}

@keyframes map-hor-animation-lg {
  0% {
    width: 47.07vw;
  }

  100% {
    width: 100vw;
  }
}

@keyframes map-hor-animation-reverse {
  0% {
    width: 100vw;
  }

  100% {
    width: 41.51vw;
  }
}

@keyframes map-hor-animation-lg-reverse {
  0% {
    width: 100vw;
  }

  100% {
    width: 47.07vw;
  }
}

@keyframes map-vert-animation-md {
  0% {
    height: pxtovw(257, 960);
  }

  100% {
    height: calc(100vh - (10600 / 960) * 1vw);
  }
}

@keyframes map-vert-animation-sm {
  0% {
    height: pxtovw(208, 375);
  }

  100% {
    height: calc(100vh - (6000 / 960) * 1vw);
  }
}

@keyframes map-vert-animation-md-reverse {
  0% {
    height: calc(100vh - (10600 / 960) * 1vw);
  }

  100% {
    height: pxtovw(257, 960);
  }
}

@keyframes map-vert-animation-sm-reverse {
  0% {
    height: calc(100vh - (6000 / 960) * 1vw);
  }

  100% {
    height: pxtovw(208, 375);
  }
}


@keyframes map-gg-vert-animation-md {
  0% {
    height: pxtovw(257, 960);
  }

  100% {
    height: calc(100% - (6600 / 960) * 1vw);
  }
}

@keyframes map-gg-vert-animation-sm-reverse {
  0% {
    height: calc(100% - (6000 / 960) * 1vw);
  }

  100% {
    height: pxtovw(208, 375);
  }
}

@keyframes map-gg-vert-animation-md-reverse {
  0% {
    height: calc(100% - (6600 / 960) * 1vw);
  }

  100% {
    height: pxtovw(257, 960);
  }
}

@keyframes map-gg-vert-animation-sm {
  0% {
    height: pxtovw(208, 375);
  }

  100% {
    height: calc(100% - (6000 / 960) * 1vw);
  }
}

@keyframes slideIn {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
}
