@mixin link {
  color: $color-basic;
  border: 0;
  transition: fill $ease-main, color $ease-main, opacity $ease-main, border-color $ease-main;
  fill: $color-basic;

  &__text {
    border-bottom: 1px solid $color-bc-light;
  }

  &:hover { 
    color: $color-basic-dark;
    
    &__text {
      border-bottom: 1px solid $color-basic-dark;
    }
   }
}

@mixin link-disabled {
  color: $color-border;
  border-color: transparent;
}

@mixin link-dashed {
  border-bottom-style: dashed;
}
