@mixin link {
  color: $color-basic;
  transition: fill $ease-main, color $ease-main, opacity $ease-main, border-color $ease-main;
  fill: currentColor;

  &:hover {
    color: $color-basic-dark;
  }
}

@mixin link-bordered {
  &:hover {
    color: $color-bc-dark;
  }
}

@mixin link-disabled {
  color: $color-bc-light;

  &__text {
    border-color: transparent;
  }
}
