@mixin list {

  ul,
  ol {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  li {
    padding-left: 16px;
    position: relative;
  }
}

@mixin ullist {

  li::before {
    @include pseudo;

    left: 0;
    top: 14px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: currentColor;
  }
}

@mixin ollist {
  counter-reset: list1;

  li {

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      counter-increment: list1;
      content: counter(list1) '.';
    }
  }
}
