@mixin list {

  ul,
  ol {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  li {
    padding-left: 16px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 8px;

      @include screen('sm') {
        margin-bottom: 16px;
      }
    }
  }
}

@mixin ullist {

  li::before {
    @include pseudo;

    left: 0;
    top: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: currentColor;

    @include screen('sm') {
      top: 6px;
    }
  }
}

@mixin ollist {
  counter-reset: list1;

  li {

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      counter-increment: list1;
      content: counter(list1) '.';
    }
  }
}
