// Текстовые стили, используемые на сайте

@mixin heading-1 {
  font-size: 56px;
  line-height: (57 / 56);
  letter-spacing: -.02em;
}

@mixin heading-1-lg {
  font-size: 50px;
  line-height: (48 / 50);
  letter-spacing: -.02em;
}

@mixin heading-1-sm {
  font-size: 30px;
  line-height: .94;
  letter-spacing: -.02em;
}

@mixin heading-2 {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -.02em;
}

@mixin heading-3 {
  font-size: 25px;
  line-height: (33 / 25);
  letter-spacing: -.02em;
}

@mixin heading-4 {
  font-size: 20px;
  line-height: (26 / 20);
  letter-spacing: -.02em;
}

@mixin heading-5 {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -.02em;
}

@mixin heading-6 {
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: -.02em;
}

@mixin text35 {
  font-size: 35px;
  line-height: 1;
  letter-spacing: -.02em;
}

@mixin text28 {
  font-size: 28px;
  line-height: 1;
  letter-spacing: -.02em;
}

@mixin text24 {
  font-size: 24px;
  line-height: (26 / 24);
  letter-spacing: -.02em;
}

@mixin text22 {
  font-size: 22px;
  line-height: (26 / 22);
  letter-spacing: -.02em;
}

@mixin text-big {
  font-size: 18px;
  line-height: (26 / 18);
  letter-spacing: -.02em;
}

@mixin text-mid {
  font-size: 17px;
  line-height: (26 / 17);
  letter-spacing: -.02em;
}

@mixin text16 {
  font-size: 16px;
  line-height: (26 / 16);
  letter-spacing: -.02em;
}

@mixin text15 {
  font-size: 15px;
  line-height: (26 / 15);
  letter-spacing: -.02em;
}

@mixin text {
  font-size: 14px;
  line-height: (20 / 16);
  letter-spacing: -.02em;
}

@mixin text13 {
  font-size: 13px;
  line-height: (26 / 13);
  letter-spacing: -.02em;
}

@mixin text12 {
  font-size: 12px;
  line-height: (26 / 12);
  letter-spacing: -.02em;
}

@mixin text-small {
  font-size: 11px;
  line-height: 1.65;
  letter-spacing: -.02em;
}

@mixin text10 {
  font-size: 10px;
  line-height: (26 / 10);
  letter-spacing: -.02em;
}

@mixin text9 {
  font-size: 9px;
  line-height: (26 / 9);
  letter-spacing: -.02em;
}

@mixin text8 {
  font-size: 8px;
  line-height: (26 / 8);
  letter-spacing: -.02em;
}

@mixin ls {
  letter-spacing: -.02em;
}

@mixin ls-plus {
  letter-spacing: .02em;
}
