// Текстовые стили, используемые на сайте

@mixin heading-1 {
  font-size: 56px;
  letter-spacing: -1.12px;
  line-height: 57px;
}

@mixin heading-2 {
  font-size: 40px;
  line-height: 1.4;
}

@mixin heading-3 {
  font-size: 30px;
  line-height: 1.45;
}

@mixin heading-4 {
  font-size: 20px;
  line-height: 1.5;
}

@mixin heading-5 {
  font-size: 18px;
  line-height: 1.5;
}

@mixin heading-6 {
  font-size: 16px;
  line-height: 1.6;
}

@mixin text-big {
  font-size: 18px;
  line-height: (26/18);
}

@mixin text-mid {
  font-size: 17px;
  line-height: (26/17);
}

@mixin text {
  font-size: 14px;
  line-height: 1.65;
}

@mixin text-small {
  font-size: 11px;
  line-height: 1.65;
}

@mixin ls {
  letter-spacing: -0.02em;
}
