// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1700px; // Максимальная ширина контейнера контента
$container-padding: 40px; // Отступы слева и справа у контейнера
$container-padding-tablet: 36px; // Отступы слева и справа у контейнера
$container-padding-mobile: 20px; // Отступы слева и справа у контейнера
$content-container-width: 1184px; // Максимальная ширина внутреннего контейнера
$content-container-padding: 60px;
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 15px; // Расстояние между колонками
$grid-gap-vertical: 13px; // Расстояние между строками в сетке
$grid-gap-big: 50px;
$grid-gap-vertical-big: 60px;
$grid-col-width: $grid-container-width / $grid-cols; // Ширина одной колонки
$breakpoints: ('xl': 1600px, 'lg': 1300px, 'bg': 1160px, 'md': 1020px, 'sm': 768px, 'xs': 480px);
$color-warning: #d56c4f;

// ##########
// Цвета
// ##########
$color-basic: #525a65; // Основной цвет текста (применяется к body)
$color-basic-light: #86919e;
$color-basic-dark: #121615;
$color-form-light: #858c99;
$color-arrow: #a0a7ab;
$color-bg: #f2f6f6; // цвет фона
$color-grey-dark: #151b25;
$color-placeholder: #858c99; // Основной цвет для placeholder
$color-input: black; // Основной цвет input, select и textarea
$color-main: #46c2a9; // Основной фирменный цвет
$color-border: #5a5c5c; // Основной цвет границ таблиц, секций
$color-text-green: #2ee0c9;
$color-gradient-one: #0caecc;
$color-gradient-two: #30e3c9;
$color-yellow: #ff9600;
$color-red: #eb4433;
$color-red-2: #e63a18;
$color-blue: #1dd5f0;
$color-green: #29f785;
$color-white: #fff;
$color-bc-light: #acb5c0;
$color-bc-dark: #303333;
$color-form-border: #c0c6cf;
$color-border-light: #dbe1e3;
$color-text-light: #a5b0bd;
$color-link-border: #c1c5c5;
$color-link-gray: #6d737d;
$color-black: #000;
$color-overlay: #11151a;
$color-header-logo: #415a65;
$color-scroll-light: #dbe2eb;
$color-scroll-dark: #272825;
$color-shadow: #222a2e;
$color-hot-desk: $color-yellow;
$color-dedicated-desk: $color-red;
$color-meeting-room: $color-blue;
$color-office-space: $color-green;
$color-heart: #e8502d;
$color-gray-darkest: #1d2120;
$color-select-bg: #1c2026;
$color-select-bg-light: #fbfbfb;
$color-inner-border: #707272;
$color-selected-dark: #131716;
$color-form-border-dark: #232931;
$color-form-border-light: #ecedee;
$color-gray-light: #d1d2d3;
$color-form-border-gray: #373e47;
$color-accent: #48a4b5;
$color-bus: #c64444;
$color-plane: #60a2d0;
$color-accordion-button: #343d4a;
$color-available: #20cbca;
$color-note: #c3cad3;
$color-border-lighter: #e5e6e7;
$color-active-menu: #81858c;
$color-scroll-light-gray: #dfe4eb;
$color-tip: #5a626d;
$color-switcher-bg1: #e5e9e9;
$color-switcher-border: #d3d8d8;
$color-switcher-border-active: #3e454f;
$color-basic-gray: #b0b7c1;
$color-offer-disable: #798394;
$color-hint-bg: #151b25;
$color-gray-lighter: #959fad;
$color-status-bg: #a7afb8;
$color-offer-empty-text: #848d99;
$color-border-dark: #919494;
$color-news-bg: #252b34;
$color-news-hover-title: #181f28;
$color-news-hover-text: #0a0d11;
$color-pagination-disabled: #ccd2d9;
$color-radio-dark-hover: #2c3542;
$color-fb: #4a6790;
$color-chat-placeholder: #c3c8cf;
$color-timestamp: #babfc6;
$color-status-wait: #dfa831;
$color-status-wait-dark: #b8864a;
$color-status-accept: #44b59c;
$color-status-accept-dark: #437c6f;
$color-status-decline: #e4695c;
$color-status-decline-dark: #5e2e2e;
$color-gradient-red1: #ba4d42;
$color-gradient-red2: #e66a5e;
$color-factor: #c0c5ca;
$color-footnote-star: #1fcaca;
$color-note-green: #0acda7;
$color-mask-bg1: rgba(#172640, .41);
$color-mask-bg2: rgba(#233435, .39);
$color-error: #d67354;
$color-button-cookie: #141a23;
$color-calendar-days: #b6bcc4;
$color-calendar-active-day: #252b33;
$color-calendar-disabled-arrow: #b4bac2;
$color-icon-gray-another: #333;
$color-icon-gray-onemore: #afb8c5;
$color-landing-subtitles: #31e1c9;
$color-slider-dot: #58e4cf;
$color-landing-mask: rgba(10, 33, 32, .35);
$color-header-menu-active: #8d99a7;
$color-status-bar: #7fd3a4;
$color-facility-active: #afb6bf;
$color-selection-text: #2b3036;
$color-yellow-mask: #e09a12;
$color-text-pale: #abb6c4;
$color-border-lightest: #ebeef0;
$color-facility-hover: #6d7580;
$color-main-photo: #2bdcc9;
$color-underline-white-dark-bg: #7c7f85;
$color-text-gray: #989fa8;
$color-text-gray2: #cbd1d8;
$color-text-gray3: #707a86;
$color-title-dark: #2d333b;
$color-range-track: #ececec;
$color-range-handler-active: #434b57;
$color-hide-button-border: #e1e8ea;
$color-button-radio-border: #c5c9ca;
$color-disabled-tabs: #d6dce2;
$color-gray-light-2: #e6eaf0;
$color-border-gray: #444c59;
$color-border-st-button: #656b77;
$color-scrollbar-bg: #f4f4f4;
$color-yellow-light: #fff7c8;
$color-inver-text-bg: #1b262d;
$color-peach: #d67659;
$color-confirm: #249d79;
$color-green-check: #75cda5;
$color-state-light: #87919d;
$color-toolbar: #2b323c;
$color-chat-message: #f04734;
$color-profile-post: #86909c;
$color-profile-name: #535965;
$color-border-state: #3d4552;
$color-tooltip: #5bb2d6;
$color-form-arrow: #a1abb8;
$color-viewing: #cfb067;
$color-user-link-active: #9ea7b3;
$color-notice-bg: #ecf5f7;
$color-notice-bg-hover: #d9e8eb;
$color-form-toggle-title: #1f242a;
$color-step-active: #2a3037;

// ##########
// Transitions
// ##########
$ease-main: .3s ease;
$ease-main-short: .15s ease;

// ##########
// Шрифты
// ##########
$font-main: 'ProximaNova', 'Arial', sans-serif; // Основной шрифт сайта
