// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1700px; // Максимальная ширина контейнера контента
$container-padding: 40px; // Отступы слева и справа у контейнера
$container-padding-tablet: 36px; // Отступы слева и справа у контейнера
$container-padding-mobile: 20px; // Отступы слева и справа у контейнера
$content-container-width: 1184px; // Максимальная ширина внутреннего контейнера
$content-container-padding: 60px;
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 15px; // Расстояние между колонками
$grid-gap-vertical: 13px; // Расстояние между строками в сетке
$grid-gap-big: 50px;
$grid-gap-vertical-big: 60px;
$grid-col-width: $grid-container-width / $grid-cols; // Ширина одной колонки
$grid14-col-width: $grid-container-width / 14; // Ширина одной колонки в 14 колоночной сетке
$grid9-col-width: $grid-container-width / 9; // Ширина одной колонки в 9  колоночной сетке
$breakpoints: ('xl': 1600px, 'lg': 1300px, 'bg': 1160px, 'md': 1020px, 'sm': 768px, 'xs': 480px);
$color-warning: #000;
$nd-breakpoints: ('xl': 1850px, 'xlg': 1660px, 'lg': 1400px, 'bg': 1160px, 'md': 1030px, 'sm': 768px, 'xs': 480px);

// ##########
// Цвета
// ##########
$color-basic: #525a65; // Основной цвет текста (применяется к body)
$color-basic-light: #86919e;
$color-basic-dark: #121615;
$color-form-light: #858c99;
$color-arrow: #a0a7ab;
$color-bg: #f2f6f6; // цвет фона
$color-grey-dark: #151b25;
$color-placeholder: #858c99; // Основной цвет для placeholder
$color-input: black; // Основной цвет input, select и textarea
$color-main: #46c2a9; // Основной фирменный цвет
$color-border: #5a5c5c; // Основной цвет границ таблиц, секций
$color-text-green: #2ee0c9;
$color-gradient-one: #0caecc;
$color-gradient-two: #30e3c9;
$color-yellow: #ff9600;
$color-red: #eb4433;
$color-red-2: #e63a18;
$color-blue: #1dd5f0;
$color-green: #29f785;
$color-white: #fff;
$color-bc-light: #acb5c0;
$color-bc-dark: #303333;
$color-form-border: #c0c6cf;
$color-border-light: #dbe1e3;
$color-text-light: #a5b0bd;
$color-link-border: #c1c5c5;
$color-link-gray: #6d737d;
$color-black: #000;
$color-overlay: #11151a;
$color-header-logo: #415a65;
$color-scroll-light: #dbe2eb;
$color-scroll-dark: #272825;
$color-shadow: #222a2e;
$color-hot-desk: $color-yellow;
$color-dedicated-desk: $color-red;
$color-meeting-room: $color-blue;
$color-office-space: $color-green;
$color-heart: #e8502d;
$color-gray-darkest: #1d2120;
$color-select-bg: #1c2026;
$color-select-bg-light: #fbfbfb;
$color-inner-border: #707272;
$color-selected-dark: #131716;
$color-form-border-dark: #232931;
$color-form-border-light: #ecedee;
$color-gray-light: #d1d2d3;
$color-form-border-gray: #373e47;
$color-accent: #48a4b5;
$color-bus: #c64444;
$color-plane: #60a2d0;
$color-accordion-button: #343d4a;
$color-available: #20cbca;
$color-note: #c3cad3;
$color-border-lighter: #e5e6e7;
$color-active-menu: #81858c;
$color-scroll-light-gray: #dfe4eb;
$color-tip: #5a626d;
$color-switcher-bg1: #e5e9e9;
$color-switcher-border: #d3d8d8;
$color-switcher-border-active: #3e454f;
$color-basic-gray: #b0b7c1;
$color-offer-disable: #798394;
$color-hint-bg: #151b25;
$color-gray-lighter: #959fad;
$color-status-bg: #a7afb8;
$color-offer-empty-text: #848d99;
$color-border-dark: #919494;
$color-news-bg: #252b34;
$color-news-hover-title: #181f28;
$color-news-hover-text: #0a0d11;
$color-pagination-disabled: #ccd2d9;
$color-radio-dark-hover: #2c3542;
$color-fb: #4a6790;
$color-chat-placeholder: #c3c8cf;
$color-timestamp: #babfc6;
$color-status-wait: #dfa831;
$color-status-wait-dark: #b8864a;
$color-status-accept: #44b59c;
$color-status-accept-dark: #437c6f;
$color-status-decline: #e4695c;
$color-status-decline-dark: #5e2e2e;
$color-gradient-red1: #ba4d42;
$color-gradient-red2: #e66a5e;
$color-factor: #c0c5ca;
$color-footnote-star: #1fcaca;
$color-note-green: #0acda7;
$color-mask-bg1: rgba(#172640, .41);
$color-mask-bg2: rgba(#233435, .39);
$color-error: #d67354;
$color-button-cookie: #141a23;
$color-calendar-days: #b6bcc4;
$color-calendar-active-day: #252b33;
$color-calendar-disabled-arrow: #b4bac2;
$color-icon-gray-another: #333;
$color-icon-gray-onemore: #afb8c5;
$color-landing-subtitles: #31e1c9;
$color-slider-dot: #58e4cf;
$color-landing-mask: rgba(10, 33, 32, .35);
$color-header-menu-active: #8d99a7;
$color-status-bar: #7fd3a4;
$color-facility-active: #afb6bf;
$color-selection-text: #2b3036;
$color-yellow-mask: #e09a12;
$color-text-pale: #abb6c4;
$color-border-lightest: #ebeef0;
$color-facility-hover: #6d7580;
$color-main-photo: #2bdcc9;
$color-underline-white-dark-bg: #7c7f85;
$color-text-gray: #989fa8;
$color-text-gray2: #cbd1d8;
$color-text-gray3: #707a86;
$color-text-gray4: #c2c6cc;
$color-title-dark: #2d333b;
$color-range-track: #ececec;
$color-range-handler-active: #434b57;
$color-hide-button-border: #e1e8ea;
$color-button-radio-border: #c5c9ca;
$color-disabled-tabs: #d6dce2;
$color-gray-light-2: #e6eaf0;
$color-border-gray: #444c59;
$color-border-st-button: #656b77;
$color-scrollbar-bg: #f4f4f4;
$color-yellow-light: #fff7c8;
$color-inver-text-bg: #1b262d;
$color-peach: #d67659;
$color-confirm: #249d79;
$color-green-check: #75cda5;
$color-state-light: #87919d;
$color-green-dark: #259d79;
$color-toolbar: #2b323c;
$color-chat-message: #f04734;
$color-profile-post: #86909c;
$color-profile-name: #535965;
$color-border-state: #3d4552;
$color-tooltip: #5bb2d6;
$color-form-arrow: #a1abb8;
$color-viewing: #cfb067;
$color-user-link-active: #9ea7b3;
$color-notice-bg: #ecf5f3;
$color-notice-bg-hover: #d9e8eb;
$color-form-toggle-title: #1f242a;
$color-step-active: #54585c;
$color-tab-disabled: #a1a5ab;
$color-compose-text: #a6aab3;
$color-star-gray: #bcc6ca;
$color-table-dark: #181c22;
$color-oi-dark: #575f6a;
$color-input-dark: #313339;
$color-new-disabled: #b4bbc6;
$color-new-input: #515964;
$color-gray-lightest: #adbabd;
$color-check-green-2: hsl(176, 68%, 53%);

$nd-color-basic: $color-black;
$nd-color-basic-light: $color-white;
$nd-color-main: #0085ff;
$nd-color-bg: $color-bg;
$nd-color-blue-text: #1790ff;
$nd-color-footer-bg: #222327;
$nd-color-field-border: #c8ccd0;
$nd-color-field-border-hover: #666;
$nd-color-placeholder: #5c5c5c;
$nd-color-gray-text: #86919e;
$nd-color-gray-text2: #454545;
$nd-color-logo: #231f20;
$nd-color-gray-text3: #525965;
$nd-color-hotdesk: #fd9603;
$nd-color-fixeddesk: #ec4234;
$nd-color-meetingroom: #1ad5ef;
$nd-color-privateoffice: #2af787;
$nd-color-daypass: #006cea;
$nd-color-gray-text4: #525a65;
$nd-color-gray-text5: #787878;
$nd-color-border-light: #afb4b5;
$nd-color-gray-text6: $nd-color-gray-text;
$nd-color-gray-text7: #c1c1c1;
$nd-color-input-border: $nd-color-gray-text;
$nd-color-input-focus-border: $nd-color-basic;
$nd-color-input-error-border: #cc3838;
$nd-color-border: #eaeaea;
$nd-color-border2: #a3acba;
$nd-color-border3: #d4dfe2;
$nd-color-input-placeholder: #5c5c5c; //#4e4e4e;
$nd-color-border4: #d8ddde;  //#d8ddde #d1d8da
$nd-color-gray: #c6c6c6;
$nd-color-gray2: #c4c4c4;
$nd-color-gray-text8: #515151;
$nd-color-border5: #bfc3c5;
$nd-color-blue: #1173ce;
$nd-color-table-border: #e9eced;
$nd-color-messenger-bg: #e8ebec;
$nd-button-hover-color: #0094ff;

// ##########
// Transitions
// ##########
$ease-main: .3s ease;
$ease-main-2s: .2s ease;
$ease-main-short: .15s ease;

// ##########
// Шрифты
// ##########
$font-main: 'ProximaNova', 'Arial', sans-serif; // Основной шрифт сайта
$font-stolzl: 'Stolzl', 'ProximaNova', 'Arial', sans-serif;
$font-stolzl-book: 'StolzlBook', 'Stolzl', 'ProximaNova', 'Arial', sans-serif;

// #########
// Бэкграундовые иконки
// #########

$icon-input-calendar: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.88 1.8C14.18 1.8 14.44 1.9 14.66 2.12C14.9 2.34 15 2.6 15 2.9V13.88C15 14.18 14.88 14.44 14.66 14.66C14.44 14.9 14.18 15 13.88 15H1.12C0.82 15 0.56 14.88 0.34 14.66C0.12 14.44 0 14.18 0 13.88V2.9C0 2.6 0.12 2.34 0.34 2.12C0.56 1.9 0.82 1.8 1.12 1.8H1.5V1.66C1.5 1.46 1.54 1.26 1.6 1.06C1.66 0.86 1.76 0.68 1.92 0.52C2.06 0.36 2.26 0.24 2.48 0.14C2.7 0.06 3 0 3.34 0C3.66 0 3.96 0.06 4.2 0.14C4.44 0.24 4.62 0.36 4.76 0.52C4.9 0.68 5 0.86 5.08 1.06C5.14 1.26 5.18 1.46 5.18 1.66V1.8H5.64V1.66C5.64 1.46 5.68 1.26 5.74 1.06C5.8 0.86 5.9 0.68 6.06 0.52C6.2 0.38 6.38 0.26 6.62 0.14C6.86 0.06 7.14 0 7.48 0C7.82 0 8.1 0.06 8.34 0.14C8.58 0.24 8.76 0.36 8.92 0.52C9.08 0.68 9.18 0.86 9.24 1.06C9.3 1.26 9.34 1.46 9.34 1.66V1.8H9.8V1.66C9.8 1.46 9.84 1.26 9.9 1.06C10 0.86 10.1 0.68 10.24 0.54C10.38 0.38 10.58 0.26 10.8 0.14C11.04 0.06 11.32 0 11.68 0C12 0 12.3 0.06 12.54 0.14C12.78 0.24 12.96 0.36 13.1 0.52C13.24 0.68 13.34 0.86 13.42 1.06C13.48 1.26 13.52 1.46 13.52 1.66V1.8H13.88ZM4.22 5.54H1.52V7.96H4.22V5.54ZM4.22 8.32H1.52V10.74H4.22V8.32ZM4.22 11.1H1.52V13.5H4.22V11.1ZM2.6 3.86C2.6 4.22 2.84 4.4 3.32 4.4C3.8 4.4 4.04 4.22 4.04 3.86V1.66C4.04 1.3 3.8 1.12 3.32 1.12C2.84 1.12 2.6 1.3 2.6 1.66V3.86ZM7.32 5.54H4.58V7.96H7.3V5.54H7.32ZM7.32 8.32H4.58V10.74H7.3V8.32H7.32ZM7.32 11.1H4.58V13.5H7.3V11.1H7.32ZM6.78 3.86C6.78 4.06 6.84 4.2 6.94 4.28C7.04 4.36 7.22 4.4 7.48 4.4C7.74 4.4 7.92 4.36 8.04 4.28C8.16 4.2 8.2 4.06 8.2 3.86V1.66C8.2 1.48 8.14 1.34 8.04 1.24C7.94 1.16 7.74 1.12 7.48 1.12C7.22 1.12 7.04 1.16 6.94 1.26C6.84 1.34 6.78 1.48 6.78 1.66V3.86ZM10.4 5.54H7.68V7.96H10.4V5.54ZM10.4 8.32H7.68V10.74H10.4V8.32ZM10.4 11.1H7.68V13.5H10.4V11.1ZM13.5 5.54H10.78V7.96H13.5V5.54ZM13.5 8.32H10.78V10.74H13.5V8.32ZM13.5 11.1H10.78V13.5H13.5V11.1ZM10.94 3.86C10.94 4.22 11.18 4.4 11.66 4.4C12.14 4.4 12.4 4.22 12.38 3.86V1.66C12.38 1.3 12.14 1.12 11.66 1.12C11.18 1.12 10.94 1.3 10.94 1.66V3.86Z' fill='%23333333'/%3E%3C/svg%3E%0A");
$icon-select-arrow: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E ");
$icon-cross: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L17 17' stroke='black'/%3E%3Cpath d='M17 1L1 17' stroke='black'/%3E%3C/svg%3E ");
$icon-bold-cross: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L14 14' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M14 1L1 14' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E ");
$icon-check-white: url("data:image/svg+xml,%3Csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 5L6.5 10L14.5 2' stroke='white' stroke-width='3'/%3E%3C/svg%3E ");
$icon-check-black: url("data:image/svg+xml, %3Csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 5L6.5 10L14.5 2' stroke='black' stroke-width='3'/%3E%3C/svg%3E ");
$icon-arrow-back: url("data:image/svg+xml,%3Csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.63898 0.499688L0.708984 3.42969L3.70898 6.42969' stroke='black' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M0.709219 3.42969L13.1992 3.42969' stroke='black' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E ");
$icon-arrow-next: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3536 4.35355C12.5488 4.15829 12.5488 3.84171 12.3536 3.64645L9.17157 0.464466C8.97631 0.269204 8.65973 0.269204 8.46447 0.464466C8.2692 0.659728 8.2692 0.976311 8.46447 1.17157L11.2929 4L8.46447 6.82843C8.2692 7.02369 8.2692 7.34027 8.46447 7.53553C8.65973 7.7308 8.97631 7.7308 9.17157 7.53553L12.3536 4.35355ZM0 4.5H12V3.5H0V4.5Z' fill='black'/%3E%3C/svg%3E ");
$icon-map: url("data:image/svg+xml,%3Csvg width='27' height='24' viewBox='0 0 27 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M13.3501 1.6C13.3701 1.6 13.3901 1.6 13.4101 1.61L18.2301 3.06C18.5501 3.16 18.8801 3.2 19.2101 3.2C19.5101 3.2 19.8101 3.16 20.1101 3.08L23.8801 2.05C23.9001 2.04 23.9201 2.04 23.9401 2.04C24.0201 2.04 24.1301 2.1 24.1401 2.23L25.1101 20.11C25.1201 20.21 25.0501 20.29 24.9601 20.32L19.8101 21.6C19.7901 21.6 19.7701 21.6 19.7601 21.59L14.2701 20.09C13.9801 20.01 13.6801 19.97 13.3701 19.97C13.0701 19.97 12.7701 20.01 12.4701 20.09L6.98007 21.59C6.97007 21.59 6.96007 21.59 6.94007 21.59C6.93007 21.59 6.91007 21.59 6.88007 21.59L1.78007 20.31C1.66007 20.3 1.60007 20.22 1.60007 20.12L2.57007 2.24C2.58007 2.11 2.69007 2.05 2.77007 2.05C2.79007 2.05 2.81007 2.05 2.83007 2.06L6.60007 3.09C6.88007 3.16 7.18007 3.2 7.49007 3.2C7.82007 3.2 8.15007 3.15 8.47007 3.06L13.2901 1.61C13.3101 1.6 13.3301 1.6 13.3501 1.6ZM13.3501 0C13.1701 0 13.0001 0.03 12.8301 0.08L8.01007 1.52C7.84007 1.57 7.66007 1.6 7.49007 1.6C7.33007 1.6 7.17007 1.58 7.02007 1.54L3.24007 0.51C3.08007 0.46 2.92007 0.44 2.77007 0.44C1.84007 0.44 1.03007 1.17 0.970071 2.15L7.06853e-05 20.03C-0.0499293 20.89 0.530071 21.67 1.36007 21.88L6.46007 23.16C6.60007 23.2 6.75007 23.21 6.90007 23.21C7.06007 23.21 7.22007 23.19 7.37007 23.15L12.8601 21.65C13.0201 21.61 13.1701 21.59 13.3301 21.59C13.4901 21.59 13.6501 21.61 13.8001 21.65L19.2901 23.15C19.4501 23.19 19.6001 23.21 19.7601 23.21C19.9101 23.21 20.0501 23.19 20.2001 23.16L25.3001 21.88C26.1401 21.67 26.7101 20.9 26.6601 20.03L25.7301 2.15C25.6801 1.17 24.8601 0.44 23.9301 0.44C23.7701 0.44 23.6101 0.46 23.4501 0.5L19.6801 1.53C19.5201 1.57 19.3701 1.59 19.2101 1.59C19.0401 1.59 18.8601 1.56 18.6901 1.51L13.8701 0.06C13.7001 0.03 13.5201 0 13.3501 0Z' fill='white'/%3E%3Cpath d='M13.3505 7.65005C14.7405 7.65005 15.8705 8.78005 15.8705 10.17C15.8705 11.86 14.4805 13.73 13.3605 14.92C12.2405 13.71 10.8205 11.81 10.8205 10.17C10.8205 8.78005 11.9605 7.65005 13.3505 7.65005ZM13.3505 6.05005C11.0705 6.05005 9.23047 7.90005 9.23047 10.17C9.23047 13.65 13.3505 17.14 13.3505 17.14C13.3505 17.14 17.4705 13.74 17.4705 10.17C17.4705 7.89005 15.6305 6.05005 13.3505 6.05005Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='26.7' height='23.21' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
$icon-angle-arrow-back: url("data:image/svg+xml,%3Csvg width='9' height='21' viewBox='0 0 9 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.774902L1 10.0765' stroke='%23AFB4B5' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M1 10.0764L8 19.378' stroke='%23AFB4B5' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E ");
$icon-angle-arrow-next: url("data:image/svg+xml,%3Csvg width='9' height='20' viewBox='0 0 9 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.774902L7.94563 10.0043' stroke='%23AFB4B5' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M7.94563 10.0042L1 19.2335' stroke='%23AFB4B5' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E ");
$icon-angle-small-next: url("data:image/svg+xml,%3Csvg width='10' height='17' viewBox='0 0 10 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2.24219L8.45691 8.50823' stroke='black' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3E%3Cpath d='M8.45691 8.50781L2 14.7564' stroke='black' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/svg%3E ");
$icon-double-check: url("data:image/svg+xml,%3Csvg width='25' height='15' viewBox='0 0 25 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.0155 1.90138C18.4396 1.38495 18.3398 0.657247 17.7909 0.258186C17.242 -0.140875 16.4686 -0.0704526 16.0444 0.445979L9.93163 7.86382L8.95858 6.69011C8.53443 6.17368 7.73602 6.07978 7.21207 6.47884C6.66317 6.8779 6.56337 7.62908 6.98752 8.12204L8.33483 9.76523L6.56337 11.9249L2.22205 6.69011C1.7979 6.17368 0.999497 6.07978 0.475545 6.47884C-0.0733572 6.8779 -0.173158 7.6056 0.250994 8.12204L5.56537 14.554C5.59032 14.5774 5.64022 14.6009 5.66517 14.6244C5.71507 14.6713 5.74002 14.7183 5.78992 14.7652C5.81487 14.7887 5.86477 14.7652 5.88972 14.7887C6.08932 14.9061 6.31387 15 6.56337 15C6.81287 15 7.03742 14.9295 7.23702 14.7887C7.26197 14.7652 7.31187 14.7887 7.33682 14.7652C7.38672 14.7183 7.41167 14.6713 7.46157 14.6244C7.48652 14.6009 7.51147 14.5774 7.53642 14.554L18.0155 1.90138Z' fill='%230085FF'/%3E%3Cpath d='M24.4998 0.258403C23.9509 -0.140658 23.1774 -0.0467618 22.7533 0.46967L13.3221 11.8781L13.1974 11.7373C12.7982 11.2208 11.9998 11.08 11.4509 11.4791C10.902 11.8546 10.7523 12.5823 11.1764 13.1223L12.2742 14.5542C12.2992 14.5542 12.3241 14.5777 12.374 14.6011C12.4239 14.6481 12.4489 14.7185 12.5237 14.7654C12.5487 14.7889 12.5736 14.7654 12.5986 14.7889C12.7982 14.9298 13.0227 15.0002 13.2722 15.0002C13.4968 15.0002 13.7213 14.9298 13.9209 14.8124C13.9459 14.7889 13.9708 14.8124 13.9958 14.7889C14.0706 14.742 14.0956 14.695 14.1455 14.6246C14.1954 14.6011 14.2203 14.5777 14.2702 14.5542L24.7493 1.90159C25.1485 1.38516 25.0487 0.657463 24.4998 0.258403Z' fill='%230085FF'/%3E%3C/svg%3E ");
