.short-profile {
  $b: &;

  display: inline-flex;
  align-items: center;

  &__avatar {
    margin-right: 10px;

    @include screen('md') {
      margin-right: 15px;
    }

    @include screen('sm') {
      margin-right: 0;
    }

    #{$b}_acc & {
      margin-right: 11px;

      @include screen('xlg', max, 2) {
        margin-right: pxtovw(11, 1660);
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(11, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(11, 960);
      }

      @include screen('sm', max, 2) {
        margin-right: pxtovw(11, 375);
      }
    }

    #{$b}_login & {
      transition: box-shadow $ease-main;
      margin-right: 11px;

      @include screen('xlg', max, 2) {
        margin-right: pxtovw(11, 1660);
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(11, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(11, 960);
      }

      @include screen('sm', max, 2) {
        margin-right: 0;
      }
    }

    #{$b}_login_host & {
      @include screen('md', max, 2) {
        margin-right: 0;
      }
    }

    #{$b}_login:hover & {
      box-shadow: 0 0 0 2px $nd-color-main;

      @include screen('xlg', max, 2) {
        box-shadow: 0 0 0 pxtovw(2, 1660) $nd-color-main;
      }

      @include screen('lg', max, 2) {
        box-shadow: 0 0 0 pxtovw(2, 1366) $nd-color-main;
      }

      @include screen('md', max, 2) {
        box-shadow: 0 0 0 pxtovw(2, 960) $nd-color-main;
      }

      @include screen('sm', max, 2) {
        box-shadow: 0 0 0 pxtovw(2, 375) $nd-color-main;
      }
    }

    #{$b}_full & {
      @include screen('sm') {
        margin-right: 10px;
      }
    }

    #{$b}_nd & {
      margin-right: 14px;

      @include screen('xlg', max, 2) {
        margin-right: pxtovw(14, 1660);
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(14, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(14, 960);
      }

      @include screen('sm', max, 2) {
        margin-right: pxtovw(14, 375);
      }
    }

    #{$b}_msg & {
      margin-right: 9px;

      @include screen('xlg', max, 2) {
        margin-right: pxtovw(9, 1660);
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(9, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(9, 960);
      }

      @include screen('sm', max, 2) {
        margin-right: pxtovw(9, 375);
      }
    }
  }

  &__name {
    @include text-mid;

    font-weight: 700;
    color: $color-basic;
    transition: color $ease-main;
    white-space: nowrap;

    @include screen('sm') {
      display: none;
    }

    #{$b}_full & {
      @include screen('sm') {
        @include text;

        line-height: (26/14);
        display: inline-block;
      }
    }

    &_sm-visible {
      @include screen('sm', max, 2) {
        display: block;
      }
    }

    &_fz17 {
      font-size: 17px;
      line-height: (21 / 17);
      letter-spacing: normal;
      color: $nd-color-basic;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(17, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(17, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(15, 960);
        line-height: (18 / 15);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(15, 375);
      }
    }

    &_fz16 {
      font-size: 16px;
      line-height: 1;
      letter-spacing: normal;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(16, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(16, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(16, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(16, 375);
      }
    }

    &_fz19 {
      font-size: 19px;
      line-height: (23 / 19);
      letter-spacing: normal;
      color: $nd-color-basic;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(19, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(19, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(19, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(19, 375);
      }
    }

    &_stolzl {
      font-family: $font-stolzl;
      font-weight: 400;
    }

    &_fw400 {
      font-weight: 400;
    }

    #{$b}_login & {
      font-size: 17px;
      line-height: (21 / 17);
      font-weight: 500;
      letter-spacing: normal;
      color: $nd-color-basic;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(17, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(15, 1366);
        line-height: (18 / 15);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(15, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(15, 375);
      }
    }

    #{$b}_msg & {
      font-size: 17px;
      line-height: (18 / 17);
      font-weight: 500;
      letter-spacing: normal;
      color: $nd-color-basic;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(17, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(17, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(17, 960);
      }

      @include screen('sm', max, 2) {
        display: inline-block;
        font-size: pxtovw(15, 375);
        line-height: (18 / 15);
      }

      .is-new & {
        font-weight: 700;
      }
    }

    #{$b}_login_host & {
      @include screen('md', max, 2) {
        display: none;
      }
    }

    #{$b}_ext & {
      color: $color-profile-name;
      line-height: 1.2;

      @include screen('sm') {
        @include text15;

        line-height: 1.2;
      }
    }

    #{$b}_light & {
      color: $color-white;
    }

    #{$b}_acc & {
      display: block;
    }
  }

  &__post {
    @include text;

    line-height: 1.2;
    font-weight: 400;
    color: $color-profile-post;

    @include screen('sm') {
      @include text12;

      line-height: 1.2;
    }
  }

  &__info {
    display: block;
    box-sizing: border-box;
    padding-top: 2px;
  }

  &:hover {
    #{$b}__name {
      color: $color-basic-dark;
    }
  }

  &_light:hover {
    #{$b}__name {
      color: rgba($color-white, .7);
    }
  }

  &__status {
    @include text-small;

    line-height: 1;
    padding: 2px 3px 1px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: $color-basic;
    color: $color-white;
    align-self: center;
    display: block;
    margin-left: 11px;
    position: relative;
    box-sizing: border-box;

    @include screen('sm') {
      display: none;
    }

    &::after {
      @include pseudo;

      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background-image: linear-gradient(to right, $color-hot-desk 25%, $color-dedicated-desk 25%, $color-dedicated-desk 50%, $color-meeting-room 50%, $color-meeting-room 75%, $color-office-space 75%);
    }

    #{$b}_login & {
      font-size: 11px;
      font-weight: 800;
      line-height: 1;
      padding: 2px 4px 1px;
      background-color: $nd-color-gray-text3;
      margin-bottom: 2px;
      margin-left: 15px;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(11, 1660);
        padding: pxotvw(2, 1660) pxtovw(4, 1660) pxtovw(1, 1660);
        margin-bottom: pxtovw(2, 1660);
        margin-left: pxtovw(15, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(7, 1366);
        line-height: 1;
        padding: pxtovw(3, 1366) pxtovw(5, 1366) pxtovw(1, 1366);
        margin-left: pxtovw(10, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(7, 960);
        padding: pxtovw(3, 960) pxtovw(5, 960) pxtovw(1, 960);
        margin-bottom: pxtovw(2, 960);
        margin-left: pxtovw(-5, 960);
      }

      @include screen('sm', max, 2) {
        display: none;
      }

      &::after {
        background-image: linear-gradient(to right, $nd-color-hotdesk 25%, $nd-color-fixeddesk 25%, $nd-color-fixeddesk 50%, $nd-color-meetingroom 50%, $nd-color-meetingroom 75%, $nd-color-privateoffice 75%);

        @include screen('md', max, 2) {
          height: pxtovw(2, 960);
        }
      }

      &_manager {
        text-transform: none;
        background-color: $nd-color-main;
        margin-bottom: 0;
        font-weight: 700;

        &::after {
          display: none;
        }
      }
    }
  }

  &__marker {
    flex: none;
    display: inline-block;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    width: 21px;
    padding: 11px 0 10px;
    font-size: 13px;
    font-weight: 700;
    line-height: 0;
    color: $nd-color-basic-light;
    background-color: $nd-color-fixeddesk;
    border-radius: 50%;

    @include screen('xlg', max, 2) {
      width: pxtovw(21, 1660);
      padding: pxtovw(11, 1660) 0 pxtovw(10, 1660);
      font-size: pxtovw(13, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(21, 1366);
      padding: pxtovw(11, 1366) 0 pxtovw(10, 1366);
      font-size: pxtovw(13, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(21, 960);
      padding: pxtovw(11, 960) 0 pxtovw(10, 960);
      font-size: pxtovw(13, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(21, 375);
      padding: pxtovw(11, 375) 0 pxtovw(10, 375);
      font-size: pxtovw(13, 375);
    }

    #{$b}_msg & {
      display: none;

      @include screen('sm', max, 2) {
        position: absolute;
        top: 50%;
        left: pxtovw(-3, 375);
        display: inline-block;
        width: pxtovw(14, 375);
        padding: pxtovw(7, 375) 0;
        transform: translate3d(0, -50%, 0);
        font-size: pxtovw(9, 375);
      }
    }

    &:not(:first-child) {
      margin-left: -17px;

      @include screen('xlg', max, 2) {
        margin-left: pxtovw(-17, 1660);
      }

      @include screen('lg', max, 2) {
        margin-left: pxtovw(-17, 1366);
      }

      @include screen('md', max, 2) {
        margin-left: pxtovw(-17, 960);
      }

      @include screen('sm', max, 2) {
        margin-left: pxtovw(-17, 375);
      }

      #{$b}_msg & {
        margin: 0;
      }
    }
  }

  &_ext {
    align-items: center;

    #{$b} {
      &__avatar {
        margin-right: 6px;
        margin-top: -2px;
      }

      &__post {
        display: block;
        letter-spacing: -0.03em;
      }

      &__name {
        display: block;
        letter-spacing: -0.03em;
        margin-top: -2px;
      }
    }

    &_reverse {
      flex-direction: row-reverse;

      #{$b} {

        &__avatar {
          margin-right: 0;
          margin-left: 6px;
        }

        &__info {
          text-align: right;
        }
      }
    }
  }

  &_smava {
    #{$b} {
      &__avatar {
        @include screen('sm') {
          min-width: 16px;
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &_msg {
    position: relative;
  }
}
