mixin short-profile()
  +b.A.short-profile&attributes(attributes)
    +avatar('assets/images/ava.jpg').__avatar
    +e.name Spencer Macenthire

mixin short-profile-host()
  +b.A.short-profile&attributes(attributes)
    +avatar('assets/images/ava2.jpg').__avatar
    +e.name Ann Landrodia
    +e.status host

mixin short-profile-origin(img, name, tag)
  +b(tag || 'a').short-profile_full&attributes(attributes)
    +avatar(img).__avatar
    +e.name!= name

mixin short-profile-ext(data)
  +b(data.tag || 'a').short-profile_ext&attributes(attributes)
    +avatar(data.image).__avatar
    +e.info
      if data.post
        +e.post!= data.post
      +e.name!= data.name
