.long-arrow {
  $b: &;

  display: block;
  color: $color-main;

  &__wrapper {
    position: relative;
    display: block;
    width: 100%;
    max-width: 116px;
    height: 11px;
    margin: 0 auto;
    overflow: hidden;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 116px;
    height: 11px;
    font-size: 0;
    line-height: 0;
    fill: currentColor;
  }

  &_h16 {
    #{$b} {
      &__wrapper {
        max-width: 61px;
        height: 16px;

        @include screen('sm') {
          height: 11px;
        }
      }

      &__icon {
        height: 16px;
        width: 166px;

        @include screen('sm') {
          width: 116px;
          height: 11px;
        }
      }
    }
  }

  &_big {

    #{$b} {

      &__wrapper {
        max-width: 72px;
        height: 20px;

        @include screen('sm') {
          height: 11px;
        }
      }

      &__icon {
        height: 20px;
        width: 207px;

        @include screen('sm') {
          width: 116px;
          height: 11px;
        }
      }
    }
  }
}
