.offer-table {
  $b: &;

  width: 100%;
  border-collapse: collapse;
  color: $nd-color-basic;

  &__cell {
    width: 50%;
    box-sizing: border-box;
    padding: 6px 0;

    @include screen('xlg', max, 2) {
      padding: pxtovw(6, 1660) 0;
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(6, 1366) 0;
    }

    @include screen('md', max, 2) {
      padding: pxtovw(6, 960) 0;
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(5, 375) 0;
    }

    &:last-child {
      text-align: right;
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(6, 375) 0;
    }
  }

  &__offer {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
  }

  &__box {
    align-self: center;
    width: 8px;
    height: 8px;

    @include screen('xlg', max, 2) {
      width: pxtovw(8, 1660);
      height: pxtovw(8, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(8, 1366);
      height: pxtovw(8, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(8, 960);
      height: pxtovw(8, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(8, 375);
      height: pxtovw(8, 375);
    }

    &:not(:last-child) {
      margin-right: 8px;

      @include screen('xlg', max, 2) {
        margin-right: pxtovw(8, 1660);
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(8, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(5, 960);
      }

      @include screen('sm', max, 2) {
        margin-right: pxtovw(7, 375);
      }
    }
  }

  &__name {
    font-weight: 700;
    color: $nd-color-gray-text;
    text-transform: uppercase;
    line-height: (13 / 12);
    font-size: 11px;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(11, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(11, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(11, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(11, 375);
    }

    #{$b}_map & {
      @include screen('sm', max, 2) {
        font-size: pxtovw(10, 375);
      }
    }
  }

  &__price {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    font-size: 13px;
    line-height: (16 / 13);
    font-weight: 400;
    text-align: right;
    width: 100%;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(13, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(13, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(13, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(13, 375);
    }
  }

  &_transforma {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include screen('sm', max, 2) {
      display: table;
    }

    tbody {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;

      @include screen('sm', max, 2) {
        display: table;
      }
    }

    #{$b} {
      &__row {
        display: inline-block;

        @include screen('sm', max, 2) {
          display: table-row;
          width: 100%;
        }

        &:not(:last-child) {
          margin-right: 25px;

          @include screen('xlg', max, 2) {
            margin-right: pxtovw(25, 1660);
          }

          @include screen('lg', max, 2) {
            margin-right: pxtovw(25, 1366);
          }

          @include screen('md', max, 2) {
            margin-right: pxtovw(27, 960);
          }

          @include screen('sm', max, 2) {
            margin-right: 0;
          }
        }
      }

      &__cell {
        display: block;
        width: auto;

        @include screen('sm', max, 2) {
          display: table-cell;
          width: 50%;
          padding: pxtovw(5, 375) 0 pxtovw(6, 375);
        }

        &:last-child {
          text-align: left;
          padding-top: 0;

          @include screen('sm', max, 2) {
            padding-top: pxtovw(5, 375);
            text-align: right;
          }
        }
      }

      &__offer {
        flex-direction: column;
        align-items: flex-start;

        @include screen('sm', max, 2) {
          flex-direction: row;
          align-items: baseline;
        }
      }

      &__box {
        align-self: flex-start;
        width: 9px;
        height: 9px;
        margin-bottom: 4px;

        @include screen('xlg', max, 2) {
          width: pxtovw(9, 1660);
          height: pxtovw(9, 1660);
          margin-bottom: pxtovw(4, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(9, 1366);
          height: pxtovw(9, 1366);
          margin-bottom: pxtovw(4, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(9, 960);
          height: pxtovw(9, 960);
          margin-bottom: pxtovw(4, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(8, 375);
          height: pxtovw(8, 375);
          margin-bottom: 0;
          align-self: center;
        }
      }

      &__name {
        white-space: nowrap;
        font-size: 12px;
        line-height: (15 / 12);

        @include screen('xlg', max, 2) {
          font-size: pxtovw(12, 1660);
        }

        @include screen('lg', max, 2) {
          font-size: pxtovw(12, 1366);
        }

        @include screen('md', max, 2) {
          font-size: pxtovw(12, 960);
        }

        @include screen('sm', max, 2) {
          font-size: pxtovw(12, 375);
        }
      }

      &__price {
        white-space: nowrap;
        font-size: 14px;
        line-height: (17 / 14);

        @include screen('xlg', max, 2) {
          font-size: pxtovw(14, 1660);
        }

        @include screen('lg', max, 2) {
          font-size: pxtovw(14, 1366);
        }

        @include screen('md', max, 2) {
          font-size: pxtovw(14, 960);
        }

        @include screen('sm', max, 2) {
          font-size: pxtovw(15, 375);
          line-height: (18 / 15);

          span {
            display: none;
          }
        }
      }
    }

    .is-search-map-hide & {
      display: table;

      tbody {
        display: table;
      }

      #{$b} {
        &__row {
          display: table-row;
          width: 100%;

          &:not(:last-child) {
            margin-right: 0;
          }
        }

        &__cell {
          display: table-cell;
          width: 50%;

          &:last-child {
            padding-top: 6px;
            text-align: right;

            @include screen('xlg', max, 2) {
              padding-top: pxtovw(6, 1660);
            }

            @include screen('lg', max, 2) {
              padding-top: pxtovw(6, 1366);
            }

            @include screen('md', max, 2) {
              padding-top: pxtovw(6, 960);
            }

            @include screen('sm', max, 2) {
              padding-top: pxtovw(5, 375);
            }
          }
        }

        &__offer {
          flex-direction: row;
          align-items: baseline;
        }

        &__box {
          align-self: center;
          margin-bottom: 0;

          @include screen('lg', max, 2) {
            width: pxtovw(9, 1366);
            height: pxtovw(9, 1366);
          }

          @include screen('md', max, 2) {
            width: pxtovw(8, 960);
            height: pxtovw(8, 960);
          }

          @include screen('sm', max, 2) {
            width: pxtovw(8, 375);
            height: pxtovw(8, 375);
          }
        }

        &__name {
          @include screen('md', max, 2) {
            font-size: pxtovw(11, 960);
            line-height: (13 / 11);
          }

          @include screen('sm', max, 2) {
            font-size: pxtovw(12, 375);
            line-height: (15 / 12);
          }
        }

        &__price {
          font-size: 15px;
          line-height: (18 / 15);

          @include screen('xlg', max, 2) {
            font-size: pxtovw(15, 1660);
          }

          @include screen('lg', max, 2) {
            font-size: pxtovw(15, 1366);
          }

          @include screen('md', max, 2) {
            font-size: pxtovw(13, 960);
            line-height: (16 / 13);
          }

          @include screen('sm', max, 2) {
            font-size: pxtovw(15, 375);
            line-height: (18 / 15);
          }

          span {
            display: none;
          }
        }
      }
    }
  }
}
