mixin offer-table(data, isFrom)
  +b.TABLE.offer-table&attributes(attributes)
    tbody
      each item in data
        +e.TR.row
          +e.TD.cell
            +e.offer
              +nd-box()(class=item.box + ' __box')
              +e.name!=item.name
          +e.TD.cell
            if isFrom
              +e.price <span>from</span>&nbsp;#{item.price}
            else
              +e.price!=item.price
    block
