extends ../../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Guest Account'

block bodyClasses
  - var bodyCls = ' is-sm-noheader is-sm-no-userpanel';
  - var scripts = ['other']

block header
  - var headerClass = ' is-login'
  - var pageClass = ''
  - var isMap = false
  - var host = false

block content
  +nd-page-header._grid._grid_acc
    .nd-container
      +e.title.nd-hide-from-sm Shortlist
      +nd-page-header-side
        +nd-link-icon('arrow5')._back.__back.nd-hide-from-sm Back
      +nd-page-header-main
        - var menuList = getData('sideNavProfile.json').menu;
        +e.dt-menu.nd-hide-md
          +nd-breadcrumbs([["Home", "#"], ["My account", "#"], ["Shortlist"]]).__breadcrumbs
        +e.mb-menu.nd-hide-from-md.nd-hide-sm
          +slider-navigation(menuList, 2, 'Shortlist')
        +e.mb-menu.nd-hide-from-sm
          +slider-navigation([{name: "Hot desks", href: "#"}, {name: "Fixed desks", href: "#"}, {name: "Meeting Rooms", href: "#"}, {name: "Private Offices", href: "#"}], 0, 'Hot desks')
  +nd-content
    .nd-container
      +nd-content-aside
        +sidebar-nosticky.nd-sidebar.nd-hide-md
          - var nav = getData('sideNavProfile.json')
          +nd-side-navigation(nav, 'Shortlist')._profile

      +nd-content-main
        +nd-section
          +nd-section-header._fx.nd-hide-md
            +nd-section-title._fz24 Shortlisted 7 hot desks
            +e.menu.nd-hide-md
              +slider-navigation([{name: "Hot desks", href: "#"}, {name: "Fixed desks", href: "#"}, {name: "Meeting Rooms", href: "#"}, {name: "Private Offices", href: "#"}], 0, 'Hot desks')
          +nd-results._shortlist.__results
            each item in getData('nd-spaces-shortlist.json')
              +nd-results-item
                +nd-space()._search-offer._search-offer_short
                  +e.head
                    +space-type._gray.__type
                      +nd-box()(class=item.type.box + ' __box')
                      +e.name!=item.type.name
                    +nd-space-title()!=item.title
                    +e.heart.js-heart.is-active
                      +icon('nd-favorite-full').__heart-icon_full
                      +icon('nd-favorite').__heart-icon_empty
                  +offer-slider(item.offers)._short.__offer-slider

block panels

block popups
