.short-space {
  $b: &;
  display: flex;
  box-sizing: border-box;

  @include screen('sm') {
    flex-wrap: wrap;
  }

  &__media {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 150px;
    margin-right: 24px;
    min-width: 150px;

    @include screen('sm') {
      width: 100%;
      margin-right: 0;
    }
  }

  &__image {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    margin-top: -3px;

    @include screen('sm') {
      flex: none;
      width: 100%;
      margin-top: 15px;
    }
  }

  &__title {
    @include heading-4;

    font-weight: 700;
    line-height: 1;
    margin-bottom: 5px;

    @include screen('sm') {
      @include text12;

      line-height: 1;
    }
  }

  &__text {
    @include heading-4;

    font-weight: 300;
    line-height: 1;

    @include screen('sm') {
      @include text12;

      line-height: 1;
    }
  }

  &__offer {
    margin-bottom: 4px;
  }

  &__info {
    display: block;
    width: 100%;
    margin-top: auto;
    margin-bottom: -4px;

    @include screen('sm') {
      margin-top: 15px;
      margin-bottom: 0;
    }
  }
}
