mixin short-space()
  +b.short-space&attributes(attributes)
    block

mixin short-space-media()
  +e.media&attributes(attributes)
    block

mixin short-space-content()
  +e.content&attributes(attributes)
    block
