.nd-side-navigation {
  $b: &;

  display: block;
  width: 100%;
  background: $nd-color-basic-light;
  color: $nd-color-basic;
  padding: 25px 0 36px;

  @include screen('xlg', max, 2) {
    padding: pxtovw(25, 1660) 0 pxtovw(36, 1660);
  }

  @include screen('lg', max, 2) {
    padding: pxtovw(25, 1366) 0 pxtovw(36, 1366);
  }

  @include screen('md', max, 2) {
    padding: pxtovw(25, 960) 0 pxtovw(36, 960);
  }

  @include screen('sm', max, 2) {
    padding: pxtovw(25, 375) 0 pxtovw(36, 375);
  }

  &__list {
    display: block;
    width: 100%;
    letter-spacing: none;

    &:not(:first-child) {
      margin-top: 28px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(28, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(28, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(28, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(28, 375);
      }

      #{$b}_view & {
        margin-top: 38px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(38, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(26, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(26, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(26, 375);
        }
      }
    }

    &:last-child {
      margin-bottom: 40px;

      @include screen('xlg', max, 2) {
        margin-bottom: pxtovw(40, 1660);
      }

      @include screen('lg', max, 2) {
        margin-bottom: pxtovw(40, 1366);
      }

      @include screen('md', max, 2) {
        margin-bottom: pxtovw(40, 960);
      }

      @include screen('sm', max, 2) {
        margin-bottom: pxtovw(40, 375);
      }
    }

    &_small {
      &:not(:first-child) {
        @include screen('lg', max, 2) {
          margin-top: pxtovw(22, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(22, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(22, 375);
        }
      }
    }
  }

  &__sublist {
    display: none;
    max-height: 0;
    margin-top: 18px;

    @include screen('xlg', max, 2) {
      margin-top: pxtovw(18, 1660);
    }

    @include screen('lg', max, 2) {
      margin-top: pxtovw(18, 1366);
    }

    @include screen('md', max, 2) {
      margin-top: pxtovw(18, 960);
    }

    @include screen('sm', max, 2) {
      margin-top: pxtovw(18, 375);
    }
  }

  &__item, &__links, &__note {
    position: relative;
    box-sizing: border-box;
    padding: 0 30px;

    @include screen('xlg', max, 2) {
      padding: 0 pxtovw(30, 1660);
    }

    @include screen('lg', max, 2) {
      padding: 0 pxtovw(30, 1366);
    }

    @include screen('md', max, 2) {
      padding: 0 pxtovw(30, 960);
    }

    @include screen('sm', max, 2) {
      padding: 0 pxtovw(30, 375);
    }

    #{$b}_profile & {
      padding: 0 40px;

      @include screen('xlg', max, 2) {
        padding: 0 pxtovw(40, 1660);
      }

      @include screen('lg', max, 2) {
        padding: 0 pxtovw(40, 1366);
      }

      @include screen('md', max, 2) {
        padding: 0 pxtovw(40, 960);
      }

      @include screen('sm', max, 2) {
        padding: 0 pxtovw(40, 375);
      }
    }

    #{$b}_profile_ha & {
      padding: 0 33px;

      @include screen('xlg', max, 2) {
        padding: 0 pxtovw(33, 1660);
      }

      @include screen('lg', max, 2) {
        padding: 0 pxtovw(33, 1366);
      }

      @include screen('md', max, 2) {
        padding: 0 pxtovw(33, 960);
      }

      @include screen('sm', max, 2) {
        padding: 0 pxtovw(33, 375);
      }
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: 18px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(18, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(18, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(18, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(18, 375);
      }

      #{$b}__list_small & {
        @include screen('lg', max, 2) {
          margin-top: pxtovw(14, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(14, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(14, 375);
        }
      }
    }
  }

  &__link {
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    cursor: pointer;
    transition: color $ease-main;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(20, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(20, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(20, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(20, 375);
    }

    &:hover {
      text-decoration: underline;
    }

    #{$b}__list_small & {
      @include screen('lg', max, 2) {
        font-size: pxtovw(16, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(16, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(16, 375);
      }
    }

    &.is-active {
      cursor: default;
      pointer-events: none;
      color: $nd-color-gray-text;

      & ~ #{$b}__sublist {
        display: block;
        max-height: none;
        animation: css-accordion .5s ease-out;
      }

      &.is-multilevel {
        &::before {
          @include pseudo;

          top: 0;
          left: 0;
          height: 100%;
          width: 3px;
          background-color: $nd-color-main;

          @include screen('xlg', max, 2) {
            width: pxtovw(3, 1660);
          }

          @include screen('lg', max, 2) {
            width: pxtovw(3, 1366);
          }

          @include screen('md', max, 2) {
            width: pxtovw(3, 960);
          }

          @include screen('sm', max, 2) {
            width: pxtovw(3, 375);
          }
        }
      }
    }
  }

  &__subitem {
    &:not(:first-child) {
      margin-top: 14px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(14, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(14, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(14, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(14, 375);
      }
    }
  }

  &__sublink {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    cursor: pointer;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(16, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(16, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(16, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(16, 375);
    }

    &:hover {
      text-decoration: underline;
    }

    &.is-active {
      pointer-events: none;
      cursor: default;
      color: $nd-color-gray-text;
    }
  }

  &__note {
    font-size: 16px;
    line-height: (19 / 16);
    font-weight: 400;
    margin-top: 74px;
    width: 100%;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(16, 1660);
      margin-top: pxtovw(74, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(16, 1366);
      margin-top: pxtovw(70, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(16, 960);
      margin-top: pxtovw(70, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(16, 375);
      margin-top: pxtovw(50, 375);
    }

    &_gray {
      color: $nd-color-gray-text;
    }
  }

  &__links {
    display: block;

    &:not(:first-child) {
      margin-top: 66px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(66, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(53, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(53, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(53, 375);
      }
    }
  }

  &__btn-link {
    font-size: 16px;
    line-height: 1;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(16, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(15, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(15, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
    }
  }

  &_profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 363px;
    padding: 52px 0 40px;

    @include screen('xlg', max, 2) {
      min-height: pxtovw(363, 1660);
      padding: pxtovw(52, 1660) 0 pxtovw(40, 1660);
    }

    @include screen('lg', max, 2) {
      min-height: pxtovw(369, 1366);
      padding: pxtovw(52, 1366) 0 pxtovw(40, 1366);
    }

    @include screen('md', max, 2) {
      min-height: pxtovw(369, 960);
      padding: pxtovw(52, 960) 0 pxtovw(40, 960);
    }

    @include screen('sm', max, 2) {
      min-height: pxtovw(369, 375);
      padding: pxtovw(52, 375) 0 pxtovw(40, 375);
    }

    &_ha {
      min-height: 368px;
      padding: 55px 0 25px;

      @include screen('xlg', max, 2) {
        min-height: pxtovw(368, 1660);
        padding: pxtovw(55, 1660) 0 pxtovw(25, 1660);
      }

      @include screen('lg', max, 2) {
        min-height: pxtovw(368, 1366);
        padding: pxtovw(55, 1366) 0 pxtovw(25, 1366);
      }

      @include screen('md', max, 2) {
        min-height: pxtovw(368, 960);
        padding: pxtovw(55, 960) 0 pxtovw(25, 960);
      }

      @include screen('sm', max, 2) {
        min-height: pxtovw(368, 375);
        padding: pxtovw(55, 375) 0 pxtovw(25, 375);
      }

      #{$b} {

      }
    }
  }

  &_add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;

    @include rule(padding-top, (xl: 45px, xlg: 45, lg: 45, md: 45, sm: 45));
    @include rule(padding-bottom, (xl: 36px, xlg: 36, lg: 42, md: 42, sm: 42));
    @include rule(min-height, (xl: 450px, xlg: 450, lg: 427, md: 0));

    #{$b} {
      &__step, &__note {
        box-sizing: border-box;

        @include rule(padding-left, (xl: 30px, xlg: 30, lg: 30, md: 30, sm: 30));
        @include rule(padding-right, (xl: 60px, xlg: 60, lg: 60, md: 60, sm: 60));
      }
    }
  }
}
