.side-navigation {
  $b: &;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 50px 17% 49px;
  min-height: 585px;
  box-sizing: border-box;

  &_pt46 {
    padding-top: 46px;
  }

  .is-IE & {
    height: 585px;
  }

  @include screen('xl') {
    padding-left: 12%;
    padding-right: 12%;
  }

  &__navigation,&__info {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__link {
    @include heading-4;

    font-weight: 700;

    @include screen('lg') {
      @include text15;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__links {
    padding-bottom: 10px;
  }

  .note,&__links {
    margin-top: auto;
  }
}
