.side-navigation {
  $b: &;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 50px 17% 49px;
  min-height: 585px;
  box-sizing: border-box;

  .is-IE & {
    height: 585px;
  }

  @include screen('xl') {
    padding-left: 12%;
    padding-right: 12%;
  }

  &__navigation {

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  .note {
    margin-top: auto;
  }
}
