.lead {
  $b: &;

  &__content {
    display: flex;
    width: 100%;
    background-color: $color-grey-dark;
    color: $color-white;
  }

  &__side {
    display: block;
    width: 34.3%;

    @include screen('xl') {
      width: 35%;
    }

    @include screen('lg') {
      width: 100%;
    }
  }

  &__main {
    display: flex;
    width: 65.7%;

    @include screen('xl') {
      width: 65%;
    }

    @include screen('lg') {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
    }
  }

  &__top {}

  &__bottom {}

  &__slider {
    width: 100%;
    padding-top: 56%;

    @include screen('lg') {
      padding-top: 55.9%;
    }

    @include screen('sm') {
      padding-top: 55.8%;
    }
  }
}
