.progress {
  $b: &;

  position: relative;
  display: block;
  width: 100%;
  height: 13px;
  overflow: hidden;
  background-color: $color-border-light;

  @include screen('sm') {
    height: 7px;
  }

  &__bar {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: transform $ease-main;
    background-color: $color-status-bar;
  }

  &:not(:first-child) {
    margin-top: 30px;

    @include screen('sm') {
      margin-top: 10px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @include screen('sm') {
      margin-bottom: 10px;
    }
  }
}
