mixin advisor()
  +b.advisor&attributes(attributes)
    +e.info
      | Or call&nbsp;
      +nd-link().__link(href="tel:+4402084322219") +44 020 8432 2219
      | &nbsp;to&nbsp;speak to&nbsp;our free Advisor
    +avatar('assets/images/nd/user-avatar-15.png')._sz50.__avatar
    +nd-link-image('question')._underline._underline_blue.__question(href="#") Ask a question
