.page {
  display: block;
  box-sizing: border-box;
  padding-top: 115px;
  overflow: hidden;
  min-height: calc(100vh - 300px);

  @include screen('sm', max) {
    padding-top: 74px;
  }

  // &.is-short {
  //   padding-top: 70px;

  //   @include screen('sm') {
  //     padding-top: 50px;
  //   }
  // }
}
