.page {
  display: block;
  box-sizing: border-box;
  padding-top: 115px;
  transition: padding $ease-main;
  overflow: hidden;

  @include screen('sm', max) {
    padding-top: 74px;
  }

  &.is-short {
    padding-top: 70px;

    @include screen('sm') {
      padding-top: 50px;
    }
  }
}
