.info {
  display: block;
  background: url('../images/top.jpg') center center no-repeat;
  background-size: cover;
  color: $color-wite;
  padding: 250px 160px 50px 285px;

  &__content {
    display: flex;
  }

  &__content-left {
    flex: 1
  }
  &__content-right {
    flex: 2;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__selects {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 200px;

  }

  &__bottom {
    margin-top: 10px;
  }
}

.info-two {
  background: url('../images/bottom.jpg') center center no-repeat;
}