.info {
  display: block;
  background: url('../images/top.jpg') center center no-repeat;
  background-size: cover;
  color: $color-white;
  padding: 7.8% 9% 2% 8.5%;
  margin: 0;

  &__content {
    display: flex;
  }

  &__content-left {
    width: 42%;
  }
  &__content-right {
    width: 58%;
    padding-top: 10px;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
    &-text {
      font-weight: 700;
    }
  }

  &__selects {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 152px;
    align-items: center;

    .choices__list--single {
      padding-right: 10px !important;
      padding-left: 5px !important;
    }


    .choices[data-type*=select-one]:after {
      right: 10px !important;
      border-color: $color-white rgba(0, 0, 0, 0);
      transition: .3s;
      padding-left: 5px !important;
      &__list {
        padding-left: 5px !important;
      }
    }

    .button {
      width: 143px;
      padding:10px 0;
      align-items: center;
    }
    .is-open {
      border: 1px solid $color-white !important;
    }

    .choices {
      height: 20px;
      margin-right: 40px;
      padding-bottom: 5px !important;
      border-bottom: 1px solid $color-white !important;
      &:hover {
        border:1px solid $color-white !important;
      }

      &::after {
        content: '';
        background-image: url('../images/arrow-wite.svg');
      }

      &__inner {
        height: 20px !important;
        border:0 !important;
        padding: 0 !important;
      }

      &__list {
        background: rgba(0, 0, 0, 0) !important ;
        overflow: hidden;
      }

      &__item {
        font-size: 16px;

        &:hover {
          font-weight: 700;
          background: rgba(0, 0, 0, 0) !important ;
        }
      }

      &__item {
        background: rgba(0, 0, 0, 0) !important ;

      }

      &:hover {
        .choices__inner{
          background: rgba(0, 0, 0, 0) !important ;
        }
        .choices__item {
          background: rgba(0, 0, 0, 0) !important;

        }

      }

    }


  }

  &__bottom {
    margin-top: 24px;
  }
}

.info-two {
  padding: 110px 1px 34px 136px;
  margin: 84px 0 90px;
  background: url('../images/bottom.jpg') center center no-repeat;
  .button {
    width: 210px;
    margin-top: 40px;
    margin-bottom: 37px;
    padding: 9px 0;
  }
  .info__content-left {
    width: 100%;
  }
  .info__title {
    font-size: 56px;
    line-height: 1;
    width: 80%;
    letter-spacing: -1px;
  }
}
