.info {
  display: block;
  background: url('../images/top.jpg') center center no-repeat;
  background-size: cover;
  color: $color-wite;
  padding: 7.5% 9% 2% 8.5%;
  margin: 0;

  &__content {
    display: flex;
  }

  &__content-left {
    width: 42%;
  }
  &__content-right {
    width: 58%;
    padding-top: 13px;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
    &-text {
      font-weight: 700;
    }
  }

  &__selects {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 152px;
    align-items: center;

    .choices__list--single {
      padding-right: 20px !important;
    }

    .choices[data-type*=select-one]:after {
      right: 0 !important;
      border-color: $color-wite rgba(0, 0, 0, 0);
    }

    .button {
      width: 143px;
      padding:10px 0;
      align-items: center;
    }
    .is-open {
      border: 1px solid $color-wite !important;
    }

    .choices {
      height: 20px;
      margin-right: 40px;
      padding-bottom: 5px !important;
      border-bottom: 1px solid $color-wite !important;

      &::after {
        content: '';
        background-image: url('../images/arrow-wite.svg');
      }

      &__inner {
        height: 20px !important;
        border:0 !important;
        padding: 0 !important;
       
        
      }

      &__list {
        background: rgba(0, 0, 0, 0) !important ;
        overflow: hidden;
      }

      &__item {
        font-size: 16px;
        
        &:hover {
          font-weight: 700;
          background: rgba(0, 0, 0, 0) !important ;
        }
      }

      &__item {
        background: rgba(0, 0, 0, 0) !important ;
   
      }

      &:hover {
        .choices__inner{
          background: rgba(0, 0, 0, 0) !important ;
        }
        .choices__item {
          background: rgba(0, 0, 0, 0) !important;
          
        }
        
      }

    }


  }

  &__bottom {
    margin-top: 24px;
  }
}

.info-two {
  margin-top: 100px;
  background: url('../images/bottom.jpg') center center no-repeat;
  .button {
    width: 200px;
    margin-top: 40px;
    margin-bottom: 70px;
  }
}