extends ../../layouts/default-login-host

block head
  - var pageTitle = 'SpacePool - My rental offers - One Space (HOST)'

block header
  -var headerClass = '_border'

block content
  -var offers = getData('offers-list.json')
  +page-header._wide-lg._spad
    .container
      +e.wrapper
        +page-header-side
          +link-icon('select-arrow')._back._bold.__back(href="#") Back to space list
        +page-header-main.hide-lg
          +breadcrumbs(['Home', 'My offers', 'Blooming Founders (Former Blooms London old Factory)'])
          +button-plus('a')(href="#popup-add-rental-offer")._plus_big.__button_big.js-popup Add new rental offer for this space
  +table-head.hide-lg
    .container
      +grid.grid_layout.grid_no-top.table-head__wrapper
        +col({lg: 12, xl: 3}).table-head__cell
          +e.name Space basic information
        +col({lg: 12, xl: 9}).table-head__cell
          +e.name Rental offers
          +boxes
            +box._size9._orange
            +box._size9._red
            +box._size9._green
      +divider
  +content-origin._reverse._wide-lg._top-mg._last
    .container
      +e.wrapper
        +content-column-aside
          +sidebar._no-bg
            +space-info
              +grid.grid_layout.grid_no-top
                +col({sm: 12, lg: 6, xl: 12})
                  +space-info-title() Blooming Founders Office Space (Former Blooms London old Factory)
                  +space-info-media.hide-only-lg(data-slot-id="media" data-slot-res="sm xl")
                    +space-info-image()(src="assets/images/room3.jpg" data-target-slot="media")
                  +space-info-address
                    p 2 Riding House St, Marylebone, London
                    p EC2A, London
                  +space-info-buttons.hide-only-lg(data-slot-id="button" data-slot-res="sm xl")
                    +space-info-button(data-target-slot="button") Add rental offers for this space
                  +space-info-controls
                +col({sm: 12, lg: 6, xl: 12}).hide-sm.hide-from-lg
                  +space-info-media(data-slot-id="media" data-slot-res="lg")
                  +space-info-buttons(data-slot-id="button" data-slot-res="lg")
        +content-column-main._ptop-small
          +offers
            +offers-header('orange', 'HOT DESKS', '4 offers')
            +offers-describe
            +offers-list
              each offer in offers
                +offer(offer.name, offer.value, offer.checked)(class=offer.status)
                  +e.H5.title!= offer.title
                  +e.text!= offer.text
          +offers
            +offers-header('red', 'DEDICATED DESKS', '2 offers')
            +offers-describe
            +offers-list
              +offer('offer', 'offer5', 'checked')
                +e.H5.title Hot Desk on 4-th floor
                +e.text This is a comment that you provide for the Hot desk offer just to keep clear the information about following retnal offer. Somehow this information can help you to fastly surf tihin your offers.
              +offer('offer', 'offer6', 'checked')
                +e.H5.title Hot Desk on 4-th floor
                +e.text This is a comment that you provide for the Hot desk offer just to keep clear the information about following retnal offer. Somehow this information can help you to fastly surf tihin your offers.
          +offers.is-empty
            +offers-header('blue', 'MEETING ROOMS', 'no offers')
            +offers-describe
            +offers-list
          +offers
            +offers-header('green', 'OFFICE SPACES', '1 offer')
            +offers-describe
            +offers-list
              +offer('offer', 'offer7', 'checked')
                +e.H5.title Hot Desk on 4-th floor
                +e.text This is a comment that you provide for the Hot desk offer just to keep clear the information about following retnal offer.

block panels
  +main-menu-inner
    +nav-list(getData('main-menu-user.json'))

block popups
  //- +popup-add-offer#popup-add-rental-offer
