extends ../../../layouts/default-login

block head
  - var pageTitle = 'SpacePool - Sign Up'


block content
  +content-origin._reverse._last._mt40
    .container
      +grid.grid_layout.grid_content
        +col({ xl: 3, lg: 12})
          +sidebar-nosticky._no-bg
            +page-title._small.__title Choose an option:
            +e.toggles
              +form-toggle({radio: {checked: true, name: "userType", value: "tenant", show: "socials", hide: ""}, arrow: true, subtitle: "To rent Spaces Sign up as", title: "Tenant", describe: "Register as a Tenant to&nbsp;get opportunity to rent Hot and Fixed desks, Meeting Rooms and Office Spaces."}).__toggle
              +form-toggle({radio: {name: "userType", value: "host", show: "", hide: "socials"}, arrow: true, subtitle: "To list on Spacepool sign up as", title: "Host", describe: "Register as a host and get the opportunity to list your space on Spacepool and make offers for thousands of tenants"}).__toggle
        +col({ xl: 8, lg: 12})
          +form()(data-validated-form)
            +form-section()._mg43(data-form-element="socials")
              +form-section-header._mg35-2
                +form-section-text You can choose one of automatic options using social media:
              +grid.grid_layout.grid_int10
                +col({xl: 6, sm: 12})
                  +social-button('fb-symbol')._fb._white._h60(href="#") Sign up with Facebook
                +col({xl: 6, sm: 12})
                  +social-button('', 'assets/images/google.svg')._gg._white._h60(href="#") Sign up with Google Account
            +form-section._mg66
              +form-section-header._mg65
                +form-section-text Or just feel the form below:
              +grid.grid_big.grid_int59
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('First name')
                      +input(type="text" name="firstName" value="Eugene" placeholder="First name" required="required")
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('Last name')
                      +input(type="text" name="lastName" value="Sheeleen" placeholder="Last name" required="required")
                +col({xl: 12 })
                  +form-section-wrapper
                    +form-box('E-mail adress')
                      +input(type="email" name="email" placeholder="E-mail adress" required="required")
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('Password')
                      +input(type="password" name="password" placeholder="Password"
                      data-parsley-passwordequalto="[data-password2]" data-password1="password1" required="required")
                +col({xl: 6, md:12 }).hide-md
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('Password one more time')
                      +input(type="password" name="password" placeholder="Password one more time" data-password2="password2"
                      data-parsley-passwordequalto="[data-password1]" required="required")
            +form-section._mg66
              +grid.grid_big.grid_int59
                +col({xl: 6, md:12 })
                  +form-section-wrapper._mg22._shiftl
                    +checkbox('agreement', '1', true, true) I agree with Terms and Conditions
                  +form-section-wrapper._mg22._shiftl
                    +checkbox('subscribe', '1', true) Sign me up to Space Pool notification via E-mail
                +col({xl: 6, md:12 })
                  +form-section-wrapper._fxe._h100p._pb
                    +button('button')(type="submit")._wide._short Sign up
        +col({ xl: 1, lg: 12}).hide-lg

block panels
  +main-menu-inner
    +nav-list(getData('main-menu-user.json'))
