.layout-header {
  $b: &;

  display: flex;
  justify-content: flex-start;
  z-index: 5;
  background-color: $nd-color-bg;

  @include rule(height, (xl: 142px, xlg: 142, lg: 106, md: 80, sm: 60));

  &__boxes {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    #{$b}_main & {
      margin-bottom: auto;
    }
  }

  &__box {
    @include rule(width, (xl: 12px, xlg: 12, lg: 10, md: 6, sm: 6));
    @include rule(height, (xl: 12px, xlg: 12, lg: 10, md: 6, sm: 6));
  }

  &__title {
    display: block;
    font-family: $font-stolzl;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.19;

    @include rule(font-size, (xl: 30px, xlg: 30, lg: 24, md: 18, sm: 18));

    &_fz20 {
      @include rule(font-size, (xl: 20px, xlg: 20, lg: 20, md: 18, sm: 18));
    }
  }

  &__share {
    @include rule(font-size, (xl: 16px, xlg: 16, lg: 16, md: 16, sm: 16));

    font-weight: 600;
    letter-spacing: normal;
    line-height: (36 / 16);

    @include screen('lg', max, 2) {
      line-height: (28 / 16);
    }

    @include screen('md', max, 2) {
      line-height: (22 / 16);
    }

    @include screen('sm', max, 2) {
      line-height: 1.2;
    }
  }

  &__close {
    @include rule(width, (xl: 104px, xlg: 104, lg: 72, md: 50, sm: 60));

    border-right: 1px solid $nd-color-border6;
    flex: none;

    svg {
      @include rule(width, (xl: 18px, xlg: 18, lg: 18, md: 15, sm: 15));
      @include rule(height, (xl: 18px, xlg: 18, lg: 18, md: 15, sm: 15));

      @include screen('sm', max, 2) {
        display: none;
      }
    }

    @include screen('sm', max, 2) {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: $icon-arrow5;
      border-right: none;
      background-size: pxtovw(22, 375);
    }
  }

  &__back {
    position: relative;

    @include rule(width, (xl: 104px, xlg: 104, lg: 72, md: 50, sm: 60));

    svg {
      @include rule(width, (xl: 22px, xlg: 22, lg: 22, md: 22, sm: 22));
      @include rule(height, (xl: 22px, xlg: 22, lg: 22, md: 22, sm: 22));

      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: 50% 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    box-sizing: border-box;

    @include screen('sm', max, 2) {
      justify-content: flex-end;
      align-items: center;
    }

    #{$b}_main & {
      @include rule(padding-left, (xl: 45px, xlg: 45, lg: 25, md: 25, sm: 25));
      @include rule(padding-right, (xl: 50px, xlg: 50, lg: 30, md: 40, sm: 25));
      @include rule(padding-top, (xl: 23px, xlg: 23, lg: 28, md: 25, sm: 0));
      @include rule(padding-bottom, (xl: 16px, xlg: 16, lg: 13, md: 17, sm: 0));
    }

    #{$b}_sort & {
      flex-wrap: wrap;
      align-content: space-between;

      @include rule(padding-top, (xl: 24px, xlg: 24, lg: 24, md: 10, sm: 0));
      @include rule(padding-left, (xl: 50px, xlg: 50, lg: 28, md: 28, sm: 25));
      @include rule(padding-right, (xl: 50px, xlg: 50, lg: 25, md: 25, sm: 25));
      @include rule(padding-bottom, (md: 12, sm: 12));

      @include screen('md', max, 2) {
        align-items: center;
        flex: none;
        width: 100%;
      }

      .map-in-fullview &, .is-map-animated-out & {
        @include rule(padding-top, (xl: 17px, xlg: 17, lg: 17, md: 5, sm: 5));
        @include rule(padding-bottom, (md: 10, sm: 10));
        @include rule(padding-left, (xl: 25px, xlg: 25, lg: 28, md: 28, sm: 25));
        @include rule(padding-right, (xl: 25px, xlg: 25, lg: 25, md: 25, sm: 25));

        @include screen('md', max, 2) {
          flex: 1;
          width: auto;
        }
      }
    }

    #{$b}_inner & {
      @include rule(padding-left, (xl: 0, sm: 25));
      @include rule(padding-right, (xl: 0, sm: 25));
      @include rule(padding-top, (xl: 36px, xlg: 36, lg: 22, md: 30, sm: 0));
      @include rule(padding-bottom, (xl: 10px, xlg: 10, lg: 13, md: 0, sm: 0));
    }

    #{$b}_list & {
      align-content: flex-end;

      @include screen('md', max, 2) {
        align-content: center;
      }
    }
  }

  &__select {
    width: 100%;

    @include rule(width, (md: 150, sm: 150));

    #{$b}_list & {
      @include screen('md', max, 2) {
        width: 100%;
      }

      .drop-navigation {
        &__head {
          @include screen('md', max, 2) {
            width: 100%;
          }
        }
      }
    }
  }

  &__describe {
    #{$b}_main & {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    #{$b}_inner & {
      @include screen('sm', max, 2) {
        display: none;
      }
    }
  }

  &_popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $nd-color-basic-light;
    transform: translate3d(0, -100%, 0);

    @include rule(height, (xl: 142px, xlg: 142, lg: 114, md: 80, sm: 60));

    @include screen('lg', max, 2) {
      transform: translate3d(0, pxtovw(-106, 1366), 0);
    }

    @include screen('md', max, 2) {
      transform: translate3d(0, 0, 0);
    }

    @include screen('sm', max, 2) {
      box-shadow: boxShadow(0, 2, 2, 0,  rgba(0, 0, 0, .06), 375);
    }

    .map-in-fullview &, .is-map-animated-out & {
      @include rule(height, (xl: 114px, xlg: 114, lg: 114, md: 80, sm: 60));

      transform: translate3d(0, 0, 0);
      box-shadow: boxShadow(0, 2, 2, 0,  rgba(0, 0, 0, .06));

      @include screen('xlg') {
        box-shadow: boxShadow(0, 2, 2, 0, rgba(0, 0, 0, .06), 1660);
      }

      @include screen('lg') {
        box-shadow: boxShadow(0, 2, 2, 0,  rgba(0, 0, 0, .06), 1366);
      }

      @include screen('md') {
        box-shadow: boxShadow(0, 2, 2, 0,  rgba(0, 0, 0, .06), 960);
      }

      @include screen('sm') {
        box-shadow: boxShadow(0, 2, 2, 0,  rgba(0, 0, 0, .06), 375);
      }
    }

    #{$b} {
      &__boxes {
        @include screen('sm', max, 2) {
          display: none;
        }
      }

      &__title {
        &_main {
          @include screen('sm', max, 2) {
            display: none;
          }
        }
      }
    }
  }

  &_sort {
    padding-bottom: 0;

    #{$b} {
      &__boxes {
        display: none;
      }

      &__box {
        @include rule(width, (xl: 7px, xlg: 7, lg: 7, md: 7, sm: 7));
        @include rule(height, (xl: 7px, xlg: 7, lg: 7, md: 7, sm: 7));
      }

      &__title {
        display: block;

        &_main {
          @include rule(font-size, (xl: 16px, xlg: 16, lg: 16, md: 16, sm: 16));
          @include rule(margin-top, (xl: 7px, xlg: 7, lg: 7, md: 0, sm: 0));
          @include rule(margin-bottom, (md: 7, sm: 7));

          display: none;
        }
      }

      &__close {
        position: absolute;
        right: 0;
        display: none;

        @include rule(top, (xl: 6px, xlg: 6, lg: 10, md: 0, sm: 0));
        @include rule(width, (xl: 68px, xlg: 68, lg: 60, md: 60, sm: 60));
        @include rule(height, (xl: 68px, xlg: 68, lg: 60, md: 50, sm: 50));

        svg {
          @include rule(width, (xl: 16px, xlg: 16, lg: 16, md: 15, sm: 15));
          @include rule(height, (xl: 16px, xlg: 16, lg: 16, md: 15, sm: 15));
        }
      }
    }

    .map-in-fullview &,
    .is-map-animated-out & {
      #{$b}__boxes {
        display: flex;

        @include screen('md', max, 2) {
          display: none;
        }
      }

      #{$b}__title {
        display: none;

        &_main {
          display: block;
        }
      }
    }

    .layout-list-active & {
      #{$b}__close {
        display: block;
      }
    }

    .layout-offer-active & {
      #{$b}__close {
        display: none;
      }
    }
  }

  &_inner {
    padding-left: 0;
    padding-right: 0;

    @include rule(height, (xl: 114px, xlg: 114, lg: 95, md: 80, sm: 60));

    @include screen('sm', max, 2) {
      background-color: $nd-color-basic-light;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }

    #{$b} {
      &__close {
        display: none;
      }

      &__title {
        @include rule(font-size, (md: 20, sm: 18));
      }
    }
  }

  &_list {
    border-bottom: 1px solid $nd-color-border6;
    transform: translate3d(0, 0, 0);
    box-shadow: none;

    @include rule(height, (xl: 98px, xlg: 98, lg: 72, md: 75, sm: 60));

    @include screen('md', max, 2) {
      border-bottom: none;
    }
  }

  &_bg-gray {
    background-color: $nd-color-bg;
  }

  &_main.layout-header_popup {
    border-right: 1px solid $nd-color-border6;

    @include screen('sm', max, 2) {
      border-right: none;
    }
  }

  &_sort {
    @include screen('md', max, 2) {
      align-items: flex-end;
    }

    .map-in-fullview &, .is-map-animated-out & {
      @include screen('md', max, 2) {
        align-items: stretch;
      }
    }
  }

  .drop-navigation {

    &__item {
      &:not(:last-child) {
        margin-right: 40px;

        @include screen('xl', max, 2) {
          margin-right: 25px;
        }

        @include rule(margin-right, (xlg: 28, lg: 28, md: 0, sm: 0));
      }
    }

    &__dropdown .drop-navigation__link {
      @include rule(padding-bottom, (xl: 27px, xlg: 27, lg: 16, md: 10, sm: 10));

      .map-in-fullview &, .is-map-animated-out & {
        @include rule(padding-bottom, (xl: 16px, xlg: 16, lg: 16, md: 10, sm: 10));
      }
    }

    .map-in-fullview &, .is-map-animated-out &, .layout-header_list & {
      @include screen('md', max, 2) {
        width: 100%;
      }

      &__head {
        @include screen('md', max, 2) {
          width: 100%;
        }
      }
    }
  }
}
