mixin info-slide()
  +b.info-slide&attributes(attributes)
    block

mixin info-slide-column()
  +e.column&attributes(attributes)
    block

mixin info-slide-media()
  +e.media&attributes(attributes)
    block

mixin info-slide-title(tag)
  +e.H3.title&attributes(attributes)
    block

mixin info-slide-text()
  +e.text&attributes(attributes)
    block
