mixin password-indicator()
  +b.SECTION.password-indicator&attributes(attributes)
    +e.H4.title(data-pass-weak="Uhm... Really?" data-pass-medium="Medium strength" data-pass-strong="Strong password")
      span
        block
    +e.line
      span
      span
      span
