.password-indicator {
  $b: &;

  display: block;
  width: 100%;
  text-align: right;

  &__title {
    display: block;
    width: 100%;
    text-align: right;
    font-family: $font-stolzl;
    font-weight: 400;
    line-height: (16 / 13);
    letter-spacing: -.015em;
    color: $nd-color-basic;
    transition: color $ease-main;

    @include rule(font-size, (xl: 13px, xlg: 13, lg: 13, md: 13, sm: 13));

    #{$b}.is-weak & {
      color: $nd-color-fixeddesk;

      &::before {
        display: inline-block;
        content: attr(data-pass-weak);
      }

      span {
        display: none;
      }
    }

    #{$b}.is-medium & {
      color: $nd-color-hotdesk;

      &::before {
        display: inline-block;
        content: attr(data-pass-medium);
      }

      span {
        display: none;
      }
    }

    #{$b}.is-strong & {
      color: $nd-color-green;

      &::before {
        display: inline-block;
        content: attr(data-pass-strong);
      }

      span {
        display: none;
      }
    }
  }

  &__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 12px, xlg: 12, lg: 12, md: 12, sm: 12));
    }

    span {
      flex: 1;
      display: inline-block;
      background-color: $nd-color-border5;
      transition: background $ease-main;

      @include rule(height, (xl: 7px, xlg: 7, lg: 7, md: 7, sm: 7));

      &:not(:first-child) {
        @include rule(margin-left, (xl: 9px, xlg: 9, lg: 9, md: 9, sm: 9));
      }

      #{$b}.is-weak & {
        &:first-child {
          background-color: $nd-color-fixeddesk;
        }
      }

      #{$b}.is-medium & {
        &:not(:last-child) {
          background-color: $nd-color-hotdesk;
        }
      }

      #{$b}.is-strong & {
        background-color: $nd-color-green;
      }
    }
  }
}
