.info-notices {
  $b: &;

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 300px;
  height: 378px;
  transition: opacity $ease-main, transform $ease-main;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, 20px, 0);
  z-index: 21;
  box-sizing: border-box;
  padding-top: 16px;

  @include screen('md') {
    padding-top: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(100%, 0, 0);
  }

  &.is-opened {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
    pointer-events: auto;

    @include screen('md') {
      transform: translate3d(0, 0, 0);
    }
  }

  &__tail {
    position: absolute;
    display: block;
    box-sizing: border-box;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 8px solid $color-white;
    top: 8px;
    left: 50%;
    z-index: 3;
    transform: translate3d(-50%, 0, 0);
  }

  &::before {
    @include pseudo;

    width: 16px;
    height: 16px;
    top: 8px;
    left: 50%;
    box-shadow: 0 0 26px rgba(36, 41, 49, .15);
    transform: translate3d(-50%, 0, 0) rotate(30deg) skewX(-30deg);
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 6px 0 64px;
    width: 100%;
    background-color: $color-white;
    overflow: hidden;
    box-shadow: 0 0 26px rgba(36, 41, 49, .15);
    z-index: 2;

    @include screen('md') {
      padding: 70px 0 134px;
    }

    @include screen('sm') {
      padding: 46px 0 92px;
    }
  }

  &__head {
    display: none;

    @include screen('md') {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      padding: 0 40px;
      height: 70px;
      border-bottom: 1px solid $color-border-light;
      background-color: $color-white;
      z-index: 2;
    }

    @include screen('sm') {
      padding: 0 19px;
      height: 46px;
    }
  }

  &__title {
    @include heading-3;

    font-weight: 700;
    user-select: none;
    line-height: 1;

    @include screen('sm') {
      @include heading-4;

      line-height: 1;
    }
  }

  &__scrollblock {
    display: block;
    width: 100%;
    z-index: 1;
  }

  &__content {
    display: block;
    width: 100%;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 17px 14px 22px;
    box-sizing: border-box;
    background-color: $color-white;
    z-index: 2;

    @include screen('md') {
      bottom: 70px;
    }

    @include screen('sm') {
      padding: 8px 14px;
      bottom: 50px;
    }

    &::before {
      @include pseudo;

      width: calc(100% - 28px);
      height: 1px;
      top: -1px;
      left: 14px;
      background-color: $color-border-light;

      @include screen('md') {
        width: 100%;
        left: 0;
      }
    }
  }

  &__link {
    @include text-big;

    line-height: (26 / 18);

    @include screen('sm') {
      @include text;

      line-height: (26 / 14);
    }
  }

  &__marker {
    margin-left: 0;
    margin-right: 10px;

    @include screen('sm') {
      font-size: 11px !important;
      line-height: 12px !important;
      min-width: 12px !important;
      height: 12px !important;
      width: 12px !important;
    }

    #{$b}__bottom & {
      margin-left: 10px;
      margin-right: 0;

      @include screen('md') {
        display: none;
      }
    }
  }

  &__close {
    position: absolute;
    top: 13px;
    left: 26px;

    @include screen('sm') {
      top: 2px;
      left: 9px;
    }
  }
}
