.form-box {
  $b: &;

  display: block;
  width: 100%;
  position: relative;

  &__label {
    @include text-big;

    font-weight: 400;
    line-height: (26/18);
    position: absolute;
    display: block;
    bottom: 9px;
    left: 0;
    color: $color-placeholder;
    transition: transform $ease-main, color $ease-main, font $ease-main;

    input:hover~&,
    input:focus~&,
    textarea:hover~&,
    textarea:focus~& {
      color: $color-basic;
    }

    #{$b}.is-top &,
    .choices.is-item-select~&,
    .choices.is-open~& {
      @include text;

      font-weight: 700;
      color: $color-basic;
      line-height: (26/14);
      transform: translate3d(0, -27px, 0);
    }
  }

  &__icon {
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 16px;
    right: 3px;
    fill: currentColor;
  }

  &__phone {

    &_code {
      width: 44px;
      max-width: 44px;
    }

    &_number {
      flex: 1;
      padding-left: 14px;
    }
  }

  &_phone {
    display: flex;
    justify-content: flex-start;

    &::before {
      @include pseudo;

      bottom: 10px;
      left: 42px;
      width: 1px;
      height: 20px;
      background-color: $color-form-border;
      opacity: 0;
      transition: opacity $ease-main;
      pointer-events: none;
    }

    &.is-top::before {
      opacity: 1;
    }
  }
}
