mixin form-box(label, icon, tag, symbol, symbol2, symbol3)
  - var addClass = (symbol || symbol2 || symbol3) ? '_icon' : '';
  +b(tag || 'label').form-box&attributes(attributes)(class=addClass)
    block
    if label
      +e.label!= label
    if icon
      +icon(icon).__icon
    if symbol
      +e.icon_text!=symbol
    if symbol2
      +e.icon_text._text_r0!=symbol2
    if symbol3
      +e.icon_text._text_small!= symbol3


mixin form-box-removable(label, tag, nopoint)
  +b(tag || 'label').form-box&attributes(attributes)
    block
    if label
      +e.label!= label
    if !nopoint
      +e.point
    +e.BUTTON.delete.js-delete-object-except-last(type="button")
      +icon('cross').__icon._cross
