.form-box {
  $b: &;

  display: block;
  width: 100%;
  position: relative;

  &__label {
    @include text-big;
    @include ellipsis(100%);

    font-weight: 400;
    line-height: (26/18);
    position: absolute;
    display: block;
    bottom: 9px;
    left: 0;
    color: $color-placeholder;
    transition: transform $ease-main, color $ease-main, font $ease-main;
    z-index: 2;

    @include screen('sm') {
      @include text16;
    }

    input:hover~&,
    input:focus~&,
    textarea:hover~&,
    textarea:focus~& {
      color: $color-basic;

      .is-error & {
        color: $color-error;
      }
    }

    #{$b}.is-top &,
    .choices.is-item-select~&,
    .choices.is-open~& {
      @include text;

      font-weight: 700;
      color: $color-basic;
      line-height: (26/14);
      transform: translate3d(0, -27px, 0);

      @include screen('sm') {
        @include text;

        line-height: (26/14);
      }

      .is-error & {
        color: $color-error;
      }
    }

    textarea~& {
      top: 4px;
      bottom: auto;
    }

    #{$b}.is-top textarea~& {
      transform: translate3d(0, -24px, 0);
    }

    .is-error & {
      color: $color-error;
    }
  }

  &__icon {
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 16px;
    right: 3px;
    fill: currentColor;

    @include screen('md') {
      right: 12px;
    }

    @include screen('sm') {
      right: 9px;
    }

    &_text {
      @include text-big;

      bottom: 13px;
      right: 6px;
      font-weight: 700;
      line-height: 1;
      width: auto;
      height: auto;

      @include screen('md') {
        right: 12px;
      }

      @include screen('sm') {
        right: 9px;
      }
    }
  }

  &__password-mask {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 1px);
    max-width: 100%;
    overflow: hidden;
    padding-right: 2px;
    background-color: $color-bg;
    pointer-events: none;
    z-index: 3;

    span {
      min-width: 10px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $color-basic;

      &:not(:last-child) {
        margin-right: 9px;
      }
    }

    &::before {
      @include pseudo;

      top: 50%;
      right: 0;
      width: 1px;
      height: 26px;
      background-color: $color-basic;
      opacity: 0;
      margin-top: -3px;
      transform: translate3d(0, -50%, 0);
    }
  }

  &__phone {

    &_code.input {
      width: 44px;
      max-width: 44px;
    }

    &_number.input {
      width: calc(100% - 44px);
      padding-left: 14px;
    }
  }

  &__point {
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-basic;
    transform: translate3d(0, -50%, 0);
    margin-top: -4px;
  }

  &__delete {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 40px;

    #{$b}__icon {
      width: 16px;
      height: 16px;
      transition: fill $ease-main;
      fill: $color-border-light;
    }

    &:hover #{$b}__icon {
      fill: $color-basic;
    }
  }

  &_phone {
    display: flex;
    justify-content: flex-start;

    &::before {
      @include pseudo;

      bottom: 12px;
      left: 42px;
      width: 1px;
      height: 18px;
      background-color: $color-form-border;
      opacity: 0;
      transition: opacity $ease-main;
      pointer-events: none;
    }

    &.is-top::before {
      opacity: 1;
    }
  }

  &_password {

    .input {
      color: transparent;
      user-select: none;
    }

    .input:not([readonly]):focus~#{$b}__password-mask {

      &::before {
        animation: cursor 1s ease infinite;
      }
    }
  }

  &_icon {

    .input {
      padding-right: 30px;
    }
  }
}
