.nd-logo {
  $b: &;

  display: block;
  font-size: 0;
  line-height: 0;
  width: 182px;
  height: 37px;
  color: inherit;

  @include screen('xlg', max, 2) {
    width: pxtovw(182, 1660);
    height: pxtovw(37, 1660);
  }

  @include screen('lg', max, 2) {
    width: pxtovw(154, 1366);
    height: pxtovw(31, 1366);
  }

  @include screen('md', max, 2) {
    width: pxtovw(154, 960);
    height: pxtovw(31, 960);
  }

  @include screen('sm', max, 2) {
    width: pxtovw(150, 375);
    height: pxtovw(31, 375);
  }

  &__icon {
    display: inline-block;
    fill: currentColor;
    width: 100%;
    height: 100%;
  }

  &_footer {
    width: 182px;
    height: 37px;
    transition: color $ease-main;

    @include screen('xlg', max, 2) {
      width: pxtovw(182, 1660);
      height: pxtovw(37, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(172, 1366);
      height: pxtovw(36, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(182, 960);
      height: pxtovw(37, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(150, 375);
      height: pxtovw(31, 375);
    }

    &:hover {
      color: $nd-color-main;
    }
  }

  &_rs {
    width: 182px;
    height: 37px;

    @include screen('xlg', max, 2) {
      width: pxtovw(182, 1660);
      height: pxtovw(37, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(182, 1366);
      height: pxtovw(37, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(136, 960);
      height: pxtovw(28, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(150, 375);
      height: pxtovw(31, 375);
    }
  }

  &_cov {
    width: 182px;
    height: 37px;

    @include screen('xlg', max, 2) {
      width: pxtovw(182, 1660);
      height: pxtovw(37, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(182, 1366);
      height: pxtovw(37, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(127, 960);
      height: pxtovw(27, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(150, 375);
      height: pxtovw(31, 375);
    }
  }

  &_short {
    @include rule(width, (xl: 38px, xlg: 38, lg: 38, md: 38, sm: 38));
    @include rule(height, (xl: 38px, xlg: 38, lg: 38, md: 38, sm: 38));

    color: $nd-color-logo;
  }
}
