mixin popup-agreement(data)
  +popup-free._nobg._wide._light.popup-document__&attributes(attributes)._agreement
    +e.content
      +e.column_left
        +popup-header.popup__header_white.popup__header_border.popup__header_fx
          +popup-title Terms and conditions
          div.popup__info
            div.popup__header-icon
              +icon('long-arrow', true).popup__arrow
            div.popup__header-text Please read the information in the following enclosures.
        +e.wrapper.js-scrollbar-light
          +e.inner-content
            .content-zone.content-zone_doc
              p The building starts to work at 8:00 am, workers can come at 8:30 am. Cleaning every day starts at 9pm. Car parking available for clients within 1 hour, afterwards parking will be charged 5 pounds per hour. The building starts to work at 8:00 am, workers can come at 8:30 am. Cleaning every day starts at 9pm.
              p Car parking available for clients within 1 hour, afterwards parking will be charged 5 pounds per hour. The building starts to work at 8:00 am, workers can come at 8:30 am. Cleaning every day starts at 9pm. Car parking available for clients within 1 hour, afterwards parking will be charged 5 pounds per hour.
              ul
                li High Speed Internet
                li Micro-Roasted Coffee
                li Onsite Staff
                li Cleaning Services
                li Unique Common Areas
                li Conference Rooms
                li Professional & Social Events
                li Phone Booths
                li Fruit Water
                li Printing
                li Dog-friendly
              p The building starts to work at 8:00 am, workers can come at 8:30 am. Cleaning every day starts at 9pm. Car parking available for clients within 1 hour, afterwards parking will be charged 5 pounds per hour. The building starts to work at 8:00 am, workers can come at 8:30 am. Cleaning every day starts at 9pm.
              p Car parking available for clients within 1 hour, afterwards parking will be charged 5 pounds per hour. The building starts to work at 8:00 am, workers can come at 8:30 am. Cleaning every day starts at 9pm. Car parking available for clients within 1 hour, afterwards parking will be charged 5 pounds per hour.
            block
      +e.column_right
        +contract-status(data.status).__status

mixin popup-agreement-mobile(data)
  +popup-mobile.popup-document__&attributes(attributes)._agreement
    +popup-header.popup__header_white
      +popup-title Terms and conditions
    +popup-content
      div.popup__scrollblock.js-scrollbar
        +e.inner-content
          .content-zone.content-zone_doc
              p The building starts to work at 8:00 am, workers can come at 8:30 am. Cleaning every day starts at 9pm. Car parking available for clients within 1 hour, afterwards parking will be charged 5 pounds per hour. The building starts to work at 8:00 am, workers can come at 8:30 am. Cleaning every day starts at 9pm.
              p Car parking available for clients within 1 hour, afterwards parking will be charged 5 pounds per hour. The building starts to work at 8:00 am, workers can come at 8:30 am. Cleaning every day starts at 9pm. Car parking available for clients within 1 hour, afterwards parking will be charged 5 pounds per hour.
              ul
                li High Speed Internet
                li Micro-Roasted Coffee
                li Onsite Staff
                li Cleaning Services
                li Unique Common Areas
                li Conference Rooms
                li Professional & Social Events
                li Phone Booths
                li Fruit Water
                li Printing
                li Dog-friendly
              p The building starts to work at 8:00 am, workers can come at 8:30 am. Cleaning every day starts at 9pm. Car parking available for clients within 1 hour, afterwards parking will be charged 5 pounds per hour. The building starts to work at 8:00 am, workers can come at 8:30 am. Cleaning every day starts at 9pm.
              p Car parking available for clients within 1 hour, afterwards parking will be charged 5 pounds per hour. The building starts to work at 8:00 am, workers can come at 8:30 am. Cleaning every day starts at 9pm. Car parking available for clients within 1 hour, afterwards parking will be charged 5 pounds per hour.
    +popup-footer(true).popup__footer_dropdown
      +contract-status(data.status).__status
