extends ../../layouts/default-login

block head
  - var pageTitle = 'SpacePool - Profile | Company details'

block header
  -var headerClass = '_border'

block content
  +content-origin._reverse
    .container
      +e.wrapper
        +content-column-aside._ptop.hide-lg
          +side-navigation('Change your personal info, password and notification options here')
            +nav-list-sidebar(getData('side-menu-host2.json'), 'Profile & Settings').__navigation
        +content-column-main
          +filter-select.__filter.js-offer-select
            +filter-select-head.hide-from-sm
              +filter-select-label.link.filter-select__link
                span.link__text Company details
            +filter-select-dropdown
              +filter-select-header.hide-from-sm Settings
              +filter-select-item._mr56
                +b.A.link_light-underline._mark.__link(href="#" data-offer-link)
                  +e.SPAN.text(data-select-value) Basic account information
              +filter-select-item._mr56
                +b.A.link_light-underline._mark.__link.is-select(href="#" data-offer-link)
                  +e.SPAN.text(data-select-value) Company details
                  +indicator._sm-small.__marker 1
              +filter-select-item._mr56
                +b.A.link_light-underline._mark.is-new.__link(href="#" data-offer-link)
                  +e.SPAN.text(data-select-value) KYC
                  +indicator._sm-small.__marker 1
          +form._pb._negative-mg.js-form-with-hidden-panel(data-validated-form)
            +form-section._mg90
              +form-section-content
                +form-section-header._mg64
                  +form-section-title._fz24 Company information
                +grid.grid_big.grid_int59.grid_c9
                  +col({xl: 9 })
                    +form-section-wrapper
                      +form-box('Company name')
                        +input(type="text" name="companyName" placeholder="Company name" required="required" value="DEZI Co-working")
                  +col({xl: 4, md:9 })
                    +form-section-wrapper
                      +form-box('Company Number')
                        +input(type="text" name="companyNum" placeholder="Company Number" required="required")
                  +col({xl: 5, md:9 })
                    +form-section-wrapper
                      +form-box('VAT number (if you have it)')
                        +input(type="text" name="VATnumber" placeholder="VAT number (if you have it)")
                  +col({xl: 4, md:9 })
                    +form-section-wrapper
                      +form-box('Registered Adress Line 1')
                        +input(type="text" name="regAdressL1" placeholder="Registered Adress Line 1" required="required")
                  +col({xl: 5, md:9 })
                    +form-section-wrapper
                      +form-box('Registered Adress Line 2')
                        +input(type="text" name="regAdressL2" placeholder="Registered Adress Line 2" required="required")
                  +col({xl: 4, md:9 })
                    +form-section-wrapper
                      +form-box('Country')
                        +select.js-select-input(name="country")
                          option(value="" placeholder) Country
                          option(value="lv") Latvia
                          option(value="ru") Russia
                          option(value="de") Germany
                          option(value="fr") France
                  +col({xl: 5, md:9 })
                    +form-section-wrapper
                      +form-box('City')
                        +input(type="text" name="city" placeholder="City")
                  +col({xl: 4, md:9 })
                    +form-section-wrapper
                      +form-box('Postcode')
                        +input(type="text" name="postCode" placeholder="Postcode" required="required")
            +form-section._mg90
              +form-section-header._mg67
                +form-section-title._fz24 Legal representative information
              +grid.grid_big.grid_int59.grid_c9
                +col({xl: 4, md:9 })
                  +form-section-wrapper
                    +form-box('Company director name')
                      +input(type="text" name="directorName" value="Eugene" placeholder="Company director name")
                +col({xl: 5, md:9 })
                  +form-section-wrapper
                    +form-box('Company director Last name')
                      +input(type="text" name="directorLastName" value="Sheeleen" placeholder="Company director Last name")
                +col({xl: 4, md:9 })
                  +form-section-wrapper
                    +form-box('Date of birth', 'calendar2')._icon
                      +input.js-datepicker(type="text" name="birthDate" placeholder="Date of birth" readonly="readonly" data-mindate='')
                +col({xl: 2, md:4, sm: 9 })
                  +form-section-wrapper
                    +form-box('Nationality')
                      +select.js-select-input(name="nationality")
                        option(value="" placeholder) Nationality
                        option(value="eng") English
                        option(value="rus") Russians
                        option(value="ger") Germans
                        option(value="lat") Latvians
                +col({xl: 3, md:5, sm: 9 })
                  +form-section-wrapper
                    +form-box('Country of Residence')
                      +select.js-select-input(name="countryResidence")
                        option(value="" placeholder) Country of Residence
                        option(value="lv") Latvia
                        option(value="ru") Russia
                        option(value="de") Germany
                        option(value="fr") France
                +col({xl: 4, md:9 })
                  +form-section-wrapper
                    +form-box('Service Adress Line 1')
                      +input(type="text" name="serviceAdressL1" placeholder="Service Adress Line 1")
                +col({xl: 5, md:9 })
                  +form-section-wrapper
                    +form-box('Service Adress Line 2')
                      +input(type="text" name="serviceAdressL2" placeholder="Service Adress Line 2")
                +col({xl: 4, md:9 })
                  +form-section-wrapper
                    +form-box('Country')
                      +select.js-select-input(name="country")
                        option(value="" placeholder) Country
                        option(value="lv") Latvia
                        option(value="ru") Russia
                        option(value="de") Germany
                        option(value="fr") France
                +col({xl: 5, md:9 })
                  +form-section-wrapper
                    +form-box('City')
                      +input(type="text" name="city" placeholder="City")
                +col({xl: 4, md:9 })
                  +form-section-wrapper
                    +form-box('Postcode')
                      +input(type="text" name="postCode" placeholder="Postcode")
            +e.panel_fixed(data-hidden-panel)
              .container
                +grid
                  +col({ xl: 3, lg: 12 })
                  +col({ xl: 9, lg: 12 })
                    +form-panel()
                      +link-icon('select-arrow', 'button')(type="reset")._back._bold._no-shadow.__button.js-form-reset.js-hide-form-panel Discard <span class="hide-sm">changes</span>
                      +button('button')(type="submit").__button_wide.js-form-submit.js-hide-form-panel Save changes

block panels
  +main-menu-inner
    +nav-list(getData('main-menu-host2.json'))

block popups
  +popup-password-change#popup-password-change
  +popup-warning#popup-warning
