.button-heart {
  $b: &;

  display: block;
  position: relative;
  width: 27px;
  height: 24px;
  cursor: pointer;

  @include screen('sm') {
    width: 20px;
    height: 17px;
  }

  &__top, &__bottom {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    transition: opacity $ease-main;
    pointer-events: none;
  }

  &__top {
    z-index: 2;
  }

  &__bottom {
    z-index: 1;
    opacity: 0;

    #{$b}:hover &, #{$b}.is-active & {
      opacity: 1;
    }
  }

  &__icon {
    width: 27px;
    height: 24px;
    fill: $color-white;
    transition: all $ease-main;
    filter: drop-shadow(1px 1px 0 rgba(34, 42, 46, .2));

    @include screen('sm') {
      width: 20px;
      height: 17px;
    }

    #{$b}:hover &, #{$b}.is-active & {
      filter: drop-shadow(1px 1px 0 rgba(34, 42, 46, 0));
    }

    &_full {
      fill: $color-heart;
      width: 27px;
      height: 24px;
      filter: drop-shadow(1px 1px 0 rgba(34, 42, 46, 0));

      @include screen('sm') {
        width: 20px;
        height: 17px;
      }

      #{$b}:hover &, #{$b}.is-active & {
        filter: drop-shadow(1px 1px 0 rgba(34, 42, 46, .2));
      }
    }
  }

  &_white {
    #{$b}__icon {
      &_full {
        fill: $color-white;
      }
    }
  }

  &_gray {
    #{$b}__icon {
      fill: $color-text-light;
      filter: none;

      &_full {
        fill: $color-heart;
        filter: none;
      }
    }

    &:hover, &.is-active {
      #{$b}__icon {
        filter: none;

        &_full {
          filter: none;
        }
      }
    }
  }

  &_big {
    @include screen('sm') {
      width: 27px;
      height: 24px;
    }

    #{$b}__icon {
      @include screen('sm') {
        width: 27px;
        height: 24px;
      }

      &_full {
        @include screen('sm') {
          width: 27px;
          height: 24px;
        }
      }
    }
  }

  &_small {
    width: 20px;
    height: 17px;

    #{$b}__icon {
      width: 20px;
      height: 17px;

      &_full {
        width: 20px;
        height: 17px;
      }
    }
  }
}
