.social {
  $b: &;

  display: inline-block;
  font-size: 0;
  overflow: hidden;

  &__icon {
    display: inline-block;
    font-size: 0;
    min-width: 26px;
    width: 26px;
    height: 30px;
    fill: $color-basic;
    transition: fill $ease-main;

    #{$b}:hover & {
      fill: $color-basic-dark;
    }

    #{$b}_big & {
      min-width: 32px;
      width: 32px;
      height: 37px;
    }
  }
}

.nd-social {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  color: inherit;
  fill: currentColor;
  transition: opacity $ease-main;

  &:hover {
    opacity: .8;
  }

  &__icon {
    width: 28px;
    height: 28px;
    fill: inherit;

    @include screen('xlg', max, 2) {
      width: pxtovw(28, 1660);
      height: pxtovw(28, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(25, 1366);
      height: pxtovw(25, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(25, 960);
      height: pxtovw(25, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(23, 375);
      height: pxtovw(23, 375);
    }
  }
}
