mixin nd-space(tag)
  +b(tag || 'a').nd-space&attributes(attributes)
    block

mixin nd-space-media()
  +e.DIV.media&attributes(attributes)
    +e.DIV.image
      block

mixin nd-space-title(tag)
  +e(tag || 'h3').title&attributes(attributes)
    block

mixin nd-space-text()
  +e.DIV.text&attributes(attributes)
    block

mixin nd-space-type()
  +e.DIV.type&attributes(attributes)
    block

mixin nd-space-colors()
  +e.DIV.colors&attributes(attributes)
    block
