.nd-space {
  $b: &;

  display: block;
  box-sizing: border-box;
  color: $nd-color-basic;
  text-decoration: none;

  &__media {
    display: block;
    width: 100%;

    #{$b}_card & {
      box-sizing: border-box;
      padding-top: 63.3%;
      flex: none;

      @include screen('xlg', max, 2) {
        padding-top: 65.5%;
      }
    }

    #{$b}_search-card & {
      box-sizing: border-box;
      flex: none;
      width: 284px;
      height: 180px;
      padding-top: 0;

      @include screen('xlg', max, 2) {
        width: pxtovw(284, 1660);
        height: pxtovw(180, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(196, 1366);
        height: pxtovw(138, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(219, 960);
        height: pxtovw(151, 960);
      }

      @include screen('sm', max, 2) {
        width: 100%;
        height: auto;
        padding-top: 63.3%;
      }
    }

    #{$b}_map-card & {
      max-width: 100px;

      @include screen('xlg', max, 2) {
        max-width: pxtovw(100, 1660);
      }

      @include screen('lg', max, 2) {
        max-width: pxtovw(100, 1366);
      }

      @include screen('md', max, 2) {
        max-width: pxtovw(100, 960);
      }

      @include screen('sm', max, 2) {
        max-width: pxtovw(100, 375);
      }
    }

    .is-search-map-hide #{$b}_search-card & {
      width: 100%;
      height: auto;
      padding-top: 63.3%;

      @include screen('md', max, 2) {
        padding-top: 63.7%;
      }

      @include screen('sm', max, 2) {
        padding-top: 63.3%;
      }
    }

    &:not(:first-child) {
      margin-top: 16px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(16, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(13, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(13, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(13, 375);
      }
    }
  }

  &__image {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 62.9%;
    font-size: 0;
    line-height: 0;
    border-radius: 3px;

    @include screen('xlg', max, 2) {
      border-radius: pxtovw(3, 1660);
    }

    @include screen('lg', max, 2) {
      border-radius: pxtovw(3, 1366);
    }

    @include screen('md', max, 2) {
      border-radius: pxtovw(3, 960);
    }

    @include screen('sm', max, 2) {
      border-radius: pxtovw(3, 375);
    }

    #{$b}_map-card & {
      padding-top: 64.3%;
      border-radius: 0;
    }

    img {
      display: block;
      font-size: 0;
      line-height: 0;
      border-radius: 3px;

      @include fill-img;

      @include screen('xlg', max, 2) {
        border-radius: pxtovw(3, 1660);
      }

      @include screen('lg', max, 2) {
        border-radius: pxtovw(3, 1366);
      }

      @include screen('md', max, 2) {
        border-radius: pxtovw(3, 960);
      }

      @include screen('sm', max, 2) {
        border-radius: pxtovw(3, 375);
      }
    }
  }

  &__colors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &:not(:first-child) {
      margin-top: 16px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(16, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(13, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(13, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(13, 375);
      }
    }
  }

  &__type {
    width: 100%;

    &:not(:first-child) {
      margin-top: 16px;

      @include screen('xl', max, 2) {
        margin-top: 13px;
      }

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(13, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(13, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(13, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(13, 375);
      }
    }
  }

  &__title {
    display: block;
    width: 100%;
    font-family: $font-stolzl;
    font-weight: 400;
    letter-spacing: normal;
    font-size: 17px;
    line-height: (20 / 17);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(17, 1660);
    }

    @include screen('lg', max, 2) {
      line-height: (17 / 14);
      font-size: pxtovw(14, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(14, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(14, 375);
    }

    &:not(:first-child) {
      margin-top: 9px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(9, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(6, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(6, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(6, 375);
      }
    }

    a:hover & {
      text-decoration: underline;
    }

    &_proxima {
      font-family: $font-main;
    }

    &_bold {
      font-weight: 700;
    }

    &_fz20 {
      font-size: 20px;
      line-height: (24 / 20);

      @include screen('xlg', max, 2) {
        font-size: pxtovw(20, 1660);
      }

      @include screen('lg', max, 2) {
        line-height: (22 / 18);
        font-size: pxtovw(18, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(18, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(20, 375);
        line-height: (24 / 20);
      }
    }

    #{$b}_card & {
      margin-bottom: 16px;

      @include screen('xlg', max, 2) {
        margin-bottom: pxtovw(16, 1660);
      }

      @include screen('lg', max, 2) {
        margin-bottom: pxtovw(16, 1366);
      }

      @include screen('md', max, 2) {
        margin-bottom: pxtovw(16, 960);
      }

      @include screen('sm', max, 2) {
        margin-bottom: pxtovw(16, 375);
      }

      &:not(:first-child) {
        margin-top: 10px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(10, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(10, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(10, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(10, 375);
        }
      }
    }

    #{$b}_search-card & {
      font-size: 20px;
      line-height: (24 / 20);
      font-weight: 400;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(20, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(20, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(20, 375);
      }

      &:not(:first-child) {
        margin-top: 15px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(15, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(16, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(16, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(10, 375);
        }
      }

      &:not(:last-child) {
        margin-bottom: 10px;

        @include screen('xlg', max, 2) {
          margin-bottom: pxtovw(10, 1660);
        }

        @include screen('lg', max, 2) {
          margin-bottom: pxtovw(16, 1366);
        }

        @include screen('md', max, 2) {
          margin-bottom: pxtovw(16, 960);
        }

        @include screen('sm', max, 2) {
          margin-bottom: pxtovw(35, 375);
        }
      }

      .is-search-map-hide & {
        font-family: $font-main;
        font-weight: 700;

        @include screen('xlg', max, 2) {
          font-size: pxtovw(18, 1660);
          line-height: (22 / 18);
        }

        @include screen('lg', max, 2) {
          font-size: pxtovw(18, 1366);
        }

        @include screen('md', max, 2) {
          font-size: pxtovw(18, 960);
        }

        @include screen('sm', max, 2) {
          font-size: pxtovw(20, 375);
          line-height: (24 / 20);
          font-family: $font-stolzl;
          font-weight: 400;
        }

        &:not(:first-child) {
          margin-top: 10px;

          @include screen('xlg', max, 2) {
            margin-top: pxtovw(10, 1660);
          }

          @include screen('lg', max, 2) {
            margin-top: pxtovw(10, 1366);
          }

          @include screen('md', max, 2) {
            margin-top: pxtovw(10, 960);
          }

          @include screen('sm', max, 2) {
            margin-top: pxtovw(10, 375);
          }
        }

        &:not(:last-child) {
          margin-bottom: 45px;

          @include screen('xlg', max, 2) {
            margin-bottom: pxtovw(45, 1660);
          }

          @include screen('lg', max, 2) {
            margin-bottom: pxtovw(20, 1366);
          }

          @include screen('md', max, 2) {
            margin-bottom: pxtovw(16, 960);
          }

          @include screen('sm', max, 2) {
            margin-bottom: pxtovw(35, 375);
          }
        }
      }
    }

    #{$b}_search-offer & {
      font-size: 18px;
      line-height: 1.2;
      min-height: 2.4em;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(18, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(18, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(16, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(18, 375);
      }

      &:not(:first-child) {
        margin-top: 10px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(10, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(10, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(7, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(10, 375);
        }
      }
    }

    #{$b}_map-card & {
      display: inline-block;
      width: auto;
      font-size: 18px;
      line-height: 1.2;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(18, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(18, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(18, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(15, 375);
      }

      &:not(:first-child) {
        margin-top: -.13em;
        margin-left: 9px;

        @include screen('xlg', max, 2) {
          margin-left: pxtovw(9, 1660);
        }

        @include screen('lg', max, 2) {
          margin-left: pxtovw(9, 1366);
        }

        @include screen('md', max, 2) {
          margin-left: pxtovw(9, 960);
        }

        @include screen('sm', max, 2) {
          margin-left: pxtovw(9, 375);
        }
      }
    }
  }

  $lines: 2;
  $line-height: (18 / 15);

  &__text {
    display: block;
    width: 100%;
    letter-spacing: normal;
    color: $nd-color-gray-text6;
    font-size: 15px;
    line-height: (18 / 15);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(15, 1660);
    }

    @include screen('lg', max, 2) {
      line-height: (17 / 14);
      font-size: pxtovw(14, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(14, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(14, 375);
    }

    &_any-fz15 {
      @include screen('xlg', max, 2) {
        font-size: pxtovw(15, 1660);
        line-height: (18 / 15);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(15, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(15, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(15, 375);
      }
    }

    &:not(:first-child) {
      margin-top: 11px;

      @include screen('xl', max, 2) {
        margin-top: 7px;
      }

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(7, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(4, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(4, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(4, 375);
      }
    }

    #{$b}_search-card & {
      display: inline-block;
      position: relative;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      line-height: inherit;
      max-height: ($lines + 1) * $line-height * 1em;
      display: -webkit-box;
      -webkit-line-clamp: $lines;
      -webkit-box-orient: vertical;
      line-clamp: $lines;

      @include screen('sm', max, 2) {
        display: none;
      }

      &::before {
        background: #fff; // fallback for old IE
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
        bottom: $line-height * 1em;
        content: '\02026';
        height: $line-height * 1em;
        position: absolute;
        right: 0;
        text-align: right;
        width: 4em;
      }

      &::after { // to cover all but the last line of text
        background: #fff;
        content: attr(data-text);
        left: 0;
        height: ($lines - 1) * $line-height * 1em;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
      }

      @supports (-webkit-line-clamp: 2) {
        &::before,&::after {
          content: none;
        }
      }
    }
  }

  &__clip-text {
    display: block;
    overflow: hidden;
    line-height: $line-height;
    max-height: $lines * $line-height * 1em;
    text-overflow: ellipsis;
    color: $nd-color-gray-text8;
    font-size: 15px;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(15, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(15, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(15, 960);
    }

    @include screen('sm', max, 2) {
      display: none;
      font-size: pxtovw(15, 375);
    }

    &:not(:first-child) {
      margin-top: 0;

      @include screen('lg', max, 2) {
        margin-top: pxtovw(-4, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(-4, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(-4, 375);
      }
    }

    .is-search-map-hide & {
      display: none;
    }
  }

  &__describe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 15px 19px;
    flex: 1;

    @include screen('xlg', max, 2) {
      padding: pxtovw(15, 1660) pxtovw(19, 1660);
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(12, 1366) pxtovw(15, 1366);
    }

    @include screen('md', max, 2) {
      padding: pxtovw(12, 960) pxtovw(15, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(13, 375) pxtovw(16, 375);
    }

    #{$b}_search-card & {
      padding: 0;
      padding-left: 30px;

      @include screen('xlg', max, 2) {
        padding-left: pxtovw(30, 1660);
      }

      @include screen('lg', max, 2) {
        padding-left: pxtovw(30, 1366);
      }

      @include screen('md', max, 2) {
        padding-left: pxtovw(25, 960);
      }

      @include screen('sm', max, 2) {
        padding: pxtovw(13, 375) pxtovw(16, 375) pxtovw(24, 375);
      }

      .is-search-map-hide & {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 15px 19px 24px;
        flex: 1;

        @include screen('xlg', max, 2) {
          padding: pxtovw(15, 1660) pxtovw(19, 1660) pxtovw(24, 1660);
        }

        @include screen('lg', max, 2) {
          padding: pxtovw(12, 1366) pxtovw(18, 1366) pxtovw(16, 1366);
        }

        @include screen('md', max, 2) {
          padding: pxtovw(12, 960) pxtovw(15, 960);
        }

        @include screen('sm', max, 2) {
          padding: pxtovw(13, 375) pxtovw(16, 375);
        }
      }
    }
  }

  &__list {
    margin-top: auto;
    width: 100%;

    #{$b}_search-card & {
      margin-top: 22px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(22, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(22, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(22, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: auto;
      }

      .is-search-map-hide & {
        margin-top: auto;
      }
    }
  }

  &__address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    font-size: 12px;
    line-height: (15 / 12);
    color: $color-gray-lightest;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(12, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(12, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(12, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(12, 375);
    }

    span, a {
      position: relative;
      display: block;
      box-sizing: border-box;

      &:not(:last-child) {
        padding-right: 23px;

        @include screen('xlg', max, 2) {
          padding-right: pxtovw(23, 1660);
        }

        @include screen('lg', max, 2) {
          padding-right: pxtovw(23, 1366);
        }

        @include screen('md', max, 2) {
          padding-right: pxtovw(23, 960);
        }

        @include screen('sm', max, 2) {
          padding-right: pxtovw(23, 375);
        }

        &::after {
          position: absolute;
          display: inline-block;
          content: '-';
          height: 100%;
          width: 23px;
          text-align: center;
          vertical-align: middle;
          top: 50%;
          right: 0;
          transform: translate3d(0, -50%, 0);

          @include screen('xlg', max, 2) {
            width: pxtovw(23, 1660);
          }

          @include screen('lg', max, 2) {
            width: pxtovw(23, 1366);
          }

          @include screen('md', max, 2) {
            width: pxtovw(23, 960);
          }

          @include screen('sm', max, 2) {
            width: pxtovw(23, 375);
          }
        }
      }
    }
  }

  &__head {
    display: block;
    flex: none;
    width: 100%;
    padding: 18px 18px 0;
    box-sizing: border-box;

    @include screen('xlg', max, 2) {
      padding: pxtovw(18, 1660) pxtovw(18, 1660) 0;
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(18, 1366) pxtovw(18, 1366) 0;
    }

    @include screen('md', max, 2) {
      padding: pxtovw(15, 960) pxtovw(14, 960) 0;
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(15, 375) pxtovw(17, 375) 0;
    }
  }

  &__offer-slider {
    flex: 1;
    width: 100%;

    &:not(:first-child) {
      margin-top: 16px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(16, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(14, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(11, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(9, 375);
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 6px;

      @include screen('xlg', max, 2) {
        margin-bottom: pxtovw(6, 1660);
      }

      @include screen('lg', max, 2) {
        margin-bottom: pxtovw(6, 1366);
      }

      @include screen('md', max, 2) {
        margin-bottom: pxtovw(6, 960);
      }

      @include screen('sm', max, 2) {
        margin-bottom: pxtovw(6, 375);
      }
    }
  }

  &_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $nd-color-basic-light;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .03), 2px 2px 2px rgba(0, 0, 0, .04), 3px 3px 3px rgba(0, 0, 0, .02);
    overflow: hidden;

    @include screen('xlg', max, 2) {
      border-radius: pxtovw(3, 1660);
    }

    @include screen('lg', max, 2) {
      border-radius: pxtovw(3, 1366);
    }

    @include screen('md', max, 2) {
      border-radius: pxtovw(3, 960);
    }

    @include screen('sm', max, 2) {
      border-radius: pxtovw(3, 375);
    }
  }

  &_search-card {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $nd-color-basic-light;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .03), 2px 2px 2px rgba(0, 0, 0, .04), 3px 3px 3px rgba(0, 0, 0, .02);
    overflow: hidden;
    padding: 25px 25px 20px;

    @include screen('xlg', max, 2) {
      border-radius: pxtovw(3, 1660);
      padding: pxtovw(25, 1660) pxtovw(25, 1660) pxtovw(20, 1660);
      box-shadow: pxtovw(1, 1660) pxtovw(1, 1660) pxtovw(1, 1660) rgba(0, 0, 0, .03), pxtovw(2, 1660) pxtovw(2, 1660) pxtovw(2, 1660) rgba(0, 0, 0, .04), pxtovw(3, 1660) pxtovw(3, 1660) pxtovw(3, 1660) rgba(0, 0, 0, .02);
    }

    @include screen('lg', max, 2) {
      border-radius: pxtovw(3, 1366);
      padding: pxtovw(25, 1366) pxtovw(25, 1366) pxtovw(20, 1366);
      box-shadow: pxtovw(1, 1366) pxtovw(1, 1366) pxtovw(1, 1366) rgba(0, 0, 0, .03), pxtovw(2, 1366) pxtovw(2, 1366) pxtovw(2, 1366) rgba(0, 0, 0, .04), pxtovw(3, 1366) pxtovw(3, 1366) pxtovw(3, 1366) rgba(0, 0, 0, .02);
    }

    @include screen('md', max, 2) {
      border-radius: pxtovw(3, 960);
      padding: pxtovw(25, 960) pxtovw(25, 960) pxtovw(20, 960);
      box-shadow: pxtovw(1, 960) pxtovw(1, 960) pxtovw(1, 960) rgba(0, 0, 0, .03), pxtovw(2, 960) pxtovw(2, 960) pxtovw(2, 960) rgba(0, 0, 0, .04), pxtovw(3, 960) pxtovw(3, 960) pxtovw(3, 960) rgba(0, 0, 0, .02);
    }

    @include screen('sm', max, 2) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border-radius: pxtovw(3, 375);
      padding: 0;
      box-shadow: pxtovw(1, 375) pxtovw(1, 375) pxtovw(1, 375) rgba(0, 0, 0, .03), pxtovw(2, 375) pxtovw(2, 375) pxtovw(2, 375) rgba(0, 0, 0, .04), pxtovw(3, 375) pxtovw(3, 375) pxtovw(3, 375) rgba(0, 0, 0, .02);
    }

    .is-search-map-hide & {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
    }
  }

  &_search-offer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $nd-color-basic-light;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .03), 2px 2px 2px rgba(0, 0, 0, .04), 3px 3px 3px rgba(0, 0, 0, .02);
    overflow: hidden;

    @include screen('xlg', max, 2) {
      border-radius: pxtovw(3, 1660);
      box-shadow: pxtovw(1, 1660) pxtovw(1, 1660) pxtovw(1, 1660) rgba(0, 0, 0, .03), pxtovw(2, 1660) pxtovw(2, 1660) pxtovw(2, 1660) rgba(0, 0, 0, .04), pxtovw(3, 1660) pxtovw(3, 1660) pxtovw(3, 1660) rgba(0, 0, 0, .02);
    }

    @include screen('lg', max, 2) {
      border-radius: pxtovw(3, 1366);
      box-shadow: pxtovw(1, 1366) pxtovw(1, 1366) pxtovw(1, 1366) rgba(0, 0, 0, .03), pxtovw(2, 1366) pxtovw(2, 1366) pxtovw(2, 1366) rgba(0, 0, 0, .04), pxtovw(3, 1366) pxtovw(3, 1366) pxtovw(3, 1366) rgba(0, 0, 0, .02);
    }

    @include screen('md', max, 2) {
      border-radius: pxtovw(3, 960);
      box-shadow: pxtovw(1, 960) pxtovw(1, 960) pxtovw(1, 960) rgba(0, 0, 0, .03), pxtovw(2, 960) pxtovw(2, 960) pxtovw(2, 960) rgba(0, 0, 0, .04), pxtovw(3, 960) pxtovw(3, 960) pxtovw(3, 960) rgba(0, 0, 0, .02);
    }

    @include screen('sm', max, 2) {
      border-radius: pxtovw(3, 375);
      box-shadow: pxtovw(1, 375) pxtovw(1, 375) pxtovw(1, 375) rgba(0, 0, 0, .03), pxtovw(2, 375) pxtovw(2, 375) pxtovw(2, 375) rgba(0, 0, 0, .04), pxtovw(3, 375) pxtovw(3, 375) pxtovw(3, 375) rgba(0, 0, 0, .02);
    }
  }

  &_map-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $nd-color-basic-light;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .03), 2px 2px 2px rgba(0, 0, 0, .04), 3px 3px 3px rgba(0, 0, 0, .02);
    overflow: hidden;
    padding: 12px 11px 8px;

    @include screen('xlg', max, 2) {
      padding: pxtovw(12, 1660) pxtovw(11, 1660) pxtovw(8, 1660);
      border-radius: pxtovw(3, 1660);
      box-shadow: pxtovw(1, 1660) pxtovw(1, 1660) pxtovw(1, 1660) rgba(0, 0, 0, .03), pxtovw(2, 1660) pxtovw(2, 1660) pxtovw(2, 1660) rgba(0, 0, 0, .04), pxtovw(3, 1660) pxtovw(3, 1660) pxtovw(3, 1660) rgba(0, 0, 0, .02);
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(12, 1366) pxtovw(11, 1366) pxtovw(8, 1366);
      border-radius: pxtovw(3, 1366);
      box-shadow: pxtovw(1, 1366) pxtovw(1, 1366) pxtovw(1, 1366) rgba(0, 0, 0, .03), pxtovw(2, 1366) pxtovw(2, 1366) pxtovw(2, 1366) rgba(0, 0, 0, .04), pxtovw(3, 1366) pxtovw(3, 1366) pxtovw(3, 1366) rgba(0, 0, 0, .02);
    }

    @include screen('md', max, 2) {
      padding: pxtovw(12, 960) pxtovw(11, 960) pxtovw(8, 960);
      border-radius: pxtovw(3, 960);
      box-shadow: pxtovw(1, 960) pxtovw(1, 960) pxtovw(1, 960) rgba(0, 0, 0, .03), pxtovw(2, 960) pxtovw(2, 960) pxtovw(2, 960) rgba(0, 0, 0, .04), pxtovw(3, 960) pxtovw(3, 960) pxtovw(3, 960) rgba(0, 0, 0, .02);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(12, 375) pxtovw(11, 375) pxtovw(8, 375);
      border-radius: pxtovw(3, 375);
      box-shadow: pxtovw(1, 375) pxtovw(1, 375) pxtovw(1, 375) rgba(0, 0, 0, .03), pxtovw(2, 375) pxtovw(2, 375) pxtovw(2, 375) rgba(0, 0, 0, .04), pxtovw(3, 375) pxtovw(3, 375) pxtovw(3, 375) rgba(0, 0, 0, .02);
    }
  }
}
