.nd-space {
  $b: &;

  display: block;
  box-sizing: border-box;
  color: $nd-color-basic;
  text-decoration: none;

  &__media {
    display: block;
    width: 100%;

    #{$b}_card & {
      box-sizing: border-box;
      padding-top: 63.3%;
      flex: none;

      @include screen('xlg', max, 2) {
        padding-top: 65.5%;
      }
    }

    &:not(:first-child) {
      margin-top: 16px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(16, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(13, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(13, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(13, 375);
      }
    }
  }

  &__image {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 62.9%;
    font-size: 0;
    line-height: 0;
    border-radius: 3px;

    @include screen('xlg', max, 2) {
      border-radius: pxtovw(3, 1660);
    }

    @include screen('lg', max, 2) {
      border-radius: pxtovw(3, 1366);
    }

    @include screen('md', max, 2) {
      border-radius: pxtovw(3, 960);
    }

    @include screen('sm', max, 2) {
      border-radius: pxtovw(3, 375);
    }

    img {
      display: block;
      font-size: 0;
      line-height: 0;
      border-radius: 3px;

      @include fill-img;

      @include screen('xlg', max, 2) {
        border-radius: pxtovw(3, 1660);
      }

      @include screen('lg', max, 2) {
        border-radius: pxtovw(3, 1366);
      }

      @include screen('md', max, 2) {
        border-radius: pxtovw(3, 960);
      }

      @include screen('sm', max, 2) {
        border-radius: pxtovw(3, 375);
      }
    }
  }

  &__colors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &:not(:first-child) {
      margin-top: 16px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(16, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(13, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(13, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(13, 375);
      }
    }
  }

  &__type {
    width: 100%;

    &:not(:first-child) {
      margin-top: 16px;

      @include screen('xl', max, 2) {
        margin-top: 13px;
      }

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(13, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(13, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(13, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(13, 375);
      }
    }
  }

  &__title {
    display: block;
    width: 100%;
    font-family: $font-stolzl;
    font-weight: 400;
    letter-spacing: normal;
    font-size: 17px;
    line-height: (20 / 17);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(17, 1660);
    }

    @include screen('lg', max, 2) {
      line-height: (17 / 14);
      font-size: pxtovw(14, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(14, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(14, 375);
    }

    &:not(:first-child) {
      margin-top: 9px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(9, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(6, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(6, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(6, 375);
      }
    }

    a:hover & {
      text-decoration: underline;
    }

    &_proxima {
      font-family: $font-main;
    }

    &_bold {
      font-weight: 700;
    }

    &_fz20 {
      font-size: 20px;
      line-height: (24 / 20);

      @include screen('xlg', max, 2) {
        font-size: pxtovw(20, 1660);

      }

      @include screen('lg', max, 2) {
        line-height: (22 / 18);
        font-size: pxtovw(18, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(18, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(20, 375);
        line-height: (24 / 20);
      }
    }

    #{$b}_card & {
      margin-bottom: 16px;

      @include screen('xlg', max, 2) {
        margin-bottom: pxtovw(16, 1660);
      }

      @include screen('lg', max, 2) {
        margin-bottom: pxtovw(16, 1366);
      }

      @include screen('md', max, 2) {
        margin-bottom: pxtovw(16, 960);
      }

      @include screen('sm', max, 2) {
        margin-bottom: pxtovw(16, 375);
      }

      &:not(:first-child) {
        margin-top: 10px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(10, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(10, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(10, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(10, 375);
        }
      }
    }
  }

  &__text {
    display: block;
    width: 100%;
    letter-spacing: normal;
    color: $nd-color-gray-text6;
    font-size: 15px;
    line-height: (18 / 15);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(15, 1660);
    }

    @include screen('lg', max, 2) {
      line-height: (17 / 14);
      font-size: pxtovw(14, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(14, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(14, 375);
    }

    &_any-fz15 {
      @include screen('xlg', max, 2) {
        font-size: pxtovw(15, 1660);
        line-height: (18 / 15);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(15, 1366);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(15, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(15, 375);
      }
    }

    &:not(:first-child) {
      margin-top: 11px;

      @include screen('xl', max, 2) {
        margin-top: 7px;
      }

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(7, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(4, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(4, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(4, 375);
      }
    }
  }

  &__describe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 15px 19px;
    flex: 1;

    @include screen('xlg', max, 2) {
      padding: pxtovw(15, 1660) pxtovw(19, 1660);
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(12, 1366) pxtovw(15, 1366);
    }

    @include screen('md', max, 2) {
      padding: pxtovw(12, 960) pxtovw(15, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(13, 375) pxtovw(16, 375);
    }
  }

  &__list {
    margin-top: auto;
    width: 100%;
  }

  &__address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    font-size: 12px;
    line-height: (15 / 12);
    color: $color-gray-lightest;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(12, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(12, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(12, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(12, 375);
    }

    span, a {
      position: relative;
      display: block;
      box-sizing: border-box;

      &:not(:last-child) {
        padding-right: 23px;

        @include screen('xlg', max, 2) {
          padding-right: pxtovw(23, 1660);
        }

        @include screen('lg', max, 2) {
          padding-right: pxtovw(23, 1366);
        }

        @include screen('md', max, 2) {
          padding-right: pxtovw(23, 960);
        }

        @include screen('sm', max, 2) {
          padding-right: pxtovw(23, 375);
        }

        &::after {
          position: absolute;
          display: inline-block;
          content: '-';
          height: 100%;
          width: 23px;
          text-align: center;
          vertical-align: middle;
          top: 50%;
          right: 0;
          transform: translate3d(0, -50%, 0);

          @include screen('xlg', max, 2) {
            width: pxtovw(23, 1660);
          }

          @include screen('lg', max, 2) {
            width: pxtovw(23, 1366);
          }

          @include screen('md', max, 2) {
            width: pxtovw(23, 960);
          }

          @include screen('sm', max, 2) {
            width: pxtovw(23, 375);
          }
        }
      }
    }
  }

  &_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $nd-color-basic-light;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .03), 2px 2px 2px rgba(0, 0, 0, .04), 3px 3px 3px rgba(0, 0, 0, .02);
    overflow: hidden;

    @include screen('xlg', max, 2) {
      border-radius: pxtovw(3, 1660);
    }

    @include screen('lg', max, 2) {
      border-radius: pxtovw(3, 1366);
    }

    @include screen('md', max, 2) {
      border-radius: pxtovw(3, 960);
    }

    @include screen('sm', max, 2) {
      border-radius: pxtovw(3, 375);
    }
  }
}
