.space {
  $b: &;

  display: block;
  width: 100%;
  color: $color-basic;
  text-transform: none;
  text-decoration: none;

  &__media {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-top: 63.3%;
    overflow: hidden;

    @include screen('sm') {
      padding-top: 63%;
    }

    &:not(:last-child) {
      margin-bottom: 10px;

      @include screen('md') {
        margin-bottom: 3px;
      }

      @include screen('sm') {
        margin-bottom: 7px;
      }
    }

    &_gallery {
      overflow: visible;
      background-color: $color-hint-bg;
    }
  }

  &__image {
    @include fill-img;
  }

  &__gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__heart {
    position: absolute;
    top: 16px;
    right: 19px;
    transition: opacity $ease-main;
    opacity: 0;
    z-index: 2;

    @include screen('lg') {
      top: 15px;
    }

    @include screen('md') {
      top: 16px;
      opacity: 1;
    }

    @include screen('sm') {
      top: 8px;
      right: 9px;
    }

    #{$b}:hover & {
      @include screen('md', min) {
        opacity: 1;
      }
    }

    &.is-active {
      opacity: 1;
    }

    #{$b}_show-heart & {
      opacity: 1;
    }
  }

  &__boxes {
    width: 100%;
    margin-top: -6px;

    @include screen('md') {
      margin-top: 3px;
    }

    @include screen('sm') {
      margin-top: -5px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;

      @include screen('sm') {
        margin-bottom: 4px;
      }
    }

    &_mgt0 {
      margin-top: 0;
    }
  }

  &__seats {
    @include text16;

    color: $color-gray-darkest;
    font-weight: 700;
    width: 100%;

    @include screen('sm') {
      @include text13;
    }

    &:not(:last-child) {
      margin-bottom: 9px;

      @include screen('sm') {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    @include heading-4;
    @include ellipsis(100%);

    font-weight: 700;
    transition: color $ease-main;

    // @include screen('sm', min) {
    //   @include ellipsis(100%);
    // }

    @include screen('sm') {
      @include text15;

      line-height: 1.2;
    }

    #{$b}:hover & {
      color: $color-basic-dark;
    }

    &:not(:last-child) {
      margin-bottom: 2px;

      @include screen('sm') {
        margin-bottom: 0;
      }
    }

    &_small {
      @include text16;
    }
  }

  &__location {
    @include text16;

    font-weight: 400;
    color: $color-basic-light;
    width: 100%;

    @include screen('sm') {
      @include text12;
    }
  }

  &__head {
    @include text15;

    position: relative;
    line-height: (30 / 15);
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
    color: $color-white;

    @include screen('sm') {
      @include text12;

      line-height: (25 / 12);
    }

    &_orange {
      background-color: $color-hot-desk;
    }

    &_red {
      background-color: $color-dedicated-desk;
    }

    &_blue {
      background-color: $color-meeting-room;
    }

    &_green {
      background-color: $color-office-space;
    }

    &_black {
      background-color: $color-hint-bg;
    }

    &_white {
      background-color: $color-white;
      color: $color-basic;
    }

    &_base {
      padding-left: 35px;
      padding-right: 35px;
      line-height: (32 / 15);
      box-sizing: border-box;
    }

    &_lh26 {
      padding-left: 30px;
      padding-right: 30px;
      line-height: (26 / 15);

      @include screen('sm') {
        line-height: (25 / 12);
      }
    }

    &-box {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;

      @include screen('sm') {
        min-width: 25px;
        width: 25px;
      }
    }
  }

  &__offer {
    display: block;
    width: 100%;
    margin-top: 5px;

    @include screen('sm') {
      margin-top: -3px;
    }

    .offer-info {
      .box {
        align-self: center;

        @include screen('sm') {
          margin-top: -3px;
          margin-right: 4px;
        }
      }

      &__head {
        display: inline-flex;
        align-items: baseline;
      }

      &__title {
        @include screen('sm') {
          @include text12;

          line-height: 1;
        }

        &:not(:last-child) {
          margin-right: 4px;

          @include screen('sm') {
            margin-right: 3px;
          }
        }
      }

      &__price {
        @include screen('sm') {
          @include text12;

          line-height: 1;
        }
      }
    }
  }

  &__flag {
    @include text-mid;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;

    &-name {
      display: inline-block;
      width: auto;
      max-width: 100%;
      box-sizing: border-box;
      padding: 4px 17px;
      background-color: $color-basic;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      color: $color-white;

      @include screen('sm') {
        @include text;

        line-height: (26 / 14);
      }
    }
  }

  &__text {
    @include text;

    line-height: (26/ 14);
    font-weight: 400;
    color: $color-basic-light;
    width: 100%;
    display: block;
  }

  &__informer {
    display: block;
    width: 100%;
  }

  &__state {
    &:not(:first-child) {
      margin-top: 17px;

      @include screen('sm') {
        margin-top: 15px;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 29px;

    &_mt60 {
      margin-top: 60px;
    }
  }

  &__link {
    @include text-big;

    line-height: 1.2;
    max-width: 100%;
    text-align: center;

    @include screen('sm') {
      @include text15;

      line-height: 1.2;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 100%;
    margin-top: 20px;
  }

  &__button {
    margin-top: 10px;
    width: 100%;

    &_mw250 {
      max-width: 250px;
    }
  }

  &_around {
    #{$b}__boxes {
      min-height: 9px;

      @include screen('sm') {
        margin-top: 12px;
      }

      .box {
        height: 9px;
        width: 9px;

        @include screen('sm') {
          height: 9px;
          width: 9px;
        }
      }
    }

    #{$b}__location {
      @include screen('sm') {
        margin-top: -4px;
      }
    }

    #{$b}__heart {
      @include screen('sm') {
        top: 13px;
        right: 12px;
      }
    }
  }

  &_search {
    &:hover #{$b}__title {
      color: $color-basic;
    }

    #{$b} {
      &__boxes {
        @include screen('sm') {
          min-height: 9px;
          margin-top: 9px;
        }

        .box {
          @include screen('sm') {
            height: 9px;
            width: 9px;
          }
        }
      }
    }
  }

  &_map {
    &:hover #{$b}__title {
      color: $color-basic;
    }

    #{$b} {
      &__boxes {
        margin-top: 6px;
        margin-bottom: 10px;

        @include screen('sm') {
          margin-top: -5px;
          margin-bottom: 5px;
        }
      }

      &__heart {
        top: 12px;
        right: 10px;

        @include screen('sm') {
          top: 6px;
          right: 6px;
        }
      }

      &__title {
        @include text-mid;

        line-height: 1.2;

        @include screen('sm') {
          @include text;

          line-height: 1.2;
        }
      }

      &__location {
        @include text15;

        font-weight: 400;
        line-height: 1.2;

        @include screen('sm') {
          @include text10;

          line-height: 1.8;
        }
      }

      &__offer {
        margin-top: 2px;

        .box {
          @include screen('sm') {
            min-width: 7px;
            width: 7px;
            height: 7px;
          }
        }

        .offer-info {
          &__title,&__price {
            @include screen('sm') {
              @include text10;
            }
          }
        }
      }
    }
  }

  &_dark {
    background-color: $color-hint-bg;
    color: $color-basic-light;

    #{$b} {
      &__title {
        color: $color-white;
      }

      &__text {
        color: $color-white;
      }
    }

    &:hover #{$b} {
      &__title {
        color: $color-white;
      }
    }
  }

  &_side {
    padding-bottom: 24px;

    @include screen('sm') {
      padding-bottom: 40px;
    }

    #{$b} {
      &__media {
        margin-bottom: 15px;

        @include screen('sm') {
          margin-bottom: 22px;
        }
      }

      &__describe {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 18px;

        &:not(:last-child) {
          margin-bottom: 19px;

          @include screen('sm') {
            margin-bottom: 28px;
          }
        }
      }

      &__boxes {
        margin-top: 0;
        order: 1;
        min-height: 9px;

        @include screen('sm') {
          margin-bottom: 7px;
        }

        .box {
          height: 9px;
          width: 9px;

          @include screen('sm') {
            height: 9px;
            width: 9px;
          }
        }
      }

      &__location {
        @include text;

        line-height: 1.2;
        font-weight: 400;
        order: 2;

        @include screen('sm') {
          @include text12;

          line-height: 1.2;
        }

        &:not(:last-child) {
          margin-bottom: 10px;

          @include screen('sm') {
            margin-bottom: 11px;
          }
        }
      }

      &__title {
        order: 3;

        @include screen('md') {
          margin-bottom: 10px;
        }

        @include screen('sm') {
          @include heading-4;
        }
      }

      &__text {
        @include text16;

        font-weight: 400;
        width: 100%;
        order: 3;

        @include screen('md') {
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          padding-top: 18px;
        }

        @include screen('sm') {
          @include text-mid;

          font-weight: 700;
          line-height: 1.2;
        }

        &::before {
          @include screen('md') {
            @include pseudo;

            top: 0;
            left: 0;
            width: 20px;
            height: 1px;
            background-color: $color-border-gray;
          }
        }
      }

      &__informer {
        padding: 3px 19px 8px;
        box-sizing: border-box;
      }
    }
  }
}
