.space {
  $b: &;

  display: block;
  width: 100%;
  color: $color-basic;
  text-transform: none;
  text-decoration: none;

  &__media {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-top: 63.3%;
    overflow: hidden;

    @include screen('sm') {
      padding-top: 63%;
    }

    &:not(:last-child) {
      margin-bottom: 10px;

      @include screen('md') {
        margin-bottom: 3px;
      }

      @include screen('sm') {
        margin-bottom: 7px;
      }
    }

    &_gallery {
      overflow: visible;
      background-color: $color-hint-bg;
    }
  }

  &__image {
    @include fill-img;
  }

  &__gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__heart {
    position: absolute;
    top: 16px;
    right: 19px;
    transition: opacity $ease-main;
    opacity: 0;
    z-index: 2;

    @include screen('lg') {
      top: 15px;
    }

    @include screen('md') {
      top: 16px;
      opacity: 1;
    }

    @include screen('sm') {
      top: 8px;
      right: 9px;
    }

    #{$b}:hover & {
      @include screen('md', min) {
        opacity: 1;
      }
    }

    &.is-active {
      opacity: 1;
    }

    #{$b}_show-heart & {
      opacity: 1;
    }
  }

  &__boxes {
    width: 100%;
    margin-top: -6px;

    @include screen('md') {
      margin-top: 3px;
    }

    @include screen('sm') {
      margin-top: -5px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;

      @include screen('sm') {
        margin-bottom: 4px;
      }
    }

    &_mgt0 {
      margin-top: 0;
    }
  }

  &__seats {
    @include text16;

    color: $color-gray-darkest;
    font-weight: 700;
    width: 100%;

    @include screen('sm') {
      @include text13;
    }

    &:not(:last-child) {
      margin-bottom: 9px;

      @include screen('sm') {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    @include heading-4;
    @include ellipsis(100%);

    font-weight: 700;
    transition: color $ease-main;

    // @include screen('sm', min) {
    //   @include ellipsis(100%);
    // }

    @include screen('sm') {
      @include text15;

      line-height: 1.2;
    }

    #{$b}:hover & {
      color: $color-basic-dark;
    }

    &:not(:last-child) {
      margin-bottom: 2px;

      @include screen('sm') {
        margin-bottom: 0;
      }
    }

    &_small {
      @include text16;
    }
  }

  &__location {
    @include text16;

    font-weight: 400;
    color: $color-basic-light;
    width: 100%;

    @include screen('sm') {
      @include text12;
    }
  }

  &__head {
    @include text15;

    position: relative;
    line-height: (30/15);
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
    color: $color-white;

    &_orange {
      background-color: $color-hot-desk;
    }

    &_red {
      background-color: $color-dedicated-desk;
    }

    &_blue {
      background-color: $color-meeting-room;
    }

    &_green {
      background-color: $color-office-space;
    }

    &_black {
      background-color: $color-hint-bg;
    }

    &_white {
      background-color: $color-white;
      color: $color-basic;
    }

    &_base {
      padding-left: 35px;
      padding-right: 3px;
      line-height: (32/15);
      box-sizing: border-box;
    }

    &_lh26 {
      padding-left: 30px;
      padding-right: 4px;
      line-height: (26/15);
    }

    &-box {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
    }
  }

  &__offer {
    display: block;
    width: 100%;
    margin-top: 5px;

    @include screen('sm') {
      margin-top: -3px;
    }

    .offer-info {

      .box {
        align-self: center;

        @include screen('sm') {
          margin-top: -3px;
          margin-right: 4px;
        }
      }

      &__head {
        display: inline-flex;
        align-items: baseline;
      }

      &__title {

        @include screen('sm') {
          @include text12;

          line-height: 1;
        }

        &:not(:last-child) {
          margin-right: 4px;

          @include screen('sm') {
            margin-right: 3px;
          }
        }
      }

      &__price {
        @include screen('sm') {
          @include text12;

          line-height: 1;
        }
      }
    }
  }

  &__flag {
    @include text-mid;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;

    &-name {
      display: inline-block;
      width: auto;
      max-width: 100%;
      box-sizing: border-box;
      padding: 4px 17px;
      background-color: $color-basic;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      color: $color-white;

      @include screen('sm') {
        @include text;

        line-height: (26/14);
      }
    }
  }

  &_around {
    #{$b}__boxes {
      min-height: 9px;

      @include screen('sm') {
        margin-top: 12px;
      }

      .box {
        height: 9px;
        width: 9px;

        @include screen('sm') {
          height: 9px;
          width: 9px;
        }
      }
    }

    #{$b}__location {
      @include screen('sm') {
        margin-top: -4px;
      }
    }

    #{$b}__heart {
      @include screen('sm') {
        top: 13px;
        right: 12px;
      }
    }
  }

  &_search {

    &:hover #{$b}__title {
      color: $color-basic;
    }

    #{$b} {
      &__boxes {

        @include screen('sm') {
          min-height: 9px;
          margin-top: 9px;
        }

        .box {
          @include screen('sm') {
            height: 9px;
            width: 9px;
          }
        }
      }
    }
  }

  &_map {

    &:hover #{$b}__title {
      color: $color-basic;
    }

    #{$b} {
      &__boxes {
        margin-top: 6px;
        margin-bottom: 10px;

        @include screen('sm') {
          margin-top: -5px;
          margin-bottom: 5px;
        }
      }

      &__heart {
        top: 12px;
        right: 10px;

        @include screen('sm') {
          top: 6px;
          right: 6px;
        }
      }

      &__title {
        @include text-mid;

        line-height: 1.2;

        @include screen('sm') {
          @include text;

          line-height: 1.2;
        }
      }

      &__location {
        @include text15;

        font-weight: 400;
        line-height: 1.2;

        @include screen('sm') {
          @include text10;

          line-height: 1.8;
        }
      }

      &__offer {
        margin-top: 2px;

        .box {
          @include screen('sm') {
            min-width: 7px;
            width: 7px;
            height: 7px;
          }
        }

        .offer-info {

          &__title,
          &__price {
            @include screen('sm') {
              @include text10;
            }
          }
        }
      }
    }
  }
}
