.page-title {
  $b: &;

  @include heading-2;

  font-weight: 700;

  @include screen('lg') {
    @include heading-1-sm;

    line-height: 1.2;
  }

  @include screen('sm') {
    @include heading-3;

    line-height: 1.2;
  }

  &_small {
    @include heading-3;

    font-weight: 700;
    user-select: none;

    @include screen('sm') {
      @include heading-4;
    }
  }
}
