.tabs {
  $tab-gap: 5px;
  $b: &;

  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  margin-top: -$tab-gap;

  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $tab-gap;
    box-sizing: border-box;
    border-top: 1px solid $color-border-light;
    border-bottom: 1px solid $color-border-light;
    border-right: 1px solid $color-border-light;
    transition: box-shadow $ease-main;
    padding: 21px 10px 22px;
    width: 25%;
    cursor: pointer;
    font-weight: 700;
    text-align: center;

    @include text-big;

    @include screen('sm') {
      border-right: none;
      border-bottom-width: 2px;
      text-transform: uppercase;
      padding: 8px 7px 6px;

      @include text12;

      line-height: 1.2;
    }

    &:nth-child(5n+1) {
      border-left: 1px solid $color-border-light;
      border-radius: 3px 0 0;

      @include screen('sm') {
        border-left: none;
        border-radius: 0;
      }
    }

    &:nth-child(4n) {
      border-radius: 0 3px 0 0;

      @include screen('sm') {
        border-radius: 0;
      }
    }

    &:hover,
    &.active {
      box-shadow: inset 0 -5px 0 $color-border-light;

      @include screen('sm') {
        box-shadow: inset 0 -4px 0 $color-border-light;
      }
    }

    &_orange {
      border-bottom-color: $color-hot-desk;

      &:hover,
      &.active {
        box-shadow: inset 0 -5px 0 $color-hot-desk;

        @include screen('sm') {
          box-shadow: inset 0 -4px 0 $color-hot-desk;
        }
      }
    }

    &_red {
      border-bottom-color: $color-dedicated-desk;

      &:hover,
      &.active {
        box-shadow: inset 0 -5px 0 $color-dedicated-desk;

        @include screen('sm') {
          box-shadow: inset 0 -4px 0 $color-dedicated-desk;
        }
      }
    }

    &_blue {
      border-bottom-color: $color-meeting-room;

      &:hover,
      &.active {
        box-shadow: inset 0 -5px 0 $color-meeting-room;

        @include screen('sm') {
          box-shadow: inset 0 -4px 0 $color-meeting-room;
        }
      }
    }

    &_green {
      border-bottom-color: $color-office-space;

      &:hover,
      &.active {
        box-shadow: inset 0 -5px 0 $color-office-space;

        @include screen('sm') {
          box-shadow: inset 0 -4px 0 $color-office-space;
        }
      }
    }

    &_button {
      @include heading-3;

      font-weight: 700;
      line-height: 1.2;
      color: $color-basic;
      border: none;
      border-radius: 0;
      height: auto;
      width: auto;
      padding: 5px 11px;
      background-color: transparent;
      transition: color $ease-main, background $ease-main;

      @include screen('sm') {
        @include heading-4;

        line-height: 1.2;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }

      &:nth-child(5n+1) {
        border-radius: 0;
        border: none;
      }

      &:nth-child(4n) {
        border-radius: 0;
      }

      #{$b}__tab-content {
        transition: border $ease-main;
        border-bottom: 1px solid $color-form-border;
      }

      &:hover {
        border: none;
        color: $color-radio-dark-hover;
        box-shadow: none;

        #{$b}__tab-content {
          border-bottom: 1px solid $color-basic;
        }
      }

      &.active {
        border: none;
        box-shadow: none;
        color: $color-white;
        background-color: $color-basic;

        #{$b}__tab-content {
          border-bottom: 1px solid $color-basic;
        }
      }
    }
  }

  &+&-content {
    margin-top: 18px;

    @include screen('sm') {
      margin-top: 10px;
    }
  }

  &+&-content_mg {
    margin-top: 46px;
  }

  &-content {

    &__wrapper {
      display: none;
      opacity: 0;
      transition: opacity $ease-main, transform $ease-main;
      transform: translate3d(0, 10px, 0);

      &.active {
        display: block;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
