.tabs {
  $tab-gap: 25px;
 

  display: block;
  font-size: 0;
  margin-top: -$tab-gap;

  &__tab {
    display: inline-block;
    margin-top: $tab-gap;
    border: 1px solid $color-border-light;
    transition: border-color $ease-main, opacity $ease-main;
    padding: 27px 30px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.34px;

    &.active {
      border-bottom: 2px solid;
      padding: 27px 30px 22px ;
    }
  }

  &_yellow {
    border-bottom: 1px solid $color-yellow;
    &.active {
      border-bottom: 6px solid $color-yellow;
    }
  }
  &_red {
    border-bottom: 1px solid $color-red;
    &.active {
      border-bottom: 6px solid $color-red;
    }
  }

  &_blue {
    border-bottom: 1px solid $color-blue;
    &.active {
      border-bottom: 6px solid $color-blue;
    }
  }

  &_green {
    border-bottom: 1px solid $color-green;
    &.active {
      border-bottom: 6px solid $color-green;
    }
  }
 

  & + &-content { margin-top: 30px; }

  &-content {
    margin-bottom: 130px;
    &__wrapper {
      display: none;
      opacity: 0;
      transition: opacity $ease-main, transform $ease-main;
      transform: translate3d(0, 10px, 0);

      &.active {
        display: block;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
