.payment-method {
  $b: &;

  @include display-grid;
  @include grid-template-columns(1fr 577px);
  @include grid-template-rows(grid-repeat(2, auto));

  width: 100%;
  background-color: $nd-color-basic-light;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .03), 2px 2px 2px rgba(0, 0, 0, .04), 3px 3px 3px rgba(0, 0, 0, .02);
  border-radius: 3px;
  padding: 56px 40px 63px;
  box-sizing: border-box;

  @include screen('xlg', max, 2) {
    @include grid-template-columns(1fr pxtovw(487, 1660));

    box-shadow: pxtovw(1, 1660) pxtovw(1, 1660) pxtovw(1, 1660) rgba(0, 0, 0, .03), pxtovw(2, 1660) pxtovw(2, 1660) pxtovw(2, 1660) rgba(0, 0, 0, .04), pxtovw(3, 1660) pxtovw(3, 1660) pxtovw(3, 1660) rgba(0, 0, 0, .02);
    border-radius: pxtovw(3, 1660);
    padding: pxtovw(56, 1660) pxtovw(40, 1660) pxtovw(63, 1660);
  }

  @include screen('lg', max, 2) {
    @include grid-template-columns(1fr pxtovw(414, 1366));

    box-shadow: pxtovw(1, 1366) pxtovw(1, 1366) pxtovw(1, 1366) rgba(0, 0, 0, .03), pxtovw(2, 1366) pxtovw(2, 1366) pxtovw(2, 1366) rgba(0, 0, 0, .04), pxtovw(3, 1366) pxtovw(3, 1366) pxtovw(3, 1366) rgba(0, 0, 0, .02);
    border-radius: pxtovw(3, 1366);
    padding: pxtovw(56, 1366) pxtovw(40, 1366) pxtovw(63, 1366);
  }

  @include screen('md', max, 2) {
    @include grid-template-columns(1fr pxtovw(378, 960));
    @include grid-template-rows(grid-repeat(3, auto));

    box-shadow: pxtovw(1, 960) pxtovw(1, 960) pxtovw(1, 960) rgba(0, 0, 0, .03), pxtovw(2, 960) pxtovw(2, 960) pxtovw(2, 960) rgba(0, 0, 0, .04), pxtovw(3, 960) pxtovw(3, 960) pxtovw(3, 960) rgba(0, 0, 0, .02);
    border-radius: pxtovw(3, 960);
    padding: pxtovw(40, 960) pxtovw(40, 960) pxtovw(50, 960);
  }

  @include screen('sm', max, 2) {
    @include grid-template-columns(100%);

    box-shadow: pxtovw(1, 375) pxtovw(1, 375) pxtovw(1, 375) rgba(0, 0, 0, .03), pxtovw(2, 375) pxtovw(2, 375) pxtovw(2, 375) rgba(0, 0, 0, .04), pxtovw(3, 375) pxtovw(3, 375) pxtovw(3, 375) rgba(0, 0, 0, .02);
    border-radius: pxtovw(3, 375);
    padding: pxtovw(29, 375) pxtovw(18, 375) pxtovw(40, 375);
  }

  &_short {
    @include display-grid;
    @include grid-template-columns(1fr 322px);
    @include grid-template-rows(grid-repeat(2, auto));
    @include rule(padding-top, (xl: 40px, xlg: 40, lg: 40, md: 40, sm: 30));
    @include rule(padding-bottom, (xl: 45px, xlg: 45, lg: 45, md: 45, sm: 40));

    @include screen('xlg', max, 2) {
      @include grid-template-columns(1fr pxtovw(322, 1660));
    }

    @include screen('lg', max, 2) {
      @include grid-template-columns(1fr pxtovw(322, 1366));
    }

    @include screen('md', max, 2) {
      @include grid-template-columns(1fr pxtovw(322, 960));
      @include grid-template-rows(grid-repeat(3, auto));
    }

    @include screen('sm', max, 2) {
      @include grid-template-columns(100%);
    }
  }

  &_bordered {
    border: 1px solid $nd-color-payment-border;
  }

  &__describe {
    @include grid-column(1, 2);
    @include grid-row(1, 2);

    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;

    @include screen('xlg', max, 2) {
      padding-right: pxtovw(20, 1660);
    }

    @include screen('lg', max, 2) {
      padding-right: pxtovw(20, 1366);
    }

    @include screen('md', max, 2) {
      padding-right: pxtovw(20, 960);
    }

    @include screen('sm', max, 2) {
      padding-right: 0;
    }
  }

  &__type {
    font-size: 16px;
    line-height: 1;
    font-weight: 600;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(16, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(16, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(16, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(16, 375);
    }
  }

  &__title {
    font-family: $font-stolzl;
    font-size: 30px;
    line-height: 1;
    font-weight: 400;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(30, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(30, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(26, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(26, 375);
    }

    #{$b}_short & {
      @include rule(font-size, (xl: 26px, xlg: 26, lg: 26, md: 26, sm: 26));
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 17px, xlg: 17, lg: 17, md: 17, sm: 17));

      #{$b}_short & {
        @include rule(margin-top, (xl: 15px, xlg: 15, lg: 15, md: 15, sm: 15));
      }
    }
  }

  &__table {
    @include grid-column(2, 3);
    @include grid-row(1, 3);

    @include screen('sm', max, 2) {
      @include grid-column(1, 2);
      @include grid-row(2, 3);
    }

    &:not(:first-child) {
      margin-top: -17px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(-17, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(-17, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(-17, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(26, 375);
      }
    }

    .nd-table {
      width: 100%;

      th, td {
        @include screen('sm', max, 2) {
          padding-top: pxtovw(18, 375);
          padding-bottom: pxtovw(16, 375);
        }
      }
    }
  }

  &__buttons {
    @include grid-column(1, 2);
    @include grid-row(2, 3);
    @include grid-align-self(end);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding-right: 20px;

    @include screen('xlg', max, 2) {
      padding-right: pxtovw(20, 1660);
    }

    @include screen('lg', max, 2) {
      padding-right: pxtovw(20, 1366);
    }

    @include screen('md', max, 2) {
      padding-right: pxtovw(20, 960);
    }

    @include screen('sm', max, 2) {
      @include grid-column(1, 2);
      @include grid-row(3, 4);

      padding-right: 0;
    }

    &:not(:first-child) {
      margin-top: 20px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(20, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(20, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(37, 375);
      }
    }
  }

  &__button {
    min-width: 148px;

    @include screen('xlg', max, 2) {
      min-width: pxtovw(148, 1660);
    }

    @include screen('lg', max, 2) {
      min-width: pxtovw(148, 1366);
    }

    @include screen('md', max, 2) {
      min-width: pxtovw(148, 960);
    }

    @include screen('sm', max, 2) {
      min-width: pxtovw(148, 375);
    }

    &.is-disabled, &:disabled {
      background-color: $nd-color-border4;
      opacity: 1;
    }
  }

  &__info {
    &:not(:first-child) {
      margin-left: 18px;

      @include screen('xlg', max, 2) {
        margin-left: pxtovw(18, 1660);
      }

      @include screen('lg', max, 2) {
        margin-left: pxtovw(18, 1366);
      }

      @include screen('md', max, 2) {
        margin-left: pxtovw(18, 960);
      }

      @include screen('sm', max, 2) {
        margin-left: pxtovw(18, 375);
      }
    }
  }
}
