.timer {
  $b: &;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  color: $color-basic;

  &__name {
    @include text16;

    font-weight: 400;

    @include screen('sm') {
      @include text12;

      line-height: (20/12);
      letter-spacing: -.02em;
    }

    &:not(:last-child) {
      margin-right: 4px;

      @include screen('sm') {
        margin-right: 2px;
      }
    }
  }

  &__counter {
    @include text-mid;

    font-weight: 700;
    display: inline-flex;
    justify-content: flex-start;
    align-items: baseline;

    @include screen('sm') {
      @include text12;

      line-height: (20/12);
      letter-spacing: -.02em;
    }
  }

  &__item {
    &:not(:last-child)::after {
      display: inline;
      content: ':';
      margin: 0 4px;

      @include screen('sm') {
        margin: 0 2px;
      }
    }
  }
}
