mixin filter-dialog()
  +b.filter-dialog&attributes(attributes)
    +e.text Do you really want to clear map filter?
    +e.buttons
      +button('button')(type="button")._border._border_bg-white._border_narrow._border_narrow-small._small.__button.js-filter-reset-no No
      +button('button')(type="reset")._border._border_bg-white._border_narrow._border_narrow-small._small.__button.js-filter-reset-yes Yes
