.close {
  $b: &;

  position: absolute;
  width: 38px;
  height: 38px;
  display: block;
  -webkit-appearance: none;
  background-color: transparent;
  color: $color-black;
  outline: none;
  border: none;
  fill: currentColor;
  transition: color $ease-main;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 100000;

  @include screen('md') {
    width: 44px;
    height: 44px;
  }

  @include screen('sm') {
    width: 34px;
    height: 34px;
  }

  .nd & {
    @include rule(padding, (xl: 10px, xlg: 10, lg: 10, md: 10, sm: 10));
  }

  &:hover {
    color: $color-basic;
  }

  &-icon {
    width: 100%;
    height: 100%;
  }

  &_small {
    width: 36px;
    height: 36px;

    .nd & {
      @include rule(padding, (xl: 15px, xlg: 15, lg: 15, md: 15, sm: 15));
      @include rule(width, (xl: 46px, xlg: 46, lg: 46, md: 46, sm: 46));
      @include rule(height, (xl: 46px, xlg: 46, lg: 46, md: 46, sm: 46));
    }
  }

  &_gray {
    color: $color-basic;

    &:hover {
      color: $color-basic-light;
    }

    .nd & {
      color: $nd-color-basic;

      &:hover {
        color: $nd-color-main;
      }
    }
  }
}
