.close {
  $b: &;

  position: absolute;
  width: 38px;
  height: 38px;
  display: block;
  -webkit-appearance: none;
  background-color: transparent;
  color: $color-black;
  outline: none;
  border: none;
  fill: currentColor;
  transition: color $ease-main;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 100000;

  @include screen('md') {
    width: 44px;
    height: 44px;
  }

  @include screen('sm') {
    width: 34px;
    height: 34px;
  }

  &:hover {
    color: $color-basic;
  }

  &-icon {
    width: 100%;
    height: 100%;
  }
}
