.message {
  $b: &;

  display: block;
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -13px;

    @include screen('sm') {
      flex-wrap: wrap;
      margin-top: 0;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @include screen('sm') {
        margin-bottom: 12px;
      }
    }
  }

  &__info {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    flex: 1;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__counter {
    margin-right: 0;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__date {
    @include text;

    display: inline-block;
    line-height: (26/14);
    font-weight: 700;
    color: $color-basic-light;
  }

  &__content {
    @include text16;

    font-weight: 400;
    line-height: (20/16);
    width: 100%;

    @include screen('sm') {
      @include text12;

      line-height: (20/12);
    }

    &_bold {
      font-weight: 700;
    }
  }
}
