.offer-info {
  $b: &;

  display: block;

  &__head {
    display: inline-flex;
    align-items: center;

    .button-heart {
      margin-right: auto;
    }
  }

  .box {
    margin-right: 8px;

    &_size8 {
      margin-right: 4px;
    }
  }

  &__title {
    @include text;

    font-weight: 700;
    text-transform: uppercase;
    line-height: (26 / 14);
    color: $color-text-light;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &_small {
      @include text12;

      line-height: (20 / 12);
    }

    &_light-gray {
      color: $color-basic-light;
    }

    &_dark {
      color: $color-basic;
    }

    &_dark2 {
      color: $color-oi-dark;
    }

    &_fz11 {
      @include text-small;

      line-height: (20 / 11);
    }

    &_fz13 {
      @include text13;

      line-height: (20 / 13);
    }

    &_fz16 {
      @include text16;

      line-height: (20 / 16);
    }

    &_fz24 {
      @include text24;

      @include screen('sm') {
        @include text15;

        line-height: (13 / 15);
      }
    }

    &_mfz10 {
      @include screen('sm') {
        @include text10;

        line-height: (13 / 10);
      }
    }

    &_mfz15 {
      @include screen('sm') {
        @include text15;

        line-height: (13 / 15);
      }
    }

    &_lsp {
      letter-spacing: .02em;
    }

    #{$b}.is-empty & {
      color: $color-text-gray2;
    }
  }

  &__count {
    text-transform: none;
  }

  &__price {
    @include heading-4;

    font-weight: 700;
    margin-top: -4px;

    @include screen('sm') {
      @include text15;
    }
  }

  &__cost {
    @include text12;

    font-weight: 400;
    line-height: (20 / 12);
    text-transform: uppercase;
    display: inline-block;
    color: $color-basic-light;
    margin-top: -2px;

    .price {
      text-transform: none;
    }
  }

  &_line {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include screen('sm') {
      justify-content: space-between;
      flex-wrap: wrap;
    }

    #{$b}__head {
      position: relative;

      &:not(:last-child) {
        margin-right: 30px;

        @include screen('sm') {
          margin-right: 15px;
        }

        &::after {
          @include pseudo;

          width: 1px;
          height: 17px;
          background-color: $color-border-light;
          top: 50%;
          right: -16px;
          transform: translate3d(0, -50%, 0);

          @include screen('sm') {
            display: none;
          }
        }
      }
    }

    .box {
      margin-right: 0;

      @include screen('sm') {
        margin-right: 8px;
      }
    }

    #{$b}__title {
      @include text15;

      &:not(:last-child) {
        margin-right: 0;

        @include screen('sm') {
          margin-right: 10px;
        }
      }
    }

    #{$b}__price {
      margin-top: 0;

      @include screen('sm') {
        margin-top: 4px;
        margin-left: auto;
      }
    }
  }

  &_small {
    .box {
      margin-right: 5px;
    }

    #{$b}__head {
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    #{$b}__title {
      @include text15;

      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      color: $color-text-light;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    #{$b}__price {
      @include text15;

      line-height: 1;
    }

    &_light {
      #{$b}__title {
        color: $color-basic-light;
      }

      #{$b}__price {
        font-weight: 400;
        color: $color-basic-light;
      }
    }
  }

  &_light {
    #{$b}__title {
      color: $color-white;
    }

    #{$b}__count {
      color: $color-white;
    }

    &.is-empty {
      #{$b}__title {
        color: $color-offer-disable;
      }

      #{$b}__count {
        color: $color-bg;
      }
    }
  }

  &_short {
    .box {
      margin-right: 4px;
    }

    #{$b}__title {
      letter-spacing: .02em;
    }
  }
}

.offer-info-radio {
  cursor: pointer;
  display: flex;
  width: 100%;

  input {
    display: none;
  }

  input:checked ~ .offer-info,&:hover .offer-info, input:checked ~ .offer-option,&:hover .offer-option {
    background-color: $color-bg;
  }
}
