.offer-info {
  $b: &;

  display: block;

  &__head {
    display: inline-flex;
    align-items: center;

    .button-heart {
      margin-right: auto;
    }
  }

  .box {
    margin-right: 8px;
  }

  &__title {
    @include text;

    font-weight: 700;
    text-transform: uppercase;
    line-height: (26/14);
    color: $color-text-light;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__count {
    text-transform: none;
  }

  &__price {
    @include heading-4;

    font-weight: 700;
    margin-top: -4px;

    @include screen('sm') {
      @include text15;
    }
  }

  &_line {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include screen('sm') {
      justify-content: space-between;
      flex-wrap: wrap;
    }

    #{$b}__head {
      position: relative;

      &:not(:last-child) {
        margin-right: 30px;

        @include screen('sm') {
          margin-right: 15px;
        }

        &::after {
          @include pseudo;

          width: 1px;
          height: 17px;
          background-color: $color-border-light;
          top: 50%;
          right: -16px;
          transform: translate3d(0, -50%, 0);

          @include screen('sm') {
            display: none;
          }
        }
      }
    }

    .box {
      margin-right: 0;

      @include screen('sm') {
        margin-right: 8px;
      }
    }

    #{$b}__title {
      @include text15;

      &:not(:last-child) {
        margin-right: 0;

        @include screen('sm') {
          margin-right: 10px;
        }
      }
    }

    #{$b}__price {
      margin-top: 0;

      @include screen('sm') {
        margin-top: 4px;
        margin-left: auto;
      }
    }
  }

  &_small {

    .box {
      margin-right: 5px;
    }

    #{$b}__head {
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    #{$b}__title {
      @include text15;

      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      color: $color-text-light;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    #{$b}__price {
      @include text15;

      line-height: 1;
    }
  }

  &_light {

    #{$b}__title {
      color: $color-white;
    }

    #{$b}__count {
      color: $color-white;
    }

    &.is-empty {

      #{$b}__title {
        color: $color-offer-disable;
      }

      #{$b}__count {
        color: $color-bg;
      }
    }
  }

  &_short {

    .box {
      margin-right: 4px;
    }

    #{$b}__title {
      letter-spacing: .02em;
    }
  }
}

.offer-info-radio {
  cursor: pointer;
  display: block;
  width: 100%;

  input {
    display: none;
  }

  input:checked~.offer-info,
  &:hover .offer-info {
    background-color: $color-bg;
  }
}
