.popup-offer-types {
  $b: &;

  .nd-popup {
    &__content {
      padding-top: 82px;

      @include screen('lg', max, 2) {
        padding-top: pxtovw(82, 1366);
      }

      @include screen('md', max, 2) {
        padding-top: pxtovw(82, 960);
      }

      @include screen('sm', max, 2) {
        padding-top: pxtovw(82, 375);
      }
    }
  }

  &__section {
    display: block;
    width: 100%;

    &:not(:first-child) {
      margin-top: 55px;

      @include screen('lg', max, 2) {
        margin-top: pxtovw(55, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(55, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(55, 375);
      }
    }
  }

  &__title {
    display: block;
    width: 100%;
    font-family: $font-stolzl;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;

    @include screen('lg', max, 2) {
      font-size: pxtovw(17, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(17, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(17, 375);
    }
  }

  &__list {
    display: block;
    width: 100%;

    &:not(:first-child) {
      margin-top: 15px;

      @include screen('lg', max, 2) {
        margin-top: pxtovw(15, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(15, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(15, 375);
      }
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: 20px;

      @include screen('lg', max, 2) {
        margin-top: pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(20, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(20, 375);
      }
    }
  }
}
