.content-zone {
  @include text-big;

  line-height: 1.45;

  @include screen('sm') {
    @include text15;

    line-height: 1.34;
  }

  h1 {

    &:not(:last-child) {
      margin-bottom: 25px;

      @include screen('sm') {
        margin-bottom: 12px;
      }
    }

    @include heading-1;
  }

  h2 {

    &:not(:last-child) {
      margin-bottom: 25px;

      @include screen('sm') {
        margin-bottom: 12px;
      }
    }

    @include heading-2;
  }

  h3 {

    &:not(:last-child) {
      margin-bottom: 25px;

      @include screen('sm') {
        margin-bottom: 12px;
      }
    }

    @include heading-3;
  }

  h4 {

    &:not(:last-child) {
      margin-bottom: 25px;

      @include screen('sm') {
        margin-bottom: 12px;
      }
    }

    @include heading-4;
  }

  h5 {

    &:not(:last-child) {
      margin-bottom: 25px;

      @include screen('sm') {
        margin-bottom: 12px;
      }
    }

    @include heading-5;
  }

  h6 {

    &:not(:last-child) {
      margin-bottom: 25px;

      @include screen('sm') {
        margin-bottom: 12px;
      }
    }

    @include heading-6;
  }

  p {
    hyphens: auto;

    &:not(:last-child) {
      margin-bottom: 30px;

      @include screen('lg') {
        margin-bottom: 32px;
      }

      @include screen('sm') {
        margin-bottom: 29px;
      }
    }

    small {
      display: block;

      @include text;
    }
  }

  blockquote {
    margin: 0;
    padding-left: 40px;
    border-left: 2px solid black;
    display: block;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  img {
    max-width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  >ul,
  >ol {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul,
  ol {
    @include list;
  }

  ul {
    @include ullist;

    line-height: 1.45;

    @include screen('sm') {
      line-height: 1.2;
    }
  }

  ol {
    @include ollist;
  }

  a {
    @include link;
  }

  &_mid {
    @include text16;

    line-height: (20/16);

    p {

      &:not(:last-child) {
        margin-bottom: 20px;

        @include screen('sm') {
          margin-bottom: 25px;
        }
      }

      small {
        @include text-small;

        line-height: (20/11);
      }
    }

    ul {
      line-height: (20/16);

      li {
        &:not(:last-child) {
          margin-bottom: 15px;
        }

        &::before {
          top: 7px;
        }
      }
    }
  }

  &_small {
    @include text15;

    line-height: (19/15);

    p {

      &:not(:last-child) {
        margin-bottom: 25px;

        @include screen('sm') {
          margin-bottom: 30px;
        }
      }

      small {
        @include text-small;

        line-height: (19/11);
      }
    }

    ul {
      line-height: (19/15);

      li {
        &:not(:last-child) {
          margin-bottom: 15px;
        }

        &::before {
          top: 5px;
        }
      }
    }
  }

  &_smaller {
    @include text12;

    line-height: (15/12);

    p {

      &:not(:last-child) {
        margin-bottom: 20px;

        @include screen('sm') {
          margin-bottom: 25px;
        }
      }

      small {
        @include text-small;

        line-height: (15/11);
      }
    }

    ul {
      line-height: (15/12);

      li {
        &:not(:last-child) {
          margin-bottom: 15px;
        }

        &::before {
          top: 4px;
        }
      }
    }
  }
}
