mixin offer-select(star)
  +b.offer-select__.js-offer-select&attributes(attributes)
    +e.head(data-head)
      +e.label(data-label)
      +e.toggle
        +icon('select-arrow').__icon
      if star
        +e.star *
    +e.dropdown.js-scrollbar
      +e.UL.list
        block

mixin offer-select-item(data)
  +e.LI.item
    +offer-info-radio('offers', data)(data-select-item)
