mixin banner()
  +b.SECTION.banner&attributes(attributes)
    .container.container_banner
      +e.__left
        +e.UL.__top-list
          +e.LI.__top-item
            +e.A(href="#").__top-link London
          +e.LI.__top-item
            +e.A(href="#").__top-link Kensington
          +e.LI.__top-item
            +e.A(href="#").__top-link EC2A,London
        
        +e.UL.__sqad-list 
          +e.LI.__sqad-item
          +e.LI.__sqad-item._red
          +e.LI.__sqad-item._blue
          +e.LI.__sqad-item._green

        +e.H1.__title Boutique Workplace - 1 Neal Street

        +e.UL.__down-list 
          +e.LI.__down-item
            +e.A(href="#").__link-item
              +icon('heart').__svg
              +e.__text Add to Favorites
          +e.LI.__down-item
            +e.A(href="#").__link-item
              +icon('arrow3').__svg
              +e.__text Download as PDF
          

        +e.__start Starting at Just
        +e.__start-price £300 per month
      +e.__right
        +slider(false, true)
          +slide('./assets/images/slide.jpg')
            img(rel="group" src='./assets/images/slide.jpg').slide-img
          +slide('./assets/images/slide.jpg')
            img(rel="group" src='./assets/images/slide-two.jpg').slide-img
          +slide('./assets/images/slide.jpg')
            img(rel="group" src='./assets/images/slide-three.jpg').slide-img
          +slide('./assets/images/slide.jpg')
            img(rel="group" src='./assets/images/slide-one.jpg').slide-img

