.banner {
  display: block;
  width: 100%;
  font-size: 16px;
  color: $color-wite;

  &__left {
    width: 30%;
    padding: 61px 32px 54px 68px;
    background: $color-grey-dark;
    display: flex;
    flex-direction: column;
  }

  &__right {
    width: 70%;
    overflow: hidden;
  }

  &__top-list {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
  }

  &__top-item {
    border-left: 1px solid $color-basic;
    border-right: 1px solid $color-basic;
    padding: 0 9px;

    &:first-child{
      border: 0px solid $color-basic;
      padding: 0;
      padding-right: 12px;
    }
    &:last-child {
      border: 0px solid $color-basic;
      padding: 0;
      padding-left: 12px;
    }
    
  }

  &__top-link {
    color: $color-wite;
    font-weight: 700;
    font-size: 17px;
    transition: .3s;
    &:hover {
      opacity: .5;
    }
  }

  &__sqad-list {
    display: flex;
    margin-bottom: 30px;
  }

  &__sqad-item {
    height: 19px;
    width: 19px;
    background: $color-yellow;

    &_red {
      background: $color-red;
    }
    &_blue {
      background: $color-blue;
    }
    &_green {
      background: $color-green;
    }
  }

  &__title {
    font-size: 38px;
    display: block;
    margin-bottom: auto;
    line-height: 1.3;
    &_info {
      font-size: 54px;
      line-height: 1.1;
    }
  }

  &__down-list {
    display: flex;
    margin-bottom: 62px;
    margin-top: 10px;
  }

  &__down-item {
    margin-right: 53px;
    &:last-child {
      margin-right: 0px;
    }
  }

  &__link-item {
    display: flex;
    align-items: center;
    transition: .2s;
    &:hover {
      opacity: .5;
    }
  }

  &__text {
    margin-left: 13px;
    color: $color-wite;
    font-weight: 700;
  }

  &__start {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.32px;
    margin-bottom: 5px;
  }

  &__start-price {
    font-size: 24px;
    font-weight: 700;
  }

  &__svg {
    height: 25px;
    width: 25px;
    fill: $color-wite;
  }
}
