.banner {
  display: block;
  width: 100%;
  font-size: 16px;
  letter-spacing: -0.34px;
  color: $color-wite;

  &__left {
    flex: 1;
    padding: 60px 67px 55px 67px;
    background: $color-grey-dark;
    display: flex;
    flex-direction: column;
  }

  &__right {
    flex: 2.5;
    overflow: hidden;
  }

  &__top-list {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
  }

  &__top-item {
    &_center {
      border-left: 1px solid $color-basic;
      border-right: 1px solid $color-basic;
      padding: 0 10px;
    }
    &_left {
      padding-right: 12px;
    }
    &_right {
      padding-left: 12px;
    }
    
  }

  &__top-link {
    color: $color-wite;
    font-weight: 700;
    font-size: 16px;
  }

  &__sqad-list {
    display: flex;
    margin-bottom: 30px;
  }

  &__sqad-item {
    height: 19px;
    width: 19px;
    background: $color-yellow;

    &_red {
      background: $color-red;
    }
    &_blue {
      background: $color-blue;
    }
    &_green {
      background: $color-green;
    }
  }

  &__title {
    font-size: 39px;
    letter-spacing: -1.5px;
    display: block;
    margin-bottom: auto;
    line-height: 1.2;
  }

  &__down-list {
    display: flex;
    margin-bottom: 60px;
    margin-top: 10px;
  }

  &__down-item {
    &:first-child {
      margin-right: 53px;
    }
  }

  &__link-item {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-left: 13px;
    color: $color-wite;
    font-weight: 700;
  }

  &__start {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.32px;
    margin-bottom: 5px;
  }

  &__start-price {
    font-size: 24px;
    letter-spacing: -0.5px;
    font-weight: 700;
  }

}

