mixin info-editable()
  +b.info-editable&attributes(attributes)
    block

mixin info-editable-name()
  +e.name&attributes(attributes)
    block

mixin info-editable-field(data)
  +e.field&attributes(attributes)
    block
    //- input(type="hidden" name=data.input.name value=data.input.value)
    //- if data.edit
    //-   +link()(href=data.target)._light-underline.__button.js-edit-field Edit
