.info-editable {
  $b: &;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  border-bottom: 1px solid $color-border-light;
  box-sizing: border-box;
  padding-bottom: 11px;

  @include screen('sm') {
    padding-bottom: 5px;
  }

  &__name {
    @include text-big;

    display: inline-block;
    white-space: nowrap;
    font-weight: 700;

    @include screen('sm') {
      @include text;

      line-height: (26/14);
      letter-spacing: -.01em;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__offer {

    .box {
      min-width: 13px;
      width: 13px;
      height: 13px;

      @include screen('sm') {
        display: none;
      }
    }

    .offer-info {

      &__title {
        @include text-big;

        font-weight: 400;
        color: $color-basic;

        @include screen('sm') {
          @include text;

          line-height: (26 / 14);
          letter-spacing: -.01em;
        }
      }
    }
  }

  &__field {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;

    @include text-big;

    @include screen('sm') {
      @include text;

      line-height: (26 / 14);
      letter-spacing: -.01em;
    }

    &_date {
      position: relative;
      flex: 1;
    }

    &_editpd {
      padding-right: 56px;

      @include screen('md') {
        padding-right: 0;
      }
    }

    b {
      font-weight: 700;
    }
  }

  &__item {
    display: inline-block;

    &_bold {
      font-weight: 700;
    }

    &:not(:first-child) {
      margin-left: 30px;

      @include screen('md') {
        margin-left: 15px;
      }
    }
  }

  &__text {
    @include text-big;

    @include screen('sm') {
      @include text;

      line-height: (26 / 14);
      letter-spacing: -.01em;
    }

    &_bold {
      font-weight: 700;
    }
  }

  &__info {
    margin-left: 5px;

    @include screen('sm') {
      margin-left: 3px;
      display: none;
    }
  }

  &__edit {
    margin-left: 27px;

    @include screen('sm') {
      margin-left: 5px;
    }
  }

  &__date {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }

  &_date {

    #{$b} {
      &__name {
        &:not(:last-child) {
          margin-right: 30px;

          @include screen('md') {
            margin-right: 15px;
          }
        }
      }

      &__field {
        flex: 1;
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
      }

      &__item {
        @include screen('md') {
          display: block;
          width: 100%;
          text-align: right;
        }

        &:not(:first-child) {
          margin-left: 43px;

          @include screen('md') {
            margin-left: 0;
          }
        }
      }
    }
  }
}
