mixin file-uploader()
  +b.FORM.file-uploader&attributes(attributes)(data-uploader-block)
    +e.output(data-files-output)
    +e.buttons
      +button-icon('label', 'folder')._border._short.__label Browse...
        +input(type="file" multiple="multiple").hide.js-file-upload
      +button('button', true)(type="submit" data-server-callback="uploadFiles")._short.__button.js-file-send Send Files
    block
