mixin filter-name(placeholder, name)
  +b.filter-name&attributes(attributes)
    +e.placeholder(data-filter-placeholder)!= placeholder
      +e.title(data-filter-name)!= name
      +e.toggle
        +icon('select-arrow').__icon
