.condition-search {
  $b: &;

  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding-top: 12px;

  @include screen('lg') {
    flex-direction: column;
    justify-content: flex-start;
  }

  .is-IE & {
    justify-content: flex-start;

    @include screen('lg') {
      display: block;
    }
  }

  &__head {
    text-align: right;
    min-width: 244px;

    @include screen('lg') {
      min-width: 0;
      width: 100%;
      text-align: left;
      margin-bottom: 30px;
    }

    @include screen('md') {
      margin-bottom: 44px;
    }

    @include screen('sm') {
      margin-bottom: 28px;
    }
  }

  &__title {
    @include text-mid;

    line-height: (26/17);
    font-weight: 700;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 34px;
    margin-bottom: 30px;

    @include screen('lg') {
      margin-bottom: 0;
    }

    @include screen('md') {
      @include heading-4;

      line-height: (26/20);
    }

    @include screen('sm') {
      @include text15;

      line-height: (26/15);
    }
  }

  &__form {
    display: block;
    box-sizing: border-box;
    flex: 1;
    max-width: 545px;

    @include screen('lg') {
      width: 100%;
      max-width: 550px;
    }

    @include screen('md') {
      max-width: 585px;
    }

    @include screen('sm') {
      max-width: none;
    }

    .is-IE & {
      min-width: 545px;

      @include screen('lg') {
        min-width: 550px;
      }

      @include screen('md') {
        min-width: 0;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding-right: 8px;
    margin-bottom: 38px;

    @include screen('lg') {
      padding-right: 14px;
      margin: 0 -7px 38px;
      width: calc(100% + 14px);
    }

    @include screen('md') {
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  &__radio {
    white-space: nowrap;

    &:not(:first-child) {
      margin-left: 20px;

      @include screen('md') {
        margin-left: 0;
      }
    }
  }

  &__selects {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin-top: -26px;
    margin-bottom: 10px;

    @include screen('sm') {
      flex: none;
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 38px;
    }
  }

  &__select {
    width: 140px;
    min-width: 140px;
    margin-top: 26px;

    @include screen('sm') {
      width: 100%;
      margin-top: 28px;
    }

    &:not(:last-child) {
      margin-right: 28px;

      @include screen('sm') {
        margin-right: 0;
      }
    }

    &_wide {
      width: auto;
      flex: 1;

      @include screen('sm') {
        flex: none;
        width: 100%;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-right: 4px;
    width: 100%;

    @include screen('lg') {
      margin: 0 -7px;
      padding-right: 9px;
      width: calc(100% + 14px);
    }

    @include screen('sm') {
      flex-wrap: wrap;
      padding-right: 0;
    }
  }

  &__buttons {
    margin-left: 19px;

    @include screen('md') {
      margin-left: 30px;
    }

    @include screen('sm') {
      margin-left: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 0 7px;
    }
  }

  &__button {

    .button__text {
      padding-left: 55px;
      padding-right: 55px;
      min-width: 143px;
    }
  }
}
