mixin sticky-message()
  +b.sticky-message&attributes(attributes)(data-sticky-message)
    .container
      +e.content(data-rounding-target)
        block

mixin sticky-message-text()
  +e.text&attributes(attributes)
    block

mixin sticky-message-buttons()
  +e.buttons&attributes(attributes)
    block

mixin cookies()
  +sticky-message
    +sticky-message-text We use cookies to provide you with a more comfortable and enjoyable experience. By clicking "I agree" you confirm that you agree to use cookies. You can cancel your consent at any time by changing your browser settings and deleting saved cookies.
    +sticky-message-buttons
      +button()(href="#")._border._border_bg-white.__button.js-close-message I agree
