.dots {
  $b: &;

  display: inline-block;

  &__dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: top;
    border-radius: 50%;
    background-color: $color-basic;
    background-clip: content-box;
    overflow: hidden;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}
