mixin dots()
  +b.dots&attributes(attributes)
    block

mixin dots-dot()
  +e.dot&attributes(attributes)
    block

mixin dots-dot-star()
  +e.dot_star&attributes(attributes)
    +icon('star').__icon
