.offer-card {
  $b: &;

  display: block;
  border: 2px solid transparent;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .03), 2px 2px 2px rgba(0, 0, 0, .04), 3px 3px 3px rgba(0, 0, 0, .02);
  background-color: $nd-color-basic-light;
  color: $nd-color-basic;
  transition: border $ease-main, box-shadow $ease-main;
  border-radius: 3px;
  width: 100%;
  padding: 22px 35px 35px;
  box-sizing: border-box;
  cursor: pointer;

  @include rule(border-width, (xl: 2px, xlg: 2, lg: 2, md: 2, sm: 2));

  @include screen('xlg', max, 2) {
    padding: pxtovw(22, 1660) pxtovw(35, 1660) pxtovw(35, 1660);
    border-radius: pxtovw(3, 1660);
    box-shadow: pxtovw(1, 1660) pxtovw(1, 1660) pxtovw(1, 1660) rgba(0, 0, 0, .03), pxtovw(2, 1660) pxtovw(2, 1660) pxtovw(2, 1660) rgba(0, 0, 0, .04), pxtovw(3, 1660) pxtovw(3, 1660) pxtovw(3, 1660) rgba(0, 0, 0, .02);
  }

  @include screen('lg', max, 2) {
    padding: pxtovw(22, 1366) pxtovw(35, 1366) pxtovw(35, 1366);
    border-radius: pxtovw(3, 1366);
    box-shadow: pxtovw(1, 1366) pxtovw(1, 1366) pxtovw(1, 1366) rgba(0, 0, 0, .03), pxtovw(2, 1366) pxtovw(2, 1366) pxtovw(2, 1366) rgba(0, 0, 0, .04), pxtovw(3, 1366) pxtovw(3, 1366) pxtovw(3, 1366) rgba(0, 0, 0, .02);
  }

  @include screen('md', max, 2) {
    padding: pxtovw(22, 960) pxtovw(35, 960) pxtovw(35, 960);
    border-radius: pxtovw(3, 960);
    box-shadow: pxtovw(1, 960) pxtovw(1, 960) pxtovw(1, 960) rgba(0, 0, 0, .03), pxtovw(2, 960) pxtovw(2, 960) pxtovw(2, 960) rgba(0, 0, 0, .04), pxtovw(3, 960) pxtovw(3, 960) pxtovw(3, 960) rgba(0, 0, 0, .02);
  }

  @include screen('sm', max, 2) {
    padding: pxtovw(12, 375) pxtovw(14, 375) pxtovw(40, 375);
    border-radius: pxtovw(3, 375);
    cursor: default;
    box-shadow: pxtovw(1, 375) pxtovw(1, 375) pxtovw(1, 375) rgba(0, 0, 0, .03), pxtovw(2, 375) pxtovw(2, 375) pxtovw(2, 375) rgba(0, 0, 0, .04), pxtovw(3, 375) pxtovw(3, 375) pxtovw(3, 375) rgba(0, 0, 0, .02);
  }

  &:hover {
    border-color: $nd-color-main;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .03), 2px 2px 2px rgba(0, 0, 0, .04), 3px 3px 16px rgba(0, 0, 0, .15);

    @include screen('xlg', max, 2) {
      box-shadow: pxtovw(1, 1660) pxtovw(1, 1660) pxtovw(1, 1660) rgba(0, 0, 0, .03), pxtovw(2, 1660) pxtovw(2, 1660) pxtovw(2, 1660) rgba(0, 0, 0, .04), pxtovw(3, 1660) pxtovw(3, 1660) pxtovw(16, 1660) rgba(0, 0, 0, .15);
    }

    @include screen('lg', max, 2) {
      box-shadow: pxtovw(1, 1366) pxtovw(1, 1366) pxtovw(1, 1366) rgba(0, 0, 0, .03), pxtovw(2, 1366) pxtovw(2, 1366) pxtovw(2, 1366) rgba(0, 0, 0, .04), pxtovw(3, 1366) pxtovw(3, 1366) pxtovw(16, 1366) rgba(0, 0, 0, .15);
    }

    @include screen('md', max, 2) {
      box-shadow: pxtovw(1, 960) pxtovw(1, 960) pxtovw(1, 960) rgba(0, 0, 0, .03), pxtovw(2, 960) pxtovw(2, 960) pxtovw(2, 960) rgba(0, 0, 0, .04), pxtovw(3, 960) pxtovw(3, 960) pxtovw(16, 960) rgba(0, 0, 0, .15);
    }

    @include screen('sm', max, 2) {
      cursor: default;
      box-shadow: pxtovw(1, 375) pxtovw(1, 375) pxtovw(1, 375) rgba(0, 0, 0, .03), pxtovw(2, 375) pxtovw(2, 375) pxtovw(2, 375) rgba(0, 0, 0, .04), pxtovw(3, 375) pxtovw(3, 375) pxtovw(16, 375) rgba(0, 0, 0, .15);
    }
  }

  &.is-active {
    border-color: $nd-color-main;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .03), 2px 2px 2px rgba(0, 0, 0, .04), 3px 3px 3px rgba(0, 0, 0, .02);

    @include screen('xlg', max, 2) {
      box-shadow: pxtovw(1, 1660) pxtovw(1, 1660) pxtovw(1, 1660) rgba(0, 0, 0, .03), pxtovw(2, 1660) pxtovw(2, 1660) pxtovw(2, 1660) rgba(0, 0, 0, .04), pxtovw(3, 1660) pxtovw(3, 1660) pxtovw(3, 1660) rgba(0, 0, 0, .02);
    }

    @include screen('lg', max, 2) {
      box-shadow: pxtovw(1, 1366) pxtovw(1, 1366) pxtovw(1, 1366) rgba(0, 0, 0, .03), pxtovw(2, 1366) pxtovw(2, 1366) pxtovw(2, 1366) rgba(0, 0, 0, .04), pxtovw(3, 1366) pxtovw(3, 1366) pxtovw(3, 1366) rgba(0, 0, 0, .02);
    }

    @include screen('md', max, 2) {
      box-shadow: pxtovw(1, 960) pxtovw(1, 960) pxtovw(1, 960) rgba(0, 0, 0, .03), pxtovw(2, 960) pxtovw(2, 960) pxtovw(2, 960) rgba(0, 0, 0, .04), pxtovw(3, 960) pxtovw(3, 960) pxtovw(3, 960) rgba(0, 0, 0, .02);
    }

    @include screen('sm', max, 2) {
      cursor: default;
      box-shadow: pxtovw(1, 375) pxtovw(1, 375) pxtovw(1, 375) rgba(0, 0, 0, .03), pxtovw(2, 375) pxtovw(2, 375) pxtovw(2, 375) rgba(0, 0, 0, .04), pxtovw(3, 375) pxtovw(3, 375) pxtovw(3, 375) rgba(0, 0, 0, .02);
    }
  }

  &_short {
    border: 1px solid #e5eef0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .03), 2px 2px 2px rgba(0, 0, 0, .04), 3px 3px 3px rgba(0, 0, 0, .02);
    cursor: pointer;
    transition: border $ease-main, box-shadow $ease-main;

    @include screen('md', max, 2) {
      padding: pxtovw(14, 960) pxtovw(14, 960) pxtovw(11, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(14, 375) pxtovw(14, 375) pxtovw(11, 375);
    }

    &.is-active {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 2px 2px 2px rgba(0, 0, 0, 0.04), 3px 3px 3px rgba(0, 0, 0, 0.02), inset 0 0 0 1px $nd-color-main;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
  }

  &__type {
    font-family: $font-main;
    font-size: 14px;
    line-height: (17 / 14);
    letter-spacing: normal;
    font-weight: 700;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(14, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(14, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(14, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(12, 375);
      line-height: (15 / 12);
    }

    .space-type__box {
      width: 13px;
      height: 13px;

      @include screen('xlg', max, 2) {
        width: pxtovw(13, 1660);
        height: pxtovw(13, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(13, 1366);
        height: pxtovw(13, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(13, 960);
        height: pxtovw(13, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(8, 375);
        height: pxtovw(8, 375);
      }

      &:not(:last-child) {
        margin-right: 10px;

        @include screen('xlg', max, 2) {
          margin-right: pxtovw(10, 1660);
        }

        @include screen('lg', max, 2) {
          margin-right: pxtovw(10, 1366);
        }

        @include screen('md', max, 2) {
          margin-right: pxtovw(10, 960);
        }

        @include screen('sm', max, 2) {
          margin-right: pxtovw(7, 375);
        }
      }
    }
  }

  &__info {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: baseline;
    text-align: right;
  }

  &__period {
    display: inline-block;
    font-size: 16px;
    line-height: (19 / 16);
    color: $nd-color-gray-text8;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(16, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(16, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(16, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(16, 375);
    }

    b {
      font-weight: 700;
    }
  }

  &__state {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: (17 / 14);
    letter-spacing: normal;
    font-weight: 700;
    color: $nd-color-main;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(14, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(14, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(14, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(12, 375);
      line-height: (15 / 12);
    }

    &:not(:first-child) {
      margin-left: 40px;

      @include screen('xlg', max, 2) {
        margin-left: pxtovw(40, 1660);
      }

      @include screen('lg', max, 2) {
        margin-left: pxtovw(40, 1366);
      }

      @include screen('md', max, 2) {
        margin-left: pxtovw(40, 960);
      }

      @include screen('sm', max, 2) {
        margin-left: pxtovw(40, 375);
      }
    }
  }

  &__main {
    @include display-grid;
    @include grid-template-columns(220px 44px 1fr);
    @include grid-template-rows(auto 1fr auto auto);

    @include screen('xlg', max, 2) {
      @include grid-template-columns(pxtovw(220, 1660) pxtovw(44, 1660) 1fr);
    }

    @include screen('lg', max, 2) {
      @include grid-template-columns(pxtovw(220, 1366) pxtovw(44, 1366) 1fr);
    }

    @include screen('md', max, 2) {
      @include grid-template-columns(pxtovw(220, 960) pxtovw(44, 960) 1fr);
    }

    @include screen('sm', max, 2) {
      @include grid-template-columns(100%);
      @include grid-template-rows(auto auto auto auto);
    }

    &:not(:first-child) {
      margin-top: 23px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(23, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(23, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(23, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(16, 375);
      }
    }

    &_private {
      @include grid-template-columns(220px 44px 1fr 40px 124px);

      @include screen('xlg', max, 2) {
        @include grid-template-columns(pxtovw(220, 1660) pxtovw(44, 1660) 1fr pxtovw(40, 1660) pxtovw(124, 1660));
      }

      @include screen('lg', max, 2) {
        @include grid-template-columns(pxtovw(220, 1366) pxtovw(44, 1366) 1fr pxtovw(20, 1366) pxtovw(124, 1366));
      }

      @include screen('md', max, 2) {
        @include grid-template-columns(pxtovw(220, 960) pxtovw(44, 960) 1fr pxtovw(20, 960) pxtovw(124, 960));
      }

      @include screen('sm', max, 2) {
        @include grid-template-columns(100%);
        @include grid-template-rows(auto auto auto auto auto);
      }
    }

    &_short {
      @include grid-template-rows(auto auto auto auto);
      @include grid-template-columns(220px 40px 1fr);

      @include screen('xlg', max, 2) {
        @include grid-template-columns(pxtovw(220, 1660) pxtovw(40, 1660) 1fr);
      }

      @include screen('lg', max, 2) {
        @include grid-template-columns(pxtovw(220, 1366) pxtovw(40, 1366) 1fr);
      }

      @include screen('md', max, 2) {
        @include grid-template-columns(pxtovw(77, 960) pxtovw(13, 960) 1fr);
      }

      @include screen('sm', max, 2) {
        @include grid-template-columns(pxtovw(77, 375) pxtovw(13, 375) 1fr);
      }
    }
  }

  &__media {
    @include grid-column(1, 2);
    @include grid-row(1, 4);

    position: relative;

    @include screen('sm', max, 2) {
      @include grid-row(1, 2);

      margin: 0 pxtovw(-16, 375);
      width: calc(100% + ((3200 / 375) * 1vw));
    }

    #{$b}__main_short & {
      @include grid-column(1, 2);
      @include grid-row(1, 2);

      border-radius: 3px;
      overflow: hidden;

      @include screen('xlg', max, 2) {
        border-radius: pxtovw(3, 1660);
      }

      @include screen('lg', max, 2) {
        border-radius: pxtovw(3, 1366);
      }

      @include screen('md', max, 2) {
        border-radius: pxtovw(3, 960);
      }

      @include screen('sm', max, 2) {
        border-radius: pxtovw(3, 375);
        margin: 0;
        width: 100%;
      }
    }
  }

  &__gallery {
    padding-top: 63.3%;

    #{$b}__main_short & {
      padding-top: 70%;
    }
  }

  &__image {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-top: 63.3%;
    font-size: 0;
    line-height: 0;
    overflow: hidden;

    #{$b}__main_short & {
      padding-top: 70%;
    }

    img {
      @include fill-img;

      display: block;
      font-size: 0;
      line-height: 0;
    }
  }

  &__title {
    @include grid-column(3, 4);
    @include grid-row(1, 2);

    display: block;
    width: 100%;
    font-family: $font-stolzl;
    font-size: 20px;
    line-height: (24 / 20);
    font-weight: 400;
    letter-spacing: normal;
    margin-top: -.27em;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(20, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(20, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(20, 960);
    }

    @include screen('sm', max, 2) {
      @include grid-column(1, 2);
      @include grid-row(2, 3);

      font-size: pxtovw(17, 375);
      line-height: (20 / 17);
      margin-top: pxtovw(30, 375);
    }

    #{$b}__main_private & {
      @include grid-column(3, 6);

      @include screen('sm', max, 2) {
        @include grid-column(1, 2);
      }
    }

    #{$b}__main_short & {
      @include grid-column(3, 4);
      @include grid-row(1, 2);

      margin-top: 0;
      font-family: $font-main;
      font-weight: 500;

      @include screen('md', max, 2) {
        font-size: pxtovw(15, 960);
        line-height: 1.13;
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(15, 375);
      }
    }
  }

  &__describe {
    @include grid-column(3, 4);
    @include grid-row(2, 3);

    font-size: 16px;
    line-height: (19 / 16);
    letter-spacing: normal;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(16, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(16, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(16, 960);
    }

    @include screen('sm', max, 2) {
      @include grid-column(1, 2);
      @include grid-row(3, 4);

      font-size: pxtovw(15, 375);
      line-height: 1.75;
    }

    #{$b}__main_private & {
      @include grid-column(3, 4);

      @include screen('sm', max, 2) {
        @include grid-column(1, 2);
      }
    }

    #{$b}__main_short & {
      @include grid-column(1, 4);
      @include grid-row(2, 3);

      box-sizing: border-box;

      @include rule(padding-bottom, (xl: 29px, xlg: 29, lg: 29, md: 29, sm: 29));

      @include screen('sm', max, 2) {
        font-size: pxtovw(16, 375);
        line-height: (19 / 16);
      }
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 13px, xlg: 13, lg: 13, md: 13, sm: 15));

      #{$b}__main_short & {
        margin-top: 0;

        #{$b}.is-active & {
          @include rule(margin-top, (xl: 24px, xlg: 24, lg: 24, md: 24, sm: 24));
        }
      }
    }

    a {
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    p {
      &:not(:first-child) {
        margin-top: 10px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(10, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(10, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(10, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(10, 375);
        }
      }
    }

    ul {
      display: block;
      width: 100%;

      &:not(:first-child) {
        margin-top: 28px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(28, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(28, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(28, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(28, 375);
        }

        #{$b}__main_short & {
          @include screen('sm', max, 2) {
            margin-top: pxtovw(29, 375);
          }
        }
      }
    }

    li {
      display: block;

      &::before {
        display: inline-block;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.76471L4.46154 9L11 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        width: 12px;
        height: 19px;
        vertical-align: top;
        margin-right: 15px;

        @include screen('xlg', max, 2) {
          width: pxtovw(12, 1660);
          height: pxtovw(19, 1660);
          margin-right: pxtovw(15, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(12, 1366);
          height: pxtovw(19, 1366);
          margin-right: pxtovw(15, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(12, 960);
          height: pxtovw(19, 960);
          margin-right: pxtovw(15, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(12, 375);
          height: pxtovw(26, 375);
          margin-right: pxtovw(10, 375);
        }

        #{$b}__main_short & {
          @include screen('sm', max, 2) {
            width: pxtovw(12, 375);
            height: pxtovw(19, 375);
            margin-right: pxtovw(15, 375);
          }
        }
      }

      &:not(:first-child) {
        margin-top: 15px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(15, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(15, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(15, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(9, 375);
        }

        #{$b}__main_short & {
          @include screen('sm', max, 2) {
            margin-top: pxtovw(15, 375);
          }
        }
      }
    }
  }

  &__plan {
    @include grid-column(5, 6);
    @include grid-row(2, 4);

    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 12px;

    @include screen('xlg', max, 2) {
      margin-top: pxtovw(12, 1660);
    }

    @include screen('lg', max, 2) {
      margin-top: pxtovw(12, 1366);
    }

    @include screen('md', max, 2) {
      margin-top: pxtovw(12, 960);
    }

    @include screen('sm', max, 2) {
      @include grid-column(1, 2);
      @include grid-row(4, 5);

      margin-top: pxtovw(30, 375);
    }
  }

  &__plan-caption {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: (19 / 16);
    letter-spacing: normal;
    padding: 0;
    margin: 0;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(16, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(16, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(16, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
      line-height: 1.75;
    }
  }

  $lines: 2;
  $mdlines: 3;
  $smlines: 4;
  $line-height: (19 / 16);
  $smline-height: 1.75;

  @keyframes css-acc {
    0% {
      max-height: $lines * $line-height * 1em;
    }

    100% {
      max-height: 500px;
    }
  }

  @keyframes css-acc-md {
    0% {
      max-height: $mdlines * $line-height * 1em;
    }

    100% {
      max-height: 2000px;
    }
  }

  @keyframes css-acc-sm {
    0% {
      max-height: $smlines * $smline-height * 1em;
    }

    100% {
      max-height: 2000px;
    }
  }

  &__summary {
    display: block;
    position: relative;
    overflow: hidden;
    line-height: $line-height;
    max-height: $lines * $line-height * 1em; //one more line
    text-overflow: ellipsis;

    @include screen('lg', max, 2) {
      max-height: $mdlines * $line-height * 1em;
    }

    @include screen('sm', max, 2) {
      line-height: $smline-height;
      max-height: $smlines * $smline-height * 1em;
    }

    #{$b}.is-active & {
      max-height: none;
    }
  }

  &__summary-text {
    display: inline-block;
    position: relative;
    max-height: ($lines + 1) * $line-height * 1em; //one more line
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    line-clamp: $lines;

    @include screen('lg', max, 2) {
      max-height: ($mdlines + 1) * $line-height * 1em;
      -webkit-line-clamp: $mdlines;
      line-clamp: $mdlines;
    }

    @include screen('sm', max, 2) {
      max-height: ($smlines + 1) * $smline-height * 1em;
      -webkit-line-clamp: $smlines;
      line-clamp: $smlines;
    }

    &::before {
      background: #fff; // fallback for old IE
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      bottom: $line-height * 1em;
      content: '\02026';
      height: $line-height * 1em;
      position: absolute;
      right: 0;
      text-align: right;
      width: 4em;

      @include screen('sm', max, 2) {
        bottom: $smline-height * 1em;
        height: $smline-height * 1em;
      }
    }

    &::after { // to cover all but the last line of text
      background: #fff;
      content: attr(data-text);
      left: 0;
      height: ($lines - 1) * $line-height * 1em;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;

      @include screen('lg', max, 2) {
        height: ($mdlines - 1) * $line-height * 1em;
      }

      @include screen('sm', max, 2) {
        height: ($smlines - 1) * $smline-height * 1em;
      }
    }

    @supports (-webkit-line-clamp: 2) {
      &::before, &::after {
        content: none;
      }
    }

    #{$b}.is-active & {
      -webkit-line-clamp: unset;
      line-clamp: unset;
      max-height: none;
      animation: css-acc .5s ease-out;

      @include screen('lg', max, 2) {
        animation: css-acc-md .5s ease-out;
      }

      @include screen('sm', max, 2) {
        animation: css-acc-sm .5s ease-out;
      }
    }
  }

  &__plan-image {
    display: block;
    font-size: 0;
    line-height: 0;
    border: 1px solid $nd-color-border5;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 6px 18px;

    @include screen('xlg', max, 2) {
      padding: pxtovw(6, 1660) pxtovw(18, 1660);
      border-radius: pxtovw(3, 1660);
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(6, 1366) pxtovw(18, 1366);
      border-radius: pxtovw(3, 1366);
    }

    @include screen('md', max, 2) {
      padding: pxtovw(6, 960) pxtovw(18, 960);
      border-radius: pxtovw(3, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(6, 375) pxtovw(18, 375);
      border-radius: pxtovw(3, 375);
    }

    &:not(:first-child) {
      margin-top: 10px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(10, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(10, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(10, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(10, 375);
      }
    }

    img, svg {
      display: block;
      font-size: 0;
      line-height: 0;
      width: 100%;
      height: auto;
    }
  }

  &__price {
    @include grid-column(3, 4);
    @include grid-row(3, 4);
    @include grid-align-self(end);

    position: relative;
    z-index: 2;
    display: inline-block;
    font-size: 16px;
    line-height: (19 / 16);
    font-weight: 700;
    letter-spacing: normal;
    box-sizing: border-box;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(16, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(16, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(16, 960);
    }

    @include screen('sm', max, 2) {
      @include grid-column(1, 2);
      @include grid-row(1, 2);
      @include grid-align-self(end);
      @include grid-justify-self(end);

      background-color: $nd-color-main;
      color: $nd-color-basic-light;
      height: pxtovw(26, 375);
      width: auto;
      font-size: pxtovw(15, 375);
      line-height: (18 / 15);
      font-weight: 600;
      padding: pxtovw(4, 375) pxtovw(10, 375);
      margin-right: pxtovw(-16, 375);
    }

    #{$b}__main_private & {
      @include grid-column(3, 4);

      @include screen('sm', max, 2) {
        @include grid-column(1, 2);
      }
    }

    #{$b}__main_short & {
      @include grid-column(1, 4);
      @include grid-row(3, 4);
      @include grid-align-self(end);
      @include grid-justify-self(end);

      text-align: right;

      @include screen('md', max, 2) {
        font-size: pxtovw(15, 960);
        line-height: 1.13;
      }

      @include screen('sm', max, 2) {
        background-color: transparent;
        color: $nd-color-basic;
        height: auto;
        width: auto;
        font-size: pxtovw(15, 375);
        font-weight: 700;
        padding: 0;
        margin-right: 0;
      }
    }

    &:not(:first-child) {
      margin-top: 30px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(30, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(30, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(30, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: 0;
      }

      #{$b}__main_short & {
        @include screen('md', max, 2) {
          margin-top: pxtovw(10, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(10, 375);
        }
      }
    }
  }

  &__price-period {
    &::before {
      display: inline;
      content: attr(data-text);

      @include screen('sm', max, 2) {
        content: attr(data-mobile-text);
      }
    }
  }

  &__buttons {
    @include grid-column(3, 4);
    @include grid-row(4, 5);

    display: none;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-height: 0;
    padding-bottom: 18px;

    @include screen('xlg', max, 2) {
      padding-bottom: pxtovw(18, 1660);
    }

    @include screen('lg', max, 2) {
      padding-bottom: pxtovw(18, 1366);
    }

    @include screen('md', max, 2) {
      padding-bottom: pxtovw(18, 960);
    }

    @include screen('sm', max, 2) {
      @include grid-column(1, 2);
      @include grid-row(4, 5);

      display: block;
      max-height: none;
      padding-bottom: 0;
    }

    #{$b}.is-active & {
      display: flex;
      max-height: none;
      animation: css-accordion .5s ease-out;

      @include screen('sm', max, 2) {
        display: block;
        animation: none;
      }
    }

    #{$b}_short.is-active & {
      display: flex;
      max-height: none;
      animation: css-accordion .5s ease-out;

      @include screen('sm', max, 2) {
        display: block;
      }
    }

    &:not(:first-child) {
      margin-top: 50px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(50, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(50, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(50, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(35, 375);
      }

      #{$b}__main_short & {
        @include screen('md', max, 2) {
          margin-top: pxtovw(42, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(42, 375);
        }
      }
    }

    #{$b}__main_private & {
      @include grid-column(3, 6);

      @include screen('sm', max, 2) {
        @include grid-column(1, 2);
        @include grid-row(5, 6);
      }
    }

    #{$b}__main_short & {
      @include grid-column(1, 4);
      @include grid-row(4, 5);

      display: none;
      max-height: 0;

      @include screen('sm', max, 2) {
        padding-bottom: pxtovw(13, 375);
      }
    }
  }

  &__more {
    font-weight: 600;

    #{$b}.is-active & {
      display: none;
    }

    span[data-closed] {
      display: inline;

      #{$b}.is-active & {
        display: none;
      }
    }

    span[data-opened] {
      display: none;

      #{$b}.is-active & {
        display: inline;
      }
    }
  }

  &__button {
    flex: 1;

    @include screen('sm') {
      flex: none;
      width: 100%;
    }

    &:not(:first-child) {
      margin-right: 30px;

      @include screen('xlg', max, 2) {
        margin-right: pxtovw(30, 1660);
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(30, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(30, 960);
      }

      @include screen('sm', max, 2) {
        margin-right: 0;
        margin-top: pxtovw(20, 375);
      }

      #{$b}__main_short & {
        margin-right: 30px;

        @include screen('xlg', max, 2) {
          margin-right: pxtovw(30, 1660);
        }

        @include screen('lg', max, 2) {
          margin-right: pxtovw(30, 1366);
        }

        @include screen('md', max, 2) {
          margin-right: pxtovw(18, 960);
        }

        @include screen('sm', max, 2) {
          margin-right: 0;
          margin-top: pxtovw(18, 375);
        }
      }
    }
  }

  &__details {
    display: none;
    max-height: 0;

    @include screen('sm', max, 2) {
      display: block;
      max-height: none;
    }

    #{$b}.is-active & {
      display: block;
      max-height: none;
      animation: css-accordion .5s ease-out;

      @include screen('sm', max, 2) {
        animation: none;
      }
    }

    #{$b}__main_short & {
      @include grid-column(1, 4);
      @include grid-row(2, 3);

      display: none;

      #{$b}.is-active & {
        display: block;
        animation: css-accordion .5s ease-out;
      }
    }

    &:not(:first-child) {
      margin-top: 40px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(40, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(40, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(40, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(12, 375);
      }
    }
  }

  &__content {
    display: block;

    @include screen('sm', max, 2) {
      display: none;
      max-height: 0;
    }

    #{$b}.is-active & {
      @include screen('sm', max, 2) {
        display: block;
        max-height: none;
        animation: css-accordion .5s ease-out;
      }
    }

    &:not(:last-child) {
      @include screen('sm', max, 2) {
        margin-bottom: pxtovw(12, 375);
      }
    }
  }
}
