mixin location()
  +b.location&attributes(attributes)
    +e.map
      +map#marker-map
      +e.IMG.marker(src="assets/images/map/marker-icon-red.png" srcset="assets/images/map/marker-icon-red@2x.png 2x")
    +e.info
      block
