mixin location()
  +b.location&attributes(attributes)
    +e.map
      +map#marker-map
      +e.IMG.marker(src="assets/images/map/marker-icon-red.png" srcset="assets/images/map/marker-icon-red@2x.png 2x")
    +e.info
      +form(data-validated-form)._flex
        +form-section
          +input(type="hidden" name="latitude" data-latitude="data-latitude")
          +input(type="hidden" name="longitude" data-longitude="data-longitude")
          +grid.grid_big.grid_t55
            +col({xl: 12 })
              +form-section-wrapper
                +form-box('Country')._gray-label
                  +select.js-select-input(name="country")
                    option(value="placeholder" placeholder) Country
                    option(value="uk" selected) United-Kingdom
                    option(value="lv") Latvia
                    option(value="ru") Russia
                    option(value="de") Germany
                    option(value="fr") France
            +col({xl: 12 })
              +form-section-wrapper
                +form-box('City')._gray-label
                  +select.js-select-input(name="city")
                    option(value="placeholder" placeholder) City
                    option(value="London" selected) London
                    option(value="Cambridge") Cambridge
                    option(value="Oxford") Oxford
                    option(value="Portsmouth") Portsmouth
                    option(value="Chichester") Chichester
            +col({xl: 12 })
              +form-section-wrapper
                +form-box('Exact Adress')
                  +textarea(type="text" name="adress" placeholder="Exact Adress" rows="1").textarea_bpd Punter Southall Group, 11 Strand, London WC2N 5HR,
        +e.buttons
          block
