.facil-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 53px;

  &__item {
    width: 16%;
    border: 1px solid $color-basic;
    margin-bottom: 13px;
    padding:10px 22px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 80px;
  }

  &__img {
    align-self: flex-end;
  }
}