.facil-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 62px;

  &__item {
    width: 18%;
    border: 1px solid $color-basic;
    margin-bottom: 13px;
    padding: 13px 17px 17px 16px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 67px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0;
  }

  &__img {
    align-self: flex-end;
    height: 50px;
    width: 46px;
  }
}