mixin facil-list()
  +b.UL.facil-list&attributes(attributes)
    +e.LI.__item
      +e.P.__title Gym
      +icon('gym').__img._gym
    +e.LI.__item
      +e.P.__title Childcare
      +icon('childcare').__img
    +e.LI.__item
      +e.P.__title Kitchen
      +icon('kitchen').__img
    +e.LI.__item
      +e.P.__title Tea/Coffee
      +icon('tea_coffe').__img
    +e.LI.__item
      +e.P.__title Lockers
      +icon('lockers').__img
    +e.LI.__item
      +e.P.__title Event Space
      +icon('event_space').__img
    +e.LI.__item
      +e.P.__title Bike Storage
      +icon('bike_storage').__img
    +e.LI.__item
      +e.P.__title Showers
      +icon('showers').__img