.table-head {
  $b: &;

  display: block;
  width: 100%;
  margin-top: -7px;

  &__wrapper {
    position: relative;
    padding-bottom: 15px;

    &_sm-pb {
      padding-bottom: 13px;
    }
  }

  &__cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__name {
    @include text-big;

    font-weight: 700;
  }

  .boxes:not(:first-child) {
    margin-left: 17px;
  }

  .short-profile {
    &:not(:first-child) {
      margin-left: 13px;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .conversation-info {
    margin-left: auto;
  }

  &_messages {
    width: 100%;

    #{$b} {

      &__wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 0;
      }

      &__cell {
        box-sizing: border-box;
        padding: 16px 20px 16px 0;

        &_sub {
          width: 47%;
        }

        &_messages {
          flex: 1;
        }
      }
    }
  }
}
