.table-head {
  $b: &;

  display: block;
  width: 100%;
  margin-top: -7px;

  &__wrapper {
    position: relative;
    padding-bottom: 15px;
  }

  &__cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__name {
    @include text-big;

    font-weight: 700;
  }

  .boxes:not(:first-child) {
    margin-left: 17px;
  }
}
