.table-head {
  $b: &;

  display: block;
  width: 100%;
  margin-top: -7px;

  &__wrapper {
    position: relative;
    padding-bottom: 15px;

    &_sm-pb {
      padding-bottom: 13px;
    }
  }

  &__cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include screen('md') {
      flex-wrap: wrap;
    }
  }

  &__name {
    @include text-big;

    font-weight: 700;
  }

  .boxes:not(:first-child) {
    margin-left: 17px;
  }

  .short-profile {
    &:not(:first-child) {
      margin-left: 13px;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .conversation-info {
    margin-left: auto;
  }

  &_messages {
    width: 100%;

    #{$b} {
      &__wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 0;
      }

      &__cell {
        box-sizing: border-box;
        padding: 16px 20px 16px 0;

        &_vp11 {
          padding-top: 11px;
          padding-bottom: 11px;
        }

        &_pr25 {
          padding-right: 25px;
        }

        &_pl25 {
          padding-left: 25px;
        }

        &_pr0 {
          padding-right: 0;
        }

        &_sub {
          width: 47%;
        }

        &_messages {
          flex: 1;
        }

        &_req-sub {
          width: 55.8%;
          padding-right: 25px;
        }

        &_lead {
          white-space: nowrap;
          border-right: 1px solid $color-border-light;
        }

        &_req-info {
          flex: 1;
          padding-right: 25px;
          padding-left: 25px;
        }
      }
    }
  }

  &_borders {
    margin-top: 0;
    border: 1px solid $color-border-light;
    border-left-width: 0;
    border-right-width: 0;
  }

  &__info {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 13px;
    box-sizing: border-box;
  }

  &__state {
    &:not(:last-child) {
      margin-right: 27px;
    }
  }
}
