.request-info {
  $b: &;

  display: flex;
  flex-direction: column;
  width: 100%;

  &__renter {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__time {
    width: 100%;
    box-sizing: border-box;
    padding: 0 4px;

    @include screen('sm') {
      padding: 0;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: auto;
  }

  &__button {
    flex: 1;

    @include screen('md') {
      width: 100%;
      flex: none;
    }

    &:not(:last-child) {
      margin-right: 30px;

      @include screen('md') {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__status {
    margin-top: auto;
  }

  &__row {
    width: 50%;

    @include screen('md') {
      width: 100%;
    }

    &_status {
      @include screen('md', min) {
        order: 2;
      }
    }

    &_period {
      padding-bottom: 50px;

      @include screen('md') {
        padding-bottom: 0;
      }

      @include screen('md', min) {
        order: 3;
      }
    }

    &_renter {
      @include screen('md', min) {
        order: 4;
      }
    }
  }

  &_table {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
