mixin request-info()
  +b.request-info&attributes(attributes)
    +e.renter
      +short-profile-origin('assets/images/ava.jpg', ' Mr. Edward Pullman')
    +time('30 October 2018', '2018-10-30', '30 October 2019', '2019-10-30').__time
    block
