mixin popup-image-cropper()
  +nd-popup.popup-image-cropper__&attributes(attributes)
    +nd-popup-header
      +nd-popup-title._fz18 Crop Image
      +nd-popup-close
    +nd-popup-content
      +e.media
        div
          +e.IMG(src="data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 0 1 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E" data-cropped-area)
    +nd-popup-footer
      +nd-button('button').__button.js-preview-save-crop(type="button") Save
    block
