.quick-search {
  $b: &;

  position: relative;
  display: flex;
  background-color: $nd-color-basic-light;
  box-sizing: border-box;

  @include rule(border-radius, (xl: 45px, xlg: 45, lg: 45, md: 45, sm: 29));

  @include screen('sm', max, 2) {
    display: block;
    width: 100%;
    background-color: transparent;
    padding: pxtovw(21, 375) pxtovw(17, 375) pxtovw(18, 375);

    &::before {
      @include pseudo;

      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(252, 252, 252, .14);
      backdrop-filter: blur(6px);
      border-radius: pxtovw(29, 375);
      border: 1px solid rgba(94, 94, 94, .66);
      z-index: 0;
    }
  }

  &__section {
    position: relative;
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;

    @include screen('sm', max, 2) {
      width: 100%;
    }

    &:not(:first-child) {
      @include rule(margin-top, (sm: 12));
      @include rule(margin-left, (xl: 1px, xlg: 1, lg: 1, md: 1, sm: 0));

      &::before {
        @include pseudo;
        @include rule(height, (xl: 34px, xlg: 34, lg: 34, md: 34, sm: 0));
        @include rule(width, (xl: 1px, xlg: 1, lg: 1, md: 1, sm: 0));
        @include rule(left, (xl: -1px, xlg: -1, lg: -1, md: -1, sm: 0));

        top: 50%;
        transform: translate3d(0, -50%, 0);
        background-color: #d3dae6;
        z-index: 1;

        @include screen('sm', max, 2) {
          display: none;
        }
      }
    }
  }

  &__selection {
    @include screen('sm', min, 2) {
      z-index: 2;
    }

    &_type {
      @include rule(width, (xl: 183px, xlg: 183, lg: 183, md: 183));

      @include screen('sm', max, 2) {
        width: 100%;
      }

      &:hover, &.is-open {
        @include screen('sm', min, 2) {
          box-shadow: 1.5px 0 0 0 #fff;
        }
      }
    }

    &_team {
      @include rule(width, (xl: 173px, xlg: 173, lg: 173, md: 173));

      @include screen('sm', max, 2) {
        width: 100%;
      }

      &:hover, &.is-open {
        @include screen('sm', min, 2) {
          box-shadow: 1.5px 0 0 0 #fff, -1.5px 0 0 0 #fff;
        }
      }
    }

    &_location {
      @include rule(width, (xl: 200px, xlg: 200, lg: 200, md: 200));

      @include screen('sm', max, 2) {
        width: 100%;
      }

      &:hover, &.is-open {
        @include screen('sm', min, 2) {
          box-shadow: -1.5px 0 0 0 #fff;
        }
      }
    }
  }

  &__buttons {
    @include screen('sm', max, 2) {
      width: 100%;
    }

    &:not(:first-child) {
      @include rule(margin-left, (xl: 16px, xlg: 16, lg: 16, md: 16, sm: 0));
      @include rule(margin-top, (sm: 12));

      .nd-lead_old & {
        @include rule(margin-top, (sm: 17));
      }
    }
  }

  &__button {
    @include rule(min-width, (xl: 212px, xlg: 212, lg: 212, md: 212, sm: 0));

    font-family: $font-stolzl;
    font-weight: 500;
    margin-right: -3px;

    @include screen('sm', max, 2) {
      width: 100%;
      margin-right: 0;
    }
  }
}
