extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Payment Details'

block bodyClasses
  - var bodyCls = '';
  - var isNoFooter = true
  - var isNoHeader = true
  - var scripts = ['other']

block header
  - var headerClass = ''
  - var pageClass = ' nd-page_nopad'
  - var isMap = false
  - var host = false
  - var isNoUser = true

block content
  +rs-grid
    +header-panel
      +nd-link-icon('arrow5')._back.__back_sm-noname._bold Back to Space
    .nd-container
      +e.column_form._form_pt180._sm-pb0
        +nd-logo._rs.__logo.nd-hide-sm
        +e.form
          +nd-link-icon('back')._blue._icon_blue.__prev-link.nd-hide-sm Back to choose options
          +payment-form({newdebit: true})._rs
      +e.column_text
        +text-block._payment
          +e.media
            +e.PICTURE.image
              img(src="assets/images/nd/ico-safety.svg" alt="")
          +e.title Transact safely with <i>Spacepool</i>
          +e.content_fw500._indent._blue-links
            p Paying and communicating through Spacepool helps to ensure that you're protected under our Terms of Service. Paying or communicating outside of Spacepool makes it harder for us to protect your information and puts you at greater risk of fraud and other security issues, such as phishing.
          +e.content_fz20._indent._blue-links._mt31
            p
              b You won’t be charged at this point.
          +e.content_fw500._indent._blue-links._mt31
            p
              strong Payment will be taken only after you have agreed and signed the rental agreement with the Host.
            p Read more about the lease terms in the <a href="#">Terms & Conditions section.</a>


block panels

block popups
