.places {
  $b: &;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 1px;
  font-size: 0;
  line-height: 0;

  @include screen('sm') {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }

  &__place {
    display: inline-block;

    @include screen('sm') {
      display: block;
      width: calc(50% + 1px);
      margin-top: -1px;
      margin-left: -1px;
    }

    &:not(:last-child) {
      @include screen('sm', min) {
        margin-right: 10px;
      }
    }
  }
}
