mixin places()
  +b.UL.places&attributes(attributes)
    +e.LI.place
      +button-radio('workplace', 'hd', true)._orange.__radio HOT DESK
    +e.LI.place
      +button-radio('workplace', 'dd')._red.__radio DEDICATED DESK
    +e.LI.place
      +button-radio('workplace', 'mr')._blue.__radio MEETING ROOM
    +e.LI.place
      +button-radio('workplace', 'os')._green.__radio OFFICE SPACE
