.request {
  $b: &;

  position: relative;
  display: flex;
  margin: 0 -25px;
  box-sizing: border-box;
  padding: 33px 0 40px;

  @include screen('sm') {
    flex-wrap: wrap;
  }

  &:not(:first-child) {
    margin-top: -1px;
  }

  &::after {
    @include pseudo;

    bottom: 0;
    left: 25px;
    right: 25px;
    height: 1px;
    background-color: $color-border-light;
  }

  &::before {
    @include pseudo;

    top: 0;
    left: 25px;
    right: 25px;
    height: 1px;
    background-color: $color-border-light;
  }

  &__space {
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 0 25px;
    width: 55.5%;

    @include screen('md') {
      width: 45%;
    }

    @include screen('sm') {
      width: 100%;
      margin-bottom: 20px;
    }

    &::before {
      @include pseudo;

      width: 1px;
      height: 100%;
      right: 0;
      top: 0;
      background-color: $color-border-light;
    }

    .space-description {
      margin-left: -12px;
      margin-right: -12px;
      width: calc(100% + 24px);
    }
  }

  &__info {
    display: flex;
    box-sizing: border-box;
    padding: 0 25px;
    flex: 1;

    @include screen('sm') {
      flex: none;
      width: 100%;
    }
  }
}
