.request {
  $b: &;

  position: relative;
  display: flex;
  margin: 0 -25px;
  box-sizing: border-box;
  padding: 33px 0 40px;
  transition: border $ease-main, background $ease-main, box-shadow $ease-main;

  @include screen('md') {
    flex-wrap: wrap;
  }

  &:not(:first-child) {
    margin-top: -1px;
  }

  &::after {
    @include pseudo;

    bottom: 0;
    left: 25px;
    right: 25px;
    height: 1px;
    background-color: $color-border-light;
    transition: background $ease-main;
  }

  &::before {
    @include pseudo;

    top: 0;
    left: 25px;
    right: 25px;
    height: 1px;
    background-color: $color-border-light;
    transition: background $ease-main;
  }

  &.is-new {
    &:not(:first-child) {
      margin-top: -2px;

      @include screen('md') {
        margin-top: 0;
      }
    }

    &::after, &::before {
      height: 2px;
      background-color: $color-header-logo;
    }

    & + #{$b} {
      margin-top: -2px;

      @include screen('md') {
        margin-top: 0;
      }

      &::before {
        height: 2px;
        background-color: $color-header-logo;
      }

      &:hover::before {
        background-color: transparent;
      }
    }
  }

  &__space {
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 0 25px;
    width: 55.5%;

    @include screen('md') {
      width: 45%;
    }

    @include screen('sm') {
      width: 100%;
      margin-bottom: 20px;
    }

    &::before {
      @include pseudo;

      width: 1px;
      height: 100%;
      right: 0;
      top: 0;
      background-color: $color-border-light;
    }

    .space-description {
      margin-left: -12px;
      margin-right: -12px;
      width: calc(100% + 24px);
    }
  }

  &__prop {
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 0 25px 7px;
    width: 48.8%;

    @include screen('md') {
      width: 100%;
      padding: 0;
      margin-bottom: 25px;
    }

    @include screen('sm') {
      margin-bottom: 15px;
    }

    .space-description {
      margin-left: -12px;
      margin-right: -12px;
      width: calc(100% + 24px);
    }
  }

  &__info {
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 0 25px;
    flex: 1;

    @include screen('sm') {
      flex: none;
      width: 100%;
    }

    &_wrap {
      flex-wrap: wrap;
    }
  }

  &__data {
    position: absolute;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    top: 5px;
    left: 25px;

    @include screen('md') {
      left: 35px;
    }

    @include screen('sm') {
      top: 2px;
      left: 11px;
    }
  }

  &__date {
    @include text15;

    font-weight: 400;

    @include screen('sm') {
      @include text10;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__new {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__links {
    position: absolute;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    bottom: -5px;
    right: 25px;
    opacity: 0;
    transition: opacity $ease-main;
    min-height: 40px;
    z-index: 3;
    width: 50%;
    max-width: 50%;

    @include screen('md') {
      position: static;
      bottom: auto;
      right: auto;
      width: 100%;
      max-width: none;
      opacity: 1;
      justify-content: center;
      z-index: inherit;
    }

    #{$b}:hover & {
      opacity: 1;
    }
  }

  &__button {
    min-width: 220px;

    @include screen('md') {
      min-width: 240px;
    }

    @include screen('sm') {
      width: 100%;
    }
  }

  &__link {
    @include text-mid;

    line-height: 1;
    margin-right: 20px;

    @include screen('sm') {
      @include text;

      line-height: 1;
    }
  }

  &__table {
    width: 100%;

    &:not(:last-child) {
      @include screen('md') {
        margin-bottom: 16px;
      }

      @include screen('sm') {
        margin-bottom: 24px;
      }
    }
  }

  &__arrow {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    bottom: -7px;
    right: 25px;
    height: 40px;
    width: 7px;
    z-index: 2;

    @include screen('md') {
      display: none;
    }

    &-icon {
      width: 7px;
      height: 12px;
      fill: $color-basic;
    }
  }

  &:hover {
    background-color: $color-white;
    box-shadow: 1px 1px 8px rgba(34, 42, 46, .06);

    &::before, &::after {
      background-color: transparent;
    }

    & + #{$b}::before {
      background-color: transparent;
    }
  }

  &_v2 {
    padding: 35px 0 33px;
    border-radius: 3px;

    @include screen('md') {
      background-color: $color-white;
      box-shadow: none;
      margin: 0;
      padding: 35px 35px 27px;
      box-sizing: border-box;
      margin-top: 0;
    }

    @include screen('sm') {
      padding: 32px 11px 25px;
    }

    &::before, &::after {
      @include screen('md') {
        display: none;
      }
    }

    &.is-new {
      @include screen('md') {
        border: 2px solid $color-header-logo;
      }
    }

    &:not(:last-child) {
      @include screen('md') {
        margin-bottom: 38px;
      }

      @include screen('sm') {
        margin-bottom: 30px;
      }
    }

    #{$b} {

      &__info {
        @include screen('md') {
          padding: 0;
        }
      }
    }
  }
}
