mixin request()
  +b.request&attributes(attributes)
    block

mixin request-sps()
  +e.space&attributes(attributes)
    block

mixin request-ifo()
  +e.info&attributes(attributes)
    block


mixin request-full(count1, count2, price, status)
  +b.request&attributes(attributes)
    +e.space
      +space-description._request
        +space-description-image('assets/images/space24.jpg')
        +space-description-content
          +space-description-title RNR Property - Oxford Street
          +space-description-info
            +offer-counters(count1, count2, '_orange').__name HOT DESK
            +price(price).__price
          +space-description-text Members will enjoy access to our world-class Cultural Programme, Member-only Be Better sessions & weekly wellness programme...
    +e.info
      +request-info
        case status
          when 'buttons'
            +e.buttons
              +button()(href="#")._red._short.__button Decline request
              +button()(href="#")._short.__button Accept request
            - break
          when 'wait'
            +request-status('time')._yellow.__status Waiting for Client Payment
            - break
          when 'decline'
            +request-status('cross')._red.__status Declined
            - break
          when 'accept'
            +request-status('check2')._green.__status Accepted
            - break
          default
            - break
