.stages {
  $b: &;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  counter-reset: item;
  background-color: rgba(71, 71, 71, .31);
  backdrop-filter: blur(6px);
  box-sizing: border-box;

  @include rule(border-radius, (xl: 36px, xlg: 36, lg: 36, md: 36, sm: 42));
  @include rule(padding-left, (xl: 44px, xlg: 44, lg: 44, md: 44, sm: 42));
  @include rule(padding-right, (xl: 44px, xlg: 44, lg: 44, md: 44, sm: 42));
  @include rule(padding-top, (xl: 9px, xlg: 9, lg: 9, md: 9, sm: 11));
  @include rule(padding-bottom, (xl: 9px, xlg: 9, lg: 9, md: 9, sm: 11));
  @include rule(height, (xl: 60px, xlg: 60, lg: 60, md: 60, sm: 68));

  @supports not(backdrop-filter: blur(6px)) {
  }

  @include screen('sm', max, 2) {
    background-color: rgba(252, 252, 252, .14);
    border: 1px solid rgba(94, 94, 94, .66);
  }

  &__item {
    position: relative;
    counter-increment: item;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: (19 / 16);
    z-index: 2;
    flex: none;

    @include rule(font-size, (xl: 16px, xlg: 16, lg: 16, md: 16, sm: 16));

    &::before {
      display: block;
      content: counter(item);
      border-radius: 50%;
      box-sizing: border-box;
      border: 1px solid rgba(255, 255, 255, .6);
      text-align: center;
      letter-spacing: -.02em;
      flex: none;

      @include rule(width, (xl: 18px, xlg: 18, lg: 18, md: 18, sm: 18));
      @include rule(line-height, (xl: 16px, xlg: 16, lg: 16, md: 16, sm: 16));
      @include rule(font-size, (xl: 14px, xlg: 14, lg: 14, md: 14, sm: 14));
    }

    &:not(:last-child) {
      @include rule(margin-right, (xl: 99px, xlg: 99, lg: 99, md: 99, sm: 60));

      &::after {
        @include rule(width, (xl: 58px, xlg: 58, lg: 58, md: 58, sm: 15));
        @include pseudo;
        @include rule(top, (xl: 9px, xlg: 9, lg: 9, md: 9, sm: 9));
        @include rule(margin-left, (xl: 20px, xlg: 20, lg: 20, md: 20, sm: 22));

        left: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, .2);
      }
    }
  }

  &__name {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: perspective(1px) translate3d(-50%, 0, 0);
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;

    @include rule(min-width, (xl: 60px, xlg: 60, lg: 60, md: 60, sm: 60));
    @include rule(margin-top, (xl: 8px, xlg: 8, lg: 8, md: 8, sm: 8));
  }
}
