extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Deal Passport'

block bodyClasses
  - var bodyCls = ' is-sm-noheader';
  - var isNoFooter = true

block header
  - var headerClass = ' is-login'
  - var pageClass = ''
  - var isMap = false
  - var host = false

block content
  +nd-page-header._grid
    .nd-container
      +nd-page-header-side
        +nd-link-icon('arrow5')._underline._back._back_md21._back_sm-cross.__back_md-noname Back to deal list
      +nd-page-header-main
        - var menuList = getData('sideNavDealPassRent.json').menu;
        +e.dt-menu.nd-hide-md
          +nd-breadcrumbs([["Home", "#"], ["Spaces", "#"], ["Clerkenworks London"]]).__breadcrumbs.nd-hide
          +person().__person
            +e.position Client:
            +nd-short-profile-data({ava: {img: 'assets/images/nd/user-avatar-2.jpg', class: '_sz34'}, name: 'Mike Regent', nameClass: '_fz17'})._nd.__profile
        +e.mb-menu.nd-hide-from-md
          +slider-navigation(menuList, 0, 'Dashboard')


  +nd-content
    .nd-container
      +nd-content-aside
        +sidebar.nd-sidebar.nd-hide-md
          - var nav = getData('sideNavDealPassRent.json')
          +nd-side-navigation(nav, 'Dashboard')
      +nd-content-main
        +dashboard._rent
          +board._shadow._fx.__board_rent._rent_rs
            - var nav = getData('sideNavDealPassRent.json')
            +e.column.nd-hide-from-md
              +nd-space('div')._side-nav.__space(class=nav.space.class)
                +e.head
                  +nd-space-title()!=nav.space.title
                  +space-type._fz11._gray.__type
                    +nd-box()._size8(class=nav.space.type.box + ' __box')
                    +e.name!=nav.space.type.name
                +nd-space-media-e
                  +e.PICTURE.image
                    option(srcset=nav.space.image)
                    img(srcset=nav.space.image)
            +e.column
              +board-title._wide.is-dbl-check Rental summary
              +nd-table._info.__table
                tbody
                  tr
                    td Fixed desk FCB Clerkenwell
                    td x1
                  tr
                    td Duration
                    td 12 months
                  tr
                    td Monthly rent
                    td £ 860.00
          +board._shadow.__board_rent._rent_contract
            +board-title._wide.is-dbl-check Contract
            +nd-table._info.__table_md-mt42
                tbody
                  tr
                    td Signed by
                    td both sides
                  tr
                    td Contract status
                    td Active
                  tr
                    td Signed on
                    td 24 April 2020
          +board._pt22._fx._shadow.__board_rent._rent_chat
            +board-header
              +board-title Chat
              +nd-short-profile-data({ava: {img: 'assets/images/nd/user-avatar-2.jpg', class: '_sz34'}, marker: '2'})._nd.__person.is-new(href="#")
            +e.chat
              +e.chat-info
                +e.TIME.chat-time Few minutes ago
                +e.chat-message Well ok! I think this might work
              +nd-button-icon('', {icon: 'nd-bubble', notext: true})._pad10._h32.__chat-button(href="#")
          +board._shadow.__board_rent._rent_state
            +board-title Statements
            +nd-table._rent-state.__table_mt8
              thead
                tr
                  th Issued
                  th.nd-hide-sm Due date
                  th Amount
                  th.nd-hide-sm Status
                  th Invoice
              tbody
                tr
                  td
                    b 24 April 2020
                  td.nd-hide-sm
                    b 20.04.2020
                  td
                    b £ 860.00
                  td.nd-hide-sm
                    b Pending
                  td
                    +nd-link-pdf({})(href="#")
                - for (var i = 0; i < 2; i ++) {
                  tr
                    td
                      b 24 April 2020
                    td.nd-hide-sm 20.04.2020
                    td  £ 860.00
                    td.nd-hide-sm Paid
                    td
                      +nd-link-pdf({})(href="#")
                - }
            +e.links_end
              +nd-link._next._next_angle.__link_fz14._fw600(href="#") View all statements
          +board._shadow.__board_rent._rent_overview
            +board-title Contract overview
            +chart(true)._donut.__chart_donut(data-chart-data='{"type": "donut", "dates": {"startDate": "2020-02-27", "endDate": "2021-02-27", "noticeDate": "2020-12-28"}, "colors": {"progress" : "#0085ff", "base": "#d4dfe2", "notice": "#fd9603", "overlay": "#2af787"}, "labels": {"progress": "Progress", "base": "Remaining", "notice": "Notice period"}, "remainFormat": "months"}')

block panels

block popups
