extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Deal Passport'

block bodyClasses
  - var bodyCls = ' is-sm-noheader is-sm-no-userpanel';
  - var isNoFooter = true
  - var scripts = ['other']

block header
  - var headerClass = ' is-login'
  - var pageClass = ''
  - var isMap = false
  - var host = false

block content
  +nd-page-header._grid
    .nd-container
      +nd-page-header-side
        +nd-link-icon('arrow5')._underline._back._back_md21.__back_md-noname Back to deal list
      +nd-page-header-main
        - var menuList = getData('sideNavDealPassRent.json').menu;
        +e.dt-menu.nd-hide-md
          +nd-breadcrumbs([["Home", "#"], ["Spaces", "#"], ["Clerkenworks London"]]).__breadcrumbs.nd-hide
          +person().__person
            +e.position Client:
            +nd-short-profile-data({ava: {img: 'assets/images/nd/user-avatar-2.jpg', class: '_sz34'}, name: 'Mike Regent', nameClass: '_fz17'})._nd.__profile
        +e.mb-menu.nd-hide-from-md
          +slider-navigation(menuList, 2, 'Rental Summary')


  +nd-content
    .nd-container
      +nd-content-aside
        +sidebar-nosticky.nd-sidebar.nd-hide-md
          - var nav = getData('sideNavDealPassRent.json')
          +nd-side-navigation(nav, 'Rental Summary')
      +nd-content-main
        +dashboard._rs
          +board._pad35.__board_rs._rs_main
            +board-header._align-base
              +board-title('h2')._fz22 Rental Summary
              +e.state.is-dbl-check Accepted both sides on 30 May 2020
            +chart()._line.__chart(data-chart-data='{"type": "line", "dates": {"startDate": "2020-05-30", "endDate": "2021-05-30", "noticeDate": "2021-02-28"}, "colors": {"progress" : "#0085ff", "base": "#d4dfe2", "notice": "#fd9603", "overlay": "#2af787"}, "labels": {"start": "Rent start", "end": "End of rent", "notice": "Notice period start"}}')
          +board._pad40.__board_rs._rs_payments
            +board-title._fz20._md-fz20 Payment summary
            +nd-table._info._info_h50._info_md-fz16._fw500.__table_mt11
                tbody
                  tr
                    td Total monthly rent:
                    td £ 1,080.00
                  tr
                    td Deposit:
                    td £ 1080.00
                  tr
                    td VAT:
                    td £ 121.00
                  tr
                    td Total montly payment:
                    td £ 2,592‬.00
          +board._pad40.__board_rs._rs_times
            +board-title._fz20 Period and duration
            +nd-table._info._info_h50._fw500.__table_mt11
                tbody
                  tr
                    td Rent period Start
                    td 30 May 2020
                  tr
                    td Duration
                    td 12 months
                  tr
                    td Notice period
                    td 3 months
                  tr
                    td Amount
                    td 1

block panels

block popups
