extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Deal Passport'

block bodyClasses
  - var bodyCls = ' is-sm-noheader is-sm-no-userpanel';
  - var isNoFooter = true
  - var scripts = ['other']

block header
  - var headerClass = ' is-login'
  - var pageClass = ''
  - var isMap = true
  - var host = false

block content
  +nd-page-header._grid
    .nd-container
      +nd-page-header-side
        +nd-link-icon('arrow5')._underline._back._back_md21._back_sm-cross.__back_md-noname Back to viewings
      +nd-page-header-main
        - var menuList = [{ name: 'Dashboard', href: 'deal-pass-view.html'}, {name: 'Chat', href: 'deal-pass-view-chat.html'}];
        +e.dt-menu.nd-hide-md
          +nd-breadcrumbs([["Home", "#"], ["Viewings", "#"], ["FBC/ Clerkenwell"]]).__breadcrumbs.nd-hide
          +person()._ai_base.__person
            +e.position_dark Manager contacts:
            +nd-link()(href="mailto:mike@fbcclerkenwell.co.uk")._blue.__mail mike@fbcclerkenwell.co.uk
        +e.mb-menu.nd-hide-from-md
          +slider-navigation(menuList, 0, 'Dashboard')


  +nd-content
    .nd-container
      +nd-content-aside
        +sidebar-nosticky.nd-sidebar.nd-hide-md
          - var nav = getData('sideNavDealPassView.json')
          +nd-side-navigation(nav, 'Overview')._view
      +nd-content-main
        +dashboard._view
          - var nav = getData('sideNavDealPassView.json')
          +board._pad30.__board_view._view_title
            +board-title.nd-hide-md Viewing
            +nd-space('div')._side-nav.__space.nd-hide-from-md(class=nav.space.class)
              +e.head
                +nd-space-title()!=nav.space.title
                +space-type._fz11._gray.__type
                  +nd-box()._size8(class=nav.space.type.box + ' __box')
                  +e.name!=nav.space.type.name
          +board._pad30.__board_view._view_media.nd-hide-from-md
            +e.media
              +media
                +media-image(nav.space.image)
          +board._pad30.__board_view._view_date
            +e.datetime
              +e.TIME.datetime-info 24 May 2020, 13:00
              +nd-link()._blue.__datetime-change.nd-hide-sm(href="#") Change date/time
          +board.__board_view._view_features
            +nd-table._features.__table
              tbody
                tr
                  td
                    +e.image
                      img(src="assets/images/nd/nd-double-check.svg")
                  td.nd-hide-sm Viewing status
                  td Time confirmed by both sides
                tr
                  td
                    +nd-box._orange
                  td.nd-hide-sm Hot desk offer
                  td Hot deks with terrace entrance
                tr
                  td
                    +e.image
                      img(src="assets/images/nd/nd-subway.svg")
                  td.nd-hide-sm Tube station
                  td Liverpool Street
                tr
                  td
                    +e.image
                      img(src="assets/images/nd/nd-map-marker.svg")
                  td.nd-hide-sm Address
                  td 40 Bowling Green Ln, Farringdon, London EC1R 0NE, UK
          +board._nopad.__board_view._view_map
            +e.map
              +e.map-container#spaceMap
              +nd-button()._pad10._fw400._h32._h32_sm22._fz16._sm-fz12.__map-button(href="#") Open in Maps
          +board._pt22._shadow._fx.__board_view._view_chat
            +board-header
              +board-title Chat
              +nd-short-profile-data({ava: {img: 'assets/images/nd/user-avatar-2.jpg', class: '_sz34'}, marker: '2'})._nd.__person.is-new(href="#")
            +e.chat
              +e.chat-info
                +e.TIME.chat-time Few minutes ago
                +e.chat-message Well ok! I think this might work
              +nd-button-icon('', {icon: 'nd-bubble', notext: true})._pad10._h32.__chat-button(href="#")
        +e.person.nd-hide-from-md
          +person()._end._ai_base
            +e.position_dark Manager contacts:
            +nd-link()(href="mailto:mike@fbcclerkenwell.co.uk")._blue.__mail mike@fbcclerkenwell.co.uk

block panels

block popups
