.page1 {
  display: block;
  #map {
    margin: 65px 0;
    height: 470px;
  }
  .info,
  .title-map {
    .choices {
      margin-right: 48px !important;
      height: 17px !important;
      margin-bottom: 0 !important;
      &::after {
        content: '';
        right: 10px;
      }
      &__inner {
        height: 17px !important;
        padding: 0 !important;
        padding-right: 55px !important;
        border: 0 !important;

      }
      &__item {
        padding: 0 !important;
        &:hover {
          background: $color-bg !important;
          color: $color-basic;
        }
      }
    }
  }
  .title-map {
    .choices[data-type*=select-one]:after {
      margin-top: auto;
      margin-bottom: 2px;
    }
    .choices {
      
      
      &__item {
        font-size: 16px;
        margin-bottom: 5px !important;
        padding: 5px !important;
        &:hover {
          background: $color-basic !important;
          color: $color-wite;
        }

      }

      &__inner {
        padding-right: 23px !important;
        font-weight: 700;
        height: 22px!important;
        letter-spacing: -.3px;
        .choices__item {
          font-size: 20px !important;
          padding:0 5px !important;
        }
        
      }

      &__list {
        z-index: 100;
      }
    }
    .choices__list--dropdown {
      margin-top: 5px;
    }
  }
  
  .footer {
    margin-top: 100px;
  }
  &__title {
    font-size: 24px;
    margin: 92px 0 60px 0;

  }
}

.title-map {
  display: flex;
  align-items: center;
  margin-top: 132px;

  &__title {
    margin-right: 50px;
    font-size: 25px;
    font-weight: 700;
    &_last {
      margin-right: 0;
      margin-left: auto;
      font-size: 20px;
    }
  }
}

.select-slider {
  margin-right: 50px;
}

.content-left__title_page {
  margin-bottom: 64px;
}
