extends ../../layouts/default

block head
  - var pageTitle = 'Space Pool'

block content
  +b.page1
    +header

    +info
    .container.container_slider
      .content-left__title.content-left__title_page Featured Spaces
      +slider-two(false, true)
        +slide-two
          img(src='./assets/images/sbo.jpg').slide-index
          .slider-cube
            .cube
          .slider-title__slide TOG - Henry Wood House
          .slider-plach W1W, London
        +slide-two
          img(src='./assets/images/sbt.jpg').slide-index
          .slider-cube
            .cube.cube_yellow
            .cube.cube_red
            .cube.cube_blue
          .slider-title__slide Blooming Founders (Former Blooms Lon...
          .slider-plach EC2A, London
        +slide-two
          img(src='./assets/images/sbth.jpg').slide-index
          .slider-cube
            .cube.cube_yellow
            .cube.cube_red
            .cube.cube_blue
          .slider-title__slide Blooming Founders (Former Blooms Lon...
          .slider-plach EC2A, London
        +slide-two
          img(src='./assets/images/sbf.jpg').slide-index
          .slider-cube
            .cube.cube_yellow
          .slider-title__slide Blooming Founders (Former Blooms Lon...
          .slider-plach EC2A, London

    .container
      .title-map
        .title-map__title Locations
        +select.footer-select.select-slider
                option(value="London")
                option(value="London")
                option(value="London")
                option(value="London")
        +select.footer-select.select-slider
                option(value="Areas")
                option(value="Areas")
                option(value="Areas")
                option(value="Areas")
        +select.footer-select.select-slider
                option(value="Tube Stations")
                option(value="Tube Stations")
                option(value="Tube Stations")
                option(value="Tube Stations")
        +select.footer-select.select-slider
                option(value="Workplace type")
                option(value="Workplace type")
                option(value="Workplace type")
                option(value="Workplace type")
        .title-map__title.title-map__title_last &#169; Clear map settings
      +map()#map

    .container.container_slider
      .content-left__title.content-left__title_page Meeting Rooms
      +slider-three(false, true)
        +slide-two
          img(src='./assets/images/sbo.jpg').slide-index
          .slider-cube__text 18 seats
          .slider-title__slide TOG - Henry Wood House
          .slider-plach W1W, London
        +slide-two
          img(src='./assets/images/sbt.jpg').slide-index
          .slider-cube__text 18 seats
          .slider-title__slide Blooming Founders (Former Blooms Lon...
          .slider-plach EC2A, London
        +slide-two
          img(src='./assets/images/sbth.jpg').slide-index
          .slider-cube__text 18 seats
          .slider-title__slide Blooming Founders (Former Blooms Lon...
          .slider-plach EC2A, London
        +slide-two 18 seats
          img(src='./assets/images/sbf.jpg').slide-index
          .slider-cube__text 18 seats
          .slider-title__slide Blooming Founders (Former Blooms Lon...
          .slider-plach EC2A, London

    +info-two

    .container.container_slider
      .content-left__title.content-left__title_page New Places
      +slider-two(false, true)
        +slide-two
          img(src='./assets/images/sbo.jpg').slide-index
          .slider-cube
            .cube
          .slider-title__slide TOG - Henry Wood House
          .slider-plach W1W, London
        +slide-two
          img(src='./assets/images/sbt.jpg').slide-index
          .slider-cube
            .cube.cube_yellow
            .cube.cube_red
            .cube.cube_blue
          .slider-title__slide Blooming Founders (Former Blooms Lon...
          .slider-plach EC2A, London
        +slide-two
          img(src='./assets/images/sbth.jpg').slide-index
          .slider-cube
            .cube.cube_yellow
            .cube.cube_red
            .cube.cube_blue
          .slider-title__slide Blooming Founders (Former Blooms Lon...
          .slider-plach EC2A, London
        +slide-two
          img(src='./assets/images/sbf.jpg').slide-index
          .slider-cube
            .cube.cube_yellow
          .slider-title__slide Blooming Founders (Former Blooms Lon...
          .slider-plach EC2A, London




    .container.container_slider
      +e.__title
      .content-left__title.content-left__title_page Articles

      +slider-three(false, true)
        +slide-two
          img(src='./assets/images/sbo.jpg').slide-index
          .slider-cube__text September 9
          .slider-title__slide TOG - Henry Wood House
          .slider-text For many employers, career success is desired. Establishing a profitable company, we’re looking for the best candidates only, whose knowledge and experience can help to achieve career goals.
        +slide-two
          img(src='./assets/images/sbt.jpg').slide-index
          .slider-cube__text September 9
          .slider-title__slide Blooming Founders (Former Blooms Lon...
          .slider-text For many employers, career success is desired. Establishing a profitable company, we’re looking for the best candidates only, whose knowledge and experience can help to achieve career goals.
        +slide-two
          img(src='./assets/images/sbth.jpg').slide-index
          .slider-cube__text September 9
          .slider-title__slide Blooming Founders (Former Blooms Lon...
          .slider-text For many employers, career success is desired. Establishing a profitable company, we’re looking for the best candidates only, whose knowledge and experience can help to achieve career goals.
        +slide-two
          img(src='./assets/images/sbf.jpg').slide-index
          .slider-cube__text September 9
          .slider-title__slide Blooming Founders (Former Blooms Lon...
          .slider-text For many employers, career success is desired. Establishing a profitable company, we’re looking for the best candidates only, whose knowledge and experience can help to achieve career goals.
    
    +footer