.offer-space {
  $b: &;

  display: flex;
  flex-wrap: wrap;

  &__media {
    width: 242px;
    min-width: 242px;

    @include screen('md') {
      width: 200px;
      min-width: 200px;
    }

    @include screen('sm') {
      width: 100%;
      min-width: 0;
    }

    &:not(:last-child) {
      margin-right: 50px;

      @include screen('sm') {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__image {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 63%;
    overflow: hidden;
  }

  &__img {
    @include fill-img;

    font-size: 0;
    line-height: 0;
  }

  &__describe {
    display: block;
    flex: 1;

    @include screen('sm') {
      flex: none;
      width: 100%;
    }

    &:not(:first-child) {
      @include screen('sm') {
        margin-top: 6px;
      }
    }
  }

  &__offer {

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__title {
    @include heading-4;

    font-weight: 700;

    @include screen('sm') {
      @include text-big;
    }

    &:not(:first-child) {
      margin-top: 6px;
    }
  }

  &__text {
    @include text16;

    @include screen('sm') {
      @include text;

      line-height: (26 / 14);
    }

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}
