mixin offer-space()
  +b.offer-space&attributes(attributes)
    +e.media
      +e.image
        +e.IMG.img(src="assets/images/space2.jpg")
    +e.describe
      +offer-info.__offer
        +box._size16._orange
        +e.title._fz13._dark2 HOT DESK
      +e.title Blooming Founders One Heddon Street
      +e.text Co-Working area Floor 5
    block
