mixin page-info()
  +b.page-info&attributes(attributes)
    block

mixin page-info-image()
  +e.image&attributes(attributes)
    block

mixin page-info-title(tag)
  +e(tag || 'h1').title&attributes(attributes)
    block
mixin page-info-description()
  +e.description&attributes(attributes)
    block
