.avatar {
  $b: &;

  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  flex: none;

  &__image {
    @include fill-img;

    font-size: 0;
    line-height: 0;
    border-radius: 50%;
  }

  &__text {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate3d(0, -50%, 0);
    text-align: center;
    font-family: $font-stolzl;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    color: currentColor;

    @include rule(
      font-size,
      (
        xl: 17px,
        xlg: 17,
        lg: 17,
        md: 17,
        sm: 17,
      )
    );
  }

  &_big {
    width: 110px;
    height: 110px;

    .nd & {
      width: 132px;
      height: 132px;

      @include screen("xlg", max, 2) {
        width: pxtovw(132, 1660);
        height: pxtovw(132, 1660);
      }

      @include screen("lg", max, 2) {
        width: pxtovw(132, 1366);
        height: pxtovw(132, 1366);
      }

      @include screen("md", max, 2) {
        width: pxtovw(132, 960);
        height: pxtovw(132, 960);
      }

      @include screen("sm", max, 2) {
        width: pxtovw(190, 375);
        height: pxtovw(190, 375);
      }
    }
  }

  &_mid {
    width: 43px;
    height: 43px;

    @include screen("sm") {
      width: 50px;
      height: 50px;
    }

    .nd & {
      @include rule(
        width,
        (
          xl: 43px,
          xlg: 43,
          lg: 43,
          md: 43,
          sm: 50,
        )
      );
      @include rule(
        height,
        (
          xl: 43px,
          xlg: 43,
          lg: 43,
          md: 43,
          sm: 50,
        )
      );
    }
  }

  &_small {
    width: 34px;
    height: 34px;

    @include screen("xlg", max, 2) {
      width: pxtovw(34, 1660);
      height: pxtovw(34, 1660);
    }

    @include screen("lg", max, 2) {
      width: pxtovw(26, 1366);
      height: pxtovw(26, 1366);
    }

    @include screen("md", max, 2) {
      width: pxtovw(26, 960);
      height: pxtovw(26, 960);
    }

    @include screen("sm", max, 2) {
      width: pxtovw(26, 375);
      height: pxtovw(26, 375);
    }
  }

  &_sz34 {
    width: 34px;
    height: 34px;

    @include screen("xlg", max, 2) {
      width: pxtovw(34, 1660);
      height: pxtovw(34, 1660);
    }

    @include screen("lg", max, 2) {
      width: pxtovw(34, 1366);
      height: pxtovw(34, 1366);
    }

    @include screen("md", max, 2) {
      width: pxtovw(34, 960);
      height: pxtovw(34, 960);
    }

    @include screen("sm", max, 2) {
      width: pxtovw(34, 375);
      height: pxtovw(34, 375);
    }
  }

  &_sm-sz30 {
    flex: none;

    @include screen("sm", max, 2) {
      width: pxtovw(30, 375);
      height: pxtovw(30, 375);
    }
  }

  &_sz40 {
    @include rule(
      width,
      (
        xl: 40px,
        xlg: 40,
        lg: 40,
        md: 40,
        sm: 40,
      )
    );
    @include rule(
      height,
      (
        xl: 40px,
        xlg: 40,
        lg: 40,
        md: 40,
        sm: 40,
      )
    );
  }

  &_sz50 {
    @include rule(
      width,
      (
        xl: 50px,
        xlg: 50,
        lg: 50,
        md: 50,
        sm: 50,
      )
    );
    @include rule(
      height,
      (
        xl: 50px,
        xlg: 50,
        lg: 50,
        md: 50,
        sm: 50,
      )
    );
  }

  &_sz104 {
    width: 104px;
    height: 104px;

    @include screen("xlg", max, 2) {
      width: pxtovw(104, 1660);
      height: pxtovw(104, 1660);
    }

    @include screen("lg", max, 2) {
      width: pxtovw(104, 1366);
      height: pxtovw(104, 1366);
    }

    @include screen("md", max, 2) {
      width: pxtovw(104, 960);
      height: pxtovw(104, 960);
    }

    @include screen("sm", max, 2) {
      width: pxtovw(104, 375);
      height: pxtovw(104, 375);
    }
  }

  &_sz160 {
    width: 160px;
    height: 160px;

    @include screen("xlg", max, 2) {
      width: pxtovw(160, 1660);
      height: pxtovw(160, 1660);
    }

    @include screen("lg", max, 2) {
      width: pxtovw(160, 1366);
      height: pxtovw(160, 1366);
    }

    @include screen("md", max, 2) {
      width: pxtovw(160, 960);
      height: pxtovw(160, 960);
    }

    @include screen("sm", max, 2) {
      width: pxtovw(160, 375);
      height: pxtovw(160, 375);
    }
  }

  &_sz210 {
    width: 210px;
    height: 210px;

    @include screen("xlg", max, 2) {
      width: pxtovw(210, 1660);
      height: pxtovw(210, 1660);
    }

    @include screen("lg", max, 2) {
      width: pxtovw(210, 1366);
      height: pxtovw(210, 1366);
    }

    @include screen("md", max, 2) {
      width: pxtovw(210, 960);
      height: pxtovw(210, 960);
    }

    @include screen("sm", max, 2) {
      width: pxtovw(210, 375);
      height: pxtovw(210, 375);
    }
  }

  &_sz244 {
    width: 244px;
    height: 244px;

    @include screen("xlg", max, 2) {
      width: pxtovw(244, 1660);
      height: pxtovw(244, 1660);
    }

    @include screen("lg", max, 2) {
      width: pxtovw(244, 1366);
      height: pxtovw(244, 1366);
    }

    @include screen("md", max, 2) {
      width: pxtovw(244, 960);
      height: pxtovw(244, 960);
    }

    @include screen("sm", max, 2) {
      width: pxtovw(244, 375);
      height: pxtovw(244, 375);
    }
  }

  &_blue {
    background-color: $nd-color-main;
    color: $nd-color-basic-light;
  }
}
