.avatar {
  $b: &;

  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  min-width: 32px;

  &__image {
    @include fill-img;

    font-size: 0;
    line-height: 0;
    border-radius: 50%;
  }
}
