.avatar {
  $b: &;

  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  min-width: 32px;

  &__image {
    @include fill-img;

    font-size: 0;
    line-height: 0;
    border-radius: 50%;
  }

  &_big {
    width: 110px;
    height: 110px;
    min-width: 110px;
  }

  &_mid {
    min-width: 43px;
    width: 43px;
    height: 43px;

    @include screen('sm') {
      width: 50px;
      height: 50px;
      min-width: 50px;
    }
  }
}
