.gallery {
  .gallery__container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
  }

  .gallery__slider_vertical > .gallery__wrapper {
    flex-direction: column;
  }

  .gallery__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }

  .gallery__slider_android .gallery__slide,.gallery__wrapper {
    transform: translate3d(0px, 0, 0);
  }

  .gallery__slider_multirow > .gallery__wrapper {
    flex-wrap: wrap;
  }

  .gallery__slider_multirow-column > .gallery__wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .gallery__slider_free-mode > .gallery__wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
  }

  .gallery__slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
  }

  .swiper-slide-invisible-blank {
    visibility: hidden;
  }

  /* Auto Height */
  .gallery__slider_autoheight,.gallery__slider_autoheight .gallery__slide {
    height: auto;
  }

  .gallery__slider_autoheight .gallery__wrapper {
    align-items: flex-start;
    transition-property: transform, height;
  }

  /* 3D Effects */
  .gallery__slider_3d {
    perspective: 1200px;
  }

  .gallery__slider_3d .gallery__wrapper,.gallery__slider_3d .gallery__slide,.gallery__slider_3d .swiper-slide-shadow-left,.gallery__slider_3d .swiper-slide-shadow-right,.gallery__slider_3d .swiper-slide-shadow-top,.gallery__slider_3d .swiper-slide-shadow-bottom,.gallery__slider_3d .swiper-cube-shadow {
    transform-style: preserve-3d;
  }

  .gallery__slider_3d .swiper-slide-shadow-left,.gallery__slider_3d .swiper-slide-shadow-right,.gallery__slider_3d .swiper-slide-shadow-top,.gallery__slider_3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
  }

  .gallery__slider_3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  }

  .gallery__slider_3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  }

  .gallery__slider_3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  }

  .gallery__slider_3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  }

  /* CSS Mode */
  .gallery__slider_css-mode > .gallery__wrapper {
    overflow: auto;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
  }

  .gallery__slider_css-mode > .gallery__wrapper::-webkit-scrollbar {
    display: none;
  }

  .gallery__slider_css-mode > .gallery__wrapper > .gallery__slide {
    scroll-snap-align: start start;
  }

  .gallery__slider_horizontal.gallery__slider_css-mode > .gallery__wrapper {
    scroll-snap-type: x mandatory;
  }

  .gallery__slider_vertical.gallery__slider_css-mode > .gallery__wrapper {
    scroll-snap-type: y mandatory;
  }

  .swiper-button-prev,.swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
  }

  .swiper-button-prev.swiper-button-disabled,.swiper-button-next.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
  }

  .swiper-button-prev:after,.swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }

  .swiper-button-prev,.gallery__slider_rtl .swiper-button-next {
    left: 10px;
    right: auto;
  }

  .swiper-button-prev:after,.gallery__slider_rtl .swiper-button-next:after {
    content: 'prev';
  }

  .swiper-button-next,.gallery__slider_rtl .swiper-button-prev {
    right: 10px;
    left: auto;
  }

  .swiper-button-next:after,.gallery__slider_rtl .swiper-button-prev:after {
    content: 'next';
  }

  .swiper-button-prev.swiper-button-white,.swiper-button-next.swiper-button-white {
    --swiper-navigation-color: #fff;
  }

  .swiper-button-prev.swiper-button-black,.swiper-button-next.swiper-button-black {
    --swiper-navigation-color: #000;
  }

  .swiper-button-lock {
    display: none;
  }

  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }

  .swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
  }

  /* Common Styles */
  .swiper-pagination-fraction,.swiper-pagination-custom,.gallery__slider_horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
  }

  /* Bullets */
  .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(.33);
    position: relative;
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    transform: scale(1);
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1);
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(.66);
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(.33);
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(.66);
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(.33);
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
  }

  button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
  }

  .gallery__slider_vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0px, -50%, 0);
  }

  .gallery__slider_vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 6px 0;
    display: block;
  }

  .gallery__slider_vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
  }

  .gallery__slider_vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: 200ms transform, 200ms top;
  }

  .gallery__slider_horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
  }

  .gallery__slider_horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .gallery__slider_horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms left;
  }

  .gallery__slider_horizontal.gallery__slider_rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms right;
  }

  /* Progress */
  .swiper-pagination-progressbar {
    background: rgba(0, 0, 0, .25);
    position: absolute;
  }

  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
  }

  .gallery__slider_rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top;
  }

  .gallery__slider_horizontal > .swiper-pagination-progressbar,.gallery__slider_vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
  }

  .gallery__slider_vertical > .swiper-pagination-progressbar,.gallery__slider_horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
  }

  .swiper-pagination-white {
    --swiper-pagination-color: #fff;
  }

  .swiper-pagination-black {
    --swiper-pagination-color: #000;
  }

  .swiper-pagination-lock {
    display: none;
  }

  /* Scrollbar */
  .swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1);
  }

  .gallery__slider_horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
  }

  .gallery__slider_vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
  }

  .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0;
  }

  .swiper-scrollbar-cursor-drag {
    cursor: move;
  }

  .swiper-scrollbar-lock {
    display: none;
  }

  .swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .swiper-zoom-container > img,.swiper-zoom-container > svg,.swiper-zoom-container > canvas {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .swiper-slide-zoomed {
    cursor: move;
  }

  /* Preloader */

  .swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50%;
    animation: swiper-preloader-spin 1s infinite linear;
    box-sizing: border-box;
    border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
    border-radius: 50%;
    border-top-color: transparent;
  }

  .swiper-lazy-preloader-white {
    --swiper-preloader-color: #fff;
  }

  .swiper-lazy-preloader-black {
    --swiper-preloader-color: #000;
  }

  @keyframes swiper-preloader-spin {
    100% {
      transform: rotate(360deg);
    }
  }

  /* a11y */
  .swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
  }

  .gallery__slider_fade.gallery__slider_free-mode .gallery__slide {
    transition-timing-function: ease-out;
  }

  .gallery__slider_fade .gallery__slide {
    pointer-events: none;
    transition-property: opacity;
  }

  .gallery__slider_fade .gallery__slide .gallery__slide {
    pointer-events: none;
  }

  .gallery__slider_fade .gallery__slide_active,.gallery__slider_fade .gallery__slide_active .gallery__slide_active {
    pointer-events: auto;
  }

  .gallery__slider_cube {
    overflow: visible;
  }

  .gallery__slider_cube .gallery__slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    visibility: hidden;
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
  }

  .gallery__slider_cube .gallery__slide .gallery__slide {
    pointer-events: none;
  }

  .gallery__slider_cube.gallery__slider_rtl .gallery__slide {
    transform-origin: 100% 0;
  }

  .gallery__slider_cube .gallery__slide_active,.gallery__slider_cube .gallery__slide_active .gallery__slide_active {
    pointer-events: auto;
  }

  .gallery__slider_cube .gallery__slide_active,.gallery__slider_cube .gallery__slide_next,.gallery__slider_cube .gallery__slide_prev,.gallery__slider_cube .gallery__slide_next + .gallery__slide {
    pointer-events: auto;
    visibility: visible;
  }

  .gallery__slider_cube .swiper-slide-shadow-top,.gallery__slider_cube .swiper-slide-shadow-bottom,.gallery__slider_cube .swiper-slide-shadow-left,.gallery__slider_cube .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .gallery__slider_cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0;
  }

  .gallery__slider_flip {
    overflow: visible;
  }

  .gallery__slider_flip .gallery__slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
  }

  .gallery__slider_flip .gallery__slide .gallery__slide {
    pointer-events: none;
  }

  .gallery__slider_flip .gallery__slide_active,.gallery__slider_flip .gallery__slide_active .gallery__slide_active {
    pointer-events: auto;
  }

  .gallery__slider_flip .swiper-slide-shadow-top,.gallery__slider_flip .swiper-slide-shadow-bottom,.gallery__slider_flip .swiper-slide-shadow-left,.gallery__slider_flip .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.gallery {
  $b: &;

  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-top: 56%;
  font-size: 0;
  line-height: 0;

  @include screen('lg', max, 2) {
    padding-top: 57%;
  }

  @include screen('md', max, 2) {
    padding-top: 55%;
  }

  @include screen('sm', max, 2) {
    padding-top: 66.7%;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }

  &__slide {
    font-size: 0;
    line-height: 0;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;
    transition-property: transform;
  }

  &__buttons {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;

    @include screen('md', max, 2) {
      display: none;
    }

    &_bg-small {
      display: flex;
    }

    &_small {
      display: flex;
      box-sizing: border-box;
      padding: 0;

      @include screen('sm', max, 2) {
        padding: 0 pxtovw(5, 375);
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 128px;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, .3);
    transition: background $ease-main, fill $ease-main;
    cursor: pointer;
    fill: $nd-color-gray;
    transform-origin: 50% 50%;

    @include screen('xlg', max, 2) {
      width: pxtovw(40, 1660);
      height: pxtovw(128, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(40, 1366);
      height: pxtovw(114, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(40, 960);
      height: pxtovw(114, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(40, 375);
      height: pxtovw(114, 375);
    }

    &:hover {
      background-color: rgba(0, 0, 0, .6);
    }

    &_next {
      transform: rotate(180deg);
    }

    &.gallery__slide_disabled {
      opacity: 0;
      pointer-events: none;
      cursor: default;
    }

    svg {
      fill: inherit;
      stroke: inherit;
      width: 15px;
      height: 40px;

      @include screen('xlg', max, 2) {
        width: pxtovw(15, 1660);
        height: pxtovw(40, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(13, 1366);
        height: pxtovw(38, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(13, 960);
        height: pxtovw(38, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(13, 375);
        height: pxtovw(38, 375);
      }
    }

    #{$b}__buttons_bg-small & {
      width: 21px;
      height: 61px;

      @include screen('xlg', max, 2) {
        width: pxtovw(21, 1660);
        height: pxtovw(61, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(21, 1366);
        height: pxtovw(61, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(13, 960);
        height: pxtovw(38, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(3, 375);
        height: pxtovw(10, 375);
      }

      svg {
        width: 10px;
        height: 22px;

        @include screen('xlg', max, 2) {
          width: pxtovw(10, 1660);
          height: pxtovw(22, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(10, 1366);
          height: pxtovw(22, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(7, 960);
          height: pxtovw(14, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(1, 375);
          height: pxtovw(3, 375);
        }
      }
    }

    #{$b}__buttons_small & {
      width: 30px;
      height: 40px;
      background-color: transparent;
      fill: $nd-color-border4;

      @include screen('xlg', max, 2) {
        width: pxtovw(30, 1660);
        height: pxtovw(40, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(30, 1366);
        height: pxtovw(40, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(30, 960);
        height: pxtovw(40, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(20, 375);
        height: pxtovw(30, 375);
      }

      &:hover {
        background-color: transparent;
        fill: $nd-color-border4;
      }

      svg {
        filter: drop-shadow(0 1px 0 rgba(0, 0, 0, .46));
        width: 11px;
        height: 25px;

        @include screen('xlg', max, 2) {
          width: pxtovw(11, 1660);
          height: pxtovw(25, 1660);
        }

        @include screen('lg', max, 2) {
          width: pxtovw(9, 1366);
          height: pxtovw(21, 1366);
        }

        @include screen('md', max, 2) {
          width: pxtovw(9, 960);
          height: pxtovw(21, 960);
        }

        @include screen('sm', max, 2) {
          width: pxtovw(10, 375);
          height: pxtovw(22, 375);
        }
      }
    }
  }

  &__fullscreen {
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    z-index: 3;
    width: 35px;
    height: 32px;
    display: none;
    background-color: rgba(0, 0, 0, .6);
    fill: none;
    justify-content: center;
    align-items: center;
    stroke: $nd-color-basic-light;
    transition: background $ease-main;
    cursor: pointer;

    @include screen('sm', max, 2) {
      display: flex;
      width: pxtovw(35, 375);
      height: pxtovw(32, 375);
    }

    &:hover {
      background-color: rgba(0, 0, 0, .9);
    }

    svg {
      fill: inherit;
      stroke: inherit;
      width: 18px;
      height: 16px;

      @include screen('sm', max, 2) {
        width: pxtovw(18, 375);
        height: pxtovw(16, 375);
      }
    }
  }

  &__slide {
    position: relative;
    display: block;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      @include fill-img;

      display: block;
      font-size: 0;
      line-height: 0;
    }
  }

  &__pagination {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    z-index: 3;

    @include screen('xlg', max, 2) {
      padding: pxtovw(15, 1660);
    }

    @include screen('lg', max, 2) {
      padding: pxtovw(15, 1366);
    }

    @include screen('md', max, 2) {
      padding: pxtovw(15, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(15, 375);
    }

    #{$b}_space & {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      padding: 11px;

      @include screen('xlg', max, 2) {
        padding: pxtovw(11, 1660);
      }

      @include screen('lg', max, 2) {
        padding: pxtovw(11, 1366);
      }

      @include screen('md', max, 2) {
        padding: pxtovw(11, 960);
      }

      @include screen('sm', max, 2) {
        padding: pxtovw(11, 375);
      }
    }

    .swiper-pagination-bullet {
      display: block;
      width: 4px;
      height: 4px;
      background-color: $nd-color-basic-light;
      border-radius: 50%;
      border: none;
      opacity: 1;
      transition: box-shadow $ease-main, background $ease-main;

      &.swiper-pagination-bullet-active {
        box-shadow: 0 0 0 1px $nd-color-main;
        background-color: $nd-color-main;
      }

      &:not(:last-child) {
        margin-right: 12px;

        @include screen('xlg', max, 2) {
          margin-right: pxtovw(12, 1660);
        }

        @include screen('lg', max, 2) {
          margin-right: pxtovw(12, 1366);
        }

        @include screen('md', max, 2) {
          margin-right: pxtovw(12, 960);
        }

        @include screen('sm', max, 2) {
          margin-right: pxtovw(12, 375);
        }
      }
    }
  }
}
