.header-menu {
  display: flex;
  justify-content: flex-end;

  &__item {
    text-align: right;

    &:not(:last-child) {
      margin-right: 55px;
    }

    &_bmg:not(:last-child) {
      margin-right: 61px;
    }

    .link {
      @include text-mid;

      font-weight: 700;

      &.is-active {
        color: $color-header-menu-active;
        cursor: default;
        pointer-events: none;
      }
    }
  }
}
