mixin header-menu()
  +b.UL.header-menu&attributes(attributes)
    +e.LI.__item
      +e.A(href="#").__link Become a host
    +e.LI.__item
      +e.A(href="#").__link Support
    +e.LI.__item
      +e.A(href="#").__link Sing Up
    +e.LI.__item
      +e.A(href="#").__link Sing In