.header-menu {
  display: flex;
  &__item {
    display: flex;
    align-items: center;
    margin-right: 57px;
    &:last-child {
      margin-right: 75px;
    }
  }
  &__link {
    color: $color-basic;
    transition: $ease-main;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.34px;
    &:hover {
      color: $color-basic-dark;
      
      font-weight: 700;
    }
  }
}