mixin header-menu()
  +b.UL.header-menu&attributes(attributes)
    +e.LI.item_bmg.hide-md
      +link(href="#") Become a host
    +e.LI.item.hide-md
      +link(href="#") Support
    +e.LI.item
      +link(href="#") Sign Up
    +e.LI.item
      +link(href="#") Sign In
