.header-menu {
  display: flex;
  justify-content: flex-end;

  $b: &;

  &__item {
    text-align: right;

    &:not(:last-child) {
      margin-right: 55px;
    }

    &_bmg:not(:last-child) {
      margin-right: 61px;
    }

    .link {
      @include text-mid;

      font-weight: 700;

      &.is-active {
        color: $color-header-menu-active;
        cursor: default;
        pointer-events: none;
      }
    }

    .nd-link {
      font-family: $font-stolzl;
      font-size: 17px;
      font-weight: 500;
      color: $nd-color-basic;
      line-height: (21 / 17);
      letter-spacing: -.04em;

      @include screen('xlg', max, 2) {
        font-size: pxtovw(17, 1660);
      }

      @include screen('lg', max, 2) {
        font-size: pxtovw(15, 1366);
        line-height: (18 / 15);
      }

      @include screen('md', max, 2) {
        font-size: pxtovw(15, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(15, 375);
      }
    }
  }

  &.nd-header-menu {
    #{$b} {
      &__item {
        &:not(:last-child) {
          margin-right: 34px;

          @include screen('xlg', max, 2) {
            margin-right: pxtovw(34, 1660);
          }

          @include screen('lg', max, 2) {
            margin-right: pxtovw(34, 1366);
          }

          @include screen('md', max, 2) {
            margin-right: pxtovw(34, 960);
          }

          @include screen('sm', max, 2) {
            margin-right: pxtovw(20, 375);
          }
        }
      }
    }
  }
}
