.advanced-filter {
  $b: &;

  position: relative;
  display: block;
  width: 100%;

  &__content {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  &__form {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 50px 50px 105px;
    overflow: hidden;

    @include screen('lg') {
      padding: 50px 40px 105px;
    }

    @include screen('md') {
      padding: 50px 50px 105px;
    }

    @include screen('sm') {
      padding: 50px 25px 105px;
    }
  }

  &__head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-top: 8px;
    z-index: 2;
    background-color: $color-white;

    @include screen('sm') {
      justify-content: space-between;
      padding-top: 0;
      padding-left: 25px;
    }

    &_transparent {
      background-color: transparent;
    }

    &_md-fixed {
      @include screen('md') {
        position: fixed;
      }
    }
  }

  &__clear {
    @include text-mid;

    @include screen('sm') {
      @include text15;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__scrollblock {
    @include screen('md') {
      max-height: 100%;
    }
  }

  &__close {
    display: block;
    width: 60px;
    height: 42px;
    position: relative;
    background-color: $color-white;

    @include screen('sm') {
      width: 36px;
      height: 42px;
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 18px;
      height: 18px;
      transition: fill $ease-main;
      fill: $color-basic;

      @include screen('sm') {
        width: 16px;
        height: 16px;
      }

      #{$b}__close:hover & {
        fill: $color-basic-dark;
      }
    }
  }

  &_workplace {

    #{$b} {
      &__form {
        padding: 46px 50px 60px;
        overflow: hidden;

        @include screen('sm') {
          padding: 12px 10px 14px;
        }

        .form {

          &__header {
            @include screen('sm') {
              margin-bottom: 16px;
            }
          }
        }
      }

      &__head {
        @include screen('sm') {
          justify-content: flex-end;
          padding-left: 0;
        }
      }

      &__close {
        @include screen('sm') {
          width: 36px;
          height: 30px;
        }
      }
    }
  }
}
