.news {
  $b: &;

  display: block;
  width: 100%;
  color: $color-basic;
  text-transform: none;
  text-decoration: none;

  &__media {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-top: 63.3%;
    overflow: hidden;

    @include screen('sm') {
      padding-top: 63%;
    }

    &:not(:last-child) {
      margin-bottom: 8px;

      @include screen('lg') {
        margin-bottom: 17px;
      }

      @include screen('sm') {
        margin-bottom: 13px;
      }
    }
  }

  &__image {
    @include fill-img;
  }

  &__date {
    @include text16;

    display: inline-block;
    width: 100%;
    color: $color-gray-darkest;
    font-weight: 700;

    @include screen('sm') {
      @include text;

      line-height: (26/14);
    }

    &:not(:last-child) {
      margin-bottom: 8px;

      @include screen('lg') {
        margin-bottom: 6px;
      }

      @include screen('sm') {
        margin-bottom: 12px;
      }
    }
  }

  &__title {
    @include heading-3;

    font-weight: 700;
    width: 100%;
    transition: color $ease-main;

    @include screen('sm') {
      @include heading-5;
    }

    &:not(:last-child) {
      margin-bottom: 10px;

      @include screen('sm') {
        margin-bottom: 14px;
      }
    }

    #{$b}:hover & {
      color: $color-basic-dark;
    }
  }

  &__info {
    @include text16;

    font-weight: 400;
    width: 100%;
    color: $color-basic-light;

    @include screen('sm') {
      @include text;

      line-height: 1.45;
    }
  }
}
