mixin nd-news(data)
  +b.A.nd-news&attributes(attributes)
    +e.DIV.media(data-slider-buttons-orientir)
      +e.DIV.image
        IMG(src=data.img)
    +e.TIME.date!= data.date
    +e.title!= data.title
