mixin news(data)
  +b.A.news&attributes(attributes)
    +e.DIV.media(data-slider-buttons-orientir)
      +e.IMG.image(src=data.img)
    +e.DIV.describe
      +e.TIME.date!= data.date
      +e.title!= data.title
      +e.info!= data.info

mixin nd-news(data)
  +b.A.nd-news&attributes(attributes)
    +e.DIV.media(data-slider-buttons-orientir)
      +e.DIV.image
        IMG(src=data.img)
    +e.TIME.date!= data.date
    +e.title!= data.title
