.box {
  $b: &;

  display: block;
  min-width: 10px;
  width: 10px;
  height: 10px;
  background-color: transparent;

  .nd & {
    flex: none;
    min-width: 10px;
    width: 10px;
    height: 10px;

    @include screen('xlg', max, 2) {
      min-width: pxtovw(10, 1660);
      width: pxtovw(10, 1660);
      height: pxtovw(10, 1660);
    }

    @include screen('lg', max, 2) {
      min-width: pxtovw(10, 1366);
      width: pxtovw(10, 1366);
      height: pxtovw(10, 1366);
    }

    @include screen('md', max, 2) {
      min-width: pxtovw(10, 960);
      width: pxtovw(10, 960);
      height: pxtovw(10, 960);
    }

    @include screen('sm', max, 2) {
      min-width: pxtovw(10, 375);
      width: pxtovw(10, 375);
      height: pxtovw(10, 375);
    }
  }

  &_smaller {
    min-width: 7px;
    width: 7px;
    height: 7px;

    .nd & {
      min-width: 7px;
      width: 7px;
      height: 7px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(7, 1660);
        width: pxtovw(7, 1660);
        height: pxtovw(7, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(7, 1366);
        width: pxtovw(7, 1366);
        height: pxtovw(7, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(7, 960);
        width: pxtovw(7, 960);
        height: pxtovw(7, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(7, 375);
        width: pxtovw(7, 375);
        height: pxtovw(7, 375);
      }
    }
  }

  &_small {
    min-width: 9px;
    width: 9px;
    height: 9px;

    @include screen('sm') {
      min-width: 6px;
      width: 6px;
      height: 6px;
    }

    .nd & {
      min-width: 9px;
      width: 9px;
      height: 9px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(9, 1660);
        width: pxtovw(9, 1660);
        height: pxtovw(9, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(9, 1366);
        width: pxtovw(9, 1366);
        height: pxtovw(9, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(9, 960);
        width: pxtovw(9, 960);
        height: pxtovw(9, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(7, 375);
        width: pxtovw(7, 375);
        height: pxtovw(7, 375);
      }
    }
  }

  &_mid {
    min-width: 13px;
    width: 13px;
    height: 13px;

    @include screen('sm') {
      min-width: 8px;
      width: 8px;
      height: 8px;
    }

    .nd & {
      min-width: 13px;
      width: 13px;
      height: 13px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(13, 1660);
        width: pxtovw(13, 1660);
        height: pxtovw(13, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(13, 1366);
        width: pxtovw(13, 1366);
        height: pxtovw(13, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(13, 960);
        width: pxtovw(13, 960);
        height: pxtovw(13, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(8, 375);
        width: pxtovw(8, 375);
        height: pxtovw(8, 375);
      }
    }
  }

  &_big {
    min-width: 19px;
    width: 19px;
    height: 19px;

    @include screen('sm') {
      min-width: 16px;
      width: 16px;
      height: 16px;
    }

    .nd & {
      min-width: 19px;
      width: 19px;
      height: 19px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(19, 1660);
        width: pxtovw(19, 1660);
        height: pxtovw(19, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(19, 1366);
        width: pxtovw(19, 1366);
        height: pxtovw(19, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(19, 960);
        width: pxtovw(19, 960);
        height: pxtovw(19, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(16, 375);
        width: pxtovw(16, 375);
        height: pxtovw(16, 375);
      }
    }
  }

  &_big2 {
    min-width: 19px;
    width: 19px;
    height: 19px;

    @include screen('sm') {
      min-width: 11px;
      width: 11px;
      height: 11px;
    }

    .nd & {
      min-width: 19px;
      width: 19px;
      height: 19px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(19, 1660);
        width: pxtovw(19, 1660);
        height: pxtovw(19, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(19, 1366);
        width: pxtovw(19, 1366);
        height: pxtovw(19, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(19, 960);
        width: pxtovw(19, 960);
        height: pxtovw(19, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(11, 375);
        width: pxtovw(11, 375);
        height: pxtovw(11, 375);
      }
    }
  }

  &_size8 {
    min-width: 8px;
    width: 8px;
    height: 8px;

    .nd & {
      min-width: 8px;
      width: 8px;
      height: 8px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(8, 1660);
        width: pxtovw(8, 1660);
        height: pxtovw(8, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(8, 1366);
        width: pxtovw(8, 1366);
        height: pxtovw(8, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(8, 960);
        width: pxtovw(8, 960);
        height: pxtovw(8, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(8, 375);
        width: pxtovw(8, 375);
        height: pxtovw(8, 375);
      }
    }
  }

  &_size9 {
    min-width: 9px;
    width: 9px;
    height: 9px;

    .nd & {
      min-width: 9px;
      width: 9px;
      height: 9px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(9, 1660);
        width: pxtovw(9, 1660);
        height: pxtovw(9, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(9, 1366);
        width: pxtovw(9, 1366);
        height: pxtovw(9, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(9, 960);
        width: pxtovw(9, 960);
        height: pxtovw(9, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(9, 375);
        width: pxtovw(9, 375);
        height: pxtovw(9, 375);
      }
    }
  }

  &_size10 {
    min-width: 10px;
    width: 10px;
    height: 10px;

    .nd & {
      min-width: 10px;
      width: 10px;
      height: 10px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(10, 1660);
        width: pxtovw(10, 1660);
        height: pxtovw(10, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(10, 1366);
        width: pxtovw(10, 1366);
        height: pxtovw(10, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(10, 960);
        width: pxtovw(10, 960);
        height: pxtovw(10, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(10, 375);
        width: pxtovw(10, 375);
        height: pxtovw(10, 375);
      }
    }
  }

  &_size11 {
    min-width: 11px;
    width: 11px;
    height: 11px;

    .nd & {
      min-width: 11px;
      width: 11px;
      height: 11px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(11, 1660);
        width: pxtovw(11, 1660);
        height: pxtovw(11, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(11, 1366);
        width: pxtovw(11, 1366);
        height: pxtovw(11, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(11, 960);
        width: pxtovw(11, 960);
        height: pxtovw(11, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(11, 375);
        width: pxtovw(11, 375);
        height: pxtovw(11, 375);
      }
    }
  }

  &_size16 {
    min-width: 16px;
    width: 16px;
    height: 16px;

    .nd & {
      min-width: 16px;
      width: 16px;
      height: 16px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(16, 1660);
        width: pxtovw(16, 1660);
        height: pxtovw(16, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(16, 1366);
        width: pxtovw(16, 1366);
        height: pxtovw(16, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(16, 960);
        width: pxtovw(16, 960);
        height: pxtovw(16, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(16, 375);
        width: pxtovw(16, 375);
        height: pxtovw(16, 375);
      }
    }
  }

  &_size17 {
    min-width: 17px;
    width: 17px;
    height: 17px;

    .nd & {
      min-width: 17px;
      width: 17px;
      height: 17px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(17, 1660);
        width: pxtovw(17, 1660);
        height: pxtovw(17, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(17, 1366);
        width: pxtovw(17, 1366);
        height: pxtovw(17, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(17, 960);
        width: pxtovw(17, 960);
        height: pxtovw(17, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(17, 375);
        width: pxtovw(17, 375);
        height: pxtovw(17, 375);
      }
    }
  }

  &_size26 {
    min-width: 26px;
    width: 26px;
    height: 26px;

    .nd & {
      min-width: 26px;
      width: 26px;
      height: 26px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(26, 1660);
        width: pxtovw(26, 1660);
        height: pxtovw(26, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(26, 1366);
        width: pxtovw(26, 1366);
        height: pxtovw(26, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(26, 960);
        width: pxtovw(26, 960);
        height: pxtovw(26, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(26, 375);
        width: pxtovw(26, 375);
        height: pxtovw(26, 375);
      }
    }
  }

  &_size32 {
    min-width: 32px;
    width: 32px;
    height: 32px;

    .nd & {
      min-width: 32px;
      width: 32px;
      height: 32px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(32, 1660);
        width: pxtovw(32, 1660);
        height: pxtovw(32, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(32, 1366);
        width: pxtovw(32, 1366);
        height: pxtovw(32, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(32, 960);
        width: pxtovw(32, 960);
        height: pxtovw(32, 960);
      }

      @include screen('sm', max, 2) {
        min-width: pxtovw(32, 375);
        width: pxtovw(32, 375);
        height: pxtovw(32, 375);
      }
    }
  }

  &_orange {
    background-color: $color-hot-desk;
  }

  &_red {
    background-color: $color-dedicated-desk;
  }

  &_blue {
    background-color: $color-meeting-room;
  }

  &_green {
    background-color: $color-office-space;
  }
}

.nd-box {
  $b: &;

  display: block;
  flex: none;
  color: transparent;
  background-color: currentColor;
  width: 9px;
  height: 9px;

  @include screen('xlg', max, 2) {
    width: pxtovw(9, 1660);
    height: pxtovw(9, 1660);
  }

  @include screen('lg', max, 2) {
    width: pxtovw(9, 1366);
    height: pxtovw(9, 1366);
  }

  @include screen('md', max, 2) {
    width: pxtovw(9, 960);
    height: pxtovw(9, 960);
  }

  @include screen('sm', max, 2) {
    width: pxtovw(9, 375);
    height: pxtovw(9, 375);
  }

  &_orange {
    color: $nd-color-hotdesk;
  }

  &_red {
    color: $nd-color-fixeddesk;
  }

  &_blue {
    color: $nd-color-meetingroom;
  }

  &_green {
    color: $nd-color-privateoffice;
  }

  &_multy {
    background-image: url('../images/bg/bg-offer-types.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }

  &_dark-blue {
    background-color: $nd-color-daypass;
  }

  &_size5 {
    @include rule(width, (xl: 5px, xlg: 5, lg: 5, md: 5, sm: 5));
    @include rule(height, (xl: 5px, xlg: 5, lg: 5, md: 5, sm: 5));
  }

  &_size6 {
    @include rule(width, (xl: 6px, xlg: 6, lg: 6, md: 6, sm: 6));
    @include rule(height, (xl: 6px, xlg: 6, lg: 6, md: 6, sm: 6));
  }

  &_size8 {
    width: 8px;
    height: 8px;

    @include screen('xlg', max, 2) {
      width: pxtovw(8, 1660);
      height: pxtovw(8, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(8, 1366);
      height: pxtovw(8, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(8, 960);
      height: pxtovw(8, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(8, 375);
      height: pxtovw(8, 375);
    }
  }

  &_size10 {
    width: 10px;
    height: 10px;

    @include screen('xlg', max, 2) {
      width: pxtovw(10, 1660);
      height: pxtovw(10, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(10, 1366);
      height: pxtovw(10, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(10, 960);
      height: pxtovw(10, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(10, 375);
      height: pxtovw(10, 375);
    }
  }

  &_size16 {
    width: 16px;
    height: 16px;

    @include screen('xlg', max, 2) {
      width: pxtovw(16, 1660);
      height: pxtovw(16, 1660);
    }

    @include screen('lg', max, 2) {
      width: pxtovw(16, 1366);
      height: pxtovw(16, 1366);
    }

    @include screen('md', max, 2) {
      width: pxtovw(16, 960);
      height: pxtovw(16, 960);
    }

    @include screen('sm', max, 2) {
      width: pxtovw(16, 375);
      height: pxtovw(16, 375);
    }
  }

  &_sm-size8 {
    @include screen('sm', max, 2) {
      width: pxtovw(8, 375);
      height: pxtovw(8, 375);
    }
  }
}
