extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Host Space - Dashboard'

block bodyClasses
  - var bodyCls = ' is-sm-noheader is-sm-no-userpanel';
  - var isNoFooter = true
  - var scripts = ['other']

block header
  - var headerClass = ' is-login'
  - var pageClass = ''
  - var isMap = false
  - var host = true

block content
  +nd-page-header._grid
    .nd-container
      +nd-page-header-side
        +nd-link-icon('arrow5')._underline._back._back_md21.__back_md-noname Back to Space list
      +nd-page-header-main
        - var menuList = getData('sideNavHASpace.json').menu;
        +e.mb-menu.nd-hide-from-md
          +slider-navigation(menuList, 0, 'Dashboard')

  +nd-content
    .nd-container
      +nd-content-aside
        +sidebar-nosticky.nd-sidebar.nd-hide-md
          - var nav = getData('sideNavHASpace.json')
          +nd-side-navigation(nav, 'Dashboard')
      +nd-content-main
        +dashboard._ha-space
          +board._shadow.__board_space._space_rent
            +board-title._fz22 Rents
            +nd-table._info.__table
              tbody
                tr
                  td Total contracts signed
                  td 5
                tr
                  td Active contracts
                  td 4
                tr
                  td Rent requests
                  td -
          +board._shadow.__board_space._space_view
            +board-title._fz22 Viewings
              +e.marker 2
            +nd-table._info.__table
              tbody
                tr
                  td Total viewings
                  td 25
                tr
                  td Upcoming
                  td 2
                tr
                  td Viewing requests
                  td 2
          +board._shadow.__board_space._space_list
            +board-title._fz22 Listings
          +board._shadow.__board_space._space_notes
            +board-title._fz22 Space Notifications
          +board._shadow.__board_space._space_manager
            +board-title._fz22 Manager

block panels

block popups
