.info {
  $b: &;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  padding: 4px 0 13px;
  border-bottom: 1px solid $color-form-border;

  &__cell {
    @include heading-3;

    line-height: (26/25);
    font-weight: 700;
    display: inline-block;
    white-space: nowrap;

    @include screen('sm') {
      @include heading-4;

      line-height: (26/20);
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
