mixin offer-description-sidebar()
  +b.offer-description-sidebar&attributes(attributes)
    +e.subtitle Exclusively on Spacepool
    +e.payment
      +e.SPAN.price £ 2,400
      +e.SPAN.mesure  per month
    +e.buttons
      +nd-button._pad10.__button.js-nd-arrange-viewing(href="#nd-popup-arrange-viewing" data-min-date="2021-15-4" data-max-date="2021-20-8") Arrange viewing
      +nd-button._pad10._black.__button(href="#") Request reservation
      block
    +nd-link-image('question')._underline._underline_blue.__question(href="#") Ask a question
    +avatar('assets/images/nd/user-avatar-15.png')._sz50.__avatar
    +e.info
      | Or call&nbsp;
      +nd-link().__link(href="tel:+4402084322219") +44 020 8432 2219
      | &nbsp;to&nbsp;speak to&nbsp;our free Advisor

mixin offer-description-sidebar-daypass()
  +b.offer-description-sidebar&attributes(attributes)
    +e.subtitle Exclusively on Spacepool
    +e.payment
      +e.SPAN.price £ 149
      +e.SPAN.mesure  per month
    +e.buttons
      +nd-button._pad10.__button Book now
      block
    +nd-link-image('question')._underline._underline_blue.__question(href="#") Ask a question
    +avatar('assets/images/nd/user-avatar-15.png')._sz50.__avatar
    +e.info
      | Or call&nbsp;
      +nd-link().__link(href="tel:+4402084322219") +44 020 8432 2219
      | &nbsp;to&nbsp;speak to&nbsp;our free Advisor
