include _externalIncludes
include _internalIncludes

doctype html
html(lang='en')
  include head
  body
    block header
    - var addClass = headerClass || ''
    +header()(class=addClass)

    +b.MAIN.page
      block content

    +popups
      block popups

    +overlay
    +user-menu-panel
    block panels
    +footer
    script(src='assets/scripts/libs/object-assign-auto.min.js')
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
