include _externalIncludes
include _internalIncludes

doctype html
html(lang='en')
  include head
  body.is-login
    block header
    - var addClass = headerClass || ''
    - var messages = getData('notices-message.json')
    - var events = getData('notices-event.json')
    +gradients
    +header(true)(class=addClass + ' is-login')

    +b.MAIN.page
      block content

    +popups
      +popup-signin#popup-signin
      block popups

    +overlay
    +user-menu-panel
    +info-notices({indicator: 2, title: 'Events', link: {mdname: 'View all events', xlname: 'Show all events'}})#events-list
      each item in events
        +notice(item)
    +info-notices({indicator: 2, title: 'Messages', link: {xlname: 'View all Messages', mdname: 'Read all messages', indicator: 2}})#messages-list
      each item in messages
        +notice(item)
    +cookies
    block panels
    +footer
    script(src='assets/scripts/libs/object-assign-auto.min.js')
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/map.js')
