include _externalIncludes
include _internalIncludes

doctype html
html(lang='en')
  include head
  body.is-login
    block header
    - var addClass = headerClass || ''
    +gradients
    +header(true)(class=addClass + ' is-login')

    +b.MAIN.page
      block content

    +popups
      +popup-signin#popup-signin
      block popups

    +overlay
    +user-menu-panel
    +cookies
    block panels
    +footer
    script(src='assets/scripts/libs/object-assign-auto.min.js')
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
    script(src='assets/scripts/map.js')
