include _externalIncludes
include _internalIncludes

doctype html
html(lang='en')
  include head-redesign
  block bodyClasses
  - var bodyClass = bodyCls || ''
  - var noFooter = isNoFooter || false
  - var noHeader = isNoHeader || false
  - if (noFooter) bodyClass += ' is-nofooter'
  - if (noHeader) bodyClass += ' is-noheader'
  body(class='no-js-scale nd ' + bodyClass)
    block header
    - var addClass = headerClass || ''
    - var pageCls = pageClass || ''
    - var messages = getData('nd-notices-message.json')
    - var events = getData('nd-notices-event.json')
    - var gradients = isGradients || false
    - var isHost = host || false
    - var map = isMap || false
    - var noUser = isNoUser || false
    - var menuData = getData('nd-guest-acc-list.json')
    - var otherScripts = scripts || []
    if noUser
      - menuData = getData('nd-nouser-acc-list.json')
    if isHost
      - menuData = getData('nd-host-acc-list.json')
    if isHost == 'manager'
      - menuData = getData('nd-manager-acc-list.json')
    if gradients
      +gradients-redesign
    if !noHeader
      +nd-header(isHost)(class=addClass)
      +nd-user-menu-panel(isHost, noUser)
      +nd-main-menu(menuData, isHost, noUser)
      +nd-info-notices({title: 'Notifications', link: {name: 'Read all notifications'}})#events-list
        if isHost == 'manager'
          +text-block._gray._empty.__info
            +e.image_calendar
              img(src="assets/images/nd/nd-calendar.svg")
            +e.title_fz20 Nothing here yet
            +e.content_fz15 In this window you will see notifications about every activity inside your account. Stay tuned through this tooltip and notification page
        else
          each item in events
            +info-notice(item).__notice
      +nd-info-notices({title: 'Messages', link: {name: 'Read all messages'}})#messages-list
        if isHost == 'manager'
          +text-block._gray._empty.__info
            +e.image_bubble
              img(src="assets/images/nd/nd-chat.svg")
            +e.title_fz20 Nothing here yet
            +e.content_fz15 In this window you can see all the messages you receive within rental deals.
        else
          each item in messages
            +info-notice(item).__notice

    +b.MAIN(class='nd-page' + pageCls)
      block content

    +popups
      block popups

    block panels

    if !noFooter
      +nd-footer

    if pageStyle == 'index'
      script(src='assets/scripts/index.min.js')
    else
      script(src='assets/scripts/app.min.js')
    if map
      //- script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCKtbucQSqDWV-9lNCgzESqbdUakhraXDY&callback=initMap')
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAlLpVITMmaCmvob8dU3xWWBDOjPefUkZ4&callback=initMap')
      script(src='assets/scripts/map.js')
