include _externalIncludes
include _internalIncludes

doctype html
html(lang='en')
  include head-redesign
  block bodyClasses
  - var bodyClass = bodyCls || ''
  - var noFooter = isNoFooter || false
  - var noHeader = isNoHeader || false
  - if (noFooter) bodyClass += ' is-nofooter'
  - if (noHeader) bodyClass += ' is-noheader'
  body(class='no-js-scale nd ' + bodyClass)
    block header
    - var addClass = headerClass || ''
    - var pageCls = pageClass || ''
    - var messages = getData('notices-message.json')
    - var events = getData('notices-event.json')
    - var gradients = isGradients || false
    - var isHost = host || false
    - var map = isMap || false
    - var noUser = isNoUser || false
    - var menuData = getData('nd-guest-acc-list.json')
    if noUser
      - menuData = getData('nd-nouser-acc-list.json')
    if isHost
      - menuData = getData('nd-host-acc-list.json')
    if isHost == 'manager'
      - menuData = getData('nd-manager-acc-list.json')
    if gradients
      +gradients-redesign
    if !noHeader
      +nd-header(isHost)(class=addClass)
      +nd-user-menu-panel(isHost)
      +nd-main-menu(menuData, isHost)

    +b.MAIN(class='nd-page' + pageCls)
      block content

    +popups
      +popup-signin#popup-signin
      block popups

    block panels

    if !noFooter
      +nd-footer

    script(src='assets/scripts/libs/object-assign-auto.min.js')
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
    if map
      //- script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCKtbucQSqDWV-9lNCgzESqbdUakhraXDY&callback=initMap')
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAlLpVITMmaCmvob8dU3xWWBDOjPefUkZ4&callback=initMap')
      script(src='assets/scripts/map.js')
