include _externalIncludes
include _internalIncludes

doctype html
html(lang='en')
  include head-redesign
  block bodyClasses
  - var bodyClass = bodyCls || ''
  - var noFooter = isNoFooter || false
  - var noHeader = isNoHeader || false
  - var showUserPanel = isUserPanel || false
  - if (noFooter) bodyClass += ' is-nofooter'
  - if (noHeader) bodyClass += ' is-noheader'
  body(class='no-js-scale nd ' + bodyClass)
    block header
    - var addClass = headerClass || ''
    - var pageCls = pageClass || ''
    - var messages = getData('nd-notices-message.json')
    - var events = getData('nd-notices-event.json')
    - var gradients = isGradients || false
    - var isHost = host || false
    - var map = isMap || false
    - var newMapFile = isMapNew || false
    - var noUser = isNoUser || false
    - var menuData = getData('nd-guest-acc-list.json')
    - var otherScripts = scripts || []
    - var isSearch = searchPage || false
    - var headerSpecial = headSpec || false
    if noUser
      - menuData = getData('nd-nouser-acc-list.json')
    if isHost
      - menuData = getData('nd-host-acc-list.json')
    if isHost == 'manager'
      - menuData = getData('nd-manager-acc-list.json')
    if gradients
      +gradients-redesign
    if !noHeader
      if headerSpecial
        +nd-header-special(isHost)(class=addClass)
      else
        +nd-header(isHost)(class=addClass)
      +nd-user-menu-panel(isHost, noUser, isSearch)
      +nd-main-menu(menuData, isHost, noUser)
      +nd-info-notices({title: 'Notifications', link: {name: 'Read all notifications'}})#events-list
        if isHost == 'manager'
          +text-block._gray._empty.__info
            +e.image_calendar
              img(src="assets/images/nd/nd-calendar.svg")
            +e.title_fz20 Nothing here yet
            +e.content_fz15 In this window you will see notifications about every activity inside your account. Stay tuned through this tooltip and notification page
        else
          each item in events
            +info-notice(item).__notice
      +nd-info-notices({title: 'Messages', link: {name: 'Read all messages'}})#messages-list
        if isHost == 'manager'
          +text-block._gray._empty.__info
            +e.image_bubble
              img(src="assets/images/nd/nd-chat.svg")
            +e.title_fz20 Nothing here yet
            +e.content_fz15 In this window you can see all the messages you receive within rental deals.
        else
          each item in messages
            +info-notice(item).__notice

      +modals('DIV')
        +modal({header: {title: 'Support'}, footer: false})#modal-support
          +e.list
            +nd-button-icon('a', {iconLeft: true, icon: 'sup-call'})._icon_start._border._border_blue._border_bw2.__sup-button(href="#") Call
            +nd-button-icon('a', {iconLeft: true, icon: 'sup-mail'})._icon_start._border._border_blue._border_bw2.__sup-button(href="#") Email
            +nd-button-icon('a', {iconLeft: true, icon: 'sup-chat'})._icon_start._border._border_blue._border_bw2.__sup-button(href="#") Chat

    else if (noHeader && showUserPanel)
      +nd-user-menu-panel(isHost, noUser, isSearch)
      +nd-main-menu(menuData, isHost, noUser)
      +nd-info-notices({title: 'Notifications', link: {name: 'Read all notifications'}})#events-list
        if isHost == 'manager'
          +text-block._gray._empty.__info
            +e.image_calendar
              img(src="assets/images/nd/nd-calendar.svg")
            +e.title_fz20 Nothing here yet
            +e.content_fz15 In this window you will see notifications about every activity inside your account. Stay tuned through this tooltip and notification page
        else
          each item in events
            +info-notice(item).__notice
      +nd-info-notices({title: 'Messages', link: {name: 'Read all messages'}})#messages-list
        if isHost == 'manager'
          +text-block._gray._empty.__info
            +e.image_bubble
              img(src="assets/images/nd/nd-chat.svg")
            +e.title_fz20 Nothing here yet
            +e.content_fz15 In this window you can see all the messages you receive within rental deals.
        else
          each item in messages
            +info-notice(item).__notice

      +modals('DIV')
        +modal({header: {title: 'Support'}, footer: false})#modal-support
          +e.list
            +nd-button-icon('a', {iconLeft: true, icon: 'sup-call'})._icon_start._border._border_blue._border_bw2.__sup-button(href="#") Call
            +nd-button-icon('a', {iconLeft: true, icon: 'sup-mail'})._icon_start._border._border_blue._border_bw2.__sup-button(href="#") Email
            +nd-button-icon('a', {iconLeft: true, icon: 'sup-chat'})._icon_start._border._border_blue._border_bw2.__sup-button(href="#") Chat


    +b.MAIN(class='nd-page' + pageCls)
      block content

    +popups
      block popups

    block panels

    if !noFooter
      +nd-footer

    if pageStyle == 'index'
      script(src='assets/scripts/index.min.js')
    else
      script(src='assets/scripts/app.min.js')
    if map
      //- script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCKtbucQSqDWV-9lNCgzESqbdUakhraXDY&callback=initMap')
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAlLpVITMmaCmvob8dU3xWWBDOjPefUkZ4&callback')
      if newMapFile
        // Библиотека для кластеризации в картах
        script(src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js")
        script(src='assets/scripts/map_search.js')
      else
        script(src='assets/scripts/map.js')
