mixin nd-search-map()
  +b#popup-search-map.nd-search-map__&attributes(attributes)
    +e.wrapper
      +e.BUTTON.close.js-search-map-close Close
      +e.map#search-map
      +e.results
        +nd-slider(false, false, true).__slider.js-nd-slider
          each item in getData('nd-spaces-search-map.json')
            +nd-space('a')._map-card.__slide_map-card.swiper-slide(href="#")
              +e.top
                +nd-space-media()
                  img(src=item.image)
                +nd-space-title()!=item.title
              +offer-table(item.offers)._map.__list

    block

mixin nd-search-map-button()
  +b.BUTTON.js-search-map-show.nd-search-map-button__&attributes(attributes)(type="button") map
    block
