.nd-search-map {
  $b: &;
  // position: sticky;
  position: fixed;
  top: 110px;
  display: flex;
  width: 795px;
  height: calc(100% - 110px);
  transform: translate3d(0, 0, 0);
  transition: visibility 0s linear, transform $ease-main, opacity $ease-main;
  pointer-events: auto;

  @include screen('xlg', max, 2) {
    top: pxtovw(110, 1660);
    width: pxtovw(705, 1660);
    height: calc(100% - ((11000 / 1660) * 1vw));
  }

  @include screen('lg', max, 2) {
    top: pxtovw(110, 1366);
    width: pxtovw(459, 1366);
    height: calc(100% - ((11000 / 1366) * 1vw));
  }

  @include screen('md', max, 2) {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    transform: translate3d(100%, 0, 0);
    pointer-events: none;
    opacity: 0;
    z-index: 25;
  }

  .is-search-by-offer-type & {
    width: calc(50% - 25px);

    @include screen('xlg', max, 2) {
      width: calc(50% - ((2500 / 1660) * 1vw));
    }

    @include screen('lg', max, 2) {
      width: pxtovw(489, 1366);
    }

    @include screen('md', max, 2) {
      width: 100%;
    }
  }

  .is-search-map-hide & {
    @include screen('md', min, 2) {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
      pointer-events: none;
    }
  }

  .is-search-map-active & {
    @include screen('md', max, 2) {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      pointer-events: auto;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__close {
    position: absolute;
    display: none;
    border: 1px solid $nd-color-border2;
    font-size: 0;
    line-height: 0;
    background-image: $icon-cross;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 44%;
    z-index: 2;

    @include screen('md', max, 2) {
      top: pxtovw(20, 960);
      left: pxtovw(50, 960);
      display: block;
      background-color: $nd-color-basic-light;
      border-radius: 50%;
      box-shadow: pxtovw(2, 960) pxtovw(4, 960) pxtovw(8, 960) rgba(0, 0, 0, .25);
      width: pxtovw(36, 960);
      height: pxtovw(36, 960);
      box-sizing: border-box;
    }

    @include screen('sm', max, 2) {
      top: pxtovw(20, 375);
      left: pxtovw(20, 375);
      width: pxtovw(36, 375);
      height: pxtovw(36, 375);
      box-shadow: pxtovw(2, 375) pxtovw(4, 375) pxtovw(8, 375) rgba(0, 0, 0, .25);
    }
  }

  &__map {
    position: relative;
    width: 100%;
    background-color: $nd-color-border4;
    z-index: 1;
  }

  &__results {
    position: absolute;
    display: none;
    z-index: 2;
    width: 100%;

    @include screen('md', max, 2) {
      left: 0;
      bottom: 0;
      display: block;
      box-sizing: border-box;
      padding: pxtovw(20, 960) pxtovw(50, 960);
    }

    @include screen('sm', max, 2) {
      padding: pxtovw(20, 375);
    }
  }

  &__slider {
    overflow: hidden;

    &.is-css-mode-slider {
      @include screen('md', max, 2) {
        width: 100vw;
        margin: 0 pxtovw(-50, 960);
      }

      @include screen('sm', max, 2) {
        margin: 0 pxtovw(-20, 375);
      }

      .swiper-wrapper {
        @include screen('md', max, 2) {
          box-sizing: border-box;
          scroll-padding: 0 pxtovw(50, 960);
          padding: 0 pxtovw(50, 960);
        }

        @include screen('sm', max, 2) {
          scroll-padding: 0 pxtovw(20, 375);
          padding: 0 pxtovw(20, 375);
        }

        &::after {
          content: '';
          display: block;

          @include rule(min-width, (md: 50, sm: 20));
          @include rule(width, (md: 50, sm: 20));
          @include rule(height, (md: 20, sm: 20));
        }
      }
    }
  }

  &__button {
    position: absolute;
    display: block;
    z-index: 2;

    @include rule(top, (xl: 22px, xlg: 22, lg: 20, md: 10));
    @include rule(left, (xl: 32px, xlg: 32, lg: 32, md: 25));
    @include rule(bottom, (sm: 28));
    @include rule(right, (sm: 16));

    @include screen('md', max, 2) {
      opacity: 0;
      pointer-events: none;
      top: auto;
      left: auto;
    }

    .map-in-fullview & {
      opacity: 0;
      pointer-events: none;

      @include screen('sm', max, 2) {
        opacity: 1;
        pointer-events: auto;
        top: auto;
        left: auto;
      }
    }

    .is-map-filter-shown & {
      @include screen('sm', max, 2) {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__filter {
    position: absolute;
    display: none;
    font-size: 0;
    line-height: 0;
    border-radius: 50%;
    background-color: $nd-color-basic-light;
    box-sizing: border-box;
    background-image: $icon-filter;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 2;
    transition: opacity $ease-main;

    @include rule(left, (xl: 16px, xlg: 16, lg: 16, md: 16, sm: 16));
    @include rule(bottom, (xl: 22px, xlg: 22, lg: 22, md: 22, sm: 22));
    @include rule(width, (xl: 53px, xlg: 53, lg: 53, md: 53, sm: 53));
    @include rule(height, (xl: 53px, xlg: 53, lg: 53, md: 53, sm: 53));
    @include rule(background-size, (xl: 25px, xlg: 25, lg: 25, md: 25, sm: 25));

    @include screen('sm', max, 2) {
      display: block;
      opacity: 0;
      pointer-events: none;
      box-shadow: boxShadow(1, 3, 11, 0, rgba(0, 0, 0, 0.25), 375);
    }

    .map-in-fullview & {
      @include screen('sm', max, 2) {
        opacity: 1;
        pointer-events: auto;
      }
    }

    .is-map-filter-shown & {
      @include screen('sm', max, 2) {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &_v2 {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: auto;
    transform: translate3d(0, 0, 0);
    z-index: 0;
    transition: padding .5s ease-in-out;
    will-change: width, height, padding;
    padding: 0;
    box-sizing: border-box;

    @include rule(top, (md: 0, sm: 60));
    @include rule(height, (md: 363, sm: 208));

    @include screen('md', max, 2) {
      position: fixed;
      left: 0;
      width: 100%;
    }

    .map-in-fullview & {
      @include screen('md', max, 2) {
        height: 100%;
      }

      @include screen('sm', max, 2) {
        height: calc(100% - (6000 / 375) * 1vw);
      }
    }

    .is-map-animated-out & {
      @include screen('md', max, 2) {
        height: 100%;
      }

      @include screen('sm', max, 2) {
        height: calc(100% - (6000 / 375) * 1vw);
      }
    }

    .map-in-fullview.layout-list-active & {
      padding-right: 0;

      @include screen('sm', min, 2) {
        padding-right: 31.25%;
      }

      @include screen('md', min, 2) {
        padding-right: 47.07%;
      }

      @include screen('lg', min, 2) {
        padding-right: 41.51%;
      }
    }

    .map-in-fullview.layout-offer-active:not(.layout-list-active) & {
      padding-left: 0;

      @include screen('sm', min, 2) {
        padding-left: 68.75%;
      }

      @include screen('md', min, 2) {
        padding-left: 52.93%;
      }

      @include screen('lg', min, 2) {
        padding-left: 58.49%;
      }
    }

    #{$b} {
      &__wrapper {
        position: relative;
      }

      &__map {
        @include screen('md', max, 2) {
          pointer-events: none;

          .map-in-fullview & {
            pointer-events: auto;
          }
        }
      }
    }
  }
}
