mixin nd-search-map-v2()
  +b#popup-search-map.nd-search-map_v2&attributes(attributes)
    +e.wrapper.js-search-map-sm-show
      +e.BUTTON.button.js-search-map-toggle
        span(data-map-hidden) Full map view
        span(data-map-shown).nd-hide-sm Close map view
        span(data-map-shown).nd-hide-from-sm View list
      +e.map#search-map
    block

mixin nd-search-map-button()
  +b.BUTTON.js-search-map-show.nd-search-map-button__&attributes(attributes)(type="button") map
    block
