mixin nd-search-map-v2(mapid, markersurl)
  +b.nd-search-map_v2&attributes(attributes)
    +e.wrapper
      +map-button.__button.js-map-toggle-fullview
      +e.BUTTON.filter.js-toggle-modal(data-modal-target="filter-multi" data-modal-mode="default" data-modal-output-type="multi" data-modal-user-panel="visible") Filters
      +e.map(id=(mapid || 'search-map') data-map-markers-url=markersurl)
    block


mixin map-button(header)
  +b.BUTTON.map-button&attributes(attributes)(type="button")
    if header
      span(data-map-shown="xl") Close map view
    else
      span(data-map-hidden) Full map view
      span(data-map-shown="sm") View list
