mixin search-map()
  +b.search-map&attributes(attributes)
    +e.interface.hide-from-md
      .container
        +hide-button().__hide.js-close-map(data-target-map="map") HIDE MAP
        -var spaces = getData('search-short-spaces.json')
        +slider-map(true).search-map__slider.js-slider-map
          each item in spaces
            +slide.js-map-marker-activator(data-map-marker=item.id)
              +space-reserv('a', item)._map.__space(href="#" )
                +e.DIV.offer
                  +offer-info._small._small_light
                    +box._size9._orange
                    +e.title HOT DESK
                    +e.price from 450 &pound;/mo
    block
