.search-map {
  $b: &;

  position: relative;
  display: block;
  box-sizing: border-box;
  // width: 41.67%;
  transition: width $ease-main,
    padding $ease-main, top $ease-main, opacity $ease-main;
  overflow: hidden;
  width: 0;
  opacity: 0;

  // @include screen('lg') {
  //   width: 36.8%;
  // }

  @include screen('md') {
    position: fixed;
    width: 100%;
    height: calc(100% - 185px);
    top: 185px;
    left: 0;
    z-index: 9;
    opacity: 0;
    // pointer-events: auto;
    pointer-events: none;
    padding-left: 0;
    padding-right: 0;
  }

  @include screen('sm') {
    top: 0;
    height: 100%;
    z-index: 11;
  }

  &_old-mobile-version {
    @include screen('sm') {
      top: 100px;
      height: calc(100% - 100px);
      z-index: 9;
    }
  }

  .page.is-short & {
    @include screen('md') {
      top: 70px;
      height: calc(100% - 70px);
    }

    @include screen('sm') {
      top: 0;
      height: 100%;
    }

    &_old-mobile-version {
      @include screen('sm') {
        top: 50px;
        height: calc(100% - 50px);
      }
    }
  }


  &.is-closed {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    opacity: 0;

    @include screen('md') {
      width: 100%;
      pointer-events: none;
    }
  }

  .page.is-dt-map-active & {
    @include screen('md', min) {
      width: 36.8%;
      opacity: 1;
    }

    @include screen('lg', min) {
      width: 41.67%;
    }
  }

  .page.is-mb-map-active & {
    @include screen('md') {
      width: 100%;
      pointer-events: auto;
      opacity: 1;
    }
  }

  .sidebar {

    @include screen('md') {
      height: 100%;
    }
  }

  &__interface {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    box-sizing: border-box;
    padding: 22px 0 30px;
    visibility: hidden;

    @include screen('sm') {
      padding-top: 12px;
      padding-left: 5px;
    }

    .page.is-mb-map-active & {
      visibility: visible;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__hide {
    align-self: flex-end;
    pointer-events: none;

    .page.is-mb-map-active & {
      pointer-events: auto;
    }
  }

  &__slider {
    width: 265px;
    max-width: 100%;
    height: auto;
    pointer-events: none;
    visibility: hidden;

    @include screen('sm') {
      width: 194px;
    }

    .page.is-mb-map-active & {
      pointer-events: auto;
      visibility: visible;
    }
  }
}
