mixin nd-user-menu-panel(host, noUser, isSearch)
  +b.nd-user-menu-panel.user-menu-panel__&attributes(attributes)
    - var newMessages = host ? true : false
    +e.UL.list
      if (!noUser && !isSearch)
        +e.LI.item
          +e.A.link(href="#")
            +nd-short-profile-origin('assets/images/nd/user-avatar-1.jpg', '', 'div')._login
            +e.text Account
        +e.LI.item
          +e.A.link.js-show-notices(href="#events-list")
            +nd-user-link('', '', newMessages, 'div')
              +e.SVG.icon_calendar(fill="none" viewBox="0 0 29 25" xmlns="http://www.w3.org/2000/svg")
                path(d="M26.58 1.6C26.79 1.6 26.95 1.77 26.95 1.97V22.87C26.95 23.08 26.78 23.24 26.58 23.24H1.97C1.76 23.24 1.6 23.07 1.6 22.87V1.97C1.6 1.76 1.77 1.6 1.97 1.6H26.58ZM26.58 0H1.97C0.88 0 0 0.88 0 1.97V22.87C0 23.96 0.88 24.84 1.97 24.84H26.58C27.67 24.84 28.55 23.96 28.55 22.87V1.97C28.56 0.88 27.67 0 26.58 0Z" fill="black")
                path(d="M28.56 6.89H0V8.49H28.56V6.89Z" fill="black")
                g.c-days
                  path(d="M6.74 13.9H5.59C5.15 13.9 4.79 13.54 4.79 13.1C4.79 12.66 5.15 12.3 5.59 12.3H6.74C7.18 12.3 7.54 12.66 7.54 13.1C7.54 13.54 7.18 13.9 6.74 13.9Z" fill="#0085FF")
                  path(d="M12.21 13.9H11.06C10.62 13.9 10.26 13.54 10.26 13.1C10.26 12.66 10.62 12.3 11.06 12.3H12.21C12.65 12.3 13.01 12.66 13.01 13.1C13.01 13.54 12.65 13.9 12.21 13.9Z" fill="#0085FF")
                  path(d="M17.69 13.9H16.54C16.1 13.9 15.74 13.54 15.74 13.1C15.74 12.66 16.1 12.3 16.54 12.3H17.69C18.13 12.3 18.49 12.66 18.49 13.1C18.49 13.54 18.13 13.9 17.69 13.9Z" fill="#0085FF")
                  path(d="M23.16 13.9H22.01C21.57 13.9 21.21 13.54 21.21 13.1C21.21 12.66 21.57 12.3 22.01 12.3H23.16C23.6 12.3 23.96 12.66 23.96 13.1C23.96 13.54 23.6 13.9 23.16 13.9Z" fill="#0085FF")
                  path(d="M6.74 18.53H5.59C5.15 18.53 4.79 18.17 4.79 17.73C4.79 17.29 5.15 16.93 5.59 16.93H6.74C7.18 16.93 7.54 17.29 7.54 17.73C7.54 18.17 7.18 18.53 6.74 18.53Z" fill="#0085FF")
                  path(d="M12.21 18.53H11.06C10.62 18.53 10.26 18.17 10.26 17.73C10.26 17.29 10.62 16.93 11.06 16.93H12.21C12.65 16.93 13.01 17.29 13.01 17.73C13.01 18.17 12.65 18.53 12.21 18.53Z" fill="#0085FF")
                  path(d="M17.69 18.53H16.54C16.1 18.53 15.74 18.17 15.74 17.73C15.74 17.29 16.1 16.93 16.54 16.93H17.69C18.13 16.93 18.49 17.29 18.49 17.73C18.49 18.17 18.13 18.53 17.69 18.53Z" fill="#0085FF")
                  path(d="M23.16 18.53H22.01C21.57 18.53 21.21 18.17 21.21 17.73C21.21 17.29 21.57 16.93 22.01 16.93H23.16C23.6 16.93 23.96 17.29 23.96 17.73C23.96 18.17 23.6 18.53 23.16 18.53Z" fill="#0085FF")
            +e.text Notifications
        +e.LI.item
          +e.A.link.js-show-notices(href="#messages-list")
            +nd-user-link('', '', newMessages, 'div')
              +e.SVG.icon_message(viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M17.61 1.6C22.34 1.6 26.19 5.45 26.19 10.18C26.19 14.91 22.34 18.76 17.61 18.76H14.24H14.12C13.63 18.76 13.17 18.98 12.86 19.37L10.81 21.97L10.27 19.85C10.11 19.22 9.59 18.76 8.95 18.66C4.76 18.04 1.6 14.4 1.6 10.18C1.6 5.45 5.45 1.6 10.18 1.6H17.61ZM17.61 0H10.17C4.58 0 0 4.58 0 10.18C0 15.28 3.81 19.53 8.73 20.24L9.81 24.46C9.88 24.71 10.1 24.86 10.32 24.86C10.47 24.86 10.62 24.8 10.73 24.66L14.12 20.36H14.24H17.61C23.21 20.36 27.79 15.78 27.79 10.18C27.79 4.58 23.21 0 17.61 0Z" fill="black")
                path(d="M19.58 8.58H7.57C7.13 8.58 6.77 8.22 6.77 7.78C6.77 7.34 7.13 6.98 7.57 6.98H19.59C20.03 6.98 20.39 7.34 20.39 7.78C20.39 8.22 20.03 8.58 19.58 8.58Z" fill="#0085FF")
                path(d="M13.9 13.74H7.57C7.13 13.74 6.77 13.38 6.77 12.94C6.77 12.5 7.13 12.14 7.57 12.14H13.9C14.34 12.14 14.7 12.5 14.7 12.94C14.7 13.38 14.34 13.74 13.9 13.74Z" fill="#0085FF")
            +e.text Messages
        //- +e.LI.item
          +e.A.link(href="#")
            +nd-user-link('', '', '', 'div')
              //- if host
              //-   +e.SVG.icon_building(viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
              //-     path(d="M12.4514 1.57629C12.5486 1.57629 12.6459 1.57629 12.7432 1.67481L23.249 11.7237C23.3463 11.8222 23.3463 11.9207 23.3463 12.0192V21.9696C23.3463 22.2651 23.1518 22.4622 22.8599 22.4622H2.0428C1.75097 22.4622 1.55642 22.2651 1.55642 21.9696V12.0192C1.55642 11.9207 1.6537 11.7237 1.6537 11.7237L12.1595 1.67481C12.2568 1.57629 12.4514 1.57629 12.4514 1.57629ZM12.4514 0C11.965 0 11.4786 0.197037 11.0895 0.59111L0.583658 10.5415C0.194553 10.9355 0 11.5266 0 12.0192V21.9696C0 23.0533 0.875486 24.0385 2.0428 24.0385H22.9572C24.0272 24.0385 25 23.1518 25 21.9696V12.0192C25 11.4281 24.8054 10.9355 24.4163 10.5415L13.9105 0.59111C13.5214 0.197037 13.035 0 12.4514 0Z" fill="black")
              //-     path(d="M4.37782 17.0436C3.98871 17.0436 3.59961 16.6496 3.59961 16.2555V12.7088L6.61517 9.65477C6.907 9.35922 7.39338 9.35922 7.68521 9.65477C7.97704 9.95033 7.97704 10.4429 7.68521 10.7385L5.05875 13.3985V16.354C5.15603 16.7481 4.8642 17.0436 4.37782 17.0436Z" fill="#0085FF")
              //- else
              //-   +e.SVG.icon_heart(viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M8.03276 1.47636C9.50428 1.47636 10.9383 1.9654 12.0818 2.84198L13.0097 3.55248L13.9376 2.84198C15.0811 1.95617 16.5151 1.47636 17.9866 1.47636C19.7393 1.47636 21.3796 2.14072 22.6074 3.34948C25.1568 5.85928 25.1568 9.95617 22.6074 12.466L13.0003 21.9146L3.412 12.466C2.1748 11.2572 1.49996 9.63322 1.49996 7.90773C1.49996 6.18224 2.1748 4.55825 3.412 3.34948C4.63983 2.14072 6.28006 1.47636 8.03276 1.47636ZM17.9772 0C16.2152 0 14.4531 0.56286 13.0097 1.67935C11.5475 0.56286 9.79484 0 8.03276 0C5.97076 0 3.90875 0.765859 2.35288 2.30681C-0.777619 5.3887 -0.777619 10.4268 2.35288 13.5087L13.0097 24L23.6665 13.5087C26.797 10.4268 26.797 5.3887 23.6665 2.30681C22.0919 0.765859 20.0299 0 17.9772 0Z" fill="black")
                  path(d="M13.9185 17.9469C13.7217 17.9469 13.5343 17.8731 13.3843 17.7347C13.0937 17.4487 13.0937 16.9781 13.3843 16.692L19.6453 10.5282C19.9358 10.2422 20.4139 10.2422 20.7044 10.5282C20.995 10.8143 20.995 11.2849 20.7044 11.5709L14.4434 17.7347C14.3028 17.8731 14.1154 17.9469 13.9185 17.9469Z" fill="#0085FF")
      else if isSearch
        +e.LI.item_filter
          +e.A.link.js-toggle-modal(data-modal-target="filter-multi" data-modal-mode="default"  data-modal-user-panel="visible")
            +nd-user-link('', '', '', 'div')
              +e.SVG.icon_filter(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.8 21.1")
                path(d="M21.25,4.2H7.35a.65.65,0,0,1,0-1.3h13.9a.65.65,0,1,1,0,1.3Z")
                path(d="M3.65,7.1A3.65,3.65,0,0,1,0,3.55,3.55,3.55,0,0,1,3.55,0,3.65,3.65,0,0,1,7.2,3.55,3.55,3.55,0,0,1,3.65,7.1Zm-.1-5.8A2.25,2.25,0,0,0,1.3,3.55,2.33,2.33,0,0,0,3.65,5.8,2.25,2.25,0,0,0,5.9,3.55,2.33,2.33,0,0,0,3.55,1.3Z" fill="#0085ff")
                path(d="M21.25,18.2H7.35a.65.65,0,0,1,0-1.3h13.9a.65.65,0,1,1,0,1.3Z")
                path(d="M3.65,21.1A3.55,3.55,0,1,1,7.2,17.55,3.55,3.55,0,0,1,3.65,21.1Zm0-5.8A2.25,2.25,0,1,0,5.9,17.55,2.25,2.25,0,0,0,3.65,15.3Z" fill="#0085ff")
                path(d="M16.55,11.4H2.65a.65.65,0,1,1,0-1.3h13.9a.65.65,0,1,1,0,1.3Z")
                path(d="M20.25,14.3a3.55,3.55,0,0,1-3.55-3.55A3.69,3.69,0,0,1,17.84,8.1a3.3,3.3,0,0,1,2.45-.9h0a3.55,3.55,0,0,1,0,7.1Zm-.13-5.8a2,2,0,0,0-1.39.55,2.37,2.37,0,0,0-.73,1.7A2.25,2.25,0,1,0,20.25,8.5Z" fill="#0085ff")
            +e.text Filter
        +e.LI.item
          +e.A.link.js-toggle-modal(href="#" data-modal-target="filter-sort" data-modal-user-panel="visible")
            +nd-user-link('', '', '', 'div')
              +e.SVG.icon_sort(viewBox="0 0 22.3 17.78" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M4.85,16.38a.66.66,0,0,1-.65-.66V.72a.65.65,0,1,1,1.3,0v15A.66.66,0,0,1,4.85,16.38Z")
                path(d="M4.84,17.74.19,13.08a.66.66,0,0,1,0-.92.66.66,0,0,1,.92,0l3.74,3.75L8.6,12.26a.65.65,0,1,1,.9.93Z")
                path(d="M17.45,17.78a.66.66,0,0,1-.65-.65V2a.65.65,0,0,1,1.3,0V17.13A.66.66,0,0,1,17.45,17.78Z" fill="#0085ff")
                path(d="M13.25,5.87a.64.64,0,0,1-.46-1.1L17.44,0l4.67,4.67a.65.65,0,0,1-.92.91L17.46,1.85,13.71,5.68A.62.62,0,0,1,13.25,5.87Z" fill="#0085ff")
            +e.text Sort
        +e.LI.item
          +e.A.link(href="#")
            +nd-user-link('', '', '', 'div')
              +e.SVG.icon_support(viewBox="0 0 24.45 23.6" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M7.7,23.6a.46.46,0,0,1-.23-.05A.6.6,0,0,1,7.1,23V19.58A7.7,7.7,0,0,1,7.7,4.2h7.2a.6.6,0,0,1,0,1.2H7.7a6.5,6.5,0,0,0,0,13,.6.6,0,0,1,.6.6v2.55l3-3a.56.56,0,0,1,.42-.18H15a6.69,6.69,0,0,0,6.33-4.68.6.6,0,0,1,1.14.36A7.89,7.89,0,0,1,15,19.6H12L8.12,23.42A.56.56,0,0,1,7.7,23.6Z")
                path(d="M15.27,15h-.15a.64.64,0,0,1-.27-.11l-2.4-1.7a.61.61,0,0,1-.15-.83L14,9.86a.62.62,0,0,1,.82-.17l.8.5A1,1,0,0,0,16.94,10l3.37-4.77A1,1,0,0,0,20.16,4l-.73-.36a.61.61,0,0,1-.31-.39.65.65,0,0,1,.08-.49L20.9.26A.66.66,0,0,1,21.3,0a.58.58,0,0,1,.46.11l2.3,1.7a.69.69,0,0,1,.16.18c.13.23,1.18,2.39-2.63,7.84h0C18.19,14.63,15.9,15,15.27,15Zm-1.64-2.45,1.76,1.25c.45-.07,2.32-.57,5.22-4.64s2.7-6.05,2.59-6.48L21.55,1.45l-1,1.42.19.09.11.08A2.15,2.15,0,0,1,21.29,6l-3.4,4.8a2.16,2.16,0,0,1-2.94.44L14.67,11Z" fill="#0085ff")
            +e.text Support
      else
        +e.LI.item
          +e.A.link(href="#")
            +nd-user-link('', '', '', 'div')
              +e.SVG.icon_signin(viewBox="0 0 22.3 20.3" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M19.82,20.3H10.48A2.47,2.47,0,0,1,8,17.84a.65.65,0,0,1,1.3,0A1.17,1.17,0,0,0,10.48,19h9.34A1.17,1.17,0,0,0,21,17.84V2.46A1.17,1.17,0,0,0,19.82,1.3H10.48A1.17,1.17,0,0,0,9.3,2.46a.65.65,0,1,1-1.3,0A2.47,2.47,0,0,1,10.48,0h9.34A2.47,2.47,0,0,1,22.3,2.46V17.84A2.47,2.47,0,0,1,19.82,20.3Z")
                path(d="M10.61,10.8H.65a.65.65,0,0,1,0-1.3h10a.65.65,0,0,1,0,1.3Z" fill="#0085ff")
                path(d="M7.65,14.89a.65.65,0,0,1-.47-1.1l3.51-3.64L7.09,6.42A.65.65,0,0,1,8,5.52l4.47,4.63L8.12,14.69A.67.67,0,0,1,7.65,14.89Z" fill="#0085ff")
            +e.text Sign in
        +e.LI.item
          +e.A.link(href="#")
            +nd-user-link('', '', '', 'div')
              +e.SVG.icon_support(viewBox="0 0 24.45 23.6" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M7.7,23.6a.46.46,0,0,1-.23-.05A.6.6,0,0,1,7.1,23V19.58A7.7,7.7,0,0,1,7.7,4.2h7.2a.6.6,0,0,1,0,1.2H7.7a6.5,6.5,0,0,0,0,13,.6.6,0,0,1,.6.6v2.55l3-3a.56.56,0,0,1,.42-.18H15a6.69,6.69,0,0,0,6.33-4.68.6.6,0,0,1,1.14.36A7.89,7.89,0,0,1,15,19.6H12L8.12,23.42A.56.56,0,0,1,7.7,23.6Z")
                path(d="M15.27,15h-.15a.64.64,0,0,1-.27-.11l-2.4-1.7a.61.61,0,0,1-.15-.83L14,9.86a.62.62,0,0,1,.82-.17l.8.5A1,1,0,0,0,16.94,10l3.37-4.77A1,1,0,0,0,20.16,4l-.73-.36a.61.61,0,0,1-.31-.39.65.65,0,0,1,.08-.49L20.9.26A.66.66,0,0,1,21.3,0a.58.58,0,0,1,.46.11l2.3,1.7a.69.69,0,0,1,.16.18c.13.23,1.18,2.39-2.63,7.84h0C18.19,14.63,15.9,15,15.27,15Zm-1.64-2.45,1.76,1.25c.45-.07,2.32-.57,5.22-4.64s2.7-6.05,2.59-6.48L21.55,1.45l-1,1.42.19.09.11.08A2.15,2.15,0,0,1,21.29,6l-3.4,4.8a2.16,2.16,0,0,1-2.94.44L14.67,11Z" fill="#0085ff")
            +e.text Support
      +e.LI.item
        +e.A.link(href="#")
          +nd-user-link('', '', '', 'div')
            +e.SVG.icon_map(viewBox="0 0 30.91 22.2" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M25.43,20.33,25,20a18.93,18.93,0,0,1-2.41-2.5.65.65,0,0,1,1-.82,20.43,20.43,0,0,0,1.82,2c1.13-1,4.17-4.09,4.17-7.21a4.09,4.09,0,0,0-3.35-4.1.64.64,0,0,1-.54-.74A.66.66,0,0,1,26.47,6a5.38,5.38,0,0,1,4.44,5.38c0,4.43-4.86,8.41-5.07,8.58Z" fill="#0085ff")
              path(d="M5.48,20.33,5.07,20C4.86,19.83,0,15.85,0,11.42A5.38,5.38,0,0,1,4.44,6a.66.66,0,0,1,.75.54.64.64,0,0,1-.53.74,4.09,4.09,0,0,0-3.36,4.1c0,3.13,3,6.18,4.17,7.21a20.43,20.43,0,0,0,1.82-2,.65.65,0,0,1,.92-.09.64.64,0,0,1,.09.91A18.93,18.93,0,0,1,5.89,20Z" fill="#0085ff")
              path(d="M15.5,22.2l-.42-.35c-.32-.28-7.93-6.77-7.93-13.5a8.36,8.36,0,0,1,16.71,0c0,6.92-7.62,13.24-7.95,13.5Zm0-20.9a7.05,7.05,0,0,0-7,7.05c0,5.27,5.49,10.69,7.06,12.13,1.57-1.41,7-6.71,7-12.13A7.06,7.06,0,0,0,15.5,1.3Z")
              path(d="M15.5,10.68a2.6,2.6,0,1,0-2.6-2.6A2.6,2.6,0,0,0,15.5,10.68Z")
          +e.text View map
      +e.LI.item
        +e.A.link.js-open-navigation(data-menu-position="bottom" href="#")
          +nd-burger-icon('div')._small
          +e.text Menu
