mixin user-menu-panel()
  +b.user-menu-panel&attributes(attributes)
    +e.UL.list
      +e.LI.item
        +user-link('calendar', '_calendar', true)(href="#")
      +e.LI.item
        +user-link('message', '_message', true)(href="#")
      +e.LI.item
        +user-link('heart', '_heart')(href="#")
