.document {
  $b: &;

  display: block;
  width: 100%;

  &__section {
    display: block;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 92px;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &:not(:last-child) {
      margin-bottom: 49px;
    }

    &_smg {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  &__title {
    position: relative;
    display: inline-block;
    padding-left: 80px;
    color: $color-hint-bg;
    fill: currentColor;
    flex: 1;

    &-icon {
      position: absolute;
      top: 50%;
      left: 3px;
      transform-origin: 50% 50%;
      transform: translate3d(0, -50%, 0);
      width: 48px;
      height: 56px;
      fill: currentColor;

      &_agreement {
        width: 51px;
        height: 66px;
      }

      &_rules {
        width: 48px;
        height: 56px;
      }

      &_home-rules {
        width: 48px;
        height: 60px;
      }
    }

    &-text {
      font-size: 26px;
      line-height: 1;
      font-weight: 700;
      letter-spacing: -.02em;
      text-transform: uppercase;
    }
  }

  &__object {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    &-name {
      @include text-mid;

      font-weight: 700;
      display: inline-block;
      color: $color-basic;
      margin-bottom: -.48em;
    }

    &-info {
      @include text;

      line-height: 1.8;
      font-weight: 400;
      display: inline-block;
      color: $color-basic-light;
    }
  }
}
