mixin processing-status(data)
  +b.processing-status&attributes(attributes)
    if data.note
      +e.note
        +icon(data.note.icon)(class="__icon_" + data.note.icon)
        +e.text!= data.note.text
    if data.status
      +request-status-simple._up._fz17._bold(class=data.status.class + ' __status')!= data.status.text
    if data.reason
      +e.text!= data.reason
    block
