.processing-status {
  $b: &;

  width: 100%;
  box-sizing: border-box;

  &__note {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon {
    min-width: 30px;
    width: 30px;
    height: 30px;
    fill: $color-icon-gray-another;

    @include screen('sm') {
      min-width: 20px;
      width: 20px;
      height: 20px;
    }

    &:not(:last-child) {
      margin-right: 12px;

      @include screen('sm') {
        margin-right: 6px;
      }
    }
  }

  &__text {
    @include text-mid;

    display: block;
    width: 100%;
    font-weight: 700;

    @include screen('sm') {
      @include text10;

      line-height: 1.2;
    }
  }

  &__status {
    min-width: 106px;

    &:not(:first-child) {
      margin-top: 21px;

      @include screen('sm') {
        margin-top: 11px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }
}
