.space-description {
  $b: &;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;

  &__media {
    display: block;
    box-sizing: border-box;
    flex: 1;
    // width: 40.5%;
    // min-width: 40.5%;
    overflow: hidden;
    padding: 0 12px;

    @include screen('md') {
      flex: none;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &__image {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    flex: 1.22;
    padding: 0 12px;

    @include screen('md') {
      flex: none;
      width: 100%;
    }
  }

  &__address {
    margin-top: -.3em;

    @include screen('md') {
      margin-top: 0;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__title {
    @include heading-4;

    font-weight: 700;
    line-height: (22/20);

    @include screen('sm') {
      @include text15;

      line-height: (22/15);
    }

    &:not(:last-child) {
      margin-bottom: 8px;

      @include screen('sm') {
        margin-bottom: 6px;
      }
    }

    &_smdeco {
      @include screen('sm') {
        position: relative;
        padding-bottom: 16px;
      }

      &::before {
        @include screen('sm') {
          @include pseudo;

          width: 20px;
          height: 1px;
          background-color: $color-border-light;
          left: 0;
          bottom: 0;
        }
      }
    }
  }

  &__boxes {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__table {
    margin-top: auto;
    width: 100%;

    &:last-child {
      margin-bottom: -.3em;

      @include screen('sm') {
        margin-bottom: 0;
      }
    }
  }

  &__info {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    @include screen('md') {
      justify-content: space-between;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .offer-info .box {

      @include screen('sm') {
        margin-right: 4px;
      }
    }
  }

  &__text {
    @include text;

    line-height: (22/14);
    font-weight: 400;
    margin-bottom: -6px;

    @include screen('sm') {
      margin-bottom: 0;
    }

    &_mid {
      @include text-mid;

      line-height: 1.2;

      @include screen('sm') {
        @include text15;

        line-height: 1.13;
      }
    }

    &_bold {
      font-weight: 700;
    }
  }

  &__name {
    margin-bottom: 4px;

    &:not(:last-child) {
      margin-right: 30px;

      @include screen('md') {
        margin-right: 15px;
      }
    }
  }

  &__price {
    margin-bottom: 4px;
  }

  &_request {

    #{$b} {

      &__media {
        flex: 1;

        @include screen('md') {
          flex: none;
          width: 100%;
          margin-bottom: 10px;
        }
      }

      &__content {
        flex: 1.7;

        @include screen('md') {
          flex: none;
          width: 100%;
        }
      }
    }
  }

  &_request2 {

    #{$b} {
      &__media {
        flex: 1;

        @include screen('md') {
          margin-bottom: 0;
        }

        @include screen('sm') {
          flex: none;
          width: 100%;
          margin-bottom: 20px;
        }
      }

      &__content {
        flex: 1.35;

        @include screen('md') {
          flex: 1.6;
          margin-top: -3px;
        }

        @include screen('sm') {
          flex: none;
          width: 100%;
          margin-top: 0;
        }
      }

      &__title {
        @include screen('md') {
          order: 2;
        }

        @include screen('sm') {
          @include heading-4;

          line-height: 1;
          order: 1;
        }

        &:not(:last-child) {
          @include screen('md') {
            margin-bottom: 29px;
          }

          @include screen('sm') {
            margin-bottom: 10px;
          }
        }
      }

      &__info {
        @include screen('md') {
          order: 1;
          margin-top: 0;
        }

        @include screen('sm') {
          order: 2;
        }

        &:not(:last-child) {
          margin-bottom: 17px;

          @include screen('md') {
            margin-bottom: 0;
          }

          @include screen('sm') {
            margin-bottom: 10px;
          }
        }
      }

      &__text {
        @include screen('md') {
          order: 3;
        }
      }
    }
  }
}
