mixin panel()
  +b.ASIDE.panel&attributes(attributes)
    block

mixin panel-head()
  +b.panel__head.js-open-panel&attributes(attributes)
    block

mixin panel-content()
  +b.panel__content&attributes(attributes)
    block

mixin panel-title()
  +b.panel__title&attributes(attributes)
    block

mixin panel-toggle()
  +b.panel__toggle&attributes(attributes)
    block
