mixin filter-button(data)
  - var btnCls = data.class
  +b.A.filter-button&attributes(attributes)(class=btnCls data-default-name=data.name data-filter-name=data.filterName href="#")
    +e.name!=(data.currentName || data.name)
