.media {
  $b: &;

  display: block;
  overflow: hidden;

  &__image {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 63.3%;
    overflow: hidden;
    font-size: 0;
    line-height: 0;

    img {
      @include fill-img;

      font-size: 0;
      line-height: 0;
    }
  }
}
