.popup-payment-summary {
  $b: &;

  max-width: 1120px;
  border-radius: 3px;

  @include screen('md') {
    border-radius: 0;
  }

  .form-panel {
    z-index: 3;
    padding: 19px 70px 19px 45px;

    @include screen('md') {
      padding: 19px 40px;
    }

    @include screen('sm') {
      padding: 14px 10px;
    }

    .is-choices-dropdown-showed & {
      @include screen('sm') {
        visibility: hidden;
        touch-action: none;
        pointer-events: none;
      }
    }
  }

  .popup {
    &__content {
      @include screen('md') {
        display: block;
        overflow: auto;
        overscroll-behavior: none;
      }
    }

    &__header {
      @include screen('md') {
        padding-right: 40px;
      }

      @include screen('sm') {
        padding-right: 20px;
      }
    }

    &__close {
      top: 13px;
      right: 10px;
      width: 38px;
      height: 38px;

      @include screen('md') {
        top: 13px;
        right: auto;
        width: 44px;
        height: 44px;
      }

      @include screen('sm') {
        top: 8px;
        width: 36px;
        height: 36px;
      }
    }
  }
}
