mixin popup-payment-summary()
  +popup-free(true)._combined._white.popup-payment-summary&attributes(attributes)
    +popup-header.popup__header_white.popup__header_border.popup__header_border_md.hide-from-md
      +popup-title Payment Summary
    +popup-content
      +payment-summary
        +payment-summary-panel
    block

mixin popup-payment-summary-guest()
  +popup-free(true)._combined._white.popup-payment-summary&attributes(attributes)
    +popup-header.popup__header_white.popup__header_border.popup__header_border_md.hide-from-md
      +popup-title Payment Summary
    +popup-content
      +payment-summary(true)
        +payment-summary-panel
    block
