.filter-menu {
  $b: &;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;

  &__item {
    position: relative;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 20px;

      @include screen('xlg', max, 2) {
        margin-right: pxtovw(20, 1660);
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(20, 960);
      }

      @include screen('sm', max, 2) {
        margin-right: pxtovw(12, 375);
      }
    }

    &_location {
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    &_tags {
      position: relative;
      box-sizing: border-box;
      overflow: hidden;

      &:not(:last-child) {
        margin-right: 20px;

        @include screen('xlg', max, 2) {
          margin-right: pxtovw(20, 1660);
        }

        @include screen('lg', max, 2) {
          margin-right: pxtovw(20, 1366);
        }

        @include screen('md', max, 2) {
          margin-right: pxtovw(20, 960);
        }

        @include screen('sm', max, 2) {
          margin-right: pxtovw(12, 375);
        }
      }

      &::before {
        @include pseudo;
        // @include rule(top, (xl: -15px, xlg: -15, lg: -15, md: -15, sm: -15));
        // @include rule(bottom, (xl: -15px, xlg: -15, lg: -15, md: -15, sm: -15));
        @include rule(width, (xl: 8px, xlg: 8, lg: 8, md: 8, sm: 8));

        left: 0;
        top: 0;
        height: 100%;
        background-color: $nd-color-bg;
        // right: 0;
        pointer-events: none;
        z-index: 2;
        // box-shadow: inset 0 0 4px 4px $nd-color-bg;

        // @include screen('xlg', max, 2) {
        //   box-shadow: inset 0 0 pxtovw(4, 1660) pxtovw(4, 1660) $color-bg;
        // }

        // @include screen('lg', max, 2) {
        //   box-shadow: inset 0 0 pxtovw(4, 1366) pxtovw(4, 1366) $color-bg;
        // }

        // @include screen('md', max, 2) {
        //   box-shadow: inset 0 0 pxtovw(4, 960) pxtovw(4, 960) $color-bg;
        // }

        // @include screen('sm', max, 2) {
        //   box-shadow: inset 0 0 pxtovw(4, 375) pxtovw(4, 375) $color-bg;
        // }
      }
    }
  }

  &__popup {
    position: absolute;
    top: calc(100% + 11px);
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity $ease-main, transform $ease-main;
    z-index: 3;

    @include screen('xlg', max, 2) {
      top: calc(100% + ((1100 / 1660) * 1vw));
    }

    @include screen('lg', max, 2) {
      top: calc(100% + ((1100 / 1366) * 1vw));
    }

    @include screen('md', max, 2) {
      top: calc(100% + ((1100 / 960) * 1vw));
    }

    @include screen('sm', max, 2) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate3d(100%, 0, 0);
    }

    .filter-button.is-active ~ & {
      opacity: 1;
      pointer-events: auto;

      @include screen('sm', max, 2) {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
