mixin composite-tab()
  +b.composite-tab&attributes(attributes)
    block

mixin composite-tab-checkbox()
  +e.checkbox&attributes(attributes)
    +b.LABEL.checkbox_sm-small._notext
      block

mixin composite-tab-button(data)
  +e.button&attributes(attributes)
    +e.content
      if data.box
        +box()(class=data.box + ' __box hide-from-sm')
      if data.title
        +e.title!=data.title
      if data.save
        +e.saved
          +e.text Saved
          +icon('check').__check
      if data.plus
        +icon('plus').__plus
