.composite-tab {
  $b: &;

  display: flex;
  box-sizing: border-box;
  border-top: 1px solid $color-border-light;
  border-left: 1px solid $color-border-light;
  position: relative;
  height: 70px;

  @include screen('sm') {
    height: 50px;
    border-radius: 2px;
    border: 1px solid $color-basic;
  }

  &:first-child {
    border-top-left-radius: 3px;

    @include screen('sm') {
      border-radius: 2px;
    }
  }

  &:last-child {
    border-top-right-radius: 3px;
    border-right: 1px solid $color-border-light;

    @include screen('sm') {
      border-radius: 2px;
    }
  }

  &.is-disabled {
    @include screen('sm') {
      border-color: $color-border-light;
    }
  }

  &__checkbox {
    position: absolute;
    top: 9px;
    left: 11px;

    @include screen('sm') {
      top: 5px;
      left: auto;
      right: 4px;
    }
  }

  &__title {
    @include text-mid;

    line-height: 1;
    font-weight: 700;
    display: inline-block;

    @include screen('sm') {
      @include text15;

      line-height: 1;
      text-transform: uppercase;
    }

    #{$b}.is-disabled & {
      color: $color-border-light;

      @include screen('sm') {
        color: $color-tab-disabled;
      }
    }
  }

  &__saved {
    position: absolute;
    display: none;
    justify-content: flex-start;
    align-items: baseline;
    top: 6px;
    right: 4px;

    @include screen('sm') {
      position: static;
      top: auto;
      right: auto;
      align-self: baseline;
    }

    #{$b}.is-saved & {
      display: inline-flex;
    }
  }

  &__text {
    @include text13;

    line-height: 1.2;
    color: $color-compose-text;

    @include screen('sm') {
      @include text12;

      line-height: 1.2;
    }
  }

  &__check {
    width: 14px;
    height: 12px;
    margin-left: 5px;
    fill: $color-green-check;

    @include screen('sm') {
      width: 11px;
      height: 9px;
    }
  }

  &__plus {
    width: 11px;
    height: 11px;
    font-size: 0;
    line-height: 0;
    fill: $color-basic;
    display: none;

    #{$b}.is-active & {

      @include screen('sm') {
        display: inline-block;
      }
    }
  }

  &__content {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;

    @include screen('sm') {
      justify-content: flex-start;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 35px;
    cursor: pointer;
    transition: box-shadow $ease-main;
    box-shadow: inset 0 -1px 0 $color-border-light;

    @include screen('sm') {
      box-shadow: none;
    }

    #{$b}_orange & {
      box-shadow: inset 0 -1px 0 $color-hot-desk;

      @include screen('sm') {
        box-shadow: none;
      }
    }

    #{$b}_red & {
      box-shadow: inset 0 -1px 0 $color-dedicated-desk;

      @include screen('sm') {
        box-shadow: none;
      }
    }

    #{$b}_blue & {
      box-shadow: inset 0 -1px 0 $color-meeting-room;

      @include screen('sm') {
        box-shadow: none;
      }
    }

    #{$b}_green & {
      box-shadow: inset 0 -1px 0 $color-office-space;

      @include screen('sm') {
        box-shadow: none;
      }
    }

    #{$b}_orange.is-active &, #{$b}_orange:hover:not(.is-disabled) & {
      box-shadow: inset 0 -6px 0 $color-hot-desk;

      @include screen('sm') {
        box-shadow: none;
      }
    }

    #{$b}_red.is-active &, #{$b}_red:hover:not(.is-disabled) & {
      box-shadow: inset 0 -6px 0 $color-dedicated-desk;

      @include screen('sm') {
        box-shadow: none;
      }
    }

    #{$b}_blue.is-active &, #{$b}_blue:hover:not(.is-disabled) & {
      box-shadow: inset 0 -6px 0 $color-meeting-room;

      @include screen('sm') {
        box-shadow: none;
      }
    }

    #{$b}_green.is-active &, #{$b}_green:hover:not(.is-disabled) & {
      box-shadow: inset 0 -6px 0 $color-office-space;

      @include screen('sm') {
        box-shadow: none;
      }
    }

    @include screen('sm') {
      padding: 20px 9px 10px;
    }

    #{$b}.is-disabled & {
      pointer-events: none;
    }
  }
}
