mixin nd-composite-tab()
  +b.nd-composite-tab&attributes(attributes)
    block

mixin composite-tab-checkbox()
  +e.LABEL.checkbox&attributes(attributes)
    block

mixin composite-tab-button()
  +e.button&attributes(attributes)
    +e.content
      block

mixin nd-composite-tabs()
  +b.nd-composite-tabs&attributes(attributes)
    block

mixin nd-composite-group()
  +b.nd-composite-group&attributes(attributes)
    block
