extends ../../layouts/default-login

block head
  - var pageTitle = 'SpacePool - Deal Passport'

block header
  -var headerClass = '_border'

block content
  +page-header._wide-lg._xspad
    .container
      +e.wrapper
        +page-header-side
          +link-icon('select-arrow')._no-shadow._back._bold.__back_fz18(href="#") Back to reservations
        +page-header-main._main_mgt
          +breadcrumbs-form
            +breadcrumbs(['Home', 'Booking', 'One Heddon Street']).__navigation
            +e.step_light Office Space
          +e.links
            +link-icon('round-cross')(href="#")._icon_gray._no-shadow._bold._icon_small._light-underline.__link_fz17 Cancel Reservation
  +content-origin._reverse._mid-pad._wide-lg._last
    .container
      +e.wrapper
        +content-column-aside
          +sidebar._no-bg
        +content-column-main._no-ptop
          +table-head._messages._borders
            +e.wrapper
              +e.cell._vp11._pr25._lead
                +e.name Manager:
                +short-profile-origin('assets/images/ava3.jpg', 'Maria Barstaier')(href="#")
              +e.cell._vp11._pl25._messages
                +e.name Status:
                +e.info
          +message-form._noborder
          +dialog2
block panels
  +main-menu-inner
    +nav-list(getData('main-menu-user.json'))
