extends ../../layouts/default-login

block head
  - var pageTitle = 'SpacePool - Deal Passport'

block header
  -var headerClass = '_border'

block content
  +page-header._xspad._nowrap
    .container
      +e.wrapper
        +page-header-side
          +link-icon('back')._no-shadow._back._bold.__back_fz18(href="#") Back to reservations
        +page-header-main
          +breadcrumbs-form.hide-md
            +breadcrumbs(['Home', 'Booking', 'One Heddon Street']).__navigation
            +e.step_light Office Space
          +e.links
            +link-icon('round-cross')(href="#")._icon_gray._no-shadow._bold._icon_small._light-underline.__link_fz17._cnl Cancel Reservation
  +content-origin._reverse._mid-pad._wide-lg._last
    .container
      +e.wrapper
        +content-column-aside
          +toolbar.hide-from-md
            +short-profile-ext({ image: 'assets/images/ava6.jpg', name: 'Maria Bernetta', post: 'Manager'})._light(href='#').__profile
            +e.DIV.buttons
              +status-button({name: 'Chat', icon: 'chat', marker: 3})._icon._small.__button.is-new.js-popup-mobile(href="#popup-chat")
          +sidebar._dark2(data-unstick-media="md")
            +space-reserv('ARTICLE', {head: {name: 'office space', color: '_green', base: '_black'}, img: 'assets/images/space16.jpg', heart: '', boxes: [{ class: '_orange'}, {class: '_red'}, {class: '_blue'}, {class: '_green'}], title: 'One Heddon Street', location: 'EC2A, London', text: 'Floor 5 Dedicated office space. Room 54'})._dark._side
              +e.informer
                +status-button({name: 'Order summary', status: true}).__state.js-popup-depends-width(href="#" data-source="xl:#popup-order-guest,md:#popup-order-mobile-guest")
                  +state()._right._check._light Confirmed
                +status-button({name: 'Contract', status: true}).__state.js-popup-depends-width(href="#" data-source="xl:#popup-legal-formalities,md:#popup-legal-formalities-m")
                  +state()._right._check._light Signed waiting for Host
                +status-button({name: 'Invoices', status: true}).is-disabled.__state.js-popup-depends-width(href="#" data-source="xl:#popup-invoices,md:#popup-invoices-mobile")
                  +state()._right._light N/A
        +content-column-main._no-ptop.hide-md
          +table-head._messages._borders
            +e.wrapper
              +e.cell._vp11._pr25._lead
                +e.name Manager:
                +short-profile-origin('assets/images/ava3.jpg', 'Maria Barstaier')(href="#")
              +e.cell._vp11._pl25._pr0._messages
                +e.name Status:
                +e.info
                  +state()._orange._fz18.__state
                    +link()._underline.js-popup-depends-width(href="#" data-source="xl:#popup-order-guest,md:#popup-order-mobile-guest") Order summary confirmation
                    | &nbsp;required
                  +state()._orange._fz18.__state Please sign
                    +link()._underline.js-popup-depends-width(href="#" data-source="xl:#popup-legal-formalities,md:#popup-legal-formalities-m") the contract
          +message-form._noborder
          +dialog2._mgt18
block panels
  +main-menu-inner
    +nav-list(getData('main-menu-user.json'))

block popups
  +popup-document(getData('legal-formalities stage 3.json'))#popup-legal-formalities
    +document-legal
  +popup-document-mobile(getData('contract-status-stage3.json'))#popup-legal-formalities-m
  +popup-chat#popup-chat
  +popup-order-summary-g#popup-order-guest
    +form-order-summary.__form
  +popup-order-summary-mobile-g#popup-order-mobile-guest
    +form-order-summary-mobile.__form
  +popup-invoices#popup-invoices
  +popup-invoices-mobile#popup-invoices-mobile
  +popup-invoice#popup-invoice
  +popup-invoice-mobile#popup-invoice-mobile
  +popup-cancellation#popup-cancellation
