extends ../../layouts/default-login

block head
  - var pageTitle = 'SpacePool - Deal Passport'

block header
  -var headerClass = '_border'

block content
  +page-header._wide-lg._xspad
    .container
      +e.wrapper
        +page-header-side
          +link-icon('select-arrow')._no-shadow._back._bold.__back_fz18(href="#") Back to reservations
        +page-header-main._main_mgt
          +breadcrumbs-form
            +breadcrumbs(['Home', 'Booking', 'One Heddon Street']).__navigation
            +e.step_light Office Space
          +e.links
            +link-icon('round-cross')(href="#")._icon_gray._no-shadow._bold._icon_small._light-underline.__link_fz17 Cancel Reservation
  +content-origin._reverse._mid-pad._wide-lg._last
    .container
      +e.wrapper
        +content-column-aside
          +sidebar._dark2
            +space-reserv('ARTICLE', {head: {name: 'office space', color: '_green', base: '_black'}, img: 'assets/images/space16.jpg', heart: '', boxes: [{ class: '_orange'}, {class: '_red'}, {class: '_blue'}, {class: '_green'}], title: 'One Heddon Street', location: 'EC2A, London', text: 'Floor 5 Dedicated office space. Room 54'})._dark._side
              +e.informer
                +status-button('Order summary').__state
                  +state()._right._orange._light Please confirm
                +status-button('Contract').__state.js-popup(href="#popup-legal-formalities")
                  +state()._right._orange._light Please sign
                +status-button('Invoices').is-disabled.__state
                  +state()._right._light N/A
        +content-column-main._no-ptop
          +table-head._messages._borders
            +e.wrapper
              +e.cell._vp11._pr25._lead
                +e.name Manager:
                +short-profile-origin('assets/images/ava3.jpg', 'Maria Barstaier')(href="#")
              +e.cell._vp11._pl25._pr0._messages
                +e.name Status:
                +e.info
                  +state()._orange._fz18.__state
                    +link()._underline(href="#") Order summary confirmation
                    | &nbsp;required
                  +state()._orange._fz18.__state Please sign
                    +link()._underline.js-popup(href="#popup-legal-formalities") the contract
          +message-form._noborder
          +dialog2._mgt18
block panels
  +main-menu-inner
    +nav-list(getData('main-menu-user.json'))

block popups
  +popup-document(getData('legal-formalities.json'))#popup-legal-formalities
    +document-legal
