.indicator {
  $b: &;

  @include text;

  display: inline-block;
  font-weight: 700;
  line-height: 18px;
  min-width: 18px;
  height: 18px;
  background-color: $color-red;
  color: $color-white;
  text-align: center;
  margin-left: 9px;

  &_fz13 {
    font-size: 13px;
  }

  &_orange {
    background-color: $color-hot-desk;
  }

  &_green {
    background-color: $color-office-space;
  }

  &_blue {
    background-color: $color-meeting-room;
  }
}
