extends ../../layouts/default-login

block head
  - var pageTitle = 'SpacePool - My reservations'

block header
  -var headerClass = '_border'

block content
  - var latestSpaces = getData('space-reserv.json')
  +content-origin._reverse._last
    .container
      +e.wrapper
        +content-column-aside._ptop.hide-lg
          +side-navigation('This page displays upcoming and future reservations.')
            +nav-list-sidebar(getData('side-menu-user.json'), 'My reservations').__navigation
        +content-column-main
          +section._grid
            +section-header
              +section-title('h3') Nearest reservations
            +section-content
              +grid.grid_layout.grid_reserv
                each item in latestSpaces
                  +col({xl: 4, md: 6, sm: 12})
                    +space-reservation('a')._link(href="#")
                      +space-reservation-info(item.space)
                      +space-reservation-table
                        body
                          - if (item.table) {
                            +e.TR.row
                              +e.TD.cell Reservation Date:
                              +e.TD.cell_dark._bold <time datetime="2018-12-27">27 December 2018</time>
                            +e.TR.row
                              +e.TD.cell Duration:
                              +e.TD.cell <time datetime="2019-01-28">28 January 2019</time>
                            +e.TR.row
                              +e.TD.cell Status:
                              +e.TD.cell_dark._bold Upcoming
                            +e.TR.row
                              +e.TD.cell Current Price:
                              +e.TD.cell_bold 475&nbsp;&pound; + VAT&nbsp;/&nbsp;mo
                          - } else {
                            +e.TR.row
                              +e.TD.cell Reservation Date:
                              +e.TD.cell <time datetime="2018-12-27">27 December 2018</time>
                            +e.TR.row
                              +e.TD.cell Duration:
                              +e.TD.cell Untill Cancelled
                            +e.TR.row
                              +e.TD.cell Status:
                              +e.TD.cell Pending
                            +e.TR.row
                              +e.TD.cell Current Price:
                              +e.TD.cell 475&nbsp;&pound; + VAT&nbsp;/&nbsp;mo
                          - }
                      +space-reservation-controls
                        +e.control
                          +link-icon('document', 'div')._icon_mid-small._bold._light-underline._icon_dark._no-shadow View/Print Invoice
                        +e.control
                          +link-icon('round-cross', 'div')._icon_mid-small._bold._light-underline._icon_gray._no-shadow.js-popup(data-src="#popup-cancel-request") Cancel Reservation

block panels
  +main-menu-inner
    +nav-list(getData('main-menu-user.json'))

block popups
  +popup-cancel-request#popup-cancel-request
