.accordion {
  $b: &;
  @include text;
  
  .accordions & { margin-top: -1px; }

  &__header {
    height: 40px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;

  }

  &__heart {
    height: 20px;
    width: 20px;
    fill: $text-light;
    margin-left: auto;
  }

  &__hot-desc {
    color: $text-light;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    font-weight: 700;
    margin-left: 14px;
  }

  &__price {
    letter-spacing: -0.4px;
    font-weight: 700;
    font-size: 20px;
    margin-left: 14px;
    border-left: 1px solid $color-basic;
    padding-left: 14px;
  }

  img {
    margin-left: 51px;
  }

  &__button {
    cursor: pointer;
    width: 21px;
    height: 21px;
    border-radius: 3px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-border;
    &::after {
      content: '+';
    }
  }

  &__text-acr {
    margin-left: auto;
    color: $color-blue;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    font-size: 15px;
  }

  .button {
    margin-left: 6px;
    padding: 3px 3px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.8px;
    &_gradient {
      padding: 3px 11px;
    }
    &__text {
      padding: 0px 9px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__body {
    padding: 0px 0px 50px 37px;
    border-bottom: 1px solid $color-border;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 70px;
    overflow: hidden;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 40px;
      background: rgba($color: $color-bg, $alpha: .8);
      position: absolute;
      bottom: 0;
      left: 0;
    }
    #{$b}.is-active-body & { height: auto;}

  }

}

.accordions {
  padding-top: 1px;
}

.is-active-button {
  &::after {
    content: '-';
  }
}
