.accordion {
  $b: &;
  @include text;
  
  .accordions & { margin-top: -1px; }

  &__header {
    height: 40px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;

    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 50%;
    //   right: 10px;
    //   width: 5px;
    //   height: 5px;
    //   border-width: 1px 1px 0 0;
    //   border-style: solid;
    //   border-color: $color-basic;
    //   transform-origin: center;
    //   transform: translateY(-50%) rotate(135deg);
    //   transition: transform $ease-main;

    //   #{$b}.is-active & {
    //     transform: translateY(-50%) rotate(-45deg);
    //     margin-top: 2px;
    //   }
    // }

  }

  &__heart {
    height: 20px;
    width: 20px;
    fill: $text-light;
    margin-left: auto;
  }

  &__hot-desc {
    color: $text-light;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    font-weight: 700;
    margin-left: 14px;
  }

  &__price {
    letter-spacing: -0.4px;
    font-weight: 700;
    font-size: 20px;
    margin-left: 14px;
    border-left: 1px solid $color-basic;
    padding-left: 14px;
  }

  img {
    margin-left: 51px;
  }

  &__button {
    cursor: pointer;
    width: 21px;
    height: 21px;
    border-radius: 3px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-border;
  }

  &__text-acr {
    margin-left: auto;
    color: $color-blue;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    font-size: 15px;
  }

  .button {
    margin-left: 11px;
    padding: 3px 3px;
    font-size: 12px;
    letter-spacing: -0.3px;
    font-weight: 700;
    &_gradient {
      padding: 7px 11px;
    }
    &__text {
      padding: 4px 11px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__body {
    padding: 10px;
    border-bottom: 1px solid $color-border;

    width: 100%;
    box-sizing: border-box;
    display: none;

    #{$b}.is-active & { display: block; }
  }
}

.accordions {
  padding-top: 1px;
}
