mixin accordions()
  +b.accordions&attributes(attributes)
    block

mixin accordion
  +b.accordion.js-accordion-open&attributes(attributes)
    block

mixin accordion-header
  +e.header&attributes(attributes)
    block

mixin accordion-button
  +e.button&attributes(attributes)
    block

mixin accordion-body
  +e.body&attributes(attributes)
    block
