.client-info {
  $b: &;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;

  &__title {
    @include heading-4;

    font-weight: 700;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 6px;

      @include screen('sm') {
        margin-bottom: 3px;
      }
    }

    &_right {
      text-align: right;

      @include screen('sm') {
        text-align: left;
      }
    }
  }

  &__table {
    width: 100%;
    border-bottom: 1px solid $color-border-light;
    margin-top: auto;
  }
}
