.form-order-summary {
  $b: &;

  position: static;
  display: block;
  width: 100%;

  &__section {
    width: 100%;

    &:not(:first-child) {
      margin-top: 70px;

      @include screen('sm') {
        margin-top: 48px;
      }

    }
  }

  &__dates {
    width: 100%;

    &:not(:first-child) {
      margin-top: 74px;

      @include screen('sm') {
        margin-top: 42px;
      }
    }
  }

  &__scrollblock {
    width: 100%;
  }

  &__inner-content {
    @include screen('md') {
      padding: 28px 36px 44px;
    }

    @include screen('sm') {
      padding: 28px 19px 36px;
    }
  }

  .form {

    &__text {
      line-height: 1.2;

      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  &_mobile {
    display: flex;

    .form-panel {

      &__button {

        .button__text {
          @include screen('sm') {
            padding-left: 34px;
            padding-right: 34px;
          }
        }
      }
    }
  }
}
