mixin form-order-summary(editable)
  +form._white.form-order-summary&attributes(attributes)
    div.form-order-summary__section
      +info-editable.__line
        +info-editable-name Space:
        +info-editable-field One Heddon Street Office Space center
      +info-editable.__line
        +info-editable-name Offer type:
        +info-editable-field
          +offer-info.__offer
            +box._size13._blue
            +e.title._fz18 OFFICE SPACE
      +info-editable.__line
        +info-editable-name Offer description:
        - if (editable) {
          +info-editable-field
            +e.text(data-field-edit="t1") One Heddon Office Space. 226 sq.ft. with terrace
            input(type="hidden" name="description" value="One Heddon Office Space. 226 sq.ft. with terrace" data-field-copy="t1")
            +link()(data-edit-target="t1")._light-underline.__edit.js-field-edit Edit
        - } else {
          +info-editable-field One Heddon Office Space. 226 sq.ft. with terrace
        - }
      +info-editable.__line
        +info-editable-name Amount:
        +info-editable-field 1
    +e.dates.form-order-summary__dates
      if (editable)
        +e.line_flex._sm-mg30
          +e.dates-cell_big
            +form-section-wrapper
              +form-box('Rent period start:', 'calendar2')._icon._icon_s15._lbl-nochange
                +input.input_underline-light.input_normal.js-datepicker(type="text" name="startDate" value="26 May 2020" placeholder="Rent period start:" data-period-start="rent" readonly)
          +e.dates-cell
            +form-section-wrapper
              +form-box('', 'time-3h')._icon._icon_s15._lbl-nochange
                +input.input_underline-light.input_normal(type="text" name="startTime" value="14:30" placeholder="Time" data-period-start="rent")
        +e.dates-icon_mg-big
          +icon('download').dates-arrow
        +e.line_flex._sm-mg30
          +e.dates-cell_big
            +form-section-wrapper
              +form-box('Rent period end:', 'calendar2')._icon._icon_s15._lbl-nochange
                +input.input_underline-light.input_normal.js-datepicker(type="text" name="endDate" value="26 May 2020" placeholder="Rent end date:" data-period-end="rent" data-mindate="2020-5-26" readonly)
          +e.dates-cell
            +form-section-wrapper
              +form-box('', 'time-3h')._icon._icon_s15._lbl-nochange
                +input.input_underline-light.input_normal(type="text" name="endTime" value="16:30" placeholder="Time")
      else
        +info-editable._date.__line
          +info-editable-name Rent period start:
          +info-editable-field
            +e.SPAN.item 26 May 2019
            +e.B.item_bold 14:30
        +e.dates-icon
          +icon('download').dates-arrow
        +info-editable._date.__line
          +info-editable-name Rent period end:
          +info-editable-field
            +e.SPAN.item 26 May 2019
            +e.B.item_bold 16:30
    div.form-order-summary__section
      +info-editable.__line
        +info-editable-name Price:
        - if (editable) {
          +info-editable-field
            +e.text
              span(data-field-edit="t2" data-price="1568.00") 1568.00
              span &pound;/mo
            input(type="hidden" name="price" value="1568.00" data-field-copy="t2")
            +link()(data-edit-target="t2")._light-underline.__edit.js-field-edit Edit
        - } else {
          +info-editable-field 1568.00 &pound;/mo
        - }
      +info-editable.__line
        +info-editable-name Safety deposit:
        - if (editable) {
          +info-editable-field
            +e.text
              span(data-field-edit="t3" data-deposit="1568.00")  1568.00
              span &pound;
              +info-tooltip.__info.js-tooltip.hide-sm(title="In the absence of claims, the deposit is returned to the lessee in full at the end of the rental period.")
            input(type="hidden" name="deposit" value="1568.00" data-field-copy="t3")
            +link()(data-edit-target="t3")._light-underline.__edit.js-field-edit Edit
        - } else {
          +info-editable-field._bold 1568.00 &pound;
        - }
      +info-editable.__line
        +info-editable-name Total:
        - if (editable) {
          +info-editable-field._editpd
            +e.text_bold
              span(data-total-price) 3136.00
              span &pound;
        - } else {
          +info-editable-field
            +e.text_bold
              span(data-total-price) 3136.00
              span &pound;
        - }
      +e.text_dark._small3 Total amount is first bill you need to pay to start the rent. You will receive first bill with that amount to pay.
    +form-panel._pd42.__panel_absolute.__panel_border
      +link-icon('select-arrow', 'a')._back._bold._no-shadow.__button.js-popup(href="#popup-cancellation") Cancel  Reservation
      +button('button')(type="submit").__button_w360 Confirm order summary
    block

mixin form-order-summary-mobile(editable)
  +form._white.form-order-summary_mobile&attributes(attributes)
    div.form-order-summary__scrollblock.js-scrollbar-light
      div.form-order-summary__inner-content
        div.form-order-summary__section
          +info-editable.__line
            +info-editable-name Space:
            +info-editable-field One Heddon Street Center
          +info-editable.__line
            +info-editable-name Offer type:
            +info-editable-field
              +offer-info.__offer
                +e.title._fz18 OFFICE SPACE
          +info-editable.__line
            +info-editable-name Offer description:
            - if (editable) {
              +info-editable-field
                +e.text(data-field-edit="t1" contenteditable="true") Floor 5 Space Room 56
                input(type="hidden" name="description" value="Floor 5 Space Room 56" data-field-copy="t1")
            - } else {
              +info-editable-field Floor 5 Space Room 56
            - }
          +info-editable.__line
            +info-editable-name Amount:
            +info-editable-field 1
        +e.dates.form-order-summary__dates
          if (editable)
            +e.line_flex._sm-mg30
              +e.dates-cell_big
                +form-section-wrapper
                  +form-box('Rent period start:', 'calendar2')._icon._icon_s15._lbl-nochange
                    +input.input_underline-light.input_normal.js-datepicker(type="text" name="startDate" value="26 May 2020" placeholder="Rent period start:" data-period-start="rent" readonly)
              +e.dates-cell
                +form-section-wrapper
                  +form-box('', 'time-3h')._icon._icon_s15._lbl-nochange
                    +input.input_underline-light.input_normal(type="text" name="startTime" value="14:30" placeholder="Time" data-period-start="rentMobile")
            +e.dates-icon_mg-big
              +icon('download').dates-arrow
            +e.line_flex._sm-mg30
              +e.dates-cell_big
                +form-section-wrapper
                  +form-box('Rent period end:', 'calendar2')._icon._icon_s15._lbl-nochange
                    +input.input_underline-light.input_normal.js-datepicker(type="text" name="endDate" value="26 May 2020" placeholder="Rent end date:" data-period-end="rentMobile" data-mindate="2020-5-26" readonly)
              +e.dates-cell
                +form-section-wrapper
                  +form-box('', 'time-3h')._icon._icon_s15._lbl-nochange
                    +input.input_underline-light.input_normal(type="text" name="endTime" value="16:30" placeholder="Time")
          else
            +info-editable._date.__line
              +info-editable-name Rent period start:
              +info-editable-field
                +e.SPAN.item 26 May 2019
                +e.B.item_bold 14:30
            +e.dates-icon
              +icon('download').dates-arrow
            +info-editable._date.__line
              +info-editable-name Rent period end:
              +info-editable-field
                +e.SPAN.item 26 May 2019
                +e.B.item_bold 16:30
        div.form-order-summary__section
          +info-editable.__line
            +info-editable-name Price:
            - if (editable) {
              +info-editable-field
                +e.text
                  span &pound;&nbsp;
                  span(data-field-edit="t2" data-price="1568.00" contenteditable="true") 1568.00
                  span /mo
                input(type="hidden" name="price" value="1568.00" data-field-copy="t2")
            - } else {
              +info-editable-field &pound; 1568.00/mo
            - }
          +info-editable.__line
            +info-editable-name Safety deposit:
            - if (editable) {
              +info-editable-field
                +e.text
                  span &pound;
                  span(data-field-edit="t3" data-deposit="1568.00" contenteditable="true")  4568.00
                  +info-tooltip.__info.js-tooltip.hide-sm(title="In the absence of claims, the deposit is returned to the lessee in full at the end of the rental period.")
                input(type="hidden" name="deposit" value="4568.00" data-field-copy="t3")
            - } else {
              +info-editable-field._bold &pound; 4568.00
            - }
          +info-editable.__line
            +info-editable-name Total:
            - if (editable) {
              +info-editable-field._editpd
                +e.text_bold
                  span &pound;&nbsp;
                  span(data-total-price) 15668.00
            - } else {
              +info-editable-field
                +e.text_bold
                  span &pound;&nbsp;
                  span(data-total-price) 15668.00
            - }
          +e.text_dark._small3 Total amount is first bill you need to pay to start the rent. You will receive first bill with that amount to pay.
    +form-panel.__panel_absolute.__panel_border.__panel_small
      +link-icon('select-arrow', 'a')._back._bold._no-shadow._mfz12.__button.js-popup(href="#popup-cancellation") Cancel  Reservation
      +button('button')(type="submit")._mob-smaller.__button Confirm
    block
