.facility-list {
  $b: &;

  display: block;
  width: 100%;
  column-count: 4;
  column-gap: 30px;
  color: $nd-color-basic;
  fill: currentColor;
  column-fill: balance;

  @include screen('xlg', max, 2) {
    column-count: 3;
    column-gap: pxtovw(30, 1660);
  }

  @include screen('lg', max, 2) {
    column-gap: pxtovw(30, 1366);
  }

  @include screen('md', max, 2) {
    column-gap: pxtovw(30, 960);
  }

  @include screen('sm', max, 2) {
    column-gap: pxtovw(15, 375);
    column-count: 2;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-span: none;
    transition: color $ease-main;

    @include rule(margin-bottom, (xl: 26px, xlg: 26, lg: 26, md: 26, sm: 16));

    &.is-disabled {
      color: #bfc3c5;
    }
  }

  &__icon {
    position: relative;
    display: block;
    font-size: 0;
    line-height: 0;
    flex: none;

    @include rule(width, (xl: 23px, xlg: 23, lg: 23, md: 23, sm: 18));
    @include rule(height, (xl: 23px, xlg: 23, lg: 23, md: 23, sm: 18));

    svg, img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      font-size: 0;
      line-height: 0;
      fill: inherit;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: (26 / 18);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(18, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(18, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(18, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
      line-height: (26 / 15);
    }

    &:not(:first-child) {
      @include rule(margin-left, (xl: 17px, xlg: 17, lg: 19, md: 19, sm: 13));
    }
  }

  &_small {
    #{$b} {

      &__item {
        @include rule(margin-bottom, (xl: 26px, xlg: 26, lg: 26, md: 18, sm: 16));
      }

      &__name {
        @include rule(font-size, (xl: 18px, xlg: 18, lg: 15, md: 13, sm: 15));
        @include rule(line-height, (xl: 26px, xlg: 26, lg: 26, md: 26, sm: 26));
      }

      &__icon {
        @include rule(width, (xl: 23px, xlg: 23, lg: 23, md: 21, sm: 18));
        @include rule(height, (xl: 23px, xlg: 23, lg: 23, md: 21, sm: 18));
      }
    }
  }

  &_xsmall {
    #{$b} {

      &__item {
        @include rule(margin-bottom, (xl: 22px, xlg: 22, lg: 22, md: 18, sm: 16));
      }

      &__name {
        @include rule(font-size, (xl: 15px, xlg: 15, lg: 15, md: 13, sm: 15));
        @include rule(line-height, (xl: 26px, xlg: 26, lg: 26, md: 26, sm: 26));
      }

      &__icon {
        @include rule(width, (xl: 20px, xlg: 20, lg: 20, md: 20, sm: 18));
        @include rule(height, (xl: 20px, xlg: 20, lg: 20, md: 20, sm: 18));
      }
    }
  }
}
