mixin message-form()
  +b.FORM.message-form&attributes(attributes)
    +e.wrapper
      +textarea.__textarea(type="text" name="message" placeholder="Message here..." rows="1")
      +e.BUTTON.button(type="submit") Отправить
        +icon('chat-arrow').icon
