.transport-type {
  $b: &;

  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  &_airplane {
    flex-wrap: nowrap;

    @include screen('sm') {
      margin-bottom: 15px;
    }
  }

  &__name {
    @include screen('sm') {
      width: 100%;

      #{$b}_airplane & {
        width: auto;
      }
    }

    &:not(:last-child) {
      margin-right: 14px;

      @include screen('sm') {
        margin-right: 12px;
      }

      #{$b}_airplane & {
        margin-right: 12px;

        @include screen('sm') {
          margin-right: 9px;
        }
      }

      @include screen('sm') {
        margin-bottom: 5px;

        #{$b}_bus & {
          margin-bottom: 0;
        }
      }
    }
  }

  &__type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:not(:last-child) {
      margin-right: 14px;

      @include screen('sm') {
        margin-right: 10px;
      }
    }
  }

  &__icon {
    width: 22px;
    height: 22px;

    &:not(:last-child) {
      margin-right: 9px;
    }

    &_metro {
      width: 26px;
      height: 22px;
    }

    &_bus {
      width: 28px;
      height: 16px;
      fill: $color-bus;
    }

    &_airplane {
      width: 16px;
      height: 16px;
      fill: $color-plane;
    }
  }

  &__numbers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    li {
      @include text15;

      @include screen('sm') {
        @include text13;
      }

      &:not(:last-child) {
        margin-right: 12px;

        @include screen('sm') {
          margin-right: 9px;
        }
      }
    }
  }
}
