.registration-form {
  $b: &;

  display: block;
  width: 100%;
  max-width: 510px;
  box-sizing: border-box;
  padding-top: 122px;

  @include screen('xlg', max, 2) {
    padding-top: pxtovw(122, 1660);
    max-width: pxtovw(510, 1660);
  }

  @include screen('lg', max, 2) {
    padding-top: pxtovw(90, 1366);
    max-width: pxtovw(510, 1366);
  }

  @include screen('md', max, 2) {
    padding-top: pxtovw(75, 960);
    max-width: pxtovw(510, 960);
  }

  @include screen('sm', max, 2) {
    padding-top: pxtovw(23, 375);
    max-width: none;
  }

  .nd-form {
    &__header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &_tal {
        align-items: flex-start;

        @include screen('sm', max, 2) {
          align-items: center;
        }
      }
    }

    &__title {
      text-align: center;

      &_tal {
        text-align: left;
      }

      &_wide {
        margin-left: -150px;
        margin-right: -150px;
        width: calc(100% + 300px);

        @include screen('xlg', max, 2) {
          margin-left: pxtovw(-150, 1660);
          margin-right: pxtovw(-150, 1660);
          width: calc(100% + ((30000 / 1660) * 1vw));
        }

        @include screen('lg', max, 2) {
          margin-left: pxtovw(-150, 1366);
          margin-right: pxtovw(-150, 1366);
          width: calc(100% + ((30000 / 1366) * 1vw));
        }

        @include screen('md', max, 2) {
          margin-left: pxtovw(-150, 960);
          margin-right: pxtovw(-150, 960);
          width: calc(100% + ((30000 / 960) * 1vw));
        }

        @include screen('sm', max, 2) {
          margin-left: 0;
          margin-right: 0;
          width: 100%;
        }
      }
    }

    &__text {
      text-align: center;

      #{$b}__header_tal & {
        text-align: left;

        @include screen('sm', max, 2) {
          text-align: center;
        }
      }
    }

    &__selection {
      &:not(:first-child) {
        margin-top: 88px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(88, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(60, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(60, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(37, 375);
        }
      }
    }

    &__methods {
      margin-top: 32px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(32, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(25, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(25, 960);
      }

      @include screen('sm', max, 2) {
        margin-top: pxtovw(10, 375);
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid $nd-color-border4;
    padding: 18px 0;
    margin-top: 83px;

    @include screen('xlg', max, 2) {
      margin-top: pxtovw(83, 1660);
      padding: pxtovw(18, 1660) 0;
    }

    @include screen('lg', max, 2) {
      margin-top: pxtovw(73, 1366);
      padding: pxtovw(18, 1366) 0;
    }

    @include screen('md', max, 2) {
      margin-top: pxtovw(83, 960);
      padding: pxtovw(18, 960) 0;
    }

    @include screen('sm') {
      padding: pxtovw(15, 375) 0;
      margin-top: pxtovw(60, 375);
      flex-wrap: wrap;
    }

    &_mt58 {
      margin-top: 58px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(58, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(58, 1366);
      }

      @include screen('md', max, 2) {
        margin-top: pxtovw(58, 960);
      }

      @include screen('sm') {
        margin-top: pxtovw(60, 375);
      }
    }

    #{$b}_rs & {
      margin-top: 84px;

      @include screen('xlg', max, 2) {
        margin-top: pxtovw(84, 1660);
      }

      @include screen('lg', max, 2) {
        margin-top: pxtovw(84, 1366);
      }

      @include screen('md', max, 2) {
        padding: pxtovw(32, 960) 0;
        margin-top: pxtovw(44, 960);
      }

      @include screen('sm') {
        padding: pxtovw(15, 375) 0;
        margin-top: pxtovw(50, 375);
        border-top: none;
      }
    }
  }

  &__question {
    display: inline-block;
    box-sizing: border-box;
    font-size: 18px;
    line-height: (26 / 18);
    font-weight: 700;
    padding-right: 37px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: $icon-arrow-next;
    background-size: 13px 8px;
    cursor: pointer;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(18, 1660);
      padding-right: pxtovw(37, 1660);
      background-size: pxtovw(13, 1660) pxtovw(8, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(18, 1366);
      padding-right: pxtovw(37, 1366);
      background-size: pxtovw(13, 1366) pxtovw(8, 1366);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(18, 960);
      padding-right: pxtovw(37, 960);
      background-size: pxtovw(13, 960) pxtovw(8, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(18, 375);
      padding-right: 0;
      background-image: none;
      width: 100%;
      text-align: center;
    }

    #{$b}_rs & {
      @include screen('md', max, 2) {
        font-size: pxtovw(16, 960);
      }

      @include screen('sm', max, 2) {
        font-size: pxtovw(18, 375);
      }
    }

    &:not(:last-child) {
      margin-right: 20px;

      @include screen('xlg', max, 2) {
        margin-right: pxtovw(20, 1660);
      }

      @include screen('lg', max, 2) {
        margin-right: pxtovw(20, 1366);
      }

      @include screen('md', max, 2) {
        margin-right: pxtovw(20, 960);
      }

      @include screen('sm', max, 2) {
        margin-right: 0;
      }
    }

    span {
      display: inline-block;
      vertical-align: top;
      background-position: 0 calc(50% + .5em);
      background-size: 2px 2px;
      background-repeat: repeat-x;

      @include screen('xlg', max, 2) {
        background-size: pxtovw(2, 1660) pxtovw(2, 1660);
      }

      @include screen('lg', max, 2) {
        background-size: pxtovw(2, 1366) pxtovw(2, 1366);
      }

      @include screen('md', max, 2) {
        background-size: pxtovw(2, 960) pxtovw(2, 960);
      }

      @include screen('sm', max, 2) {
        background-size: pxtovw(2, 375) pxtovw(2, 375);
      }
    }

    &:hover span {
      background-image: linear-gradient($nd-color-main, $nd-color-main);
    }
  }

  &__button {
    flex: none;
    min-width: 125px;

    @include screen('xlg', max, 2) {
      min-width: pxtovw(125, 1660);
    }

    @include screen('lg', max, 2) {
      min-width: pxtovw(125, 1366);
    }

    @include screen('md', max, 2) {
      min-width: pxtovw(125, 960);
    }

    @include screen('sm', max, 2) {
      min-width: 0;
      width: 100%;
      margin-top: pxtovw(19, 375);
    }

    #{$b}_rs & {
      @include screen('sm', max, 2) {
        margin-top: pxtovw(15, 375);
      }
    }

    &_mw110 {
      min-width: 110px;

      @include screen('xlg', max, 2) {
        min-width: pxtovw(110, 1660);
      }

      @include screen('lg', max, 2) {
        min-width: pxtovw(110, 1366);
      }

      @include screen('md', max, 2) {
        min-width: pxtovw(110, 960);
      }

      @include screen('sm', max, 2) {
        min-width: 0;
        width: 100%;
      }
    }

    &_mw210 {
      @include rule(min-width, (xl: 210px, xlg: 210, lg: 210, md: 125, sm: 0));
    }
  }

  &__media {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 0;
    line-height: 0;

    &:not(:last-child) {
      @include rule(margin-bottom, (xl: 67px, xlg: 67, lg: 67, md: 67, sm: 60));
    }
  }

  &__image {
    line-height: 0;
    font-size: 0;
    display: block;

    @include rule(height, (xl: 168px, xlg: 168, lg: 168, md: 168, sm: 168));

    img {
      display: block;
      line-height: 0;
      font-size: 0;
      height: 100%;
    }
  }

  &_rs {
    .nd-form {
      &__text {
        &:not(:first-child) {
          @include screen('sm', max, 2) {
            margin-top: pxtovw(13, 375);
          }
        }
      }

      &__section {
        margin-top: 36px;

        @include screen('xlg', max, 2) {
          margin-top: pxtovw(36, 1660);
        }

        @include screen('lg', max, 2) {
          margin-top: pxtovw(40, 1366);
        }

        @include screen('md', max, 2) {
          margin-top: pxtovw(20, 960);
        }

        @include screen('sm', max, 2) {
          margin-top: pxtovw(20, 375);
        }
      }

      &__selection {
        &:not(:first-child) {
          margin-top: 50px;

          @include screen('xlg', max, 2) {
            margin-top: pxtovw(50, 1660);
          }

          @include screen('lg', max, 2) {
            margin-top: pxtovw(50, 1366);
          }

          @include screen('md', max, 2) {
            margin-top: pxtovw(48, 960);
          }

          @include screen('sm', max, 2) {
            margin-top: pxtovw(60, 375);
          }
        }
      }
    }
  }

  &_pt0 {
    padding-top: 0;
  }

  &_lead {
    #{$b} {
      &__question {
        @include rule(font-size, (md: 16, sm: 18));
        @include rule(padding-right, (md: 28, sm: 0));
      }

      &__bottom {
        @include rule(margin-top, (xl: 83px, xlg: 83, lg: 60, md: 45, sm: 64));
        @include rule(padding-top, (md: 34, sm: 0));
        @include rule(padding-bottom, (md: 34, sm: 0));

        @include screen('sm', max, 2) {
          border-top: none;
        }
      }

      &__button {
        @include screen('sm', max, 2) {
          margin-top: pxtovw(16, 375);
        }
      }
    }

    .nd-form {
      &__header {
        @include screen('lg', max, 2) {
          text-align: left;
          align-items: flex-start;
        }

        @include screen('sm', max, 2) {
          text-align: center;
          align-items: center;
        }
      }

      &__selection {
        @include rule(font-size, (md: 16, sm: 15));

        &:not(:first-child) {
          @include rule(margin-top, (xl: 88px, xlg: 88, lg: 42, md: 40, sm: 40));
        }
      }

      &__methods {
        @include rule(margin-top, (xl: 32px, xlg: 32, lg: 22, md: 10, sm: 2));

        .nd-button:not(:first-child) {
          @include rule(margin-top, (md: 28, sm: 22));
        }
      }
    }
  }

  &_data {
    #{$b} {
      &__bottom {
        @include rule(margin-top, (xl: 75px, xlg: 75, lg: 75, md: 75, sm: 60));
      }
    }
  }

  &_verify {
    @include rule(max-width, (xl: 432px, xlg: 432, lg: 432, md: 432));
    @include rule(padding-top, (xl: 100px, xlg: 100, lg: 90, md: 75, sm: 23));
    @include rule(padding-bottom, (xl: 100px, xlg: 100, lg: 90, md: 75, sm: 23));

    @include screen('sm', max, 2) {
      max-width: none;
    }
  }

  &_ready {
    .nd-form {
      &__text {
        @include rule(max-width, (xl: 440px, xlg: 440, lg: 440, md: 440));

        @include screen('sm', max, 2) {
          max-width: none;
        }
      }
    }
  }

  &_confirm {
    max-width: none;

    .nd-grid {
      @include rule(margin-top, (xl: -40px, xlg: -40, lg: -40, md: -40, sm: -23));
    }

    .nd-form {

      &__title {
        &_mb {
          @include rule(margin-bottom, (xl: 30px, xlg: 30, lg: 30, md: 30, sm: 10));
        }
      }
    }
  }
}
