.socials {
  $b: &;

  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  line-height: 0;
  min-width: 158px;
  margin-top: -10px;

  &_big {
    min-width: 194px;
  }

  &__item {
    padding-top: 10px;

    &:not(:last-child) {
      margin-right: 18px;

      #{$b}_big & {
        margin-right: 22px;
      }
    }
  }
}
