.socials {
  $b: &;

  display: flex;
  font-size: 0;
  line-height: 0;

  &__item {
    &:not(:last-child) {
      margin-right: 18px;

      #{$b}_big & {
        margin-right: 22px;
      }
    }
  }
}
