mixin socials()
  +b.UL.socials&attributes(attributes)
    +e.item
      +social('sc-fb')._fb(href="#" title="facebook")
    +e.item
      +social('sc-ln')._ln(href="#" title="linkedIn")
    +e.item
      +social('sc-tw')._tw(href="#" title="twitter")
    +e.item
      +social('sc-inst')._inst(href="#" title="instagram")

mixin socials-big()
  +b.UL.socials_big&attributes(attributes)
    +e.item
      +social('sc-fb')._big._fb(href="#" title="facebook")
    +e.item
      +social('sc-ln')._big._ln(href="#" title="linkedIn")
    +e.item
      +social('sc-tw')._big._tw(href="#" title="twitter")
    +e.item
      +social('sc-inst')._big._inst(href="#" title="instagram")

mixin nd-socials(clss)
  - var cls = clss || {}
  +b.UL.nd-socials&attributes(attributes)
    +e.item(class=(cls.item || ''))
      +nd-social('nd-facebook')._fb(href="#" title="facebook" class=(cls.icon || ''))
    +e.item(class=(cls.item || ''))
      +nd-social('nd-instagram')._inst(href="#" title="instagram" class=(cls.icon || ''))
    +e.item(class=(cls.item || ''))
      +nd-social('nd-linkedin')._ln(href="#" title="linkedIn" class=(cls.icon || ''))
