.socials {
  $b: &;

  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  line-height: 0;
  min-width: 158px;
  margin-top: -10px;

  &_big {
    min-width: 194px;
  }

  &__item {
    padding-top: 10px;

    &:not(:last-child) {
      margin-right: 18px;

      #{$b}_big & {
        margin-right: 22px;
      }
    }
  }
}

.nd-socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  font-size: 0;
  line-height: 0;

  &__item {
    &:not(:first-child) {
      margin-left: 38px;

      @include screen('xl', max, 2) {
        margin-left: 36px;
      }

      @include screen('lg', max, 2) {
        margin-left: pxtovw(33, 1366);
      }

      @include screen('md', max, 2) {
        margin-left: pxtovw(36, 960);
      }

      @include screen('sm', max, 2) {
        margin-left: pxtovw(32, 375);
      }
    }
  }
}
