mixin slider(buttons, pagination)
  +b.slider__&attributes(attributes)
    .container
      +e.container.swiper-container.js-slider-container
        .swiper-wrapper
          block
    if pagination
      +e.dots
        +e.dot
    if buttons
      +e.buttons(data-slider-buttons)
        +e.buttons-rooms_prev
          +e.button._prev.js-slider-button-prev
            +icon('slider-arrow').__button-icon
        +e.buttons-divider
        +e.buttons-rooms_next
          +e.button._next.js-slider-button-next
            +icon('slider-arrow').__button-icon

mixin slider-gallery(buttons, loupe)
  +b.slider__._gallery._dark&attributes(attributes)
    +e.container.swiper-container.js-slider-container
      .swiper-wrapper
        block
    if buttons
      +e.buttons_simple
        +e.button._prev.js-slider-button-prev
          +icon('slider-arrow').__button-icon
        +e.button._next.js-slider-button-next
          +icon('slider-arrow').__button-icon
    if loupe
      +e.A.loupe.js-open-gallery(data-targets="gallery")
        +icon('loupe').__loupe-icon

mixin slider-gallery-bold(buttons, loupe)
  +b.slider__._gallery._dark&attributes(attributes)
    +e.container.swiper-container.js-slider-container
      .swiper-wrapper
        block
    if buttons
      +e.buttons_simple
        +e.button._prev.js-slider-button-prev
          +icon('slider-arrow-bold').__button-icon
        +e.button._next.js-slider-button-next
          +icon('slider-arrow-bold').__button-icon
    if loupe
      +e.A.loupe.js-open-gallery(data-targets="gallery")
        +icon('loupe').__loupe-icon

mixin slider-calendar(buttons)
  +b.slider__._calendar&attributes(attributes)
    +e.container.swiper-container.js-slider-container
      .swiper-wrapper
        block
    if buttons
      +e.buttons_simple
        +e.button._prev.js-slider-button-prev
          +icon('arrow2').__button-icon
        +e.button._next.js-slider-button-next
          +icon('arrow2').__button-icon

mixin slider-promo()
  +b.slider__._promo&attributes(attributes)
    +e.container.swiper-container.js-slider-container
      .swiper-wrapper
        block
      +e.buttons
        +e.button._prev.js-slider-button-prev
          +icon('slider-arrow').__button-icon
        +e.UL.dots(data-slider-dots)
        +e.button._next.js-slider-button-next
          +icon('slider-arrow').__button-icon

mixin slide
  +e.slide.swiper-slide&attributes(attributes)
    block
