@import '../../node_modules/swiper/dist/css/swiper.css';

.slider {
  $b: &;

  position: relative;
  height: 100%;

  &__slide {
    height: auto !important;
  }

  &__dots {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 2;
    pointer-events: none;
  }

  &__dot {
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid $color-border;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    transition: border-color $ease-main, background-color $ease-main;
    pointer-events: all;
    cursor: pointer;

    &.active {
      background-color: $color-main;
      border-color: $color-main;
    }
  }

  &__buttons {
    width: 100%;
    position: absolute;
    display: flex;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;

    &-rooms {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      pointer-events: auto;

      @include screen('lg') {
        flex: none;
        width: 40px;
        min-width: 40px;
      }

      @include screen('sm') {
        width: 27px;
        min-width: 27px;
      }

      &_prev {
        padding-right: 56px;

        @media only screen and (max-width: 1789px) {
          padding-right: 0;
        }
      }

      &_next {
        justify-content: flex-start;
        padding-left: 56px;

        @media only screen and (max-width: 1789px) {
          padding-left: 0;
        }
      }
    }

    &-divider {
      width: 100%;
      max-width: 1620px;

      @include screen('lg') {
        flex: 1;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 80px;
    transition: all $ease-main;
    z-index: 2;
    background-color: rgba($color-white, 0);
    cursor: pointer;
    pointer-events: auto;
    box-sizing: border-box;

    @include screen('sm') {
      width: 27px;
      height: 38px;
      padding-left: 7px;
    }

    &-icon {
      width: 17px;
      height: 43px;
      fill: $color-arrow;

      @include screen('sm') {
        width: 8px;
        height: 21px;
      }
    }

    &:hover {
      background-color: rgba($color-white, 1);
    }

    &_next {}

    &_prev {
      transform: rotate(180deg);
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__loupe {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 41px;
    background-color: rgba($color-grey-dark, .5);
    transition: background $ease-main;
    z-index: 2;

    &:hover {
      background-color: rgba($color-grey-dark, .8);
    }

    &-icon {
      fill: $color-white;
      font-size: 0;
      line-height: 0;
      width: 21px;
      height: 21px;
      filter: drop-shadow(1px 1px 0 rgba(34, 42, 46, .2));
    }
  }

  &_dark {

    #{$b}__button {
      width: 43px;
      height: 100px;
      background-color: rgba($color-grey-dark, .2);
      transition: background $ease-main;

      @include screen('sm') {
        width: 27px;
        height: 38px;
        background-color: rgba($color-white, 0);
      }

      &:hover {
        background-color: rgba($color-grey-dark, .5);

        @include screen('sm') {
          background-color: rgba($color-white, 1);
        }
      }

      &-icon {
        fill: $color-white;
        filter: drop-shadow(1px 1px 0 rgba(34, 42, 46, .2));

        @include screen('sm') {
          fill: $color-arrow;
          filter: none;
        }
      }
    }
  }

  &_dark2 {
    #{$b}__button {
      width: 21px;
      height: 50px;
      background-color: rgba($color-hint-bg, .5);
      transition: background $ease-main;
      padding-left: 0;

      &:hover {
        background-color: rgba($color-grey-dark, .7);
      }

      &-icon {
        width: 9px;
        height: 24px;
        fill: $color-white;
        filter: drop-shadow(1px 1px 0 rgba(34, 42, 46, .2));
      }
    }
  }

  &_gallery {

    #{$b}__container {
      height: 100%;
      width: 100%;
    }

    #{$b}__buttons {
      align-items: center;
      justify-content: space-between;

      @include screen('sm') {
        width: calc(100% + 40px);
        left: -20px;
      }
    }

    #{$b}__slide {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      width: auto;
      height: 100% !important;
      opacity: .52;
      transition: opacity .5s ease;

      &.swiper-slide-active {
        opacity: 1;
      }
    }

    &_inner {

      #{$b}__buttons {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        left: 0;
      }
    }
  }
}
