mixin slider(pagination, buttons)
  +b.slider&attributes(attributes).swiper-container.js-slider
    .swiper-wrapper
      block
    if pagination
      +e.dots
        +e.dot
    if buttons
      +e.button._prev
        +icon('arrow2')
      +e.button._next
        +icon('arrow2') 

mixin slide(href)
  .swiper-slide
    +e.slide&attributes(attributes)
      block

mixin slide-two()
  a(href="#").swiper-slide
    +e.slide&attributes(attributes)
      +icon('heart').__heart
      block

mixin slider-two(pagination, buttons)
  +b.slider._two&attributes(attributes).swiper-container.js-slider-two
    .swiper-wrapper
      block
    if pagination
      +e.dots
        +e.dot
    if buttons
      +e.button._prev
        +icon('arrow2')
      +e.button._next
        +icon('arrow2')


mixin slider-three(pagination, buttons)
  +b.slider._three&attributes(attributes).swiper-container.js-slider-three
    .swiper-wrapper
      block
    if pagination
      +e.dots
        +e.dot
    if buttons
      +e.button._prev
        +icon('arrow2')
      +e.button._next
        +icon('arrow2')