@import '../../node_modules/swiper/dist/css/swiper.css';

.slider {
  position: relative;
  height: 100%;
  &__slide {
    height: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
    &:hover {
      .slider-title__slide {
        
        color: $color-basic-dark;
      }

      .slider__heart {
        opacity: 1;
        fill: #ffffff;
        stroke: #ffffff;
      }
    }
  }

  &__heart {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    transition: .3s;
    width: 27px;
    height: 27px;
    fill: #ffffff;
    stroke: #ffffff;
    transition: .3s;
  }

  &__search {
    z-index: 10;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 42px;
    width: 42px;
    background-color:rgba($color: $color-grey-dark, $alpha: .2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    &:hover { background-color:rgba($color: $color-grey-dark, $alpha: .8); }
    &-img {
      height: 21px;
      width: 21px;
      fill: $color-wite;
    }
  }

  &__dots {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 2;
    pointer-events: none;
  }

  &__dot {
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid $color-border;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    transition: border-color $ease-main, background-color $ease-main;
    pointer-events: all;
    cursor: pointer;

    &.active {
      background-color: $color-main;
      border-color: $color-main;
    }
  }

  &__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 40px;
    transition: opacity $ease-main;
    z-index: 2;
    transition: .3s;
    padding:20px 14px;
    background-color:rgba($color: $color-grey-dark, $alpha: .2);
    cursor: pointer;
    

    // &::before {
    //   content: '';
    //   width: 30px;
    //   height: 30px;
    //   border-style: solid;
    //   border-color: $color-wite;
    //   border-width: 0;
    //   position: absolute;
    //   transform: rotate(45deg);
    //   transform-origin: center;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   margin: auto;
    // }

    svg {
      height: 50px;
      width: 30px;
      fill: $color-wite;
      stroke: $color-wite;
    }
    &:hover { background-color:rgba($color: $color-grey-dark, $alpha: .8); }

    &_next {
      right: 0;
    }

    &_prev {
      left: 0;
      transform: rotate(180deg);
    }
  }

  &-cube__text {
    font-size: 16px;
    font-weight: 700;
    color: $color-basic-dark;
    text-align: left;
  }
  &-text {
    color: $color-basic-light;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
  img {
    height: 100%;
  }
}

.slider-title{
  font-size: 24px;
  font-weight: 700;
  span {
    color: $color-blue;
  }
  margin-bottom: 61px;
}

.slider-title__slide {
  @include ellipsis(100%);
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  margin: 12px 0;
  transition: .3s;
  color: $color-basic;
}

.slider-plach {
  text-align: left;
  font-size: 15px;
  letter-spacing: -0.32px;
  color: $color-basic-light;
  font-weight: 400;
  transition: .3s;
}



.slider__button-two {
  position: absolute;
  width: 17px;
  height: 43px;
  top: 50%;
  cursor: pointer;
  svg {
    fill: $color-arrow;
    stroke: $color-arrow;
    width: 17px;
    height: 43px;
  }
  &_next {
    right: -4.5%;
    &::before {
      border: 0 solid #000;
      border-top-width: 2px;
      border-right-width: 2px;
    }
  }
  &_prev {
    left:  -4.5%;
    transform: rotate(180deg);
    &::before {
      border: 0 solid #000;
      border-bottom-width: 2px;
      border-left-width: 2px;
    }
  }
}
