mixin slider(buttons, pagination)
  +b.slider__&attributes(attributes)
    .container
      +e.container.swiper-container.js-slider-container
        .swiper-wrapper
          block
    if pagination
      +e.dots
        +e.dot
    if buttons
      +e.buttons(data-slider-buttons)
        +e.buttons-rooms_prev
          +e.button._prev.js-slider-button-prev
            +icon('slider-arrow').__button-icon
        +e.buttons-divider
        +e.buttons-rooms_next
          +e.button._next.js-slider-button-next
            +icon('slider-arrow').__button-icon

mixin slider-gallery(buttons, loupe)
  +b.slider__.swiper-container&attributes(attributes)
    .swiper-wrapper
      block
    if buttons
      +e.buttons_simple
        +e.button._prev.js-slider-button-prev
          +icon('slider-arrow')
        +e.button._next.js-slider-button-next
          +icon('slider-arrow')
    if loupe
      +e.loupe
        +icon('loupe').__loupe-icon


mixin slide
  +e.slide.swiper-slide&attributes(attributes)
    block
