@import '../../node_modules/swiper/dist/css/swiper.css';

.slider {
  position: relative;
  
  &__slide {
    text-align: center;
    position: relative;
    cursor: pointer;
    &:hover {
      .slider-title__slide {
        color: $color-basic-dark;
      }

      .slider__heart {
        opacity: 1;
      }
    }
  }

  &__heart {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    transition: .3s;
  }

  &__dots {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 2;
    pointer-events: none;
  }

  &__dot {
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid $color-border;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    transition: border-color $ease-main, background-color $ease-main;
    pointer-events: all;
    cursor: pointer;

    &.active {
      background-color: $color-main;
      border-color: $color-main;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 40px;
    transition: opacity $ease-main;
    z-index: 2;
    transition: .3s;
    padding:20px 14px;
    background-color:rgba($color: $color-grey-dark, $alpha: .2);
    cursor: pointer;
    

    &::before {
      content: '';
      width: 30px;
      height: 30px;
      border-style: solid;
      border-color: $color-wite;
      border-width: 0;
      position: absolute;
      transform: rotate(45deg);
      transform-origin: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    &:hover { background-color:rgba($color: $color-grey-dark, $alpha: .8); }

    &_next {
      right: 0;

      &::before {
        border-top-width: 2px;
        border-right-width: 2px;
        right: 3px;
      }
    }

    &_prev {
      left: 0;

      &::before {
        border-bottom-width: 2px;
        border-left-width: 2px;
        left: 3px;
      }
    }
  }
}

.slider-title{
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -0.3px;
  span {
    color: $color-blue;
  }
  margin-bottom: 50px;
}

.slider-title__slide {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin: 12px 0;
  transition: .3s;
  color: $color-basic;
}

.slider-plach {
  text-align: left;
  font-size: 15px;
  letter-spacing: -0.32px;
  color: $color-basic-light;
  font-weight: 400;
  transition: .3s;
}