mixin slider(pagination, buttons)
  +b.slider&attributes(attributes).swiper-container.js-slider
    .swiper-wrapper
      block
    if pagination
      +e.dots
        +e.dot
    if buttons
      +e.button._prev
      +e.button._next

mixin slide(href)
  .swiper-slide
    +e.slide&attributes(attributes)
      +e.A(href=href).__search.js-fancybox
        +e.IMG(src='./assets/images/search.png').__search-img
      block

mixin slide-two()
  a(href="#").swiper-slide
    +e.slide&attributes(attributes)
      +e.IMG(src='./assets/images/heart-top.png').__heart
      block

mixin slider-two(pagination, buttons)
  +b.slider&attributes(attributes).swiper-container.js-slider-two
    .swiper-wrapper
      block
    if pagination
      +e.dots
        +e.dot
    if buttons
      +e.button._prev
      +e.button._next
