.filter-tags {
  $b: &;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: auto;
  max-width: 350px;
  overflow: visible;
  height: 100%;

  @include screen('xlg', max, 2) {
    max-width: pxtovw(350, 1660);
  }

  @include screen('lg', max, 2) {
    max-width: pxtovw(350, 1366);
  }

  @include screen('md', max, 2) {
    max-width: pxtovw(350, 960);
  }

  @include screen('sm', max, 2) {
    max-width: pxtovw(350, 375);
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
