.characteristics-table {
  $b: &;

  width: 100%;

  &.table {
    @include text;

    line-height: (26/14);
    font-weight: 700;
    color: $color-basic-light;

    tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &:last-child {
        border-bottom: none;
      }
    }

    td {
      display: block;
      white-space: nowrap;
      text-align: left;

      &:last-child {
        flex: 1;
        text-align: right;
      }

      &:not(:last-child) {
        padding-right: 10px;
        box-sizing: border-box;
      }
    }

    #{$b}__cell {

      &_dark {
        color: $color-basic;
      }
    }
  }

  &__icon {

    &_check {
      width: 11px;
      height: 11px;
      color: currentColor;
      margin-right: 4px;
    }
  }

  &_big.table {
    @include text16;

    line-height: (38/16);

    @include screen('sm') {
      @include text;

      line-height: (38/14);
    }
  }

  &_normal.table {
    font-weight: 400;

    #{$b}__cell {

      &_dark {
        font-weight: 700;
      }
    }
  }
}
