.dates-table {
  $b: &;

  display: block;
  color: $nd-color-basic;

  &__head {
    display: block;
    width: 100%;
  }

  &__title {
    font-family: $font-stolzl;
    display: block;
    width: 100%;
    font-size: 17px;
    line-height: 1.2;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    padding-left: 0;

    @include screen('xlg', max, 2) {
      font-size: pxtovw(17, 1660);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(17, 1366);
    }

    @include screen('md', max, 2) {
      text-align: left;
      font-size: pxtovw(17, 960);
      padding-left: pxtovw(10, 960);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(17, 375);
      padding-left: pxtovw(10, 375);
    }

    .dates_drop & {
      text-align: center;
      padding-left: 0;

      @include screen('sm', max, 2) {
        text-align: left;
        padding-left: pxtovw(10, 375);
      }
    }
  }

  &__month {
    display: inline-block;
  }

  &__year {
    display: inline-block;
  }

  &__days {
    display: flex;
    align-items: center;
    margin-top: 8px;

    @include screen('xlg', max, 2) {
      margin-top: pxtovw(8, 1660);
    }

    @include screen('lg', max, 2) {
      margin-top: pxtovw(8, 1366);
    }

    @include screen('md', max, 2) {
      margin-top: pxtovw(8, 960);
    }

    @include screen('sm', max, 2) {
      margin-top: pxtovw(8, 375);
    }
  }

  &__body {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;

    @include rule(min-height, (xl: 336px, xlg: 336, lg: 336, md: 0));

    .dates_drop & {
      @include rule(min-height, (md: 336, sm: 0));
    }
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    line-height: 1.13;
    transition: color $ease-main;
    margin-top: 16px;
    width: 40px;
    margin-right: calc((100% - (40px * 7)) / 6);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    @include screen('xlg', max, 2) {
      font-size: pxtovw(15, 1660);
      margin-top: pxtovw(16, 1660);
      width: pxtovw(40, 1660);
      margin-right: calc((100% - ((4000 * 7vw) / 1660)) / 6);
    }

    @include screen('lg', max, 2) {
      font-size: pxtovw(15, 1366);
      margin-top: pxtovw(16, 1366);
      width: pxtovw(40, 1366);
      margin-right: calc((100% - ((4000 * 7vw) / 1366)) / 6);
    }

    @include screen('md', max, 2) {
      font-size: pxtovw(15, 960);
      margin-top: pxtovw(16, 960);
      width: pxtovw(40, 960);
      margin-right: calc((100% - ((4000 * 7vw) / 960)) / 6);
    }

    @include screen('sm', max, 2) {
      font-size: pxtovw(15, 375);
      margin-top: pxtovw(16, 375);
      width: pxtovw(40, 375);
      margin-right: calc((100% - ((4000 * 7vw) / 375)) / 6);
    }

    &:nth-child(7n) {
      margin-right: 0;
    }

    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: background $ease-main, border $ease-main;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: inherit;
      box-sizing: border-box;
      border: 2px solid transparent;

      @include screen('xlg', max, 2) {
        width: pxtovw(40, 1660);
        height: pxtovw(40, 1660);
      }

      @include screen('lg', max, 2) {
        width: pxtovw(40, 1366);
        height: pxtovw(40, 1366);
      }

      @include screen('md', max, 2) {
        width: pxtovw(40, 960);
        height: pxtovw(40, 960);
      }

      @include screen('sm', max, 2) {
        width: pxtovw(40, 375);
        height: pxtovw(40, 375);
      }
    }

    &_name {
      pointer-events: none;
      cursor: default;
    }

    &_day {
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      user-select: none;

      &:hover {
        span {
          border-color: $nd-color-main;
        }
      }
    }

    &.is-current {
      font-weight: 700;
    }

    &.is-selected {
      color: $nd-color-basic-light;

      span {
        border-color: $nd-color-main;
        background-color: $nd-color-main;
      }
    }

    &.is-disabled, &_other-month {
      color: $nd-color-border4;
      pointer-events: none;
      cursor: default;

      &.is-selected {
        span {
          border-color: transparent;
          background-color: transparent;
        }
      }
    }
  }
}
