.space-reservation {
  $b: &;

  display: block;
  width: 100%;
  text-decoration: none;
  color: $color-basic;

  &__info {
    width: 100%;
    position: relative;
    z-index: 2;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .space:hover .space__title {
    color: $color-basic;
  }

  &__table {
    width: 100%;
    position: relative;
    z-index: 2;

    tr {
      font-weight: 400;
      flex-wrap: wrap;
    }

    .characteristics-table__cell_dark {
      font-weight: 700;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
  }

  &__control {
    @include text-mid;

    line-height: 1.2;
    margin-top: 17px;

    &:not(:last-child) {
      margin-right: 30px;

      @include screen('md') {
        margin-right: 20px;
      }
    }
  }

  &_side {

    #{$b} {

      &__info {
        margin-bottom: 16px;

        @include screen('md') {
          margin-bottom: 0;
        }

        @include screen('sm') {
          margin-bottom: 12px;
        }
      }

      &__table {

        @include screen('md') {
          margin-top: -10px;
        }

        @include screen('sm') {
          margin-top: 0;
        }
      }
    }
  }

  &_link {
    cursor: pointer;
    position: relative;

    &::before {
      @include pseudo;

      top: -18px;
      left: -25px;
      right: -25px;
      bottom: -47px;
      background-color: $color-white;
      box-shadow: 1px 1px 8px rgba(34, 42, 46, 0.06);
      border-radius: 3px;
      opacity: 0;
      transition: opacity $ease-main;
      z-index: 1;

      @include screen('md') {
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -40px;
      }
    }

    &:hover::before {
      opacity: 1;
    }
  }
}
