mixin popup-warning()
  +popup-free._sm-cross._sm-full.popup-warning__&attributes(attributes)
    +popup-heading.popup__heading_sm-col.popup__heading_sb
      .popup__type WARNING
      +popup-title.popup__title_mfz12 Company details
    +popup-content
      +note-exclamation()._fw400._color._fz20.__note Hold up this is important!
      +note(true)._fz30._fz30_lh42._strong.__alert_mx430 Changing company information will result in a KYC reset.
      +note(true)._fz30._fw400._sm-pmg.__notice To continue receiving payments, you will need to resubmit all company information in the KYC tab.
      +e.buttons
        +button()._short._border._border_bg-white._mob-smaller.__button(href="#") Do not change company details
        +button()._short._mob-smaller.__button(href="#") Agree and Continue to KYC form
