mixin header-user()
  +b.header-user&attributes(attributes)
    +e.user
      +short-profile(href="#")
    +e.UL.list
      +e.LI.item
        +user-link('calendar', '_calendar', true)
      +e.LI.item
        +user-link('message', '_message', true)
      +e.LI.item
        +user-link('heart', '_heart')
