mixin header-user(host)
  +b.header-user&attributes(attributes)
    +e.user
      - if (host) {
        +short-profile-host(href="#")
      - } else {
        +short-profile(href="#")
      - }
    +e.UL.list
      +e.LI.item
        +user-link('calendar', '_calendar', true)(href="#")
      +e.LI.item
        +user-link('message', '_message', true)(href="#")
      +e.LI.item
        +user-link('heart', '_heart')(href="#")
