.header-user {
  display: flex;

  &__user {
    display: flex;
    align-items: center;
    margin-right: 80px;
    &-photo {
      margin-right: 10px;
      border-radius: 50%;
    }

  }


  &__name {
    font-size: 17px;
    color: $color-basic;
    font-weight: 700;
  }

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 72px;
    position: relative;
    cursor: pointer;
    &:last-child {
      margin-right: 94px;
    }
    &-circle {
      position: absolute;
      height: 8px;
      width: 8px;
      background: $color-red;
      border-radius: 50%;
      right: -2px;
      top: 4px;
    }
  }
  
}