.header-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;
  padding-right: 18px;

  &__user {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 80px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 73px;
    }
  }
}
