mixin header-user(host)
  +b.header-user&attributes(attributes)
    - if (host) {
      +e.user_host
        +short-profile-host(href="#")
    - } else {
      +e.user
        +short-profile(href="#")
    - }
    +e.UL.list
      +e.LI.item
        +user-link('calendar', '_calendar', true).js-show-notices(href="#events-list")
      +e.LI.item
        +user-link('message', '_message', true).js-show-notices(href="#messages-list")
      +e.LI.item
        +user-link('heart', '_heart')(href="#")
