.price {
  $b: &;

  @include text16;

  display: inline-block;
  line-height: (26/16);
  color: $color-basic-light;
  white-space: nowrap;

  b {
    font-weight: 700;
  }

  small {
    @include text;

    line-height: (26/14);
    color: $color-basic-gray;
  }
}
