mixin popup-reminder-save()
  +popup-free._sm-cross._sm-full.popup-reminder-save__&attributes(attributes)
    +popup-heading.popup__heading_smpd.popup__heading_sm-col.popup__heading_sb
      +offer-info
        +box._big2._orange
        +e.title_dark._fz24 HOT DESK
      +popup-title.popup__title_mfz12 Terms and conditions
    +popup-content
      +note-exclamation(true)._fw400._color._fz20.__note You’ve recently added Terms and Conditions for HOT DESK offers.
      +note(true)._fz30.__notice Do you want to save Terms and Conditions for HOTD DESK offers and continue?
      +e.buttons
        +button('button')._short._mob-smaller.__button(type="button")
          span.hide-sm Yes, Save Terms and conditions for HOT DESKS and continue
          span.hide-from-sm Yes, Save T&amp;C and continue
        +link()._underline.__link(href="#" data-fancybox-close)
          span.hide-sm Don’t save Terms and Conditions for HOT DESK
          span.hide-from-sm Don’t save T&amp;C for HOT DESK
      block
