.space-map {
  $b: &;

  position: relative;
  display: block;
  width: 100%;
  border: 1px solid $nd-color-map-border;

  @include rule(height, (xl: 296px, xlg: 296, lg: 205, md: 181, sm: 177));
  @include rule(margin-left, (sm: - 20));
  @include rule(margin-right, (sm: - 20));

  @include screen('md', max, 2) {
    border: none;
  }

  @include screen('sm', max, 2) {
    width: calc(100% + (4000 / 375) * 1vw);
    overflow: hidden;
  }

  &::before {
    @include screen('sm', max, 2) {
      @include pseudo;

      height: pxtovw(34, 375);
      left: 0;
      right: 0;
      bottom: pxtovw(-10, 375);
      background-image: linear-gradient(180deg, rgba(111, 111, 111, 0) 0%, rgba(64, 64, 64, 0.68) 82.81%);
      ;
      background-repeat: repeat-x;
      background-position: 0 100%;
      background-size: pxtovw(34, 375);
      z-index: 1;
      opacity: .58;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

    #{$b}.is-active & {
      pointer-events: auto;
      opacity: 1;
    }
  }

  &__wrapper {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    @include rule(height, (sm: 177));

    @include screen('sm', max, 2) {
      position: fixed;
      top: pxtovw(60, 375);
      left: 0;
      right: 0;
      z-index: 0;
      pointer-events: none;
    }

    #{$b}.is-active & {
      @include screen('sm', max, 2) {
        top: 0;
        height: 100%;
        pointer-events: auto;
      }
    }
  }

  &__map {
    display: block;
    width: 100%;
    height: 100%;
  }
}
