mixin space-map(mapID)
  +b.space-map&attributes(attributes)
    +e.BUTTON.close(type="button") Close map
    +e.wrapper
      +e.map(id=(mapID || '') data-map-markers-url="assets/data/lonely-offer-marker.json")
    block
