mixin space-map(mapID, type)
  - var url = type === 'offer' ? 'assets/data/lonely-offer-marker2.json' : 'assets/data/lonely-offer-marker.json'
  +b.space-map&attributes(attributes)
    +e.BUTTON.close(type="button") Close map
    +e.wrapper
      +e.map(id=(mapID || '') data-map-markers-url=url)
    block
