extends ../../layouts/default-login

block head
  - var pageTitle = 'SpacePool - Account settings'

block header
  -var headerClass = '_border'

block content
  +content-origin._reverse
    .container
      +e.wrapper
        +content-column-aside._ptop.hide-lg
          +side-navigation('Change your personal info, password and notification options here')
            +nav-list-sidebar(getData('side-menu-user.json'), 'Profile & Settings').__navigation
        +content-column-main
          +form._pb.js-form-with-hidden-panel(data-validated-form)
            +form-section
              +form-section-header
                +form-section-title Basic account information
              +grid.grid_big
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('First name')
                      +input(type="text" name="firstName" value="Eugene" placeholder="First name" required)
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('Last name')
                      +input(type="text" name="lastName" value="Sheeleen" placeholder="Last name")
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('Country')
                      +select.js-select-input(name="country" required)
                        option(value="" placeholder) Country
                        option(value="uk" selected) United-Kingdom
                        option(value="ru") Russia
                        option(value="de") Germany
                        option(value="fr") France
                +col({xl: 6, md:12 }).grid__col_md-order2
                  +form-section-wrapper
                    +form-box('Phone number', '', 'label')
                      //- +input(type="tel" name="phone-code" value="+44" placeholder="Phone code" data-tel-code).form-box__phone_code
                      +input(type="tel" name="phone" value="+4476896898983" placeholder="Phone number" data-tel-number)
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('E-mail adress')
                      +input(type="email" name="email" value="es@bsagency.design" placeholder="E-mail adress" required)
                +col({xl: 6, md:12 }).grid__col_md-order2
                  +form-section-wrapper
                    +avatar-uploader().__avatar-uploader Change userpic
            +form-section._bmg
              +form-section-header._smg
                +form-section-title Password change
                +form-section-text In case you want to change your password just fill  the form below:
              +grid.grid_big
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('Old password')._password
                      +input(type="password" name="oldPassword" value="EugeneEugene" placeholder="Old password" readonly)
                      +e.SPAN.password-mask(data-password-mask)
                        - for (var i = 0; i < 12; i++) {
                          span
                        - }
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +link-icon('key')(href="#popup-password-change")._icon_black._icon_mid._form-underline._no-shadow._bold.__link_big._mt.js-popup Change password
                +col({xl: 6, md:12 }).grid__col_md-order2
                  +form-section-wrapper
                    +form-section-text._compensate
                      p Forgot your existing password?
                      +link(href="#")._gray._underline Recover the password VIA E-mail adress
            +form-section._bmg._bmg_ext
              +form-section-header._lg-mmg
                +form-section-title Profile Data
              +grid.grid_big
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('Birthday', 'calendar2')._icon
                      +input.js-datepicker(type="text" name="birthday" value="31 August 1986" placeholder="Birthday" data-mindate='all')
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('Residency country')
                      +select.js-select-input(name="residencyCountry")
                        option(value="" placeholder) Residency country
                        option(value="lv" selected) Latvia
                        option(value="ru") Russia
                        option(value="de") Germany
                        option(value="fr") France
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('Education grade')
                      +select.js-select-input(name="educationGrade")
                        option(value="" placeholder) Education grade
                        option(value="bachelor" selected) Bachelor
                        option(value="doctor") Doctor
                        option(value="master") Master
                        option(value="basic") Basic
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('Company name')
                      +input(type="text" name="companyName" value="SIA Dezi BS" placeholder="Company name")
                +col({xl: 6, md:12 })
                  +form-section-wrapper
                    +form-box('Employee position')
                      +input(type="text" name="employeePosition" value="Art-director" placeholder="Employee position")
            +form-section._mg80
              +form-section-checker()._mgt-20(data-form-element="details-checker")
                +b.LABEL.checkbox
                  +e.INPUT.input(name="isCompaty" value="1" type="checkbox" data-checker="details")
                  +e.SPAN.box
                    +icon('check').__icon
                  +e.SPAN.content I work under brand or company
              +form-section-content.is-disabled(data-checker-target="details" data-form-element="details")
                +form-section-header._mg35
                  +form-section-title Company details:
                +grid.grid_big
                  +col({xl: 6, md:12 })
                    +form-section-wrapper
                      +form-box('Company name')
                        +input(type="text" name="companyName" placeholder="Company name" required="required")
                  +col({xl: 6, md:12 })
                    +form-section-wrapper
                      +form-box('Company Registry No.')
                        +input(type="text" name="companyRegN" placeholder="Company Registry No." required="required")
                  +col({xl: 6, md:12 })
                    +form-section-wrapper
                      +form-box('VAT number if you have it')
                        +input(type="text" name="VATnumber" placeholder="VAT number if you have it")
                  +col({xl: 6, md:12 })
                    +form-section-wrapper
                      +form-box('Legal adress city')
                        +input(type="text" name="legalAdressCity" placeholder="Legal adress city" required="required")
                  +col({xl: 6, md:12 })
                    +form-section-wrapper
                      +form-box('Legal adress street')
                        +input(type="text" name="legalAdressStreet" placeholder="Legal adress street" required="required")
                  +col({xl: 6, md:12 })
                    +form-section-wrapper
                      +form-box('Building No.')
                        +input(type="text" name="buildingN" placeholder="Building No." required="required")
                  +col({xl: 6, md:12 })
                    +form-section-wrapper
                      +form-box('Apartment or Office No.')
                        +input(type="text" name="officeN" placeholder="Apartment or Office No.")
                  +col({xl: 6, md:12 })
                    +form-section-wrapper
                      +form-box('ZIP/Postal Code')
                        +input(type="text" name="ZIPcode" placeholder="ZIP/Postal Code" required="required")
            +form-section
              +form-section-header._bmg
                +form-section-title Service settings and notifications
              +grid.grid_big
                +col({xl: 6, md:12 })
                  +form-section-wrapper._noflex
                    +checkbox('settings', '1', true)._border Notify me Via E-mail about new messages
                  +form-section-wrapper._noflex
                    +checkbox('settings', '2')._border Notify me about News and Benefits on Space Pool Service
                  +form-section-wrapper._noflex
                    +checkbox('settings', '3')._border Send Me information about new offers via E-mail
                  +form-section-wrapper._noflex
                    +checkbox('settings', '4')._border Send Me information about new offers via E-mail
            +e.panel_fixed(data-hidden-panel)
              .container
                +grid
                  +col({ xl: 3, lg: 12 })
                  +col({ xl: 9, lg: 12 })
                    +form-panel()
                      +link-icon('select-arrow', 'button')(type="reset")._back._bold._no-shadow.__button.js-form-reset.js-hide-form-panel Discard <span class="hide-sm">changes</span>
                      +button('button')(type="submit").__button_wide.js-form-submit.js-hide-form-panel Save changes

block panels
  +main-menu-inner
    +nav-list(getData('main-menu-user.json'))

block popups
  +popup-password-change#popup-password-change
