mixin files-card(data)
  +b.files-card&attributes(attributes)(data-uploader-status)
    if data.check
      +icon('check').__check
    if data.subtitle
      +e.subtitle!= data.subtitle
    if data.title
      +e.H3.title!= data.title
    if data.status
      +e.status
        each status in data.status
          +processing-status(status)(class="__status-item" + status.class)
    if data.uploader
      +file-uploader()(class=data.uploader + ' __uploader')
    if data.describe
      +e.describe!= data.describe
    block
