mixin payment-summary(guest)
  +b.FORM.payment-summary__&attributes(attributes)#payment-summary-form
    +e.grid
      +e.side
        - var space = {img: "assets/images/space26.jpg", heart: "", flag: "", boxes: [{class: "_orange"}, {class: "_red"}, {class: "_green"}], title: "First Base - Victoria"};
        +space-reserv('a', space).__space
        +e.describe
          +offer-info.__offer
            +box._size8._orange
            +e.title._fz11._light-gray HOT DESK
          +e.type
            +e.SPAN.star *
            +offer-summary({describe: "Hot desk in co-wroking area", price: "&pound;300 per month"})
          +input-number('count', 2)._big.__counter
          +e.note <span class="payment-summary__star">*</span> VAT excluded
      +e.content
        +b.form.__form
          +form-section._mg46
            +form-section-header._mg65.hide-md
              +form-section-title._fz30._black Payment Summary
            +grid.grid_30x40.grid_int50
              +col({xl: 6, sm:12 })
                +form-section-wrapper
                  +form-box('Rent period start', 'calendar2')._icon
                    +input.js-datepicker(type="text" name="startDate" value="13 January 2020" placeholder="Rent period start")
              +col({xl: 6, sm:12 })
                +form-section-wrapper
                  +form-box('Duration')._icon
                    +select.js-select-input(name="duration" data-mobile-title="Duration")
                      - for (var i = 1; i <= 12; i++) {
                        if (i === 12)
                          option(value=i selected)!=(i + ' months')
                        else if (i === 1)
                          option(value=i)!=(i + ' month')
                        else
                          option(value=i)!=(i + ' months')
                      -}
            +e.text_light._lh-normal._ls-normal._mgt34 All contracts at Spacepool are rolled, which means that the contract does not end at the end of the initial rental period, but the service provider has the right to change the terms of the contract.
          if guest
            +form-section._mg46
              +characteristics-table._normal._large._border-bottom._wrap-sm.__table_mb21
                body
                  +e.TR.row
                    +e.TD.cell_bold._black._mh64 Notice period:
                    +e.TD.cell._gray._mh64 <b>3 months</b>
                  +e.TR.row
                    +e.TD.cell_bold._black._mh64 Price per unit:
                    +e.TD.cell._gray._mh64 &pound; <b>540 per month</b>
                  +e.TR.row
                    +e.TD.cell_bold._black._mh64 Deposit amount/unit:
                    +e.TD.cell._gray._mh64 &pound;<b>540</b>
          else
            +form-section._mg11
              +e.field_row3
                +form-section-wrapper._aie._h100p
                  +e.imitation_fx._sb
                    +e.SPAN.label Notice period:
                +form-section-wrapper
                  +form-box('')
                    +input(type="text" name="noticePeriod" value="3" placeholder="Notice period:")
                +form-section-wrapper
                  +form-box('')
                    +select.js-select-input(name="noticePeriodUnit" data-mobile-title="Notice period")
                      option(value="Days") Days
                      option(value="Week") Weeks
                      option(value="Month" selected) Months
                      option(value="Year") Years
                      option(value="per hour") Per Hour
                      option(value="per day") Per Day
                      option(value="per week") Per Week
                      option(value="per month") Per Month
                      option(value="per year") Per Year
              +e.field_row3
                +form-section-wrapper._aie._h100p
                  +e.imitation_fx._sb
                    +e.SPAN.label Price per unit:
                    +e.SPAN.pound &pound;
                +form-section-wrapper
                  +form-box('')
                    +input(type="text" name="pricePerUnit" value="540" placeholder="Price per unit:")
                +form-section-wrapper
                  +form-box('')
                    +select.js-select-input(name="priceUnit" data-mobile-title="Price unit")
                      option(value="Days") Days
                      option(value="Week") Weeks
                      option(value="Month") Months
                      option(value="Year") Years
                      option(value="per hour") Per Hour
                      option(value="per day") Per Day
                      option(value="per week") Per Week
                      option(value="per month" selected) Per Month
                      option(value="per year") Per Year
              +e.field_row3
                +form-section-wrapper._aie._h100p
                  +e.imitation_fx._sb
                    +e.SPAN.label Deposit amount/unit:
                    +e.SPAN.pound &pound;
                +form-section-wrapper
                  +form-box('')
                    +input(type="text" name="deposit" value="540" placeholder="Deposit amount/unit:")
                +form-section-wrapper
          +form-section._mg46
            +form-section-header._mg26
              +form-section-title._fz22._black Amount due on completion:
            +form-section-content
              +characteristics-table._normal._large._border-bottom._wrap-sm.__table_mb21
                body
                  +e.TR.row
                    +e.TD.cell_bold._black._mh64 Total monthly rent:
                    +e.TD.cell._gray._mh64 &pound;<b>1,080.00</b>
                  +e.TR.row
                    +e.TD.cell_bold._black._mh64 Rent from 26.01.2020 - 31.01.2020:
                    +e.TD.cell._gray._mh64 &pound;<b>311.00</b>
                  +e.TR.row
                    +e.TD.cell_bold._black._mh64 Deposit:
                    +e.TD.cell._gray._mh64 &pound;<b>1080.00</b>
                  +e.TR.row
                    +e.TD.cell_bold._black._mh64 VAT:
                    +e.TD.cell._gray._mh64 &pound;<b>121.00</b>
                  +e.TR.row
                    +e.TD.cell_bold._black._mh64 Total due on completion:
                    +e.TD.cell._gray._mh64._fz26 &pound;<b>2,592‬.00</b>
              +e.text_light._lh-normal._ls-normal The total amount is the amount of your first bill.
    block

mixin payment-summary-panel()
  +form-panel.form__panel_absolute.form__panel_border
    +link-icon('arrow5', 'a')._back._back_v2._bold._underline._no-shadow.__link_fz16(href="#") Back to Chat
    +button('button', true)(type="submit" form="payment-summarye-form").__button_w360 Confirm
    block
