mixin main-lead()
  +b.SECTION.main-lead&attributes(attributes)
    .nd-container
      +e.H1.heading The place where you <br> can find your perfect <br><i>workspace.</i>
      +e.media
        +e.image
          IMG(src="assets/images/nd/lead-image.jpg")
      +search-panel.__search
      block
