extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Add Space'

block bodyClasses
  - var bodyCls = '';
  - var isNoFooter = true
  - var isNoHeader = true

block header
  - var headerClass = ''
  - var pageClass = ' nd-page_nopad'
  - var isMap = false

block content
  +nd-page-header._grid._grid_add
    .nd-container.nd-container_wide
      +e.title.nd-hide-from-sm Add space
      +nd-page-header-side
        +nd-link-icon('arrow5')._back.__back Back to Spaces
      +nd-page-header-main
        - var menuList = getData('navAddSpaceProgress.json').menu;
        +e.mb-menu.nd-hide-from-sm
          +slider-navigation-for-add(menuList, 0, '', '_progress')._mg

  +cover
    +nd-logo._cov.__logo.nd-hide-sm
    +e.H2.title Add space wizard
    +e.text
      p
        b During the addition process you will need the following data:
      ul
        li Exact location of the building
        li Title and description
        li Information about facilities
        li Photos
        li General house rules
        li Contract texts for all types of proposals
    +e.buttons
      +nd-button().__button(href="#") Start adding new space

block panels

block popups
