extends ../../layouts/redesign-default

block head
  - var pageTitle = 'Spacepool - Add Space - Location'

block bodyClasses
  - var bodyCls = '';
  - var isNoFooter = true
  - var isNoHeader = true
  - var scripts = ['other']

block header
  - var headerClass = ''
  - var pageClass = ' nd-page_nopad'
  - var isMap = true

block content
  - var menuList = getData('navAddSpaceProgress.json').menu;
  +nd-page-header._grid._grid_add
    .nd-container.nd-container_wide
      +e.title.nd-hide-from-sm Add space
      +nd-page-header-side
        +nd-link-icon('arrow5')._back.__back Back to Space list
      +nd-page-header-main
        +e.mb-menu.nd-hide-from-sm
          +slider-navigation-for-add(menuList, 0, 'Location', '_progress')._mg
  +progress-scale(menuList, 0).nd-hide-sm

  +nd-content
    .nd-container
      +nd-content-aside
        +sidebar-nosticky.nd-sidebar.nd-hide-md
          +nd-side-navigation({addManager: {image: {src:  "assets/images/nd/add-location.svg", class: "_loc"}, subtitle: "Step 1", title: "Location" }, note: {text: "Click on the map, then zoom and drag until the cursor points to your workspace."}})._add

      +nd-content-main
        +nd-location({panel: true})

block panels

block popups
