.informer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $color-hint-bg;
  color: $color-white;
  padding: 5px 23px;
  box-sizing: border-box;
  $b: &;

  @include text16;

  line-height: (20 / 16);

  @include screen('sm') {
    @include text12;

    line-height: (17 / 12);
    padding: 3px 17px 4px;
  }

  &_gray {
    background-color: $color-basic;
  }

  &_fs {
    justify-content: flex-start;
  }

  &_sb {
    justify-content: space-between;
  }

  &_fz14 {
    @include text;

    line-height: 1;

    @include screen('sm') {
      @include text12;

      line-height: (14 / 12);
    }
  }

  &_fz20 {
    @include heading-4;

    line-height: (35 / 20);

    @include screen('sm') {
      @include text12;

      line-height: (17 / 12);
      padding: 3px 17px 4px;
    }

    .notification_sys & {
      line-height: (23.4 / 20);

      @include screen('sm') {
        line-height: (17 / 12);
      }
    }
  }

  &__text {
    font-weight: 400;

    b, strong {
      font-weight: 700;
    }
  }

  &__icon {
    min-width: 16px;
    width: 16px;
    height: 20px;
    fill: $color-yellow;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  .state {
    font-size: inherit;
    line-height: inherit;
  }
}
