.text-list {
  display: block;

  &__circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $color-basic;
    margin-right: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
}