mixin text-list()
  +b.UL.text-list&attributes(attributes)
    +e.LI.__item
      +e.__circle
      | 24 hours access
    +e.LI.__item
      +e.__circle
      | Pets allowed
    +e.LI.__item
      +e.__circle
      | Entrance only with electronic card
    +e.LI.__item
      +e.__circle
      | Silent time from 10pm till 8am
    +e.LI.__item
      +e.__circle
      | First and last months for offices are paid before letting start