.form-panel {
  $b: &;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  width: 100%;
  background-color: $color-white;
  box-sizing: border-box;
  padding: 19px 50px;

  @include screen('sm') {
    min-height: 70px;
    padding: 14px 10px;
  }

  .link {
    @include text-mid;

    @include screen('sm') {
      padding-left: 15px;

      @include text15;
    }

    &_mfz12 {
      @include screen('sm') {
        @include text12;

        line-height: (26 / 12);
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    @include screen('sm') {
      width: 100%;
      flex: none;
    }

    &:not(:last-child) {
      margin-right: 40px;

      @include screen('sm') {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__button {
    &_wide {
      min-width: 298px;

      @include screen('sm') {
        min-width: 0;
      }
    }

    &_w360 {
      min-width: 360px;

      @include screen('sm') {
        min-width: 0;
      }
    }
  }

  &__link {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &_pd0 {
    padding: 19px 0;

    @include screen('sm') {
      padding: 14px 0;
    }
  }

  &_pd42 {
    padding: 19px 42px;

    @include screen('sm') {
      padding: 14px 18px;
    }
  }

  &_sm-pd30 {
    @include screen('sm') {
      padding: 14px 30px;
    }
  }

  &.is-always-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 19px 50px;
    z-index: 5;
    border-top: 1px solid $color-border-lightest;

    @include screen('md') {
      padding: 14px 36px;
    }

    @include screen('sm') {
      padding: 14px 20px;
    }

    .is-login & {
      @include screen('md') {
        padding: 14px 36px;
        bottom: 70px;
      }

      @include screen('sm') {
        padding: 14px 20px;
        bottom: 50px;
      }
    }
  }

  &_links {
    flex-wrap: wrap;

    #{$b} {
      &__button {
        @include screen('sm') {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }

  &_border {
    border-top: 1px solid $color-border-lightest;
  }
}
