mixin popup-password-change()
  +popup.popup-password-change__&attributes(attributes)
    +popup-title.popup__title_big Password change
    +form._white.__form(data-validated-form)
      +grid.grid_bigger
        +col({xl:12 })
          +form-section-wrapper
            +form-box('New password')
              +input(type="password" name="newPassword" data-parsley-equalto="[data-password2]" data-password1="password1")
        +col({xl:12 })
          +form-section-wrapper
            +form-box('New password one more time')
              +input(type="password" name="newPasswordConfirm" data-parsley-equalto="[data-password1]" data-password2="password2")
      +e.buttons._mgt60
        +button('button')(type="submit")._short._wide Save changes
